[2018-04-23 15:45] khuck opened #3297 "Crash with APEX when running Phylanx lra_csv with > 1 thread"
## Expected Behavior

I don't expect it to crash.

## Actual Behavior

HPX is crashing in the rebind_task method, when APEX is setting a new task wrapper for the re-used thread_data object.  The parent_thread_id_ 's m_apex_data member is corrupted.

## Steps to Reproduce the Problem

Configure HPX with these additional APEX settings:
[code]
...then build the Phylanx software and run the lra_csv ex

[2018-04-27 06:51] msimberg opened #3300 "Setting pu step or offset results in no threads in default pool"
I expect the following to not fail:

[code]

Same goes for `pu-step`.

[2018-04-27 14:30] hkaiser opened #3304 "hpx::threads::run_as_hpx_thread does not properly handle exceptions"
## Expected Behavior

This function should rethrow any exception caught while executing the HPX thread

## Actual Behavior

Exceptions are not rethrown but bubble up into the HPX thread scheduler.

[2018-04-28 12:35] #3304 closed

[2018-05-02 14:36] arturas-venskus-flf opened #3307 "Error handling for user defined exceptions and error codes"
This is the feature request for user exceptions and error codes in the context of hpx and error handling documentation improvement

## Steps to Reproduce the Problem
Application employs try/catch exception handling such as (pseudocode):
[code]
When invoked function performAlgorithmA  may throw few exceptions that are stored in hpx::exception_list exception type and rethrows hpx::exception_list ins

[2018-05-13 09:57] #3300 closed

[2018-05-15 07:31] msimberg commented on #3227
It looks like the documentation is out of date/wrong on this one.

The "problem" is that `add_hpx_executable` and `add_hpx_component` add `_exe` and `_component` suffixes, respectively, to the targets. When you specify `COMPONENT_DEPENDENCIES` the `_component` suffix is also added automatically to what you pass in as an argument (except for things like `iostreams`...). If you specify `DEPENDENCIES

[2018-05-15 11:51] biddisco commented on #3227
It really is about time we changed this so that the _exe and _component suffixes are removed. They are confusing and pointless and only cause problems without solving any.

[2018-05-15 14:13] msimberg opened #3318 "Benchmarks fail to build with C++11"
The following benchmarks fail to build if `HPX_WITH_CXX11=ON` using gcc 8.1 and 7.3:

[code]

Output is:

[code]

[2018-05-15 18:28] hkaiser commented on #3318
This is a genuine bug in our code. The benchmarks rely on the 4-argument overload (two ranges) of `std:;equal` which is a C++14 feature and shouldn't be used in C++11 mode.

[2018-05-16 13:26] biddisco opened #3321 "hpx bad_parameter handling is awful"
## Expected Behavior
`./bin/hello_world_exe --test`
should simply print a warning about 'unknown parameter'

## Actual Behavior
An exception is thrown
Pages of rubbish that nobody wants to see with a bad_parameter somewhere at the end

What would be better is simply displaying a warning.
We had a mini hpx workshop at ETHZ and most of the participants found the output from HPX to be excessive and s

[2018-05-16 14:19] biddisco opened #3322 "No warning when mixing debug/release builds"
## Expected Behavior
When a user builds their own test program against an installed HPX, they frequently do not realize that they are compiling in debug/release mode against an HPX in another mode

The HPXConfig.cmake should print a warning like the one we do in the tutorials
[code]
This would be a useful addition and solve many problems caused by erroneous configuration

[2018-05-16 16:15] biddisco commented on #3297
@khuck I'm getting problems with the code after the recent merge. Specifically there's an
`assert(wrapper);` call in update_task that is being triggered. I can comment it out and all seems well until it hangs on shutdown. Didn't get a chance to diagnose it.
Reopening this issue for now.

[2018-05-17 13:44] #3318 closed

[2018-05-17 17:20] msimberg commented on #3215
Do any of the other allowed special characters have the same problem (basically `+` or `-`)? In the worst case couldn't we translate the dots to something like `examples__resource_partitioner__simple_resource_partitioner`? A bit ugly but better than not working at all.

[2018-05-17 17:39] hkaiser commented on #3322
This would work only on systems where multi-target build systems are not supported. So we have to be careful with non-conditionally adding this to our setup.

[2018-05-17 17:42] hkaiser commented on #3215
@msimberg The reason for the (arcane) behavior we implemented is that we have to drop most of the target name (leaving only its last part) to avoid for the generated path to become too long (target names are directly used as part of the file names used for the generated build system files). So no, concatenating the parts of a target with `_` or any other character wouldn't help, unfortunately.

[2018-05-17 22:58] hkaiser commented on #3215
On windows cmake generates project files for Visual Studio where we use a different structuring scheme (the `FOLDER` names):

![image](https://user-images.githubusercontent.com/568063/40207716-9a5be364-59fb-11e8-89d6-54b9b444f0d8.png)

the pseudo target names and dependencies are not needed. Thus leaving those OFF by default without warning is just fine. That allows to selectively build each targe

[2018-05-18 18:07] #3297 closed

[2018-05-21 18:47] bremerm31 opened #3325 "AGAS migrates components prematurely"
## Expected Behavior

When migrating a component whose action itself returns a future, the component should be migrated after the future of the action returns.

## Actual Behavior

Currently, it seems that the component gets migrated as soon as the action returns. Thus, the future of the action will continue to compute on the original locality.

## Steps to Reproduce the Problem

As a test case, I

[2018-05-22 07:13] msimberg commented on #3215
Hmm, okay. So what I was thinking was that *if* pseudo dependencies are not (very) useful on Windows they can be off by default (as it is now) but also forced to off if someone tries to turn them on (so practically remove that option). I admit that this is not really my area so apologies if this is silly. I'll leave it to you Windows people to decide if anything should be done about this (if not I

[2018-05-22 12:46] hkaiser commented on #3215
@msimberg forcing this option to off would break AppVeyor as there we rely on building things from the command line which requires for the targets to be available. It would also break any command line based builds other people might use.

Why do you want to change things? The only caveat we have to be aware of is that all name parts used for our targets have to be unique across the HPX build syste

[2018-05-22 12:48] hkaiser commented on #3325
FWIW, I'm currently looking into this and will have a PR soon.

[2018-05-23 02:30] #2954 closed

[2018-05-23 18:00] #3325 closed

[2018-05-24 12:18] msimberg commented on #3227
I'm indifferent about the suffixes, and can see both sides of the argument. Anyone else have strong opinions on either keeping or removing the suffixes?

[2018-05-24 14:38] hkaiser commented on #3227
I'm indifferent as well. Both ways works for me.

[2018-05-25 11:59] biddisco opened #3337 "Tests are not properly killed when timing out"
## Expected Behavior
If a test runs longer than N seconds as defined by CTEST_TEST_TIMEOUT it should be killed

## Actual Behavior
Tests are not always killed as expected. It may be the case that ctest is killing hpxrun.py, but it is not killing the tasks it spawned. Not sure what is going on, but HPX dashboard is having trouble on daint.

[2018-05-25 14:50] #3215 closed

[2018-05-26 19:02] biddisco commented on #3227
Since everyone else is indifferent, then I'll up my vote to "I feel very strongly that adding `_exe` and `_component` is confusing, annoying and pointless" I'd like to see the behaviour removed.

As to the original issue - if `hpx_add_component` no longer adds `_component` to the target name, then the user will manually say `hpx_add_component(hello_world_component ...)` and when they add it as a d

[2018-05-26 19:02] biddisco commented on #3227
Didn't realize this issue had been closed.

[2018-05-26 22:40] hkaiser commented on #3227
This was closed accidentally

[2018-05-26 22:42] hkaiser commented on #3227
If we removed the `component` suffix we don't need the `COMPONENT_DEPENDENCIES` anymore. All it does is to dispatch to `DEPENDENCIES` while adding the suffix, iirc.

[2018-05-28 11:41] biddisco opened #3339 "setting command line options/flags from init cfg is not obvious"
## Steps to Reproduce the Problem
Try using
[code]
hpx.print-bind is not accepted as a valid config entry. I'm not sure why not. Is there a difference between those with values and those without?

Clearly there is a special syntax, because on the command line one says
`--hpx:threads=2` but in the cfg, one says `hpx.os_threads=2`, it's not obvious why they should be different. Why can one not just

[2018-05-28 11:43] biddisco commented on #3339
Just to clarify. I have never used the cfg={...} method of setting options, but a user tried the above and it does not work.

[2018-05-28 12:08] hkaiser commented on #3339
That is indeed a good question. This might be the easiest solution to get out of the naming inconsistencies between command line and configuration settings.

[2018-05-28 12:52] bcumming commented on #3339
I am the guilty user.
Both the `hpx.bind=balanced` and `hpx.print-bind` strings produced errors.

[2018-05-28 14:20] hkaiser commented on #3339
@bcumming Yes, the configuration settings have evolved over time independently from the command line options and a) mostly have different names, and b) are not 100% overlapping (i.e. there are settings on both sides that are not supported on the other). This situation is bad and will require some cleanup.

As said, simply exposing the command line options as possible configuration keys may be a so

[2018-05-29 10:12] biddisco commented on #3339
That would be great.

... and BTW, you are awesome for addressing this so quickly. Thanks

[2018-05-29 17:23] dmarce1 opened #3342 "undefined reference to `__atomic_load_16'"
## Expected Behavior

I expected to build HPX.

## Actual Behavior

libhpx failed to build and I got a bunch of  "undefined reference to `__atomic_load_16'" errors.

## Steps to Reproduce the Problem

These are the build options I used:

cmake -DCMAKE_BUILD_TYPE=release    \                                                                                                                      -DCMAKE

[2018-05-29 19:08] hkaiser commented on #3342
... or `-DCMAKE_SHARED_LINKER_FLAGS=-latomic` for that matter.

[2018-05-30 20:02] dmarce1 commented on #3342
I get the same errors. I tried both.

[2018-05-30 22:54] dmarce1 commented on #3342
I retried everything with boost 1.67 and it built correctly. I'm not sure if this is a problem with boost 1.65 or HPX.

[2018-05-30 23:30] hkaiser commented on #3342
Ok, thanks for letting us know. We'll assume for this to be a Boost problem, then.

[2018-05-30 23:30] #3342 closed

[2018-06-01 14:36] #3339 closed

[2018-06-02 15:03] #3321 closed

[2018-06-02 15:06] hkaiser commented on #3252
@khuck can this be closed now?

[2018-06-05 07:21] msimberg commented on #3247
I missed this one when creating #3267 (duplicate). Since that one is closed, I'm closing this one as well.

[2018-06-05 07:21] #3247 closed

[2018-06-07 14:18] msimberg commented on #3264
Ok, so I finally started converting boostbook to sphinx. You can see the progress on [readthedocs](https://hpx.readthedocs.io/en/sphinx/) and on [this branch](https://github.com/msimberg/hpx/tree/sphinx). Expect lots of things to be wonky for a while. I'm converting existing content first and will then start adding some new sections.

If someone feels like helping out with the conversion let me kn

[2018-06-07 14:29] NK-Nikunj commented on #3264
@msimberg I could help with some conversion. Also I could help with documentation. I have a few ideas and content for beginners to get them on track.

[2018-06-08 07:01] msimberg commented on #3264
@NK-Nikunj thanks! I think it's easiest if we coordinate on IRC (I'm M-ms), I'm not sure yet what the best way to split up the work is yet. Whatever new sections you would like to add can most likely be added without much coordination. What do you have in mind?

[2018-06-13 19:02] Anushi1998 commented on #3264
I would also suggest to include existing youtube video links (as far as I know they do not exist in previous documentation) in the documentation so that someone directly jumping on docs without exploring repositories in STEllAR-GROUP could be benefited as well.

[2018-06-13 19:08] Anushi1998 commented on #3217
I am extremely sorry I could not complete it but is it needed any further if we are moving towards sphinx?
Moreover, I have noticed that this line is faulty https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_UpdateGitDocs.cmake#L42. I don't understand how Rostam is able to build docs successfully if it uses it because it returned an error in my system :(

[2018-06-14 10:30] msimberg commented on #3264
@Anushi1998 Including links to videos is a very good idea. Thanks! We could also link to some of the explanatory blog posts on the stellar blog (although it would be better to just have that material directly in the documentation).

[2018-06-14 12:52] biddisco opened #3348 "Add N-ary tasks to improve scheduling overheads"
## New feature
During recent discussions with the kokkos people and also as a result of our failed attempt to have executors made variadic, we speculated that task management could be simplified in hpx by making some large changes to the way tasks are managed/created.

1. currently hpx::async forwards arguments to executors, tasks are created and eventually passed to the scheduler. The thread_data

[2018-06-15 13:28] hkaiser commented on #3244
This was fixed by merging #3251

[2018-06-15 13:28] #3244 closed

[2018-06-15 13:30] hkaiser commented on #3220
This can be closed now. Please reopen, if necessary.

[2018-06-15 13:30] #3220 closed

[2018-06-15 13:58] hkaiser commented on #2948
We can close this now as the minimal require version of Boost is V1.58 which to the best of our knowledge does not expose this issue any more. Please reopen if necessary.

[2018-06-15 13:58] #2948 closed

[2018-06-15 14:01] hkaiser commented on #2825
@sithhell, @gentryx, @Naios has this been resolved now? Can we close this ticket?

[2018-06-15 14:11] Naios commented on #2825
From my side there is no new update about this. As I remind I was unable to reproduce this issue after transitioning from the old unwrap code to the new one as given by the patch in my previous comment.

[2018-06-15 16:29] hkaiser commented on #1760
Let's close this for now.

[2018-06-15 16:29] #1760 closed

[2018-06-15 20:05] gentryx commented on #2825
Right, this can be closed. It's working for me now with CUDA 9.1.85 and g++ 6.4.0. Thanks!

[2018-06-16 08:54] biddisco opened #3352 "Support TCP provider in libfabric ParcelPort"
## New Feature
The libfabric feature matrix https://github.com/ofiwg/libfabric/wiki/Provider-Feature-Matrix-master now shows that TCP is as well supported as  GNI and in principle we can use TCP in our existing parcelport.

This would make development of new features (collectives etc) and rma capabilites simpler as we can test on far more machines - even if the functionality is emulated - and it w

[2018-06-18 13:51] #3352 closed

[2018-06-19 16:37] #2825 closed

[2018-06-20 14:59] #3043 closed

[2018-06-20 14:59] #3285 closed

[2018-06-26 19:34] justwagle opened #3356 "Parquet Application hangs with Pull request #3283"
The Parquet Application hangs with HPX and the culprit was identified to be #3283.
There is a pull request to revert the changes made in #3283 for now, (#3355)  but this ticket serves as a reminder that we need to look into why #3283 caused the hangs in the first place.

[2018-06-27 16:49] Jakub-Golinowski opened #3358 "HPX runtime hangs after multiple (~thousands) start-stop sequences"
## Expected Behavior

It is expected that the HPX runtime can be started and stopped as many times as one wishes without risk of the application hanging.

## Actual Behavior

After a few thousand (observed between 1k - 9k) start-stop sequences  the HPX runtime hangs.

## Steps to Reproduce the Problem

I have written a simple HPX application that starts HPX runtime, performs a parallel count-up an

[2018-06-27 17:09] msimberg commented on #3358
Thanks @Jakub-Golinowski. I can reproduce this on latest master as well. It looks like the notify for `stop_condition` happens before this wait: https://github.com/STEllAR-GROUP/hpx/blob/3481317b19fdcee8c6682ad08aab6c57899bfdd9/src/runtime/components/server/runtime_support_server.cpp#L931, causing it to hang. It shouldn't be possible but clearly it is...

[2018-06-28 22:42] hrasadi opened #3360 "Segmentation fault when passing component id as parameter"
## Expected Behavior

Basically, What I want to do is to keep the client side instance of a component as instance variable of a regular C++ class and call its actions. I tried to keep the value of component ID and later reconstruct the client instance but every possible combination I have tested leads to a segmentation fault at runtime.

## Actual Behavior

Here is a stack trace of where the opera

[2018-06-28 22:49] hkaiser commented on #3360
@hrasadi This should work without issues (AFAICS). Could you prepare a minimally complete test case that reproduces your issue, please?

[2018-06-29 01:34] hrasadi commented on #3360
OK. In the effort to create a minimal test case I identified a memory problem in my code that was the root cause of the problem. Therefore, I will close this issue. Sorry for the false alarm :)

[2018-06-29 01:34] #3360 closed

[2018-07-02 20:58] maikel opened #3362 "Different behaviour between `async` and `dataflow` for action invocation with component provided location id."
The following test case throws an exception with `hpx::dataflow` but works with `hpx::async`

    #include <hpx/hpx.hpp>

    class component_server
        : public hpx::components::component_base<component_server> {
    public:
      component_server() = default;
    };

    using component_name = hpx::components::component<component_server>;
    HPX_REGISTER_COMPONENT(component_name);

    clas

[2018-07-02 21:28] hkaiser commented on #3362
Thanks for submitting this test case and problem report. We will get back to you as quickly as possible.

[2018-07-03 12:48] hkaiser commented on #3362
The rationale is that calling actions on a locality can be seen as invoking a locality 'member' function, very similar to calling a member function on a C++ object. Also, the locality id is used to target a global (to each locality) management component responsible for component creation, migration and other things.

[2018-07-03 15:46] hkaiser opened #3364 "Make sure HPX conforms to N4755 (Parallelism TS2)"
The Parallelism TS2 has been officially accepted (http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/n4755.pdf). This ticket is to track the process of making our implementations of the specified facilities fully conforming.

[2018-07-06 21:02] diehlpk opened #3366 "Adapted Safe_Object example fails for --hpx:threads > 1"
## Expected Behavior

I adapted the [safe_object example](https://github.com/STEllAR-GROUP/hpx/blob/master/examples/quickstart/safe_object.cpp) to fill a vector with ones and print them into the terminal, both with using a parallel for loop. Expected behavior would be

1
1
1
1
1
1
1
1
1
1

## Actual Behavior

[code]

[code]

## Steps to Reproduce the Problem

  1.  Compile the attached code (test.

[2018-07-06 23:01] hkaiser commented on #3366
I'm re-adding your code for reference again:

[code]

The behavior of this is as expected. The problem is that there is no guarantee that the two parallel loops distribute the iterations across the used cores in identical ways. The `safe_object` type is semantically assumed to be one single object, it requires a reduction operation after the loop for consolidation. As such it is not a valid assump

[2018-07-06 23:42] #3366 closed

[2018-07-12 16:10] tianyi93 opened #3376 "Failed to build HPX with APEX using clang"
@khuck Could you please check the following issue I encountered when I was trying to build HPX with APEX.
## Expected Behavior

Build HPX with APEX using clang

## Actual Behavior

Compiling errors whiile building.

## Steps to Reproduce the Problem

  1.script
[code]
2. error info
[code]

## Specifications

... Please describe your environment

  - HPX Version: 1.2.0
  - Platform (compiler, OS):c

[2018-07-12 18:00] khuck commented on #3376
This is fixed in the develop branch of APEX.  go to the "apex" directory in your hpx source tree, and do:
```git checkout develop ; git pull ```
Then add this option to your HPX configuration:  ```-DDHPX_WITH_APEX_NO_UPDATE=ON``` to prevent building against the v2.0.1 tag of APEX.

[2018-07-12 18:00] #3376 closed

[2018-07-12 18:33] tianyi93 commented on #3376
I tried it following the instructions, but it is still not working for me.

[code]

[2018-07-12 22:14] khuck commented on #3376
OK, I'll install Clang 6.0 and make sure all code compiles with -Wall -Werror.

[2018-07-13 07:52] Red-Portal opened #3378 "compile error with lcos::communicator"
## Expected Behavior

[stencil tutorial](https://github.com/STEllAR-GROUP/tutorials/tree/master/examples/02_stencil)
should build correctly.

## Actual Behavior
[code]
I get a compile error

## Steps to Reproduce the Problem
[code]
It seems [the way the tutorial uses hpx::lcos::communicator](https://github.com/STEllAR-GROUP/tutorials/blob/66cf32846e975e236b0dbcce3e07d49f40daec5c/examples/02_stenci

[2018-07-13 10:16] sithhell commented on #3378
Thanks for the report. #3379 should fix the issue.

[2018-07-13 10:53] Red-Portal commented on #3378
Great. I'll close the issue

[2018-07-13 10:53] #3378 closed

[2018-07-13 17:14] khuck commented on #3376
This should all be fixed in the develop branch, same instructions as above.

[2018-07-25 10:21] #3358 closed

[2018-07-26 16:45] dmarce1 opened #3395 "Floating point bug in hpx/runtime/threads/policies/scheduler_base.hpp"
## Expected Behavior
Octo-tiger to run

## Actual Behavior
Floating point exception causes crash.

When running octo-tiger I get a floating point crash within HPX sometimes. I've traced it to line 138 of hpx/runtime/threads/policies/scheduler_base.hpp. The offending call is std::pow(2.0,double(wait_count_)). When wait_count is large enough, this causes an overflow. In particular, I got the error w

[2018-07-26 17:15] hkaiser commented on #3395
@dmarce1 does it happen here: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/policies/scheduler_base.hpp#L137? If yes, what values do the involved variables have?

[2018-07-27 07:43] msimberg commented on #3395
@dmarce1 would you mind trying this branch: https://github.com/msimberg/hpx/tree/fix-exponential-backoff? My fix should work for you, but I'm not sure if it would fail on exotic hardware...

Roughly how many cores are you running on? And how long does it take for it to fail? Are most cores idle before or while reading the startup file?

[2018-07-27 21:46] dmarce1 commented on #3395
hkaiser - yes that's the place. all I know for sure is wait_count_ = 1033

msimberg - 20 cores on 100 nodes. It fails maybe 2 minutes into reading the startup checkpoint, and yes there should be a lot of idle cores when reading the checkpoint. I will give the fix a try.

[2018-08-06 20:24] Red-Portal opened #3399 "processing unit out of bounds"
## Expected Behavior

HPX gets initialized

## Actual Behavior

[code]

## Steps to Reproduce the Problem

call hpx::init()

## Specifications

  - HPX Version: Latest
  - Platform (compiler, OS): Centos 7.4 Server

I'm currently running HPX on a cloud server.
I think the error has something to do with the virtualized environment of the cloud server.
How could I solve this issue?

[2018-08-06 23:30] hkaiser commented on #3399
@Red-Portal Could you post the output of ls-topo (the hwloc command line tool) here, please?

[2018-08-07 05:09] Red-Portal commented on #3399
@hkaiser Hi, here is the ls-topo output

[code]

[2018-08-07 08:11] msimberg commented on #3399
@hkaiser @Red-Portal I don't... My first guess was a variation of max cpu count being too low but that doesn't seem to be the case.

Does setting `--hpx:threads=1/20/40` explicitly change anything? Are you doing any setup with the resource partitioner before calling `hpx::init`?

[2018-08-07 08:43] Red-Portal commented on #3399
@msimberg I'm not dointg anything before calling init else than setting boost command line. Explicitly setting threads didn't do anything but I'll try again later. In fact, the hpx examples emit the same error.

The hwloc version is the Centos 7.4 default distribution. I believe 1.7 but I'll check. It should be a very old version just as any centos official package.

[2018-08-07 09:02] hkaiser commented on #3399
@Red-Portal could you try building a more recent version of hwloc and retry, please? This should be straightforward.

[2018-08-07 11:04] Red-Portal commented on #3399
@hkaiser @msimberg  Hi, I built the latest hwloc 2.1 from source and now everything works.
this is the lstopo output

[code]
Thanks everyone for the support.

[2018-08-07 11:04] #3399 closed

[2018-08-08 15:37] hkaiser opened #3403 "static_chunker test fails on MacOS"
The test static_chunker_2282 fails (hangs) on MacOS, see https://gist.github.com/zao/0400380fae91561560fd2f4a74e6df99.

[2018-08-12 17:04] jayeshbadwaik opened #3408 "CMake Targets for HPX"
This is more of a question than an issue. Is it possible to use HPX with CMake with Targets? For example, can I do `target_link_libraries(mylib INTERFACE/PUBLIC/PRIVATE HPX::HPX)`?

I've trying to search for this and could not find anything. So, if I'm missing something obvious, I'm sorry. Thanks.

[2018-08-13 09:54] sithhell commented on #3408
Hi @jayeshbadwaik, it is generally possible to use the `hpx` target (which refers to the main HPX library). However, you might not get everything that's need in addition (for example libhpx_init.a). The docs don't mention it for exactly this reason. It's generally not recommended.
In order to setup a CMake target, you should use `hpx_setup_target`, as documented here: https://stellar-group.github.

[2018-08-13 14:18] jayeshbadwaik commented on #3408
Yes. Thank you. :-)

[2018-08-13 14:18] #3408 closed

[2018-08-14 17:27] dmarce1 commented on #3395
msimberg -The branch you linked me to appears to fix the problem.

[2018-08-16 07:03] #3395 closed

[2018-08-16 17:07] Red-Portal opened #3416 "No scheduling overhead?"
## Expected Behavior
Higher scheduling overhead when the chunk size is extremely small.

## Actual Behavior
The wait time, idle rate is almost constant until the chunk size is too big for efficient 'scheduling'.

### idle rate
[code]
[code]
### wait time
[code]
[code]

This diagram is the chunk size - runtime relationship
![figure_1-1](https://user-images.githubusercontent.com/18320033/44223130-b1

[2018-08-16 21:07] hkaiser commented on #3416
The idle rate is very high (~50%), thus you're measuring overheads, mostly - even for larger chunk sizes. How many elements has your `range`?

[2018-08-17 04:29] Red-Portal commented on #3416
About 1M elements

[2018-08-17 21:09] hkaiser commented on #3416
@Red-Portal Could you give us access to the full benchmark code you're running, please? Currently I'm not really seeing the issue.

[2018-08-18 08:43] biddisco opened #3422 "Benchmarks in tests.performance.local are not run nighly"
Currently, the benchmarks in tests/performance/local are not run as part of the nightly testing framework

This means that if we wish to track speed improvements as part of a CTest/CDash framework, we do not have historical data for them.

I propose to add them to the standard testing and include this in #3421 so that we begin the process of accumulating results that can be plotted to see if chang

[2018-08-18 13:00] biddisco opened #3423 "Some benchmarks do not run properly"
As written in #3421

`tests/performance/local`
[code]
The tests should be fixed.

[2018-08-18 18:17] biddisco commented on #1965
Some work on this is now being added in #3421

[2018-08-20 11:37] msimberg opened #3424 "CircleCI builds broken for forked repositories"
It seems that CircleCI has changed its policies on caching with forked repositories, leading to build failures on PRs from forked repositories: [https://discuss.circleci.com/t/saving-cache-stopped-working-warning-skipping-this-step-disabled-in-configuration/24423](https://discuss.circleci.com/t/saving-cache-stopped-working-warning-skipping-this-step-disabled-in-configuration/24423). Still unsure i

[2018-08-21 21:08] tianyi93 opened #3426 "hpx build failed on MacOS"
When trying to build hpx on MacOS with
[code]
Result:
[code]
... Please describe your environment

  - HPX Version:1.2.0
  - Platform (compiler, OS): clang, MacOS

[2018-08-22 11:50] NK-Nikunj commented on #3426
@tianyi93 , We are working on a patch and it should be out soon. Until then you could use `-DHPX_WITH_DYNAMIC_HPX_MAIN=OFF` to build successfully.

[2018-08-22 15:55] NK-Nikunj commented on #3426
@tianyi93 We have provided with a fix for it. You could build normally from #3427 . If the problem still persists, please leave a comment in the PR(#3427) with the error log.

[2018-08-23 12:01] #3424 closed

[2018-08-24 14:28] tianyi93 commented on #3426
@NK-Nikunj Thanks, it works for me !

[2018-08-24 14:28] #3426 closed

[2018-08-30 13:06] sithhell commented on #1205
As it has been enabled again. We are seeing the test failures again.

[2018-08-31 08:58] #1205 closed

[2018-08-31 21:20] khuck opened #3437 "Ensure parent_task pointer when child task is created and child/parent are on same locality"
Also discussed in [pull request 3432](https://github.com/STEllAR-GROUP/hpx/pull/3432)

## Expected Behavior

When tracking parent/child dependencies in distributed runs with APEX, if the parent and child localities aren't the same, we don't expect to be able to track dependencies (currently).  However, if parent and child are the same, we should be able to track dependencies.

## Actual Behavior

[2018-09-01 01:15] khuck opened #3438 "HPX no longer builds on IBM POWER8"
## Expected Behavior

POWER 8 builds with Clang 5.0 used to work, until recently.
I think the last (?) commit that compiled on POWER8 was 085cbc672de93376a8a0577ed79a3fae71c35257.

## Actual Behavior

After the batch of commits around 5 days ago (see http://ktau.nic.uoregon.edu:8020/#/builders/2/builds/179, changes), POWER8 builds of HPX have failed, because of "unsupported platform":

[code]

##

[2018-09-02 18:42] hkaiser commented on #3438
@khuck I'm sure that this code was not touched in a long time. @sithhell did you see these errors when compiling things for Power8?

[2018-09-02 20:33] biddisco commented on #3438
I compiled HPX with clang a couple of weeks ago on power - I built clang from source so it was a recent one. I had test fails and eventually gave up and compiled GCC instead. You may recall I replaced all memory orderings with sequentially consistent to see if it was a race caused by the C++ memory model bug on power.

[2018-09-02 20:34] biddisco commented on #3438
NB. I cannot remember if I had to make any tweaks to get everything compiling ok.

[2018-09-02 20:47] hkaiser commented on #3438
@biddisco IIRC, you switched to gcc and all was well. Clang was causing strange problems in the parallel algorithms.

[2018-09-03 08:27] sithhell commented on #3438
I think that bug is genuine. The TU being compiled leading to that error (https://github.com/STEllAR-GROUP/hpx/blob/master/tools/cpu_features.cpp) is not part of HPX core and was never written with anything else than X86 in mind. I guess the right thing to do here would be to disable this tool (which isn't used anywhere, IIRC) in cmake when compiling for anything but x86. I am surprised that you s

[2018-09-03 17:14] biddisco opened #3440 "Explore feasibility of removing all dependencies on Boost"
A discussion at CSCS took place where the anti-boost argument went as follows

Q: The idea is that eventually the features in HPX will be available via the c++ standard?
A: Ideally, yes most of the HPX features will be in c++
Q: Will the c++ standard have a dependency on boost then?
A: Of course not.
Q: Well then, you need to get rid of the boost dependency in HPX before it will be adopted by user

[2018-09-03 22:50] khuck commented on #3438
It turns out that this is related to my own patch.  I removed the "APEX_HAVE_HPX" macro from hpx/config.h because it was defined in the main APEX CMakeLists.hpx file (to tell the compiler to include hpx/config.h) which generated lots of warnings of duplicate macro definitions.  The problem is that because there are circular dependencies between HPX and APEX, there is HPX code that includes APEX he

[2018-09-03 22:50] #3438 closed

[2018-09-05 10:07] hkaiser commented on #3259
@msimberg I think I explicitly added a patch fixing this a while back. Let's close this for now.

[2018-09-05 10:07] #3259 closed

[2018-09-05 13:37] K-ballo commented on #3440
- `boost::atomic` is mostly gone, only one use case remains. Some deprecated executor is making use of an invalid `atomic<>` specialization which standard implementations diagnose, we are waiting for that executor to simply be removed.

- `boost::regex` is a tricky one, `std::regex` lacks multiline support before 17, and standard implementations aren't capable of dealing with big inputs as boost o

[2018-09-05 14:18] biddisco commented on #3440
program_options was just an example. the idea was not to introduce a new external dependency, but to simply add an include file to hpx::util::cxxopts or something of that kind.

The problem is simply that we have a massive dependency on a set of libraries that are poorly maintained and we frequently have issues with breakages or inconsistencies between different versions of boost. Other people out

[2018-09-05 14:44] hkaiser commented on #3440
If you're suggesting to add things to HPX so easily, why are you opposed to adding a simple thread-local allocator arguing about it being 'a shame to see the code base grow in this way'?

This is quite a mouthful and mostly intended to be spreading FUD. Spirit for instance is a very well supported library with unmatched performance and functionality anywhere else. Same is true for many other Boost

[2018-09-05 17:31] biddisco commented on #3440
Your criticism is valid, however, I was willing to include a single header parser, but remove a dependency on a larger library. The thread allocator is one that you found on the web and is not a supported library with users reporting bugs and supplying fixes, which the suggested program options replacement is. My objection was mostly that this functionality might already be present in jemalloc  an

[2018-09-05 18:15] hkaiser commented on #3440
I don't think the performance counter names could be 'parsed' using a regex.

[2018-09-05 18:31] hkaiser commented on #3440
What I proposed as a PR is a major rewrite of an idea found on the web. It is not supported in the same way as the rest of HPX is not supported, however.

[2018-09-05 18:33] hkaiser opened #3442 "HPX set_difference, set_intersection failure cases"
Hello,

I am an intern on the Visual C++ Libraries Team this summer and have been working on implementing some of their parallel algorithms.  While working on implementing the set operations in parallel, I was comparing the performance of my implementation to hpx’s.  In doing so, I found some cases in which I got an “Access violation writing location” or “RangeChecks implementation code detected a

[2018-09-05 18:34] hkaiser commented on #3442
Here is the code that was attached to the original email:
[code]

[2018-09-06 05:59] biddisco commented on #3440
@sithhell wrote on IRC

And this is very much what I am hoping becomes possible with boost eventually. Do we have any idea of when the modularization work in boost is likely to make this feasible?

[2018-09-06 12:08] hkaiser commented on #3440
@biddisco Git submodules are generally a PITA, in my experience.

vcpkg (https://github.com/Microsoft/vcpkg) relies on modularized Boost. I'm not sure how much effort they have put into making this happen.

[2018-09-06 13:43] biddisco commented on #3440
git submodules are a PITA but we currently use a slight variation for APEX with our cmake git_external/submodule script that hides some of the pain and that could be implemented for those parts of boost that we wanted to embed.

[2018-09-07 18:21] kleinhenz opened #3447 "mpi initialization in slurm environment"
## Expected/Actual Behavior

I am running an hpx code that just uses the hpx parallel algorithms and contains no internode parallelism in a slurm environment. When I execute the code in a script submitted via `sbatch` I need to use `srun` otherwise the code fails with the following error.

[code]

I would expect that if an hpx executable is invoked directly without `srun` it shouldn't attempt to i

[2018-09-07 18:21] rtohid opened #3448 "HPX library path"
HPX_LIBRARY_DIR holds paths to libraries that HPX depends on but not the path to HPX libraries.

[2018-09-07 19:41] dmarce1 opened #3449 "hpx::lcos::promise loses performance over time"
## Expected Behavior

I expect the performance of hpx::lcos::promise to not depend on how long the hpx application has been running.

## Actual Behavior

As an hpx application runs, hpx::lcos::promise loses performance while hpx::lcos::local::promise does not.

## Steps to Reproduce the Problem

Use the code here:
https://gist.github.com/dmarce1/e33b0f374f29007a5744e255f3fe3167

Compile with:
g++

[2018-09-08 19:34] biddisco commented on #3447
Your first solution is to compile HPX with `HPX_WITH_PARCELPORT_MPI=OFF` and `HPX_WITH_PARCELPORT_TCP=ON` another is to disable networking completely using `HPX_WITH_NETWORKING=OFF`. I'm not sure that I care enough about single node MPI jobs to fix the slurm environment to handle this, but if someone else wants to submit a patch ... :)

[2018-09-09 01:07] hkaiser commented on #3449
This is an interesting effect. Thanks for reporting!

[2018-09-09 21:57] rtohid commented on #3448
If you look into HPXConfig.cmake, the path to HPX libraries (libhpx(d).so, ...) is not included in HPX_LIBRARY_DIR.

[2018-09-10 07:57] biddisco commented on #3448
If the user's project uses `find_package(HPX)` ... then the HPXConfig.cmake sets the HPX libraries up as imported targets and the paths are known to cmake so there should not be any problem linking to HPX.
I have dozens of projects using HPX and none of them have any problem finding the hpx libs.

[2018-09-10 13:56] m-diers opened #3452 "Scaling issue on the change to 2 NUMA domains"
## Expected Behavior
No big scaling issue and better scaling with 2 NUMA domains.
(I know that the problem size is unfavourable)

## Actual Behavior
[code]
[code]
## Steps to Reproduce the Problem
Used tutorial example with single precision on a dual socket machine with 2x12 physical cores + hyperthreading:
https://github.com/STEllAR-GROUP/tutorials/blob/master/examples/02_stencil/stencil_parallel

[2018-09-10 20:27] kleinhenz commented on #3447
This executable is one part of a larger application that does require mpi networking so that solution isn't really viable. It's not a big deal, I just found it surprising since outside of the slurm batch environment hpx applications seem to be perfectly happy to be invoked directly.

[2018-09-10 23:45] hkaiser commented on #3447
Could you please post the environment the SLURM job is launched in? I don't know too much of how SLURM launches jobs, but I may be able to have a look and to fix the issue you're describing.

[2018-09-11 00:11] hkaiser commented on #3448
@biddisco this works only if your dependent project relies on the exported targets to find the libraries. Unfortunately projects that do it the 'old cmake way', i.e. rely on `HPX_LIBRARY_DIR` and `HPX_LIBRARIES` will not be able to find the HPX libraries as none of those have the full path to `libhpx.so`.

[2018-09-11 00:16] khuck opened #3453 "Two HPX applications can't run at the same time."
## Expected Behavior

If one HPX application is running, another HPX application should be able to run.

## Actual Behavior

The second application will fail with this exception:
[code]
This is particularly problematic on the Phylanx buildbot server, different configurations can't be built and tested concurrently because one of them will fail.

## Steps to Reproduce the Problem

Run two HPX applic

[2018-09-11 04:05] sithhell commented on #3448
Could you please clarify what the actual problem is? Our cmake setup doesn't work anymore without imported targets. Even though the path to the library is not inside `HPX_LIBRARY_DIR`, both `hpx_add_executable` (and friends) as well as `hpx_setup_target` should just work.

[2018-09-11 12:10] biddisco commented on #3448
All you have to do is
[code]
there just isn't any need for those HPX_LIBRARY_DIR things any more

[2018-09-11 12:55] hkaiser commented on #3448
@biddisco I know. However, we have no control over that part of their build system.
Is it so hard to add the library directory to `HPX_LIBRARY_DIR`? Would that break anything?

[2018-09-11 14:17] biddisco commented on #3448
If someone is using CMake incorrectly, it's not our place to backfix our CMake to work with theirs. Can we not ask them to simply fix their cmake or present a simple example that doesn't work and maybe we can see if there's really a problem that needs addressing.

[2018-09-11 14:47] sithhell commented on #3448
I'm also having difficulties imagining a use case which is not supported by our current setup. An example would help to clarify the issue, and either serve as regression test or advice for users with similar problems.

[2018-09-11 15:00] hkaiser commented on #3448
@sithhell @biddisco I understand why you're arguing this way. But really - does it hurt anybody if we added the library directory to the variable?

[2018-09-11 15:08] sithhell commented on #3448
The real problem is still not clear. What happens when we decide to remove the variable all together? As John pointed out, it's not needed anyway (which should be independent of how you consume our target). So I'm asking one more time: what's the issue you are seeing and how would we reproduce it?
Why should we add anything without any value?

[2018-09-11 15:33] sithhell commented on #3448
That question doesn't help. Of course it won't hurt anyone. But why should we if it isn't needed to begin with? The variable can be considered obsolete. It doesn't serve a purpose. Of course, there is a reason why this issue has been opened in the first place, which is what I'm trying to figure out since two days ;)

[2018-09-11 17:53] khuck opened #3455 "HPX build failing with HWLOC errors on POWER8 with hwloc 1.8"
## Expected Behavior

As of 10 hours ago, the build was fine, but one of the most recent pull requests has broken the build.

## Actual Behavior

HPX build fails with:
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. cmake -DCMAKE_BUILD_TYPE=Release -DBOOST_ROOT=/home/users/khuck/buildbot/slaves/phylanx/ppc64le-c

[2018-09-11 18:02] msimberg commented on #3455
Thanks for reporting. So this is because of #3445. I'd be okay with reverting the hwloc related changes there. Alternatively, we could raise our minimum supported version to 1.11 (or something in between 1.11 and 1.8, whatever works). @khuck is it possible for you to try 1.11 instead?

[2018-09-11 18:04] khuck commented on #3455
Yeah, I'll try with 1.11.  Keep in mind that many HPC systems could have older OpenMPI / hwloc installed and won't have the option to upgrade...

[2018-09-11 18:30] khuck commented on #3455
builds fine with 1.11.  Should I close this, or keep it open until the code handles (or rejects during configuration) 1.8?

[2018-09-11 19:11] msimberg commented on #3455
@hkaiser, yeah, we can do that. I hoped to avoid that but at least with ifdefs we'll have an easy time bumping the minimum version when the time comes. @khuck leave it it open for now. I'll open a PR tomorrow.

[2018-09-11 19:14] biddisco commented on #3455
@hkaiser @msimberg The problem is that version of hwloc were released with the wrong version numbers in the version file, and so #ifdefing them doesn't work in some cases. There simply isn't a fix that will work for everyone other than insisting on a very recent version of hwloc. (As I hinted in the PR a few days ago).

[2018-09-11 19:16] biddisco commented on #3455
NB. I had a number of problems with hwloc and I can't remember which symbols were the ones that caused trouble, these `HWLOC_MEMBIND_BYNODESET` might not be the problem ones. I need to check my logs ...

[2018-09-11 19:43] msimberg commented on #3455
@biddisco If you can dig up the problematic versions that would be nice. I thought it was within the 1.11.X releases that they messed up the versions? But maybe they introduced `HWLOC_MEMBIND_BYNODESET` in one of those releases... We can always use an overly pessimistic version check (`HWLOC_MEMBIND_BYNODESET` could be available but we still use the old API).

[2018-09-11 21:13] biddisco commented on #3447
The fix ought to be very easy, just look in slurm environment, see if num nodes==1, and if so, skip `MPI_init` and `MPI_finalize`

[2018-09-11 21:13] biddisco commented on #3447
and make sure the parcelport doesn't try to send anything!

[2018-09-13 08:46] #3455 closed

[2018-09-13 12:19] hkaiser commented on #3455
@khuck please verify this has been fixed.

[2018-09-18 12:04] msimberg opened #3460 "Deadlock when create_partitioner fails (assertion fails) in debug mode"
## Expected Behavior

No deadlock. Exception should be thrown normally.

## Actual Behavior

Deadlock. No output.

## Steps to Reproduce the Problem

Run an HPX executable in debug mode with `HPX_MAX_CPU_COUNT` lower than the real number of PUs on the machine, but anything that throws/asserts inside the partitioner constructor would lead to the same problem. Stack trace below (important frames are

[2018-09-18 12:41] hkaiser commented on #3460
@msimberg I'll try to have a look.

[2018-09-20 18:36] G-071 opened #3461 "Compilation Problems with the most recent Clang"
## Expected Behavior

HPX should compile normally, as it does when using an older clang version (as for example clang6, compiled with the same script mentioned below).

## Actual Behavior

When compiling clang (release_70 or HEAD), and in return using this clang to compile HPX I get the following the following error(s):

        ++__i;
        ^
/home/g/Work/tmp/octotiger-workspace/src/hpx/hpx/run

[2018-09-22 15:27] hkaiser commented on #3461
This looks like a missing header file somewhere.

[2018-09-23 05:28] jayeshbadwaik opened #3462 "CMake configuration shows a minor and inconsequential failure to create a symlink"
## Expected Behavior

When running cmake, the output should be clean without any errors.

## Actual Behavior

Instead, we get a error saying `failed to create symbolic link '/home/jayesh/build/hpx/share/hpx': No such file or directory` which can be seen in the full output [here](https://gist.github.com/jayeshbadwaik/005cf0c5426a91fe1995e37be9f3dc8b). This happens because the parent directory of th

[2018-09-23 14:48] hkaiser commented on #3462
@jayeshbadwaik Please go ahead and create a pull request against this repository. We'd be happy to accept it. Thanks!

[2018-09-24 18:49] #3462 closed

[2018-10-02 16:16] hkaiser commented on #3460
@msimberg this should have been fixed by merging #3468. Could you recheck, please?

[2018-10-02 16:17] hkaiser commented on #3449
@dmarce1 the code you referenced looks to be incomplete (https://gist.github.com/dmarce1/e33b0f374f29007a5744e255f3fe3167). Could you recheck, please?

[2018-10-03 09:05] biddisco opened #3474 "Modernize CMake used in HPX"
## Expected Behavior
Modern CMake thoughout

## Actual Behavior
The CMake commands
[code]
are deprecated and should be replaced with
[code]
This is mostly inspired by things I didn't like when implementing  #3458. we need a bit of a makeover in places.

[2018-10-03 10:28] chinz07 opened #3475 "HPX fails to link if the MPI parcelport is enabled"
## Expected Behavior

HPX should link successfully.

## Actual Behavior

Linking HPX fails with the following linker errors:

[code]

## Steps to Reproduce the Problem

Compile HPX with CMake >= 3.10 and OpenMPI with HPX_WITH_PARCELPORT_MPI enabled.

## Specifications

  - HPX Version: 1.2.0 (commit: e7d1ae4c5ba91b841fd2fa7fed99b712d0270cfe)
  - Platform (compiler, OS): Arch Linux (GCC 8.2.1, Open

[2018-10-03 10:34] chinz07 commented on #3474
It might also be a good idea to use compile features (cxx_std_11, ...) instead of explicit flags to enable newer standards. This should reduce the probability for compatibility problems as CMake can choose a suitable version based on the requirements for all targets.

[2018-10-03 10:58] biddisco commented on #3475
What a coincidence - look at #3474 and the issue it refers to.

[2018-10-03 11:01] biddisco commented on #3474
Yes. The whole CMake setup needs a good cleaning up. The macros that appear throughout are awful as are as things like adding `_exe` extensions to targets which is terribly annoying.
Are you volunteering?

[2018-10-03 11:06] biddisco commented on #3474
Regarding the CXX 11/14/17 - we do try to support different compilers and so it is nice to force a build to use C++11 or C++14 depending on what the user asks for (or the testing CI stuff), so we probably wouldn't wat to do away with it altogether. The problem is that we support new language features if they are available, and support older stuff f not, so allowing cmake to decide for us will prev

[2018-10-03 13:37] chinz07 commented on #3474
I would love to help with this issue. For me as a consumer, HPX's arcane build system is one of the major pain points. Incidentally, my project has a similar structure (runtime library + several (optional) backends). It might be possible to adapt some of the code patterns. I will review the current build system and compile a preliminary plan of action for the modernization. Afterwards, we can disc

[2018-10-03 13:41] chinz07 commented on #3475
@biddisco Yes. A proper fix might make more sense as part of a larger modernization effort. I will submit my workaround as a PR so we can hopefully fix this issue before releasing HPX 1.2.0.

[2018-10-03 15:54] biddisco commented on #3475
Incidentally - Did you try the flags mentioned in #3444 and #3439 before submitting your patch?
-DMPI_CXX_SKIP_MPICXX etc

[2018-10-03 18:48] chinz07 commented on #3475
No, I haven't. I have now tested the flags on Arch Linux and Ubuntu 18.04 using OpenMPI. Adding -DOMPI_SKIP_MPICXX=1 to the compiler flags does indeed fix the issue. Adding -DMPI_CXX_SKIP_MPICXX=ON to the CMake command line does not for some reason. Maybe I am using it incorrectly.

These flags also introduce a huge problem if I am not mistaken. If HPX ever includes mpi.h as part of a public heade

[2018-10-04 13:07] chinz07 commented on #3475
'hpx/plugins/parcelport/mpi/mpi_environment.hpp' is not a public header? That would be unfortunate. The older parts of the codes I maintain still use raw MPI in conjunction with HPX for the newer algorithms. As these codes are ancient and do contain F77 it is pretty much impossible to port them to HPX. Currently I use HPX's mpi_environment as a bridge between the old and the new code.

Anyway! If

[2018-10-04 13:20] chinz07 commented on #3474
Agreed! I am currently compiling a list of CMake features which might benefiting the modernization. Based on that information we can choose a suitable minimum version.

[2018-10-05 18:07] biddisco commented on #3475
I'm not sure we have a definitive list of what is and isn't part of the public API that should be installed as part of the  headers. My suspicion is that we install virtually everything - largely because includes pull in things that they maybe shouldn't and it's too big a job to clean it all up and make it perfect - we try our best to use `xxx_fwd.hpp` files where we can to minimize the #include p

[2018-10-08 12:13] msimberg opened #3482 "Improve error message when HPX_WITH_MAX_CPU_COUNT is too low for given system"
Currently HPX has to be configured with a big enough `HPX_WITH_MAX_CPU_COUNT` for a given system. If it's set incorrectly the user will be presented with error messages that have no relation to the original problem.

We could either consider changing the bitsets to be fully dynamic (performance problems?) to avoid the variable altogether or try to detect at runtime if it's set inappropriately and

[2018-10-08 12:35] msimberg commented on #3453
I don't know if this was already discussed offline, but I see a few options:

- In the case that there are multiple multi-locality HPX applications running this is probably unfixable, except for giving a better error message.
- If there's only one locality per application use `HPX_WITH_NETWORKING=OFF`. This should allow you to run multiple applications simultaneously and if it doesn't it's a bug.

[2018-10-08 13:54] biddisco commented on #3453
The way most libraries do it is to randomize port numbers if there is a conflict. libfabric for example does this, instead of specifying the port number you want, you just ask for a free one and it tells you what to use.

[2018-10-08 14:14] hkaiser commented on #3453
@biddisco randomizing the port numbers might not work as all localities connected to the same application instance need to share it.

[2018-10-08 14:17] hkaiser commented on #3453
@msimberg we could disable the initialization of the tcp parcelports if we know that an application is running on one locality and we don't expect any more localities to connect dynamically (which is almost always true during testing). We currently have a command line option that disables dynamic connections to a running HPX application. We might want to inverse this and add one that enables dynam

[2018-10-08 15:36] #3416 closed

[2018-10-08 21:13] justwagle opened #3484 "Phylanx fails with latest hpx"
## Expected Behavior
Expect Phylanx to compile with latest HPX

## Actual Behavior
Phylanx Fails compilation with the following error listed below.  I can confirm that it works up to the following commit dbbb94662ba0818cc5d6120f52e4a7b330075709 ( Merge pull request #3476 from STEllAR-GROUP/hide_credentials ). It looks to me the changes that were made to CMAKE recently is causing the issue.
The bui

[2018-10-09 06:31] biddisco commented on #3484
This is very annoying. If I make the flags PRIVATE then they are not inherited by the tests in the HPX project and so we get all the warnings back. If I make them PUBLIC, then all the tests are fine, but they are also exported from the project and trigger errors in phylanx etc.

Fix 1 would be to address the signed comparison problems in phlanx.
Fix 2 is to rework our cmake and add the flags separ

[2018-10-09 08:39] biddisco commented on #3484
I have a solution. Using a generator expression of the kind
[code]
The correct compile flags are used by projects in the build tree, so all tests inherit them as expected. However, when exported using `make install` they are not included, so 3rd party projects using an installed HPX do not pick up the flags. However, if you build phylanx and link to the BUILD tree of HPX, then you will get the fla

[2018-10-09 09:18] biddisco commented on #3484
See #3485

[2018-10-09 09:27] msimberg commented on #3452
This may be a problem with the test itself or even the `block_executor` that we need to look into more closely. @0dnb0 if you have the time and patience to try this again you could:

1. Use the default executor (remove the `on(executor)` part [here](https://github.com/STEllAR-GROUP/tutorials/blob/4814c7c4efcf8d7e93d5e989d166769838332d7b/examples/02_stencil/stencil_parallel_2.cpp#L91) to see if tha

[2018-10-12 17:46] hkaiser commented on #3484
Phylanx using Blaze top of master is still failing if HPX was built using C++17 mode. This is enforced onto Phylanx (see CircleCI for instance here: https://circleci.com/gh/STEllAR-GROUP/phylanx/8813) which is not desired.

[2018-10-12 23:09] sithhell commented on #3484
From the error message, it looks like that certain C++17 features are failing, which means that the flags get passed down incorrectly. GCC 6.2 builds everything fine

[2018-10-13 00:15] hkaiser commented on #3484
@sithhell the issue is triggered by Blaze unconditionally enabling all C++17 features when being compiled with `-std=c++17`. That includes library features that may not even have been added. On CircleCI we use clang V5 which accepts `-std=c++17` but is not 100% conforming (has no implementation of `std::uninitialized_move`, for instance).

So the problems are a combination of:
- us letting the bui

[2018-10-13 06:27] msimberg commented on #950
Bumping this as a reminder about the high memory use for compiling partitioned vector.

[2018-10-13 06:34] msimberg commented on #2428
I'm going to go ahead and close this as we have a lot our testing now on cdash/pycicle.

However, I remember seeing a discussion about the colors used on buildbot. Would it be possible to change the colors to red on failed unit tests (compile and runtime)?

[2018-10-13 06:34] #2428 closed

[2018-10-13 06:40] msimberg commented on #3263
I'm going to close this now since the sphinx documentation was merged. Feel free to comment here with thoughts about the new documentation though, or open a new issue if there's something bigger that you feel needs documenting/improvement.

[2018-10-13 06:40] #3263 closed

[2018-10-13 06:40] msimberg commented on #3264
Closing this since the sphinx branch was merged.

[2018-10-13 06:40] #3264 closed

[2018-10-13 12:38] sithhell commented on #3484
Right. It is that commit here: https://bitbucket.org/blaze-lib/blaze/commits/e9fc567e6bcd5ba11fd0611dc2f0863d60b75d2

Sure, we can do that. That's orthogonal to the problem at hand though. Furthermore, I am not very fond of the idea that one project forces the compile flags of the HPX testing system. There'll always be special requirements by some projects, we can not respect them all in our curre

[2018-10-13 13:02] hkaiser commented on #3484
@sithhell so what do you suggest?

[2018-10-13 13:11] hkaiser commented on #3475
Is this still an issue (after merging #3485)?

[2018-10-15 04:57] sithhell commented on #3484
As a short term solution I am updating the toolchain in our docker images now to have a fully compliant C++17 one. Of course, this only hides the real problem.

For a long term solution, the only real fix to avoid those issues is to fully control the dependencies:

1.  Freeze all versions of the libraries you depend on
2.  Build all libraries you depend on yourself for testing

When having multipl

[2018-10-15 09:32] sithhell commented on #3484
See #3491
Once this is through, there should be a more compliant C++17 environment available to use.

[2018-10-16 15:15] chinz07 commented on #3474
After reviewing HPX's build system, I have compiled a preliminary outline for the modernization effort:

### Backward compatible changes

#### Remove the hpx_is_target macro

It is trivial and only used once.

#### Substituting most macros with functions

As functions introduce a separate variable scope they are much safer to use compared to macros.

This change is rather mechanical. A simple text

[2018-10-16 16:37] biddisco commented on #3474
This would be great. We made a few changes this/last week and broke a few things (#3484 + friends), so any help would be very welcome. A complete clean up would be fabulous. If you start on this, please let us know so we can stay in the loop

[2018-10-16 17:10] sithhell commented on #3474
Thank you very much for the detailed explanation of the next steps. I'm in favor of all of them.

[2018-10-17 08:41] #3248 closed

[2018-10-17 13:04] biddisco commented on #3475
if we just set `MPI_CXX_SKIP_MPICXX` before calling `find_package(MPI)` (see https://cmake.org/cmake/help/v3.12/module/FindMPI.html) does the problem go away?

If not and you still have the bug, then please feel free to submit whatever fix you think best.

[2018-10-17 18:50] chinz07 commented on #3484
I just stumbled across the following blog post: https://foonathan.net/blog/2018/10/17/cmake-warnings.html. If I am not mistaken, this pattern could fix the accidental propagation for both the installed version and the build tree. No flags are propagated and warnings from imported header files are suppressed.

[2018-10-17 19:11] chinz07 commented on #3475
Yes. Disabling the C++ interface via MPI_CXX_SKIP_MPICXX does resolve the problem. The only caveat is that you have to be really careful which CMake variables you use. The predefined targets use an incorrect combination of settings in this specific case and are thus unusable.

I have also tested if this setup allows to use HPX in conjunction with MPI's C++ bindings as part of an external project.

[2018-10-25 12:18] m-diers commented on #3452
Well, I'm back with a clean identity.
I made a mistake while giving the tutorial. I used the stencil_parallel_1.cpp and continue with this now the test.
Furthermore, I had a thought error when switching from one to two numa domains. Since only one thread runs in the second domain, the result is invalid. I have now adjusted the number of threads.

I have four different generations of dual-socket te

[2018-10-25 17:46] msimberg commented on #3217
Closing because of move to sphinx.

[2018-10-25 17:46] #3217 closed

[2018-10-25 17:48] msimberg commented on #2507
Btw, I started this over [here](https://stellar-group.github.io/hpx/docs/sphinx/branches/master/html/manual/debugging_hpx_applications.html). I'll try to add a section on `--hpx:attach-debugger` soonish.

[2018-10-30 22:40] junghans opened #3509 "Build on armv7l fails"
## Expected Behavior

Builds

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Try to build on armv7l, details [here](https://github.com/STEllAR-GROUP/hpx/files/2531927/build_arm7.txt).

## Specifications

  - HPX Version: 1.2.0-rc1
  - Platform (compiler, OS): gcc-8.2.1, OpenSuse

[2018-10-30 22:43] junghans opened #3510 "Build on ppc64 fails"
## Expected Behavior

Builds

## Actual Behavior

Fails:
[code]

## Steps to Reproduce the Problem

Build on ppc64, details [here](https://github.com/STEllAR-GROUP/hpx/files/2531940/build_ppc64.txt)

## Specifications

  - HPX Version: 1.2.0-rc1
  - Platform (compiler, OS): gcc-8.2.1, OpenSuse

[2018-10-30 22:45] junghans opened #3511 "Build on s390x fails"
## Expected Behavior

Builds

## Actual Behavior

Fails:
[code]

## Steps to Reproduce the Problem

Build on s390x, details [here](https://github.com/STEllAR-GROUP/hpx/files/2531946/build_s390x.txt)

## Specifications

  - HPX Version: 1.2.0-rc1
  - Platform (compiler, OS): gcc-8.2.1, OpenSuse

[2018-10-30 22:56] junghans opened #3512 "Build on aarch64 fails"
## Expected Behavior

Builds

## Actual Behavior

Fails:
[code]

## Steps to Reproduce the Problem

Build on aarch64, details [here](https://github.com/STEllAR-GROUP/hpx/files/2531971/build_aarch64.txt)

## Specifications

  - HPX Version: 1.2.0-rc1
  - Platform (compiler, OS): gcc-4.2.1, OpenSuse

[2018-10-31 08:05] biddisco commented on #3512
Can you try with `HPX_WITH_GENERIC_CONTEXT_COROUTINES=ON` and see if the build works

[2018-10-31 08:08] biddisco commented on #3510
This can probably be fix by just adding `-latomic` to the CMAKE_ LINK_FLAGS (exe or module or something). Not sure why we have this problem, but it happens on some machines but not others for me.

[2018-10-31 14:37] junghans commented on #3512
I will try, would that help for #3511 as well?

[2018-10-31 20:10] junghans commented on #3511
Ok with `-DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON` (as suggested in https://github.com/STEllAR-GROUP/hpx/issues/3512#issuecomment-434595715), it goes a bit further, but then fails with:
[code]

Details [here](https://github.com/STEllAR-GROUP/hpx/files/2536225/s390x_log.txt)

[2018-10-31 22:12] chinz07 commented on #3474
I have submitted the first changes as PR #3514.

[2018-11-04 11:17] arkantos493 commented on #3290
I got the same error while linking hello_world_client in make tests.
(mak example completed successfully)

Is there any fix for this problem?

I'm using g++ 8.1.0 with the HPX Version 1.1.0 downloaded from the Ste||ar site. Boost 1.68.0 was build with c++std=17 and cmake ist up-to-date with version 3.13.0-rc2.

[2018-11-04 13:13] NK-Nikunj commented on #3290
@arkantos493 are you using the current master? In case your commit is of version 1.1.0, it will throw a linking error since this error was discovered later (hence part of the milestones for version 1.2).

[2018-11-04 15:14] arkantos493 commented on #3290
@NK-Nikunj That might be the problem. So now I cloned the current git repo, but it appears that now not even the normal make is successfully:

../hpx/src/runtime/threads/topology.cpp:1332:13: error: ‘HWLOC_MEMBIND_BYNODESET’ was not declared in this scope
             HWLOC_MEMBIND_BYNODESET);
             ^~~~~~~~~~~~~~~~~~~~~~~
../hpx/src/runtime/threads/topology.cpp:1332:13: note: suggested alt

[2018-11-04 15:49] msimberg commented on #3290
What version of hwloc are you using?

[2018-11-04 21:20] arkantos493 commented on #3290
Thanks for the reply. I used hwloc 1.11 from the apt repositories. After I manually installed version 2.0.2 it worked.

[2018-11-05 14:49] msimberg commented on #3290
@arkantos493 thanks for reporting back. Could you also tell me the patch number of the 1.11 version that you tried? Our build *should* work with any 1.11 but that doesn't seem to be the case.

[2018-11-05 23:07] Yeahhhh opened #3526 "Failed building hpx-1.2.0-rc1 on Ubuntu16.04 x86-64 Virtualbox VM"
## Expected Behavior

... building successful

## Actual Behavior

... building failed

## Steps to Reproduce the Problem

sudo apt-get install -y \\
     cmake \\
     libboost-all-dev \\
     libhwloc-dev \\
     google-perftools \\
     ;

wget https://github.com/STEllAR-GROUP/hpx/archive/1.2.0-rc1.tar.gz
tar xf 1.2.0-rc1.tar.gz
cd hpx-1.2.0-rc1

app_root=$(pwd)
mkdir bld obj
cd bld
cmake \\

[2018-11-06 00:22] sithhell commented on #3526
Thanks for the report. There seems to be a problem with the detection of the correct hwloc version.

[2018-11-06 07:30] msimberg commented on #3526
@Yeahhhh could you provide us the exact version of hwloc you have installed? `apt list hwloc` should do the trick.

[2018-11-06 08:56] msimberg commented on #3526
@Yeahhhh would you mind trying #3528? It should fix the problem you were seeing.

[2018-11-06 14:35] diehlpk commented on #3509
I added `HPX_WITH_GENERIC_CONTEXT_COROUTINES=ON` to the arm build and the error remains.

[2018-11-06 15:30] hkaiser commented on #3509
This is strange as the code in question will be compiled only if `BOOST_SP_HAS_SYNC` was not defined (see: ). However on ARM architecture this shouldn't be the case (see: https://github.com/boostorg/smart_ptr/blob/develop/include/boost/smart_ptr/detail/sp_has_sync.hpp#L25-L29).

Could you please check whether the compiler you use defines `__GCC_HAVE_SYNC_COMPARE_AND_SWAP_4`?

[2018-11-06 19:19] sithhell commented on #3509
the problem is with us: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/spinlock.hpp#L31
We don't include the header if `__arm__` is defined.
This should be overhauled, I think.

[2018-11-06 19:21] sithhell commented on #3511
Which architecture is this? I think this should fall back to `#include <hpx/util/hardware/timestamp/linux_generic.hpp>`. There seems to be some defines missing for this specific platform.
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/util/hardware/timestamp.hpp

Do you happen to know which platform specific defines are set for this to make it work?

[2018-11-06 19:23] sithhell commented on #3484
is this resolved now?

[2018-11-06 19:37] hkaiser commented on #3484
I think we can close this now, thanks!

[2018-11-06 19:37] #3484 closed

[2018-11-06 19:40] hkaiser commented on #3509
@sithhell how did you build things on Android with this?

[2018-11-06 21:23] Yeahhhh opened #3533 "Cmake version 3.5.1does not work (git ff26b35 2018-11-06)"
##  Behavior

cmake failed

## Steps to Reproduce the Problem

cmake -DCMAKE_BUILD_TYPE={Release,Debug}     -DHPX_WITH_MALLOC=system  ..

-- Performing Test HPX_WITH_RDTSCP - pre-set to TRUE
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   atomic
--   filesystem
--   program_options
--   regex
--   system
-- WARNING: HPX will perform poorly without tcmalloc or jemalloc. See do

[2018-11-06 22:35] sithhell commented on #3509
I haven't built on android for a while. My other arm machines are aarch64, and the cross compiler does not define `__arm__` for that.

[2018-11-07 00:44] diehlpk commented on #3533
VERSION_GREATER_EQUAL

I investigated and this command is only available at CMake 3.7+ and we should bump our minimal cmake version to 3.7. I will do a PR soon.

[2018-11-07 01:14] hkaiser commented on #3533
Couldn't we fix this without raising the cmake requirements?

[2018-11-07 03:01] diehlpk commented on #3533
Yes, we would need to add to all related files a check for the cmake version and depending on the version we would need the use the correct syntax.

I checked and all major linux derivations have at least CMake 3.7, even debian stable has it. So I would recommend to upgrade the cmake version instead to add the check to all related files.

@Yeahhhh Is using Ubuntu 16.04, which is around 2.5 years o

[2018-11-07 07:17] biddisco commented on #3533
I am not interested in supporting very old compilers, or old cmake installations (it takes 5 minutes to build your own cmake on almost any machine). I suggest we bump the cmake requirement to 3.7 as suggested by @diehlpk

[2018-11-07 09:47] chinz07 commented on #3533
I suggest that we should bump the CMake requirement to 3.8 instead. CMake 3.8 introduces the ability to require a specific language standard on a per target basis without manually specifying the (compiler-dependent) flag.

In my experience, HPX's handcrafted solution for selecting the requested standard and propagating this decision to downstream users is error-prone and hard to maintain. I would

[2018-11-07 13:46] diehlpk commented on #3533
@chinz07 Do you intend to submit these changes to the release 1.2? If yes, I would upgrade to 3.8, if not to 3.7 so people can build it on debian stable. Once you integrate this, we could upgrade to 3.8.

[2018-11-07 13:53] hkaiser commented on #3533
@biddisco you're the one advocating to reduce dependencies (in particular Boost linked libraries). Now you're suggesting to add another burden onto the user?

@diehlpk, @chinz07 I don't think that adding such changes to the release is advisable.

In general, I'd be fine with raising the cmake requirements to a reasonable version, I'd strongly suggest to do that after the release, though - possibly

[2018-11-07 14:01] diehlpk commented on #3533
@hkaiser The fix for the release will be a little bit messy because we would have to add to all CMake files an additional if case where we check for the cmake version. I could do this, but I do not think it is worth since all major Linux systems provide at least 3.7.

[2018-11-07 14:29] hkaiser commented on #3533
Why, just use `LESS` and `EQUAL` everywhere. No harm done.

[2018-11-07 15:22] chinz07 commented on #3533
@diehlpk @hkaiser Just to clarify, I wanted to suggest to bump the requirement after the 1.2 release. I wrongly assumed that the proposed change would already target HPX 1.3.

VERSION_GREATER_EQUAL seems to be used only once. Am I missing something?

[2018-11-07 15:36] diehlpk commented on #3533
@chinz07 Ok, I will provide a PR soon and just update this one occurrence.

[2018-11-07 16:08] sithhell commented on #3533
Just to clarify, CMake 3.5 support `VERSION_LESS` and `VERSION_GREATER`. Those should be used at the place in question. `LESS_EQUAL` has slightly different semantics and should be avoided.

This should do the trick:
`NOT CMAKE_CXX_COMPILER_VERSION VERSION_LESS 5.0`

[2018-11-07 16:13] sithhell commented on #3533
@Yeahhhh please try #3534 and see if it fixes your problem.

[2018-11-07 16:17] msimberg commented on #3526
Going to merge this since our builders don't have useful versions to test this and I verified this myself.

So for the record, Ubuntu 16.04 ships with hwloc 1.11.2. `HWLOC_MEMBIND_BYNODESET` was introduced in 1.11.3. However, `HWLOC_API_VERSION` was stuck at 1.11.0 until 1.11.9 when it was increased to 1.11.6. So I've increased the check to 1.11.6 (although strictly speaking 1.11.3 would have been

[2018-11-07 16:18] #3526 closed

[2018-11-07 20:57] Yeahhhh commented on #3533
I switched to Ubuntu1804+cmake 3.10.2.

[2018-11-08 07:57] #3533 closed

[2018-11-08 07:57] biddisco commented on #3533
Any serious developer who wants to use HPX should be using a more recent compiler and toolchain. It's just not our business to support older technologies. The principle of open source is not that every user in the world is allowed to complain that X doesn't work on their system, it's there so that if they care enough to complain about it, they can take the 5 minutes to try to fix it. As it turns o

[2018-11-08 08:20] biddisco commented on #3533
On reflection. I do feel guilty. I should have taken the 5 minutes to change `greater_equal` to `not less` since it is so simple. And I checked and cmake 3.5 only dates back to 2016, which is not such a long time ago. So please accept my apologies for being grumpy about this.

[2018-11-08 18:35] msimberg commented on #3290
Thanks @arkantos493, in that case your problem should be solved now that #3528 has been merged.

[2018-11-08 19:52] justwagle commented on #3475
This still fails for me with the latest master.
Here is a buildlog:
https://gist.github.com/justwagle/0a86fca9abf829137c4a2b679cc33d2e

I would greatly appreciate if someone would point me to what I am doing wrong.

Thanks

[2018-11-09 01:51] diehlpk commented on #3512
`HPX_WITH_GENERIC_CONTEXT_COROUTINES=ON`

Adding this CMake flag helps and this issue can be closed.

[2018-11-09 07:58] chinz07 commented on #3475
@justwagle Could you please try to set `MPI_CXX_SKIP_MPICXX` to `True` on the command-line?

Depending on the version of CMake `MPI_CXX_SKIP_MPICXX` is unfortunately either a normal variable or a cache variable. Currently, we only set it automatically if it is a normal variable. I will try to find a better solution.

[2018-11-09 10:43] biddisco opened #3538 "numa handling incorrect for hwloc 2"
## Expected Behavior
Ability to lookup numa domain from pu/core

## Actual Behavior
always returns zero as the numa domain when using hwloc 2

Ref : https://www.open-mpi.org/projects/hwloc/doc/v2.0.1/a00327.php

Related to #3181

[2018-11-09 11:12] #3512 closed

[2018-11-09 11:17] hkaiser commented on #3538
@biddisco which function is that referring to?

[2018-11-09 13:50] biddisco commented on #3538
The offending function is here
https://github.com/STEllAR-GROUP/hpx/blob/653a61d078a64c24746fb36065701508e5ee1f70/hpx/runtime/threads/topology.hpp#L106

but it's the population of the node_numbers array that is incorrectly set earlier.

[2018-11-09 16:57] justwagle commented on #3475
@chinz07 I tried adding  ` -DMPI_CXX_SKIP_MPICXX=True ` to my hpx build script which resulted in the following error:
[code]
The full build log can be found in the following gist:
https://gist.github.com/justwagle/b982fc49f575b60b7a7910b0b511aead

A little googling tells me that  "add_compile_definitions" is something that was merged into cmake about 6 months ago. The cmake version that I have , 3

[2018-11-09 18:16] chinz07 commented on #3475
@justwagle Thank you for the feedback. You are right that we can not use `add_compile_definitions` since it was only introduced as part of CMake 3.11. PR #3541 should resolve both issues. Could you please try it out?

[2018-11-09 20:01] justwagle commented on #3475
@chinz07 PR #3541 worked for me, thanks a lot.

[2018-11-10 21:18] #3475 closed

[2018-11-14 06:25] schwarzschild-radius opened #3545 "Error while building HPX with CUDA"
## Expected Behavior

Built all target

## Actual Behavior

The build fails with the following error:

    [ 68%] Building NVCC (Device) object examples/compute/cuda/CMakeFiles/data_copy_exe.dir/data_copy_exe_generated_data_copy.cu.o
		cd /home/amcsgpu/PK/Experiments/hpx/build/examples/compute/cuda/CMakeFiles/data_copy_exe.dir && /usr/local/bin/cmake -E make_directory /home/amcsgpu/PK/Experiments/

[2018-11-14 08:53] msimberg commented on #3545
Thanks for the report. I think this error specifically is a CUDA/`nvcc` limitation. Even though gcc 5.4 should support `-std=c++17`, I think CUDA 9.2 still doesn't (feel free to correct me here). Can you verify by compiling a standalone test program directly with `nvcc -std=c++17`?

On the other hand this sounds like something our feature checks should catch and downgrade you to C++11/14 automatic

[2018-11-14 09:26] biddisco opened #3546 "Modularization of HPX"
If we were to modularize HPX, what modules would we want? Please populate this list and move things around as appropriate

- Threading : Thread pools
- Schedulers : Does this need to be in threading?
- Runtime : affinity, resource managment
- Synchronization : futures, mutexes, lcos, etc
- Executors :
- Parallel algorithms : The STL stuff
- AGAS : Anything that uses components
- Parcelport : Can t

[2018-11-14 11:34] msimberg commented on #3546
Thanks @biddisco for starting this list. Moved some things around. I would personally like to see the concept a full runtime as a layer on top of thread pools and schedulers since one might not always need the full machinery with config options etc. but instead just a simple thread pool.

I think the most important separation would be between local and distributed features which would give us a pr

[2018-11-14 12:55] biddisco commented on #3348
Discussion on IRC (@sithhell @msimberg) and elsewhere have raised interesting points that need to be itemized and acted on.
Our principle performance related problem is fork-join parallelism and being competitive with other libraries such as OpenMP etc.
Strategies that could help are:

- No stealing of tasks once they have moved to the Pending state. This avoiding atomic operations in the work que

[2018-11-14 13:53] msimberg commented on #3348
Will expand with other points as I remember, but here's one that we discussed earlier:

* Distributing tasks created by parallel for loops etc over threads by groups of chunks instead of straight forward round-robin. In other words, with `t` threads and `n` chunks, the first thread would get the first `n/t` chunks, the next thread the next `n/t` chunks and so on. This, together with stealing tasks

[2018-11-14 15:23] K-ballo commented on #3546
Nothing even remotely recent. I'll try building a fresh one in the following days.

[2018-11-14 23:31] diehlpk opened #3549 "HPX 1.2.0 does not build on i686, but release candidate did"
## Expected Behavior

Should compile as on x86, but does not on i686. Interesting fact is that the release candidate builds on i686, but not HPX 1.2.0.

## Actual Behavior

[code]
Full build log (https://kojipkgs.fedoraproject.org//work/tasks/6776/30886776/build.log)

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.
  1.

[2018-11-15 02:50] diehlpk commented on #3549
@biddisco Is this related to your changes?

[2018-11-15 04:01] alanthie opened #3550 "1>e:\000work\hpx\src\throw_exception.cpp(54): error C2440: '<function-style-cast>': cannot convert from 'boost::system::error_code' to 'hpx::exception'"
1>e:\000work\hpx\src\throw_exception.cpp(54): error C2440: '<function-style-cast>': cannot convert from 'boost::system::error_code' to 'hpx::exception'

boost 1.69

hpx::exception(ec), // boost::system::**error_code** ec
vs
explicit exception(boost::system::**system_error** const& e);

[2018-11-15 04:33] alanthie commented on #3550
Workaround fixes (windows):

hpx:
In std::exception_ptr get_exception()
1-hpx::exception(boost::system::system_error(ec)),

In default_write_handler()
   hpx::detail::get_exception(    hpx::exception(boost::system::system_error(ec)) ,

2- boost:
In struct allocator_traits
**#undef max**
    static size_type max_size(const A&) BOOST_NOEXCEPT {
        return std::numeric_limits<size_type>::max() /

[2018-11-15 10:11] biddisco commented on #3549
Thanks for posting the log. I'm struggling with this. It would seem to be a simple problem converting a future<int> to a future<int64> or the other way, and yet, the error log somehow does not quite look right. (It should have unwrapped the tuple<future,...> but it looks like it hasn't)

For a quick fix, you need only comment out the building of the examples on these two line
https://github.com/ST

[2018-11-15 10:50] biddisco commented on #3549
@diehlpk please try the fix_3459 branch and let me know if the error is gone. Thanks

[2018-11-15 16:37] diehlpk commented on #3549
@biddisco Yes, it seems that this branch fix the issue, see here https://kojipkgs.fedoraproject.org//work/tasks/1377/30901377/build.log

[2018-11-15 16:37] diehlpk commented on #3549
@msimberg Should we provide a patch for the 1.2.0 release or what is the best way to proceed?

[2018-11-15 17:35] biddisco commented on #3549
I'm glad the patch worked. It at least restores my faith in the purpose of writing tests now. I was beginning to think that we write all these tests and run on all the dashboards and still stuff gets through broken into a release, but it at least was a genuine fail that we would have picked up if we had a builder for that platform.

[2018-11-15 20:30] diehlpk commented on #3549
Since we will have a hpx package on fedora soon, we could run the builds on various architectures before we finally release hpx. I as one of the maintainers will at least test the release candidate and the release on their build system.

[2018-11-16 01:38] junghans commented on #3549
@diehlpk, I just added the patch as `Patch0` in the spec.

[2018-11-16 06:05] pradeepisro commented on #3545
nvcc in cuda-9.2 does not support c++17. When try `ccmake ..` to set options, the c++ standard is set to c++ 17 automatically but when I set with `cmake .. -DHPX_WITH_CUDA=ON` the standard is automatically detected as c++11. It is either during cmake curses it is automatically configured to c++17 and cached then while setting HPX_WITH_CUDA, the C++ standard is taken from cache. Is there a way to o

[2018-11-16 09:09] biddisco opened #3553 "Need a synchronization method for batches of tasks"
It frequently occurs that we have loops of the kind
[code]
Examples of this can be seen in tests like the future overhead performance test, the network storage tests and various other places in the code.
https://github.com/STEllAR-GROUP/hpx/blob/6df436bf5b260716aad5663c943c2f7f5d76857e/tests/performance/local/future_overhead.cpp

In some ways this is related to fork_join parallelism since we have

[2018-11-16 09:15] biddisco commented on #3553
This is also connected to the idea of N-ary tasks. In that case, promoting the callable object (as suggested in #3348) to be created earlier and storing things like counters in a task structure. I didn't want to write this in the issue descriptions, but just tag it here as a random thought.

[2018-11-16 09:42] biddisco commented on #3553
Note that in the examples I pasted in above, it would actually be nice to have this functionality with `hpx::apply` since we don't need to return the futures and wait on them.

[2018-11-16 13:11] msimberg commented on #3553
I'm not against this idea at all, but I think for example the `future_overhead` test is somewhat artificial because there we're really just interested in testing task spawning. In practice one wants to avoid spawning that many tasks and would instead use `for_loop` or `for_each`:

[code]

This essentially does what you want but with chunking. It removes the syntactic overhead of (e.g.) having to u

[2018-11-16 13:33] biddisco commented on #3553
Internally `for_loop` is creating tasks and then waiting on the futures. I could use the `for_loop` in my example (and I will for the time being), but I wanted to address the general case where you create a large number of tasks and want to wait on them without storing a vector of futures and using `wait_all` or something similar.
the idea of the latch is simply to simplify the user experience and

[2018-11-16 13:54] hkaiser commented on #3553
@biddisco FWIW, we do have a latch (see here: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/latch.hpp). Also, if you don't need the future returned by `hpx::async`, just use `hpx::apply` (i.e. fire and forget) - that saves you creating the future in the first place.

[2018-11-16 13:56] biddisco commented on #3553
Yes. I am aware of the existence of the latch - this is what I want to use. My question is about how we could nicely fire off tasks and use a latch to keep track of them, without the user having to do anything to their actual tasks.

[2018-11-16 14:01] hkaiser commented on #3553
I surmise that `hpx::wait_all` is not what you want? Would a `task_block` work for you?

[2018-11-16 14:05] biddisco commented on #3553
As I wrote above. I would like to mix tasks that are 'important' and should be counted in the latch, with tasks that are not important and can just run as they want, but synchronize cheaply on the completion.
A task_block would not allow me to mix between the two.

[2018-11-16 22:14] khuck opened #3554 "Clang 6.0 warning of hiding overloaded virtual function"
## Expected Behavior

compiling without warnings

## Actual Behavior

I see this warning from the Clang 6.0 compiler:

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

configure with (active harmony and OTF2 are probably not related):
[code]
and then compile.

## Specifications

... Please describe your environment

[2018-11-17 01:56] K-ballo commented on #3546
Here goes nothing... Attached as a [compressed SVG file](https://github.com/STEllAR-GROUP/hpx/files/2591401/headers.zip).

[2018-11-17 23:49] diehlpk commented on #3549
Since it compiles on i686 again we can close this ticket. @biddisco Will this patch be integrated in the next release?

[2018-11-18 13:43] diehlpk commented on #3510
This is fixed and the issues can be closed.

[2018-11-18 15:02] #3549 closed

[2018-11-18 15:03] hkaiser commented on #3549
@diehlpk yes, everything on master goes into the next release.

[2018-11-18 15:04] hkaiser commented on #3554
This is a real problem that can lead to various problems that are difficult to diagnose...

[2018-11-18 21:31] biddisco commented on #3553
It seems I didn't really explain the problem very well - suppose I do the following
[code]
This only waits on the loop, it does not wait on the tasks generated inside the loop. The loop will be chunked and there will be C chunks and C futures waited on, but the N async tasks will not complete until later. What I want to do be using a construct of this kind
[code]
is wait on the N tasks so that I k

[2018-11-18 21:59] junghans commented on #3510
This is not fixed in 1.2.0, works on ppc64le, but not on ppc64, please reopen.

[2018-11-19 08:32] msimberg commented on #3550
@K-ballo do you know what this might be about? 1.69 is not out yet so it may be a bug in Boost, or we have to deal with it once 1.69 actually is out.

[2018-11-19 08:40] msimberg commented on #3546
Thanks @K-ballo, that's an interesting... mess.

[2018-11-19 08:53] msimberg commented on #3545
Yes, some variables related to the C++ standard are cached (I think it might be due to the feature checks being relatively expensive). In general, try to avoid reconfiguring options that might affect compiler flags (until we have a better solution).

I think `_NV_ANON_NAMESPACE` is just something that `nvcc` inserts as a placeholder for anonymous namespaces. The real problem might be related to [t

[2018-11-19 13:03] K-ballo commented on #3550
Boost 1.69 went ahead and implemented [LWG3162](https://cplusplus.github.io/LWG/issue3162). We'll need a constructor from `error_code` to make this conversion explicit.

[2018-11-19 15:35] sithhell commented on #3553
the most consistent and, IMHO, leanest way to accomplish this is via an executor. On the executor side of things, you can block until all tasks are completed, the implementation can then be completely hidden inside that executor

[2018-11-19 17:02] hkaiser commented on #3553
I agree. This new executor could even be a wrapper around any other (already existing) executor, just adding the ability to wait for all executed tasks. Also, some of our executors already block on destruction. That could be a good starting point.

[2018-11-19 19:00] hkaiser commented on #3550
The second workaround listed above (adding `#undef max`) is caused by Boost violating their own guidelines.

[2018-11-19 19:04] hkaiser commented on #3550
@K-ballo Boost made the conversion constructor explicit. Do you suggest for us to add an implicit constructor `exception(boost::system::error_code const&)` to compensate?

[2018-11-19 19:14] hkaiser commented on #3550
See #3558 for a possible fix. @alanthie could you please check whether this fixes your issue? Also, please report the `#undef` issue to the Boost mailing list.

[2018-11-19 19:31] biddisco commented on #3553
I am imagining that we have an executor that creates an applier - with an additional function object that is called when the task completes - instead of (or as well as) setting a future, it can decrement a counter/latch/semaphore or suchlike. This could be used for apply or for async - (I didn't look at the code for apply recently, so I'm not sure if it uses an applier, or something else).

We woo

[2018-11-20 01:15] K-ballo commented on #3550
Our constructor should be `explicit`, just as the current constructor from `boost::system::system_error` is.

[2018-11-20 13:56] junghans opened #3559 "1.2.0 is missing from download page"
## Expected Behavior

1.2.0 should be on http://stellar.cct.lsu.edu/downloads/

## Actual Behavior

Only 1.1.0 is there

## Steps to Reproduce the Problem

  1. Go to the page
  2. Read

## Specifications

This page is use for https://release-monitoring.org/project/18314/ to inform Fedora of updates.

[2018-11-20 14:05] biddisco opened #3560 "Apex integration with HPX not working properly"
## Expected Behavior
Nice plots of tasks

## Actual Behavior
All the tasks have the same `parallel::execution::post` name.
I am using the RAII style apex wrapper with `profiler::TaskProfiler tp(taskname, "Trailing Matrix");` that wraps an `hpx::util::annotate_function apex_profiler;` and is instantiated at the start of the task.
Note that is differs from the lambda style `annotated_function` by se

[2018-11-20 14:06] biddisco commented on #3560
![screenshot_20181120_145856](https://user-images.githubusercontent.com/941548/48778560-d9bc8500-ecd5-11e8-99a7-4e645c0fa18b.jpeg)

[2018-11-20 14:07] biddisco commented on #3560
Each of the purple bars above is actually many tasks (see the one with the shading slightly lighter that has been highlighted)

[2018-11-20 14:09] msimberg commented on #3559
It simply hasn't been updated yet. With Thanksgiving it may take until next week until it's updated. 1.2.0 is on [this](http://stellar-group.org/libraries/hpx/downloads/) download page though. You could presumably also use the GitHub release page for this?

@hkaiser @aserio, this may be a topic for another day and may have political reasons, but is it *really* necessary for the two nearly identica

[2018-11-20 18:30] junghans commented on #3559
Ok, I changed  https://release-monitoring.org/project/18314/  to use http://stellar-group.org/libraries/hpx/downloads/ instead. The reason to not use GitHub is mainly that I don't want rc releases to be pulled.

[2018-11-20 18:33] junghans commented on #3509
After #3557 and #3551, this is the last arch missing for Fedora and OpenSUSE, any news here?

[2018-11-20 22:04] biddisco commented on #3560
Looking at the code I wondered
https://github.com/STEllAR-GROUP/hpx/blob/457670e0581fe03ee4b4b4b12b0a757eff445307/hpx/runtime/threads/thread_data.hpp#L302-L303
Should this function return `description_` and not `value`?

[2018-11-20 22:18] biddisco commented on #3560
@khuck The problem sees to be around here ...
https://github.com/khuck/xpress-apex/blob/c4ab0b07ffa6f524866b4694a3c7c19f9f4c1140/src/apex/apex.cpp#L1103-L1115
I can see as I step through the code that when I set a new task description, the original wrapper->id has name"parallel::execution::post" and the new description is "HP Fact. Diag Block 0". Apex looks for the name in it's internal task map,

[2018-11-20 23:52] hkaiser commented on #3560
https://github.com/STEllAR-GROUP/hpx/blob/457670e0581fe03ee4b4b4b12b0a757eff445307/hpx/runtime/threads/thread_data.hpp#L302-L303
Should this function return `description_` and not `value`?

No, the function should return the previous description value.

[2018-11-21 09:54] biddisco commented on #3560
OK. Seems very odd though.
https://github.com/STEllAR-GROUP/hpx/blob/653a61d078a64c24746fb36065701508e5ee1f70/hpx/util/annotated_function.hpp#L75-L86
in that snippet, what we do is annotate a function with a name, set the task description to the new name and initialize the desc_ object with the old desc data returned from that function, then pass the old data to apex. I guess if apex is tracking i

[2018-11-21 10:45] biddisco commented on #3560
I'm giving up on this. AFAICT we end up with an apex object for the task that is names parallel::post and has a list of aliases of length N, where N is the number of task types in my code (roughly). Then apes just dumps out the OTF2 files with the same name for every task.
I tried rolling apex back by a few months and tried rolling back some changes to annotate function, but I can't make the old s

[2018-11-21 10:51] biddisco commented on #3509
I have built recently on my Raspberry Pi 3. That's armv71 isn't it? Should I try getting a build going again and see if I can make it work?

[2018-11-21 12:30] hkaiser commented on #3509
That would make sense. However I'd suspect that your cross-compiler will not define `__arm__` either.

[2018-11-21 13:10] junghans commented on #3509
I just started a rebuild on OpenSUSE to check what the error is now using generic context, will report back.

[2018-11-21 14:19] m-diers commented on #3452
Same behaviour with hpx 1.2 and hwloc 2.

[2018-11-22 13:07] junghans commented on #3509
Still the same:
[code]

[2018-11-22 13:30] junghans commented on #3509
To reproduce this issue, just branch https://build.opensuse.org/package/show/science:HPC/hpx and drop the following line from `hpx.spec`:
[code]

[2018-11-22 13:39] diehlpk commented on #3509
I am not wrong the raspberry pi 3 should be aarch64. And we know that it is building there from Fedora.

[2018-11-22 13:52] junghans commented on #3509
armv7l is 32-bit, while aarch64 is 64-bit. aarch64 worked, but `%arm` only refers to 32-bit.

[2018-11-26 23:01] bremerm31 opened #3565 "Polymorphic simple component destructor not getting called"
## Overview

I am looking at polymorphism for a simple component. To check whether this works in hpx, I have simply taken the `tests/unit/component/inheritance_2_classes_concrete.cpp` and turned the managed components into simple components.

## Expected Behavior

I expect the simple_component behavior to match managed_component behavior and pass the test.

## Actual Behavior

The flags, which sho

[2018-11-27 09:55] biddisco commented on #3348
The idea of implementing task_regions or fork_join regions to allow us to switch between formal hpx task stealing and fork-join type work for simpler loops is nice, but ultimately, if we have to wait for queues to drain, then adding fork-join regions will be painful if they are frequently used within regions of 'normal' hpx task stealing.

It would therefore make sense to allow fork-join regions w

[2018-11-27 11:57] jiazhenggod opened #3567 "Build succeed and make failed for hpx:cout"
## Expected Behavior

... Please describe the behavior you would have expected.
make would succeed
## Actual Behavior
failed
... Please describe the behavior you actually observed.

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.
This is what I have in my CMakeList.txt, I am trying to use pybind11 with hpx

[code]

in

[2018-11-27 12:13] msimberg commented on #3567
Thanks for the report. `hpx::cout` is provided by a separate library/component and has to be linked to explicitly. To do so you can change your `hpx_setup_target(example)` to `hpx_setup_target(example COMPONENT_DEPENDENCIES iostreams)` (docs [here](https://stellar-group.github.io/hpx/docs/sphinx/latest/html/manual/creating_hpx_projects.html#cmake-macros-to-integrate-hpx-into-existing-applications)

[2018-11-27 18:05] jiazhenggod commented on #3567
Thanks.It works well now!

[2018-11-27 18:09] #3567 closed

[2018-11-28 08:39] #3550 closed

[2018-11-28 12:27] Jiazheng-Yuan opened #3568 "possible to use with pybind11?"
## Expected Behavior

... Please describe the behavior you would have expected.
code should run correctly

## Actual Behavior

... Please describe the behavior you actually observed.
[code]

## Steps to Reproduce the Problem

CMakeLists.txt file I used
[code]
instruction used to build
[code]
this is the cpp file i used
[main.txt](https://github.com/STEllAR-GROUP/hpx/files/2624431/main.txt)
these t

[2018-11-28 13:02] hkaiser commented on #3568
Without looking to closely - we are successfully using HPX in conjunction with pybind11 here: https://github.com/STEllAR-GROUP/phylanx. However we had to go through some additional steps to make it work:

- HPX needs to be initialized explicitly in the background. This was done by creating an instance of a special type that initializes HPX during construction and tears it down during destruction,

[2018-11-28 22:07] jiazhenggod commented on #3568
I was trying to call python from C++. Looks like Phylanx was called from python? Any example for calling python from C++?

[2018-11-29 10:31] Jiazheng-Yuan opened #3569 "compatibility issue with pybind11"
behavior:
error: 'run_as_hpx_thread' is not a member of 'hpx'
     hpx::run_as_hpx_thread(get);
          ^~~~~~~~~~~~~~~~~
and
error: 'run_as_hpx_thread' is not a member of 'hpx::thread'
     hpx::thread::run_as_hpx_thread(get);

I tried the hpx::future  with some basic python libraries through pybind11 such as numpy in it and it will crash. So i guess this is probably not compatible. Then I try

[2018-11-29 12:32] hkaiser commented on #3569
You'll need either `hpx_main.hpp` or `hpx_start.hpp`, but not both (depending on how you want to launch HPX, see the docs for more details). For `hpx::thread::run_as_hpx_thread();` you'll need to `#include <hpx/runtime/threads/run_as_hpx_thread.hpp>` (see https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/run_as_hpx_thread.hpp).

Otherwise, I will try to find some time today to l

[2018-11-29 19:52] diehlpk opened #3570 "Update HPX to work with the latest VC version"
## Expected Behavior

HPX should compile using VC

## Actual Behavior

HPX has some issues with internal changes of VC

## Steps to Reproduce the Problem

  1.  git clone VC master
  1.  Compile HPX with VC

## Specifications

  - HPX Version: master
  - Platform (compiler, OS): fedora 28

[2018-11-29 19:56] diehlpk commented on #3570
@hkaiser This is the bug, we talked about in the meeting this morning.

[2018-12-01 16:35] hkaiser commented on #3570
@diehlpk Vc master is under heavy development and I think we should stick to the latest released version (V1.4.1, see https://github.com/VcDevel/Vc/releases/tag/1.4.1). Alternatively we could use the V1.4 branch in the main repo. I will make sure HPX compiles ok using this branch.

[2018-12-01 16:37] diehlpk commented on #3570
@hkaiser Sure, I am fine with 1.4.1. I will add an ticket to octotiger.

[2018-12-02 16:44] #3570 closed

[2018-12-02 17:42] #3565 closed

[2018-12-04 15:15] junghans opened #3575 "Merge openSUSE reproducible patch"
https://bugzilla.novell.com/show_bug.cgi?id=1100677
patch here:
https://build.opensuse.org/request/show/653867

maybe needs an CMake option.

/cc @bmwiedemann

[2018-12-04 17:05] biddisco commented on #3348
@sithhell - Have you had any thoughts about this - and does the work you are doing with the scheduler go in this kind of direction? Is there another/better way of achieving parity performance with OpenMP for the parallel-for style tight loops?

[2018-12-05 11:14] sithhell commented on #3348
I think our problems are two fold. We need solutions being developed from top-down (the algorithm point of view) and bottom-up (optimization in the scheduling). They can progress more or less independently. The fork/join pattern is currently not very well implemented (in terms of performance), that means we have a lot of performance on the table due to dynamic memory allocation of the shared state

[2018-12-05 13:14] hkaiser commented on #3348
We currently have two different higher-level constructs encapsulating local fork/join semantics: [`task_block`](https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/task_block.hpp) and [`spmd_block`](https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/spmd_block.hpp). While the first currently uses a list of futures for synchronization, the second one uses a barrier. I have no

[2018-12-05 16:06] david8dixon opened #3578 "Build error when configuring with HPX_HAVE_ALGORITHM_INPUT_ITERATOR_SUPPORT=ON"
## Note to developers
Before I get started, I just want to say that you provide an impressive build system.
[code]
and in my build system `find_package(HPX)` just worked out of the box!

## Expected Behavior

A successful build

## Actual Behavior

/hpx/hpx/parallel/algorithms/merge.hpp fails to build, but I haven't gotten past resolving the errors in this file so there could be more. The first er

[2018-12-05 23:43] hkaiser commented on #3578
FWIW, the problem is here: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/algorithms/merge.hpp#L850

@david8dixon thanks for reporting. We'll fix this asap.

[2018-12-06 13:22] biddisco opened #3579 "Executor overheads"
## Expected Behavior
Insignificant overheads for default executor

## Actual Behavior
Use of executors slows down async and apply invocation noticably/significantly

## Steps to Reproduce the Problem
Testing with the performance test `future_overheads` gave me surprising results as my implementations are much slower than the existing ones.
I added a few new methods to the test, however the interes

[2018-12-06 13:35] hkaiser commented on #3575
@diehlpk would you be able to take care of this?

[2018-12-06 13:43] msimberg commented on #3578
@david8dixon I just want to point out that while we will fix the error you might not want to rely on `HPX_HAVE_ALGORITHM_INPUT_ITERATOR_SUPPORT` because we've deprecated it will remove it 6-12 months.

[2018-12-06 13:56] biddisco commented on #3579
There may be some processor throttling or other effects that cause variance and differences between runs depending on the order they occur.

Here I have reordered the tests so that the fast action one is after the slower ones
[code]
Now it is not quite so obviously faster.

[2018-12-07 03:53] diehlpk commented on #3575
@hkaiser Yes

[2018-12-07 11:46] bmwiedemann commented on #3575
btw, there is also similar detection for `rdtsc` but it is available on all CPUs since the first Pentiums (~25y), so I think the cmake logic can be simplified by assuming it is always there.

Oh and it is "openSUSE" - nearly everyone gets the caps wrong.

[2018-12-07 13:00] junghans commented on #3575
@diehlpk, do have an account on https://build.opensuse.org/, there are more requests coming in: https://build.opensuse.org/request/show/655994

[2018-12-07 15:43] junghans opened #3583 "Fedora and openSUSE instructions missing on "Distribution Packages" page"
http://stellar.cct.lsu.edu/downloads/distribution-packages/ should include a Fedora section:
[code]
and a openSUSE section
[code]

Also the gentoo package has been updated in https://github.com/gentoo/gentoo/commit/5c46ec87475d02e0de1f0fd1df85d7e364359959 and the user can install different version using:
[code]
with `0.9.99`, `1.0.0`, `1.1.0`, `1.2.0` and `9999` (master) being available for `VERSI

[2018-12-07 16:49] diehlpk commented on #3575
@junghans No, but sure I can create one.

[2018-12-07 17:01] junghans commented on #3575
@diehlpk go ahead an let me know your username.

[2018-12-07 17:06] diehlpk commented on #3575
@junghans my username is diehlpk

[2018-12-07 17:08] diehlpk commented on #3509
@junghans I started to work on this, but compilation on my pi is so slow. Might take some time to get things fixed.

[2018-12-07 17:55] diehlpk commented on #3575
We have the option `HPX_WITH_BUILD_DISTRIBUTION`, which disables the check for rdtscp. This option needs to be to turned on for future releases of HPX packages.

[2018-12-07 17:56] sithhell commented on #3509
This issue should appear when using a cross compilation toolchain as well.

Am Fr., 7. Dez. 2018 18:08 hat Patrick Diehl <notifications@github.com>
geschrieben:

[2018-12-07 17:58] sithhell commented on #3575
I'm not a fan of merging this particular patch. While I see the issue with cross compilation, rdtscd should just be turned of when building the rpms. Using rdtscd is an optimization, which we shouldn't just throw away.

[2018-12-07 18:00] junghans commented on #3575
Huh, https://build.opensuse.org/user/show/diehlpk isn't working yet...

[2018-12-07 18:01] diehlpk commented on #3575
@sithhell This is what we exactlt intent do do, just do not use rdtscp when building deb or rpm packages of hpx.

[2018-12-07 18:02] diehlpk commented on #3575
it might take some time until my account is activated. I could login and verify my e-mail address at least.

[2018-12-07 20:56] junghans commented on #3575
Can you branch https://build.opensuse.org/package/show/science:HPC/hpx?

[2018-12-07 22:37] diehlpk commented on #3583
@aserio Can you please take care of this?

[2018-12-08 02:37] diehlpk commented on #3575
Yes, Could log in and home:diehlpk:branches:science:HPC > hpx

[2018-12-08 09:44] biddisco commented on #3509
'bus error' on arm means that an unaligned access is occurring. I've had this before and fixed it a long time ago. If memory serves, we had one boost related problem and one hpx one, but for the life of me I cannot remember what they were. I will investigate this evening and see if I can find what the problem was.

[2018-12-08 13:18] junghans commented on #3575
On science:HPC/hpx: Added user diehlpk with role maintainer

[2018-12-08 18:39] junghans commented on #3509
`-march=native` is a no-go for rpm packages as every distro injects their own optimization flags!

[2018-12-08 18:49] diehlpk commented on #3509
@junghans Yes, I know, my priority for now is to get it compiled directly on the PI for a different project. Later, I will focus on the Fedora package.

[2018-12-08 19:08] diehlpk commented on #3509
@biddisco Could you please share the CMake Options you used to build HPX? Did you do a cross compilation or directly on the PI?

[2018-12-08 21:01] bmwiedemann commented on #3575
@sithhell when I played with rdtsc, it was a lot faster than rdtscp (because it does not drain the execution pipeline), so I wonder where the optimization is. Maybe the added cpuid instruction takes some time and also drains the pipeline... but then how often do you call the timestamp / tick_counter / scheduling_loop functions?

[2018-12-09 01:29] diehlpk commented on #3509
@biddisco  https://github.com/boostorg/lockfree/issues/11#issuecomment-209777682

[2018-12-10 08:10] msimberg commented on #3583
I've just updated the page (stellar-group.org as well).

[2018-12-10 08:10] #3583 closed

[2018-12-10 11:33] junghans commented on #3583
@msimberg, One more nitpick, the `layman -a science` part isn't needed anymore for the master version on Gentoo!

[2018-12-10 12:45] msimberg commented on #3583
Thanks @junghans for the nitpick! Fixed.

[2018-12-10 21:43] khuck opened #3587 "HPX won't compile on POWER8 with Clang 7"
## Expected Behavior

I expect HPX to compile

## Actual Behavior

I am getting this error:
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.```cmake -DCMAKE_BUILD_TYPE=Release -DBOOST_ROOT=/home/users/khuck/src/phylanx/tools/buildbot/build-centaur-ppc64le-Linux-clang/boost-1.65.1_avx -DTCMALLOC_ROOT=/usr/local/pa

[2018-12-10 22:12] khuck commented on #3587
this was a broken compiler issue.

[2018-12-10 22:12] #3587 closed

[2018-12-11 12:52] biddisco commented on #3587
How did you determine that it was a compiler fault?

[2018-12-11 15:43] junghans opened #3589 "include could not find load file: HPX_Utils.cmake"
On Fedora 29:
[code]

Create a `CMakeLists.txt` with:
[code]
now run:
[code]

one gets:
[code]

Looking at `/usr/lib64/openmpi/lib/cmake/HPX/HPXMacros.cmake` it seems the hard-coded `CMAKE_MODULE_PATH` in there is wrong. It is set to `/usr/lib/cmake/HPX` instead of `/usr/lib64/openmpi/lib/cmake/HPX`.

[2018-12-11 15:45] junghans commented on #3589
I added a fix in https://github.com/STEllAR-GROUP/hpx/pull/3555/commits/c527cf4f9faac332a53ba7abba1c18645db5984b (part of #3555).

[2018-12-15 19:30] diehlpk commented on #3509
@junghans I will try to do a new build for the Fedora rpm package next week.

[2018-12-15 19:39] diehlpk commented on #3509
Once #3591 is merged, this issue can be closed.

[2018-12-15 20:34] CyberDrudge opened #3592 "Undefined Reference Error"
On Kali-Linux
Setting up a new HPX project:
[code]
Gives Error:
[code]
CMakeLists.cpp :
[code]
Main.cpp:
[code]

[2018-12-15 20:43] NK-Nikunj commented on #3592
@CyberDrudge you need to add iostream component as a dependency.

Change the **add_hpx_executable** to:
`add_hpx_executable(my_hpx_program SOURCES main.cpp COMPONENT_DEPENDENCIES iostreams)`

[2018-12-16 14:40] junghans commented on #3511
@sithhell, s390x defines `__s390x__`.

/cc @diehlpk

[2018-12-16 14:41] junghans commented on #3509
@diehlpk, it would be nice to fix #3511 as well.

[2018-12-17 08:46] msimberg commented on #3592
@CyberDrudge, I'm guessing you copied this from the quick start guide? This has come up before, and I'm getting the feeling the instructions are not as clear as they could be. Would it have been easier for you to start if we would just have included the `iostreams` dependency in the first `CMakeLists.txt` example?

On a more meta-level, this is a problem that would (in a sense) be solved by #3546.

[2018-12-17 13:16] #3589 closed

[2018-12-17 15:39] diehlpk commented on #3509
@junghans I would need to setup a cross compilation to work on this or I would need to access to one node to fix the compilation there. I could do it later next year, but right now it is not on my priority list.

[2018-12-17 15:59] junghans commented on #3509
@diehlpk, or just play around on openSUSE build, it was s390x VMs, too. Looking at https://github.com/STEllAR-GROUP/hpx/issues/3511#issuecomment-436376077 there is only a `__S390x` define missing somewhere in `util/hardware/timestamp.hpp`.

[2018-12-17 16:11] diehlpk commented on #3509
@junghans Ok, I maybe will have a look later next year.

[2018-12-18 15:55] diehlpk commented on #3509
@hkaiser This issues can be closed, due to #3591

[2018-12-18 16:22] junghans commented on #3509
Github's auto-magic will close it once #3591 got merged.

[2018-12-18 21:09] diehlpk opened #3594 "Error: The number of OS threads requested (20) does not match the number of threads to bind (12): HPX(bad_parameter)"
## Expected Behavior

Example should run

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX on  ppc64le
  1. jemalloc-5.0.1
  1. hwloc-1.11.7/
  1. clang 7.0
  1. boost_1_65_0

## Specifications

... Please describe your environment

  - HPX Version:
[code]

- OS version

[code]

[2018-12-19 08:44] #3575 closed

[2018-12-19 12:57] hkaiser commented on #3592
I think we can close this. Please reopen if the problem persists.

[2018-12-19 12:57] #3592 closed

[2018-12-19 16:59] diehlpk commented on #3594
[code]

[2018-12-20 15:44] Ignition opened #3597 "Make share() a rval ref-qualified member function"
In my opinion, `shared_future<T> future::share()` should be rvalue reference qualified. This would prevent subtle bugs since compilers/static analysers can warn the developer about use after move. This would remove runtime bugs.

Hence the signature should be `shared_future<T> future::share() &&`

This would turn `auto sf = f.share();` into `auto sf = std::move(f).share();` which isn't as clean bu

[2018-12-20 16:44] Ignition commented on #3597
I know this makes it code quite ugly but also the same applies IMO to `then` and `get`

[2018-12-20 21:13] diehlpk opened #3598 "Build of some examples fails when using Vc"
## Expected Behavior

Example should compile without linking errors

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Build HPX with VC

## Specifications

... Please describe your environment

  - HPX Version: 072ff5386bb0361f7832dd0d1b0dd3c01b453ecd
  - Platform (compiler, OS): gcc 8.2, VC 1

[2018-12-20 21:22] diehlpk commented on #3598
`[ 67%] Built target transpose_block_numa`

when I changed
[code]

[2018-12-22 14:30] hkaiser commented on #3597
@Ignition thanks for this suggestion. Yes, we have discussed this in the past but have decided to go with what was  proposed by the Concurrency TS where `share()` is not ref-qualified. The same applies to `when_all` and friends that consume the futures passed as arguments (even if those are not rvalues).

For now I'd suggest we leave things as is (to avoid breaking code). What do others think?

[2018-12-27 22:45] diehlpk commented on #3594
It was a stupid bug on my side because `HPX_HAVE_MAX_CPU_COUNT` was too small with respect to the cores on the system. We should improve the error handling on this side and warn the user here that the configured HPX with having `HPX_HAVE_MAX_CPU_COUNT` set to small with respect to the current topology of the system. I will provide a PR soon for improving the error messages.

[2019-01-01 14:49] hkaiser commented on #3598
@diehlpk Our Vc detection in the build system already adds `${Vc_LIBRARIES}` to the linker command line (see here: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_SetupVc.cmake#L61). This happens for Vc V1.4, at least. Let's have a look at your setup more closely to find out why you're seeing this problem.

[2019-01-02 17:04] #3453 closed

[2019-01-02 17:05] #3509 closed

[2019-01-02 18:02] diehlpk commented on #3598
[code]

[2019-01-02 18:03] diehlpk commented on #3598
My CMake configuration
[code]

[2019-01-02 20:24] diehlpk commented on #3598
@hkaiser  `-DHPX_WITH_DATAPAR_VC_NO_LIBRARY=OFF` resolves the issue.

[2019-01-02 21:02] #3598 closed

[2019-01-03 04:15] diehlpk opened #3601 "Missleading error message on power pc for rdtsc and rdtscp"
## Expected Behavior

We might should disable this checks for powerpc, because rdtsc ad rdtscp are not available there.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Run CMake von PowerPC

## Specifications

... Please describe your environment

  - HPX Version: Not important
  - Platform

[2019-01-03 12:04] hkaiser commented on #3601
Could we add some PPC specific implementation of this (see: https://stackoverflow.com/questions/5883124/whats-the-equivalent-of-rdtsc-opcode-for-ppc)? I'm sure people want to see performance measurement results on this platform as well.

[2019-01-03 19:21] diehlpk commented on #3601
@hkaiser I will have a look into it.

[2019-01-04 12:17] #3594 closed

[2019-01-04 14:44] hkaiser commented on #3034
FWIW, here is an example where this technique was used: https://cista.rocks/.

[2019-01-05 19:54] #3482 closed

[2019-01-05 19:56] hkaiser commented on #3482
@diehlpk FWIW, if you add for instance 'Fixes #3482' to the description of your PR, GitHub will auto-close this ticket once the PR is merged.

[2019-01-07 10:33] msimberg commented on #2999
Closing because of #3415.

[2019-01-07 10:33] #2999 closed

[2019-01-08 09:49] msimberg opened #3609 "executor_parameters timeout with gcc <= 7 and Debug mode"
The `executor_parameters` test times out with gcc version 7 and down (Boost 1.66 and down) in Debug mode. However, I can't reproduce this, so I'm just opening this for the record in case someone else is able to reproduce it. Example failure: http://rostam.cct.lsu.edu/builders/hpx_gcc_5_boost_1_62_centos_x86_64_debug/builds/190.

[2019-01-08 12:23] msimberg commented on #3554
Closing since #3531 was merged. Please reopen if the warnings remain.

[2019-01-08 12:23] #3554 closed

[2019-01-08 14:00] hkaiser commented on #3609
@msimberg I think this is a more general problem not (only) related to this particular test. On CircleCI we're seeing occasional hangs with varous tests as well.

[2019-01-08 14:05] msimberg commented on #3609
I think it's both. There is a more general problem, but if you have a look at buildbot you'll see that `executor_parameters` is definitely problematic. But maybe you're saying that it could be the same underlying cause, and `executor_parameters` just happens to trigger it more reliably?

[2019-01-09 10:36] msimberg opened #3612 "False sharing of scheduling counters"
Scheduling counters are currently stored by type in vectors for all threads (https://github.com/STEllAR-GROUP/hpx/blob/30706cbf1e390e3d6cd420c2871ddd4982ce11bc/hpx/runtime/threads/detail/scheduled_thread_pool.hpp#L319-L377). This leads to false sharing between threads updating the counters. Especially the idle and busy loop counts are read and written frequently and lead to unnecessary stalls. The

[2019-01-09 13:08] hkaiser commented on #3612
Excellent catch!

[2019-01-09 13:55] msimberg commented on #3612
Probably a (small) part of the behaviour in #3452.

[2019-01-09 14:35] hkaiser commented on #3612
@msimberg the required changes are simple but invasive. I'll try to have a look.

[2019-01-10 10:13] #3612 closed

[2019-01-11 19:59] parsa opened #3616 "HPX Fails to Build with CUDA 10"
## Expected Behavior

For HPX to configure and build with CUDA support enabled.

## Actual Behavior

Works with CUDA 9.2 but the following error message is displayed while configuring with CUDA 10.
[code]

Full output:
[code]

## Steps to Reproduce the Problem

Run the following on Rostam:
[code]

## Specifications

  - HPX Version: a8cefc7cd35a5d6fc30936a851905827be7f53a8
  - Platform (compiler,

[2019-01-11 22:59] hkaiser commented on #3616
@biddisco would you have the time to have a look, please? I believe it's your example that tries to pull in CUBLAS...

[2019-01-11 23:01] hkaiser commented on #3616
@parsa as a workaround, if you disable building the examples (`-DHPX_WITH_EXAMPLES=Off`) it should work.

[2019-01-12 04:01] parsa commented on #3616
@hkaiser The error is raised despite`HPX_WITH_EXAMPLES=Off` being set.

[2019-01-12 15:44] hkaiser commented on #3616
@parsa thanks. Is there a CMake variable telling whether CUBLAS is available?

[2019-01-12 16:19] parsa commented on #3616
@hkaiser I don't know if [`FindCUDA.cmake`](https://cmake.org/cmake/help/v3.3/module/FindCUDA.html) does set something but I printed out all CMake variables at the end of HPX's configuration and found these:
* `CUDA_CUBLAS_LIBRARIES=/usr/local/cuda-10.0/lib64/libcublas.so;CUDA_cublas_device_LIBRARY-NOTFOUND`
* `CUDA_cublas_LIBRARY=/usr/local/cuda-10.0/lib64/libcublas.so`
* `CUDA_cublas_device_LIBR

[2019-01-12 16:33] hkaiser commented on #3616
@parsa according to https://github.com/clab/dynet/issues/1457 this is a CMake error. Upgrading to CMake V3.12.2 should fix it.

[2019-01-12 17:51] parsa commented on #3616
@hkaiser Tried with CMake 3.13.2 and it worked. Should we add a warning for this?

[2019-01-12 19:10] hkaiser commented on #3616
@parsa if CUDA 10 is used with a CMake version that is too old we should either disable the affected tests/examples (and emit a warning).

[2019-01-17 21:01] parsa opened #3622 "VTune Amplifier 2019 not working with use_itt_notify=1"
## Expected Behavior

For VTune Amplifier to successfully collect data and analyze the performance of `hello_world`.

## Actual Behavior

The message "Failed to finalize the result" is displayed:
![a](https://user-images.githubusercontent.com/322657/51347389-8eb8b700-1a65-11e9-9651-773d5d45d3b7.png)

## Steps to Reproduce the Problem

1. Clone HPX
2. Execute the following:
[code]
3. Run VTune Ampl

[2019-01-18 09:04] teonnik opened #3623 "Modular HPX branch and an alternative project layout"
Hi! I am following the development of the library closely and I noticed the following commit : https://github.com/STEllAR-GROUP/hpx/commit/52a9eda35c4de5b4726043d56d836bdb79e1a400 discussing a possible layout for a modularized HPX library. The layout follows a rather common structure among open source C++ projects, which is great! Recently, there has been some effort to formally write-up a convent

[2019-01-18 19:38] parsa commented on #3622
It works with VTune Amplifier 2019 Update 2.

[2019-01-18 19:38] #3622 closed

[2019-01-19 20:58] hkaiser commented on #2524
@ZiCog as @sithhell said above, you might have to install the -dev packages, depending on your distro.

[2019-01-21 10:45] sithhell commented on #3623
Thanks for the comments. The commit you mentioned is part of #3582. I think the actual layout/naming/structure of the different modules/components/sublibraries is something that can be easily changed once we disentangled our code.

I am not a big fan of the Merged Header Placement. I actually do prefer to have a tidy, hierarchical set of directories. Why do you think is it more beneficial for C++

[2019-01-21 12:02] teonnik commented on #3623
I was a bit vague in that section. I meant to say that with modules, the incentive to split the interface and implementation in separate files (i.e. hpp and cpp) is not there. Most people will prefer to put everything in a single file (the module). Hence, the `include/src` split is, likely, not a good fit for modules and everything will be just under a single directory. I think that was mentioned

[2019-01-27 18:40] chinz07 opened #3634 "The build fails if shared_future<>::then is called with a thread executor"
## Expected Behavior

The build should succeed.

## Actual Behavior

The build fails with the error
[code]
The full error message is:
[code]

The culprit seems to be the call to the `then` overload at `hpx/lcos/future.hpp:1383` which causes the loss of static type information.

## Steps to Reproduce the Problem

The following code should reproduce the problem:
[code]

## Specifications

  - HPX Ve

[2019-01-27 18:59] hkaiser commented on #3634
This is most likely a bug. I'll investigate. Thanks!

[2019-01-27 19:18] chinz07 commented on #3634
Hm. Mimicking the structure of `future::then<>` and removing the overload while adding an additional case for thread executors to the generic template does seem to solve the issue. I am still concerned that `hpx::traits::is_threads_executor` only checks if the executor is derived from `executor` but not if it is actually a `scheduled_executor` as required by the implementation.

I will run the ent

[2019-01-27 21:07] bremerm31 opened #3635 "Non-deterministic crashing on Stampede2"
## Expected Behavior
I would hope that the following script would execute without any issues.
[code]

## Actual Behavior

When I run the following script a large number of times. The code non-deterministically crashes, e.g. 3/200 times on an `idev -N 1 -n 2 -p skx-dev` session on Stampede2. The executable is launched using `ibrun`. The error message is [error_message.txt](https://github.com/STEllA

[2019-01-28 07:11] sithhell opened #3636 "HPX Modularization"
This is a follow-up on #3546 to track all relevant work and refine the process further.
#3546 outlines a very coarse modular structure, this ticket is, however, proposing to start with fine-grained modules to ease the transition and starts with a small set of independent entities.
- [x] General layout and helpers for modularization (#3582)
- [x] Preprocessor programming (#3629)
- [x] Configuration

[2019-01-28 17:01] chinz07 commented on #3634
Except for the usual problems, my changes do not seem to break any tests. I have submitted a PR (#3637) with a possible fix and a test demonstrating the issue.

[2019-01-29 23:00] diehlpk opened #3638 "Build HPX 1.2 with boost 1.69"
## Expected Behavior

HPX should build with boost 1.69

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Download HPX 1.2
  1. Compile boost 1.69
  1. Compile HPX

## Specifications

... Please describe your environment

  - HPX Version: 1.2
  - Platform (compiler, OS): gcc 8.2.1, Fedora 29

[2019-01-29 23:14] diehlpk commented on #3638
Master compiles with https://github.com/STEllAR-GROUP/hpx/commit/fde86e38dcc2d4941b91cc75a84948a4a5f8e3d6#diff-eaefb7cfedcbd7092bb906067dd0f2b7 and we need a diff for HPX 1.2 to prepare it for Fedora 30

[2019-01-30 00:12] hkaiser commented on #3638
@diehlpk Here is the actual diff: https://github.com/STEllAR-GROUP/hpx/commit/fde86e38dcc2d4941b91cc75a84948a4a5f8e3d6.diff

[2019-01-30 22:33] hkaiser opened #3639 "util::unwrapping does not work well with member functions"
The issue is described in detail in this post: https://stackoverflow.com/questions/54390555/compilation-error-with-hpxdataflow-and-member-function

[2019-01-31 22:22] david8dixon opened #3641 "Trouble with using ranges-v3 and hpx::parallel::reduce"
This may be more appropriate for stack overflow, but... I was hoping to get some advice on how to convince hpx that it is safe to apply a parallel reduction to a `ranges::view::transform` that unfortunately winds up with an input iterator category (see detail below).

I tried this:
[code]
where IterR is:

[code]

## Expected Behavior

I would like to pass the result of `ranges::view::transform` to

[2019-02-01 17:05] hkaiser commented on #3641
Looks like we need to teach our algorithms about the new iterator categories exposed by the Ranges TS. HPX decides about the category of a given iterator based on its own traits (see: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/traits/is_iterator.hpp). That also has some support for the Boost traversal categories (which apparently doesn't work as expected).

[2019-02-01 17:39] david8dixon commented on #3641
Thanks Hartmut. I look forward to seeing Ranges support in hpx!

[2019-02-01 17:51] hkaiser commented on #3641
@david8dixon Could you give me a minimal, self contained test case (beyond what's linked on wandbox above - that one does not rely on the Boost traversal tag).

Also, I'm afraid things are more complicated as our algorithms generally assume for the begin/end iterators to have the same type. That's another thing we'd need to fix.

[2019-02-01 18:09] hkaiser commented on #3641
The following code gives no compilation error:
[code]
So I'm not sure why you're seeing the error above.

[2019-02-01 18:53] diehlpk opened #3643 "Warnings when compiling HPX 1.2.1 with gcc 9"
## Expected Behavior

... Please describe the behavior you would have expected.

## Actual Behavior

[code]
Full log: https://kojipkgs.fedoraproject.org//work/tasks/9834/32429834/build.log

## Steps to Reproduce the Problem

  1. Compile hpx 1.2.1 with gcc 9 and boost 1.69. Maybe, the boost version is not relevant for these warnings

## Specifications

... Please describe your environment

  - HPX

[2019-02-01 22:04] apmccartney commented on #3641
Hello Harmut!

You are correct that the example in question compiles and is working as intended, but demonstrates two work arounds we hope to do away with when rebasing on some future version of HPX.

+ `ranges::view::bounded` provides a means to satisfying the homogeneous Iterator/Sentinel requirements of HPX's current algorithms. This is (imo) a reasonable client-side work around for the time be

[2019-02-01 23:44] hkaiser opened #3646 "Parallel algorithms should accept iterator/sentinel pairs"
Our parallel algorithms currently expect for the begin/end iterator pairs to be of the same type. This is an unnecessary limitation. We should relax that.

Here is the list of algorithms that need to be adapted:

- [x] `adjacent_difference` (#5564)
- [x] `adjacent_find`  (#4996)
- [x] `all_of` `any_of` `none_of`
- [x] `copy` `copy_if` (#4821)
- [x] `move`
- [x] `count` `count_if`
- [x] `equal` (#4

[2019-02-01 23:47] hkaiser commented on #3641
@apmccartney Thanks for the extensive clarification. You were asking:

Absolutely! That would be very much appreciated.

Also, FWIW, I just created a ticket for us to adopt the iterator/sentinel model for all of our algorithms (see #3646). That shouldn't be difficult, it's just a lot of work.

[2019-02-02 02:08] hkaiser commented on #3641
@apmccartney Thanks for the test case. Let's make this work - I will fix `reduce` and you can provide us with the PR for the `is_..._iterator` traits.

[2019-02-02 19:59] junghans commented on #3511
Ping @sithhell

[2019-02-02 21:06] hkaiser commented on #3511
@junghans Please see #3648. Could you try again?

[2019-02-02 21:50] hkaiser commented on #3601
@diehlpk please see #3649 for a possible fix.

Also please note that we do already have PPC support for taking timestamps (see: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/util/hardware/timestamp.hpp#L36-L37). This currently falls back to `clock_gettime`, so it could be improved by using some low-level assembly instead, possibly the ones described here: https://stackoverflow.com/a/5303937

[2019-02-02 22:46] #3639 closed

[2019-02-02 23:39] hkaiser commented on #3641
@apmccartney I have now modified `reduce` to support iterator/sentinel pairs (see #3650)

[2019-02-03 01:36] hkaiser commented on #3634
This can be closed as #3637 was merged.

[2019-02-03 01:36] #3634 closed

[2019-02-03 01:37] hkaiser commented on #3616
This is not an HPX issue, closing...

[2019-02-03 01:37] #3616 closed

[2019-02-03 01:39] hkaiser commented on #3560
@biddisco I think this has been fixed recently (see: #3624). Please reopen, if needed.

[2019-02-03 01:40] hkaiser commented on #3437
This can be closed as #3432 was merged.

[2019-02-03 01:40] #3437 closed

[2019-02-04 05:35] #3601 closed

[2019-02-04 08:47] arkantos493 opened #3651 "hpx::parallel::transform_reduce with non const reference as lambda parameter"
## Expected Behavior

`hpx::parallel::transform_reduce` should compile with non const reference parameter in lambda function as convert operation.

## Actual Behavior

See: [https://stackoverflow.com/questions/54504021/hpx-transform-reduce/54508775#54508775](https://stackoverflow.com/questions/54504021/hpx-transform-reduce/54508775#54508775)
`hpx::parallel::transform_reduce` doesn't compile with t

[2019-02-04 10:25] sithhell opened #3653 "lambda_to_action is broken"
Currently, lambda_to_action is broken since it leads to undefined behavior. The problem is, that a nullptr is being dereferenced here:
https://github.com/STEllAR-GROUP/hpx/blob/387c26cc7ee5814ca4df73ce2a9f4c5c6ffae3a7/hpx/runtime/actions/lambda_to_action.hpp#L56-L57

[2019-02-04 13:12] hkaiser commented on #3651
N4687 (the last draft of C++17) says in 29.8.5 [transform.reduce]: "Neither unary_op nor binary_op shall invalidate subranges, or modify elements in the range [first, last]."

I will investigate why it is possible not possible to accept the element by reference, but I'd assume that's to avoid modifying it.

[2019-02-04 13:15] arkantos493 commented on #3651
If you are not allowed to modify the elements why can you pass a normal pointer with compilation error?

[2019-02-04 13:20] hkaiser commented on #3651
@arkantos493: that's a good question that needs investigation. Would it be sensible to allow a reduce operation on a sequence of pointers (their values)? I guess not.

The answer for now probably would be: we didn't think about plain pointers when implementing the algorithm :/

[2019-02-04 13:58] apmccartney commented on #3641
I hope to have a pull request posted before the end of the day for review.

[2019-02-04 14:42] sithhell opened #3654 "Exception handling appears to be broken"
## Expected Behavior

Running the test suite with address sanitizer correctly

## Actual Behavior

When running tests which make use of exceptions, they fail with a "stack buffer underflow". When disabling these tests, everything is fine.

## Steps to Reproduce the Problem

Run, for example, the `suspend_pool` test with address sanitizer.

[2019-02-05 16:17] #3511 closed

[2019-02-05 16:18] #3643 closed

[2019-02-05 22:21] hkaiser commented on #3635
@bremerm31 could you please try again with current master? I think we just fixed a major race condition in `hpx::future` that could have caused your issues (https://github.com/STEllAR-GROUP/hpx/pull/3663).

[2019-02-06 01:00] bremerm31 commented on #3635
Just ran hello world with 6e35d04764bf4b44c30ed488dce3de8f9fc89f9e
0/1000 crashes for the Release build
0/1000 crashes for the RelWithDebInfo build
Impossible to say with absolute certainty, but I'd say this issue is fixed for now.

Thanks @hkaiser @sithhell !

[2019-02-06 01:00] #3635 closed

[2019-02-06 08:32] hkaiser commented on #3635
@bremerm31 thanks for letting us know! What a relieve!

[2019-02-07 08:10] msimberg opened #3670 "Generate PDF again from documention (with Sphinx)"
There was a request to have PDF documentation for printing. I'll try to get to this soon.

(I've also closed the previous PDF issue: #332.)

[2019-02-07 08:14] grantrostig commented on #3670
Much appreciated for those of us who read from paper, not flickering computer screens. :+1:

[2019-02-07 08:17] msimberg commented on #332
Closing since we're not using boostbook anymore.

[2019-02-07 08:17] #332 closed

[2019-02-07 13:24] hkaiser commented on #3670
Must have been the oldest still open ticket we've had ...

[2019-02-07 20:08] grantrostig commented on #3589
I get a similar, but different error.
Note that I do have c-lang on my system, but don't get the works check for "c"??
Also I get another earlier error on: HPX_Utils
Here is output:
+++++++++++++++++++++++++++++
[grostig@fx8150-grostig-com build]$ cmake -DCMAKE_PREFIX_PATH=/path/to/hpx/installation ..
-- The CXX compiler identification is GNU 8.2.1
-- Check for working CXX compiler: /usr/lib64/cca

[2019-02-07 20:11] grantrostig commented on #3589
@msimberg Note: I'm updating a similar, but different error on this issue.  I'm not sure it should remain closed until my problem is verified.

Also I have attached more detailed log file:
[CMakeOutput.log](https://github.com/STEllAR-GROUP/hpx/files/2842513/CMakeOutput.log)

[2019-02-07 20:16] grantrostig commented on #3589
Also note that since the other user mentioned a openmpi directory I did install openmpi on my system.  Not sure if that is a required package or not.  It did create that directory, but didn't change my error.

[2019-02-07 20:47] grantrostig opened #3671 "Packaged HPX distribution does not pull in all required packages for Fedora29 nor are they all documented."
## Expected Behavior

"sudo dnf install hpx" should install required packages, and those packages should be documented by listing all that are required (in "getting started").

Since the user is installing compiled packages, it should not be presumed that the user has "compiled HPX" and read that section, which does give some clues.

## Actual Behavior

"sudo dnf install hpx" does not install hwlo

[2019-02-07 21:17] diehlpk commented on #3671
[code]

[2019-02-07 21:18] diehlpk commented on #3671
@grantrostig Could you please post your output too, because on my machine
[code]
I can see hwloc as one of the dependencies.

[2019-02-07 21:20] diehlpk commented on #3671
Please not that `dnf install hpx` will install only missing dependencies and if you have hwloc already installed, it will not be shown there.

[2019-02-07 23:36] grantrostig commented on #3671
Yes, hwloc-libs is installed, but hwloc is not.  Apparently hwloc is needed, so that is a problem.

[2019-02-08 02:44] diehlpk commented on #3671
Ok, hwloc is just the name of the library. It is an fedora package name again, the package hwloc in fedora just contains the executables:

[code]

So hpx needs the packaged named hwloc [0], but we do not use these executables within hpx. We use the libraries hwloc-libs [1] when we install hpx and hpx-examples. For hpx-devel we need to install hwlox-devel [2]. So it is might be confusing due to the

[2019-02-08 03:15] diehlpk commented on #3671
@grantrostig Does this clarify your concerns? If so, the ticket can be closed.

[2019-02-08 03:46] grantrostig opened #3673 "HPX build fails with std::atomic missing error"
## Expected Behavior

building hpx from source

## Actual Behavior

[grostig@fx8150-grostig-com build]$ cmake -DCMAKE_INSTALL_PREFIX=/home/grostig/libs ..
-- CMake version: 3.12.1
-- HPX version: 1.3.0
-- No vectorization library configured
-- Native TLS is enabled.
-- Nice threadlevel is disabled.
-- Stack traces are enabled.
-- Compiling with the native toolset
-- C++ mode enforced: C++17
-- Per

[2019-02-08 03:55] grantrostig commented on #3673
Just verified that g++ can find atomic and that it can't find junk.
This shows that a missing library -ljunk gives an error, but no error on -latomic

[2019-02-08 04:37] grantrostig commented on #3673
Fix is to install libatomic and THEN clear out build directory and try again.  Doesn't cmake do that?  Guess not.  I just re-ran the cmake.  Can cmake properly restart without me having to know that I must remove the build dir contents manually?  Also, documentation should reflect need for libatomic to be installed, since it is not by default when gcc-g++ is installed.

[2019-02-08 06:25] grantrostig commented on #3671
The procedure for building the helloworld from source is the problem I reported.  Your fine explanation does not fix the problem.  A fix in the documenation is needed to discuss manual workarounds for what I call an error or a simple change in the dependencies on the package "hpx" is required, as well as all the other hpx packages, and also rewording of their description to be more clear.  Then it

[2019-02-08 10:17] msimberg commented on #3673
@grantrostig it's not 100% clear if you had to manually install libatomic or not, but if you did it seems like that is a real missing dependency (most likely for `hpx-devel`, even though I know in this case you're building from source).

And yes, CMake is a bit like that. In this case CMake is caching (or we have set CMake to cache) the check for libatomic, and the solution is indeed to wipe the b

[2019-02-08 11:33] msimberg commented on #3671
I'll try to summarize the state of this right now. First, keep in mind that the Fedora package is from December and we're learning as we speak. Unfortunately this leaves you, @grantrostig, as a guinea pig, and we appreciate your patience with us.

- 1.2.0 was a broken release, which is why we're preparing 1.2.1 which will contain fixes to the CMake configuration (and the HPX library itself). Tryin

[2019-02-08 15:39] diehlpk commented on #3673
@msimberg This issues is on the side from Fedora. There should be a dependency of libatomic to the gcc-c++ package. Currently, one need to install the package to compile hpx. For the hpx 1.2.1 fedora release, the package will be installed by `hpx-devel` as a workaround.

[2019-02-08 15:51] diehlpk commented on #3673
1) Doesn't cmake do that?

No cmake keeps the CMakeCache.txt in the build directory and the user needs to delete it.

2) Also, documentation should reflect need for libatomic to be installed, since it is not by default when gcc-g++ is installed.

Unfortunate,  this is very specific to Fedora and we decided to keep our documentation independent on any OS. We just have a generic tutorial how to comp

[2019-02-08 19:48] grantrostig commented on #3671
@msimberg , Thank you for your response.  I'm glad my work in testing is useful.  The steps you outlined and quoted below seem like a good plan.  I'm not sure who closes issues and if they are only closed after the issue has been tested and passed?  Another issue might have to be created to address your third point?

[2019-02-08 19:56] grantrostig commented on #3673
`@msimberg This issues is on the side from Fedora. There should be a dependency of libatomic to the gcc-c++ package. Currently, one need to install the package to compile hpx. For the hpx 1.2.1 fedora release, the package will be installed by `hpx-devel` as a workaround.`

@diehlpk , I disagree, we cannot blame the extremely high quality fedora distribution, it is not their issue, nor do I think t

[2019-02-08 20:00] grantrostig commented on #3673
`No cmake keeps the CMakeCache.txt in the build directory and the user needs to delete it.`

@diehlpk , I don't think your statement above is entirely accurate, I'm almost certain that the check could be written to re-verify the existence of a library at each run of the build.
Furthermore, I suggest that it be changed to do the check and other checks as needed for each time it is run, or that it b

[2019-02-08 20:19] grantrostig commented on #3673
`Unfortunate, this is very specific to Fedora and we decided to keep our documentation independent on any OS. We just have a generic tutorial how to compile hpx on Linux.`

@diehlpk , Firstly there is a page that is distribution specific that shows the "dnf" and "apt-get" commands etc for the packages install.  So some parts of the documentation are specific.  I can't find the other place it menti

[2019-02-08 20:22] grantrostig commented on #3673
`@grantrostig it's not 100% clear if you had to manually install libatomic or not, but if you did it seems like that is a real missing dependency (most likely for `hpx-devel`, even though I know in this case you're building from source). libatomic has cause us grief in the past as some compilers (and versions) seem to automatically link against it and some don't.`

@msimberg , please note that I'm

[2019-02-08 20:31] grantrostig opened #3675 "HPX package install documentation has wrong or incomplete package names/info for fedora"
## Expected Behavior

http://stellar-group.org/libraries/hpx/downloads/
`

Version | Url/Install Command
-- | --
Version 1.2.0 | dnf install hpx

`
Presumably one could start writing programs having installed this, and only this.  Yes I do see that it technically says "binaries".  Note there is a similar page which someone gave me a link to but I can't now find after 20 minutes of searching github

[2019-02-08 21:01] K-ballo commented on #3673
We could be clearing `HPX_HAVE_LIBATOMIC` before the check as long as `HPX_WITH_CXX11_ATOMIC` is false.

[2019-02-08 21:18] diehlpk commented on #3675
@grantrostig The nice things for open source software, you can contribute. I like to encourage you to do a pull request and show us how to like to have the documentation. It is somehow difficult for me, as the one who generated these packages and has more insights, to document it in such a way a newcomer understands it.

[2019-02-08 21:41] grantrostig opened #3676 "HPX master built from source, cmake fails to link main.cpp example in docs"
## Expected Behavior

Getting started helloworld manually typed example should build and run.
from here: https://stellar-group.github.io/hpx/docs/sphinx/tags/1.2.0/html/quickstart.html#hello-world

## Actual Behavior

link error:
[code]
here is output:
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

Have attached som

[2019-02-08 21:51] grantrostig commented on #3675
@diehlpk , do you know where that second page is?  It was mentioned in some HPX chat but I can't find it.

[2019-02-09 00:12] hkaiser commented on #3641
@apmccartney any news? can we help somehow?

[2019-02-09 19:15] grantrostig opened #3681 "Broken links on http://stellar.cct.lsu.edu/2015/05/hpx-archives-now-on-gmane/"
## Expected Behavior
Seeing the the two mail archives.  Or at least finding them on Gmane
http://stellar.cct.lsu.edu/2015/05/hpx-archives-now-on-gmane/

## Actual Behavior
Broken links are:
`Mailing Lists:
    hpx-users
    hpx-devel
`
Also, searching for the lists on Gmane results in error message, under construction.

## Steps to Reproduce the Problem
Click on the two links or even try a search.

[2019-02-09 20:47] hkaiser commented on #3681
@grantrostig yes, gmane is dead. try mail-archives instead (https://www.mail-archive.com/hpx-devel@stellar.cct.lsu.edu/ and https://www.mail-archive.com/hpx-users@stellar.cct.lsu.edu/)

[2019-02-09 21:00] hkaiser commented on #3681
The links have been fixed. Thanks for reporting.

[2019-02-09 21:00] #3681 closed

[2019-02-10 00:16] grantrostig commented on #3681
Confirmed fixed. Thanks.

[2019-02-10 00:22] grantrostig commented on #3681
NOT FULLY FIXED.  Sorry, but the webpage should no longer refer to Gmane, unless the plan is to go back to that system.

[2019-02-10 00:34] hkaiser commented on #3681
That's the reason why I left it in place as much as possible.

[2019-02-10 00:38] grantrostig commented on #3681
I agree.  Confirmed Closed.

[2019-02-10 03:00] diehlpk commented on #3675
@grantrostig I updated the documentation and mentioned the three sub packages, how to list all of them, and how to show more details about a specific package. Please let us know if this is sufficient or if you would expect more details on this specific page.

[2019-02-10 04:58] apmccartney commented on #3641
I apologize for the delay. I was planning to complete this work during a conference, but the proceedings turned out to require more attention than I'd anticipated. I've started work on the described functionality this afternoon and anticipate have a pull request posted by tomorrow evening.

[2019-02-10 07:22] grantrostig commented on #3675
@diehlpk , Looks good.  I do seem to recall another page mentioning dnf for fedora, but I can't find it.  I wonder if the other distributions would need similar handling.  Anyway I can't verify, so I'd say this is confirmed fixed.

[2019-02-10 14:51] hkaiser commented on #3641
@apmccartney Sorry if I made the impression to try rushing you. I just wanted to make sure you have the support you might need. Thanks for working on this!

[2019-02-11 08:47] msimberg commented on #3675
@grantrostig did you perhaps end up on [this](http://stellar.cct.lsu.edu/downloads/distribution-packages/) page? Unfortunately for various reasons we need both of these pages. @diehlpk would you mind adding the same text to that page?

[2019-02-11 09:06] msimberg commented on #3676
You're not the first one to encounter this error. What you're missing is a `COMPONENT_DEPENDENCIES iostreams` from your `add_hpx_executable` line, as explained [here](https://stellar-group.github.io/hpx/docs/sphinx/tags/1.2.0/html/quickstart.html#hello-world). I originally wanted to separate the minimal `CMakeLists.txt` from one that depends on `iostreams` but that seems to be harming more than he

[2019-02-11 10:47] msimberg commented on #3589
@grantrostig I'm pretty sure you're seeing the same error, and this has been fixed on master. If you don't manage to get past this on master please let us know and we can reopen this.

We're still figuring out what to do with the 1.2.0 package on Fedora which doesn't include the fix on master.

MPI is an optional dependency for HPX (and as far as I know if you install `hpx-openmpi*` packages on Fe

[2019-02-11 12:37] #3442 closed

[2019-02-11 12:37] #3673 closed

[2019-02-11 19:22] grantrostig commented on #3675
@msimberg , wow, you are excellent at following up!  Yes, that is it. :)  I'm not sure why I could not find it.

[2019-02-11 20:03] grantrostig opened #3689 "Incorrect and inconsistent website structure http://stellar.cct.lsu.edu/downloads/"
## Expected Behavior

The main navigation bar has links and dropdowns for some of the links.  If one goes to the main link, not one of the dropdown links, then: there should be a page that lists all the links of the dropdown links.  This is the overwhelming convention of websites like this, and in most cases this is done on this HPX website, however not always.  This variance cost me about 1 hour

[2019-02-11 20:04] grantrostig commented on #3675
@msimberg , I investigated why I could not find it and wrote up an issue on the matter here:
https://github.com/STEllAR-GROUP/hpx/issues/3689

[2019-02-11 20:30] grantrostig commented on #3676
@msimberg , Yikes!, it turns out,you are correct, and I didn't edit "CMakeLists.txt" as required by the instructions.

My apologies for filing this "dramatic" report.  I'm not sure that any change is needed to the documentation.

Here is a further analysis of the situation that may be helpful:

With me not knowing cmake, maybe I thought I had configured it well enough when I created the first vers

[2019-02-11 20:32] grantrostig commented on #3676
Which corrections to my error, it now compiles, links and runs!

[2019-02-11 20:33] grantrostig commented on #3676
OK so I found the changes and will look at them.

[2019-02-11 20:38] grantrostig commented on #3676
Change looks good to me.

[2019-02-11 22:07] aserio commented on #3689
I have made a few changes to the cct.lsu.edu website in response to this ticket:

* I have made a new page called "HPX Downloads" this page redirects to the original "Downloads" page. I think this is necessary to preserve links that we currently have to this page while still maintaining the convention mentioned in this ticket.
* I have added a page called "HPX GitHub Repository" which redirects to

[2019-02-12 01:30] grantrostig commented on #3689
@aserio , thank you, yes it is better, but still not "consistent".  You could preserve links and make it consistent by modifying the top menu link and going to a summary of links as is the common practice.

Also, the about page has not been fixed/"made consistent"

Also the fact that "contact us" wraps to the next line is not "attractive" in either firefox or chrome on win10 (and probably linux to

[2019-02-12 08:21] msimberg commented on #3676
Quite a bit in fact (without components it will still link against the main HPX library which contains most functionality). `iostreams` is most useful when you're running on multiple nodes because it will redirect output to the main node (locality). All of the parallel algorithms, async, futures are available without components. It's mostly things that might be needed in distributed applications t

[2019-02-12 12:34] tdauth commented on #3589
Same error on Fedora 29, please add an updated RPM.

[2019-02-12 13:03] msimberg commented on #3589
@tdauth we're working on a patch release, please stay tuned.

[2019-02-12 15:47] aserio commented on #3689
@grantrostig I have made some more changes to make the website more consistent including edits to the "Downloads" Menu and the "About" menu. Do these solve the issues reported by the ticket?

As far as the menu wrapping, I have no idea how to begin to address that issue. I agree that this "attractiveness" issue is not worth the time to fix it.

[2019-02-12 19:08] grantrostig commented on #3689
@aserio , you slightly/subtly misunderstood me.  Actually I was saying it would be desirable to fix the "contact us" to demonstrate the quality of the HPX project.  "Good enough" means, not very good, but passes anyway.  So the website passes.  That's adequate, but not excellent. ;)

Yes the changes you made do fully address the primary reason for this "issue".  Thank you.

Who is supposed to clos

[2019-02-12 19:17] grantrostig commented on #3675
NOT FIXED FULLY
@diehlpk , as it turns out, @msimberg , found the second page where your good edits are also needed.  Can you also make the changes there, or should I create another issue for that page?

Here is the page in question:
http://stellar.cct.lsu.edu/get-hpx/distribution-packages/

[2019-02-12 19:37] aserio commented on #3689
I can do it  :)

[2019-02-12 19:37] #3689 closed

[2019-02-12 19:39] grantrostig commented on #3689
Confirmed closed.

[2019-02-12 23:19] grantrostig commented on #3676
@msimberg , sounds good thanks for the explanation.  Confirmed Closed.

[2019-02-12 23:19] #3676 closed

[2019-02-13 10:13] sithhell opened #3696 "C++11 `constexpr` support is now required"
By adding:
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/topology.hpp#L444-L451

we now require C++11 `constexpr` support and should be able to get rid of `HPX_CONSTEXPR`, `HPX_CONSTEXPR_OR_CONST` and `HPX_STATIC_CONSTEXPR` macros.

[2019-02-13 13:01] hkaiser commented on #3696
Good catch! Should we turn that into a macro (optionally) instead? There is still NVCC having trouble with this, IIRC.

[2019-02-13 14:58] hkaiser opened #3698 "Ignore all locks while handling asserts"
We should globally ignore lock checking while handling asserts as otherwise it might throw an exception during assertion handling stating that there are being locks held during suspension.

[2019-02-13 15:00] hkaiser opened #3699 "Remove 'HPX runtime' executable"
The HPX runtime executable (https://github.com/STEllAR-GROUP/hpx/tree/master/runtime) is obsolete and completely unused. We should remove it altogether.

[2019-02-13 15:35] diehlpk commented on #3675
@grantrostig There is no need for a new ticket, I will update it soon. Right now, fixing the fedora hpx-devel compilation issues has a higher priority.

[2019-02-13 15:46] sithhell commented on #3696
I don't see problems with constexpr on nvcc or cuda-clang

[2019-02-14 13:45] msimberg commented on #3670
@grantrostig I've managed to build a PDF of our documentation, albeit with quite a few warnings (and ignored errors). The [output](https://github.com/STEllAR-GROUP/hpx/files/2865193/HPX.pdf) does look reasonable to me though. Does this look useful to you? I'd like to avoid going down the rabbit hole of trying to fix latex build errors unless needed. I'm afraid I'd never come out of it again.

If t

[2019-02-14 17:37] hkaiser commented on #3670
@msimberg that looks very nice! single-page html would be great, but I don't think man pages are of any value nowadays.

[2019-02-14 20:45] grantrostig commented on #3670
@msimberg , I will print and review the content (part of it) in the next few days.  Thank you.

@hkaiser , @msimberg , I _definitely_ want the man pages, both in print on paper sometimes, and via the command line always.

Man pages are the only complete and correct (if not too terse) documentation in a world of failed attempts at alternate documentation systems on the command line.  Man pages has

[2019-02-15 07:48] msimberg commented on #3670
@grantrostig thanks for having a look. Note that the manpages would just be exactly the same content as in the html or pdf documentation. Probably too verbose if anything.

[2019-02-15 20:01] grantrostig commented on #3670
@msimberg , well the PDF document is very nice and I have found no "formatting" problems at all yet.   But it is not a set of "man pages".

The important "boost" c++ library for instance does not offer man pages for programming libraries.  But the gcc compiler does for its "executable commands", such as the compile "gcc" or "g++".

Perhaps that would be a standard to eventually implement for binar

[2019-02-18 09:17] msimberg commented on #3670
No objections there. It's very much a least effort manpage.

Yes, that would definitely be nice, but you know how it is with time and priorities. I think this is low priority also for us.

[2019-02-18 11:56] hkaiser opened #3706 "Add shift_left and shift_right algorithms"
P0769 was accepted for C++20 (http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0769r2.pdf). This adds the `shift_left` and `shift_right` algorithms. We should implement those as part of our parallel algorithm module (see #1141).

See also for an exemplar (sequential) implementation of those here: https://github.com/danra/shift_proposal.

[2019-02-19 03:02] #3699 closed

[2019-02-19 09:29] msimberg commented on #3671
Status of the three points I made earlier:

- 1.2.1 is just about to be released, and fixes the packaging issues that we were aware of
- @diehlpk is libatomic now a dependency of HPX in the new Fedora spec files?
- @diehlpk could you take a look through the Fedora section in the manual and make sure it doesn't contain any out-of-date or wrong information, and clean it up if needed?

[2019-02-19 16:56] diehlpk commented on #3671
Yes, it is a new requirement

[2019-02-21 08:11] #3698 closed

[2019-02-24 13:20] Yashwanth711 opened #3717 "interested to contribute to the organisation"
Hello Everyone, my name is Yashwanth. I am a third year Undergraduate from IIT Bhubaneswar. I am proficient in C++,Python. I have experience in working  with Machine Learning algorithms. I am planning to apply for GSoc19 with your organisation. I need help to get started .so,please assign me some task/subgoal to start contributing and work along with you.

[2019-02-24 13:55] hkaiser commented on #3717
This ticket system is not meant to be used for GSoC discussions but for feature requests, bug reports, and pull requests. Please see our [Hints for Successful Proposals](https://github.com/STEllAR-GROUP/hpx/wiki/Hints-for-Successful-Proposals) to get more information about how to discuss GSoC topics and to generally get in contact.

[2019-02-24 13:55] #3717 closed

[2019-02-24 16:13] hkaiser commented on #3671
Let's close this as the V1.2.1 release was published. Feel free to re-open, if necessary.

[2019-02-24 16:13] #3671 closed

[2019-02-24 17:16] yurivict opened #3718 "Please make the python executable configurable through cmake"
On FreeBSD several versions of python can be installed at the same time, with different executable names.

[2019-02-24 17:54] hkaiser commented on #3718
@yurivict In general, HPX does not require any specific python executable to be built. We only install a python script `hpx_run.py` that can be helpful for running HPX applications. This script should be compatible with any Python version, so I don't think we need to make the Python executable configurable as this script will be used by the user in the end.

[2019-02-24 18:08] yurivict commented on #3718
But you embed a specific executable name ```python```, and this fails.

[2019-02-24 18:09] yurivict opened #3719 "pkg-config produces invalid output: -l-pthread"
[code]

OS: FreeBSD

[2019-02-24 18:14] hkaiser commented on #3718
@yurivict Fair enough.

[2019-02-24 18:15] yurivict opened #3720 "Hello World example fails to link"
hw.c:
[code]

This command fails to link it:
[code]

OS: FreeBSD

(I made an adjustment for the invalid ```-l-pthread``` in ```pkg-config``` output while running the above.)

[2019-02-24 18:52] hkaiser commented on #3720
@yurivict As explained in the docs (see: https://stellar-group.github.io/hpx/docs/sphinx/latest/html/manual/creating_hpx_projects.html) you need to explicitly pass the `-lhpx_iostreams` flag in order to successfully link hello_world.

[2019-02-24 18:52] #3720 closed

[2019-02-25 21:18] Yashwanth711 opened #3721 "faced a building error"
i faced error while building the hpx

can anyone help.

make[2]: *** [examples/resource_partitioner/CMakeFiles/async_customization.dir/build.make:63: examples/resource_partitioner/CMakeFiles/async_customization.dir/async_customization.cpp.o] Error 1
make[1]: *** [CMakeFiles/Makefile2:63035: examples/resource_partitioner/CMakeFiles/async_customization.dir/all] Error 2
make: *** [Makefile:141: all]

[2019-02-25 21:55] biddisco commented on #3721
You have not included the actual error message, but I suspect that you have built the current master branch and there is a known problem with this test. You can ignore it for the time being and try using `make -k ...` where `-k` tells make to ignore errors and continue building the rest.

[2019-02-25 22:28] #3721 closed

[2019-02-28 15:44] prlw1 commented on #2524
I see where @ZiCog is coming from... on Ubuntu 18.04.2:
[code]
(and cmake fails to find TCMalloc)

There are no -dev packages.

[code]
and
[code]
does the trick.

[2019-02-28 16:14] prlw1 opened #3723 "examples/resource_partitioner build issue on master branch / ubuntu 18"
First attempt at building git master branch on ubuntu 18.04.02 (so gcc 7.3.0):
[code]
(as installed tcmalloc not found)
[code]
(I see that this is in "examples" so will try not to compile them)

[2019-02-28 16:48] prlw1 commented on #3723
-DHPX_WITH_EXAMPLES=OFF got a successful build.

Amusingly on another system (gcc 7.4.0), I see
[code]
yet
[code]
investigating...

[2019-02-28 17:00] hkaiser commented on #2524
A simple google search would have revealed that the corresponding `-dev` package on Ubuntu is named `libgoogle-perftools-dev`.

[2019-03-01 05:08] biddisco commented on #3723
This is a known breakage caused by a recent merge. The error in `guided_pool_executor` will be fixed soon. I have to finish something else fist, then I will resolve this. In the meantime, doing a build using `make -k` will ignore errors and you can at least build the remainder of hpx. Once I've fixed the problem, I'll close this issue.

[2019-03-01 23:02] hkaiser opened #3724 "Allow to pre-set command line options through environment"
Sometimes it is useful to add some command line options to use through the environment. This is to remind ourselves to add support for this to HPX.

See also https://github.com/STEllAR-GROUP/phylanx/issues/810 for a use case.

[2019-03-02 06:57] biddisco opened #3725 "get_queue_length and get_thread_count not well documented"
During my cleanup of scheduling code (shared_priority_scheduler) I have been worried by the uses of
`get_queue_length` and `get_thread_count` as they are not well documented and it is not completely clear what the difference between the 2 should be  (c.f. #1868 ) and when one or the other should be used.

My understanding is that `get_queue_length` simply reports the number of tasks in the pending

[2019-03-02 10:35] biddisco commented on #3725
I will try to make this easier to respond to be asking specifically whether my interpretation is correct

`get_queue_length(priority)` should return the number of staged+pending tasks in a given queue. When priority is requested, this should be either high/low/normal and return the length of the appropriate queues. If priority is unknown or undefined, then the sum of all high/low/normal queues sho

[2019-03-02 14:50] hkaiser commented on #3725
@biddisco your interpretation sounds about right. Thanks for this clarification.

[2019-03-02 15:00] #3641 closed

[2019-03-04 14:06] #3724 closed

[2019-03-04 23:30] #3670 closed

[2019-03-05 12:37] zao opened #3731 "util::bound seems broken on Clang with older libstdc++"
Debian 9.2 with Clang 3.8.1 and libstdc++ 6.3.0.
Building HPX master commit f5041a83ac0c01d8dc6c0539fbc1491e97ebee42 in C++14 mode, for Debug.
`cmake ../hpx -DCMAKE_BUILD_TYPE=Debug -DBOOST_ROOT=/opt/boost-1.65.1-cxx14 -DCMAKE_CXX_COMPILER=clang++ -DHPX_WITH_CXX14=ON -G Ninja -DHPX_WITH_EXAMPLES=OFF -DHPX_WITH_DEPRECATION_WARNINGS=OFF`

Full build log: https://gist.github.com/zao/02941613711a11ce6

[2019-03-05 19:00] jefftrull opened #3733 "exclusive_scan is faster in sequential than parallel"
## Expected Behavior

Parallel should be slower than sequential for small data sizes, then faster after some crossover point.

## Actual Behavior

Parallel is consistently slower than sequential for data sizes from 10 to 10000000

## Steps to Reproduce the Problem

Compile and run the attached code with Google Benchmark.

## Specifications

gbench hardware report:
[code]
  - HPX Version: 1.2.1
  -

[2019-03-05 19:04] jefftrull commented on #3733
Looks like I can't simply attach code to this issue, so here's the MWE as inline text:

[code]

[2019-03-06 11:27] biddisco commented on #3579
Here is an output from some more benchmarking that I've been doing and the behaviour of default executor is consistently bad. I did not spend time looking into the default executor, but it appears to be memory related as it does not allocate/destroy quite the same as the parallel executor.

[code]

[2019-03-06 13:25] hkaiser commented on #3579
@biddisco Thanks for this thorough analysis. From what I see, we should stick with our main (local-priority) scheduler and always use the parallel executor for spawning things...

[2019-03-06 13:28] hkaiser commented on #3733
@jefftrull Thanks for doing this analysis. Unfortunately, we're not the only one experiencing problems in actually speeding up any of the scan algorithms an conventional cores. Would you have any suggestions on how to improve our implementation?

[2019-03-06 15:15] jefftrull commented on #3733
Ah... I see. No, it sounds pretty hard to me too :) I might do some profiling and get back to you, though. Thanks for the explanation.

[2019-03-06 22:06] biddisco commented on #3733
This seems very fishy - admittedly it was a couple of years ago, but when I implemented the vtk-m HPX backend, I tested the scan stuff quite extensively and I'm sure there was some speedup. I did comparisons with TBB and still have the graphs somewhere. I hope we haven't broken something fundamental. I will try to make time to look into this.

[2019-03-06 22:09] biddisco commented on #3733
Q1 : Does the benchmark include the setup time, or just the scan itself?
Q2 : what is the #include "benchmark.hpp" thing? just a timing utility or something more sophisticated?
Q3 : do try testing with `--hpx:threads=cores` rather than `--hpx:threads=all` - because hyperthreads

[2019-03-06 22:40] biddisco commented on #3579
This particular test was run on my laptop. On daint (36 threads) and ault (8  numa domains), the shared_priority_scheduler wins, but on smaller thread counts, the local-priority+friends are still better. (The gap is closing daily - I will produce some graphs from the data).
Mainly I wanted to draw attention to the default executor giving very large timings and was hoping someone might have some id

[2019-03-06 22:46] jefftrull commented on #3733
Thanks! I appreciate you looking into this. It may be that I'm misusing the system somehow.

1. The benchmark tests the call to `exclusive_scan` alone. It's everything inside the `for (auto _ : state)` loop.
2. This is part of [the popular microbenchmarking framework from Google](https://github.com/google/benchmark). @sithhell said he was familiar with it; if it's trouble to use I can pack up some

[2019-03-07 16:30] biddisco commented on #3579
Here is a plot of scheduler performance and synchronization method used on our 2 socket daint nodes. 36 cores, 72 hyperthreads

![image](https://user-images.githubusercontent.com/941548/53972200-a1af4580-40fe-11e9-8a4e-5629b0fcedba.png)

[2019-03-07 16:37] biddisco commented on #3579
The plot above is parallel_executor, this plot is default_executor (much worse)
![image](https://user-images.githubusercontent.com/941548/53972689-9577b800-40ff-11e9-9730-e7f3a88451ab.png)

[2019-03-08 02:16] #3731 closed

[2019-03-08 09:22] McKillroy opened #3735 "Latest master: Can't compile in MSVC"
## Expected Behavior

Should compile

## Actual Behavior

Does not compile with cl (Latest MSVC) with error message:
[code]
## Steps to Reproduce the Problem

Try to compile .
I am using a CMake (Open Folder) project inside VS 2017 CE 15.9.8
Had no problems compiling this way so far.

## Specifications

Windows 10, Visual Studio CE 15.9.8
  - HPX Version:
branch: master
commit: ab482132cc34683bcea

[2019-03-08 14:21] McKillroy commented on #3735
It seems the issue is related to my specific environment:
Latest MSVC (Community ed. 15.9.8 ), Built in MS CMake Fork and "Open Folder" Project type. Since the compile works using my external CMake (Some v.13+) targeting MSVC projects it's questionable if this should be resolved or simply marked as "unsupported". I'm just afraid this stupid error might indicate a deeper problem in the Build System

[2019-03-08 14:21] #3735 closed

[2019-03-09 00:25] biddisco opened #3738 "Unable to debug parcelport on a single node"
Working on my laptop, I am getting an empty list of parcelports and concomitant segfaults from my rdma code when it attempts to obtain the rdma memory registration handler from the parcelport.

Could it be that recently a patch was applied that disabled initialization of the parcelport when running on a single node? If that is the case, could someone please point me to the code responsible so that

[2019-03-09 01:27] hkaiser commented on #3738
@biddisco just use the command line option `--hpx:expect-connecting-localities` which will have the side effect of not disabling the parcelport.

[2019-03-09 08:15] biddisco commented on #3738
Thanks. That's just what I needed

[2019-03-09 08:15] #3738 closed

[2019-03-13 11:18] marcoippolito opened #3741 ""hello_world" distributed job with HPX - Ubuntu 18.04 : how to?"
After git-cloning the latest hpx stable release, building and installing it,
I tested the single-node execution of a simple example:

    marco@pc01:~/CplusplusGoodCodeExamples/hpxExamples/quickstart$ g++ -std=c++17
    fibonacci.cpp -ofibonacci `pkg-config --cflags --libs hpx_application`
    -lhpx_iostreams -DHPX_APPLICATION_NAME=fibonacci
    marco@pc01:~/CplusplusGoodCodeExamples/hpxExamples/q

[2019-03-13 19:30] JPenuchot opened #3743 "hpxcxx's shebang doesn't specify the python version"
Calling `hpxcxx` on my configuration (Arch Linux, up-to-date as of the day I'm posting this) doesn't work unless I manually replace the shebang to target `python2` instead of the default `python` executable, which can be Python 3 in some cases (like mine, which is what Arch defaults to). The script isn't compatible with Python 3 so that results into the following error :

[code]

This is what I re

[2019-03-14 01:38] hkaiser commented on #3743
Is this a duplicate of #3718?

[2019-03-14 01:42] hkaiser commented on #3741
I'd say you have two version of HPX on your system (Debug/Release?) and you build against one, but try to run using the other.

[2019-03-14 03:23] JPenuchot commented on #3743
Oh yes it is !

[2019-03-14 06:00] jefftrull commented on #3733
I've put my code on Github [here](https://github.com/jefftrull/hpx_scanalgs). `exsvp` is the target you want to run.

[2019-03-14 12:58] #3743 closed

[2019-03-14 14:22] hkaiser commented on #3034
This can be closed as #3625 was merged

[2019-03-14 14:22] #3034 closed

[2019-03-14 15:00] hkaiser commented on #3733
@thanks @jefftrull !

[2019-03-14 15:08] marcoippolito commented on #3741
Hi Hartmut,

I wiped out the previous installations both in the pc and in the laptop, and downloaded and installed in both of them [stellar.cct.lsu.edu/files/hpx_1.2.1.zip](url)

Now the "stand-alone-node" - mode seems working:
for the pc:

    marco@pc01:/mirror$ ./hello_world --hpx:localities=2 --hpx:agas=192.168.1.7:7910
    --hpx:hpx=192.168.1.7:7910
    hello world from OS-thread 0 on localit

[2019-03-14 17:00] hkaiser commented on #3741
Not sure of that. The laptop reports 'locality 1', while the pc reports 'locality 0' - this is what I would expect. However I'm surprised that not all of the output ends up on the pc. I also don't understand why both localities print things twice. I will investigate this over the weekend.

[2019-03-14 17:11] marcoippolito commented on #3741
Could it be a problem of non-correct installation and or configuration of slurm? I'm going to read slurm's docs in order to check if it could be the case

[2019-03-14 17:21] hkaiser commented on #3741
@marcoippolito AFAICS you have not been using SLURM to launch the hello_world application. So I don't think it could be causing issues in this case.

[2019-03-15 19:54] hkaiser opened #3744 "Separate spinlock from same cacheline as internal data for all LCOs"
Most of our LCOs (`local::counting_semaphore`, `local::barrier`, `local::latch`, etc.) place the spinlock and the data it is protecting on the same cache line. In case of higher contention this causes unnecessary false sharing as accessing the spinlock from a different core moves the associated data to that core as well.

We should introduce proper padding for the local LCOs to minimize this effec

[2019-03-20 11:53] m-diers commented on #3452
@msimberg excellent catch
@hkaiser excellent work

Great work, the behavior is fixed.

[2019-03-20 11:53] #3452 closed

[2019-03-20 12:56] m-diers opened #3746 "Detection of MPI with pmix"
## Expected Behavior
With slurm the hpxapp use mpi parcelport.

New default value of `HPX_WITH_PARCELPORT_MPI_ENV` in CMakeLists.txt:
`MV2_COMM_WORLD_RANK;PMI_RANK;OMPI_COMM_WORLD_SIZE;ALPS_APP_PE;PMIX_RANK`

## Actual Behavior
With slurm the hpxapp use tcp parcelport.

Old default value of `HPX_WITH_PARCELPORT_MPI_ENV` in CMakeLists.txt
`MV2_COMM_WORLD_RANK;PMI_RANK;OMPI_COMM_WORLD_SIZE;ALPS_APP_

[2019-03-20 13:23] msimberg commented on #3452
@m-diers awesome, great to hear! What does fixed mean for you by the way? > 90% efficiency in the tests you've run or something like that?

By the way, #3745 will most likely improve your results further.

[2019-03-20 15:36] #3746 closed

[2019-03-20 17:55] junghans commented on #3510
@msimberg I was still able to reproduce this with v1.2.1 is that correct?

[2019-03-20 17:56] junghans commented on #3512
It seems aarch64 is the only platform left using the `GENERIC_CONTEXT_COROUTINES`, correct?

[2019-03-20 19:05] msimberg commented on #3510
@junghans looks like #3557 should've been added to 1.2.1, but I've (unintentionally) left it out. So yes, that would mean it's still broken in 1.2.1. Would you be able to add it as a patch? I'm not sure it's worth the effort to make another patch release (although I've done it once now and it should really be quite quick and painless, so I guess I could do that as well).

[2019-03-20 22:43] hkaiser commented on #3512
@junghans IIRC, MacOS requires it as well, there might be others...

[2019-03-20 23:13] hkaiser commented on #3654
@sithhell was this fixed by #3662?

[2019-03-26 14:36] parsa opened #3753 "--hpx:list-counters=full crashes"
## Expected Behavior
Print all available HPX performance counters.

## Actual Behavior

HPX Application Crashes
[code]

## Steps to Reproduce the Problem

The easiest way to reproduce the issue is using the pre-compiled Docker image

  1. `docker run -it stellargroup/hpx:dev`
  1. `hello_world --hpx:list-counters=full`

## Specifications

  - HPX Version: b1ed74dcb2
  - Platform (compiler, OS): Ub

[2019-03-26 22:11] biddisco opened #3756 "pu binding is inconsistent"
## Expected Behavior
Binding of cores should be the same on successive runs with unchanged parameters

What I actually get appears to be semi-random and changes from run to run

[code]
[code]

[2019-03-26 22:17] hkaiser commented on #3756
@biddisco Did you run those localities on the same physical node?

[2019-03-26 22:55] biddisco commented on #3756
I am running 3 localities on the same node as shown below, but each locality should bind to it's own core and PUs. What I see is that the processes bind to the same cores and do not bind to the same ones on successive runs.
[code]

[2019-03-27 11:18] marcoippolito commented on #3741
@hkaiser May be both localities print things twice because they print the same things independently of each other? How to check if both localities are correctly linked and synchronized?

[2019-03-27 13:19] hkaiser commented on #3741
@marcoippolito I didn't get back yet as I was not able to reproduce what you're seeing. What do you see if you run hello_world twice on the same node, like:
[code]
?

[2019-03-27 13:27] marcoippolito opened #3757 "When compiling undefined reference to `hpx::hpx_check_version_1_2' HPX V1.2.1, Ubuntu 18.04.01 Server Edition"
After almost two weeks of total inactivity with HPX, today I tried to compile, exactly as I did before, the fibonacci example, but unexpectedly I got this error message:

    marco@pc01:~/hpx_1.2.1/examples/quickstart$ g++ -std=c++17 fibonacci.cpp -ofibonacci `pkg-config
    --cflags --libs hpx_application` -lhpx_iostreams -DHPX_APPLICATION_NAME=fibonacci
    /tmp/cchqp2S2.o: In function `(anonymo

[2019-03-27 15:04] biddisco commented on #3560
Has anyone tested this and confirmed that it does in fact work?
We're running our cholesky code and not seeing task names as expected.
We're using the RAII version `hpx::util::annotate_function` and not the lambda style wrapper `hpx::util::annotated_function` and perhaps this one was not checked. Is there a test anywhere that we can run to see if the basic functionality is ok? (I'm debugging this

[2019-03-27 16:15] rasolca opened #3758 "dataflow doesn't convert `future<future<T>>` to `future<T>`"
## Expected Behavior

I expect `dataflow` to return `future<T>` instead of `future<future<T>>` as `.then` does.

## Actual Behavior

`dataflow` doesn't convert `future<future<T>>` to `future<T>`.

## Steps to Reproduce the Problem

The problem can be reproduced compiling this simple example:
[code]

## Specifications

  - HPX Version: tested following commits:
       * e1929422a75aac8b58eed98e4db5

[2019-03-27 17:28] hkaiser commented on #3758
@rasolca We generally don't do the collapsing of futures returned from the asynchronous providers (`async`, `dataflow` etc.). Instead, we allow for collapsing futures by exposing an (implicit) converting constructor for `hpx::future<hpx::future<T>>` --> `hpx::future<T>`.

For this reason I'd expect the following to work:
[code]

[2019-03-27 17:31] marcoippolito commented on #3741
This is the output in the master-node 'pc':

    marco@pc01:/mirror$ ./hello_world --hpx:localities=2 --hpx:node=0 --hpx:threads=1 & ./hello_world
    --hpx:node=1 --hpx:threads=1
    [1] 17248
    hello world from OS-thread 0 on locality 1
    hello world from OS-thread 0 on locality 0
    [1]+  Done                    ./hello_world --hpx:localities=2 --hpx:node=0 --hpx:threads=1
    marco@pc01:/

[2019-03-27 17:34] hkaiser commented on #3741
@marcoippolito so in this case all is well and as expected. There is internally no difference to running two localities on the same node (using the TCP loopback) and running it on two physical nodes (over the actual network). Therefor, I'm not sure what's wrong in your case :/

[2019-03-27 17:35] hkaiser commented on #3757
My suspicion would be that you compile against one version of HPX but run against a different one (perhaps a Debug/Release mismatch, or some stale binaries lying around, etc.)

[2019-03-27 17:38] marcoippolito commented on #3757
I was going to write that I re-installed again HPX V1.2.1 on the pc with Ubuntu 18.04.01 Server Edition and now it works as before. So thanks for your reply. I close this issue.

[2019-03-27 17:38] #3757 closed

[2019-03-27 17:40] marcoippolito commented on #3741
So... something related to the actual network configuration, or even the physical network itself, that could interfere with the synchronization between pc and laptop?

[2019-03-27 20:57] biddisco commented on #3758
That works. Thanks @hkaiser - I should have thought of that.

[2019-03-27 22:46] hkaiser commented on #3758
@biddisco great! I'll close this then, please reopen, if necessary.

[2019-03-27 22:46] #3758 closed

[2019-03-27 22:47] hkaiser commented on #3560
@khuck any comments?

[2019-04-01 09:28] msimberg commented on #3719
@yurivict `pkg-config` is working correctly for me on linux, but that's not FreeBSD, so this could be CMake treating flags differently on different platforms. Could you try changing `-pthread` on this line: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_SetupBoost.cmake#L80 to either `pthread` or `-lpthread` and see what happens? Considering you have `/usr/lib/libpthread.so` in there a

[2019-04-01 11:29] msimberg commented on #3718
I think we have some old Python 2-style print statements hanging around, but otherwise nothing that would still require Python 2 (AFAIK). This should be a straightforward change if someone feels like having a go at this. And I don't think we need to support Python 2 anymore. It's time to let it go...

[2019-04-01 12:55] #3255 closed

[2019-04-01 12:55] #3753 closed

[2019-04-01 12:56] hkaiser commented on #3718
@msimberg it shouldn't be a problem to change the code such it is compatible with any Python version.

[2019-04-01 19:14] diehlpk commented on #3718
@hkaiser @msimberg pr #3761 provides the changes such that our scripts run with python3 on Fedora 29.

[2019-04-02 18:06] Arash-Amini1 opened #3763 "configurable sort limit per task"
@hkaiser based on the conversation we had a few minutes ago
## Expected Behavior

sort limit per task to be configurable instead of 65536

## Actual Behavior

sort limit per task is kept constant

## Steps to Reproduce the Problem

https://github.com/STEllAR-GROUP/hpx/blob/73647385b73434d167ef81cadd83a557d34855a5/hpx/parallel/algorithms/sort.hpp#L46

[2019-04-04 15:48] khuck opened #3772 "HPX ignores toolchain file when cross-compiling"
## Expected Behavior

When building HPX on Cori for KNL, I am specifying the CrayKNL toolchain file.  I expect that the correct flags will be used at compile time to optimize for KNL.

## Actual Behavior

The CMake system is "auto detecting" haswell, and setting -march=haswell.  This results in a binary that might run on KNL, but won't be optimized.

## Steps to Reproduce the Problem

With current

[2019-04-04 16:57] khuck commented on #3772
Update: the toolchain file isn't ignored, it is broken.  I am working on fixing it.

[2019-04-07 06:10] marcoippolito opened #3777 "Asking help for understanding how to parallelize a simple task with HPX"
I'm trying to understand how to parallelize with HPX for the first time simple tasks, but I do actually do not know how to proceed in a correct way. So I ask you an help.

In MatricesMultiplicationSerial.txt you find the matrices multiplication function in serial mode:
the two matrices are split in "blocks", which are smaller matrices.
The corresponding smaller matrices are multiplied in serial (n

[2019-04-07 13:54] hkaiser commented on #3777
@marcoippolito as already said in my response to your email, you might want to look at @DavidPfander-UniStuttgart's code demonstrating how to parallelize matrix multiplication using HPX efficiently here: https://github.com/DavidPfander-UniStuttgart/MatrixMultiplicationHPX. There he has published a couple of increasingly complex implementations. Studying those might be a good starting point for you

[2019-04-07 14:28] hkaiser opened #3778 "Replace `throw()` with `noexcept`"
Our exception classes are still define using the C++03 `throw()` notation. This should be changed to use `noexcept` instead.

[2019-04-07 17:32] marcoippolito commented on #3777
@hkaiser  I didn't receive any response to my email. Thanks a lot for your suggestion

[2019-04-07 18:17] hkaiser commented on #3579
@biddisco John, would you be able to rerun those tests on #3768 and include the parallel_executor_aggregated into the mix?

[2019-04-08 08:55] marcoippolito opened #3779 "parallel"

[2019-04-08 11:51] hkaiser commented on #3779
@marcoippolito Could you be a bit more specific, please? The information you provided is not sufficient to help you.

[2019-04-08 16:51] #3744 closed

[2019-04-09 17:34] #3763 closed

[2019-04-10 12:40] hkaiser commented on #3779
@marcoippolito I'm going to close this now as 'invalid'. Please reopen once you have more information available

[2019-04-10 12:40] #3779 closed

[2019-04-12 12:33] msimberg commented on #3440
I'd like to go ahead and remove the thread compatibility layer as there should be support for it everywhere (and it's off by default). Are there actually platforms where we know that this is still needed?

[2019-04-12 16:45] folshost opened #3792 "Barrier Hangs When Locality Zero not included"
## Expected Behavior

A barrier should register successfully when being executed by localities 1 and 2 (from {0,1,2})

## Actual Behavior

The barrier hangs, apparently on register_lock.

[code]

Run the above code in Visual Studio with three localities with command line arguments "--hpx:localities=3 --hpx:node={0-2} --hpx:run-hpx-main --hpx:threads=1" with the appropriate value for --hpx:node spe

[2019-04-12 16:47] folshost commented on #3792
@sithhell can you please take a look at this?

[2019-04-12 20:00] sithhell commented on #3792
Thanks for the testcase, I'll have a look ASAP.

[2019-04-12 23:21] sithhell commented on #3792
Please see #3794 for a possible solution.

[2019-04-15 07:17] #3778 closed

[2019-04-18 21:19] khuck opened #3805 "HPX won't compile with -DHPX_WITH_APEX=TRUE"
## Expected Behavior

HPX should build

## Actual Behavior

[code]

## Steps to Reproduce the Problem

configure hpx with -DHPX_WITH_APEX=TRUE

## Specifications

any platform, any compiler

[2019-04-19 08:09] msimberg commented on #3805
Thinking long-term, does APEX and HPX need to depend on each other like this? Ideally one or the other would expose enough hooks for the one to sit just cleanly on top of the other.

[2019-04-19 10:22] sithhell commented on #3805
The fix is, to add the HPX.PP module to the dependencies of APEX.
This ticket, IMHO, shows the positive effect of the modularization effort. We can clearly see dependencies for different projects. Since Config isn't a module yet, this needs to adapted once more...
A PR to fix APEX itself has been added: https://github.com/khuck/xpress-apex/pull/99

[2019-04-19 10:28] msimberg opened #3808 "local_dataflow_boost_small_vector fails to build with Boost 1.70"
Build logs from [rostam](http://rostam.cct.lsu.edu/builders/hpx_gcc_8_boost_1_70_centos_x86_64_release/builds/0/steps/build_unit_tests/logs/stdio). I'm guessing this has to do with the default `Allocator` for `small_vector` being `void` in 1.70 (see [here](https://www.boost.org/doc/libs/1_70_0/doc/html/boost/container/small_vector.html)). I'm hoping those more knowledgeable will find the fix trivi

[2019-04-19 12:52] hkaiser commented on #3805
@sithhell you can't be serious in requiring for all people that depend on HPX to list all small module dependencies manually. Is that what everybody will have to do in the end?

[2019-04-19 12:54] hkaiser commented on #3805
@msimberg APEX depends on HPX as it uses its functionalities. At the same point we have added hooks into APEX to HPX which makes the two circular dependent. I'm not sure how we can remove this.

For this reason, we decided to build APEX as a static library while compiling against the HPX API headers, while linking HPX with that built static library to resolve the APEX dependencies in HPX. Any bett

[2019-04-19 13:11] hkaiser opened #3810 "Source groups are not created for files in modules"
The new module-oriented cmake scripts do not properly place the files into source groups. This prevents the header files from showing up in the generated VS solution files. The source files are all placed into the same root solution folder. That will greatly reduce usability as eventually most of the files will be placed into the same solution folder...

[2019-04-19 13:11] hkaiser commented on #3810
@msimberg I really would like to have this fixed before the release.

[2019-04-19 13:18] msimberg commented on #3810
@hkaiser absolutely. I'll need your help to make sure it's correct though. I'm going to open a PR soon (this weekend) with some consistency changes to the modules and a `config` module. That'll be the last one for the release so that we have enough time to sort out things like this.

[2019-04-19 13:41] hkaiser commented on #3808
How much more incompatible can one make a container? Grrr.

[2019-04-19 13:48] sithhell commented on #3805
Hartmut Kaiser <notifications@github.com> schrieb am Fr., 19. Apr. 2019
14:52:

That's certainly not what I said.
The problem in the case of APEX is that it depends on parts parts of hpx
and hpx depends on parts of APEX. To fix this circular dependency, the Apex
build system tried to set up the include paths etc manually, without
depending on what the different targets depend on.

The usage for co

[2019-04-19 13:58] hkaiser commented on #3805
@sithhell Fair enough, thanks.

[2019-04-19 18:28] folshost commented on #3792
Thanks Thomas! This is great, and fixed my problem. Both of your solutions worked perfectly.

[2019-04-19 18:28] #3792 closed

[2019-04-20 07:29] msimberg commented on #3805
Naively the answer is more hooks and callbacks, but I can't judge how much work that would actually be.

[2019-04-22 16:54] #3805 closed

[2019-04-23 10:14] #3810 closed

[2019-04-23 10:28] msimberg opened #3816 "Add assertion macros that print their values"
Having alternative assertion macros in the style of
[code]
which print the value of `x` when the assertion fails would be nice to have to make debugging slightly easier.

[2019-04-23 11:33] msimberg commented on #3719
@yurivict would you mind posting your compiler, cmake, and boost versions here as well?

[2019-04-23 13:18] hkaiser commented on #3816
Sounds like a feature for the assert module sitting in the pipeline ;-)

[2019-04-23 14:29] jjwilke opened #3817 "HPX_INCLUDE_DIRS contains non-existent directory"
Working on Kokkos+HPX. In `HPXConfig.cmake`, the following appears in the list of HPX_INCLUDE_DIRS, but it doesn't actually get installed or created.
[code]
from
[code]
This actually doesn't cause errors (well, warnings) until I build a kokkos-dependent project.
[code]
Configure still succeeds, but it would be better not to have the warning

[2019-04-23 14:31] jjwilke opened #3818 "Transitive HPX target"
Instead of exporting HPX_LIBRARIES and HPX_INCLUDE_DIRS, consider having target hpx transitively include these. This would more closely follow "modern cmake" where I just:

[code]
and I'm done.

[2019-04-23 15:02] msimberg commented on #3818
This is long overdue and would be very nice to have. It would allow us to get rid of the special `add_hpx_executable` as well.

[2019-04-23 15:08] msimberg commented on #3817
Thanks for the report! The external directory is only installed for Xeon Phi, but the list of include directories always contain it. We should easily be able to conditionally excludeit from the list.

[2019-04-23 15:32] yurivict commented on #3719
clang-6.0.1
cmake-3.14.1
boost-1.70

[2019-04-23 15:36] jjwilke commented on #3817
Okay, I sort of lied. Configure succeeds, but the build fails. CMake quits adding include directories when it encounters a bad directory (apparently). This causes kokkos-dependent builds to fail because only a subset of the directories get added.  Pretty strange behavior from cmake, actually.

[2019-04-23 15:45] msimberg opened #3819 "Add debug suffix to modules built in debug mode"
Make e.g. `libhpx_preprocessor.a` `libhpx_preprocessord.a` in debug mode (as is done for the main libraries).

[2019-04-23 15:58] msimberg commented on #3718
The question is: is there a need for the user to actually change the python executable, or is it enough that it works with both Python 2 and 3 and the user doesn't care which? @yurivict I'm guessing in your case it was actually the latter, and not that you necessarily need to be able to set the Python executable?

[2019-04-23 15:59] msimberg commented on #3816
Indeed!

[2019-04-23 16:09] yurivict commented on #3718
The package should always work with a specific version of the python executable. Reasons: 1. predictability 2. you might not be able to guess what the executable is.

This is why there should be a configuration variable for it.

[2019-04-24 07:00] msimberg commented on #3719
Thanks @yurivict. Oddly enough we're getting now `-l-lpthread` on some configurations on rostam as well (http://rostam.cct.lsu.edu/builders/hpx_gcc_6_boost_1_64_centos_x86_64_debug/builds/287/steps/build_unit_tests/logs/stdio) after #3629. This needs to be sorted out before the release.

[2019-04-24 07:42] msimberg commented on #3569
@Jiazheng-Yuan please reopen if needed.

[2019-04-24 07:42] #3569 closed

[2019-04-24 16:04] chybz opened #3824 "AddressSanitizer stack-buffer-overflow"
## Expected Behavior

I should be able to use HPX in a project compiled with `-fsanitize=address`.

## Actual Behavior

AddressSanitizer triggers a stack-buffer-overflow error.

The location reported runs fine when:
-  using HPX, without AddressSanitizer
-  not using HPX, with and without AddressSanitizer

[asan-log.txt](https://github.com/STEllAR-GROUP/hpx/files/3113018/asan-log.txt)

I tried:
-

[2019-04-24 22:40] hkaiser commented on #3824
@chybz IIRC you have to disable stack-overflow detection in HPX for sanitizer builds. These two settings are not compatible. Please use `-DHPX_WITH_STACK_OVERFLOW_DETECTION=OFF`.

@msimberg We should make sure that cmake reports an error if both, `HPX_WITH_STACK_OVERFLOW_DETECTION` and `HPX_WITH_SANITIZERS` are on.

[2019-04-25 07:10] chybz commented on #3824
@hkaiser when using `-DHPX_WITH_STACK_OVERFLOW_DETECTION=OFF` only I still encounter the problem. I recompiled and tested with the following three combinations:
- `-DHPX_WITH_SANITIZERS=ON -DHPX_WITH_STACK_OVERFLOW_DETECTION=OFF`
- `-DHPX_WITH_SANITIZERS=ON`
- `-DHPX_WITH_STACK_OVERFLOW_DETECTION=OFF`

Is there any other setting I can try ?

[2019-04-25 07:44] msimberg commented on #3824
@chybz this is somewhat strange but also hard to tell where the problem might be. Are you able to reproduce the issue with a minimal `int hpx_main() { hpx::cout << log_writer::make_timestamp() << hpx::endl; }` (or whatever the appropriate way to call that is)? I suppose you're not using medium or large stack sizes?

[2019-04-25 08:31] msimberg commented on #3718
@yurivict does #3803 do what you had in mind?

[2019-04-25 08:56] chybz commented on #3824
@msimberg yes, it's driving me insane. I'm more than willing to fix this, unfortunately I'm very new to HPX (not new to C++ though). The following example works fine:

[code]

Expected output is correct:
`04.25 10:32:27.268 I: WHOAA THERE`

I perhaps overlooked the documentation on changing the default stack sizes.
I use `hpx.stacks.small_size = 0x2000000` when calling `hpx::start()`.

If this is

[2019-04-25 09:46] msimberg commented on #3824
If you're unsure whether the stack size has actually been changed you can pass `--hpx:dump-config` to your application (and if you're not forwarding `argc`/`argv` you can also pass that in a configuration vector to `hpx::init`/`start`).

Does this happen every time? In the same spot?

[2019-04-25 11:39] hkaiser commented on #3824
@chybz: how do you know that you have a stack overflow if you disable stack overflow detection? What error message do you see in that case?

[2019-04-25 12:23] msimberg commented on #3824
@hkaiser I think from the asan log:
[code]

[2019-04-25 12:33] chybz commented on #3824
@msimberg config is fine, I see `'small_size' : '0x2000000'` in the `[stacks]` section. Yes, it happens every single time in the same spot.
@hkaiser sorry if I'm a bit unckear. When I compile my application with `-fsanitize=address`, no matter how HPX is compiled using a combination of `HPX_WITH_SANITIZERS` and/or `HPX_WITH_STACK_OVERFLOW_DETECTION`, I encounter an `AddressSanitizer: stack-buffer-

[2019-04-25 13:18] hkaiser commented on #3824
This is clearly not a 'real' stack-overflow but a problem in address sanitizer that is being confused by HPX's stack-switching. Please keep in mind that setting `0x2000000` (32MBytes) as the stack size is more than the standard stack size used by Linux (1MByte).

@sithhell I know you were able to run address sanitizer with HPX. Was there something special you had to do to make it work?

[2019-04-25 13:35] chybz commented on #3824
@hkaiser that's exactly what I thought and wouldn't be bothering you otherwise.

[2019-04-25 21:54] sithhell commented on #3824
I've only ran with address sanitizer and clang, not with gcc. I had some difficulties with gcc+asan in the past. It looks likes there's a problem with std::chrono. I am not sure how to fix this right now. My initial guess was that asan gets confused with our stack switching routines, but this should have been fixed with merging #3784. There still might be issues with how the gcc asan implementatio

[2019-04-26 07:07] chybz commented on #3824
@sithhell I can't switch compiler right now as other teams are involved, but if there's something I can do to investigate, I'll be glad to help.

[2019-04-26 10:09] #3817 closed

[2019-04-26 11:56] #3819 closed

[2019-04-26 11:59] msimberg commented on #3777
@marcoippolito I'll close this for now as it's neither an issue nor a feature request, but I'd be happy to continue this on IRC, the mailing list, or Slack.

[2019-04-26 11:59] #3777 closed

[2019-04-26 12:00] msimberg commented on #3772
@khuck any update on this? Can we close this?

[2019-04-26 12:03] msimberg commented on #3723
Fixed by #3736.

[2019-04-26 12:03] #3723 closed

[2019-04-26 12:04] msimberg commented on #3609
Closing this since it seems to have been fixed by something in the meantime.

[2019-04-26 12:04] #3609 closed

[2019-04-26 22:48] biddisco commented on #3560
I just tested on my local build with hpx master and apex develop branch from today. I'm sorry to say that there are still no task names
![image](https://user-images.githubusercontent.com/941548/56840128-265c4b80-6886-11e9-9ed3-ab4f5fc1d7d2.png)

[2019-04-27 05:52] #3719 closed

[2019-04-30 12:58] msimberg commented on #3718
@yurivict I'm closing this now that #3803 has been merged. Please reopen if needed.

[2019-04-30 12:58] #3718 closed

[2019-04-30 18:27] rbyshko commented on #3706
We had a communication over the irc today. I'll grab this task. Thanks.

[2019-05-05 20:30] biddisco opened #3836 "master branch does not build with idle rate counters enabled"
Use
[code]
Error
[code]

[2019-05-05 20:33] biddisco commented on #3836
Note that I tried building HPX with idle counters to collect data for the upcoming project proposal performance analysis section, so this is and urgent problem that I won't be able to look at for now.

[2019-05-05 21:17] hkaiser commented on #3836
@biddisco please also enable `-DHPX_WITH_THREAD_CUMULATIVE_COUNTS=On`, then it should work.

[2019-05-05 21:24] hkaiser commented on #3836
@biddisco please see #3837 for a fix.

[2019-05-05 21:53] biddisco commented on #3836
adding `-DHPX_WITH_THREAD_CUMULATIVE_COUNTS=On` did not help, but the #3837 branch fixes it

[2019-05-05 22:24] #3836 closed

[2019-05-06 07:43] pmikolajczyk41 opened #3838 "hpx::parallel::count/count_if failing tests"
## Actual Behavior

[Tests](https://github.com/STEllAR-GROUP/hpx/blob/master/tests/regressions/parallel/count_3646.cpp) fail for `hpx::parallel::count` and `hpx::parallel:count_if` for larger cases.

## Steps to Reproduce the Problem

It is enough to change size from 33 to 65.
https://github.com/STEllAR-GROUP/hpx/blob/b287b7fa227d23ce01db56c03d8004a468a0a4cc/tests/regressions/parallel/count_3646.c