[2020-03-03 18:21] hkaiser commented on #4410
@venartas Thank you for investing the time to find out. I will definitely have a look to see what we can do to rectify things.

[2020-03-04 01:46] hkaiser commented on #4410
@venartas what parallel algorithms is your application using?

[2020-03-04 09:37] venartas commented on #4410
@hkaiser **for_each**, **transform** and **reduce** using **auto_chunk_size** with **par** policy  that consist around 90% parallelism in our app and remainder is **futures** with **wait_all** that can invoke nested parallelism using mentioned parallel loops. Maybe some information can be infered from attached vtune profiling info?

[2020-03-04 10:22] venartas commented on #4410
@hkaiser tested with **dynamic_chunk_size** (instead of **auto_chunk_size**) using **par** and number of minor page errors dropped back to normal (7-8x less), so performance degrades only if **auto_chunk_size** is used.

[2020-03-05 18:21] hkaiser commented on #4410
From the information you gave us and the commit you identified to cause your issues, I think that only the `reduce` algorithm performance has decreased as the commit in question does not impact the others.

Now, `auto_chunk_size` is a policy that runs about 1% of the iterations sequentially before deciding on how to chunk up the algorithm's work (we have lately added ways of controlling the number

[2020-03-05 18:48] khuck commented on #4408
@hkaiser no problem - more motivation to update that machine.  :)

[2020-03-06 02:26] diehlpk opened #4419 "Weird behavior for --hpx:print-counter-interval with large numbers"
## Expected Behavior

Using a large counter interval

`--hpx:print-counter-interval=3600000`

should stop the hpx application if finished before the first write of the counter.

## Actual Behavior

If the computation is finished, hpx hangs for one hour, write the counters, and finished after that. HPX should finish and not wait for the counter.

## Steps to Reproduce the Problem

... Please be as

[2020-03-06 13:34] aurianer commented on #4418
Yep sorry for being so slow to answer, I'm taking a look

[2020-03-06 16:58] aurianer commented on #4418
@justwagle, does  #4420 works for you ?

[2020-03-06 17:52] justwagle commented on #4418
@aurianer Yes, that worked for me, thanks.

[2020-03-06 20:31] hkaiser opened #4422 "Add performance counter metadata"
Visualization tools might want to know whether a performance counter value is monotonically increasing or represents a instantaneous value. This is to add this information to the performance counter metadata for consumers to query.

[2020-03-07 17:29] hkaiser opened #4423 "--hpx:ini=hpx.lock_detection=0 has no effect"
See https://github.com/STEllAR-GROUP/phylanx/issues/1119

[2020-03-09 09:29] msimberg commented on #4418
@justwagle the code did indeed work in 1.3.0 but only by chance. You should explicitly link `inside` to HPX, either by `target_link_libraries(inside PUBLIC ${HPX_LIBRARIES})`, `hpx_setup_target`, or `add_hpx_library`. Also having a global `include_directories` is not recommended as it affects every target in the project. Would you mind trying that first?

[2020-03-09 09:39] #4423 closed

[2020-03-09 09:43] msimberg commented on #4406
I suspect the Piz Daint update, and not a commit on our side.

[2020-03-09 11:02] msimberg opened #4427 "Fix failing Windows and macOS tests"
We do not currently have perfect test runs on Windows and macOS. Tests that we know fail have been added to blacklists in the GitHub actions workflow files ([Windows](https://github.com/STEllAR-GROUP/hpx/blob/master/.github/workflows/windows.yml) and [macOS](https://github.com/STEllAR-GROUP/hpx/blob/master/.github/workflows/macos.yml)).

We would appreciate help from people working on those platfo

[2020-03-09 15:55] justwagle commented on #4418
@msimberg Thanks a lot. target_link_libraries(...) worked for me. I am closing the issue.

[2020-03-09 15:55] #4418 closed

[2020-03-09 16:00] khuck opened #4429 "Function descriptions not supported in distributed"
## Expected Behavior

When using HPX with APEX, typically function descriptions are used to hold annotate_function() annotated_function() and action descriptions.

## Actual Behavior

When executing in distributed mode, only locality 0 has valid thread descriptions, and tasks aren't annotated correctly.  Most end up as `<unknown>`.

## Steps to Reproduce the Problem

... Please be as specific as p

[2020-03-09 16:02] khuck commented on #4429
@hkaiser @biddisco FYI

[2020-03-09 17:03] msimberg commented on #4408
@khuck I'll close this as I've made the requirement official with #4425.

[2020-03-09 17:03] #4408 closed

[2020-03-11 15:40] #4419 closed

[2020-03-12 12:23] dmarce1 opened #4435 "HPX hello_world_distributed crashes on qb-2 when run on 75 nodes"
## Expected Behavior

I ran hello_world_distributed with 75 nodes / 20 cores per node using 20 MPI instances per node and 1 HPX thread per MPI instance, and expected 1500 Hello Worlds.

## Actual Behavior
Segmentation fault with no stdout at all and this stderr output
{stack-trace}: 4 frames:
0x2aabb8b1b772  : ??? + 0x2aabb8b1b772 in /home/dmarce1/local/relwithdebinfo/hpx/lib64/libhpx.so.1
0x2aabb

[2020-03-12 12:52] hkaiser commented on #4435
@dmarce1 could you try with a different MPI implementation, please?

[2020-03-12 15:53] albestro opened #4436 "Build problem: same code build and works with 1.4.0 but it doesn't with 1.4.1"
## Expected Behavior

It was working in 1.4.0, I would say that it should work the same in 1.4.1.

## Actual Behavior

It builds and works with 1.4.0, but it does not build anymore with 1.4.1.

[code]

I played with it a bit, it is not related to the unwrapping, it happens even just with the dataflow, as soon as I `.get()` the future moved in, i.e. I can do whatever I want but not use the future p

[2020-03-12 17:10] hkaiser commented on #4436
@albestro Adding a specialization of the related HPX trait to your data type definition resolves the issue:

[code]

We should have mentioned this as a breaking change in the release notes. Sorry.

See also #4437 for proof.

[2020-03-13 07:20] albestro commented on #4436
Thank you for the quick reply @hkaiser !

And thank you for the solution!

[2020-03-13 10:46] dmarce1 commented on #4435
I tried MVAPICH2 2.3.2 and it works now.

[2020-03-13 10:46] #4435 closed

[2020-03-13 14:13] #4436 closed

[2020-03-14 18:10] hkaiser opened #4438 "Add performance counter flag is monotically increasing"
Visualization tools might want to present monotically increasing counters differently. We should add some way to distinguish those from instantaneous values.

[2020-03-16 07:51] #3818 closed

[2020-03-16 14:24] msimberg commented on #3818
Now that #4246 is merged into master, this is hopefully fixed. Please give it a try and let us know about any issues. Details about the targets are in #4246 and soon in the documentation (short story: link to `HPX::hpx`).

[2020-03-18 17:53] freifrauvonbleifrei opened #4445 "Simple example leads to nvcc error `Internal Compiler Error (codegen): "there was an error in verifying the lgenfe output!"`"
## Minimal Example
[code]

## Actual Behavior

This fails to compile with nvcc on daint with the following output:
[code]
And I am not sure how to get more info out of an internal compiler error.

## Specifications
  - HPX Version: bfb3791fbef5cbcb8c5abefe8aec368c91a253ac
  - Platform (compiler, OS): Piz Daint,
[code]

[2020-03-19 08:41] msimberg commented on #4445
Grr, yes, these are annoying. Are you stuck on gcc 7/cuda 10.0? From a quick test I could not reproduce this with gcc 8 and cuda 10.1, but my setup is 100% like yours.

Side note in case anyone else comes across this: when you use `hpx_main.hpp` you *must* explicitly return something from `main`. Some compilers don't even warn about this by default and still produce incorrect code. I've updated th

[2020-03-20 16:01] #4416 closed

[2020-03-20 21:45] McKillroy opened #4448 "New std::variant serialization broken"
## Expected Behavior
 to compile
## Actual Behavior
not compiling with error
## Steps to Reproduce the Problem
See gist: https://gist.github.com/McKillroy/cb04b97975db409e7f0c8657e3f85744
## Specifications
  - HPX Version: Commit 8269dd13183efa3bc0fa5346e7a26cc069ee0414
  - Platform (compiler, OS): MSVC 19, latest, Windows 10

[2020-03-21 23:31] hkaiser commented on #4422
This is a duplicate of #4438

[2020-03-21 23:31] #4422 closed

[2020-03-23 12:53] NK-Nikunj opened #4453 "Installing HPX on fedora with dnf is not adding cmake files"
## Expected Behavior

It is expected to install cmake specific targets at `/usr/lib64/cmake/hpx`.

## Actual Behavior

There is no directory named `hpx` in `/usr/lib64/cmake`, while hpx is installed:

[code]

Proof that `hpx` is installed:
[code]

[code]

## Steps to Reproduce the Problem

Install the package using dnf: `sudo dnf install hpx`.

## Specifications

  - HPX Version: 1.3
  - Compiler:

[2020-03-23 13:23] NK-Nikunj commented on #4453
`sudo dnf install hpx-devel` does the thing.

[2020-03-23 13:23] #4453 closed

[2020-03-24 11:18] #4042 closed

[2020-03-26 15:07] #4448 closed

[2020-03-27 07:57] #4438 closed

[2020-03-27 20:30] McKillroy opened #4466 "Compile error on Windows, current stable:"
## Expected Behavior

To compile

## Actual Behavior

Breaks with:
\hpx\stable\libs\topology\include\hpx\topology\topology.hpp(27): fatal error C1083: Cannot open include file: 'hwloc.h': No such file or directory

I double-checked cmake vars HWLOC_ROOT, HWLOC_LIBRARY, HWLOC_INCLUDE_DIR for correct values, and it was correct, file was there inside %{HWLOC_INCLUDE_DIR }.

## Steps to Reproduce the

[2020-03-27 22:58] McKillroy commented on #4466
Seems to be fixed with #4462 by adding hwloc to the hpx_init target in CmakeLists.

[2020-03-28 15:23] scheherzade opened #4468 "Compile error on Raspberry Pi 4"
## Expected Behavior

... Please describe the behavior you would have expected.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. flags:```-DHPX_WITH_THREAD_IDLE_RATES=ON -DHPX_WITH_THREAD_LOCAL_STORAGE=ON```
  1.
  1.

## Specifications

... Please describe your environment

  - HPX Version:

[2020-03-28 17:36] #4466 closed

[2020-03-28 17:39] hkaiser commented on #4468
@scheherzade please add `-DHPX_WITH_GENERIC_CONTEXT_COROUTINES=On` to your cmake invocation on the Raspberry Pi. This should solve the issue you are seeing.

[2020-03-28 18:20] scheherzade commented on #4468
Yes, it solved the problem, thanks!

[2020-03-28 18:20] #4468 closed

[2020-03-29 17:02] hkaiser opened #4469 "New thread state: `pending_low`"
We currently have the thread state `pending_boost` that enforces high scheduling priority on the first invocation of the thread, reverting to `normal` priority for all subsequent invocations.

The new state `pending_low` will do the opposite: the new thread will be initially scheduled with low priority, but will run with `normal` priority when subsequently invoked.

This is useful in scenarios whe

[2020-03-29 19:18] hkaiser opened #4470 "Adapt hpx::future to C++20 co_await"
[P0912](http://wg21.link/p0912) has been accepted into C++20. This is to remind us that we need to adapt our existing code base to the recent changes in the spec. We also need to (optionally) enable support for gcc, clang, and msvc.

[2020-03-30 00:32] brakmic opened #4471 "[macOS] Execution fails with: client_base has no valid shared state"
## Expected Behavior

Want to compile & run hello_world.cpp on macOS Catalina 10.15.4

## Actual Behavior

After a successful compilation of hello_world (without any warnings) the execution fails with:
[code]
## Steps to Reproduce the Problem

1. Clone & install HPX by following the [tutorial](https://stellar-group.github.io/hpx-docs/latest/html/manual/building_hpx.html#how-to-install-hpx-on-os-x-

[2020-03-30 09:21] NancyLi1013 opened #4473 "Add vcpkg installation instructions"
`hpx `is available as a port in [vcpkg](https://github.com/microsoft/vcpkg), a C++ library manager that simplifies installation for `hpx `and other project dependencies. Documenting the install process here will help users get started by providing a single set of commands to build `hpx `, ready to be included in their projects.

We also test whether our library ports build in various configuration

[2020-03-30 14:24] msimberg opened #4476 "Use CMake targets defined by FindBoost"
There's no need for us (anymore) to define our own interface targets for Boost. Since we've bumped the minimum CMake version we can now rely on those targets being there and it saves us quite a bit of boilerplate.

[2020-03-30 14:28] msimberg opened #4477 "Clean up imported interface targets in HPX"
The `hpx::` prefix is confusing (compared to `HPX::`) and unnecessary. We can use e.g. `HPX::internal::` to make it clear that they're not intended for public use. (Thanks @hkaiser for the suggestion!).

[2020-03-30 16:51] hkaiser commented on #4473
@NancyLi1013 I think the documentation snippet you have in mind could be added to https://github.com/STEllAR-GROUP/hpx/blob/master/docs/sphinx/quickstart.rst in the 'Building HPX' section.

[2020-03-30 19:18] tsung-wei-huang opened #4480 "restricting the number of threads in an application"
How can I restrict the number of threads to run by an hpx application?

[2020-03-30 19:22] hkaiser commented on #4480
@tsung-wei-huang if you refer to the number of cores to run your HPX application on, then you can pass the `--hpx:threads=N` command line option, where N is the number of cores to use. In general you might want to read about the various command line options any HPX application supports here: https://stellar-group.github.io/hpx-docs/latest/html/manual/launching_and_configuring_hpx_applications.html

[2020-03-30 19:43] tsung-wei-huang commented on #4480
@hkaiser  is there any way I can do this through environment variable?

[2020-03-30 20:15] hkaiser commented on #4480
Unfortunately, this can't be controlled through an environment variable, ATM. But we could easily add this functionality, if needed. Not sure of how much use that would be for you.

[2020-03-31 02:09] NancyLi1013 commented on #4473
Hi @hkaiser
Thanks for your suggestions.
I will try to add it later.

[2020-03-31 03:30] NancyLi1013 commented on #4473
@hkaiser
I submitted the PR #4481 to add this.
Could you please help review this PR?

[2020-03-31 05:59] stmatengss commented on #3706
Hi @hkaiser, I would like to make contributions to implement `shift_left` and `shift_right` algorithms.

[2020-03-31 09:35] #2997 closed

[2020-03-31 12:29] hkaiser commented on #3706
@stmatengss Sure, those are not too difficult, I think. However, those will require some thinking to be parallelized. I'd start with looking at how `rotate` is implemented. These seem to be similar.

[2020-03-31 16:38] msimberg opened #4482 "Use CMake CUDA language support"
Since we now require CMake 3.13 we could potentially significantly clean up our CUDA support (https://cmake.org/cmake/help/latest/module/FindCUDAToolkit.html, `enable_language(CUDA)`). This would be a good task for someone familiar (or willing to get familiar) with CMake's CUDA support. The only caveat is that we'd have to make sure that clang CUDA compilation still works normally.

[2020-04-01 07:04] msimberg opened #4484 "Use CMake targets provided by FindMPI"

[2020-04-01 13:38] kordejong commented on #4123
I tried using the PAPI counters with HPX 1.4.1, but got the below error message. It looks like a regression(?).

[code]

Also:
[code]

And from the build log (RelWithDebInfo):
[code]

[2020-04-01 14:53] hkaiser commented on #4123
@kordejong could you please check with ldd whether `lib/libhpx_apex.so` has all its dependencies satisfied?

[2020-04-01 15:26] msimberg commented on #4123
Also, please check that you have `libhpx_papi_counters.so` in `lib/hpx/`. I think we've had a similar issue before which was due to old config headers (the papi component was built, but it included no code). I hope this is the same issue, but I doubt it. Just to make sure, do you have a fresh build directory?

[2020-04-02 02:29] NancyLi1013 commented on #4473
Since the instructions have been added to the document.
I close this issue now.
Thanks again for your help and support.

[2020-04-02 02:29] #4473 closed

[2020-04-02 07:31] kordejong commented on #4123
`ldd lib/libhpx_apex.so` does not show any missing dependencies.

[2020-04-02 07:34] kordejong commented on #4123
[code]
Yes, this is a recent build.

[2020-04-02 08:27] msimberg commented on #4123
I'll try to reproduce it in the next few days.

[2020-04-02 11:36] msimberg opened #4488 "Include only top-level module headers"
I think this is something we should do at least in examples, and probably tests. Internally I don't think it matters too much. This can happen once all modules are in place of course. Making the top-level module headers the "public" set of includes (we can't stop users from including other files...) protects users at least a bit from internal reshuffling in modules. The potential downside is incre

[2020-04-02 12:37] hkaiser commented on #4473
@NancyLi1013 thanks again for your contribution!

[2020-04-02 12:46] teonnik opened #4489 "Polymorphic executor"
I'm using two different executors `hpx::mpi::executor` (from John's branch) and `hpx::threads::executors::pool_executor` in my code. It would be great if I could toggle between the two dynamically. In other words, I'm looking for a `std::function` equivalent for executors.

Another use of a polymorphic executor for me is to reduce compile times. A function accepting a single polymorphic executor c

[2020-04-02 13:00] hkaiser commented on #4489
@teonnik The issue with adding a polymorphic executor is that you

- either would have to know the signature of the function(s) you plan to schedule using the executor ahead of time
- or limit the polymorphic executor to be non-variadic (i.e. scheduling nullary functions only)

The first might be inconvenient (if you have more than one function signature), the second is quite limiting and makes us

[2020-04-03 10:12] teonnik commented on #4489
If I understand things correctly, this will essentially give me the same control `std::function` gives me: I have know the signature ahead of time. I'd be happy with that option.

[2020-04-03 10:27] msimberg commented on #4123
@kordejong can you try with `--hpx:papi-event-info` (note the `hpx:` prefix)? `--hpx:papi-event-info` and `--hpx:list-counters` work for me on master and 1.4.1. I tried `hello_world_1` without APEX enabled.

[2020-04-03 10:45] kordejong commented on #4123
Using `hello_world_1` appears to work better. I do not get an error message anymore. What happens if you use fibonacci? Do you get an error now? Maybe it is a difference in handling command line arguments?

Also, in the case of `hello_world_1` I do not get an error message, but I also don't see any PAPI counter. Is that to be expected maybe, depending on the platform?

[2020-04-03 11:24] msimberg commented on #4123
It does work with fibonacci as well. It sounds like HPX is not finding the plugins directory (which could be related to the way you build and consume HPX). `hello_world_1` is likely not reporting errors because of the way the runtime is started. It just passes any non-HPX command line arguments to the main function.

I think we load plugins from `prefix/lib/hpx` (it's a different directory on Wind

[2020-04-03 12:04] #4476 closed

[2020-04-03 13:38] hkaiser commented on #4489
@teonnik yes, if you have just functions of one single signature, then the result would be equivalent to `std::function`. However we might want to cover the cases where the user has more than one single signature. But I guess in that case the user could fall back to a polymorphic executor that supports nullary functions, i.e. something like `polymorphic_executor<void()>` and handle the arguments (

[2020-04-03 13:47] #4033 closed

[2020-04-03 17:08] msimberg opened #4495 "Add anchor links to table rows in documentation"
Try to add anchor links to table rows in documentation (specifically for performance counters, to allow linking to specific counters).

Just opening this as a reminder for myself. Someone knowledgable in sphinx and restructuredtext can feel free to do it as well.

[2020-04-05 17:05] #2836 closed

[2020-04-06 07:19] msimberg opened #4497 "Add modules CI checks"
We can add the following checks:

- All header files need to be listed in `CMakeLists.txt`.
- All direct dependencies should be listed in `CMakeLists.txt` (and conversely no transitive dependencies need to be listed), this should be doable when module headers follow the `hpx/<modulename>` naming convention.

[2020-04-08 08:33] msimberg opened #4501 "Fix compilation of PAPI tests"
They seem to have broken (perhaps with #4441?). The fix should be straightforward, but I'm just opening this to make sure we don't forget before the next release.

[2020-04-08 08:41] msimberg opened #4502 "Separate distributed HPX.Compute features into separate module"

[2020-04-08 14:36] hkaiser opened #4506 "Make sure force_linking.hpp is not included in main module header"
We should exclude any generated `force_linking.hpp` header file from being `#include`d in any of the (generated) module header files.

[2020-04-08 14:39] hkaiser opened #4507 "User-polling introduced by MPI futures module should be more generally usable"
Currently, the MPI futures module introduces a global user-polling function that is being invoked from the scheduler. This works as long as no other code sets such a function. We should find a better way of injecting user code into the scheduler loop.

[2020-04-08 15:46] msimberg opened #4509 "Deprecate HPX_WITH_DEFAULT_TARGETS"
I'm trying to understand the purpose of `HPX_WITH_DEFAULT_TARGETS`. If `HPX_WITH_DEFAULT_TARGETS` is `OFF` nothing gets built with e.g. plain `make` or `make all` (unless I've missed some target that is unconditionally built). What was the original use case for this option? Is it still valid? Does it have something to do with Visual Studio?

[2020-04-08 16:27] hkaiser commented on #4509
@msimberg I don't remember, sorry. It has nothing to do with Visual Studio, however.

[2020-04-09 06:57] msimberg opened #4511 "Build test to check transitive dependencies"
Add a build test (like `hello_world_component`) to check that various headers are visible (and libraries are linked?) to downstream projects, with CMake and pkgconfig. Off the top of my head we can at least test that

- APEX
- hwloc
- Boost
- MPI
- CUDA

are correctly set up (conditionally, of course). Inspired by #4510.

[2020-04-11 12:58] hkaiser commented on #4127
Let's keep this open, added `pinned` label.

[2020-04-11 13:59] hkaiser commented on #4135
Keeping this open.... (adding `pinned` label).

[2020-04-11 15:19] hkaiser commented on #4497
@aurianer I think we should list all direct dependencies (i.e. modules for which a header is included) even if those would be pulled in transitively.

[2020-04-11 19:06] zao opened #4513 "HPXConfig.cmake contains ill-formed paths when library paths use backslashes"
## Expected Behavior

`find_package(HPX REQUIRED)` should work.

## Actual Behavior

`HPXConfig.cmake` contains statements like `set(HPX_HWLOC_ROOT "C:\local\hwloc-win64-build-2.1.0")` resulting in the following when used:
[code]

## Steps to Reproduce the Problem

  1. Build HPX with a command line like `cmake ..\hpx -DCMAKE_BUILD_TYPE=Release -G "Ninja" -DCMAKE_INSTALL_PREFIX=C:\stellar\inst-hpx

[2020-04-12 01:48] hkaiser commented on #4489
@teonnik I have started to implement this in #4514, please try things out and comment

[2020-04-12 11:28] aurianer commented on #4513
Just a question about this issue, I'm wondering about the developers who use Windows linux subsystem, if we simply replace the backslashes by slashes, it would conflict with this other prompt I believe

[2020-04-12 14:04] aurianer commented on #4513
Is this working for you @zao ? Let's see if the platform variable I used is the right one

[2020-04-14 08:27] aurianer commented on #4497
I agree but I prefer to wait until the modules are pretty much in place, because some of the modules have complicated dependencies just because other modules are not yet formed, I'll update the script as soon as they are all approximately in place :)

[2020-04-14 12:43] hkaiser opened #4517 "Test for counting_iterator fails for seed `1586836359`"
See: https://app.circleci.com/pipelines/github/STEllAR-GROUP/hpx/2928/workflows/7513cc05-cd89-4d95-89db-cf3527989d00/jobs/178631

[2020-04-14 18:36] hkaiser opened #4519 "Documentation problem"
From IRC:
[code]

[2020-04-15 08:17] msimberg commented on #4519
Would it actually be more canonical to write the example as the following to make it clear that `c.get()` returns a future (even though it's silly in this tiny example):
[code]

We can have the `hpx::launch::sync` as well. I'll grab these from tests (or add an example/test if there are no suitable ones) so that we know that the example compiles...

[2020-04-15 10:21] msimberg commented on #4495
@hkaiser it look like the only built-in way to get those little chain anchors (the ones that pop up next to headings) is on headings, tables, and figures. Just plain anchors are possible to insert anywhere (with `.. _anchor_name:`, like for headings). There at least three options:

1. Just add plain anchors. If one wants to link to a specific table row one has to know the anchor name and append it

[2020-04-15 11:01] hkaiser commented on #4495
@msimberg have you seen this: https://stackoverflow.com/a/30989921/269943?

[2020-04-15 11:16] msimberg commented on #4495
Yep, that's essentially 1. on the list above, and now that you link to it I see it in a completely different light :D (custom anchors and `:ref` is what we use for all other internal links...) so I present to you:

4. Just add plain anchors and add a link to the anchor right after the anchor. Without more sphinx-fu it would involve quite a lot of duplication (first declaring the anchor and then li

[2020-04-15 14:12] kordejong opened #4523 "Build of PR #4311 (git tag 9955e8e) fails"
## Expected Behavior

Build succeeds.

## Actual Behavior

Build fails.

[code]

## Steps to Reproduce the Problem

  1. `git clone https://github.com/kordejong/hello_hpx.git`
  1. `cd hello_hpx`
  1. `bash ./debug_build.sh`

## Specifications

... Please describe your environment

  - HPX Version: 1.4.1 + APEX fixes
  - Platform (compiler, OS): gcc-7, Kubuntu 18.04

[2020-04-15 14:21] kordejong commented on #4523
Full build output: [debug_build.txt](https://github.com/STEllAR-GROUP/hpx/files/4481723/debug_build.txt)

The build of HPX is triggered by CMake's FetchContent (see bottom of hello_hpx's CMakeLists.txt).

[2020-04-15 14:26] msimberg commented on #4523
I'm guessing this has to do with some include path being relative to your root build directory rather than HPX's root directory. I'll try to to look at this later this week. In the meantime, would you mind triggering a build without `FetchContent`? That would help us determine if it's really a problem with that particular setup or a general problem.

[2020-04-15 14:55] kordejong commented on #4523
A build without `FetchContent` succeeds.

[2020-04-16 04:55] kordejong commented on #4523
Oops, correction. I used the wrong commit for the previous build. Commit #9955e8e actually fails. I am attaching the log.
[classic_build.txt](https://github.com/STEllAR-GROUP/hpx/files/4484978/classic_build.txt)

[2020-04-16 06:54] kordejong commented on #4523
Building this commit from the command line fails for a different reason (C++ logic) than building this commit using CMake's `FetchContent` (CMake logic).

[2020-04-16 08:18] msimberg commented on #4523
Thanks @kordejong, that failure with the "normal" build is expected (it's what's still keeping that PR from going in). Building your fetchcontent repo now...

[2020-04-16 11:15] #4489 closed

[2020-04-16 11:16] #4513 closed

[2020-04-16 11:58] #4523 closed

[2020-04-16 23:29] khuck opened #4533 "HPX can't compile with GCC 7.3 on x86_64"
## Expected Behavior

HPX compiles

## Actual Behavior

HPX fails to compile.  The compiler error is:

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  configure with: cmake -DCMAKE_CXX_COMPILER=/packages/gcc/7.3/bin/g++ -DCMAKE_C_COMPILER=/packages/gcc/7.3/bin/gcc -DCMAKE_BUILD_TYPE=Debug -DBOOST_ROOT=/usr/loca

[2020-04-17 06:51] msimberg commented on #4533
@khuck the fix is in #4534. However, note that this error means that you're not wiping install directories between builds. We've had other cases like this with e.g. generated headers being moved, and the old ones being picked up. I don't recommend just installing on top of an existing install since we don't guarantee that file locations won't change (thus leaving old files around).

[2020-04-17 07:19] teonnik opened #4535 "API for checking if pool with a given name exists"
Currently we have this in our code to check if a pool with a given name exists:

[code]
Since v1.5, `scheduled_executor` is no longer a base class for `pool_executor` so the above doesn't work. We are unable to replace `pool_executor` with `scheduled_executor` above because `pool_executor` doesn't have a default constructor.

Would it be possible to implement an API to query whether a pool with a

[2020-04-17 07:27] msimberg commented on #4535
We can add both by the way: an API to check if the pool exists, and a default constructor for `pool_executor`.

For the record, `thread_pool_executor` is the base class for `pool_executor`. The former takes a `thread_pool_base` and the latter takes a thread pool name (it's just a convenience wrapper around the former). `thread_pool_base` does have a default constructor.

[2020-04-17 09:23] teonnik opened #4537 "Linking issue with libhpx_initd.a"
I stumbled on an issue with HPX on master (c140bf0ebafe8c1caadc0c122fea8e583988ab2f). We have a small static library (`DLAF_gtest_hpx_main`) providing `main()` to our unit tests (GoogleTest) :

[code]

Linking the library (`DLAF_gtest_hpx_main`) to our tests results in a linker error
[code]

The issue is resolved if `DLAF_gtest_hpx_main` is linked after `libhpx_initd.a` (thanks Mikael!).

Our link

[2020-04-17 09:27] msimberg commented on #4537
Likely caused by #4462. I'll look into this. `libhpx_wrap.a` must've appeared earlier in the link line than `libhpx_init.a`.

[2020-04-17 16:10] khuck commented on #4533
I just did a clean clone and got the same error.  I assume I also need to merge #4534?

[2020-04-17 17:26] msimberg commented on #4533
Yes, but I'll merge it into master now. My comment on #4534 was perhaps a bit confusing...

[2020-04-17 17:27] #4533 closed

[2020-04-17 20:54] khuck commented on #4533
thanks, current master builds now

[2020-04-18 07:29] teonnik opened #4539 "Compilation Error when HPX_MPI_WITH_FUTURES=ON"
## Expected Behavior

Compilation succeeds.

## Actual Behavior

Compilation fails with:

[code]

## Steps to Reproduce the Problem

Some of the flags are probably irrelevant:

[code]

## Specifications

  - HPX Version: master branch, commit f829319ed1ce76e433fb6c6c5242df762566106d
  - compiler: clang 9.0.1
  - cmake: 3.17.1
  - mpich: 3.3.2
  - hwloc: 2.2.0
  - boost: 1.72.0
  - gperftools: 2.7-

[2020-04-18 14:25] hkaiser commented on #4539
FWIW, the problem is only reproducible if `-DHPX_WITH_NETWORKING=OFF`.

[2020-04-18 16:08] hkaiser commented on #4539
@teonnik please see #4540 for a possible fix

[2020-04-19 12:56] teonnik commented on #4539
I just tested #4540 and can confirm that it resolves the problem, compilation completes successfully.

[2020-04-19 15:01] hkaiser commented on #4539
@teonnik We will need to apply some changes to our testing infrastructure before this can be merged. This might take a day or two. Anyways - thanks for verifying!

[2020-04-20 07:09] #4519 closed

[2020-04-20 11:45] #3994 closed

[2020-04-21 07:30] #4535 closed

[2020-04-21 08:37] msimberg opened #4542 "Move thread creation parameters into a struct"
This is about all the overloads of `register_thread`, `futures_factory`, `async_launch_policy_dispatch` etc. that take among other things a scheduling hint, priority, and stack size. This new struct is not quite `thread_init_data` because we do the conversion from any function to the thread function type, as well as converting an enum stack size to the real stack size. We could perhaps merge `thre

[2020-04-21 12:55] albestro opened #4543 "Segfaults in Release builds using `sleep_for`"
Testing our code on different platforms, we noticed that on some hardware for some tests we need a slightly larger stack size (`hpx.stacks.small_size`). However when increasing the small stack size one of the test started to systematically fail in *release* mode.

From our tests we extracted the failing case and reduced to the following minimal reproducible example, which also work only when the d

[2020-04-21 13:20] hkaiser commented on #4542
@msimberg yes, let's merge the structures.

[2020-04-21 14:18] hkaiser commented on #4543
@albestro Could you post the full error message you're seeing, please? Also, does this happen with current `stable` as well?

[2020-04-21 14:19] hkaiser commented on #4543
Sorry, please disregard the first request, I just saw the file you posted.

[2020-04-21 14:38] haampie commented on #4543
I've tried it with hpx 1.4.1 where it segfaults around here https://github.com/STEllAR-GROUP/hpx/blob/1.4.1/hpx/runtime/threads/policies/thread_queue.hpp#L147-L169

![Screenshot from 2020-04-21 13-41-38](https://user-images.githubusercontent.com/194764/79878849-330a7580-83ee-11ea-94a2-a9d98d58cf84.png)

It seems the `if`s are non-exhaustive and heap is a nullptr.

That moved to https://github.com/

[2020-04-21 14:44] rasolca commented on #4543
I confirm that on mac it fails with HPX 1.4.1 too.
(OSX 10.13.6, clang 8.0.1)
[code]

[2020-04-21 15:06] msimberg commented on #4543
Hrm, excellent catch. I think I know what's going on... Most likely the scheduler and whatever scheduled that thread aren't using the same definition of "small stack size" (one is the default, the other is the overridden small stack size). I'll fix it.

[2020-04-21 15:07] msimberg commented on #4543
By the way, are you implying that the code actually works correctly in debug mode? I would've expected that assertion to fire in debug mode.

[2020-04-21 18:13] msimberg commented on #4543
You'd be right if you were implying that!

As I suspected this is due to my changes, and as I suspected it's trying to create a thread with the default small stack size rather than the configured one. The reason this doesn't show up in debug mode is that the default small stack size in debug mode is the same as the default medium stack size. So in debug mode it ends up using the medium stack size

[2020-04-21 20:54] albestro commented on #4543
As you stated in your last comment, this problem was not there in debug mode, but just in release mode.

Just for supporting your findings.

Thanks for looking into that!

[2020-04-22 07:12] msimberg opened #4546 "Less verbose exception output"
I'm frequently frustrated by the hundreds of lines of output that happens when an exception occurs and the list of environment variables is long (typical in a slurm/easybuild environment). Does anyone else find this annoying?

I think we could do one of two things:
1. Add an "exception verbosity" configuration option, which would default to the current behaviour. Then I could just stick an `hpx.in

[2020-04-22 11:29] hkaiser commented on #4546
@msimberg The initial rationale behind having all that information in the exception output was to have as much of the environmental information available in cases of sudden and unexpected failures (which are mostly non-reproducible). I would agree to generally reduce this along the lines of what you are suggesting, however I would like to have an option controlling that behavior. In CI environment

[2020-04-22 12:05] msimberg commented on #4546
Yep, perfectly understandable. I was thinking of the second option for cases where it's easy enough to collect all that information after the fact manually, but the first option would allow exactly your use case. Whether we change the default verbosity is another question (we can easily make it verbose in CI). I'm happy if I have a knob to turn down the verbosity for myself though. I'll have a go

[2020-04-22 12:52] haampie commented on #3824
@chybz a bit late, but note that the flag is `HPX_WITH_STACKOVERFLOW_DETECTION` not `HPX_WITH_STACK_OVERFLOW_DETECTION`, it's fixed in the docs in the meantime (https://github.com/STEllAR-GROUP/hpx/pull/4544). However, I'm still hitting the same issue with gcc. With clang things are fine.

[2020-04-23 08:10] biddisco opened #4550 "Race condition causing dashboard fails"
Whilst browsing the dashboard, I was concerned by certain of my PRs having fails and I ran tests on master.

running `bin/resource_manager_test` several thousand times, I am able to reproduce this
[code]
approx once per 1000 runs on my laptop.
I will investigate what is going wrong, this issue is just to document the fact that most PRs are probably ok - errors persist on master.

[2020-04-23 08:30] msimberg commented on #4550
Thanks @biddisco! I should note that the resource manager (not the partitioner!) is deprecated along with the thread executors. That test may be exercising a part of our codebase that we don't otherwise test though, and may still be worth investigating.

[2020-04-23 09:19] biddisco commented on #4550
Seems to be apex related
[code]

[2020-04-23 09:47] msimberg commented on #4550
Aha, it could be that https://github.com/STEllAR-GROUP/hpx/blob/c2cbd542f7eb34279588991e9782356fce554da7/src/runtime_impl.cpp#L655-L657 needs to happen before https://github.com/STEllAR-GROUP/hpx/blob/c2cbd542f7eb34279588991e9782356fce554da7/src/runtime_impl.cpp#L633 (really the whole if-else block). The race may happen because that `deinit_tss` is called asynchronously in the first branch of the

[2020-04-23 15:03] msimberg commented on #4480
I'm not sure if we *want* to have more ways of setting the number of threads, but doesn't the configuration system already allow customizing things through environment variables? Having `HPX_NUM_THREADS` work as an environment variable looks like it would be a one-line change.

[2020-04-23 15:25] msimberg commented on #4537
Note: I'm referring to `hpx_init` and `hpx_wrap` as they were before the merge.

This is mainly a result of `hpx_wrap/hpx_init` now being linked automatically together with `hpx`. @teonnik was using the CMake variable `HPX_LIBRARIES` which in the latest release did not link to `hpx_wrap`. That had to be done separate with `HPX_LINK_LIBRARIES`. It also meant that it was possible to not link against

[2020-04-23 15:46] hkaiser commented on #4537
👍

[2020-04-23 15:57] hkaiser commented on #4480
Yes, that's what I was thinking. This changes the base-line default only however. We try to figure out how many cores to use through many different means, so I'm not sure if the base-line default value is actually used in the end. This needs some investigation.

[2020-04-23 16:26] biddisco commented on #4550
Thanks. I made that change and it now runs 10000 times with no error. I'll submit a PR with that fix and look for other dashboard problems that might be of a similar nature.

[2020-04-23 18:34] hkaiser opened #4554 "Make HPX test infrastructure configurable to use arbitrary stream to print"
If two localities are run on the same node, and both print error messages using the `HPX_TEST()` macros and friends, the output streams of the localities will be intermingled as both localities concurrently output to `std::cerr` by default (see: https://github.com/STEllAR-GROUP/phylanx/issues/1150).

This is to remind ourselves to create facilities similar to `HPX_TEST()` that allow to explicitly

[2020-04-23 22:04] biddisco opened #4555 "HPX_HAVE_THREAD_BACKTRACE_ON_SUSPENSION compilation error"
Build fails when using `cmake -DHPX_HAVE_THREAD_BACKTRACE_ON_SUSPENSION=ON`.

I am working on a fix. I enabled it to diagnose dashboard test errors with the lock held when suspending exception.

[2020-04-24 07:49] #4543 closed

[2020-04-24 07:50] msimberg commented on #4506
This was fixed #4503.

[2020-04-24 07:50] #4506 closed

[2020-04-24 09:05] #4550 closed

[2020-04-24 11:41] hkaiser commented on #4555
@biddisco please let me know if you need help with this.

[2020-04-25 00:31] weilewei opened #4556 "hpx_wrap not found"
## Expected Behavior

Get my application complies and link correctly

## Actual Behavior
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. trying branch fixing_4539
  2. CMake:
[code]

## Specifications

... Please describe your environment

  - HPX Version:
  - Platform (compiler, OS): gcc/8.1.1, Power9

[2020-04-25 02:16] weilewei commented on #4556
After adding -DHPX_WITH_DYNAMIC_HPX_MAIN=OFF in HPX cmake still doesn't help, the same error occurs again, unfortunately.. @hkaiser

[2020-04-25 06:47] msimberg commented on #4556
@weilewei could you show hos you link against HPX in your CMake configuration? Since the mpi branch was merged pretty recently there shouldn't even be a libhpx_wrap.a in your lib directory. Could you check that that's the case?

[2020-04-25 15:46] hkaiser commented on #4556
That tells me that -- after we changed HPX's build system -- the way you link DCA++ against HPX does not work anymore. We have to either make it work again (for what we would have to know how you currently link DCA++ - as @msimberg requested), or you will have to change the DCA++ build system to rely on the new CMake targets we expose in the new HPX build system (@msimberg do we have that already

[2020-04-25 16:03] weilewei commented on #4556
@hkaiser @msimberg if I commented out this line where links to hpx_wrap, then main_dca gets compiled. https://github.com/STEllAR-GROUP/DCA/blob/a0ea6a4daf4e029e84f3a085b13d3f37b8782f79/src/parallel/hpx/CMakeLists.txt#L18 I believe for HPX 1.4.1 (available model on Summit) still uses hpx_wrap, but latest branch does not?

[2020-04-25 16:36] hkaiser commented on #4556
@weilewei yes, we have changed our build system - a lot! Please just add `HPX::hpx` (and `HPX::hpx_init`) as a dependency to DCA++ (use `target_link_libraries(parallel_hpx HPX::hpx_init HPX::hpx)` for this).

[2020-04-25 16:45] hkaiser commented on #4556
@weilewei in order for your build system to function with older HPX versions as well, you can check whether the target `HPX::hpx` exists:
[code]

[2020-04-26 16:00] hkaiser opened #4558 "Prevent work-stealing from stalling"
Work-stealing relies on the assumption that all running HPX-tasks eventually give back control to the scheduler at some point. This can lead to 'lock-ups' if

- one (or more) of the HPX tasks keep running without ever yielding control to the scheduler
- the scheduler of the core that is running that HPX task has staged work
- the amount of staged work is smaller than the configuration setting for

[2020-04-27 08:09] msimberg commented on #4556
We have [this](https://stellar-group.github.io/hpx-docs/branches/master/html/manual/creating_hpx_projects.html#using-hpx-targets) which will be in the next release. However, please do *not* link to `HPX::hpx_init` explicitly (I'll change the namespace to make it clear). Linking to `HPX::hpx` is enough.

A bit of context: linking explicitly to `hpx_wrap` was never supported. In 1.4.1 and earlier yo

[2020-04-27 14:31] weilewei commented on #4556
@msimberg @hkaiser thanks for all the recommendations, which helps me construct a project that uses HPX. @msimberg `hpx_wrap` is written by @biddisco in that CMakeLists.txt, and I wasn't aware of this "advanced functionality :-)" until this break... Yea, anyways, but I will use the correct syntax in the application then, thanks!

[2020-04-27 14:55] weilewei commented on #4556
After using `target_link_libraries(parallel_hpx PUBLIC HPX::hpx)` and removing `#target_link_libraries(parallel_hpx PRIVATE hpx_wrap)`, the compilation error goes away. This problem seems go away now. Thanks!

[2020-04-27 14:55] msimberg commented on #3889
Closing this due to inactivity. @stevenrbrandt please reopen if this is still a problem.

[2020-04-27 14:55] #3889 closed

[2020-04-27 14:56] #4556 closed

[2020-04-27 17:16] msimberg opened #4565 "Make iostreams component work locally"
Either conditionally make it work with the local runtime, or add another implementation that always works locally.

[2020-04-27 17:19] msimberg opened #4566 "Make logging work with local runtime"

[2020-04-27 17:20] msimberg opened #4567 "Make APEX work with local runtime"

[2020-04-27 17:36] msimberg opened #4568 "Make performance counters locally"

[2020-04-27 17:38] McKillroy opened #4569 "Annoying warning when compiling - pls suppress or fix it."
## Expected Behavior

no warning

## Actual Behavior

getting the following warning over and over again:
....  include\hpx\threading\jthread.hpp(258): warning C4267: 'return': conversion from 'size_t' to 'unsigned int', possible loss of data

## Steps to Reproduce the Problem

compile with MSVC, enabling jemalloc

## Specifications

  - HPX Version: stable : c5b1812e0d414c33a9068d101075e2aab9afeb

[2020-04-27 17:43] K-ballo commented on #4569
https://github.com/STEllAR-GROUP/hpx/blob/2b91d44d2ec5ea05065e51833517056e92512a1e/libs/threading/include/hpx/threading/jthread.hpp#L255-L259

`hpx::threads::hardware_concurrency` ought to return `unsigned int` rather than `std::size_t`.

[2020-04-27 17:47] msimberg opened #4571 "Add high-level documentation to new modules"
This is a reminder to go through all the newly added modules and add high-level documentation before the next release.

[2020-04-27 17:49] msimberg opened #4572 "Thread manager should be given a runtime_configuration"
Currently the thread manager gets the configuration through the global `hpx::get_config()` (which goes through the runtime). The configuration should be passed to the thread manager instead.

[2020-04-27 17:52] biddisco commented on #4555
Just reopening until #4559 is resolved

[2020-04-27 18:00] msimberg opened #4573 "Parcelport configuration should be passed to runtime configuration"
The runtime configuration currently asks for the configuration from the parcelports, creating a dependency in the wrong direction. The configuration should be passed to the runtime configuration.

[2020-04-27 18:47] biddisco commented on #4555
closing this again. Wiped my build dir, deleted the cache and recompiled and it goes away. Very tiring these cmake cache problems.

[2020-04-27 18:47] #4555 closed

[2020-04-27 18:53] hkaiser commented on #4569
@McKillroy please see #4574 for a fix. Thanks!

[2020-04-27 18:57] hkaiser commented on #4571
Here is the list of current modules for our reference:
 - [ ] affinity
 - [ ] algorithms
 - [ ] allocator_support
 - [ ] asio
 - [ ] assertion
 - [ ] async
 - [ ] async_base
 - [ ] async_combinators
 - [ ] basic_execution
 - [ ] batch_environments
 - [ ] cache
 - [ ] checkpoint
 - [ ] collectives
 - [ ] command_line_handling
 - [ ] compute
 - [ ] compute_cuda
 - [ ] concepts
 - [ ] concurrency
 -

[2020-04-27 19:00] biddisco commented on #4555
well, now I'm finding
[code]

[2020-04-27 19:07] hkaiser commented on #4555
@biddisco Please see https://github.com/STEllAR-GROUP/hpx/blob/master/libs/debugging/include/hpx/debugging/backtrace.hpp. This either includes `backtrace/backtrace.hpp` if `HPX_HAVE_STACKTRACES` is defined or defines an empty `class backtrace` if it's not defined. Your compiler error above somehow complains about both versions being defined. I'm not sure how this can happen. Could you generate a p

[2020-04-27 19:15] hkaiser commented on #4555
@biddisco ok, found it. Please check whether #4575 helps with this problem.

[2020-04-27 19:19] hkaiser commented on #4568
This might be difficult to achieve or might require significant effort. Currently all performance counters are components that are registered with the symbolic namespace in AGAS. In order to make them available with the local-only runtime we will have to make them non-components and create a new registry for instantiated performance counters. There might be more....

[2020-04-27 20:14] biddisco commented on #4555
That should fix it - I made the same change locally by modifying the header generated in the build dir, but this will stop it being written in the first place. Thanks. I'll test either now or tomorrow morning.

[2020-04-28 06:33] msimberg opened #4576 "Future module"
The last local module outside of the runtime is a future (base) module.

[2020-04-28 06:35] #4569 closed

[2020-04-28 06:38] msimberg commented on #4568
Yeah, this is me optimistically just documenting what could be done. I imagined that it may be possible to wrap a local-only performance counter to turn it into a distributed one (with support e.g. for the locality syntax) but this is without having looked at the implementation at all. This may indeed be difficult.

[2020-04-28 09:12] teonnik opened #4578 "Default value for HPX_WITH_THREAD_BACKTRACE_DEPTH"
In HPX v1.4.1 the default value of `HPX_WITH_THREAD_BACKTRACE_DEPTH` seems to be 5.  @msimberg told me that the new default on master is 20. Would it be possible to bump that to 100 (or some value larger than 20) as 20 might be insufficient in some cases in DLAF?

[2020-04-28 12:21] msimberg opened #4580 "Stacktrace does not resolve all function addresses"
Reported by @teonnik.

The following program:

[code]

prints this on Linux (HPX 1.4.1, debug mode):

[code]

I'm also not able to get function names to show up. Does someone else get stacktraces with full information? Does someone remember if this has worked before? It looks like it may only be resolving things from shared libraries.

[2020-04-28 12:35] hkaiser commented on #4580
This looks like if your application was not built using Debug or the symbols were stripped. Could you check, please?

[2020-04-28 12:43] hkaiser commented on #4578
We should make this a runtime-configurable value, if possible.

[2020-04-28 15:11] teonnik commented on #4580
The application above was built with debug symbols:
[code]

`objdump --syms backtrace | grep debug` outputs:

[code]

HPX was also built using Debug.

[2020-04-28 16:03] msimberg commented on #4580
The same happens elsewhere as well apparently, but I never reacted on it: https://app.circleci.com/pipelines/github/STEllAR-GROUP/hpx/3119/workflows/9220d1a8-f0ec-437b-afe2-49d2c552043f/jobs/183016/steps. Same on pycicle.

[2020-04-28 18:37] hkaiser commented on #4580
This could be the result of either executing this code:
https://github.com/STEllAR-GROUP/hpx/blob/master/libs/debugging/src/backtrace.cpp#L172
(if `dladdr` fails) or this code:
https://github.com/STEllAR-GROUP/hpx/blob/master/libs/debugging/src/backtrace.cpp#L193
(if libdl returned incomplete information).

From the documentation (http://man7.org/linux/man-pages/man3/dladdr.3.html) one could imply

[2020-04-28 18:48] hkaiser commented on #4580
I found this: https://github.com/att/ast/issues/460#issuecomment-379588389, which explains how to manually walk the symbol table in an ELF executable. Could somebody try this, please? This isn't anything I could easily do on my Windows setup.

[2020-04-28 19:26] #4539 closed

[2020-04-29 07:46] #4572 closed

[2020-04-30 15:47] #4554 closed

[2020-05-02 13:36] #4046 closed

[2020-05-03 06:33] #3623 closed

[2020-05-03 11:07] McKillroy opened #4589 "Possible uncaught exception causing hpx::parallel::for_loop lockup"
## Expected Behavior

The exception to be reported / caught / propagated

## Actual Behavior

hpx::parallel::for_loop locks up and never returns

## Steps to Reproduce the Problem

throw at this location:
https://github.com/STEllAR-GROUP/hpx/blob/master/libs/algorithms/include/hpx/parallel/util/detail/handle_local_exceptions.hpp#L109

## Specifications

  - HPX Version: stable as of today
  - Plat

[2020-05-03 12:58] #4580 closed

[2020-05-03 13:33] McKillroy commented on #4589
The callsite of the parallel loop in my code:

` hpx::parallel::for_loop(                                         //
            hpx::parallel::execution::par                                //
                .on( exec )                                              //
                /* .with( static_chunk_size( 25000 ) ), */               // 100.000
                .with( auto_chunk_size( autochu

[2020-05-03 14:14] McKillroy commented on #4589
I finally managed to print the exception, inside `errors` after the MS debugger liked to crash a lot:
[code]

[2020-05-04 08:14] msimberg commented on #4537
@teonnik by the way, one way to get around this in the meantime is setting `HPX_WITH_DYNAMIC_HPX_MAIN=OFF`. This disables all the linker magic for wrapping the main function. #4564 will give you a way to avoid it even if HPX was compiled with it on though.

[2020-05-05 09:39] msimberg opened #4594 "Rename modules"
Choosing `async` as the name for a module was not the best idea (because of potential conflicts between the namespace `hpx::async` and the real `hpx::async`).

I'd rename it `distributed_async`. Other ideas or preferences?

Modules that need to be renamed:

- [x] `local_async` (#4689)
- [x] `async` (#4689)
- [x] `mpi` (#4689)
- [x] `cuda_support` (#4385)
- [x] `local_lcos` (#4740)
- [x] `basic_exe

[2020-05-05 10:20] hkaiser commented on #4594
In the light of our recent discussion to rename the mpi and cuda future modules to `async_mpi` and `async_cuda` I'd suggest to rename this one to `async_distributed` - even more as we already have `async_local`.

[2020-05-05 10:27] msimberg commented on #4594
Good point. It is `local_async` at the moment though, so I'll rename that one as well. I can go and rename all of them once we have the CUDA PR in as well. Were there others (`async_base`, `async_local`, `async_distributed`, `async_mpi`, and `async_cuda`)?

[2020-05-05 10:48] hkaiser commented on #4594
@msimberg thanks. In the end it does not matter how we name the modules. It would be (slightly) preferable to name them consistently, however.

[2020-05-05 10:58] msimberg commented on #4546
Fixed by #4552.

[2020-05-05 10:58] #4546 closed

[2020-05-05 11:01] msimberg commented on #4477
Fixed by #4483 and #4564.

[2020-05-05 11:01] #4477 closed

[2020-05-06 08:15] msimberg commented on #3348
I did some experimenting with different ways of launching tasks in a fork-join style and ended up with the conclusion that anything that has to spawn new tasks for each parallel region ends up paying a significant overhead (i.e. the minimum feasible grain size is significantly limited). Even stackless tasks end up going through a lot of code until they are actually executed.

I'm sure there are ma

[2020-05-06 10:17] msimberg commented on #4578
I think we can close this now that #4584 is merged.

[2020-05-06 10:17] #4578 closed

[2020-05-06 14:17] biddisco commented on #3348
Agreed. I even floated the idea some time back of switching out the entire scheduling loop so that we could do away with the whole task creation and queuing using in 'normal' hpx tasks and instead have a minimal openmp-like one.

[2020-05-06 23:06] scheherzade opened #4599 "Accessing the number of idle cores at runtime"
## Expected Behavior

Could we have a function to determine the number of idle cores at runtime? I would like to make decisions within a custom parallel executor based on the number of idle cores.

[2020-05-07 10:49] aurianer commented on #4537
Closing this since #4564 has been merged

[2020-05-07 10:49] #4537 closed

[2020-05-07 14:48] msimberg commented on #4599
This is certainly doable. Would you only need to know how many threads are idle or also which threads are idle? Just keeping track of the number of idle threads with an atomic counter would likely be close to zero overhead (assuming threads go rarely from idle to busy and vice versa).

[2020-05-07 15:14] biddisco commented on #4599
Might not work well in many cases ... If a core becomes idle, it will steal work from another core (in general), so what you'll see is `NO cores idle ... NO cores idle ... NO cores idle ... ALL cores idle` - unless the tasks are long running and there are only a few of them - so that a few cores are busy for a substantial amount of time, with no stealing going on.

[2020-05-07 15:33] hkaiser commented on #4599
We already have the counter that keeps track of idle cores (for the utilization perf-counter). We just would need to expose that.

[2020-05-07 18:11] scheherzade commented on #4599
@msimberg I just need to know the number of idle threads at the time I want to make a decision.

[2020-05-08 13:00] hkaiser commented on #4599
@scheherzade I think I know how to expose this value and will work on it asap.

[2020-05-09 09:29] #4194 closed

[2020-05-11 07:27] teonnik opened #4612 "Compilation issue with HPX 1.4.1 and 1.4.0"
## Expected Behavior

The following snippet compiling successfully:

[code]

## Actual Behavior

Compilation fails with `gcc 8.4`, `clang 10` and `apple-clang 10.0.1` ( thanks @albestro for testing) with `HPX` `1.4.0` and `1.4.1` but succeeds with `HPX` `master`. `clang 10` reports this:

[code]

## Specifications

  - HPX 1.4.1 on Arch Linux with gcc 8.4 and clang 10
  - HPX 1.4.0 on MacOS with a

[2020-05-11 10:06] msimberg commented on #4364
I suppose this could do with a HEP (like #4593) to work out the details.

Before that I'd like to go one step further than what I proposed above, and say that I think we should expose the public API directly in the `hpx::` namespace, with the exception of standard facilities that are not directly in `std::`. Motivation:

1. Easier for users; if we tell a user to use `X`, and `X` is in our public A

[2020-05-13 07:22] #4401 closed

[2020-05-13 10:19] msimberg opened #4619 "Fully document hpx_wrap behaviour and targets"
Before I forget:

- Document all three targets `HPX::hpx`, `HPX::hpx_no_wrap_main`, and `HPX::wrap_main`
- Add troubleshooting entry for the common error messages resulting from not using the targets above correctly

[2020-05-13 10:24] msimberg commented on #4364
If we agree to do the above, the follow-up is to make an explicit list of what the public API contains. I would keep that list in the documentation with direct links to the documentation. That would also it easier to check that our public API is actually documented, and users can be pointed to one page with the public API instead of having to sift through the documentation for modules. I believe t

[2020-05-13 12:05] hkaiser commented on #4619
Are there ways to diagnose problems at configuration time?

[2020-05-13 12:10] msimberg commented on #4619
I don't think so but will add it if I come up with something. Most likely having a way to do that implies having a way to do the linking correctly in the first place, in which case we don't need the troubleshooting section for that.

[2020-05-13 14:22] biddisco opened #4620 "build error on summit"
This is an older gcc (8.1) and an old boost (1.68), but I've not seen this error before (ideas?). Using commit
61b331f34ccf54a54f2975c975c5f156b48d0fe9 (head of master today).
I'll experiment with options and settings - I must have forgotten to set something as I wiped all my build dirs/logs from previous working versions
[code]
[code]

[2020-05-13 14:30] hkaiser commented on #4620
@biddisco: please try using a newer Boost. I think this has been fixed in Spirit about 2 years ago.

[2020-05-13 14:31] hkaiser commented on #4620
FWIW, here is the commit fixing it: https://github.com/boostorg/spirit/commit/43f8b5035e21aa812f1b1e3797e76c42689c47fd#diff-f63d2a280355bbca7beaad7fe7f75a90

Looks like you will need at least Boost V1.69.

[2020-05-13 14:38] biddisco commented on #4620
Thanks. That being the case, should we bump our minimum supported boost up to 1.69?

[2020-05-13 14:53] hkaiser commented on #4620
We could document that on Summit (or Power architectures in general) the minimal version is V1.69. On x86 systems everything should work just fine with earlier versions.

[2020-05-13 16:34] #2860 closed

[2020-05-15 15:06] gonidelis commented on #3646
@hkaiser Should we link the relevant Technical Specification to the description?

[2020-05-15 15:53] hkaiser commented on #3646
Sure, please feel free to do that, thanks!

[2020-05-15 16:32] khuck opened #4627 "Allow HPX counters to be requested before they are registered"
## Expected Behavior

The current HPX counter interface expects that all counters are registered during HPX initialization.  However, in order for APEX to share counters with HPX, APEX won't register the counter until the first time it is sampled (APEX doesn't know about it's existence before then).  Registering and measuring the counter is fine, but there's no way to request the counter on the co

[2020-05-15 18:50] stevenrbrandt opened #4628 "mpi parcelport totally broken"
## Expected Behavior
That the tests in the test suite will pass

## Actual Behavior
All tests with "distributed" in the name fail.

... Please describe the behavior you actually observed.
All fail with the same assertion:
[code]

... Please describe the behavior you would have expected.
Expect the tests to pass

## Steps to Reproduce the Problem

... Please be as specific as possible while describ

[2020-05-15 21:17] biddisco opened #4629 "FindPackage(HPX) breaks other software"
I have a test project that just builds a couple of simple examples, with and without boost. With and without MPI. I was going to test HPX linking to solve the wrap_main problem and discovered that simply adding
[code]
breaks tests that pass without it - **if HPX is found**

The following output may be useful for diagnosing this
[code]
and for comparison
[code]
(+  few thousand more lines of boost

[2020-05-15 21:34] msimberg commented on #4629
What is the variable you're printing for `Boost libraries are...`? Is it possible that you're finding Boost before finding HPX, but using `BOOST_LIBRARIES` after finding HPX (which itself just needs Boost system)?

[2020-05-15 21:46] biddisco commented on #4629
That is correct. Before calling find HPX boost libraries are
[code]
after, just system.
I'll modify my project to use names boost libraries, but it does seem wrong that hpx is changing the list ...

[2020-05-15 21:53] biddisco commented on #4629
Closing this because it isn't worth fixing in HPX

[2020-05-15 21:53] #4629 closed

[2020-05-16 14:01] hkaiser commented on #4628
See also https://github.com/STEllAR-GROUP/phylanx/issues/1172 for more details

[2020-05-16 14:05] hkaiser commented on #4627
This can be potentially achieved by supplying your own counter discoverer function. I'll try to put together an example demonstrating its use for delayed counter registration.

[2020-05-16 17:11] gonidelis commented on #3646
[Related TS](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/n4861.pdf)

[2020-05-18 06:56] biddisco opened #4637 "compatibility headers are not very useful"
Going through some of my older projects and updating them to work with hpx master gives messages/errors such as these

[code]
It's nice that the warning tells me that `hpx/parallel/executors/pool_executor.hpp` is deprecated, but even if I fix this, I still get
[code]
and I have to grep the hpx source code to see which namespace the pool executor is in. It seems like a lot of effort has been put in

[2020-05-18 07:06] biddisco commented on #4637
likewise
[code]
changing the bind header is nice, but I still have to grep for iostreams anyway.

After modularization is complete, and files move around reasonably little - I can see how these headers might be useful, but with such a massive disruption in the code base from pre to post modularization - it would have saved considerable work to introduce them only post-modularization.

We never gav

[2020-05-18 08:12] msimberg commented on #4637
That suggestion to include `hpx/executors/pool_executor.hpp` instead of `hpx is not quite right. Could you help us get it right? I think if you want to keep on using `hpx::threads::executors::pool_executor` the right include would be `hpx/thread_executors/pool_executor.hpp`. Does that work for you? The new `pool_executor` is not 100% compatible with the old one because it's not a `thread_executor`

[2020-05-18 08:28] biddisco commented on #4637
**I don't need help fixing my old code.**

I'm merely trying to  point out that I do not believe the compatibility headers are useful yet.

In a similar vein ... this ...
[code]
and this
[code]
and this
[code]
[code]
are not solved by the compatibility layer - and these take much more time to track down and fix than the header changes.

[2020-05-18 08:28] biddisco commented on #4637
NB. And I still have dozens and dozens more errors to go through.

[2020-05-18 08:33] biddisco commented on #4637
No!
I do not believe the compatibility layer is useful when going from a completely unstructured HPX (ie the old one), to a new modularized and better structured HPX. The time spent getting that layer right is too excessive and not worth the effort.

Once the modularization is complete - Then I think the layer will prove useful, because changes in locations of utilities and functions will be bette

[2020-05-18 08:44] biddisco commented on #4637
I would like the retract my "No!" in the previous comment.

I don't want to help fix the compatibility layer - not because it's a waste of time right now, but because **_I have no idea where everything is any more anyway_**.

[2020-05-18 08:48] msimberg commented on #4637
I think we mostly agree. We will not get everything right with the compatibility headers, but they do work for a majority of cases (which is why I would like to have for example the executor headers working correctly) and I think it's worth it to keep them for that. That runtime functionality you're relying on is definitely meant to be internal functionality (there's `hpx::get_thread_name`, `hpx::

[2020-05-18 09:55] #4620 closed

[2020-05-18 09:58] biddisco commented on #4637
I've now finished converting my old application (and the HPX backend for OpenCV) so that they run with the latest HPX. Last night and this morning, I probably spent about 3 hours on it.

3 hours is a PITA but in the grand scheme of things, it's not a lot of time to convert a complex QT GUI application that uses HPX tasks for processing/rendering and has an OpenCV image processing pipeline that als

[2020-05-18 09:58] #4637 closed

[2020-05-18 12:27] hkaiser commented on #4637
Excellent point!

[2020-05-19 07:51] msimberg commented on #4329
We had a brief discussion (@aurianer, @biddisco, @hkaiser, and myself) yesterday on how to proceed towards 2.0.0. I've tried to write down here the rough consensus from that discussion. 1.6.0 and further 1.X releases do not have to come 6 months apart. We can do them as quickly as a significant change is there. There are a few things from the above list (libfabric cleanup, ROCm) that I didn't put

[2020-05-19 08:12] #4599 closed

[2020-05-19 10:16] msimberg opened #4639 "Update deprecation warnings in compatibility headers to point to collective headers"
They should be updated to point to the headers defined in #4626 if possible, or `hpx/include/` headers.

[2020-05-19 22:23] hkaiser commented on #4628
@stevenrbrandt could you please try https://github.com/STEllAR-GROUP/hpx/pull/4644 to see if this fixes your issue?

[2020-05-20 08:09] msimberg commented on #4612
Sorry for the delay here. That looks like a bug that we've inadvertently fixed since 1.4.1. However, I don't think we'll make another patch release for 1.4. For your own and our sanity during the modularization, and contrary to what the compatibility headers and we've been suggesting so far since the 1.4.1 release, I would actually suggest that you include `hpx/include/parallel_executors.hpp` and

[2020-05-20 08:31] teonnik commented on #4612
Thanks @msimberg , I just tested it and it works. We are using the latest stable HPX version and we have no plans (that I am aware of) to support older HPX versions.

[2020-05-20 12:41] hkaiser commented on #4488
Here is a (possibly incomplete list):
- [ ] `hpx/algorithm.hpp`
- [ ] `hpx/any.hpp`
- [ ] `hpx/barrier.hpp`
- [ ] `hpx/chrono.hpp`
- [ ] `hpx/condition_variable.hpp`
- [ ] `hpx/exception.hpp`
- [ ] `hpx/execution.hpp`
- [ ] `hpx/future.hpp`
- [ ] `hpx/iostream.hpp`
- [ ] `hpx/latch.hpp`
- [ ] `hpx/memory.hpp`
- [ ] `hpx/mutex.hpp`
- [ ] `hpx/numeric.hpp`
- [ ] `hpx/optional.hpp`
- [ ] `hpx/semapho

[2020-05-20 12:42] hkaiser commented on #4470
This has been fixed my merging #4591

[2020-05-20 12:42] #4470 closed

[2020-05-20 13:14] hkaiser commented on #3983
This can be closed now.

[2020-05-20 13:14] #3983 closed

[2020-05-20 13:21] msimberg opened #4647 "Rename generated collective headers in modules"
Since some headers in #4626 would clash with our current naming scheme of naming collective headers `hpx/modulename.hpp`, and #4626 should have precedence, we should rename the generated headers (e.g. `hpx/execution.hpp` should include much more than what the execution module contains, or the `uninitialized_X` functions need to be in `hpx/memory.hpp` but the memory module has already taken that na

[2020-05-20 13:24] hkaiser opened #4648 "Thread stacksize not properly set"
Did you have a case where `stacksize` still was `thread_stacksize_current` at this point? I would rather put an assert in the first if after `stacksize` has been updated as this shouldn't happen. A created HPX thread should always have one of the actual sizes (small, medium, ...), and a non-HPX thread should return the default which is the small stacksize at the moment.

_Originally posted by @msi

[2020-05-20 13:28] hkaiser commented on #4647
I support that.
BTW, Should we rename the `libs` directory as well?

[2020-05-20 13:33] msimberg commented on #4647
Yes, I think that's a good idea.

[2020-05-20 19:00] khuck opened #4650 "thread descriptions are broken...again"
## Expected Behavior

The `util::thread_description` constructor uses the `traits::get_function_annotation<F>::call(f);` value to get an annotation, if it exists.  The default behavior used to be to return a `nullptr`, which would then be overridden by the `altname` value, if there was one.

## Actual Behavior

Unfortunately, the new behavior is to return the string `"<anonymous>"`.  Which then ov

[2020-05-20 20:25] khuck commented on #4650
Quick update - if I change the return from `traits::get_function_annotation<F>::call(f);` back to nullptr, then things _do_ work.  I'll do some more testing, then probably do a pull request.

[2020-05-20 21:56] khuck opened #4652 "How to fix distributed action annotation"
## Expected Behavior

In the past, distributed actions were annotated correctly.  Now, all localities other than 0 get just `<anonymous task>` tasks.

## Actual Behavior

I think the fix (or at least the problem) is in here:
https://github.com/STEllAR-GROUP/hpx/blob/9b9392a24c3406237fae4f04c68a2081c1e04ae8/libs/async/include/hpx/async/applier/apply.hpp#L388-L409

I am not sure how using a default

[2020-05-21 15:29] #4650 closed

[2020-05-21 15:45] hkaiser commented on #4650
@khuck I'm now able to reproduce this and will try to find a remedy.

[2020-05-21 16:01] diehlpk opened #4654 "--hpx:ini=hpx.stacks.use_guard_pages=0 hangs on Summit"
Running

`bash-4.2$ jsrun -n1 -a1 -c7 ./hello_world_1`

on Summit works, however,

`bash-4.2$ jsrun -n1 -a1 -c7 ./hello_world_1 --hpx:ini=hpx.stacks.use_guard_pages=0`

adding  `--hpx:ini=hpx.stacks.use_guard_pages=0` to the applicaitons and HPX hangs.

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX on Summ

[2020-05-21 16:15] hkaiser commented on #4654
Could you please add `--hpx:debug-hpx-log=<some-file>` and post the generated logging output?

[2020-05-21 16:27] khuck commented on #4650
Did you intend to add this to #4652?

[2020-05-21 16:32] hkaiser commented on #4650
@khuck I will fix #4652 separately.

[2020-05-22 01:56] diehlpk commented on #4654
No, I think that will not work, since the job hangs at startup for 5 minutes and I kill the hpx application with ctrl+c.

[2020-05-22 01:57] diehlpk commented on #4654
Just tested it and there is no file written. Maybe because I kill the applicaiton?

[2020-05-22 08:48] msimberg opened #4656 "HEP 2 implementation tracker"
This issue tracks how much of #4626 has been implemented. Since HEP 2 is still in progress, this is not necessarily a complete list of things that need to be done.

Headers:

- [ ] `hpx/algorithm.hpp`
- [ ] `hpx/any.hpp`
- [ ] `hpx/barrier.hpp`
- [ ] `hpx/chrono.hpp`
- [ ] `hpx/condition_variable.hpp`
- [ ] `hpx/exception.hpp`
- [ ] `hpx/execution.hpp`
- [ ] `hpx/future.hpp`
- [ ] `hpx/iostream.hp

[2020-05-22 08:52] msimberg opened #4657 "HEP 1 implementation tracker"
This issue tracks how much of #4593 has been implemented. Since HEP 1 is still in progress, this is not necessarily a complete list of things that need to be done.

- [x] `hpx_core` #4649
- [x] `hpx_local`
- [ ] (bonus) use object libraries #4135
- [x] allow choosing runtime type at run time #4646
- [ ] add CMake options for building only `hpx_core` or `hpx_local`

[2020-05-23 20:19] McKillroy opened #4658 "Linker error in last stable on Windows release builds."
[linker_error_in_release.txt](https://github.com/STEllAR-GROUP/hpx/files/4672461/linker_error_in_release.txt)
## Expected Behavior

To build without wincing.

## Actual Behavior

Build doesn't work on Windows release (debug builds do work)

## Steps to Reproduce the Problem

Build stable release on windows with MSCV
hash: 9b9392a24c3406237fae4f04c68a2081c1e04ae8

CMake command:
ExternalProject_Add

[2020-05-23 22:09] McKillroy commented on #4658
You fixed it. We can close this.

[2020-05-23 22:09] #4658 closed

[2020-05-24 01:30] #4628 closed

[2020-05-24 11:01] #4652 closed

[2020-05-24 16:48] hkaiser opened #4661 "Fix resource tests"
The commit https://github.com/STEllAR-GROUP/hpx/commit/550950f3a0c52ba3ff59740195e15884e01deb72 has disabled three of the tests in `util/resource` in order to allow for CircleCI to generate a new stable tag. These tests need to be fixed.

[2020-05-24 16:56] #3654 closed

[2020-05-25 05:00] biddisco opened #4662 "MPI initialization broken when networking off"
Unfortunately, changes were made in PR #4540 to initialization, that broke MPI when networking was enabled, then they were broken again in #4644 for applications that do not use networking. Attempting to run MPI enabled code that uses HPX results in
[code]
on all ranks != 0

Unfortunately #4540 was merged before it was ready (and broke local changes I was working on for initialization). #4644 was

[2020-05-25 07:09] msimberg commented on #4654
@diehlpk if you use `--hpx:debug-hpx-log` without the `<some-file>` part, it should just print the logs to stdout. You may be able to redirect that to a file (or maybe `jsrun` already redirects the output to a file).

[2020-05-25 07:18] msimberg commented on #4661
I will look at these before 1.5.0.

[2020-05-25 11:13] #4576 closed

[2020-05-25 13:08] hkaiser commented on #4662
@biddisco: How do you run MPI jobs? What errors do you see? Is latest master still broken for you?

[2020-05-25 13:09] hkaiser commented on #4662
What tests failed after merging this?

[2020-05-25 13:20] biddisco commented on #4662
Yes. Latest master is broken. No tests failed. What I mean is that the PR was submitted and merged within a day and I didn't have a chance to actually test it on real applications that don't use hpx networking. Unfortunately, our mpi_async tests are incorrectly setup and run only on N=1 ranks (something I will also fix in the PR when I push the fix).

[2020-05-25 18:36] diehlpk opened #4668 "Error: Internal Compiler Error (codegen): "there was an error in verifying the lgenfe output!"
## Expected Behavior

HPX with CUDA and examples should compile using CUDA `cuda/10.1.243` anf gcc 8.1.1

## Actual Behavior

HPX itself does compile, but enabling the examples does not compile with following error:
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Use cuda/10.1.243
  1. Compile HPX with CUDA and

[2020-05-25 19:13] msimberg commented on #4668
@diehlpk that's a fairly old version, are you sure that's correct? We've definitely had that error before with CUDA and we've fixed a few of them, but I don't remember if we had that fixed in 1.3.0. Would it be possible for you to use a newer HPX? I hope we haven't regressed again on master with CI down...

[2020-05-26 01:28] diehlpk commented on #4654
It seems that we have a segfault with the  `--hpx:ini=hpx.stacks.use_guard_pages=0 `

[code]

[2020-05-26 08:17] sithhell commented on #4654
And where does this segfault come from?

[2020-05-26 14:26] diehlpk commented on #4668
@msimberg Yes, this version is old, but I was working on some reproducibilty thingy. However, HPX 1.4.1 works.

[2020-05-26 16:27] khuck opened #4669 "Release build failure"
## Expected Behavior

Building a Release configuration of HPX should work

## Actual Behavior

Only Debug builds are successful.  Both Release and RelWithDebInfo builds fail.  See http://omega.nic.uoregon.edu:8020/#/builders/6/builds/163/steps/7/logs/stdio

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  Config

[2020-05-26 17:40] hkaiser commented on #4669
@msimberg We seem to need the explicit instantiations now after all...

[2020-05-26 17:44] msimberg commented on #4669
Yeah, I thought so. I think I must've had that problem on some particular configuration for #4615 and then didn't use that same configuration again. Since I had the same problem on #4649 and #4606 I'll add the instantiations in a separate PR. I still don't get why it's needed though...

[2020-05-27 08:37] #4669 closed

[2020-05-27 12:26] msimberg opened #4672 "Consistently use hpx::function_* instead of std::function"

[2020-05-27 18:58] khuck opened #4674 "Error running Quickstart tests on OS X"
## Expected Behavior

On other platforms, `ctest -V -R tests.examples.quickstart` runs fine. On OS X, the 1d_wave_equation (and others) test will fail because of the `-Ihpx.stacks.use_guard_pages=0` argument.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. `spack install --only dependencies

[2020-05-27 19:01] biddisco opened #4675 "build error with HPX_WITH_NETWORKING=OFF"
from a clean build dir
[code]
barrier node appears to need distributed runtime (or some other feature that is not enabled)
[code]
and so on ...

[2020-05-27 19:09] msimberg commented on #4675
`barrier_node.cpp` needs to include https://github.com/STEllAR-GROUP/hpx/blob/master/libs/execution/include/hpx/execution/detail/future_exec.hpp, but instead of including that file specifically `hpx/execution.hpp` or `hpx/local_async.hpp` should do it (why? the specializations for `then` for executors are not in the futures module but in the execution module; most likely `barrier_node.cpp` is tran

[2020-05-27 20:28] hkaiser commented on #4674
Writing this as `--hpx:ini=hpx.stacks.use_guard_pages!=0` (note the exclamation mark) will avoid this issue on platforms that don't support guard pages.

[2020-05-28 01:45] weilewei opened #4679 "Build error for hpx w/ Apex on Summit"
## Expected Behavior
Build passes

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

## Specifications

... Please describe your environment

  - HPX Version: latest master w/ commit: 7a07598fbfcb4a871d16d568e31dbd211dc74d4f
  - Platform (compiler, OS): Power machine, gcc 8.1.1
  - CMake: -DHPX_WITH

[2020-05-28 04:53] scheherzade opened #4680 "Build error with HPX_WITH_DYNAMIC_HPX_MAIN=OFF"
## Actual Behavior
I get the following error message when building HPX with these cmake flags: `-DHPX_WITH_THREAD_IDLE_RATES=ON -DHPX_WITH_THREAD_LOCAL_STORAGE=ON -DHPX_WITH_DYNAMIC_HPX_MAIN=OFF`, which is resolved when I remove `-DHPX_WITH_DYNAMIC_HPX_MAIN=OFF`.
[code]

## Specifications

  - HPX Version: current master, commit id `7a07598fbfcb4a871d16d568e31dbd211dc74d4f`
  - Platform (compiler,

[2020-05-28 06:57] #4501 closed

[2020-05-28 06:58] #4674 closed

[2020-05-28 07:48] msimberg commented on #4679
I think the fix is the same as for #4675. I'll have a PR up soon for you to try.

[2020-05-28 08:25] msimberg commented on #4680
Thanks @scheherzade for reporting! I'll try to reproduce this today.

[2020-05-28 08:37] msimberg commented on #4668
@diehlpk could you try to get a bit more out of the compiler (`make VERBOSE=1` and preferably `-j1` if possible). I can't tell if that error is actually from building that example in our `program_options` or something else. If it really is from that example then something is badly wrong because it should not be compiled with `nvcc` (that error message comes from `nvcc`).

[2020-05-28 14:37] nickrobison-usds opened #4685 "HPX distributed map fails to compile"
## Expected Behavior

I would expect that the distributed maps to behave in a similar manner to the partitioned vector. Specifically, in the way they are initialized.

## Actual Behavior

When attempting to register and initialize a distributed map, I receive the following compile error:

[code]

## Steps to Reproduce the Problem

Here's a minimal example that illustrates the issue:

[code]

## Sp

[2020-05-28 18:35] msimberg opened #4686 "Fix tutorials examples"
This is just a reminder that we should update the examples in the tutorials repo to work before 1.5.0 (or fix HPX before 1.5.0 to make the examples work).

[2020-05-29 08:06] #4680 closed

[2020-05-29 08:08] #4675 closed

[2020-05-29 12:33] msimberg opened #4690 "HPX users and applications"
This issue is meant to collect users of and/or applications using HPX. We will eventually place these on the HPX website (https://hpx.stellar-group.org). If you are developing a library or application and would like to share it with us and others, please comment below with a short summary of your project.

At least include the following:
- Who is developing the application (institution/company/per

[2020-05-30 18:27] McKillroy opened #4691 "Suggestion to fix and enhance the thread_mapper API"
The thread_mapper (`hpx::util::thread_mapper`) currently offers some limited
thread access functionality. It maintains a list of threads whose count you
can get with the `get_thread_count()` member function.
You may then use indices 0 to count-1 and use (amongst others) these member functions:
[code]

I would like to suggest to add a struct to the API which contains useful thread information:

[co

[2020-05-31 16:16] hkaiser commented on #4691
This structure also seems to cause quite some compile time overhead (as reported by @K-ballo). Another good reason to overhaul the `thread_mapper` ...

[2020-06-01 22:15] diehlpk commented on #4690
@dmarce1 can you provide the information for Octo-Tiger?

[2020-06-01 22:15] diehlpk commented on #4690
@gentryx Can you provide the information for libgeocomp?

[2020-06-01 22:17] diehlpk commented on #4690
@diehlpk and @prashjha Can you provide the information for NLMech?

[2020-06-01 22:18] diehlpk commented on #4690
@weilewei Can you add the information for DC++?

[2020-06-02 00:43] weilewei commented on #4690
At least include the following:

Who is developing the application (institution/company/personal project):
Oak Ridge National Laboratory, CSCS Swiss National Supercomputing Centre, Louisiana State University
If you're willing to share the application as well include the following:

Name of application: Dynamical Cluster Approximation
What the application does: A high-performance research software

[2020-06-02 04:41] weilewei opened #4694 "HPX::hpx not found"
## Expected Behavior

link library to HPX::hpx

## Actual Behavior
cmake output:
[code]

## Steps to Reproduce the Problem
[code]
## Specifications

... Please describe your environment

  - HPX Version: commit 49eb429a028f04fa4ed0c3860933d0fcced48792 (HEAD -> stable, tag: stable)
  - Platform (compiler, OS): gcc, Linux

[2020-06-02 08:03] msimberg commented on #4679
@weilewei #4681 should have fixed this issue. Would you mind checking and closing if the problem is solved?

[2020-06-02 08:59] msimberg commented on #4694
`git fetch --tags --force` (potentially also `--all` if your current upstream is not the stellar group repo).

The commit you're building is from January. `stable` is a tag and confusingly, or helpfully depending on your perspective, git does not pull updated tags by default. `--force`-ing it tells git to update changed tags.

[2020-06-02 08:59] #4694 closed

[2020-06-02 09:02] msimberg commented on #4612
@teonnik I'll close this as `wontfix`. Unless it turns out enough other people need this in 1.4.1 as well, we really won't fix this. Please do let us know if there are similar issues on the latest master.

[2020-06-02 09:02] #4612 closed

[2020-06-02 13:56] hkaiser opened #4697 "get_num_localities and get_locality_id should return size_t"
This may avoid having to `static_cast` the returned values.

[2020-06-02 13:58] diehlpk opened #4698 "References in the documentation"
I have seen for other projects, that they provide some references in their documentation. For HPX, I think we should provide some references on the module page. For example, we could provide the references there, how people could cite the module.

@msimberg Can we use BibTeX in our documentation to do so?

[2020-06-02 14:13] msimberg commented on #4698
I think we can (it may require a sphinx extension, but there are plenty of those). I'm not sure why exactly people should cite modules (these are small parts of HPX, mostly for our benefit rather than users' benefit). Do you essentially want to add something like the zenodo doi link to the documentation (except that it would be for the JOSS paper and maybe just a bibtex snippet that people can cop

[2020-06-02 20:29] weilewei commented on #4679
Actually, I got similar error on my desktop with latest hpx master as of today: https://gist.github.com/weilewei/a81e2761351bdae7317ac12ec3a5906c let me build it on Summit now.

[2020-06-02 20:46] weilewei commented on #4679
I can confirm that similar issues happened on Summit with latest hpx master.

[2020-06-03 07:22] msimberg commented on #4497
@aurianer this is all implemented in the current checks, right? (Except for the "no transitive dependencies should be listed"-check, but that is trickier anyway...)

[2020-06-03 07:38] msimberg commented on #4679
Thanks @weilewei for checking. I'll try to fix this for you.

[2020-06-03 09:22] #4571 closed

[2020-06-03 10:18] msimberg opened #4702 "Prefer enum class over unscoped enums"
We should gradually move all unscoped enums to enum classes.

Some of those listed below could possibly be hidden in some detail namespace...

- [x] `thread_state_enum`
- [x] `thread_state_ex_enum`
- [x] `thread_stacksize`
- [x] `thread_priority`
- [x] `scheduler_mode` (#5809)
- [x] `scheduler_state` (#5809)
- [x] `component_enum_type`
- [x] `id_type::management_type` (#5817)
- [x] `cache::statist

[2020-06-03 12:42] msimberg opened #4703 "Batch task popping"
While going through open issues (#4227 and this comment specfically: https://github.com/STEllAR-GROUP/hpx/issues/4227#issuecomment-555616764) I was reminded that the Moodycamel queue supports batched operations. I think we should definitely start using this. We should be able to emulate batched operations on the Boost lockfree queues as well and might improve performance there as well with batchin

[2020-06-03 13:31] venartas commented on #4690
Who is developing the application (institution/company/personal project): **First Light Fusion Ltd**
Name of application: **Hytrac**
What the application does: **A Hydrodynamic Front-Tracking Code for the Study of High Energy Density Multi-Material Flows**
Link to project repository or website: **https://firstlightfusion.com/**

[2020-06-03 14:45] hkaiser commented on #4690
Who is developing the application (institution/company/personal project): **Louisiana State University**, **University of Oregon**, **University of Arizona**
Name of application: **Phylanx**
What the application does: **An Asynchronous Distributed C++ Array Processing Toolkit**
Link to project repository or website: http://phylanx.stellar-group.org/, https://github.com/STEllAR-GROUP/phylanx

[2020-06-03 14:47] hkaiser commented on #4690
Who is developing the application (institution/company/personal project): **Klaus Igelberger**
Name of application: **Blaze**
What the application does: **A high performance C++ math library**
Link to project repository or website: https://bitbucket.org/blaze-lib/blaze/src/master/

[2020-06-03 14:51] hkaiser commented on #4690
Who is developing the application (institution/company/personal project): **University of Oregon**
Name of application: **APEX**
What the application does: **Autonomic Performance Environment for eXascale**
Link to project repository or website: https://github.com/khuck/xpress-apex

[2020-06-03 14:56] hkaiser commented on #4690
Who is developing the application (institution/company/personal project): **Los Alamos National Laboratory**
Name of application: **FleCSI**
What the application does: **The Flexible Computational Science Infrastructure**
Link to project repository or website: http://laristra.github.io/flecsi/

[2020-06-04 05:42] kordejong commented on #4690
Who is developing the application (institution/company/personal project): **Utrecht University, The Netherlands**, https://computationalgeography.org
Name of application: **LUE**
What the application does: **Environmental modelling framework**
Link to project repository or website: https://github.com/pcraster/lue

Our framework contains building blocks (data structures, algorithms) for developing

[2020-06-04 08:47] gentryx commented on #4690
Who is developing the application: **STE||AR Group**
Name of application: **LibGeoDecomp**
What the application does: **LibGeoDecomp is an auto-parallelizing library to speed up your stencil code based computer simulations. It runs on virtually all current architectures, be it multi-cores, GPUs, or large scale MPI clusters.**
Link to project repository or website: libgeodecomp.org

[2020-06-04 10:51] biddisco commented on #4703
I was thinking about this recently, but have not worked on it. In the shared-priority scheduler, I reduced the size of chunks of tasks that are stolen and did away with some of the checks/settings for options like min_tasks_to_steal and others with a similar name that I have forgotten the details of. There are definitely opportunities to make use of the bulk operations and producer oriented API of

[2020-06-04 13:26] msimberg commented on #4648
Reopening as a reminder to look at https://cdash.cscs.ch//testDetails.php?test=21992139&build=109075.

[2020-06-04 15:47] diehlpk commented on #4698
I was thinking that for example for the parcelport module, we could provide references to the parcelport providers. Same for the performance counters.

I would say that both parties have a benefit. People could read/cite the publications related to the module, and we get citations.

[2020-06-04 16:22] msimberg opened #4709 "Make deprecation warnings overridable in dependent projects"
Allow overriding `HPX_<module_name>_HAVE_DEPRECATION_WARNINGS` in dependent projects, meaning the definition of `HPX_<module_name>_HAVE_DEPRECATION_WARNINGS` should be guarded with an `#ifndef`.

[2020-06-04 16:36] hkaiser commented on #4709
From IRC:
[code]

[2020-06-05 07:47] msimberg opened #4712 "Rename HPX_MPI_WITH_FUTURES option"
Especially after #4689, but also otherwise, the `HPX_MPI_WITH_FUTURES` option doesn't really fit other naming schemes. It's written as if it's an option for the (old) `mpi` module, but what it does is enable the whole module.

I would rename it as a "top-level" option: `HPX_WITH_MPI_FUTURES` or `HPX_WITH_ASYNC_MPI` to decouple it a bit from the module itself (just like the CUDA options). If someon

[2020-06-05 12:09] hkaiser commented on #4712
I have to admit that initially I asked for this variable to be named as if it was a module-specific configuration option. I start to like `HPX_WITH_ASYNC_MPI` more than `HPX_ASYNC_MPI_WITH_FUTURES`.

[2020-06-05 13:04] msimberg opened #4719 "Undeprecate some module headers"
In 1.4.1 we started adding `hpx/modulename.hpp` headers which include all the headers in a module. In the interest of reserving `hpx/x.hpp` headers for public API headers we renamed the generated headers to `hpx/modules/modulename.hpp`. Most of these are not meant for public consumption, but some are. Before 1.5.0 we should undeprecate the `hpx/x.hpp` headers that we still want to keep for public

[2020-06-05 14:54] msimberg opened #4720 "Add compatibility headers for modules that had their module headers implicitly generated in 1.4.1"
Check which modules did not specify `GLOBAL_HEADER_GEN` *at all* (neither on nor off, which defaults to on) in 1.4.1 and add compatibility headers since they were renamed.

[2020-06-05 16:02] msimberg commented on #4661
#4704 didn't fix all the problems. This still remains: https://app.circleci.com/pipelines/github/STEllAR-GROUP/hpx/3929/workflows/b9c71b4a-b4bf-47b0-af0f-1feabb30ae56/jobs/198587/steps.

[2020-06-05 18:09] msimberg commented on #4661
Disabled the `suspend_thread_timed` test in https://github.com/STEllAR-GROUP/hpx/commit/c62d99282d69a5b27cfc5c9939e55501ff98d88b.

[2020-06-07 13:05] biddisco opened #4723 "Build fail with NETWORKING OFF"
Looks like the usual problem of trying to use distributed stuff when it should be disabled
[code]

[2020-06-07 19:53] biddisco commented on #4712
I will be renaming the mpi futures module to async_mpi in #4385 so I shall take care of this in that PR.
I prefer `HPX_WITH_ASYNC_MPI`

[2020-06-07 19:56] biddisco commented on #4712
Please ignore that comment, the module is already renamed, I'm rebasing onto it and fixing all the other cmake problems, but I will take care of this cmake option too

[2020-06-08 08:03] msimberg commented on #4723
Thanks for reporting. I assume you have `HPX_WITH_NETWORKING=OFF` and `HPX_WITH_DISTRIBUTED_RUNTIME=ON`? In that case this should compile. It's most likely just a case of a header missing.

[2020-06-08 09:14] #4679 closed

[2020-06-08 14:23] albestro opened #4728 "build error using boost 1.73.0"
## Expected Behavior

It should build correctly (it works with boost 1.72.0).

## Actual Behavior

It does not build (see [build-error.log](https://github.com/STEllAR-GROUP/hpx/files/4746515/build-error.log))

## Steps to Reproduce the Problem

It is a very classic build setup, mainly I've just disabled EXAMPLES, TESTS, NETWORKING.

## Specifications

  - HPX Version: 1.4.1 (tested also with 1.4.0

[2020-06-08 15:00] hkaiser commented on #4728
This problem was already solved on master. Would you need to have it fixed on V1.4.1 as well?

[2020-06-08 15:17] albestro commented on #4728
Ah ok, sorry I didn't test with `master`. I've tried right now and it fails, but with another error (#4723). However, if this problem has been already fixed, it's ok for me leaving it as it is.

Thanks!

[2020-06-08 15:19] msimberg commented on #4728
Yep, #4723 is fixed in #4727. Thanks for reporting in any case!

[2020-06-08 15:45] diehlpk commented on #4668
[code]

[2020-06-08 15:47] diehlpk commented on #4668
@msimberg Please find attached the request output. Sorry for the delay, but the paper revision consumed most of my times.

[2020-06-08 15:54] diehlpk commented on #4654
[code]

[2020-06-08 16:28] #4728 closed

[2020-06-09 09:56] kordejong opened #4731 "Bug in stencil example, calculation of locality IDs"
## Expected Behavior

No crash.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Use a debug build of HPX 1.4.1
  1. Start 1d_stencil_7 using multiple localities. I used 8 localities and 625 partitions.

## Specifications

  - HPX Version: 1.4.1
  - Platform (compiler, OS): Linux, gcc-7

[2020-06-09 09:59] kordejong commented on #4731
The bug is in the `locidx` function which translates partition index to locality index. Given

- i = 624
- np = 625
- nl = 8

this function returns 8, which is outside the range of valid locality indexes [0, 7].

A fix is to use this calculation:

[code]

There are probably other places that require to be updated.

[2020-06-09 10:11] kordejong opened #4732 "Failing assertion `split_gids_.empty()`, when running `1d_stencil_7`"
## Expected Behavior

Successful execution

## Actual Behavior

When running the example on multiple localities an assertion fails. This happens in tests with my own code, but I can reproduce the issue with `1d_stencil_7`.

[code]

## Steps to Reproduce the Problem

  1. Use a debug build of HPX 1.4.1
  1. Run `1d_stencil_7` on multiple localities (see example script attached, which I used)

## Sp

[2020-06-09 10:13] kordejong commented on #4732
[code]

[2020-06-09 14:01] zao commented on #4732
I could reproduce this on Ubuntu 18.04 on a single machine with current master (c8368b1c7) with two tasks of six cores each.

Programs from EasyBuild: GCCcore/9.3.0, OpenMPI/4.0.3, hwloc/2.2.0, Boost/1.72.0, PAPI/5.7.0

Built with
[code]

I didn't notice the parameters before the batch script so I went with:

[code]

[2020-06-09 17:30] magiblot opened #4735 "hello_world fails to run if compiled with Link Time Optimization"
## Summary

When I run the `hello_world` application from https://stellar-group.github.io/hpx/docs/sphinx/latest/html/manual/creating_hpx_projects.html, compiled with Link Time Optimization enabled (`-flto` in GCC or Clang), it throws a runtime exception:

[code]

I thought HPX could be known to be incompatible with LTO, but I was unable to find any information about this.

## Steps to Reproduce t

[2020-06-09 18:24] msimberg opened #4736 "Deprecate hpx::flush and hpx::endl"
*Not* `hpx::cout` or `hpx::cerr`.

[2020-06-09 18:30] msimberg commented on #4735
Thanks for reporting. LTO isn't something we've tried on HPX (as far as I know). I can't comment on what could be causing that error though. @hkaiser or @sithhell any idea what that error could be symptomatic of?

A backtrace may be helpful in any case. If a stack trace isn't printed when the exception is thrown you can also run the application in `gdb` and do `catch throw` before starting it. Onc

[2020-06-09 18:41] #4691 closed

[2020-06-09 18:44] hkaiser commented on #4735
I have never used HPX with LTO, so I cannot comment on what's wrong. Would you have a stack-backtrace for the spot where the exception is thrown (use gdb 'catch throw' command).

[2020-06-09 19:39] magiblot commented on #4735
I haven't compiled HPX with debug symbols, so I assumed the backtrace would not be relevant, but now I see there are some symbols:

First throw:
[code]

Second throw:
[code]

Abort:
[code]

Anyway, since the issue seems easy to reproduce, I thought I could avoid recompiling HPX just for the symbols. I probably should, though.

Yes.

[2020-06-09 20:41] hkaiser commented on #4735
Could you give us the command line options you used to configure HPX, please?

[2020-06-09 20:50] magiblot commented on #4735
Hi Hartmut. I configured and built HPX this way:
[code]

The output of CMake was:

<details>
<summary>CMake output</summary>

[code]
</details>

[2020-06-09 20:59] magiblot commented on #4735
I managed to build HPX in RelWithDebInfo mode and got the following traces:

First throw
[code]

Second throw
[code]

Abort
[code]

<details>
<summary>CMake configuration output</summary>

[code]
</details>

[2020-06-10 07:42] #4672 closed

[2020-06-10 08:12] #4720 closed

[2020-06-10 08:18] #4723 closed

[2020-06-10 08:24] #4685 closed

[2020-06-12 08:12] msimberg commented on #4686
The non-CUDA examples now build (which means everything on the CircleCI builder): https://app.circleci.com/pipelines/github/STEllAR-GROUP/tutorials/. The CUDA examples have other problems, and need more work anyway. I'll close this now.

[2020-06-12 08:12] #4686 closed

[2020-06-12 09:09] #4648 closed

[2020-06-12 09:11] #4719 closed

[2020-06-12 14:27] kordejong opened #4746 "Memory leak when using dataflow icw components"
## Expected Behavior

Constant (more or less) amount of memory used.

## Actual Behavior

Fast increase of memory usage, depending on number of component clients involved in dataflow.

## Steps to Reproduce the Problem

I can reproduce the issue I see with my code with the `1d_stencil_7.cpp` distributed with HPX.

  1. Apply fix #4731
  1. Update code so `heat_part` action depends on a few partiti

[2020-06-14 01:08] weilewei opened #4752 "HPX MPI Future build failed"
## Expected Behavior

current master build failed when -DHPX_MPI_WITH_FUTURES=ON

## Actual Behavior

[code]

## Steps to Reproduce the Problem

-DHPX_MPI_WITH_FUTURES=ON

## Specifications

... Please describe your environment

  - HPX Version: latest master
  - Platform (compiler, OS): gcc, Linux

[2020-06-14 17:20] McKillroy opened #4754 "CMake cache creation breaks when using HPX with mimalloc"
## Expected Behavior

To build the cmake cache correctly

## Actual Behavior

When building the cmake cache for my application inside this command:
[code]
A compile of a small test program is launched, which injects a symbol with
[code]
during linking, which then generates a missing symbol error and is breaking the build.

## Steps to Reproduce the Problem

1. Build HPX with mimalloc enabled
2. Us

[2020-06-14 17:23] K-ballo commented on #4754
The compilation test is triggered by https://github.com/STEllAR-GROUP/hpx/blob/7a1eae0f66bbfc636be50327ce2083fdefb2fd55/cmake/templates/HPXConfig.cmake.in#L106, which has no business appearing in a config package file.

[2020-06-14 18:56] McKillroy commented on #4754
I did a naive try just removing https://github.com/STEllAR-GROUP/hpx/blob/7a1eae0f66bbfc636be50327ce2083fdefb2fd55/cmake/templates/HPXConfig.cmake.in#L106 , rebuilding HPX and my app but run into a bunch of issues and runtime problems.
I guess mimalloc support for HPX simply isn't yet ready to be used. At least not for me.

[2020-06-14 19:38] hkaiser commented on #4754
Could you be more specific, please? What issues and runtime issues did you run into? Did removing the `enable_language(C)` solve the build issues you reported?

[2020-06-14 19:59] McKillroy commented on #4754
It allowed me to build, but brought up an exception when trying to load the mimalloc.dll and all sorts of other issues I cannot remember right now.
Honestly - I was a bit tired of this and gave up on mimalloc for now, though it would be very nice to have, since mimalloc has a built-in std:allocator compliant mimalloc allocator.
If you want to fully integrate mimalloc and have it work I'd go back t

[2020-06-15 09:00] kordejong opened #4755 "Building HPX with support for PAPI fails"
## Expected Behavior

Build succeeds

## Actual Behavior

Builds fails. Error message:

[code]

[build_output.txt](https://github.com/STEllAR-GROUP/hpx/files/4779144/build_output.txt)

## Steps to Reproduce the Problem

  1. Build HPX with support for PAPI. My script used this command to configure HPX: `cmake -DCMAKE_BUILD_TYPE=/tmp/hello_hpx-fetch_content/RelWithDebInfo-papi -DHELLO_HPX_REPOSITOR

[2020-06-15 10:09] msimberg commented on #4735
Thanks @magiblot. That does not ring any bells for me (might for @hkaiser or @sithhell). At the moment this is quite low priority for us compared to other issues, especially since the build does seem to work without LTO. I do understand that there might be a latent bug there that doesn't show up in a non-LTO build. We'll try to reproduce this at some point, but I can't promise when. We'll definite

[2020-06-15 10:21] #4709 closed

[2020-06-15 10:48] msimberg commented on #4752
@biddisco does this look familiar to you? Is this something that may be fixed on #4663?

[2020-06-15 11:04] msimberg commented on #4754
FWIW, it's most likely this line causing the problems: https://github.com/STEllAR-GROUP/hpx/blob/38d84635b696c6395471e37191623fde5533b8ee/cmake/HPX_SetupAllocator.cmake#L85-L87. This clearly fixed something for @hkaiser at some point, but breaks something for @McKillroy. I suspect that we should change that call to `hpx_add_link_flag_if_available` to only add those flags to the HPX target, not to

[2020-06-15 11:04] msimberg commented on #4755
Sorry about this, we'll fix this asap.

[2020-06-15 11:18] msimberg commented on #4731
@sithhell can you comment on this? The change makes sense, but maybe you can spot if there are other problems with the calculations as well?

Most likely calculation that we want to do is `(i * nl) / np`.

[2020-06-15 11:45] msimberg commented on #4654
@diehlpk could you please check which lines? Those lines don't tell us too much, and two of them are in octotiger itself. Make sure you change to the correct thread first before doing `list`/`bt`.

[2020-06-15 11:51] kordejong commented on #4755
No problem, take your time ;-) I just found this when running my build test scripts. I don't use this specific build at the moment. (Some fix for issue #4746 is actually much more important for me right now.)

[2020-06-15 12:26] hkaiser commented on #4754
@msimberg This linker flag is required when using MSVC as it forces for the mimalloc library to be linked with HPX core even if it is not directly referenced (it's kind of a link-time LD_PRELOAD that forces for special loader code in the mimalloc.dll to be executed). The problem @McKillroy see is caused by the mimalloc library not being found while some cmake internal tests are being compiled.

[2020-06-15 13:26] msimberg commented on #4754
@hkaiser yes, so there are two problems here. Most likely `enable_language(C)` is triggering those internal tests, but our `HPXConfig.cmake` is adding the flag to `CMAKE_*_LINKER_FLAGS`, which it shouldn't do even if we get rid of those internal CMake tests. The flag should be on the HPX target, since doing `find_package(HPX)` is no guarantee that all targets will actually link to HPX (and thus ge

[2020-06-15 15:13] McKillroy commented on #4754
I believe it's indeed two problems
The triggered test build in the CMake config phase and programs in my CMake project not using HPX are being "poisoned" by that symbol.
I have no idea why - all my commands using HPX are target specific. (Except `find_package`, ofc.)

[2020-06-15 15:18] msimberg commented on #4754
@McKillroy would you mind trying https://github.com/STEllAR-GROUP/hpx/pull/4757?

[2020-06-15 15:58] McKillroy commented on #4754
The pr compiles nicely, building HPX and my app was no problem at all anymore.
But at app start I get a write access violation with the following call stack:
[code]

[2020-06-15 16:21] McKillroy commented on #4754
Removing #include <mimalloc-new-delete.h> finally made it run.
Thanks a lot for fixing. I'll try to find out why it wasn't working.

[2020-06-16 08:50] #4755 closed

[2020-06-16 08:50] #4754 closed

[2020-06-16 11:33] biddisco commented on #4752
Yes, I have fixed these things locally, but I am not going to bother doing anything more on the `mpi` PR until the cuda stuff is sorted out and I can move on. I have to keep resolving conflicts and making fixes to PRs and I'd rather wait until things settle and do it once than do it again and again.

[2020-06-16 12:44] msimberg commented on #4752
No worries, I'm only asking to know if we should look into this separately. Since this is something you've already taken care of this will be closed when the MPI PR goes in.

[2020-06-16 14:07] diehlpk commented on #4690
Who is developing the application?

LSU and UT Austin

Name of application:

NLMech

What the application does:

A simulation code for various non-local models, e.g. peridynamics.

Link to project repository or website

https://github.com/nonlocalmodels

We are a collaboration of researchers developing a simulation code for non-local models accelerated by the C++ standard library for parallelism a

[2020-06-16 15:33] hkaiser opened #4758 "CMake profiling results"
CMake V3.18 can output profiling traces. The results show that about 40% of the time is spent in configuring and about 60% of the time is spent generating the make files. The interesting part is that during generation, about 50% of the time is spent in the function `create_configarion_summary`, and about 20-30% are spent during generating the force_linking header and source files (will go away soo

[2020-06-17 13:02] msimberg commented on #4668
Thanks @diehlpk. This is close to unfixable from our side (or very time-consuming). It's a compiler bug after all. If you don't actually care about the examples and tests for your use case, you can try disabling them and seeing if octotiger builds. If octotiger ends up including the same headers as that example you might end up with the same error, but you might just be able to avoid the error.

F

[2020-06-17 14:59] hkaiser commented on #4703
@mratsim interesting... thanks.

[2020-06-17 18:14] diehlpk commented on #4668
Ok, I will just build HPX without CUDA and use these examples and tests to check HPX.

[2020-06-17 18:14] #4668 closed

[2020-06-17 19:26] davidbeckingsale opened #4763 "License file name"
@diehlpk - is there a specific reason the license filename is `LICENSE_0_1.txt`, rather than the standard `LICENSE`?

cc https://github.com/openjournals/joss-reviews/issues/2352

[2020-06-17 19:35] diehlpk commented on #4763
@msimberg Can you answer this questions, since you are the master of documentation?

[2020-06-17 19:42] hkaiser commented on #4763
@davidbeckingsale it's the standard way to reference the Boost Software License (see https://www.boost.org/users/license.html)

[2020-06-17 19:45] #4763 closed

[2020-06-18 08:40] magiblot commented on #4735
Don't worry. Do not waste time on this while there are more important things to do. There is no need for me to use LTO either. If this bug ever becomes relevant, then you'll already have some hints.

[2020-06-18 09:51] msimberg opened #4766 "Move HPX.Compute functionality to experimental namespace"

[2020-06-18 09:53] #4758 closed

[2020-06-18 12:56] hkaiser commented on #4766
I'd be very much in favor of doing this before releasing V1.5 to avoid API changes afterwards.

[2020-06-19 07:06] albestro opened #4770 "build error: HPX_WITH_DISTRIBUTED_RUNTIME=off is required for my configuration"
## Expected Behavior

I tried building with the CMake setup I use for successfully build 1.4.1, so I expected it to work with master.

## Actual Behavior

It does not build (see [build-output.txt](https://github.com/STEllAR-GROUP/hpx/files/4802888/build-output.txt))

By disabling the module `-DHPX_WITH_DISTRIBUTED_RUNTIME=off`, that was not available in 1.4.1, it builds correctly (thanks @rasolca)

[2020-06-19 09:33] msimberg commented on #4746
@hkaiser, @sithhell is there any way to get more info on garbage collection of components (performance counters, when garbage collection runs)? Is it possible that partitions for older iterations are kept alive too long by some of the user code in the example, or that garbage collection is delayed for some reason? The main loop does quite eagerly unroll the loop, so that could also be a problem. @

[2020-06-19 11:30] msimberg opened #4772 "Block executor does not work with --hpx:bind=none"
The resource partitioner returns empty pu masks if `--hpx:bind=none` is given on the command line, and the block executor ends up not having any threads to run tasks on. This could be fixed either by returning full machine masks instead of empty masks with `none`, or have the block executor handle empty masks separately. This is low priority for me, but if someone encounters this issue and wants i

[2020-06-19 11:32] #4731 closed

[2020-06-19 12:35] kordejong commented on #4746
It is in my own code, in the loop iterating of the time steps: https://github.com/pcraster/lue/blob/f2ec7aa30c3e2b73f3ef6554f00487a6a6546458/source/framework/benchmark/src/benchmark_model.cpp#L179 I took inspiration from `1d_stencil_4_throttle.cpp`.

WRT garbage collection, I already use `hpx.agas.max_pending_refcnt_requests!=400` to get rid of lingering components servers faster than by default (

[2020-06-19 12:42] hkaiser commented on #4746
This sounds like we don't properly release references to the objects that are passed as arguments. I'll try to have a look to understand what's wrong.

[2020-06-19 12:47] hkaiser commented on #4772
FWIW, I had assumed that `--hpx:bind=none` already returns full masks. Otherwise not just the block executor should fail.

[2020-06-19 13:05] msimberg commented on #4772
That would make sense, but I think we have special handling for empty masks. Making it use the full machine mask instead would probably simplify some of the resource partitioner code.

[2020-06-19 18:10] msimberg opened #4773 "Errors and functional modules depend on each other"
`errors` uses a `hpx::function_nonser` for a callback, `functional` throws a `hpx::exception` in one file. Either of these could be removed to get rid of the dependency.

More generally #4135 would help us catch these dependencies correctly in CMake itself. `cpp-dependencies` currently doesn't catch this circular dependency because it doesn't know about the generated `hpx/modules` headers.

[2020-06-19 18:54] msimberg opened #4774 "Hello world component example Makefile should accept any case for build type"

[2020-06-23 07:01] msimberg opened #4778 "Broadcast and scatter hang with only one locality"
See discussion starting at https://github.com/STEllAR-GROUP/hpx/pull/4771#discussion_r443368822.

[2020-06-23 07:08] #4639 closed

[2020-06-23 15:20] #4770 closed

[2020-06-23 17:39] scheherzade opened #4779 "HPX build error with GCC 10.1"
## Expected Behavior

## Actual Behavior

I get this error when I build HPX master with GCC 10.1 on Fedora, which resolves when I use clang to compile HPX.
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. I didn't use any specific CMake flags just specified install prefix.

## Specifications

  - HPX Version: `1.

[2020-06-24 12:16] msimberg commented on #4779
Thanks for reporting @scheherzade. We had our GCC 10 builder down again for a while and this may have crept in during that. It's back again so we'll see if that reproduces the problem. If not I'll get back to you and ask for more information.

[2020-06-24 13:45] kordejong commented on #4746
I managed to create an alternative repro case that, I think, shows the same issue I described above, but now with a smaller problem on a single node, and using `hpxrun.py.` The repro script I used now is this one:

[code]

The bare problem size, excluding overheads of the partitioning and tasks, is 0.12 GB (2 arrays of 500 * 16000 elements of 8 bytes). The original `1d_stencil_7` uses about 2.18 G

[2020-06-24 13:50] kordejong commented on #4746
When trying to reproduce using a Debug build, I was bitten by #4732. I mention it for the case the issues are related.

[2020-06-24 16:09] msimberg commented on #4779
@scheherzade it looks like the builds are ok on pycicle. So let's try to figure out what's different on your setup. The correct headers are definitely included. That means that there could be a circular dependency that we haven't caught. The other option is that `HPX_WITH_THREAD_EXECUTORS_COMPATIBILITY` somehow has been set to off. Could you check if that is set to on in your CMake configuration?

[2020-06-24 18:32] scheherzade commented on #4779
@msimberg `HPX_WITH_THREAD_EXECUTORS_COMPATIBILITY` is 'ON` and I did ` grep #define HPX_HAVE_THREAD_EXECUTORS_COMPATIBILITY' in my build directory and I found it in `build-debug/libs/config/include/hpx/config/defines.hpp`. The other thing is that I just tried to build in Release mode and it worked, so it just happens in Debug mode.

[2020-06-25 13:46] LiliumAtratum opened #4786 "transform_inclusive_scan tries to implicitly convert between types, instead of using the provided `conv` function"
## Expected Behavior

I am trying to use `hpx::parallel::transform_inclusive_scan`, taking a sequence of `T` as input, and producing a sequence of `R` as output. I provide a binary operator R+R->R, as well as a conversion function T->R.
I expected that lack of the optional `init` argument cause the function to simply call the default constructor of type `R` where needed. Or alternatively, complete

[2020-06-25 14:20] LiliumAtratum opened #4787 "`transform_inclusive_scan` gives incorrect results for non-commutative operator"
## Expected Behavior

`transform_inclusive_scan` should work correctly when the `op` is a non-commutative operator.

Consider the following example:
Trying the perform an inclusive prefix scan of array: [1, 10, 100, 1000]
with a binary op(x,y) defined as follows:
if x<y then x+y else -10000

In this example, no matter how the operations are taken, the left argument will be smaller than the right.

[2020-06-25 14:53] hkaiser commented on #4787
The way I read it, the spec says that this algorithm does not assume for the operator to be commutative (see http://eel.is/c++draft/transform.inclusive.scan#4 and http://eel.is/c++draft/numeric.ops#numerics.defns-2). Please correct me if you think I read this wrongly.

[2020-06-25 15:16] LiliumAtratum commented on #4787
@hkaiser Exactly. That's why the given example should work.
One of the more common real-life examples of a non-commutative operators used in this context are:
a) string concatenation
b) segmented prefix sum

[2020-06-25 19:03] hkaiser commented on #4786
I'm able to reproduce your issue. There was indeed an invocation of the `unary_op` missing in the implementation of our `transform_include_scan` (also `transform_exclusive_scan`) which is now fixed here: #4788.

However, even then your code does not compile as in the absence of an initial value, the `binary_op` is supposed to return `decltype(*first)` (or something convertible to it), i.e. in your

[2020-06-25 19:05] hkaiser commented on #4787
The problem with your code is not that the operator is non-commutative. The problem is that your operator is non-associative. The spec explicitly says that using such an operator may invoke non-deterministic behavior (http://eel.is/c++draft/numeric.ops#transform.inclusive.scan-8). For this reason, I'm closing this ticket as 'won't fix'. Please reopen if needed.

[2020-06-26 00:02] LiliumAtratum commented on #4787
I have chosen this simpler operator for the sake of simplicity of the example. However, if we need a truly associative operator, one can choose the segmented prefix sum operator:

[code]

Intuitively the operator add up values as long as the second argument remains `false`. A value of `true` marks the beginning of a new segment and that "resets" the summation. Unless I made a mistake somewhere, I

[2020-06-26 01:51] hkaiser commented on #4786
I looked into this some more and was able to identify another problem with `transform_inclusive_scan` (which I will fix shortly).

However from reading the spec a bit more (and as usual things are not as clear-cut as one would wish), I believe that the `unary_op` should also return something that is convertible to `decltype(*first)`.

The specification of `GENERALIZED_­NONCOMMUTATIVE_­SUM` (see: h

[2020-06-26 02:11] hkaiser commented on #4787
I will need some time to think about this. For now I'll reopen the ticket so we won't forget about it.

[2020-06-26 07:12] LiliumAtratum commented on #4786
For comparison, the following C++17 code compiles on MSVC 2019 and clang++-10:
[code]

it seems to be some disagreement between the standard and what the compilers actually do? (I admit, it *is* hard to read the standard)

Putting standard aside - my intuition suggests that once I provided how to transform from source type `int` to destination type `Integer`, the algorithm does not need anything e

[2020-06-26 08:07] LiliumAtratum commented on #4786
The standard you quoted: http://eel.is/c++draft/transform.inclusive.scan seems to be broken:
25.10.10.1 reads "Let U be the value type of decltype(first)". That would imply that U is of type `InputIterator` and suddently `binary_op` should return something convertible to an iterator.
Personally, I don't think it's just a star missing. I would expect U to be of type `decltype(unary_op(*first))` ins

[2020-06-26 08:59] hkaiser commented on #4786
@LiliumAtratum Yes, this is a typo.

[2020-06-26 09:22] kordejong commented on #4746
Unless I am mistaken, this issue is not resolved yet, is it?

[2020-06-26 09:37] hkaiser commented on #4786
In the absense of an initial value, the internal accumulator type is to be derived from `decltype(*first)` which implies that both operators need to return something convertible to this. What you said above is true as long as you provide an initial value that will be used to derive the accumulator type the scan algorithm operates on.

[2020-06-26 09:50] hkaiser commented on #4746
I'll reopen the ticket which was closed automatically while merging #4784.

[2020-06-26 09:56] hkaiser commented on #4786
FWIW, I can make this work after all. I'm just not sure what's right here, the standard or the MSVC and clang implementations. I guess we should go with the real implementations. @K-ballo what's your take?

[2020-06-26 10:27] LiliumAtratum commented on #4786
The internal accumulator type can be derived as `U=decltype(unary_op(*first))` and then, naturally `binary_op` needs to be able to take (U,U) and return U (or something convertible). This way it can work even if `init` is not provided.

You might need to add some `std::remove_cv` here and there, but that's detail.

[2020-06-26 10:50] hkaiser commented on #4787
Thanks for figuring that out. The problem will be fixed by merging #4788 as well.

[2020-06-26 11:33] G-071 commented on #4668
I tried (unsuccessfully) to reproduce this issue on a POWER9 node using gcc 8.1, cuda 10.1 and HPX 1.4.0.

I built the required toolchain (and said gcc) with spack and everything seems to work fine out-of-the-box with this setup.

[2020-06-26 15:12] hkaiser commented on #4786
@LiliumAtratum as @K-ballo noticed, the standard says that "U should be the **value type** of decltype(first)". That does not explain why msvc and clang compile the code you provided. It makes more sense that we thought, however.

[2020-06-26 16:12] LiliumAtratum commented on #4786
@hkaiser Yes, I misunderstood that phrase.
Still, I think U should be `decltype(unary_op(*first))` instead.
It doesn't matter if unary_op doesn't change the type, but it matters when it does change it.

[2020-06-26 16:52] hkaiser commented on #4786
Yes, that's what we discussed on irc as well. The PR (#4788) will fix this.

[2020-06-26 16:56] K-ballo commented on #4786
@LiliumAtratum Would you please submit a standard library issue (https://isocpp.org/std/submit-issue) reporting this? The constraint in question was introduced by [P0574R1](https://wg21.link/p0574r1).

[2020-06-30 14:42] aurianer commented on #4488
For now, I just did a script that is replacing the specific modules headers by the respective main header, but some of the headers you listed above are not in the list of module names and threrefore are not replaced for now.
@hkaiser how did you built this list ? To know if there is a logic behind or if I have to do those changes manually

[2020-07-01 13:34] hkaiser commented on #4786
@LiliumAtratum does #4788 fix your issues?

[2020-07-01 13:46] hkaiser commented on #4488
I went through the standard and listed all that have corresponding headers making sense in our context.

[2020-07-02 14:44] albestro opened #4800 "bug: "Assertion 'this == coroutine_.get_thread_id().get()' failed: HPX(assertion_failure)""
## Expected Behavior

Our [DLA-Future](https://github.com/eth-cscs/DLA-Future) library is built on HPX. Our CI/CD was not and it is still not reporting any issue with HPX 1.4.1.

On branch [`alby/porting_hpx1.5.0`](https://github.com/eth-cscs/DLA-Future/tree/alby/porting_hpx1.5.0) I'm working on porting to the new HPX API available on master, and since on this branch I'm not changing anything whic

[2020-07-02 14:49] biddisco commented on #4800
Thanks @albestro  - looking at it now.

[2020-07-04 13:03] #4786 closed

[2020-07-04 13:03] #4787 closed

[2020-07-05 16:18] biddisco commented on #4800
I might need some help debugging this.

In the following trace, produced by some debug printf's I can see when the problem is happening (but not yet where)
on line 505, it can be seen that a task is scheduled inside the scheduling loop and becomes active, on line 506, the thread id `0x7f0b34091a70` appears at the start of the printf until line 509, where it returns control to the scheduling loop (

[2020-07-05 16:20] biddisco commented on #4800
NB. In case you are curious, the debuggin used the `debugging::print` feature, but line 510 is a plain `std::cout` inside the coroutine module, which does not depend on `threading_base` which is why it appears in a different format. (I need threading_base for access to thread_data info, which makes things tricky to see inside the coroutine module).

[2020-07-05 16:27] biddisco commented on #4800
To finish my explanation. The task is made active and between `state 4` and `state 5` is when it actually runs (scheduling loop), with the returned state shown just before `state 5` - everythig is ok here except the coroutine reset.
Later when the task is again pulled off the queue and rerun - bang line 522, `state 4` is reached and the coroutine call on line 523 when the function is triggered cra

[2020-07-05 22:50] K-ballo commented on #4786
@LiliumAtratum LWG is expecting that issue report. Let me know if don't plan to submit it, so that someone else may take care of it.

[2020-07-06 08:55] msimberg commented on #4482
For libraries that only need the CUDA runtime libraries we should be using https://cmake.org/cmake/help/v3.17/module/FindCUDAToolkit.html#module:FindCUDAToolkit and the `CUDA::cudart` target (CMake 3.17 onwards).

[2020-07-06 09:07] msimberg opened #4804 "Add CI check for compatibility headers"
We currently rely on warnings in the compatibility headers and `-Werror` to catch inclusion of compatibility headers. This misses headers that are conditionally included or in general headers that are never compiled. We can instead compile a list of compatibility headers and grep for inclusion of those to catch all inclusions of compatibility headers.

[2020-07-06 09:47] kordejong commented on #4746
(Comment per request of @hkaiser )
This issue is tagged for the 1.5.0 release. It would be great if it indeed somehow got fixed by that time. The increase in memory usage prevents my software to handle relatively large and/or long running distributed simulations, which is the purpose of my project.

[2020-07-06 12:02] msimberg commented on #4712
Should we go with `HPX_WITH_ASYNC_MPI`? @biddisco will you be changing this in #4663?

[2020-07-06 12:14] msimberg commented on #4594
All the renamings have been done.

[2020-07-06 12:14] #4594 closed

[2020-07-06 12:23] msimberg commented on #4589
@McKillroy is this still a problem for you? I guess you're sure you don't take any other locks than that one `spinlock` visible in the stacktrace? I would be interesting to know what's in those top 10-15 stack frames (although I suspect it will all be just error handling). In some cases nested errors are not handled correctly.

[2020-07-06 12:28] msimberg commented on #4800
@biddisco do you know if the RHS `coroutine_.get_thread_id().get()` is `nullptr` or something non-`nullptr` but different from `this` when the assertion fires? I guess some additional print statements could tell you what state the task is supposed to be in (just to distinguish a terminated task that is pending, and vice versa). Are you running the test in DLA-Future or something else?

[2020-07-06 13:20] msimberg commented on #4779
@scheherzade unfortunately I'm struggling to reproduce this, even with the Release/Debug hint. Does this still happen on the latest master and without `ccache`? I guess you had a clean build directory when you did the debug build?

[2020-07-06 19:02] biddisco commented on #4800
I'm running DLA future, the coroutine has reset called and the id is `0`. Reset sets it to 0.
Either the reset is correct but the state remains as pending (instead of terminated) - or the reset is a mistake.
(I don't know how to tell which state the task should be in because we have to run millions of them before an error occurs - I've temporarily given up on this as I must do other stuff).

[2020-07-06 20:33] LiliumAtratum commented on #4786
@K-ballo Please do report it. I had some issues submitting it there, and frankly I am a bit intimidated by that whole machinery there. Also, I am not a "language lawyer".

[2020-07-06 21:35] hkaiser commented on #4746
I recompiled all of HPX and the 1d_stencil_7 application using a leak detector (VLD, see: https://kinddragon.github.io/vld/). I've had nothing but good experiences with it in the past.

Here is the produced output:
[code]
The options I used were: `--np=500 --nx=1600 --nt=50 --hpx:threads=1` on two localities.

I will try to apply your patch above and repeat the experiment (the results show here ar

[2020-07-06 21:44] hkaiser commented on #4746
The patched version produces the same output (essentially):
[code]
I'm not sure what to do next...

[2020-07-07 05:06] scheherzade commented on #4779
@msimberg I just cleared the `ccache` cache and was able to rebuild the latest master in Debug mode. Thank you so much for your help.

[2020-07-07 05:06] #4779 closed

[2020-07-07 05:33] McKillroy commented on #4589
It's only a problem if there is an exception.
Since I could solve that it's no longer an issue, but I guess it still is lurking for the next occasion to bite.

[2020-07-07 07:37] kordejong commented on #4746
Thanks for looking into this! Interesting. Then I guess memory leak is not the right way to describe the problem. I had another go at reproducing it.

Given a problem size (see my repro script of June 24):
- Using one locality with four threads works fine. Memory usage is constant, around 1.9G.
- Using two localities with two threads each does not work fine. Memory usage by one of the localities i

[2020-07-07 11:48] hkaiser commented on #4746
So far I can confirm that the memory requirements for the two localities I ran is different indeed (this needs a separate investigation). The overall memory cap however is relatively constant for both localities. I will try to do another experiment using your settings, however.

[2020-07-07 17:41] gonidelis opened #4810 "In hpx::for_each::invoke_projected the hpx::util::decay is misguided"
https://github.com/STEllAR-GROUP/hpx/blob/b8668e4c8a416dbbf593a7e6e70bb1b06ae8b89e/libs/algorithms/include/hpx/parallel/algorithms/for_each.hpp#L77-L87

Given a reference to function, it is trying to create a reference to a pointer to function. Doing `typename F& f` instead of `decay` should work fine.

[2020-07-07 19:36] hkaiser commented on #4746
@kordejong May I suggest to augment the 1d_stencil_7 example with some code that limits the size of the generated execution tree? The easiest would be to employ a sliding_semaphore as demonstrated in 1d_stencil_8 here https://github.com/STEllAR-GROUP/hpx/blob/master/examples/1d_stencil/1d_stencil_8.cpp#L558
and here: https://github.com/STEllAR-GROUP/hpx/blob/master/examples/1d_stencil/1d_stencil_8

[2020-07-08 06:57] kordejong commented on #4746
I tried this before (in my own code, see above), but I now added the semaphore code to the example code, as you suggested. I used a max tree depth of 3 and performed the same experiments as yesterday (1 locality with 4 threads, 2 with 2, 4 with 1) and in each case the effect the throttling had was only visible on one of the localities. Its memory use was lower. The other localities (if any) used a

[2020-07-08 07:15] msimberg opened #4811 "Remove HPX::hpx_no_wrap_main target before 1.5.0 release"
The target is only kept around to be nice to projects that have started using the target on master. It should be removed before the 1.5.0 release.

[2020-07-08 11:58] msimberg commented on #4800
I did some testing and the first observation was that 1.4.1 does have this problem as well, but with the default parallel executor, which is similar to the new pool executor on master. After some bisecting the culprit seems to be https://github.com/STEllAR-GROUP/hpx/pull/4090, which fits the errors. What exactly is wrong there I don't know though. Most likely one of the `set_thread_state` function

[2020-07-08 12:16] hkaiser commented on #4746
@kordejong Thanks for testing. I have a couple of additional questions:

- What parcel-port do you use (TCP?, MPI?)
- Is the problem reproducible with the plain (non-patched 1d_stencil_7 as well?
- Is the problem reproducible with other applications (e.g. 1d_stencil_8)?
- Could you please remove the parcel-coalescing plugin (should be in `<install_prefix>/libs/hpx`) and rerun to see if the problem

[2020-07-08 12:34] hkaiser commented on #4800
Uhhh, not good... In any case, thanks for isolating this!

[2020-07-08 13:12] biddisco commented on #4800
https://github.com/STEllAR-GROUP/hpx/pull/4090/files#diff-d643ec2c12b099c89f8c5b2f7d994c65R67-R68
This might be a place to look

[2020-07-08 13:50] rnwzd opened #4812 "HPX(assertion_failure) Ubuntu/Pop!_os 20.04 Debug mode"
## Expected Behavior

Release Library works as expected but HPX library compiled in Debug mode gives HPX(assertion_failure) on a simple Hello World program.

## Actual Behavior
Here is the bash log

Hello World!

## Steps to Reproduce the Problem

  1. Create a bootable Ubuntu 20.04 USB
  2. Run this minimal working example

[code]

## Specifications

  - HPX Version: 1.4.1 (Debug)
  - Platform (c

[2020-07-08 14:34] kordejong commented on #4746
Both. I can reproduce the issue on a cluster using the MPI parcelport and on my desktop using `hpxrun.py` and the TCP parcelport.

Not sure. The problem scales with the number of component clients passed into the action. In the original example three are passed. In the patched version 7 are passed. In my own code 9 are passed. I think the memory is increasing in the original version of the example

[2020-07-08 14:49] hkaiser commented on #4812
This is really a strange one. Could it be that somehow the binaries (Debug/Release) got mixed? Please make sure that you don't use a Release build of HPX in a Debug build of your application.

[2020-07-08 14:54] hkaiser commented on #4746
Have you tried doing all the above experiments using HPX master? It's where we have fixed the memory problem after all (see #4784). I'd expect that the problem you reported in #4732 would be solved.

[2020-07-08 15:03] kordejong commented on #4746
I will do the experiments with master tomorrow. I tested #4784 before and didn't notice an improvement wrt this issue (#4746). I wasn't aware of a relation between #4784 and #4732, so I will test that too.

[2020-07-08 19:28] weilewei opened #4813 "HPX MPI Future failed"
## Expected Behavior

Compiled successfully.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.
[code]

## Specifications

... Please describe your environment

  - HPX Version: 57f2f7671b982ebd3a6f7f38a25f72ffba3aa6d2
  - Platform (compiler, OS): Piz Daint
  - Modules:
[code]

[2020-07-09 07:00] #4773 closed

[2020-07-09 08:37] rnwzd commented on #4812
I ran the provided script on a live USB (so it was a fresh install), as you see both HPX and the program are set to Debug mode.
I tried to build Boost from source with a tagged layout and tried to use Boost built in debug mode in place of the system package but it made no difference.

[2020-07-09 10:07] kordejong opened #4816 "Build of HPX fails when find_package(Boost) is called before FetchContent_MakeAvailable(hpx)"
## Expected Behavior

Build succeeds

## Actual Behavior

Build fails because of misconfiguration of HPX's use of filesystem.

[code]

## Steps to Reproduce the Problem

  1. Setup a project that builds HPX using CMake's FetchContent module
  1. Call `find_package(Boost REQUIRED COMPONENTS filesystem)` before calling the FetchContent stuff
  1. Build project

One way to do this is to clone https:/

[2020-07-09 11:00] msimberg commented on #4816
Thanks @kordejong for the report. This definitely looks like something you shouldn't have to work around. We'll try to have a fix in soon.

[2020-07-09 11:38] kordejong commented on #4746
I used today's master, git tag 57f2f7671b9

- #4732 is still an issue with today's master and the above experiment, without patching `1d_stencil_7`. 2 localities with 2 threads each.
- When patching `1d_stencil_7` to pass a few more partitions to the action, memory increases as described above. To me it seems all of the above is still an issue with the current sources.

This is a screenshot of a g

[2020-07-09 13:02] kordejong commented on #4746
I tried with both the system allocator and tcmalloc. This made no difference.

[2020-07-09 14:29] hkaiser commented on #4813
Is this a duplicate of #4752?

[2020-07-09 14:31] weilewei commented on #4813
Seems yes, but I thought it was fixed then re-occurred again...

[2020-07-09 16:49] hkaiser commented on #4813
I'll close it as a duplicate, then.

[2020-07-09 16:49] #4813 closed

[2020-07-10 07:13] msimberg opened #4818 "HPX can't be used with IO pool turned off"
As reported here: https://github.com/STEllAR-GROUP/hpx/pull/4815#issuecomment-656060214.

[2020-07-10 13:34] msimberg opened #4820 "PAPI counters don't work"
Unsure if this is a system, PAPI, APEX, or HPX issue, so looking for input from e.g. @khuck and @biddisco.

Currently our PAPI tests fail like this on Piz Daint: https://cdash.cscs.ch/testDetails.php?test=23719608&build=115247. As far as I know nothing has changed in our PAPI counters for a long while (except build-related options). That particular example asks for `PAPI_FP_INS` which `--hpx:papi-

[2020-07-10 14:33] kordejong commented on #4746
Some additional observations:
- I cannot reproduce the issue in Debug mode. The process is much slower then, of course. Maybe there is some time-dependent cleanup logic involved?
- Passing a low value for `hpx.agas.max_pending_refcnt_requests` does not seem to have any effect (release build again). Not sure if that is a silly thing to try, but mentioning it anyway.

[2020-07-11 19:19] hkaiser opened #4822 "Adapt parallel algorithms to C++20"
Adapt our parallel algorithms to C++20 (http://eel.is/c++draft/#algorithms)

Here is the list of algorithms mandated by the standard:

- [x] `adjacent_difference` (#5564)
- [x] `adjacent_find` (#4996)
- [x] `all_of` `any_of` `none_of` (#4859)
- [x] `copy` `copy_if` `copy_n` (#4821)
- [x] `move` (#4870)
- [x] `count` `count_if` (#4865)
- [x] `equal` (#4883) `mismatch` (#4884)
- [x] `exclusive_scan`

[2020-07-12 17:34] K-ballo commented on #4786
https://cplusplus.github.io/LWG/issue3463

[2020-07-13 22:10] #4810 closed

[2020-07-13 22:20] khuck commented on #4820
Hmmm...there were some recent changes to `proc_read.cpp` but they are completely unrelated to this error.  Can you point me to some instructions on how I can reproduce this configuration?

[2020-07-14 08:35] msimberg commented on #4820
The CMake configuration options are here: https://cdash.cscs.ch/buildSummary.php?buildid=115247#!#Configure. I don't think the compiler is relevant, it's clang 8. The PAPI version may be relevant (5.7.0.2). Otherwise it's a normal build with C++17, `HPX_WITH_APEX=ON`, `HPX_WITH_PAPI=ON`, `APEX_WITH_PAPI=ON`. If you're able to use the PAPI counters normally in your build I would say this is just a

[2020-07-14 09:45] #4816 closed

[2020-07-14 13:53] hkaiser commented on #4746
This makes even less sense now. :/

[2020-07-14 14:52] kordejong commented on #4746
Can you reproduce the issue (with patched stencil example, release build, parameters as mentioned above) on your platform?

[2020-07-14 16:30] khuck commented on #4820
I think I agree that APEX isn't causing the exception.  When APEX encounters that problem getting a RAPL counter name, it just continues on to the next one: https://github.com/khuck/xpress-apex/blob/c59fac98a25230b8909a7bbfd062f37ae4099dd7/src/apex/proc_read.cpp#L122-L131 (I just updated that code to give more error information).  You could try toggling `HPX_WITH_PAPI=ON, APEX_WITH_PAPI=OFF` and `

[2020-07-14 17:32] aurianer commented on #4818
@biddisco I tried to reproduce your error but I failed, would you have a reproducible example?
At what point I got [this error](https://gist.github.com/aurianer/01e670b34b47c21925349e2b834e13e9) but it was because I was still linking the iostream component to my example ^^'

[2020-07-14 19:18] nickrobison-usds opened #4828 "HPX+MPI seg faults on Mac OS"
## Expected Behavior

When building an HPX application against HPX+MPI, a simple programs should execute without crashing.

## Actual Behavior

When running against a local copy of HPX, built with MPI support, I get a seg fault immediately.

## Steps to Reproduce the Problem

HPX was built from master using the following options: `-DCMAKE_BUILD_TYPE=Debug -DHPX_WITH_PARCELPORT_MPI=ON`. MPI was mpi

[2020-07-14 20:24] hkaiser commented on #4828
@nickrobison-usds This looks like a problem with your HWLOC installation. The segfault happens inside that library. Would you be able to try using a newer version?

[2020-07-14 20:35] nickrobison-usds commented on #4828
I believe I'm using the latest version (2.2.0).

Output of `otool -L`

[code]

The pkgconfig file specifies the correct version. Does it seem like it's linking incorrectly?

[2020-07-14 21:38] hkaiser commented on #4828
`/usr/local/opt/hwloc/lib/libhwloc.15.dylib ` suggest that you're using V1.5. Also, what does `lstopo` print for you?

[2020-07-14 23:54] nickrobison-usds commented on #4828
Output of `lstopo`:

[code]

Building hwloc 2.2 from the source distribution results in the same `libhwloc.15.dylib` being built.

[2020-07-15 02:37] #3884 closed

[2020-07-15 06:46] albestro opened #4829 "Spack package & HPX_WITH_GENERIC_CONTEXT_COROUTINES"
I've opened this issue because I'd like offering myself for fixing a minor issue in the `hpx` spack package.

The problem is about `HPX_WITH_GENERIC_CONTEXT_COROUTINES` option and the dependency with the boost component `context`. In particular, I'm facing this problem on my `APPLE` laptop.

It looks pretty simple and clear what happens, but I'd like to ask you how you prefer to manage this.

The

[2020-07-15 07:26] #4766 closed

[2020-07-15 14:35] hkaiser commented on #4828
I looked closer at the stack backtrace you provided. The segfault occurs in `/usr/local/opt/mpich/lib/libpmpi.12.dylib` which apparently has its own version of hwloc staticly linked. I'm not sure what's going on. Would you have a different version of MPI you could try?

[2020-07-15 14:38] hkaiser commented on #4818
Should we change the iostreams implementation to silently fall back to execute the output operation on the current HPX thread (instead of dispatching it to the IO-pool) in this case?

[2020-07-15 19:41] diehlpk commented on #4286
Hi,

it seems that some similar error appears at another place when compiling HPX with mpich [0] on Fedora. However, using openmpi, does not show this error. I think it is might relate to a newer CMake version, since this error did not appear a few months ago on Fedora's build system.

[0] https://kojipkgs.fedoraproject.org//work/tasks/1001/47271001/build.log

[2020-07-15 19:57] khuck commented on #4286
I was able to work around the problem by building openmpi without --enable-cxx-exceptions.  With that flag, the pkgconfig file defines Cflags values, and CMake 15 is putting quotes around them.

[2020-07-16 06:55] msimberg commented on #4812
@rnwzd would you be able to try if this happens for you also with latest master? We're going to be releasing 1.5.0 soon-ish, and it would be interesting to see if the problem still happens for you there.

[2020-07-16 12:41] #4286 closed

[2020-07-16 13:29] msimberg commented on #4829
@albestro thanks a lot for volunteering to do this! What you suggest makes a lot of sense. We could even go one step further and just require Boost.Context already at the CMake level instead of leaving the error to compile time but that's separate from the spack configuration. As far as I remember pretty much any platform except Linux on x86 and Windows requires Boost.Context. So we can force it a

[2020-07-16 13:44] msimberg commented on #4818
I think an error is appropriate. After all if a user tries to use HPX iostreams they do so with the expectation that it will be processed on another thread.

Just linking to `libhpx_iostreams` should not lead to anything being written to the IO pool without the user asking for it though and that should probably be fixed.

[2020-07-16 15:53] #4732 closed

[2020-07-16 15:53] #4746 closed

[2020-07-17 07:25] #4619 closed

[2020-07-17 08:25] #4800 closed

[2020-07-17 08:29] msimberg commented on #4318
@K-ballo does that mean you would suggest we just add a `hpx_add_config_define(BOOST_ASIO_DISABLE_CONCEPTS)` to the Boost setup? To be clear, this is a Boost issue, correct?

[2020-07-17 08:29] msimberg commented on #4371
Is this something we still want to fix?

[2020-07-17 08:36] msimberg commented on #4297
@KilianWerner sorry this fell off the radar for us. It sounds like the problem is "solved". As for the last warning, how did you launch that application? With `hpxrun`, `mpirun`, or `srun`?

[2020-07-17 09:01] msimberg commented on #4471
@brakmic would you be able to try the latest master? Also, if you're able to get a longer stacktrace with gdb/lldb that could also be helpful.

[2020-07-17 13:06] K-ballo commented on #4318
Yes. https://github.com/boostorg/asio/issues/312

[2020-07-17 21:59] Cind12 commented on #4297
The problem is solved for now, however it is a reappearing issue, dependent on the occasional openmpi/linux updates on our cluster and hpx releases. Also the warning remains without hindering execution. The problem occurs both with mpirun and srun. I have not yet given hpxrun a try.

[2020-07-17 22:02] KilianWerner commented on #4297
The problem is solved for now, however it is a reappearing issue, dependent on the occasional openmpi/linux updates on our cluster and hpx releases. Also the warning remains without hindering execution. The problem occurs both with mpirun and srun. I have not yet given hpxrun a try. (Please excuse the previous posting from a wrong account.)

[2020-07-19 17:38] hkaiser commented on #4818
I agree. However, do we have a reproducible case where this happens?

[2020-07-19 18:48] rnwzd commented on #4812
It makes no difference:

[2020-07-19 19:45] hkaiser commented on #4484
Was this resolved by #4483?

[2020-07-19 19:47] hkaiser commented on #4429
I think this has been resolved by #4257. Please reopen if necessary.

[2020-07-19 19:47] #4429 closed

[2020-07-19 19:49] hkaiser commented on #4302
@kordejong can we close this now?

[2020-07-20 08:39] msimberg commented on #4484
No. That simply repackaged various options into an interface target that we create. This issue is about using the targets provided by `FindMPI` directly.

[2020-07-20 09:31] msimberg commented on #4818
I actually don't think so. I just realized that the iostreams component is disabled when `HPX_WITH_DISTRIBUTED_RUNTIME=OFF` (as it should be). @aurianer is it possible that you had an old `libhpx_iostreams.so` lying around which got linked in your case? From a clean build directory with the distributed runtime and io pool off it's not even possible to link to the iostreams component by mistake. @b

[2020-07-20 09:37] albestro commented on #4829
I've started working on this here https://github.com/albestro/spack/tree/fix_hpx_coroutines_dep

Main changes are (see https://github.com/spack/spack/commit/743a456e520f338f6559894e83c003084ffbd6ee):
- add variant `generic_coroutines` that controls the CMake option `HPX_WITH_GENERIC_CONTEXT_COROUTINES`
- `hpx~generic_coroutines` depends on `boost+context`
- when `platform=darwin`, `hpx` depends on

[2020-07-20 14:09] msimberg commented on #4820
I can confirm that APEX is unrelated to this, and things still work in 1.4.1, so something has gone wrong on master along the way. I'll try to fix this before 1.5.0 (not necessarily for the first release candidate).

[2020-07-20 17:16] kordejong commented on #4302
@hkaiser sure, fine with me

[2020-07-20 17:54] #4302 closed

[2020-07-20 19:24] scheherzade opened #4842 "Number of idle cores reported is sometimes not correct"
## Actual Behavior

The number of idle cores reported through `is_core_idle` function is sometimes off by one or two.

## Specifications

... Please describe your environment

  - HPX Version: master
  - Platform (compiler, OS): gcc, Linux

[2020-07-20 19:27] scheherzade commented on #4842
@hkaiser I was using the collected traces from Apex to verify the number of idle cores in the context of splittable tasks. I created a test for it but I'm not sure about it.
[code]

[2020-07-20 20:02] scheherzade commented on #4842
PR #4834 had already covered it.

[2020-07-20 20:02] #4842 closed

[2020-07-21 06:55] albestro commented on #4829
https://github.com/spack/spack/compare/develop...albestro:fix_hpx_coroutines_dep

Now the default value for the `generic_coroutines` variant depends on the platform:
- On `linux` it is `False`, so the spec is defaulted to `hpx~generic_coroutines`;
- On other platforms it is `True`, so the spec is defaulted to `hpx+generic_coroutines` and the dependency with `boost` is added.

I'm not experienced w

[2020-07-21 07:17] #4662 closed

[2020-07-21 20:44] hkaiser commented on #4829
On Windows it should be `False` as well. (not sure if Spack works on windows, though).

[2020-07-22 08:08] msimberg commented on #4812
@rnwzd the problem is this line:
[code]
I don't know why you would need to unset that variable, but I recommend you don't do it (there is as far as I know no good reason to do so). I suspect the configuration stage works just fine (HPX also checks that the build type for the application and HPX match) but the generation stage then still needs the value of `CMAKE_BUILD_TYPE`.

Could you check if th

[2020-07-22 09:55] rnwzd commented on #4812
Now it works.
Thank you very much.
I didn't spot that line.
Maybe you could add a CMake warning about it.

[2020-07-22 10:12] msimberg commented on #4812
Thanks for checking @rnwzd. I don't think there's much we can do about `CMAKE_BUILD_TYPE` being unset by the user. We already do give an error if they don't match, but during the generation stage it's too late to do checking for us.

[2020-07-22 10:12] #4812 closed

[2020-07-22 11:53] #4318 closed

[2020-07-22 13:53] nickrobison-usds commented on #4828
Apologies for not following up sooner. Switching to OpenMPI on MacOS solved the problem. Thanks for the insight on the statically linked hwloc, I ran into the same issue on another cluster and was able to solve it quickly!

[2020-07-22 14:06] nickrobison-usds opened #4850 "Issues creating templated component"
When attempting to register a templated component with multiple arguments, I'm getting an `unknown typename` error during macro expansion.

I'm trying to expand the `template_accumulator` example from the HPX repo.

Here's the macro I'm using to register the action and the component:

[code]

The macro is defined outside of any namespaces.

The `MapServer` component itself as pretty simple, it has

[2020-07-22 14:19] #4828 closed

[2020-07-22 15:00] #4123 closed

[2020-07-22 15:00] #4820 closed

[2020-07-22 16:04] hkaiser commented on #4850
This is a macro expansion problem as the preprocessor does not know anything about templates. You might want to rewrite your macro as:
[code]

[2020-07-22 20:12] biddisco commented on #4321
Didn't realize this was closed for being stale. Keeping it alive with this comment.
I have been slowly chipping away at the libfabric parcelport and have a working branch, though it isn't production ready. I hope to have it ready for larger scale testing soon. Please feel free to bug me with requests if it is needed urgently.

[2020-07-22 21:38] nickrobison-usds commented on #4850
That worked! Thanks for the quick reply. We’re off to the races!

[2020-07-22 22:20] #4850 closed

[2020-07-23 14:22] diehlpk commented on #4321
@biddisco We anticipate to do some scaling runs on Piz Daint for the upcoming proposal there. So it would be neat, if we have a running parcel port for the scaling runs.

[2020-07-23 18:43] biddisco commented on #4409
Bumping this issue, with the extra comment that the test is failing quite frequently on rostam in particular and the shared-priority scheduler needs to be looked at sometime soon.

[2020-07-23 19:43] biddisco commented on #4818
I compiled with IO_POOL and TIMER_POOL off today and things were working, so it looks like this problem has gone away or it was some corrupted binary of mine. I will close it for now and reopen if it comes back.

[2020-07-23 19:43] #4818 closed

[2020-07-27 22:39] NK-Nikunj opened #4866 "Calling interrupt on thread is not catched by try-catch block"
## Expected Behavior

try-catch block should've catched the error.

## Actual Behavior

It throws this [error](https://gist.github.com/NK-Nikunj/fabba2bb6358099b9662318d5ce0dd40#file-error-log)

## Steps to Reproduce the Problem

The following code is a minimal example to get the error:

[code]

## Specifications

Running HPX master on Arch Linux (kernel 5.7.10).

[2020-07-27 22:46] NK-Nikunj commented on #4866
My bad. I forgot to add `t.join()`. It works now.

Closing this issue.

[2020-07-27 22:46] #4866 closed

[2020-07-28 18:55] hkaiser opened #4871 "HEP: conformance to C++20"
This is a meta ticket collecting all issues related to conformance with C++20:

- [x] Implement N4409 on top of HPX (#1141)
- [x] Adapt all parallel algorithms to Ranges TS (#1668)
- [x] Parallel algorithms should accept iterator/sentinel pairs (#3646)
- [x] Add `shift_left` and `shift_right` algorithms (#3706)
- [x] Implement the C++20 Synchronization Library - `barrier`, `latch`, `counting_semap

[2020-07-30 13:49] diehlpk commented on #4690
@msimberg Is this site available? I like to add it to the JOSS paper.

[2020-07-30 15:45] hkaiser commented on #1141
@fjtapia Just out of curiosity, we still have a couple of algorithms missing that are related to sorting (`partial_sort`, `partial_sort_copy`, and `nth_element`). Do you happen to have implementation available for those? Even some initial code would be very helpful. Our plan is to finally have all of the algorithms as specified by C++20 in place and these are the last missing pieces. Any help you

[2020-07-30 17:08] fjtapia commented on #1141
Hi Hartmut

Glad to contact you again.
I will prepare the implementation of the functions and send it to you to
examine. But it will be at the end of August because in two days I am going
on vacation.
Please send me a list of the functions to implement. If they are
single-thread or parallel, and if they have any conditions that must be
taken into consideration.
Regards
Francisco

El jue., 30 jul.

[2020-07-30 17:47] hkaiser commented on #1141
Francisco, thanks for getting back so quickly, and thanks for your interest in helping! As said in my initial message, we are missing the implementations for the parallel versions of the following algorithms: `partial_sort`, `partial_sort_copy`, and `nth_element` (I believe I would be able to derive the `partial_sort_copy` from a `partial_sort` implementation myself, if needed - if that simplifies

[2020-07-30 19:16] biddisco commented on #4752
Does this problem still exist, or have the mpi changes that were recently merged fixed things? If so, can we close this issue?

[2020-07-30 20:04] weilewei commented on #4752
Let me try it these two days on Summit and get back to you.

[2020-07-30 22:51] weilewei opened #4877 "hpx_main might not able to start hpx runtime properly"
## Expected Behavior

Runs fine.

## Actual Behavior

Got error:

[code]

## Steps to Reproduce the Problem

main.cpp:
[code]

CMakeLists.txt:
[code]

## Specifications

... Please describe your environment

  - HPX Version: latest master
  - Platform (compiler, OS):linux, gcc

[2020-07-30 23:47] weilewei commented on #4752
It builds and runs fine for hpx mpi async part (but I got some other errors in DCA application possibly due to hpx_main issue). I think it is safe to close this issue now.

[2020-07-30 23:47] #4752 closed

[2020-07-31 00:28] NK-Nikunj commented on #4877
@weilewei it is expected behavior. With the current build system if you want to run your HPX application from main, you need to link it to `wrap_main` as well. So you will need to update it to something like:

[code]

[2020-07-31 01:39] weilewei commented on #4877
@NK-Nikunj ahh, ok, thanks. Now it works!

[2020-07-31 15:47] weilewei opened #4878 "HPX mpi async might call MPI_FINALIZE before app calls it"
## Expected Behavior

... Please describe the behavior you would have expected.

## Actual Behavior
DCA with hpx mpi gives has the following error on Summit. I haven't really looked into it yet but wanna attach error bug first.

[code]

## Specifications

... Please describe your environment

  - HPX Version: hpx latest master, 256b42eb12143bbd876a368af8c88a9dd95858a0
  - Platform (compiler, OS):

[2020-07-31 17:46] hkaiser commented on #4878
@weilewei please add your cmake options here for us to be sure how to reproduce.

[2020-07-31 18:21] weilewei commented on #4878
Ok, I added the cmake options in my ticket inplace

[2020-07-31 18:52] weilewei opened #4879 "hpx segfault after dca finish runs"
## Expected Behavior

... Please describe the behavior you would have expected.

## Actual Behavior

I run dca with hpx threading support on Cori GPU node, and found that after dca has successfully prints the finish, hpx gives segfault. Here is the backtrace:

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

## Specif

[2020-07-31 19:00] hkaiser commented on #4877
@NK-Nikunj is there a way to detect this problem (at runtime)?

[2020-07-31 19:19] scheherzade opened #4880 "Undefined reference to main build error when HPX_WITH_DYNAMIC_HPX_MAIN=OFF"
## Expected Behavior

I had been using HPX 1.3.0 for my [Blazemark](https://bitbucket.org/blaze-lib/blaze/wiki/Blazemark)(benchmark suite for Blaze) experiments but when I updated HPX I wasn't able to build a benchmark in Blazemark anymore.
I had always built HPX with `-DHPX_WITH_DYNAMIC_HPX_MAIN=OFF` for these runs. If I don't specify this flag and link the benchmark with hpx_wrap I am able to bu

[2020-07-31 20:04] hkaiser commented on #4880
@scheherzade Does it help if you add `/home/sshirzad/lib/hpx/hpx_release_clang/lib64/libhpx_wrap.a` as an additional library right after `libhpx_init.a`?

[2020-07-31 20:09] NK-Nikunj commented on #4877
@hkaiser it will not be possible to have a check at runtime. The variable is set in `hpx_wrap.hpp`, so an exception handler has no way to know if a static library was linked to or not.
Having said that, I do believe that we can get a check at link time. This can be done by calling a random useless function from `hpx_main.hpp` that is present in `libhpx_wrap`. A link time error won't pop up if the

[2020-08-01 00:25] scheherzade commented on #4880
@hkaiser now I get this error:
[code]

[2020-08-01 14:09] hkaiser commented on #4877
@NK-Nikunj the link-time error diagnosis would be fine as well. How much effort would adding that be?

[2020-08-02 06:05] NK-Nikunj commented on #4877
@hkaiser I looked at the code again. It was possible to add a better error handling at runtime. I've added a PR that should help the user identify when he forgets to link to libhpx_wrap while using hpx_main functionalities.

[2020-08-02 11:25] biddisco commented on #4878
One thing to check - the `hpx::mpi` layer doesn't call finalize unless you have asked it to call `init` make sure that when you init `hpx::mpi` you have the init flag set to false.

[2020-08-02 15:22] hkaiser commented on #4829
This can be closed now as the changes were merged to Spack (https://github.com/spack/spack/pull/17654)

[2020-08-02 15:22] #4829 closed

[2020-08-02 15:23] hkaiser commented on #4829
@albestro Thanks again for pushing this forward!

[2020-08-02 20:10] NK-Nikunj commented on #4880
@scheherzade from the looks of it, I think it is due to incorrect linking order. @biddisco and @justwagle have faced issues similar to this in the past.  I'll try to reproduce and come to you.

[2020-08-02 20:58] khuck commented on #4308
tl/dr: I pushed some significant fixes and changes to APEX this past week regarding OTF2 support.  Please let me know if the current develop branch of APEX has any remaining unresolved problems. Thanks!

Specifically, the OTF2 thread, region and metric unification process had a bug where if any of those things had a space in the name (like a timer with a space in it), it wouldn't get resolved corr

[2020-08-02 22:50] NK-Nikunj commented on #4880
@scheherzade as I suspected, it is due incorrect linking order. You need to link to `libhpx_wrap.a` right before `libhpx_init.a`. That should link it just fine. It should look similar to the following:

[code]

@hkaiser iirc I made sure that `libhpx_wrap` is generated only when HPX_WITH_DYNAMIC_MAIN is set to On. From the looks of cmake structure in hpx/wrap, I can see that the default implementat

[2020-08-03 14:34] scheherzade commented on #4880
@NK-Nikunj Yes that solved the problem, thanks!

[2020-08-03 14:43] hkaiser commented on #4880
@NK-Nikunj I think that linking with `libhpx_wrap.a` should be harmless if `HPX_WITH_DYNAMIC_MAIN=Off`, is it?

[2020-08-03 15:34] NK-Nikunj commented on #4880
@hkaiser yes, it is indeed harmless. But since we've added default implementation in `libhpx_wrap.a` (https://github.com/STEllAR-GROUP/hpx/blob/master/wrap/CMakeLists.txt#L49-L52), we are now required to always link to it.

[2020-08-03 17:06] weilewei commented on #4879
@hkaiser do you have any other suggestions? I could not move forward with DCA + HPX on Cori due to this bug

[2020-08-03 17:24] hkaiser commented on #4880
I'll leave this to @msimberg to decide. From what I can see this is not a problem.

[2020-08-04 13:39] #4877 closed

[2020-08-04 17:04] weilewei commented on #4879
On CoriGPU, there are two hpx tests failed, does this failures relate to the segfault in this ticket?

[code]

[code]

[2020-08-05 23:02] #4228 closed

[2020-08-07 07:21] NK-Nikunj opened #4886 "A future bound to an action executing on a different locality doesn't capture exception state"
## Expected Behavior
Not sure if this is supposed to be an expected behavior. Exception should be handled by the future?

## Actual Behavior
An action that throws on the other locality does not return its exception state to the future. i.e. `f.has_exception()` doesn't work on that future.

## Steps to Reproduce the Problem

[code]

The above code doesn't execute to completion. It logs error as an

[2020-08-07 12:47] hkaiser commented on #4886
Is this specific to remote operation ?

[2020-08-07 17:48] NK-Nikunj commented on #4886
Yes, it occurs when the action is on another locality. In the example code, I invoke action on locality 1 and the future that is bound to that action is on locality 0. If they're on same localities, no errors come up. When they're on different localities, unhandled exception error is returned by HPX.

[2020-08-08 14:30] #4886 closed

[2020-08-10 06:57] msimberg commented on #4690
@diehlpk this has not been put up yet. Given that we already have 10 entries in the comments here, I think we could already put a page with the applications. By when would you need it for the paper?

[2020-08-10 13:12] msimberg commented on #4880
I'd say we (I) should fix this. It's a mistake by me that the default main implementation is now in `libhpx_wrap`; I don't think I had any good reason to move it there in the first place. I'll have a look at this. @scheherzade thanks for reporting this! If you can, I'd recommend you move away from manually specifying what to link against and instead use the pkgconfig files or the CMake targets.

[2020-08-11 01:06] NK-Nikunj opened #4891 "HPX MPI Parcelport initialization issue"
## Expected Behavior

HPX binaries should execute properly.

## Actual Behavior

HPX fails to initialize properly and seg faults. Here is the debug output: https://gist.github.com/NK-Nikunj/5b0e5005133c3ae11b73a4baeb65ce9b

## Steps to Reproduce the Problem

I use the base configuration from rostam and load OpenMPI module. Following is the list of modules loaded:

[code]

I install HPX using the f

[2020-08-11 07:01] msimberg commented on #4016
@McKillroy would you be happy with us linking to your GitHub pages in the additional material section in our docs: https://hpx-docs.stellar-group.org/latest/html/additional_material.html?

[2020-08-11 07:16] msimberg commented on #4891
@NK-Nikunj could you try to step through this code: https://github.com/STEllAR-GROUP/hpx/blob/19e64319ab33b494d749a3776d1d91266ced04fb/src/runtime/agas/addressing_service.cpp#L168-L169 and specifically the `get_bootstrap_parcelport` function to check what conditions there fail. It looks like for some reason there is not bootstrap parcelport selected.

[2020-08-11 07:22] msimberg commented on #4891
A `--hpx:dump-config` might also be helpful.

[2020-08-11 07:51] NK-Nikunj commented on #4891
@msimberg how do I debug a distributed application using gdb (can it even do so?). Also `--hpx:dump-config` does not create a debug dump.

[2020-08-11 08:49] msimberg commented on #4879
@weilewei please try to find out what is starting a thread at the end of the execution. Does this happen also without HPX threading in DCA? It's possible, but unlikely that this is caused by HPX. We do not start any threads after the runtime is started in HPX. This is happening either during HPX shutdown or after HPX has already been shut down.

[2020-08-11 08:58] msimberg commented on #4891
Only by manually starting each locality with gdb. In the worst case with print statements... but you can also try to reproduce it with a single node:

[code]
(`--hpx:expect-connecting-localities` should ensure that networking is actually initialized, even with only one node)

[2020-08-11 13:28] msimberg commented on #4690
@diehlpk in case this was not yet passed on to you: https://hpx.stellar-group.org/hpx-users/.

[2020-08-11 15:01] weilewei commented on #4879
@msimberg This situation does not happen when DCA (+MPI support [default]) builds without HPX support, also does not happen when DCA (disable MPI support) builds with HPX support. Only happens when DCA w/ MPI support + HPX threading. Is there anyway to know what starts a thread at the end of execution? Backtrace gives no useful information.

[2020-08-11 22:36] hkaiser commented on #4891
@NK-Nikunj I'm not able to reproduce this when running using mpirun (not SLURM, however). For me the parcelports get initialized properly for all localities. Could you please try adding
[code]
to the command line?

FWIW, `--hpx:list-parcel-ports` should list all active parcelports, also `--hpx:debug-clp` should be verbose about what's picked up from the SLURM environment.

[2020-08-12 12:13] NK-Nikunj commented on #4891
@hkaiser I can confirm that using mpirun does not reproduce the error. With mpirun, I see that the parcelport is initialized properly. With srun, it seg faults without giving any output.

[2020-08-12 12:20] biddisco commented on #4891
if using ssh, make sure you enable x11 forwarding, then

[code]
or
[code]

[2020-08-12 13:20] hkaiser commented on #4891
Have you tried forcefully enabling the MPI parcelport (`--hpx:ini=hpx.parcel.mpi.enable!=1 --hpx:ini=hpx.parcel.bootstrap!=mpi`)?

[2020-08-12 13:23] NK-Nikunj commented on #4891
Yes, I did. It still resulted in a seg fault. I'm looking into gdb right now. I'll come back with my findings.

[2020-08-12 13:38] hkaiser commented on #4891
All of this looks to me like a problem with initializing the MPI parcelport in cases where SLURM or other batch environments are being used to launch the localities. We seem to disable the MPI parcelport in this case, even if it is force-enabled using configuration settings on the command line.

SLURM usually knows about MPI (see https://slurm.schedmd.com/mpi_guide.html) and initializes the enviro

[2020-08-12 20:11] sithhell commented on #4891
The support needs to be enabled in both ways: in slurm and the mpi
implementation.
As a workaround, using mpirun inside a slurm works just as fine. It's only
a matter how the processes are started etc.

Hartmut Kaiser <notifications@github.com> schrieb am Mi., 12. Aug. 2020,
15:38:

[2020-08-14 11:04] kordejong opened #4897 "Compiler warning, deprecated header used by HPX itself"
## Expected Behavior

Compile without warning about use of deprecated header.

## Actual Behavior

Compiler warns about use of deprecated header. Minor issue I guess. Reporting anyway.

[code]

It seems compatibility headers are including each other.

## Steps to Reproduce the Problem

I used this configuration:
[code]
(See also: https://github.com/kordejong/hello_hpx)

## Specifications

  - HPX

[2020-08-14 11:19] #4880 closed

[2020-08-14 11:51] msimberg commented on #4897
Thanks @kordejong for reporting! I think this actually comes from APEX. The APEX tag will still be updated before the final release, so we'll make sure that these are not included anymore at that point.

[2020-08-14 12:11] kordejong commented on #4897
Hi @msimberg . You are right. I noticed I forgot to add the source of the modules triggering the warning. These are indeed APEX modules. Other builds, without using APEX build without deprecation warnings.

[2020-08-14 12:49] kordejong commented on #4897
BTW, I get some other warnings as well, when using HPX. These are triggered by GCC's `-Wunused-parameter`. Are these useful to report, or is that maybe work in progress?

[2020-08-14 12:56] msimberg commented on #4897
Please do post those as well. We might have a gap in our testing configurations that you've hit.

[2020-08-14 21:20] diehlpk opened #4900 "Adding JOSS status badge to README"
Can we add the JOSS status badge to the Readme.rst where we have the circle-ci and all other badges?

[![status](https://joss.theoj.org/papers/022e5917b95517dff20cd3742ab95eca/status.svg)](https://joss.theoj.org/papers/022e5917b95517dff20cd3742ab95eca)

After acceptance the badge will point to the paper.

[2020-08-14 23:26] hkaiser commented on #4900
Done.

[2020-08-14 23:26] #4900 closed

[2020-08-17 11:10] kordejong commented on #4897
[hpx_warnings.txt](https://github.com/STEllAR-GROUP/hpx/files/5083832/hpx_warnings.txt)

These are the warnings I get when building HPX 1.5.0-rc1 and my project.

[2020-08-17 13:03] hkaiser commented on #4897
Thanks, I'll take care of those.

[2020-08-17 16:05] msimberg commented on #4507
I'd say this is fixed, at least for the original intent of having both MPI and CUDA polling enabled at the same time. @biddisco, @hkaiser would you still like to keep this open?

[2020-08-17 16:06] msimberg commented on #4712
This has been fixed by #4663.

[2020-08-17 16:06] #4712 closed

[2020-08-17 16:09] msimberg commented on #4891
@NK-Nikunj any update on this issue? Did you resolve it, find a workaround, or just move on with other things?

[2020-08-17 16:35] NK-Nikunj commented on #4891
@msimberg I moved on for the time being. I'll get back to it early September.

[2020-08-17 18:07] hkaiser commented on #4507
I'm fine with closing this unless proven to be broken...

[2020-08-18 07:11] #4507 closed

[2020-08-18 07:37] #4897 closed

[2020-08-18 07:44] msimberg commented on #4878
Is there anything new on this? Do we know if the problem is in HPX or DCA++?

[2020-08-18 07:45] #4811 closed

[2020-08-18 14:28] weilewei commented on #4878
Not yet, I might need to revisit this issue later.

[2020-08-19 09:43] kordejong opened #4913 "HPX CMake targets not available when using FetchContent"
## Expected Behavior

When using CMake's `FetchContent` module to incorporate HPX in my project, I expect to be able to use the HPX targets.

## Actual Behavior

HPX CMake targets are not available:

[code]

## Steps to Reproduce the Problem

  1. Use CMake FetchContent to incorporate HPX in project
  1. Configure project, use HPX targets as described in manual

See `CMakeLists.txt` at https://git

[2020-08-19 11:18] msimberg commented on #4913
I *think* all is as it should here. Can you use the HPX targets without the `HPX::` namespace? I'm pretty sure fetchcontent doesn't use the namespaces we set when exporting targets, but I'm far from an expert on this. If that's the case this is something to take up with the CMake developers (or maybe there are other ways to clone another project inside the project and use its CMake config files).

[2020-08-19 12:01] kordejong commented on #4913
Yes, the build starts fine without the `HPX::` namespace. Thanks, good suggestion!

It seems possible to export the namespace of targets as well. Here is an example I found: https://gitlab.com/CLIUtils/modern-cmake/-/blob/master/examples/fetch/CMakeLists.txt (haven't checked it). If I run into more info I will let you know.

Wrt location of `iostream.hpp`: I have no preference because I have no cl

[2020-08-19 12:25] kordejong commented on #4913
I think something like this would make HPX targets available from the HPX namespace when HPX is used as a subproject in other projects:

[code]

[2020-08-19 12:47] msimberg commented on #4913
That's a very good suggestion, thanks! I think doing that would indeed make sense, and would at the same time potentially simplify (a bit) some of our internal CMake. I'll have a go at this.

As for the header, we'll stick to just that one header then (it's going to be there in any case), and potentially add more in the future.

[2020-08-20 07:29] #4913 closed

[2020-08-20 16:58] hkaiser opened #4918 "Rename distributed_executors module"
For consistency this module should be named `executors_distributed`. I'm not sure if this should still be done before the release as it might avoid having another set of forwarding headers later...

[2020-08-20 17:23] msimberg commented on #4918
Good catch! Yes, we should still do this before the release.

[2020-08-20 20:12] hkaiser commented on #3440
Taken from here: https://gist.github.com/K-ballo/7b551d71487bdf34d0b25aa034e399a5
[code]

[2020-08-23 19:14] biddisco commented on #3579
I wanted to check on some problems with the shared-priority scheduler and ran a full test on daint (2x18 = 36 cores with max 72 hyperthreads)
It would appear that there has been a regression in performance under certain conditions and improvements in others
please open the following graphs in two tabs and compare between them
October 2019 https://pasteboard.co/JnJtG3v.png
August 2020 https://paste

[2020-08-23 19:57] hkaiser commented on #3579
@biddisco thanks for looking into this! I think it would be important to find out what caused the regression before tweaking things, however...

[2020-08-24 07:12] msimberg commented on #3579
@biddisco I'll see if I can reproduce the regression with that commit (or the thread pool executor PR).

[2020-08-24 12:09] msimberg commented on #3579
@hkaiser at least part of the regression seems to come from the latch PR: https://github.com/STEllAR-GROUP/hpx/commit/72ce9cfff25baca3bcd2f371ec778629229e364d. Do you remember if there were any changes to the implementation that could cause this kind of performance regressions?

[2020-08-24 12:53] biddisco commented on #3579
I do not believe the lock is needed for every count down. Since the latch is monotonic (does not count up, is initialized with N), then an atomic `if (--count==0)` should be sufficient with an assert if count goes negative. The old behaviour seems fine. Was there a problem with the logic in the old latch that caused a race of some kind?

[2020-08-24 12:57] hkaiser commented on #3579
I agree, that's what I just realized as well. It doesn't need to always take the lock, this is a bug.

[2020-08-24 14:51] msimberg commented on #3579
Just to report my findings as well: I noticed that #4922 fixed part of the performance difference between @biddisco's graphs from last year and my benchmarks. In the end I noticed that the `clang-newest` configuration had a performance difference, while `gcc-oldest` looked very close to the graphs from last year. I haven't looked into what exactly would cause the difference though. @biddisco could

[2020-08-24 19:41] biddisco commented on #3579
I posted a graph in the #4922 PR comments. Seems ok to me now, the graphs never look quite the same twice, but the basic performance looks good for the hierarchical scheduler. I am slightly worried by the shared-priority scheduler being a bit slow on some tests, but that is something I wanted to look into in any case whilst I make some cleanups and tweaks to it. (and experiment with libcds contain

[2020-08-24 19:41] #3579 closed

[2020-08-24 19:42] biddisco commented on #3579
Erratum - the graph was pasted in the comments for #4923

[2020-08-25 14:46] #4918 closed

[2020-08-25 22:31] #4348 closed

[2020-08-26 13:56] McKillroy commented on #4016
@msimberg No problem with that, but I am not sure the quality is sufficient - it also might be outdated.

[2020-08-27 21:49] stevenrbrandt commented on #4063
Looks like the PR associated with this ticket was merged.

[2020-08-27 21:49] #4063 closed

[2020-08-28 14:26] msimberg opened #4933 "Improve test coverage for unused variable warnings etc."
Many unused variable warnings are not caught because most of the CI runs in debug mode. Some tests and examples may also be missing the `INTERNAL_FLAGS` option. We should check that we're not letting unnecessary warnings slip through CI. See #4906, #4897.

[2020-09-01 14:42] severinstrobl opened #4937 "Allow suspension of runtime for multiple localities"
## Expected Behavior

It should be possible to suspend and resume the HPX runtime when using any number of localities.

## Actual Behavior

When trying to suspend the runtime with more than one active locality, an exception is thrown indicating that suspending the runtime is [only allowed for a single locality](https://github.com/STEllAR-GROUP/hpx/blob/9a23fe98cd27c96013835f70f61743d50f92169b/src/

[2020-09-01 15:45] arishah commented on #4690
Who is developing the application: Cybersecurity Lab, Louisiana State University
Name of application: Gaslight
What the application does: grey-box fuzzer

Gaslight is a grey-box fuzzer, especially efficient for testing applications with large input files like memory forensics frameworks. Fuzz testing is performed using a custom file system to handle different sets of input mutations, and is guided

[2020-09-02 03:47] #4367 closed

[2020-09-03 14:47] kordejong commented on #4933
This is a patch I use on top of HPX 1.5.0 to get it compile without warnings.

[code]

[2020-09-03 15:48] jschleus opened #4940 "Codespell report for "HPX" (on fossies.org)"
The FOSS server https://fossies.org - since today also supporting "HPX" - offers a feature named "Source code misspelling reports":

 https://fossies.org/features.html#codespell

Such reports are normally only generated on request, but since I found in the tarball a file named `tools/.codespell_whitelist` as Fossies administrator I couldn't help forcing  nevertheless such a  [codespell](https://gi

[2020-09-03 16:12] hkaiser commented on #4940
This is great! Thanks! @jschleus: what can we do in the future to get this kind of report before releasing things?

[2020-09-03 17:00] jschleus commented on #4940
@hkaiser: ... asking such a question ;-)

So there is now a similar and continuously updated report for the GitHub "master" version of "HPX" implemented which is available within a special restricted "test" folder that isn't really integrated into the standard Fossies services and should also not be accessible to search engines:

 https://fossies.org/linux/test/hpx/codespell.html

That version ind

[2020-09-03 17:16] hkaiser commented on #4940
@jschleus Nice, many thanks!

[2020-09-03 17:36] yurivict opened #4942 "1.5.0 breaks w/out CUDA: Error evaluating generator expression: $<COMPILE_LANG_AND_ID:CUDA,NVIDIA>"
[code]

OS: FreeBSD 12.1
clang-9

[2020-09-03 17:45] msimberg commented on #4942
@yurivict could you please post how you've configured HPX, including CMake version? That generator expression does not look like somthing we use internally in HPX.

[2020-09-03 18:09] yurivict commented on #4942
cmake is invoked:
[code]

cmake-3.18.1

[2020-09-04 07:48] msimberg commented on #4942
Hmm, could be that some CMake module has changed in 3.18. Are you able to try with other CMake versions? I'm mostly guessing here since it's hard to tell where that would be coming from. Maybe even grepping the CMake modules for that expression could help (it's usually in something like `<prefix>/share/cmake-<version>/Modules`).

[2020-09-04 12:23] msimberg commented on #4127
I think #4646 closes this.

[2020-09-04 12:23] #4127 closed

[2020-09-04 13:17] msimberg commented on #4933
Actually... the reason those warnings are show up is that we use `-Wno-unused-variables` and `-Wno-unused-local-typedefs`. So getting rid of those is what we really need to do. That's going to be a bit of work, but doable. @kordejong this might take some time.

[2020-09-07 07:47] #4940 closed

[2020-09-08 08:41] kordejong opened #4949 "Crash when not enabling TCP parcelport"
## Expected Behavior

- An error message explaining why things are not OK for the runtime
- Explanation in manual which parcelport to enable
- A CMake configuration error if this specific configuration is not supported

## Actual Behavior

Crash at startup of runtime. See [crash.txt](https://github.com/STEllAR-GROUP/hpx/files/5187096/crash.txt)

## Steps to Reproduce the Problem

  1. Configure HP

[2020-09-08 09:03] kordejong opened #4950 "Build with `HPX_WITH_PARCELPORT_ACTION_COUNTERS` `ON` fails"
## Expected Behavior

Build succeeds.

## Actual Behavior

Build fails: [build.txt](https://github.com/STEllAR-GROUP/hpx/files/5187178/build.txt)

## Steps to Reproduce the Problem

I built HPX with the following settings:
[code]

When turning `HPX_WITH_PARCELPORT_ACTION_COUNTERS OFF`, the build succeeds.

## Specifications

  - HPX Version: 1.5.0
  - Platform (compiler, OS): Linux, gcc-10, openmp

[2020-09-08 10:37] msimberg commented on #4949
Thanks @kordejong, this should most likely not happen. We'll look into it (we have some related changes that need to be done as well, which may automatically take care of this: #4924).

[2020-09-08 12:20] hkaiser commented on #4950
@kordejong thanks for the report. I think I can take care of this quickly.

[2020-09-10 16:56] tiagofgon opened #4956 "Multiple inheritance HPX components don't work as expected"
## Expected Behavior

HPX components with multiple inheritance, the execution of component actions don't work as expected.

## Actual Behavior

In the [https://github.com/STEllAR-GROUP/hpx/blob/master/tests/unit/component/inheritance_3_classes_2_concrete.cpp](https://github.com/STEllAR-GROUP/hpx/blob/master/tests/unit/component/inheritance_3_classes_2_concrete.cpp) example, the result of HPX_TEST_

[2020-09-14 16:36] khuck opened #4961 "HPX build failures with APEX enabled"
## Expected Behavior

HPX builds

## Actual Behavior

HPX fails to build: http://omega.nic.uoregon.edu:8020/#/builders/5/builds/252
Some change checked in ~5 days ago has broken the build (see "changes" tab from above link)

## Steps to Reproduce the Problem

Configure HPX with APEX enabled.

  1. See http://omega.nic.uoregon.edu:8020/#/builders/5/builds/252
  1.
  1.

## Specifications

... Pleas

[2020-09-14 19:12] stevenrbrandt commented on #4961
I've seen this problem, too.

[2020-09-16 07:12] #4961 closed

[2020-09-16 07:17] #4937 closed

[2020-09-16 07:48] msimberg commented on #4949
@kordejong while working on #4924 I could not reproduce your issue (neither with or without those changes, so my environment is likely different enough). I'm guessing #4924 doesn't fix things for you, but just in case, have you tried latest master? Do you explicitly pass any options to the application to enable or disable the MPI parcelport? How do you launch your applications (slurm, hpxrun, mpie

[2020-09-16 22:26] #4950 closed

[2020-09-20 12:33] LiliumAtratum opened #4971 "Parallel sort fails to compile with C++20"
## Expected Behavior

Successfully compile a program that uses parallel sort

## Actual Behavior

A bunch of compile errors:
* 'return_temporary_buffer': is not a member of 'std'
* 'get_temporary_buffer': is not a member of 'std'
(algorithms/detail/spin_sort.hpp, algorithms/detail/parallel_stable_sort.hpp)

These functions are deprecated as of C++17 and removed in C++20.

## Specifications

  - HP

[2020-09-22 10:46] #4971 closed

[2020-09-22 15:18] weilewei commented on #4878
For DCA w/ hpx mpi enabled on Summit, I also observed similar issues, for example

[code]

@biddisco I did not call `init` for hpx::mpi, and it seems `false` is the default flag.

[2020-09-23 14:59] msimberg commented on #4878
@weilewei can you debug this interactively (single node, or with a bit of fiddling on multiple nodes)? Can you find out what calls that final MPI_Allreduce, and what calls MPI_Finalize?

[2020-09-23 16:52] weilewei commented on #4878
I managed to place breakpoints for `MPI_Finalize` in hpx and DCA applications, it seems `MPI_Finalize` is first being called inside HPX mpi.

[code]

[2020-09-23 17:01] weilewei commented on #4878
This time the error message is `The MPI_Comm_free() function was called after MPI_FINALIZE was invoked.` and please see the following backtrace

[code]

[2020-09-23 19:39] hkaiser opened #4978 "Change feature test macros to expand to zero/one"
This also requires to change all checks for a particular feature from
[code]
to:
[code]
This would allow to enable/disable certain capabilities in projects that depend on a pre-built HPX.

[2020-09-23 20:43] hkaiser commented on #4878
@weilewei I take it that this can be closed now, is this correct?

[2020-09-23 20:44] weilewei commented on #4878
Yes, please close it. Thanks.

[2020-09-23 20:44] #4878 closed

[2020-09-24 07:12] msimberg commented on #4978
Are there specific ones that you have in mind except things like the deprecation warnings? Some options we don't want(/"allow") users to change...

[2020-09-24 10:57] hkaiser commented on #4978
The specific one I ran into the other day was `HPX_HAVE_BUILTIN_INTEGER_PACK` that was detected as being available while building HPX but then later failed in a cling setting. However, I think you're right. The chance of breaking the ABI is very high and it's too risky to allow dependent projects to control the feature macros. I guess we should at least make sure that a user can forcefully disable

[2020-09-24 12:39] hkaiser commented on #4978
This seems to work as expected. I'm going to close this ticket as we have a way around the issues we were seeing.

[2020-09-24 12:39] #4978 closed

[2020-09-24 14:38] msimberg commented on #4978
Very good! Yes, I wouldn't want to recommend users to do this in the general, but turning those off should in most cases be safe. Turning them explicitly on is of course asking for trouble...

[2020-09-25 17:54] msimberg opened #4983 "Potential 1.5.1 patch release"
The following could be included in 1.5.1:
- #4981 (plus a change in the Windows builders to test with C++17)
- #4972
- #4974
- #4963
- #4946
- #4944

[2020-09-26 13:48] K-ballo opened #4984 "New fundamentals module"
This is a proposal for a new `fundamentals` module, consisting of fundamental language support utilities we rely on to implement everything else. It would have no dependencies other than `config`.

My suggestion for the initial content of this module are:

- `HPX_CONCEPT_REQUIRES/ASSERT`, ideally to be replaced by `requires` in some future.

- `HPX_NON_COPYABLE`, although I'd prefer to see this re

[2020-09-28 11:34] msimberg commented on #4983
Thanks @hkaiser for updating the list! I think we should go with the minimum non-breaking changes. The `parallel_executor` change is not 100% compatible so I'd prefer to leave that for 1.6.0 (and some release candidates). This way we can get the patch release out quickly and not have to worry about what exactly could or should be included.

[2020-09-28 12:18] hkaiser commented on #4983
Fair point. I was not aware that the change is not fully backwards compatible. Let's not have it then.

[2020-09-29 08:49] biddisco commented on #4878
Why was this closed? If hpx is calling finalize in
[code]
then we have a problem and it should be fixed? no? Did the problem get resolved some other way?

[2020-09-29 09:45] msimberg opened #4987 "Use std::function in public APIs"
Like `hpx::init` and `hpx::init_parameters`. Most other uses probably internal, or not considered stable enough, but there might be a few other places that could use `std::function`. (Also see #4986.)

[2020-09-29 13:12] aurianer commented on #4983
Adding #4939, #4941, #4951, #4982

[2020-09-29 13:24] hkaiser commented on #4878
@biddisco I think in the end @weilewei found out that it wasn't a problem with HPX but a problem in DCA.

[2020-09-29 17:40] gentryx opened #4988 "MPI is not finalized if running with only one locality"
## Expected Behavior

MPI_Finalize() needs to be invoked if an HPX application using the MPI Parcelport is terminated, even if only one locality is being run.

## Actual Behavior

With one locality no MPI Parcelport will be instantiated, however, MPI_Init is still called (from the factory, I guess).

## Steps to Reproduce the Problem

  1. configure HPX with MPI support. e.g. ```cmake -DCMAKE_INST

[2020-09-30 22:46] hkaiser commented on #4983
@aurianer @khuck mentioned that he would like to add a new APEX tag. Is that still possible?

[2020-10-01 08:28] aurianer commented on #4983
So I already tag the release yesterday so that's actually not really possible as it notifies everyone who is watching the repo, also I believe our policy for patch releases (which fix only compilation/bug issues) is not to update the external libraries tags that's why I didn't ask, what do you think?
What does the tag include? In case it is really important I can still force push but I would like

[2020-10-01 13:16] hkaiser commented on #4983
@khuck what do you say?

[2020-10-01 15:11] khuck commented on #4983
@aurianer @hkaiser It's not that critical.  At configuration time it can be overridden, so it doesn't have to go in to the release.

[2020-10-01 15:46] aurianer commented on #4983
Okay then I'll announce the release once ci have passed, the update of the tag went well btw
@khuck In case you change your mind and you need it in, we can still do a 1.5.2 release :)

[2020-10-02 14:47] #4983 closed

[2020-10-02 18:39] ayaankhan98 commented on #4956
Hey @tiagofgon. i would like to take up this issue, but i need some help, i tried running tests but most of the test are failing. particularly for `tests/unit/component` there are 19 tests and all of them are failing.
here is the summary
[code]
why is it so? is this due to some problem in my local setup?

[2020-10-02 22:00] hkaiser commented on #4956
Well, something is really wrong for you. Could you set the  `CTEST_OUTPUT_ON_FAILURE=1` environment variable before running the tests? That should give you the full error outputs generated.

[2020-10-03 05:03] ayaankhan98 commented on #4956
after setting `CTEST_OUTPUT_ON_FAILURE=1`

[code]
if i run all tests then some of them are passing
[code]

[2020-10-03 10:58] hkaiser commented on #4956
This means that the tests were not built (or have failed building). Can you share your full build logs (starting with the cmake invocation), please?

[2020-10-03 12:14] ayaankhan98 commented on #4956
yes sure

<details>
<summary>Build Logs</summary>

[code]

</details>

[2020-10-03 14:52] hkaiser commented on #4956
Hmm, it looks like that there is a missing dependency in our testing infrastructure. The default `make` does only build the core modules (which is what we want), however the way you invoked the tests (how did you do that?) does not force the test binaries to be built, first. Could you report your command lines (cmake, make, ctest, etc.), please?

[2020-10-04 05:26] ayaankhan98 commented on #4956
i was following the guidelines mentioned on http://stellar.cct.lsu.edu/files/docsplayground/boostbook/html/hpx/debugging/testing.html

i don't know may be i was missing something earlier, i rebuild everything again and things are good now, i am able to run tests, @hkaiser thanks for your time and support.

[2020-10-04 16:53] #4988 closed

[2020-10-04 17:05] hkaiser commented on #4891
@NK-Nikunj has this been resolved?

[2020-10-04 17:06] hkaiser commented on #4879
@weilewei has this been resolved?

[2020-10-04 17:08] weilewei commented on #4879
Cori is completely down these weeks, I will check it later and let you
know.

On Sun, Oct 4, 2020 at 12:06 PM Hartmut Kaiser <notifications@github.com>
wrote:

[2020-10-04 17:20] NK-Nikunj commented on #4891
@hkaiser I tried recently, it still is not resolved. I was able to get rid of the warnings, but it randomly shuts off when using MPI. TCP works fine though.

[2020-10-05 09:53] aurianer opened #4992 "Clang-format the rest of the files"
As the modularization is mainly in place, we could format the rest of the files of the repo (components, examples, tests, etc.) and add this to circleci, that would avoid formatting problems like on #4989

[2020-10-05 11:04] msimberg commented on #4956
Is the original issue resolved?

@ayaankhan98 you might want to use this link for documentation instead: https://hpx-docs.stellar-group.org/latest/html/index.html. That page you linked was only used temporarily a long time ago. If you found a link to that somewhere on our pages I'd like to correct it.

[2020-10-05 12:43] hkaiser commented on #4956
Sorry, I closed this by mistake. Reopening...

[2020-10-05 12:44] hkaiser commented on #4992
FWIW, I still would like to continue the modularization for the distributed parts. I think there is still some work to be done.

[2020-10-05 13:22] aurianer commented on #4992
yep sorry I formulated this wrongly, but should we go ahead with a quick PR formatting everything and then continue modularizing the distributed parts?

[2020-10-05 18:50] hkaiser commented on #4992
I guess it doesn't really make a difference whether we do it now in one big swoop or file by file as before. I'm impartial by now.

[2020-10-06 07:39] msimberg commented on #4992
I'm mostly indifferent as well, but now might be as good a time as any to do it since there are not many big PRs open at the moment, and most of the changes are in files that are already in modules (algorithms, libcds). It's mostly a question of how many conflicts we end up with and my suspicion is that not many, but I might be forgetting about something. @biddisco, @K-ballo do you have PRs lined

[2020-10-06 11:19] K-ballo commented on #4992
#4991 should rebase fine after clang-format. I do not have other PRs lined up.

[2020-10-07 10:19] aurianer opened #5000 "Reenable and fix the pkgconfig unit test for MacOS CI"
The MacOS Github action have been failing for a while with a missing `hpx/hpx.hpp`, adding an install rule `cmake --install build` solves it but reveals another error:
[code]

[2020-10-07 22:13] khuck opened #5002 "hpx::lcos::barrier() results in deadlock"
## Expected Behavior

According to the documentation, using `hpx::lcos::barrier("barrier_name")` without specifying the number of localities or the rank should assume all the localities, and the current locality as the rank.

## Actual Behavior

Deadlock.

A similar problem is true for `gather_here()` and `broadcast_to()` - it requires at least the locality count to compile/work correctly.

## Ste

[2020-10-14 07:01] msimberg commented on #4517
I don't believe this has been explicitly fixed, but I also haven't seen this fail again. @hkaiser do you still see this every now and then?

[2020-10-14 09:05] msimberg opened #5013 "Allow mixing release and debug builds"
We've so far been strict on not allowing this, but this should be relatively easily supported. Essentially all definitions that affect our ABI like `HPX_DEBUG` should be propagated through CMake targets and the pkgconfig files. We should not "dynamically" determine whether something should be enabled or not when compiling user code. Mixing e.g. `-O0` and `-O3` flags should be ok as long as definit

[2020-10-14 10:54] hkaiser opened #5014 "Rename all .cc to .cpp and .hh to .hpp"
For historical reasons some of our examples use their own file naming conventions. We should unify that.

[2020-10-14 12:05] hkaiser commented on #4517
I have not seen it again. However, since the test relies on the random seed to generate the data, it's highly unlikely for it to be run using the same seed.

[2020-10-14 12:19] msimberg commented on #4517
That's a very good point, didn't think about that. Let's keep this open then. I'll see if I can reproduce this with the same seed.

[2020-10-14 12:40] hkaiser opened #5016 "hpx::parallel::fill fails compiling"
@stevenrbrandt reported:

hpx::parallel::fill(hpx::parallel::execution::par.on(exec),vd.begin(),vd.end(),2.0f);

[code]
And here's the code...
[code]

[2020-10-14 21:43] K-ballo commented on #4984
- `HPX_UNUSED`, possibly migrated to an attribute based implementation when available.

[2020-10-16 06:56] #5016 closed

[2020-10-16 11:44] #4445 closed

[2020-10-16 19:08] stevenrbrandt opened #5019 "Broken help string for hpx"
## Expected Behavior

--hpx:help produces an output string with the following text:

  --hpx:use-process-mask                use the process mask to
                                        restrictavailable hardware resources
                                        (implies --hpx:ignore-batch-environment
                                        )

However, there is no --hpx:ignore-batch-environment

[2020-10-19 07:35] #5019 closed

[2020-10-20 09:43] aurianer opened #5023 "Deprecate `HPX_WITH_CUDA_COMPUTE` cmake option and add `HPX_WITH_COMPUTE_CUDA`"
The current cmake macro doesn't match the module name nor the module defines `HPX_HAVE_MODULE_COMPUTE_CUDA`

[2020-10-21 06:07] kordejong commented on #4690
The repository of the LUE project mentioned above moved to a new Github organization. It is now located at https://github.com/computationalgeography/lue instead of https://github.com/pcraster/lue.

[2020-10-24 00:53] nithin-nod opened #5026 "Failed to build HPX with mimalloc"
## Expected Behavior

Successful build files generation

## Actual Behavior

Fails to generate build files. From CMakeError.log I was able to decipher that somewhere pthread library is misspelled as -lpthreads while compilation. I cannot figure out which line produces this or how to fix this typo. I was able to successfully build and test with system and jemalloc. I'm pasting the log from CMakeErr