[2019-05-06 13:10] zeFresk opened #3841 "Build error with msvc 19 caused by SFINAE and C++17"
## Expected Behavior

Simple compilation

## Actual Behavior

I'm getting build errors with the latest version of msvc.
The errors are linked to SFINAE and the message is the following :

C:\vcpkg\buildtrees\hpx\src\1.2.1-e94e8e19db\hpx\util\always_void.hpp(13): note: see declaration of 'hpx::util::always_void'

## Steps to Reproduce the Problem

Download Visual Studio 2019. Install Boost 1.69, hw

[2019-05-06 13:26] hkaiser commented on #3841
This looks like a MSVC bug to me :/ We'll have to find a workaround....

[2019-05-06 13:45] msimberg commented on #3841
@zeFresk this should be fixed in latest master by (#3764). Would you be able to try that out? We're also just in the process of releasing 1.3.0 which will include that fix. That should be out in a few weeks.

[2019-05-06 13:47] zeFresk commented on #3841
I tried a lot of things by myself but none of them worked :(
Looking further on SO I found out msvc was known for having trouble dealing with decltype + variadic templates...
Do you think a workaround is possible or should I wait for Microsoft to fix this bug ?

[2019-05-06 14:15] zeFresk commented on #3841
@msimberg patch is working. I built the debug variant successfully and the release one is on the way.
Thank you very much for responding that quickly !

[2019-05-06 14:15] #3841 closed

[2019-05-06 14:31] msimberg commented on #3841
@zeFresk great to hear!

[2019-05-06 18:31] hkaiser commented on #3841
@zeFresk Things compile for me on HPX top of master. Could you please try again using the current version?

[2019-05-09 08:26] msimberg opened #3848 "Remove lva member from thread_init_data"
Currently `thread_init_data` contains a `hpx::naming::address_type` member. It's as far as I can see always set to 0 and unused in the schedulers on top of that. I'd like to remove it as it creates an unnecessary dependency on the naming header in the schedulers. The `topology` class also takes an `address_type` as an argument in one function, where `void*` would probably do just as well.

So, bef

[2019-05-09 11:35] hkaiser commented on #3848
IIRC, the original intention was a) to be able to make scheduling decisions based on the target address of the operation, and b) to be able to extract the function name from its address (e.g. in APEX) using debugging information as a postprocessing step. Both uses have apparently been superseded by other means. Thus, I don't see a reason not to remove this now. We can always add it back if needed.

[2019-05-09 12:45] msimberg commented on #3848
Thanks. I think the use case makes sense, but let's add it back when it's clear how to do it (and that it will be used).

[2019-05-09 19:58] khuck opened #3850 "HPX fails to build on POWER8 with Clang7"
## Expected Behavior

normal compilation

## Actual Behavior

Compilation fails early with this error:

[code]

## Steps to Reproduce the Problem

  1. Check out HPX "stable"
  1. Configure HPX with:
[code]
  1. make

## Specifications

... Please describe your environment

  - HPX Version:  stable
  - Platform (compiler, OS):  Power8 using Clang 7

[2019-05-09 21:04] hkaiser commented on #3850
@khuck I distinctly remember that we fixed that before. I even think it was you doing the changes. Are you sure you are using the latest aster for compilation on that platform? See here for current master: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/coroutines/detail/context_posix.hpp#L233-L240
It does not refer to `cb` anywhere.

[2019-05-10 06:52] msimberg commented on #3850
#3800 is the PR by the way.

[2019-05-10 07:43] chybz commented on #3824
After a bit of googling I found something that might be relevant in Boost.Coroutine issue [#30](https://github.com/boostorg/coroutine/issues/30) and the following minimal HPX program can reproduce the problem. If you comment out the first lines before `throw` in the `throw_something()`, the problem does not occur.

[code]

[2019-05-13 22:48] parsa opened #3856 "hpx_setup_target adds rogue flags"
## Expected Behavior

For the HPX application with CUDA sources to build and run. HPX should not add flags unrecognizable to NVCC on its own.

## Actual Behavior

The following error message is shown
[code]

## Steps to Reproduce the Problem

`k1.cu` - empty

`CMakeLists.txt`
[code]
`prog.cpp`
[code]

### Commands
[code]

## Specifications

  - CMake 3.12.4
  - VS2017 (MSVC 19.16.27030.1)
  - CUDA

[2019-05-13 23:11] parsa opened #3857 "CMake all-keyword or all-plain for target_link_libraries"
## Expected Behavior

For the following scenario to work:
[code]
[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. cmake -H. -Bcmake-build-debug -G"Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="C:/Repos/vcpkg/scripts/buildsystems/vcpkg.cmake" -DHPX_DIR="C:/Repos/hpx/cmake-build-debug/lib/cmake/HPX"
  1. cmake --build cmake-build-debug

## Specifications

  - CMake

[2019-05-14 12:10] msimberg commented on #3856
I'm not quite sure what the right thing to do here is. The offending line is `hpx_add_target_compile_option(-Zc:inline PUBLIC)`. You've presumably built HPX successfully with this flag on? But adding it to nvcc (which is calling whatever the MSVC compiler is called) fails?

[2019-05-14 12:32] msimberg commented on #3857
I think the long term solution is #3408. Until then the problem is that `HPX_TLL_PUBLIC` isn't set in `HPX_SetupTarget.cmake` when used from the install directory (it's only set in the build directory). Since we don't set those variables conditionally anymore I think we can use `PUBLIC` and `PRIVATE` directly (also see discussion in https://github.com/STEllAR-GROUP/hpx/pull/3828/files). At least u

[2019-05-14 13:38] parsa commented on #3857
It's not a downside anymore. Sounds good.

[2019-05-14 13:46] parsa commented on #3856
Sorry. I had a typo in my HPX path and this test shows what happens when I link to the non-CUDA HPX build. Closing this.

[2019-05-14 13:46] #3856 closed

[2019-05-15 12:24] doraemon96 opened #3861 "Selected processor does not support 'yield' in ARM mode"
## Explanation
Trying to `make` hpx for my Raspberry Pi 3b+ (ARMv7l) it throws an error of:
`/tmp/ccplVcGc.s:1123 : Error: selected processor does not support 'yield' in ARM mode`

## Build info

_DEVICE =>_ Raspberry Pi 3b+ with ARMv7l
_OS >=_ Running Raspbian 9 (Stretch)
_COMPILERS_ => gcc/g++/c++ version 6.3.0 , cmake version 3.7.2
_DEPENDENCIES =>_
Hpx downloaded from git (checkout 1.2.1)
Boos

[2019-05-15 12:59] msimberg commented on #3861
@diehlpk @biddisco did either of you ever bump into something like this?

[2019-05-15 13:23] biddisco commented on #3861
I had a look at the fiber implementation and we can certainly copy that. I haven't had that problem, but I've not tested the pi3 for some time, so I'd need to have a look when I get home. My x-Compile tool chain is certainly not working without some maintenance as I've not touched it in ages.

[2019-05-15 13:29] doraemon96 commented on #3861
I will try to build 1.3.0-rc1 this weekend as maybe this merge: <https://github.com/STEllAR-GROUP/hpx/pull/3591> can solve some problems. Also upgrading cmake to 3.14.4 (because before 3.12 it cannot detect boost_context well). Will keep you updated

[2019-05-15 19:39] #3857 closed

[2019-05-16 09:54] albestro opened #3863 "shouldn't "-faligned-new" be a usage requirement?"
Including HPX libraries from my project moves the -faligned-new problem to my build.

I think that it is an HPX-related thing so it may be better to set this flag as usage requirement.

[2019-05-16 10:36] msimberg commented on #3863
I'd most likely add the following:

[code]

Incidentally, we also need to move the place where we do this because the flag is added inside an `if(HPX_WITH_COMPILER_WARNINGS)` block.

We could also add another compile test that checks for aligned `new`, not just `alignas`. I wonder what older GCCs actually do with over-aligned `new`s.

[2019-05-16 11:59] albestro commented on #3863
Since the flag -faligned-new is not available in all compiler, but just in new ones partially supporting some new C++17 functionality, I think that this flag can be considered "nice to have, but optional" for what concerns HPX functionalities.
Moreover, this idea is supported by the fact that at the moment is added just if warnings are enabled and iff it is available (obviously) in the compiler us

[2019-05-16 12:28] hkaiser commented on #3863
@msimberg I think we should turn this into a feature test. For instance, MSVC supports over-aligned new in `/stdc++17` mode and generates a warning otherwise. We would have to check for a _warning_ in the feature test, though - not sure if this is possible.

[2019-05-16 13:05] msimberg commented on #3863
@hkaiser yep, adding a feature test seems like a sane thing to do. We'd have to check for a warning with GCC as well, but we can probably add `-Werror` (or equivalent) to the feature test.

If we don't want to overcomplicate things we could actually leave it up to the user to add `-faligned-new`. Not sure how much we want to help them there.

[2019-05-16 14:24] msimberg commented on #3818
By the way, if anyone feels like doing this: we actually already do provide targets, they just don't work correctly. In particular, they seem to be missing include directories (probably something else as well). But this would probably not be as tough to do as I imagined at first.

[2019-05-21 19:55] #3863 closed

[2019-05-22 13:20] msimberg opened #3866 "Make sure all tests use HPX_TEST* macros and not HPX_ASSERT"
Some tests use `HPX_ASSERT` to check for conditions. They should always use the `HPX_TEST*` macros to ensure the checks don't get removed in release mode.

[2019-05-23 13:26] msimberg opened #3867 "Latest HTML docs placed in wrong directory on GitHub pages"
The single-page HTML and PDF are in the correct directory, but the normal HTML docs seem to go in the wrong directory. This means that one of the docs links in the README is broken (the link points to the right place, there's just nothing there).

I won't have time to look at this in the next few weeks, but will get to it eventually.

[2019-05-24 11:03] #3808 closed

[2019-05-24 11:05] msimberg opened #3871 "dataflow does not support void allocators"
Details in #3808. While #3862 fixed the immediate issue of building the test, this issue is to keep track of the underlying issue of `dataflow` not handling a `void` allocator in `small_vector`.

[2019-05-24 11:06] msimberg commented on #3808
I opened another issue (#3871) to keep track of the actual issue that caused this.

[2019-05-27 12:58] #3867 closed

[2019-05-27 14:12] #3866 closed

[2019-05-30 20:23] khuck opened #3879 "HPX fails to configure with -DHPX_WITH_TESTS=OFF"
## Expected Behavior

When configuring HPX for Phylanx builds, I disable the HPX tests with the ```-DHPX_WITH_TESTS=OFF``` flag.  That causes cmake to fail.

## Actual Behavior

CMake fails with several errors like:

[code]

## Steps to Reproduce the Problem

  1.  cmake ... -DHPX_WITH_TESTS=OFF ...

## Specifications

... Please describe your environment

  - HPX Version: master, "stable" tag
  -

[2019-05-31 17:10] tapaswenipathak commented on #985
![git commands](https://user-images.githubusercontent.com/4143778/58722415-feb45200-83f4-11e9-87df-00b37537f06c.png)

[2019-06-03 03:42] Dhiraj240 opened #3881 "GSOD Applicant 2019"
@parsa @msimberg If I am not wrong you both are the mentors for the project "Write tutorials based on existing tutorials presentation material".
I am interested in the project for adding the [tutorials](https://github.com/STEllAR-GROUP/tutorials/tree/master/cscs2017) in the HPX documentation.

Since last 1 year, I am contributing to open source and following are the things I would like to share:
1

[2019-06-03 13:09] biddisco opened #3883 "cuda compilation fails because of -faligned-new"
## Actual Behavior
[code]
## Steps to Reproduce the Problem
enable cuda, then build cuda_future example

[2019-06-03 13:25] biddisco commented on #3883
Closing this issue because it turn out I had manually set `-faligned-new ` when I was testing the numa stuff and forgot about it. I'm ashamed of myself.

[2019-06-03 13:25] #3883 closed

[2019-06-03 18:53] dmarce1 opened #3884 "Assertion failure in set_thread_state.hpp line 219"
## Expected Behavior

Expect Octo-Tiger rotating_star test problem to run without crashing

## Actual Behavior

During the initial grid setup Octo-Tiger crashes with an assertion failure on line 219 of set_thread_state.hpp

## Steps to Reproduce the Problem

Run the rotating_star test problem of Octo-Tiger on one locality. Most of the time the output ends on a seg fault without the actual assertio

[2019-06-03 19:10] hkaiser commented on #3884
@dmarce1 could you please post the generated error message?

[2019-06-04 01:57] Dhiraj240 commented on #3881
@hkaiser Sir, can you provide the answers for this?

[2019-06-04 11:41] hkaiser commented on #3881
@Dhiraj240 you can find various possible ways to communicate with the team here: https://github.com/STEllAR-GROUP/hpx/blob/master/.github/SUPPORT.md.

If you address a ticket it might be advisable to leave a note on it that you are planning to work on it. Otherwise, if you know what you would like to change, create a PR and let us discuss things there. You don't need to ask for permission, this is

[2019-06-04 14:15] dmarce1 commented on #3884
update- I'm unable to reproduce it on my work machine.

[2019-06-05 13:05] tapaswenipathak commented on #2140
The Fedora installation are present in these lines https://github.com/STEllAR-GROUP/hpx/blob/master/docs/sphinx/manual/building_hpx.rst#L1246, should I remove the installation instructions? I think it would be useful having these instructions please let me know.

[2019-06-06 12:53] hkaiser commented on #3884
@dmarce1 I know we have seen this on CircleCI before. Any clue on how to reproduce this would be much appreciated.

[2019-06-06 16:01] stevenrbrandt opened #3889 "HPX does not configure"
## Expected Behavior

Configuring HPX as follows should work. It works for HPX 1.2.1, but not the latest master.

cmake \
  -DCMAKE_BUILD_TYPE=Release \
  -DCMAKE_CXX_FLAGS='-g' \
  -DHPX_WITH_EXAMPLES=OFF \
  -DHPX_WITH_TESTS=OFF \
  -DHPX_WITH_MALLOC=system \
  -DHPX_WITH_NETWORKING=OFF \
  -DHPX_WITH_ITTNOTIFY=OFF \
  -DHPX_WITH_THREAD_COMPATIBILITY=ON \
  -DHPX_WITH_APEX=OFF \
  -DHPX_WITH_DOC

[2019-06-06 16:05] stevenrbrandt commented on #3889
If I add
{{{
  -DCMAKE_EXE_LINKER_FLAGS=-lpthread \
  -DCMAKE_MODULE_LINKER_FLAGS=-lpthread \
}}}
I get past the previous error, but I encounter this one:
{{{
CMake Error at cmake/HPX_AddPseudoDependencies.cmake:28 (add_dependencies):
  Cannot add target-level dependencies to non-existent target
  "tests.examples".

  The add_dependencies works for top-level logical targets created by the
  add_ex

[2019-06-06 16:42] hkaiser commented on #3889
@stevenrbrandt the second error is a duplicate of #3879. Please leave tests enabled while configuring HPX, that should get you over the problem for now. Alternatively you should be able to disable examples (`-DHPX_WITH_EXAMPLES=OFF`).

[2019-06-06 20:32] McKillroy opened #3890 "hpx.ini not working"
## Expected Behavior
Loading my setting from hpx.ini

## Actual Behavior

Ignoring the settings or - if forced to load hpx.ini with
--hpx:ini=hpx.ini
crashing in the MSVC runtime with a call to abort()

## Steps to Reproduce the Problem

1. Debug build of my app
2. hpx.ini like this:

[code]

3a. starting the app = no logging
3b. starting the app with --hpx:ini=hpx.ini causing a call to abort() in

[2019-06-06 20:50] McKillroy commented on #3890
Addendum: seems I had a syntax error with using
--hpx:ini=hpx.ini
instead of
--hpx:config=hpx.ini
however - isn't hpx supposed to read the ini automagically in the first place?
Thanks hkaiser for the fix of my command line error.

Still - I leave the issue open for 2 reasons:

1. Command line errors should report why they want to crash instead of just exploding, like "unknown option" or sth.
2. Wh

[2019-06-07 01:18] hkaiser commented on #3890
@McKillroy `--hpx:ini=<...>` interprets its argument verbatim as a configuration entry, `--hpx:config=<...>` interprets its argument as a file name assuming the file contains one or more configuration settings. The former should not make HPX crash on an invalid argument, however. This needs fixing.

[2019-06-07 05:14] McKillroy commented on #3890
I made another test today and looked deeper into the documentation.
It seems I was misreading something: The file to be read automagically in the apps working directory is .hpx.ini and not hpx.ini
Renaming my config from hpx.ini to .hpx.ini  made it work and load the logging parameters as expected and hpx.log was finally created.
Dots are so tiny and easy to overlook ;) . . .
So - of my 2 reasons

[2019-06-08 05:59] yurivict opened #3893 "[regression] 1.3.0 fails to find std::atomic"
[code]

This simple test:
[code]
builds file.

FreeBSD 12 amd64

[2019-06-08 12:36] hkaiser commented on #3893
@yurivict How did you build your simple test?

[2019-06-08 14:51] yurivict commented on #3893
```cc -o a a.cpp```

[2019-06-08 15:56] tapaswenipathak commented on #3002
I think this ticket can be closed https://github.com/STEllAR-GROUP/hpx/blob/master/docs/sphinx/manual/hpx_runtime_and_resources.rst#the-hpx-resource-partitioner?

[2019-06-08 18:11] tapaswenipathak opened #3896 "GSoD'19 Applicant"
Hi folks,

I am GSoD'19 applicant. I fixed few GSoD'19 tasks, I was suggested that I should read the existing documentation and suggest fixes. I then worked on fixing tickets labelled as docs https://github.com/STEllAR-GROUP/hpx/labels/category%3A%20documentation.

PR's and tickets that I worked on closing-

- https://github.com/STEllAR-GROUP/hpx/issues/3002
- https://github.com/STEllAR-GROUP/hpx/

[2019-06-08 19:02] hkaiser commented on #3893
Would you have any explanation why your simple `cc -o a a.cpp` works and the feature test doesn't? AFAICS we don't specify any flag that could influence how atomics are being handled...

[2019-06-08 20:29] yurivict commented on #3893
I found this in the log file:
[code]

```-latomic``` isn't needed on FreeBSD.

[2019-06-09 17:31] hkaiser commented on #3890
@McKillroy please see #3900, that should fix the issues you reported.

[2019-06-11 13:58] msimberg commented on #3889
I'm not able to reproduce this (different versions for me though). Could you:
1. Post the non-verbose log? Is it the `HPX_WITH_CXX11_THREAD` check that fails?
2. Try with `HPX_WITH_THREAD_COMPATIBILITY=OFF`? Is this essential for you (I'd like to get rid of it)?
3. If the above fails, run a `git bisect` to find the commit that broke this?

[2019-06-11 14:27] msimberg commented on #3893
Does it work with 1.2.1? I think your second log comes from https://github.com/STEllAR-GROUP/hpx/blob/01b3d426c70ea727e579481ac3954599b886622c/cmake/HPX_AddConfigTest.cmake#L406 which correctly fails. Could you check if `HPX_HAVE_LIBATOMIC` actually is false? Could you also try compiling https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/tests/cxx11_std_atomic.cpp manually? The test also check

[2019-06-11 14:48] msimberg commented on #3002
@tapaswenipathak yep. There could be more documentation on it, but I think it's enough to close this.

[2019-06-11 14:48] #3002 closed

[2019-06-12 07:25] #3890 closed

[2019-06-13 08:30] #3879 closed

[2019-06-15 02:33] libaineu2004 opened #3912 "I recommend publishing a version that does not depend on the boost library"
## Expected Behavior

Hpx is a good project but boost library is a part of huge framework which is too hard to use partially.I recommend publishing a version that does not depend on the boost library.

In this way, Hpx will be more advantageous and attractive.

Thank you！

[2019-06-15 19:57] hkaiser commented on #3912
@libaineu2004 This is the general direction we are working in: at least removing link-time dependencies on Boost. The task however is not a small one and requires a lot of effort. Would you be interested in helping with this?

[2019-06-16 14:04] tapaswenipathak commented on #3002
🆗 🎉

[2019-06-16 19:58] McKillroy commented on #3890
Works all nicely now - thanks a lot ! :)

[2019-06-17 09:33] msimberg commented on #1258
@tapaswenipathak this issue is quite open-ended and subjective. In my opinion the first point (generated CMake targets) is fairly well described [here](https://stellar-group.github.io/hpx/docs/sphinx/branches/master/html/manual/building_hpx.html#basic-information). I think the second concerns two things: HPX-defined CMake variables and CMake-defined variables. The first is documented fairly well [

[2019-06-17 18:01] kshitij12345 commented on #3912
@hkaiser I would be interested in helping. However would need some guidance for the same.

Thank You.

[2019-06-17 19:00] hkaiser commented on #3912
@kshitij12345 Great! @K-ballo has a list of Boost headers #included throughout HPX (you could regenerate that yourself easily, however). That should give you an idea what Boost library is used where and how often. Then it's up to you to decide which one you'd like to work on replacing... You might want to join our IRC channel to directly discuss things (see here for details: https://github.com/STE

[2019-06-17 19:14] K-ballo commented on #3912
A couple months old: https://gist.github.com/K-ballo/7b551d71487bdf34d0b25aa034e399a5

[2019-06-18 14:47] msimberg commented on #3215
Just updating this since I tried to look into how pseudodependencies broke again on Windows. Two reasons:

1. the `exe` and `component` suffixes were removed meaning that the hierarchical pseudotargets and actual targets get the same name
2. Modules have pseudotargets in the form `tests.{unit,regressions,performance}.libname` which all get mapped to `libname`

This makes it pretty difficult to rea

[2019-06-18 17:31] kshitij12345 commented on #3912
Thank You for the fast response.
Will join the IRC channel and try to get started by this weekend.

[2019-06-20 17:41] #3871 closed

[2019-06-22 14:08] khuck opened #3929 "Buildbot failures on latest HPX stable"
## Expected Behavior

Normal build

## Actual Behavior

The build fails due to template instantiation errors.   See http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/299

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Checkout HPX stable
  1. cmake -DCMAKE_CXX_COMPILER=/packages/gcc/7.1/bin/g++ -DCMAKE_C_COMPILER=/p

[2019-06-22 15:47] hkaiser commented on #3929
@khuck this looks like a compiler problem. I'll see what I can do to work around it.

[2019-06-22 15:48] hkaiser commented on #3929
For the records, here is the relevant error messgae:
[code]

[2019-06-25 13:37] hkaiser commented on #3889
@stevenrbrandt any news on this?

[2019-06-25 14:35] #3929 closed

[2019-06-25 22:03] biddisco commented on #3560
I just tried with latest master, and the head of the develop branch of apex and am seeing what looks like the correct task names appear in vampir plots. I will do further tests tomorrow to confirm if all is fixed and working as expected. Thanks

[2019-06-26 13:10] biddisco commented on #3560
![image](https://user-images.githubusercontent.com/941548/60182278-54c5bb00-9824-11e9-93b1-57fc6b7cc67b.png)
[code]
This code snippet is interesting. I see 10,000 calls to OUTER null_function, instead of the expected 10,000 calls to the INSIDE null function.

Something is working, but only partially.

[2019-06-26 14:09] biddisco commented on #3560
This is the future overhead test, modified with a few annotated function calls. This version might need one line commented out as I was experimenting with an overload to parallel::execution::post  that accepts an annotated function object as the first `Ts...` after the executor and takes the task description from that .
[code]

[2019-06-26 19:20] diehlpk opened #3935 "HPX compiler match too strict?"
## Expected Behavior

Do we really need the compiler to match as precise as we check? Would it be sufficient to just check for the major version? So HPX compiled with gcc 9.0.1 and the application compiled with 9.0.2 or 9.1.1 should be fine?

## Actual Behavior
[code]

[2019-06-26 19:34] hkaiser commented on #3935
We decided to go for the strict match to be sure the user is aware of any differences. As the message suggests you can always confirm to have read the message by explicitly setting `HPX_IGNORE_COMPILER_COMPATIBILITY=On` while invoking cmake.

[2019-06-26 20:07] diehlpk commented on #3935
Ok, so I have to add `HPX_IGNORE_COMPILER_COMPATIBILITY=On` to the Fedora package, since they update their compilers and do not recompile all packages if it is just a minor update. It is the second time that the Fedora hpx package shows this error message.

[2019-06-26 20:48] hkaiser commented on #3935
@diehlpk: Let's change our code such that we can disable a full check from inside HPX's build-system (no user settings needed). I'd rather leave what we have by default, however. This would allow for you to set some flag in the Fedora rpm that would disable a full version check whenever somebody uses HPX.

[2019-06-26 21:10] diehlpk commented on #3935
We have the option `HPX_WITH_BUILD_DISTRIBUTION` already and I will add a check to the compiler flag using this flag.

[2019-06-26 21:50] biddisco commented on #3560
So I had a go at specializing the executor async/apply dispatch to allow a task name to be passed through and then eventually used as the task name instead of parallel_execution::post which would have made things much easier, but it looks like I would have to make a lot of changes to executor API's to add a specialization for the task name in many places and it's a bit nasty/messy with the prolife

[2019-06-27 09:13] msimberg opened #3939 "Allow controlling task placement in bulk execution functions"
First attempt was #3924 which was not general enough. Opening this to keep track of discussions.

[2019-06-27 09:18] msimberg opened #3940 "Convert pseudo-doxygen function documentation into actual doxygen documentation"
We have several comments which are already almost in the style of doxygen, but don't show up because of the wrong type of comment (`//` instead of `///`) and the comment itself doesn't follow doxygen syntax. Example: https://github.com/STEllAR-GROUP/hpx/blob/c1317e3c664dc14c00d320568f29080ffda5aac0/hpx/lcos/promise.hpp#L70-L145. Related to #985.

[2019-06-27 09:59] #3935 closed

[2019-06-27 19:28] khuck opened #3941 "CMake error for APEX install target"
## Expected Behavior

cmake to complete without error code

## Actual Behavior

cmake returns an install target error:
[code]
see http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/302

## Steps to Reproduce the Problem

  1. `cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBOOST_ROOT=/home/users/khuck/src/hpx/boost_delphi_1.65.1 -DTCMALLOC_ROOT=/usr/local/packages/gperftools/git-gcc7 -DHPX_WITH_MALLO

[2019-06-28 09:11] msimberg opened #3944 "Require C++14"
Officially all our supported compilers have full C++14 support. The open question has always been `nvcc`, particularly on Windows. Could those who use Windows and/or `nvcc` let me know if there have been any corner cases where you've been forced to go down to C++11 because C++14 wasn't fully supported.

HPX also doesn't currently compile in C++11 mode (https://cdash.cscs.ch/viewBuildError.php?buil

[2019-06-28 12:34] hkaiser commented on #3941
@khuck please see #3942 for a possible fix. Please verify.

[2019-06-28 12:40] hkaiser commented on #3944
@msimberg not to throw a stick into your wheel, but we just managed to convince our FLeCSI people not to use gcc 4.8 for their testing environment anymore …

Also, the above error is clearly my fault, I will provide a fix for this asap.

[2019-06-28 12:52] msimberg commented on #3944
Argh, I know this is going to be a tough one. How much closer to the present did you manage to get them?

[2019-06-28 13:12] hkaiser commented on #3944
We should be fine now in any case, I think.

[2019-06-28 15:16] khuck commented on #3941
Yes, this fixes it.  I updated APEX and updated the version tag for v2.1.4.

[2019-06-28 15:16] #3941 closed

[2019-06-29 05:54] Dhiraj240 commented on #3881
@parsa
@msimberg I had applied for GSoD yesterday and apologizes for a late submission. I had initial development here https://github.com/Dhiraj240/hpx_example May I know what all is needed from your side? Also i used my gmail id as dhiraj.8.sharma@gmail.com
Please look at my recent [blog](https://medium.com/beatbluewhalechallenge/iot-to-help-patients-with-alzheimers-and-dementia-c72385f9b286)

[2019-06-30 02:13] diehlpk commented on #3881
@Dhiraj240 Google will review all applications and decides who can participate the program. So there is nothing needed from our side right now.

[2019-07-02 11:22] m-diers opened #3953 "CMake errors from HPX_AddPseudoDependencies"
## Expected Behavior
Configure with disabled examples and enabled tests.

## Actual Behavior
Configuration errors from HPX_AddPseudoDependencies.cmake like
``CMake Error at cmake/HPX_AddPseudoDependencies.cmake:28 (add_dependencies):
  Cannot add target-level dependencies to non-existent target
  "tests.examples.modules".``
during cmake in clean build directory.
## Steps to Reproduce the Problem

[2019-07-04 08:17] #3953 closed

[2019-07-04 12:12] biddisco commented on #2879
markComment:false

[2019-07-04 12:13] biddisco commented on #2879
closeComment: false

[2019-07-04 12:32] biddisco opened #3958 "/statistics/average@ perf counter can't be created"
## Expected Behavior
An average value?

## Actual Behavior
[code]
[code]

Am I doing it wrong?

[2019-07-04 12:54] hkaiser commented on #3958
Do you have the idle-rate counter enabled?

[2019-07-04 14:17] biddisco commented on #3958
yes. The idle rates are printed when I just ask for normal output, it only crashes when I add the /statistics/average@ prefix

[2019-07-04 14:52] sithhell commented on #1403
markComment: false

[2019-07-04 14:53] sithhell commented on #1403
closeComment: false

[2019-07-04 15:02] hkaiser commented on #3958
@biddisco ok, try this instead:
[code]
where `<interval>` is a number (in ms) that determines how often the underlying counter is queries in order to calculate the average.

(see also here: http://stellar.cct.lsu.edu/files/hpx-1.1.0/html/hpx/manual/performance_counters/names.html#hpx.manual.performance_counters.names.example for more examples, for instance, I'm linking the old docs as the sphinx d

[2019-07-04 15:12] hkaiser commented on #1403
@sithhell `closeComment: false` will not do anything; just attach the `pinned` label to the tickets you would like to keep open.

[2019-07-05 08:20] m-diers commented on #3953
LGTM, thanks!

[2019-07-05 10:33] msimberg commented on #3958
@hkaiser FYI, this is the link to the same section in the sphinx docs: https://stellar-group.github.io/hpx/docs/sphinx/branches/master/html/manual/optimizing_hpx_applications.html#two-simple-examples. The difference is that you can't get it by clicking on the heading. When you hover close to the heading a little chain icon shows up that you can click to get the link to that heading. You can also g

[2019-07-05 15:14] hkaiser commented on #3958
@msimberg ahh, nice to know, thanks!

[2019-07-05 21:03] khuck commented on #3252
@hkaiser this is related to the issue with annotations, and I think we are way past this problem.  Yes, it can be closed.

[2019-07-05 21:03] #3252 closed

[2019-07-05 21:07] biddisco commented on #3958
Thanks. The

[2019-07-05 21:09] biddisco commented on #3958
Thanks, the alternative counter name use seems to work. I must have been looking at old docs. Not sure. Should we make some doc changes?

[2019-07-06 19:59] #1805 closed

[2019-07-07 10:50] tapaswenipathak commented on #1258
Ack @msimberg.

[2019-07-08 20:22] biddisco commented on #840
Closing this because we have a functional but unmaintained verbs PP, now superseded by libfabric

[2019-07-08 20:22] #840 closed

[2019-07-08 20:23] biddisco commented on #313
if this hasn't been done, then it might be a good one to fix during modularization

[2019-07-08 20:32] biddisco commented on #2178
Might be of interest? https://github.com/septag/deboost.context

[2019-07-08 20:59] aserio commented on #840
@biddisco Is the libfabric parcelport now merged?

[2019-07-09 13:45] biddisco commented on #840
The LF PP was merged 2 years ago. Some recent improvements of mine have not yet been.

[2019-07-09 19:22] aserio commented on #840
@biddisco Ah, I thought you had merged it while I was out... Are you planning to merge your changes soon so that the LibFabrics parcelport can truly replace the ibverbs?

[2019-07-09 19:44] biddisco commented on #840
I do not have time to work on the libfabric stuff at the moment. My branch contains a lot of commits that will probably require considerable cleaning up. In particular, I started work on `rdma_object<T>` and serialization of those objects - that work is not quite finished and ideally should be integrated into the `channel<T>` abstraction. (It also goes way beyond any 'standards conformance' criter

[2019-07-09 19:57] aserio commented on #840
@biddisco Ok :)  can you put your current code on a branch so I can reference it?

[2019-07-09 20:11] biddisco commented on #840
it's still here in the rdma_object branch - it has been for some time. https://github.com/STEllAR-GROUP/hpx/commits/rdma_object

[2019-07-09 20:46] aserio opened #3969 "Merge SC19 LibFabric Parcelport fixes into Master"
The branch: https://github.com/STEllAR-GROUP/hpx/commits/rdma_object needs to be merged into master however this requires considerable work to get it into shape.

- [ ] rdma_object<T>
  1. Needs additional touching up and potentially should be integrated into the channel<T> abstraction
  2. It currently introduces a new type of rdma_object and rdma_vector that does not work with the current tcp pa

[2019-07-09 20:47] aserio commented on #840
Done! You can find the new ticket here: https://github.com/STEllAR-GROUP/hpx/issues/3969

[2019-07-10 06:57] biddisco commented on #3969
List of tasks has been updated/extended.

[2019-07-10 07:03] biddisco commented on #3082
I would like to keep this issue alive. I will (slowly) work on it as part of my scheduler cleanup.

[2019-07-10 07:06] biddisco commented on #3348
Issues #3348 and #3553 should not be closed as they are under consideration at the time of writing.

[2019-07-10 07:06] biddisco commented on #3553
Issues #3348 and #3553 should not be closed as they are under consideration at the time of writing.

[2019-07-10 12:09] msimberg opened #3970 "Static linking fails during CMake configuration"
When setting `-DHPX_WITH_STATIC_LINKING=ON` CMake configuration fails at the end with
[code]

This is not very high priority for me so if someone needs it fixed let us know. Curiously this is exactly the error we had before making sure HPX modules are `PRIVATE` dependencies. I haven't yet figured out if this is a CMake bug or if there's something we can do about it.

[2019-07-10 12:17] #2590 closed

[2019-07-15 12:46] hkaiser opened #3983 "Implement the C++20 Synchronization Library"
C++20 will have a set of synchronization primitives (especially `counting_semaphore`, `latch`, and `barrier`) that we should implement (see https://wg21.link/P1135, https://wg21.link/N4849).

The main issue here is that we already have objects with the same name but with possibly diverging interfaces. We should investigate a possible migration from our current API to something compatible with C++2

[2019-07-17 12:48] hkaiser commented on #3958
Closing this a 'won't fix' as everything seems to work as documented.

[2019-07-17 12:48] #3958 closed

[2019-07-18 16:25] parsa opened #3989 "conversion from 'long' to 'unsigned int' requires a narrowing conversion on MSVC"
This was previously a warning but now HPX actually fails to compile because of this:
[code]
* Configuration:
    * Commit: 4ab69844795a2674dff977509fe09588761b8e6e
    * Windows 10.0.17763.615
    * Visual Studio 2019 x64 (MSVC 19.21.27702.2)
    * CMake 3.14.19050301-MSVC_2
    * Boost 1.70.0
    * Microsoft/vcpkg@f9fedc930cf36ce6cec69a3d09879b3c7f23eb0b
* Full log:
    * [diag.log](https://githu

[2019-07-19 06:51] hkaiser commented on #3989
This looks like a problem with the new `HPX_ASSERT` macro. Apparently, MSVC treats `__LINE__` as a long integer, which leads to the reported diagnostic (see https://github.com/STEllAR-GROUP/hpx/blob/master/libs/assertion/include/hpx/assertion/source_location.hpp#L19 - that expects an `unsigned`).

@parsa: would you mind creating a PR that changes the existing code to use a `static_cast<unsigned>(_

[2019-07-19 14:05] stevenrbrandt opened #3992 "Development of HPX Components is Difficult"
This is a feature enhancement request. Currently, when writing a component, there is a lot of boilerplate. There needs to be client and server code. The server needs to call HPX_DEFINE_COMPONENT_ACTION for every exposed method, outside the server one needs to call HPX_REGISTER_ACTION_DECLARATION, and then the client (usually) has to have two methods, one static and one not. In addition, HPX_REGIST

[2019-07-19 16:18] parsa commented on #3989
@hkaiser that solved the issue. Created the PR

[2019-07-20 11:23] hkaiser opened #3994 "Implement C++20 Stop Token and Joining Threads"
See https://wg21.link/P0660 for details.

[2019-07-20 11:26] hkaiser opened #3995 "Use C++20 std::source_location where available, adapt ours to conform"
See https://wg21.link/p1208 for details.

[2019-07-20 15:05] #3989 closed

[2019-07-26 15:08] hkaiser opened #4002 "Missing header for algorithm module"
The header `#include <hpx/traits/is_value_proxy.hpp>` should be added to the algorithm module

[2019-07-29 16:09] khuck opened #4005 "Can't link HPX when APEX enabled"
## Expected Behavior

HPX used to build fine with `-DHPX_WITH_APEX=TRUE`, but for many weeks that has been unstable because of CMake configuration changes.  It hasn't built correctly for weeks.

Likely, a change needs to be made to how the hpx_apex library is built, but I can't figure out how to make it work with the HPX cmake macros.  Could some configuration expert please see what's wrong with t

[2019-07-29 17:58] hkaiser commented on #4005
The missing libraries should have been built before linking libhpx. Do those exist (they should end up in <builddir>/lib)?

[2019-07-30 08:16] aurianer commented on #4005
And did you fetch HPX master ?

[2019-07-30 08:43] aurianer commented on #4005
And other question : which version of cmake are you using ?

[2019-07-31 06:55] #4002 closed

[2019-07-31 16:52] khuck commented on #4005
@aurianer I sometimes see that error you describe (on the buildbot server), and when I build manually I see the error I reported.  I am using CMake 3.8.2.

[2019-07-31 16:53] khuck commented on #4005
@hkaiser those libraries don't exist anywhere in the build directory...

[2019-07-31 16:59] khuck commented on #4005
@aurianer I build against the "stable" tag, which is master that has supposedly passed CI.

Here's my CMake output:

[code]

[2019-07-31 17:55] msimberg commented on #4005
@khuck that commit is about a month old. Since the stable tag is updated after successful builds you'll most likely need to explicitly tell git to update the tag.

[2019-07-31 19:35] khuck commented on #4005
@msimberg I'm not the one who updates the tag, the CI system does...is it broken?  Or are there no successful builds for over a month? :)

[2019-07-31 19:41] khuck commented on #4005
@aurianer If I build with current master, I get this error.  How do I fix it in the APEX CMakeLists.hpx file?  What dependency/include path do I have to add?

[2019-07-31 20:07] khuck commented on #4005
@aurianer I was able to get it to build with this mess (I added every library) - is it correct?

[code]

[2019-07-31 20:20] hkaiser commented on #4005
@khuck the current stable tag is at https://github.com/STEllAR-GROUP/hpx/commit/1c78950bb65482d24dd7f07b552c12096fa2ca26 (yesterday), while you're trying to build against https://github.com/STEllAR-GROUP/hpx/commit/10843395e06b31321836f95aece4a59039fde3d2 (June 27th)

[2019-07-31 20:41] khuck commented on #4005
@msimberg The changes you just merged after 3ea3b98008ea3270af05b13cd3d001a7aa88765e have broken the APEX build again... here's what I see now:
http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/335/steps/5/logs/stdio

[2019-07-31 23:24] hkaiser commented on #4005
@khuck, now you're trying to compile against e9b9cc023dd2462e3d9cc6b9629a501ec658634a, but the stable tag is at 1c78950bb65482d24dd7f07b552c12096fa2ca26 (which is older).

[2019-07-31 23:48] khuck commented on #4005
I give up...uncle

[2019-08-01 16:38] khuck commented on #4005
OK, even with commit 1c78950, I was getting this error:

[code]
apex.hpp is including hpx/include/runtime.hpp, which used to work.  I added hpx_parallel_executors and hpx_segmented_algorithms to the long list of dependencies for hpx_apex, and that allowed the build to succeed (see https://github.com/khuck/xpress-apex/commit/8e95669c9cff930357b826b97dc9acf5af7d1284).  Is there some easier way to ke

[2019-08-02 13:22] msimberg commented on #4005
Sorry @khuck that you have to deal with this right now, but APEX is in a bit of a special position where all of these changes are exposed directly to you. There are two things you can do:
1. We print the list of modules during CMake configuration. This will at least manually get you all the modules. We do have an internal variable `HPX_LIBS` which contains all the modules but I think it's set up t

[2019-08-02 13:28] hkaiser commented on #4005
@khuck, the CMake variable `HPX_LIBS` holds all module names, but without the `hpx_` prefix. Using that should help, at least for the time being.

[2019-08-02 17:55] aurianer commented on #4005
Actually I only need those :
[code]
For what do you need the others ?
Sorry for not updating the changes, I had them locally but I forgot to PR apex..

[2019-08-03 07:30] #3219 closed

[2019-08-03 07:30] #3075 closed

[2019-08-03 07:30] #3173 closed

[2019-08-03 07:30] #3218 closed

[2019-08-03 07:30] #3005 closed

[2019-08-03 07:30] #3037 closed

[2019-08-03 07:30] #2327 closed

[2019-08-03 07:30] #1965 closed

[2019-08-03 07:31] #3448 closed

[2019-08-03 07:31] #3447 closed

[2019-08-03 07:31] #3449 closed

[2019-08-03 07:31] #950 closed

[2019-08-03 07:31] #3053 closed

[2019-08-03 07:31] #3337 closed

[2019-08-03 07:31] #3307 closed

[2019-08-03 07:31] #3227 closed

[2019-08-03 07:31] #3403 closed

[2019-08-03 07:31] #3362 closed

[2019-08-03 07:31] #3356 closed

[2019-08-03 07:31] #3423 closed

[2019-08-03 07:31] #3545 closed

[2019-08-03 07:31] #3568 closed

[2019-08-03 07:31] #3597 closed

[2019-08-03 08:30] #2803 closed

[2019-08-03 08:30] #2690 closed

[2019-08-03 08:30] #2766 closed

[2019-08-03 08:30] #2730 closed

[2019-08-03 08:30] #2215 closed

[2019-08-03 08:30] #3207 closed

[2019-08-03 08:30] #1299 closed

[2019-08-03 08:30] #1802 closed

[2019-08-03 08:30] #1418 closed

[2019-08-03 08:31] #1503 closed

[2019-08-03 08:31] #1544 closed

[2019-08-03 08:31] #1645 closed

[2019-08-03 08:31] #2609 closed

[2019-08-03 08:31] #2169 closed

[2019-08-03 08:31] #2217 closed

[2019-08-03 08:31] #2307 closed

[2019-08-03 08:31] #2358 closed

[2019-08-03 08:31] #2325 closed

[2019-08-03 08:31] #2759 closed

[2019-08-03 08:31] #2876 closed

[2019-08-03 08:31] #2872 closed

[2019-08-03 08:31] #2816 closed

[2019-08-03 08:31] #2837 closed

[2019-08-03 08:31] #2838 closed

[2019-08-03 08:31] #2960 closed

[2019-08-03 08:31] #2936 closed

[2019-08-03 08:31] #2935 closed

[2019-08-03 08:31] #3045 closed

[2019-08-03 08:31] #3077 closed

[2019-08-03 09:30] #54 closed

[2019-08-03 09:30] #834 closed

[2019-08-03 09:30] #700 closed

[2019-08-03 09:30] #688 closed

[2019-08-03 09:30] #652 closed

[2019-08-03 09:30] #579 closed

[2019-08-03 09:30] #548 closed

[2019-08-03 09:30] #537 closed

[2019-08-03 09:30] #547 closed

[2019-08-03 09:31] #536 closed

[2019-08-03 09:31] #497 closed

[2019-08-03 09:31] #459 closed

[2019-08-03 09:31] #455 closed

[2019-08-03 09:31] #1988 closed

[2019-08-03 09:31] #407 closed

[2019-08-03 09:31] #257 closed

[2019-08-03 09:31] #623 closed

[2019-08-03 09:31] #751 closed

[2019-08-03 09:31] #620 closed

[2019-08-03 09:31] #907 closed

[2019-08-03 09:31] #2051 closed

[2019-08-03 09:31] #1441 closed

[2019-08-03 09:31] #2161 closed

[2019-08-03 09:31] #2233 closed

[2019-08-03 09:31] #1587 closed

[2019-08-03 09:31] #2826 closed

[2019-08-03 09:31] #2467 closed

[2019-08-03 09:31] #2804 closed

[2019-08-03 09:31] #2817 closed

[2019-08-03 10:30] #2530 closed

[2019-08-03 10:30] #1408 closed

[2019-08-03 10:30] #2528 closed

[2019-08-03 10:30] #2371 closed

[2019-08-03 10:30] #1440 closed

[2019-08-03 10:30] #1529 closed

[2019-08-03 10:30] #1602 closed

[2019-08-03 10:30] #864 closed

[2019-08-03 10:30] #866 closed

[2019-08-03 10:30] #1163 closed

[2019-08-03 10:30] #1388 closed

[2019-08-03 10:30] #1421 closed

[2019-08-03 10:30] #312 closed

[2019-08-03 10:30] #381 closed

[2019-08-03 10:30] #348 closed

[2019-08-03 10:30] #184 closed

[2019-08-03 11:17] shantanudwvd commented on #2836
Hi,
How is this issue resolved?

On Sat, Aug 3, 2019, 13:01 stale[bot] <notifications@github.com> wrote:

[2019-08-03 13:01] hkaiser commented on #2836
@shantanudwvd it was resolved as 'Won't Fix' as there was no activity for more than 6 month on this. If you are interested in helping to resolve the issue (or it is otherwise dear to you), please re-open it (as the comment above says).

[2019-08-03 22:44] biddisco commented on #2997
Reopening this because I'd like to document the executors better (and clean them up) eventually.

[2019-08-03 22:46] biddisco commented on #1185
This issue look interesting - should it be kept alive?

[2019-08-03 23:21] hkaiser commented on #1185
Sure let's re-open it...

[2019-08-05 08:03] biddisco commented on #2661
I suspect that cancellation tokens and support for them needs to be kept open. One solution to this problem (in a broader sense) would be to only enable cancellation of tasks when designated executors/schedulers are used (executor params as mentioned above for example). Adding checks for cancellation in the lowest level loops introduces overheads that are unnecessary and expensive - only allowing

[2019-08-05 11:50] hkaiser commented on #2661
@biddisco good thinking! This would be yet another property we could add once we have migrated our executors to support those...

[2019-08-07 12:33] McKillroy opened #4016 "Improving Documentation"
Since I was asked in IRC to do so, here are three attempts of mine to document some basic recipes:

https://gitlab.com/snippets/1821389
https://gitlab.com/snippets/1822983
https://gitlab.com/snippets/1828131

Maybe they are helpful for people working on HPX Documentation.
Cheers
~Chris

[2019-08-07 12:37] hkaiser commented on #3881
Closing this as the decision for a GSoD student for HPX has been made.

[2019-08-07 12:37] #3881 closed

[2019-08-07 12:38] hkaiser commented on #3896
Closing this as the decision for a GSoD student for HPX has been made.

[2019-08-07 12:38] #3896 closed

[2019-08-07 21:31] stevenrbrandt commented on #3992
It will probably take a little time before this code is ready for master. Until then, I invite you to look here: https://github.com/stevenrbrandt/HPXCompMaker

[2019-08-07 22:43] fjtapia commented on #2836
Actually the worst case is O(N²)

The problem is resolved, but not implemented in the actual version. In this
list of messages, in September 16 of 2017 I answered this question and
attached a file with the code resolving the problem.

If you have any other question, please, contact me

Francisco Tapia

El sáb., 3 ago. 2019 a las 15:01, Hartmut Kaiser (<notifications@github.com>)
escribió:

[2019-08-08 02:34] hkaiser commented on #2836
@fjtapia Francisco, would you mind re-attaching your reasoning you shared back then here, please?

[2019-08-08 14:36] fjtapia commented on #2836
I am a few days out of Madrid. The Next week I will prepare and send you
the corrections

El jue., 8 ago. 2019 4:34, Hartmut Kaiser <notifications@github.com>
escribió:

[2019-08-16 11:53] biddisco commented on #3257
just to bump this. I ran a full set of tests on my laptop a few days ago and noticed this was one of the few that failed.

[2019-08-16 14:12] hkaiser commented on #3257
Darn, I really thought we did fix this once and for all :/

[2019-08-19 10:43] biddisco commented on #3257
Not a timeout, just a regular fail. I'll look into it when I have a moment
[code]

[2019-08-19 11:22] hkaiser commented on #3257
@biddisco this looks like a non-network-enabled build is still trying to send a parcel.

[2019-08-19 11:23] biddisco commented on #3257
ooh. I have already a patch for that. I will enable it on this branch and report back

[2019-08-21 10:20] msimberg commented on #3440
I think we can all agree that this is not going to be straightforward. This is *never* going to happen if we have to find full replacements for all the boost functionality. It can happen with compatibility layers and making features optional. And while we can tell users "just install boost", I think HPX still becomes more approachable with an option of not depending on Boost. It's just one less th

[2019-08-21 11:08] msimberg commented on #3912
I suggest we keep the discussion in #3440.

[2019-08-21 11:08] #3912 closed

[2019-08-21 13:34] msimberg opened #4029 "Add support for mimalloc"
Add support for https://microsoft.github.io/mimalloc/ to the build system.

Bonus points: benchmark the allocators we support.

[2019-08-21 13:38] msimberg opened #4030 "Allow threads to skip context switching"
Add an option to invoke HPX threads directly on the worker thread stack instead of switching to a new stack. This would be a useful option for tasks that don't do much, e.g. the tasks in simple data-parallel for loops. This may lead to nice performance improvements in our thread scheduling.

A simple proof-of-concept is probably a good first step to see if we actually gain anything by this.

[2019-08-21 13:39] hkaiser commented on #3440
I'd be fine with that. We'll have to add `variant` to the list of things to have in HPX, though. FWIW, we use Park's implementation of `variant` in Phylanx - this could be moved over (including serialization support, etc.).

Disabling the timer-pools, while they are already optional (are they?), would disable all timed operations (`sleep_until`, etc.). But we might be able to rig up some alternati

[2019-08-21 13:47] hkaiser commented on #4030
@msimberg FWIW, at some point we did have an implementation of this in HPX (see https://github.com/STEllAR-GROUP/hpx/commit/2217e2792b7170ae08b93218165d68a202edf0a4#diff-11f383c8f29752a630098984712b40bb). AFAIR, it didn't give us a big benefit, but things might have changed based on the massive scheduler improvements we have implemented over the last month.

[2019-08-21 18:38] dmarce1 opened #4032 "Simple hello world fails to launch correctly"
## Expected Behavior

From this example code:

[code]

I expect there to be one instance of hpx_main called and the output to be:
[code]
## Actual Behavior

When run with mpirun -np 2, the output is
[code]
## Steps to Reproduce the Problem

I compiled the above code using cmake file:
[code]

and executed it with mpirun -np 2 ./hello

## Specifications

... Please describe your environment

  - HPX

[2019-08-21 19:21] hkaiser commented on #4032
@dmarce1 Was HPX built with MPI enabled?

[2019-08-22 01:58] ct-clmsn opened #4033 "segmented containers: remote segment access"
## Expected Behavior

For a segmented container distributed across multiple locales, I would like to access a full segment of data hosted on a remote locale. This would enable the ability to efficiently implement distributed sorting and counting algorithms (bitonic, etc). [reference](http://ac.informatik.uni-freiburg.de/teaching/ss_13/netalg/lectures/chapter4.pdf)

## Actual Behavior

Feature does

[2019-08-22 06:42] msimberg commented on #4030
Thanks for the link! Even if it doesn't give us a big benefit that would be valuable information. It would tell us that there's significantly more slack in the queues and schedulers than we (at least I) thought.

[2019-08-22 06:51] msimberg commented on #3440
`HPX_WITH_TIMER_POOL` etc. They're compulsory if you want timed operations but if you don't need them they can be disabled.

Indeed. I was going by @K-ballo's list and didn't see too many headers outside of the big libraries, but I'll put together a new list.

[2019-08-22 06:55] msimberg commented on #4033
Without knowing too much about our distributed containers or your needs, I thought our coarrays give you access to remote segments. Have you had a look at them? https://stellar-group.github.io/hpx/docs/sphinx/branches/master/html/manual/writing_distributed_hpx_applications.html?highlight=coarray#c-co-arrays

[2019-08-22 07:37] biddisco commented on #3440
Most of the stuff like slurm parsing, affinity argument handling etc is not 'critical' in the sense that if regexes were used, it's a one off cost that would not impact performance. True?

Does the performance counter syntax incur a runtime cost that is significantly improved by using boost spirit? This seems like the one place where it might make a noticable runtime impact. Is this correct and ar

[2019-08-22 09:15] msimberg commented on #3440
A complete list of Boost dependencies with incomplete annotations: https://gist.github.com/msimberg/3a1b4273297ce931717262bcf094f011.

[2019-08-22 12:12] hkaiser commented on #3440
@biddisco I don't think replacing Spirit will incur a measurable runtime overhead. While I agree with using regexes (or manual parsing using string facilities) for the smaller usages of Spirit is feasible, I don't think its possible to replace the perf-counter name parser with some regexes. The syntax is fairly complex. Same is probably true for the affinity description.

However I'd be fine with

[2019-08-22 14:18] dmarce1 commented on #4032
Yes

[2019-08-22 17:53] ct-clmsn commented on #4033
@msimberg do hpx::coarrays require an spmd block or could I use them in a non-spmd program? My goal is to implement a couple of distributed sorting algorithms over hpx::partitioned_vectors; if the coarrays provide segmented access, then I'll switch to a coarray implementation.

[2019-08-22 18:03] McKillroy opened #4034 "Persistence for hpx::id_types"
This is a feature request.

The problem:

When components are persisted to storage, currently there is no mechanism to recreate them with the same id_type like before. And even worse: If you need to restructure your node topology, add or remove nodes it falls apart. Some time ago Hartmut Kaiser, Thomas Heller and I had a conversation about possible requirements for a system to persist AGAS IDs and

[2019-08-22 19:19] hkaiser commented on #4032
Please see #4035 for a possible solution and let us know if this fixes your issue.

[2019-08-22 20:09] dmarce1 commented on #4032
This fixes it. Thanks.

[2019-08-22 20:50] hkaiser commented on #4033
@ct-clmsn: FWIW, here is a paper describing the coarray implementation: https://dl.acm.org/citation.cfm?doid=2935323.2935332. And yes, coarrays can/should be used in an SPMD context.

[2019-08-23 07:37] #4032 closed

[2019-08-23 08:12] msimberg commented on #3440
I added the list of boost headers to to main issue description where we can keep track of what to do and what has been done about the different dependencies. Please update as you see fit.

@kshitij12345 I pinged you to let you know that if you're still interested in this there would be some good starting points here. If you want to go easy first you could look at some of the headers from the misce

[2019-08-26 06:13] kshitij12345 commented on #3440
@msimberg Oh Thank You Very Much. Sorry have been a bit busy. Will start with it around October. Will check with you once before starting with it.
Thank you again :)

[2019-08-26 14:44] dmarce1 opened #4042 "Octo-tiger crashes on startup with a seg fault in hpx::agas::big_boot_barrier::big_boot_barrier"
## Expected Behavior
Octo-tiger should run

## Actual Behavior
Octo-tiger crashes immediately in hpx::agas::big_boot_barrier::big_boot_barrier

Here is a stack trace:
https://gist.github.com/dmarce1/b1a3ca53900075d2297e8afb08280d9b

## Steps to Reproduce the Problem

 Run any test problem in Octo-tiger under MVAPICH

## Specifications

HPX - top of master
Octo-tiger - top of unitiger branch
Ubuntu

[2019-08-27 00:34] McKillroy opened #4044 "HPX_COMPONENT_EXPORT Macros has no documentation"
HPX_COMPONENT_EXPORT

I think it should be documented, since it is used for dll export.

Dead Link: https://stellar-group.github.io/hpx/docs/sphinx/latest/singlehtml/index.html#c.HPX_COMPONENT_EXPORT

[2019-08-28 01:17] hkaiser opened #4046 "Move tests left behind to respective modules"
During the recent modularization efforts we have left behind some of the tests that should be part of the modules. Here is a list of those (there could be more):

- module `datastructures`:
  - [x] `unit/util/tuple.cpp` (#4079)
  - [x] `regression/util/optional_swap_3200.cpp` (#4079)
  - [x] `regression/util/tuple_serialization_803.cpp` (#4079)
  - [x] `unit/traits/is_tuple_like.cpp` (#4049)

- mo

[2019-08-28 04:39] biddisco commented on #3969
I asked about windows support on the libfabric mailing list and received the reply

This means that in principle, we could entirely replace the existing TCP `boost:asio` based parcelport with a sockets implementation on windows - as noted previously, this would reduce code size by allowing a single parcelport implementation across a wide range of devices and reduce boost dependencies as well as ma

[2019-08-28 11:30] msimberg opened #4048 "Deprecate hpxcxx compiler wrapper"
Opening this to see what the opinion is on the wrapper script `hpxcxx`. In my opinion compiler wrappers like these add little convenience but add magic and annoying-to-debug errors. I can see how others might feel the opposite way.

@stevenrbrandt @sithhell @Finomnis (since you've contributed to the script).

[2019-08-28 12:51] aurianer commented on #4046
On it !

[2019-08-28 13:15] biddisco commented on #3322
I should fix this.

[2019-08-28 13:39] aurianer commented on #4046
Actually, for the iterator, we can't move them because of their dependencies to main hpx headers that can't be moved into the `iterator_support` module

[2019-08-28 14:22] sithhell commented on #4048
I have no hard feelings removing it.

[2019-08-29 12:35] hkaiser commented on #4046
@aurianer I think those tests can be easily changed not to depend on `hpx/hpx.hpp` anymore. I'd be surprised if those used anything beyond `hpx::init` and friends (as do all the other tests).

[2019-08-29 14:42] msimberg commented on #4046
It looks like the `transform_iterator` tests and can't be moved as they depend on `result_of.hpp` (`invoke_result`) which are in #4045. This includes `stencil3_iterator.cpp` as well.

`iterator_adaptor.cpp` and `iterator_facade.cpp` should be possible to move though (the headers are already in the `iterator_support` module).

So far we've also added tests that use the runtime to modules, even thou

[2019-08-29 14:48] hkaiser commented on #4046
Yah, the function module is a fairly fundamental one...

Absolutely! Sorry if I mis-voiced what I was thinking.

[2019-08-29 16:07] stevenrbrandt commented on #4048
I do object. I use it fairly regularly since I'm not good with cmake. When I created it, I designed it to print out exactly what it was doing to make it "less magic."

[2019-08-29 18:50] Finomnis commented on #4048
I wasn't really involved, my name is just there because I touched it during bugfixing, and I didnt work on hpx since 5 years. Nonetheless, my opinion is that if hpx has good CMake integration, a script like this shouldnt be necessary.

[2019-08-30 09:41] msimberg opened #4052 "Enforce clang-format style for modules"
Since modules are being reformatted before going in we could already enforce that their formatting stays clang-formatted on CircleCI.

[2019-08-30 11:54] hkaiser opened #4053 "Unify module structure"
Some of the modules we created have associated traits that until now have been placed in different directories. Some modules have them in their base directory (i.e. `hpx/modulename/`), some have them in `hpx/traits`. This should be unified. The consensus on irc was that associated traits should end up in the directory `hpx/modulename/traits/` (http://irclog.cct.lsu.edu/ste~b~~b~ar/2019-08-30#15671

[2019-08-30 13:39] msimberg commented on #4048
@stevenrbrandt thanks for the input! That's exactly what I was looking for. I'll gently ask: is this something you think is essential to have in the HPX repo (as opposed to something you would keep track of yourself)? If *no-one* had said they find it useful I would've gone ahead and deprecated it, but since you do find it useful I'm not going to push this much further (I'll happily close this wit

[2019-08-30 19:16] khuck opened #4056 "Building without thread manager idle backoff fails"
## Expected Behavior

Building with --DHPX_WITH_THREAD_MANAGER_IDLE_BACKOFF=OFF used to just disable the idle manager backoff.  Now it breaks the build.

## Actual Behavior

[code]
See http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/361/steps/5/logs/stdio for more info.

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

[2019-08-31 22:54] hkaiser commented on #4048
We should add some documentation if the script should stay in the distribution.
@stevenrbrandt: would you be willing to create some?

[2019-09-01 09:22] stevenrbrandt commented on #4048
I would.

[2019-09-02 13:47] #3651 closed

[2019-09-03 07:11] #4056 closed

[2019-09-03 07:56] msimberg opened #4063 "Document hpxcxx compiler wrapper"

[2019-09-03 07:57] msimberg commented on #4048
I've opened an issue for documenting `hpxcxx` instead: #4063.

[2019-09-03 07:57] #4048 closed

[2019-09-03 17:17] parsa opened #4067 "HPX fails to build on macOS"
HPX ee38b8bd657607a7e52587fcf3df6d06fb4a3480 fails to build on macOS 10.14.6, AppleClang 10.0.1

Error:
[code]

Full log:
[build-fail.txt](https://github.com/STEllAR-GROUP/hpx/files/3570641/build-fail.txt)

[2019-09-03 19:09] hkaiser commented on #4067
Some of the modules have source files that depend on #includes that have not been modularized yet. For the time being, we should add the main hpx directory through a `target_include_directories(module PRIVATE ...)` to those modules (at least).

[2019-09-04 07:24] msimberg commented on #4067
The reason this didn't come up before is that the spinlock is only used on non-Linux/BSD/Windows platforms... @hkaiser this dependency is not going to get any better once there is an lcos module with the spinlock. I'd rather give `boost::spinlock` a try again. But then it *looks* like (from my quick googling) that `localtime_r` should also be available on MacOS so maybe it's just a question of add

[2019-09-04 11:11] hkaiser commented on #4067
I don't, sorry. @parsa could you try, please?

[2019-09-04 11:38] msimberg commented on #4067
Leaving this open until we've checked if the other fixes work as well.

[2019-09-04 11:54] tapaswenipathak commented on #3706
Hi @hkaiser, @rbyshko: interested in fixing algorithms ticket, can I PR?

[2019-09-04 11:56] tapaswenipathak commented on #1338
Hi @hkaiser: Is the task list is most recent? Can I PR?

[2019-09-04 12:00] tapaswenipathak commented on #4033
Hi folks: Can I PR or is the ticket for internal folks?

[2019-09-04 12:01] tapaswenipathak commented on #3440
Hi folks: Can I PR or is the ticket for internal folks?

[2019-09-04 12:02] tapaswenipathak commented on #3816
Hi folks: Can I PR or is the ticket for internal folks?

[2019-09-04 12:10] msimberg commented on #3816
@tapaswenipathak feel free to work on this. You might want to have a look at what's in the testing module: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/testing/include/hpx/testing.hpp. We should try to avoid duplicating functionality in both modules.

[2019-09-04 12:12] msimberg commented on #3440
@tapaswenipathak feel free to work on this. My comment above to @kshitij12345 applies to you as well. The miscellaneous section is a good place to start.

[2019-09-04 12:14] hkaiser commented on #3706
@tapaswenipathak sure, any contributions are welcome! There is no need to ask. Just make sure nobody else is working on things before.

[2019-09-04 12:20] hkaiser commented on #1338
@tapaswenipathak I think the list above corresponds to the current state. Please feel free to work on this! Please don't hesitate to ask, though - this might be slightly more complex than the average 'run of the mill' ticket. The iterative, non-modifying algorithms (`equal`, `mismatch`) might be a good starting point.

[2019-09-04 12:23] hkaiser commented on #3816
We should keep in mind that testing is different from using assertions. If those can share functionalities - fine. I think this is not a requirement, though.

[2019-09-04 12:24] tapaswenipathak commented on #1338
oh lol, ok. sure. thanks for specifying. 😄

[2019-09-04 12:28] tapaswenipathak commented on #3816
Thanks for the brain dump folks, I didn't read much, I think I can PR that macro out. I will ask for any questions, thanks.

[2019-09-04 15:28] parsa commented on #4067
@msimberg went back to ee38b8bd657607a7e52587fcf3df6d06fb4a3480 and tried adding `__APPLE__`:
[code]
Still get the same error:
[code]

[2019-09-04 15:29] parsa commented on #4067
Also 1adc78ddcad8cf3feb451664a93bbfeb9a48bf82 doesn't work either. It complains about a different header though:
[code]

[2019-09-04 16:06] msimberg commented on #4067
@parsa sorry about that. https://github.com/STEllAR-GROUP/hpx/blob/ee38b8bd657607a7e52587fcf3df6d06fb4a3480/libs/logging/include/hpx/logging/format/formatter/high_precision_time.hpp#L30-L31 needs the same treatment.

[2019-09-05 02:50] weilewei opened #4072 "-DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON, cannot find boost (missing context)"
## Expected Behavior
With `-DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON` in the CMake configuration,
 HPX should be able to find boost and then compiles successfully.

## Actual Behavior
With -DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON, HPX cannot find the boost (missing context) and failed to compile. In the CMakeCache.txt, it shows that
[code]
CMake error:
[code]
However, with same other settings yet r

[2019-09-05 06:31] biddisco commented on #4072
I don't know if this issue was created before or after I responded via slack, but for completeness, I'll include here my build settings for summit
https://github.com/biddisco/biddisco.github.io/wiki/summit-(power9)
In short, I would almost never consider using a system installed boost and instead use the settings provided in the link provided
### #environment
[code]
### #Boost
[code]
### #cpptest

[2019-09-05 07:21] msimberg commented on #4072
Also, can you check that `libboost_context.so/a` actually exists in `/autofs/nccs-svm1_sw/summit/.swci/1-compute/opt/spack/20180914/linux-rhel7-ppc64le/gcc-8.1.1/boost-1.61.0-dfvdknm3scg6h7xmvwiaoiucnbixkzvo/lib`?

[2019-09-05 09:45] msimberg opened #4074 "HPX module "configurations""
This issue is for discussing if and how to expose modules to users:

- size of modules; small *and* large?
- static/dynamic?
- build configurations?

[2019-09-05 10:01] msimberg commented on #4074
There are a few high-level "natural" levels of features that build on top of each other:
- utilities (testing, assertions, configuration, etc.)
- thread pools only
- synchronization primitives/futures (manual thread pool management, explicitly pass executors to apply/async)
- parallel algorithms
- local runtime (configuration management, default pool for apply/async)
- distributed runtime (includi

[2019-09-05 13:32] hkaiser commented on #4072
@biddisco thanks! @weilewei, I wouldn't go with `HPX_WITH_NETWORKING=OFF` in your case, though.

[2019-09-06 13:21] ct-clmsn commented on #4033
@hkaiser Thank you! I'll review it ASAP. @msimberg The immediate utility for this feature would be implementing distributed sorting algorithms. @tapaswenipathak if you can implement this feature, that would be awesome.

[2019-09-07 14:59] fjtapia commented on #2836
The HPX parallel sort is an implementation of the parallel introsort, which
internally is a quicksort plus heapsort.
Quicksort works, finding an element, called pivot, and filtering the
elements according to this. One part is the elements smaller than the pivot
and the others are the greatest. In this way divide the elements to sort in
two parts. Ideally, the two parts must have the same or very s

[2019-09-07 16:51] hkaiser commented on #2836
Thanks Francisco! Would you be able to post the link to the file you are referring to somewhere?

[2019-09-08 14:51] fjtapia commented on #2836
Unzip the attached file of my message, and you will find the sort.hpp file
and a folder with the test programs used to check the correctness of the
modifications

El sáb., 7 sept. 2019 a las 18:51, Hartmut Kaiser (<notifications@github.com>)
escribió:

[2019-09-08 15:58] hkaiser commented on #2836
@fjtapia Francisco, unfortunately, GitHub does not post attached files to the comments for a ticket. Would you mind uploading the files somewhere (gist?) and post the link here instead? Thanks!

[2019-09-08 16:11] fjtapia commented on #2836
Sorry I didn't know it about Github
I  put ii my Google Drive.

The link is
https://drive.google.com/drive/folders/1v-I9I9c0GKB5ruml8rTKFKpkTsi3FGCE?usp=sharing

 If you have any problem, say me  and I try other option

El dom., 8 sept. 2019 a las 17:58, Hartmut Kaiser (<notifications@github.com>)
escribió:

[2019-09-08 16:25] hkaiser commented on #2836
Got it! Thanks a  lot!

[2019-09-10 17:33] khuck opened #4085 "hpx_topology library should depend on hwloc"
## Expected Behavior

Up until a few days ago, building HPX worked fine.

## Actual Behavior

Something has changed in the link order which causes libhwloc.so to come before hpx_topology.a in the link order.  Unfortunately, the hwloc symbols in hpx_topology are unresolved because of it.  If I manually change link.txt to add libhwloc.so at the end of the link line, it works fine.

HPX fails to link

[2019-09-10 19:18] jefftrull commented on #3733
I hope we can keep this bug open. With any luck I can propose a fix... I've been looking at it, on a low priority.

[2019-09-11 08:59] aurianer commented on #4085
Hi,
I tried to reproduce the error with most of the same options (I don't have activeharmony nor otf2 but this shouldn't impact the topology dependencies), but I have no link error with HPX stable tag and APEX develop tag.
Could you paste the exact error, I cannot access the link you posted above :/
Thanks!

[2019-09-11 09:10] aurianer commented on #4085
I'll try with activeharmony and otf2 on !

[2019-09-12 04:46] khuck commented on #4085
The exact error:

[code]

[2019-09-13 09:13] aurianer commented on #4085
Ok new question, could you give me the hash of your `stable` tag ?

[2019-09-16 15:59] NanmiaoWu commented on #4085
It is: 8953187cbf4b42878f75034839e41e9b6a9b927f

[2019-09-16 15:59] NanmiaoWu commented on #4085
8953187cbf4b42878f75034839e41e9b6a9b927f

[2019-09-16 17:07] hkaiser commented on #4085
@aurianer Are you wokring on this? I know how to fix this, I could create a PR , if you like.

[2019-09-17 21:18] #4085 closed

[2019-09-19 09:03] aurianer commented on #4085
Thank you @hkaiser ! should we introduce a new build test so that it won't happen again ?

[2019-09-19 12:23] hkaiser commented on #4085
@aurianer well, it was a missing dependency, not sure how to test for those things. And it looked like to be very platform-specific, I still don't understand why it never showed up somewhere else before.

[2019-09-19 22:40] hkaiser opened #4100 "Add SPDX identifier to all files"
Software Package Data Exchange® (SPDX®) is an open standard for communicating software bill of material information (including components, licenses, copyrights, and security references). See https://spdx.org/ for more information.

We should start adding the SPDX license identifier to our files:
[code]
(prefixed with the appropriate comment tag depending on the filetype.

This can probably be done

[2019-09-20 10:14] biddisco opened #4101 "Bound tasks"
In my latest work on the scheduler, I have introduced a 'bound task' which is done to enable me to launch tasks that are never stolen from one thread to another. This kind of thing is needed for first touch of numa domains (for example) and another use case is things like
[code]
where threads are mapped statically to cores. This can now be done with my scheduler.
The cost is that each core now mai

[2019-09-20 15:10] hkaiser commented on #4101
Doesn't libCDS have a lock-free priority queue?

[2019-09-20 17:47] aurianer commented on #4100
Does this replace the `Distributed under the Boost Software License, Version 1.0` or is it a further tag ?

[2019-09-20 18:55] hkaiser commented on #4100
IIUC, it's another, machine readable tag.

[2019-09-20 20:36] biddisco commented on #4101
Integrating libCDS is a big job in its own right - we don't really have the manpower to consider that at the time being.

[2019-09-23 11:44] #4052 closed

[2019-09-24 21:36] #4029 closed

[2019-09-25 06:31] biddisco opened #4105 "Bug in hpx:bind=numa-balanced"
Odd behaviour spotted today whilst debugging a lock-up
[code]

[2019-09-25 06:36] biddisco commented on #4105
just for completeness
[code]

[2019-09-25 13:41] #4100 closed

[2019-09-25 14:05] severinstrobl opened #4107 "Initializing runtime without entry point function and command line arguments"
While trying to integrate HPX into an existing simulation framework, I ran into the issue of initializing the runtime while providing neither an entry point function nor command line arguments. Due to the specifics of our framework at the point where HPX should be initialized I cannot access argc/argv, as the corresponding code is located in a module loaded dynamically at runtime. Additionally, it

[2019-09-25 15:28] msimberg commented on #4107
Thanks @severinstrobl, this may just be an oversight on our part, but should be easy enough to add. I'll try to get to this next week. If you'd like to have a go at it the overloads would be missing from `hpx/hpx_init.hpp` and `hpx/hpx_start.hpp`.

[2019-09-25 18:03] hkaiser commented on #4107
We do have such an overload for `hpx::init` and `hpx::start`:
- https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/hpx_init.hpp#L539-L540
- https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/hpx_start.hpp#L550-L551

The vector can contain either configuration settings or verbatim command line options. For instance:
[code]

[2019-09-25 18:50] msimberg commented on #4107
If I understood @severinstrobl correctly he's looking for an overload for `nullptr_t`  (no entry point) and a configuration vector, which is actually missing. I don't remember now if we support passing in `0` and `nullptr`, for `argc` and `argv`, respectively, but that might either already work or be something we could add as well.

[2019-09-25 19:35] severinstrobl commented on #4107
Exactly, I did not want to pass an entry point. Passing `0` / `nullptr` for `argc` / `argv` to start is prevented by an assertion: https://github.com/STEllAR-GROUP/hpx/blob/8f9678cae0b4e5902582e4f88855d69634beeb57/hpx/hpx_start_impl.hpp#L361

[2019-09-25 23:47] hkaiser commented on #4107
@severinstrobl So IIUC, you are asking for an initialization function that explicitly inhibits running a startup-function but still allows to pass in configuration strings and command line options through a `vector<string>`:
[code]
Is that correct?

[2019-09-26 06:57] #4105 closed

[2019-09-26 08:37] #1403 closed

[2019-09-26 09:28] severinstrobl commented on #4107
@hkaiser If I'm not misinterpreting the docs I think for what I'm trying to do I need an overload of `hpx::start`, rather than `hpx::init`.
While this works for my test case, there seems to be an (unrelated?) issue with `--hpx:print-bind`: When I provide this option via the configuration vector, it seems to be ignored.

[2019-09-26 11:28] hkaiser commented on #4107
Sure. I'd add overloads for both functions anyways.

This is definitely unrelated, I'll look into this.

[2019-09-26 22:06] #4107 closed

[2019-09-27 09:22] biddisco commented on #3756
Keeping this alive as a reminder to myself to look at it again

[2019-09-30 16:57] khuck opened #4115 "dependency chaining error with APEX"
## Expected Behavior

HPX builds

## Actual Behavior

APEX now depends on the new collectives module, but this dependency chain failure is within HPX.  Because the barrier_node.cpp file uses an annotated function, it pulls in APEX headers, which pull in other HPX headers, causing the collectives module to depend on the hardware module.

See http://omega.nic.uoregon.edu:8020/#/builders/5/builds/4 f

[2019-10-01 08:29] #4067 closed

[2019-10-01 23:18] jefftrull commented on #3733
After a lot of thought and measurement I have some interesting perf data to share. The performance degradation seems to be due to cache conflicts. For a vector of 32b ints, size 16777216, I have the following data:

| | IPC | LLC loads | LLC misses |
| - | -- | -- | -- |
| Sequential | 2.69 | 498,208 | 130,808 |
| 2 threads | 1.97 | 43,147,967 | 28,560,110 |
| 4 threads | 1.95 | 32,195,045 | 22,29

[2019-10-02 07:45] msimberg commented on #4115
@khuck is the problem gone after 118bf2e1ce81ef585f32511f54b123a157e91903 (merged yesterday)? Our pycicle builder with APEX is now happy again.

[2019-10-02 20:22] khuck commented on #4115
@msimberg yes, all good!

[2019-10-02 21:39] msimberg commented on #4115
Fixed by #4093.

[2019-10-02 21:39] #4115 closed

[2019-10-03 00:55] jefftrull opened #4118 "static_chunk_size is not obeyed in scan algorithms"
## Expected Behavior

I assumed that supplying an execution policy with a fixed chunk size would result in each individual task working on a "chunk" of that size from the input.

## Actual Behavior

Each individual task has a size that is a function of the overall input size and the number of threads. The static chunk size does not appear to affect it.

## Steps to Reproduce the Problem

  1. Buil

[2019-10-03 00:56] jefftrull commented on #4118
[code]

[2019-10-03 02:11] jefftrull commented on #4118
I did some experiments and I have a theory: perhaps another (undocumented?) executor parameter is involved here: `maximal_number_of_chunks`. If I follow the pattern [in this test](https://github.com/STEllAR-GROUP/hpx/blob/162c0bd3c728b8fe562babd02af5f158240014ac/tests/performance/local/future_overhead.cpp#L299-L314) it looks like my chunk size is obeyed.

If this is by design I'm OK with closing t

[2019-10-03 12:45] msimberg commented on #4005
Is still a problem?

[2019-10-03 12:47] msimberg commented on #3818
#4028 will get us most of the way there. Some more fixing and testing will likely be required but most of the work will be there to make this work.

[2019-10-03 18:45] hkaiser commented on #4118
The issue is that currently there is no way for the algorithm to see whether the chunk-size was preset by the user or if the chunk-size was derived from falling back to the number of cores and the number of elements in the range. For this reason, the chunk-size returned from your execution parameter object (the `50000`) is corrected such that it allows to go with the given (default) number of chun

[2019-10-04 07:01] aurianer commented on #3818
On it !

[2019-10-04 12:25] aurianer commented on #4005
No @kaiser fixed it ! :)

[2019-10-04 12:27] #4005 closed

[2019-10-07 08:21] kordejong opened #4123 "PAPI performance counters are inaccessible"
## Expected Behavior
I have built HPX with support for the PAPI performance counters. The resulting collection of HPX libraries includes `libhpx_papi_counters.so`.

According to the documentation:

When using these options, I expect to see a list of performance counters including the names of PAPI performance counters.

## Actual Behavior
The latter option is not recognized though:

[code]

A list

[2019-10-08 16:01] msimberg opened #4127 "Local runtime entry-points"
Opening this to discuss how to expose a "local runtime" to users.

I have two main criteria:
1. The current `hpx::init/start` etc. overloads should work unchanged with the headers they require now.
2. The local and distributed runtimes can be enabled (not running) in the same build (to avoid increasing the number of different configurations there are).

For this to work I'd propose to add new head

[2019-10-08 16:56] hkaiser commented on #4127
@msimberg Could we extend (and reuse) `hpx::runtime_mode` (https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/runtime_mode.hpp#L21-L31) for this?

[2019-10-09 11:47] msimberg commented on #4127
I think semantically it would work very well (`runtime_mode_local`?). Thinking about this a bit more I realize point 2 above is most likely unnecessary (and unnecessarily complicated). Point 1 I'd still like to keep and using the runtime mode fits quite well with that (users would have to explicitly ask for the local runtime).

[2019-10-09 12:03] hkaiser commented on #4127
`runtime_mode_local` sounds fine to me. We might however want to add more overloads for `hpx::init`/`hpx::start` that make it more convenient to specify this. But this might be another issue - reworking those overloads....

[2019-10-09 13:10] msimberg commented on #4127
Yep, the overloads are relevant but can quite easily be handled separately.

[2019-10-10 18:33] stevenrbrandt opened #4132 "parallel fill leaves elements unfilled"
## Expected Behavior
The parallel fill should fill all elements of the vector passed to it

## Actual Behavior
Seems like a power of 2 smaller than the array is filled

## Steps to Reproduce the Problem

Compile and run the following code:
[code]
... Please describe your environment

  - HPX Version: top of master
  - Platform (compiler, OS): gcc 9.2.1

[2019-10-11 02:21] stevenrbrandt commented on #4132
Note this error is seen on Melete05 running 4 threads (out of a possible 40). If I run with all threads, the error goes away.

[2019-10-11 10:28] hkaiser commented on #4132
This is most likely a problem with the `hpx::compute::host::block_executor<>` type.

[2019-10-11 13:51] msimberg commented on #4132
@hkaiser Yep, it's definitely the `block_executor`. It seems to assume that `shape.size()` is nicely divisible by the number of executors in the `block_executors`. I can try to fix this unless you already have something going?

[2019-10-11 14:48] hkaiser commented on #4132
@msimberg I have not looked into this yet. Any help is very much appreciated. The simplest solution would be to throw an exception if preconditions are violated.

[2019-10-11 17:11] msimberg commented on #4132
@stevenrbrandt would you mind testing #4133 to see if it fixes the problem for you?

[2019-10-11 18:43] tianyi93 opened #4134 "CMake Error when '-DHPX_WITH_HPXMP=ON'"
## Expected Behavior

CMake  build succeed

## Actual Behavior

cmake build errors

`CMake Error at cmake/HPX_SetupTarget.cmake:226 (target_link_libraries):
  Target "atomic" of type EXECUTABLE may not be linked into another target.
  One may link only to INTERFACE, OBJECT, STATIC or SHARED libraries, or to
  executables with the ENABLE_EXPORTS property set.
Call Stack (most recent call first):

[2019-10-12 20:12] stevenrbrandt commented on #4132
@msimberg @hkaiser I'll try it as soon as I get the chance.

[2019-10-13 16:39] hkaiser commented on #4127
Another question: how would this functionality be different from what we already have today, namely that networking is not enabled silently if we can detect that the runtime is used locally only? Would `runtime_mode_local` enforce this behavior or do you plan to do additional things in this case?

[2019-10-14 07:31] msimberg commented on #4134
@tianyi93 this happens because in hpxMP there is a test (executable) named `atomic` (`tests/openmp/unit`), and HPX (at least in some cases) wants to link to `libatomic`. I think best would be if you could either rename the test or add a suffix to all your tests. In HPX we add a `_test` suffix to all tests to make it obvious that they are tests. Do you think something like that could be done in hpx

[2019-10-14 07:31] #4118 closed

[2019-10-14 09:06] msimberg commented on #4127
My intention with this option is to make the choice explicit, but you're right that there isn't a big functional difference. The main difference is that `runtime_mode_local` would pick the local runtime in #4091 which would not even support using actions and components locally. There may be a small speedup in startup even compared to when networking is automatically disabled due to not having to s

[2019-10-14 12:29] msimberg opened #4135 "Use object libraries for modules"
We should consider using [object libraries](https://cmake.org/cmake/help/latest/command/add_library.html#object-libraries) for creating `libhpx` out of the modules. This should be significantly cleaner and may let us avoid the `force_linking` mechanisms. However, we would need CMake 3.12 for this (object libraries exist before that, but are somewhat crippled). I'm tentatively adding this to next y

[2019-10-14 12:44] hkaiser commented on #4135
Sounds good to me! Good thinking.

[2019-10-14 19:11] tianyi93 commented on #4134
@msimberg Thanks, the way you proposed did solve the CMake problem.

[2019-10-14 22:06] #4134 closed

[2019-10-15 06:26] #4132 closed

[2019-10-15 07:52] #3940 closed

[2019-10-16 14:22] diehlpk commented on #2860
To reproduce the issue install hpx to the /usr folder using build type Release. After that you compile hpx using build type Debug in a new folder and call

` cmake -DHPX_ROOT=/home/diehlpk/opt/hpx-1.3.0/lib64/cmake/`

`make install`

It seems that cmake has issues with having hpx in /usr and using `-DHPX_ROOT` and uses a mixture of libraries.

[2019-10-17 16:40] jjwilke opened #4144 "target general in HPX_LIBRARIES does not exist"
## Expected Behavior

`HPX_LIBRARIES` in the exported config contains a list `general;hpx_init;...` I would have expected these were either a list of valid CMake targets or library locations.

## Actual Behavior

Downstream CMake barfs because it's looking for a CMake target named `general` but can't find it.

## Steps to Reproduce the Problem

Default build of HPX on Mac or Linux.

## Specificati

[2019-10-17 17:01] jjwilke commented on #4144
Nevermind. I see what you're doing with `general`

[2019-10-17 17:01] #4144 closed

[2019-10-22 11:53] #4030 closed

[2019-10-22 17:28] sithhell opened #4148 "cacheline_data delivers poor perfomance with C++17 compared to C++14"
## Expected Behavior

When running programs compiled with either C++17 or C++14 should have roughly the same performance.

## Actual Behavior

Programs compiled with C++17 are significantly slower. While investigating, it turns out that this is the culprit:
https://github.com/STEllAR-GROUP/hpx/blob/master/libs/concurrency/include/hpx/concurrency/cache_line_data.hpp#L46-L64

This has been verified

[2019-10-22 18:01] sithhell commented on #4148
While fixing this issue, this needs to be addressed as well:
http://quick-bench.com/PkunktMrNXhZ5pdOusj9s9MRQ7c

as in, the generated constructor also initializes the padding data

[2019-10-22 18:17] biddisco commented on #4148
Nice test. Disturbing result. Bug in the compilers? Seems odd that both gcc and clang are showing it in c++17 mode.

[2019-10-22 18:51] sithhell commented on #4148
It looks like malloc is just bad when requesting aligned memory... at least that's what the profiler is telling me. So more a malloc bug. Do we know which allocator was in use when the problem was reported first?

[2019-10-22 21:27] hkaiser commented on #4148
@sithhell we were using tcmalloc for this.

[2019-10-23 19:13] #3741 closed

[2019-10-23 20:15] khuck opened #4150 "hpx won't build on POWER9 with clang 8"
## Expected Behavior

Normal compilation

## Actual Behavior

compile error (could be just a clang 8.0.1 problem, not POWER9 related):

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  cmake -DCMAKE_CXX_COMPILER=/packages/llvm/8.0.1/bin/clang++ -DCMAKE_C_COMPILER=/packages/llvm/8.0.1/bin/clang -DCMAKE_BUILD_TYPE

[2019-10-23 20:45] khuck opened #4151 "build error with MPI code"
## Expected Behavior

The MPI parcelport code used to compile just fine

## Actual Behavior

Parcelport code is now failing to build due to a type mismatch.

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  cmake -DCMAKE_CXX_COMPILER=/packages/gcc/7.3.0/bin/g++ -DCMAKE_C_COMPILER=/packages/gcc/7.3.0/bin/gcc -DCM

[2019-10-23 22:29] hkaiser commented on #4150
This looks like a missing header file `#include <utility>` in that file. @khuck: could you try adding this here, please: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/serialization/include/hpx/serialization/traits/brace_initializable_traits.hpp#L18?

[2019-10-24 02:09] jefftrull commented on #3733
![fast_16777216](https://user-images.githubusercontent.com/762705/67447105-aa8a5400-f5c7-11e9-9a97-313499bc0678.png)

I hope this visualization will help explain what I'm observing. The Y axis represents the input data - 16777216 32b ints in chunks of 90000 (chosen by tuning). The X axis is the execution time of a single run of the benchmark. The red blocks are the first pass for a given chunk, wh

[2019-10-24 02:32] hkaiser commented on #3733
@jefftrull very insightful, thanks!

[2019-10-24 03:04] jefftrull commented on #3733
Thanks! At your request I did another experiment with f3 dataflow launched as async(thread_priority_high) instead of sync. The result was a modest improvement in runtime but a considerable difference in the scheduling, as you can see:
![fast_16777216_f3_async_highpri](https://user-images.githubusercontent.com/762705/67449798-37391000-f5d0-11e9-8576-23f82fc8184c.png)

[2019-10-24 07:13] #4151 closed

[2019-10-24 12:21] hkaiser commented on #3733
@jefftrull thanks a lot! Now, some of the stage 3 tasks are run right away (as it should be), the majority of those however is run after a bunch of stage 1 tasks have run. I think what's happening is that the high priority setting is inherited to tasks that are spawned as dependencies. Would you be able to do the same again, but using `threads_priority_boost` instead of `threads_priority_high`. Th

[2019-10-24 15:42] hkaiser opened #4155 "get_self_id() for stackless threads returns invalid_thread_id"
## Expected Behavior

`threads::get_self_id()` for stackless threads should return a valid value.

[2019-10-24 18:55] jefftrull commented on #3733
It's my understanding that the stage 1 tasks have no dependencies... can this explain why they get run in preference to the stage 3 async/high priority tasks?

[2019-10-24 19:03] jefftrull commented on #3733
![priority_boost](https://user-images.githubusercontent.com/762705/67516830-28953c00-f656-11e9-8ef4-96b6d69acf71.png)
Not seeing a big improvement with that unfortunately...

[2019-10-25 00:19] jefftrull commented on #3733
Per @hkaiser 's IRC request here's a sweep of chunk size vs. runtime for the above input size, with 4 cores:

| Chunk Size | Time (ns) |
| ---------- | --------- |
| 20000 | 12126435 |
| 30000 | 11679925 |
| 40000 | 11597158 |
| 50000 | 11565757 |
| 60000 | 11635396 |
| 70000 | 11393571 |
| 80000 | 11437018 |
| 90000 | 11289811 |
| 100000 |11358582 |
| 110000 |11268380 |
| 120000 |11344181 |
| 130

[2019-10-25 00:22] jefftrull commented on #3733
For comparison, here's input size 524288, again with 4 cores. You can see it's much more responsive to chunk size:
| Chunk Size | Time (ns) |
| ---------- | --------- |
| 20000 |   265958 |
| 30000 |   251997 |
| 40000 |   228854 |
| 50000 |   217671 |
| 60000 |   215546 |
| 70000 |   205306 |
| 80000 |   209854 |
| 90000 |   217660 |
| 100000 |  233200 |
| 110000 |  236815 |
| 120000 |  225239 |

[2019-10-25 02:36] jefftrull commented on #3733
A further request was to show the priority of the threads when each chunk is run, i.e. with a color code.

I began work on this experiment, but found that:

1. `thread_priority_boost` for the stage 3 work results in _every_ chunk being run with priority 2 (normal)
2. `thread_priority_high` results in every stage 3 task being run with priority 5 (high) and every stage 1 with priority 2, _and yet st

[2019-10-25 12:11] hkaiser commented on #3733
@jefftrull thanks Jeff. Both observations need more investigation. Apparently we have somehow managed to break the thread priority logic in our scheduler.

[2019-10-25 12:30] msimberg commented on #3733
2. sounds pretty bad, but for 1. note that with `thread_priority_boost` the thread will be added to the high priority queue, but the priority will be changed to normal. So it will in fact be treated as a high priority thread. AFAIK we have no way to check which *queue* a thread was in (except to some extent with our logging...). Even though you couldn't see the priorities change, was there a diffe

[2019-10-25 15:19] jefftrull commented on #3733
Interesting observation re: boost priority - if there's a way to check the queue do LMK. I didn't see much difference in performance with `boost` vs `high` as you can see from the above pictures (total runtime is in the title of the plots).

Generally speaking increasing the chunk size worsened performance from the point I chose - it seems to be a minimum for runtime, which is why I picked it. My

[2019-10-25 15:26] jefftrull commented on #3733
Just ran the numbers (on a non-idle system) and I'll have to amend my last comment there a bit - performance does seem to improve a little past my chosen chunk size of 90K but it's nearly flat. Here's the data:

| Chunk Size | Runtime (ns) |
| ---------------- | ------------- |
| 20000 |     12247119 |
| 40000 |     11644954 |
| 80000 |     11333145 |
| 160000 |    11194785 |
| 320000 |    1109085

[2019-10-25 15:30] jefftrull commented on #3733
Also @hkaiser is it possible that the priorities are working correctly and there is a performance issue with dependencies? i.e., perhaps the high priority tasks are not considered "ready" for some reason.

We do see that a handful of them at the beginning are executed preferentially...

[2019-10-25 15:32] jefftrull commented on #3733
Also the gaps between the stage 3 tasks are interesting - almost as if a single thread decides to switch to stage 3 tasks, then another, then another, making three "lines" on the right side of those plots.

[2019-10-25 22:25] hkaiser commented on #3733
@jefftrull would you be willing to share the test code and the script that generates the plots with us?

[2019-10-25 22:28] hkaiser commented on #3733
Also, the table above shows that the best (parallel) execution time is reached for a chunksize of 640000 (i.e. 2560000 / 4, you were using 4 cores, so one chunk per core). OTOH, the graphs you shared seem to have much smaller chunks than that. What chunk size did you use to create the plots?

[2019-10-25 23:52] jefftrull commented on #3733
Yep, I think I used the chunksize that was best for a smaller data set (524288), which was 90000; I can use 640000 instead if that's helpful. Note it's only a little faster (roughly 3%).

I'll be happy to share the code; I had to hack HPX a bit to insert tracepoints so I'll have to think about how to cleanly do this in a fork...

[2019-10-27 15:35] hkaiser commented on #3654
@sithhell is this still a problem?

[2019-10-27 18:19] biddisco commented on #3733
@jefftrull - if you have a test, please upload it here, I have tracing/logging capabilities in my branch and can plot out some task related info given a simple test.

[2019-10-27 20:46] jefftrull commented on #3733
Yep see "MWE" above!

[2019-10-28 10:54] msimberg opened #4161 "It should be possible to call find_package(HPX) multiple times"
https://github.com/STEllAR-GROUP/tutorials uses a project structure with the main project calling `find_package(HPX)` and subprojects also calling `find_package(HPX)`, which leads to errors because of e.g. `hpx::boost` being created twice (https://circleci.com/gh/STEllAR-GROUP/tutorials/121).

I think this is a reasonable use-case to support. @aurianer what do you think? This should be as easy as

[2019-10-29 08:55] msimberg opened #4163 "Add back HPX_LIBRARIES and HPX_INCLUDE_DIRS"
We should still try to emulate these in the next release but deprecate the use of them.

[2019-10-29 16:44] aurianer commented on #4161
yep totally !

[2019-10-29 17:57] khuck commented on #3772
Closing this issue, as KNL has no future.

[2019-10-29 17:57] #3772 closed

[2019-10-29 18:09] khuck commented on #4150
That seems to have worked!  Thanks.  Want me to commit a change?

[2019-10-29 23:37] khuck opened #4169 "HPX won't build with APEX"
## Expected Behavior

Success

## Actual Behavior

Buildbot failure.  This is similar to issue #4115, but I have no idea how to resolve it.

See:
http://omega.nic.uoregon.edu:8020/#/builders/5/builds/22

## Steps to Reproduce the Problem

  1.  Configure HPX with APEX enabled, i.e.:

[code]

  1.  make core
  1.

## Specifications

  - HPX Version:  current master/stable
  - Platform (compiler, OS

[2019-10-30 14:06] aurianer commented on #4169
Can't access the webpage :/
[code]
Do I need some specific credentials ?

[2019-10-30 14:08] khuck commented on #4169
uhhh....no - I don't know why it doesn't load for you.  I'll check the log

[2019-10-31 08:27] #4150 closed

[2019-10-31 08:28] #4155 closed

[2019-10-31 10:13] aurianer commented on #4169
Sorry automatic closing.. ^^

[2019-10-31 10:14] aurianer commented on #4169
So I can `ping` the server without any problem and `nmap` with the specific 8020 port says it's open, I'm not sure where the problem comes from, I'll try with another browser !

[2019-10-31 10:32] aurianer commented on #4169
Yeah same with another brother, I would say it is a problem in the Fortiguard certificate settings :/

[2019-11-04 00:09] #4169 closed

[2019-11-04 14:46] stevenrbrandt opened #4182 "@HPX_CONF_PREFIX@ is the empty string"
## Expected Behavior
@HPX_CONF_PREFIX@ should expand to the installation directory of HPX.

## Actual Behavior

It expands to the empty string, causing hpxcxx to fail.

[2019-11-04 15:12] msimberg commented on #4182
Thanks @stevenrbrandt for catching that. Would you mind giving #4183 a try?

[2019-11-05 08:04] #4161 closed

[2019-11-05 08:09] #4182 closed

[2019-11-05 13:03] msimberg commented on #3848
This has already been removed during modularization.

[2019-11-05 13:03] #3848 closed

[2019-11-06 17:10] msimberg commented on #3850
@khuck please reopen if this is still an issue.

[2019-11-06 17:10] #3850 closed

[2019-11-06 20:38] biddisco opened #4185 "Simple debug output for development"
The simplified debug output that I use, takes the current form as shown below. It has proven to be extremely useful in debugging thread/task assignment in the scheduler work and can replace the macro based logging in the parcelport.

I welcome feedback on whether this is acceptable.
NB. I was going to remove some of the hex/ptr format stuff, but I will wait for feedback before doing anything more.

[2019-11-07 21:40] khuck opened #4187 "HPX can't build on OSX"
## Expected Behavior

normal build

## Actual Behavior

On Apple OSX, std::at_quick_exit() is not defined on OSX even when -std=c++11 is used

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  Configure HPX on OSX with GCC 8+ or Clang 8+ or built-in clang

## Specifications

... Please describe your environment

[2019-11-08 09:13] msimberg commented on #4187
@khuck would you mind trying #4189 out? It seems like this just isn't available on macOS.

[2019-11-08 14:46] msimberg commented on #3818
This is effectively possible right now, but I'd ask anyone itching for this to not rely on the current targets just yet. For libraries one can link to the `hpx` target and for applications one can link to `hpx_init hpx_wrap` and things should just work. For components one needs to manually set a few compile definitions which would normally be taken care of by the setup macros (`hpx_setup_target`).

[2019-11-08 14:50] msimberg opened #4194 "Consider using #pragma once"
This is a small convenience issue. Every now and then it happens that you want to create a new header file but start off by copying an existing header. Then you forget to update the include guards and spend far too long wondering why your definitions in the new header file aren't actually being defined. `#pragma once` would avoid this problem.

It's not standard but practically supported on every

[2019-11-08 15:34] hkaiser commented on #4194
@msimberg the only comment I'd have is that I would like to have this used either consistently across the whole library or not at all. Otherwise I am mostly impartial on how we make sure that #includes are protected from multiple inclusion. Not sure if it is worth the effort to redo every header we have...

[2019-11-08 21:41] khuck opened #4199 "Refactor APEX to eliminate circular dependency"
The HPX build keeps breaking because CI doesn't test with APEX and because there's a circular dependency between APEX and HPX. This proposed fix will eliminate the dependency, and will be the first step in making APEX a module.

The plan:

I think that making the APEX calls using a callback interface is the best
approach.  There are 11 API calls that are currently used, and one object
type.

The o

[2019-11-11 10:29] hkaiser commented on #4199
@khuck to store the registered callback in other places we have used either a `std::vector<hpx::util::unique_function_nonser>` (where more than one callback might be registered) or simply a `hpx::util::unique_function_nonser` (where exactly one callback is expected). This seems  a bit on the heavy side (especially for the timer callbacks from inside the scheduler).

For now we expect just one 'cal

[2019-11-11 13:43] instaM opened #4204 "Trouble compiling HPX with Intel compiler"
## Expected Behavior
I am trying to compile HPX on our linux-cluster  with the  Intel 19.0 compiler, however the build process fails with the same error message with any GCC version greater than 4.9.
## Actual Behavior
Build process throws following error:
`
[code]

## Steps to Reproduce the Problem
I am using following configuration:
[code]

## Specifications

 - HPX Version: 1.3.0.
 -Tried with

[2019-11-11 14:00] hkaiser commented on #4204
@instaM Thanks for reporting! We're about to release the next version of HPX (V1.4) and there will be a RC this week. Would you be able to test the current stable tag (https://github.com/STEllAR-GROUP/hpx/tree/stable) to see whether this issue is already fixed for you?

[2019-11-11 16:22] albestro commented on #3322
@hkaiser I'd like to find a way to fix this issue.

For what concerns single-vs-multiple configurations generators, I would split this check based on [GENERATOR_IS_MULTI_CONFIG](https://cmake.org/cmake/help/v3.16/prop_gbl/GENERATOR_IS_MULTI_CONFIG.html).

Here I'm assuming to work with the default set of build types: Debug, Release, RelWithDebInfo, MinSizeRel.
We may also evaluate to add an option

[2019-11-11 16:52] instaM commented on #4204
Thanks for the fast reply!
With the stable tag checkod out I get following error:
[code]

[2019-11-11 17:50] khuck commented on #4199
@hkaiser Do you have a recommended pattern example for this?  I was just going to define a single object with static function pointers in it, so only one registration was necessary...

As for the shared/unique difference - I admit I don't understand the difference between the two... I'll look into it.

[2019-11-11 17:57] hkaiser commented on #4199
I'd like to suggest not to tie all callbacks into the same object as that would create unnecessary couplings between the various modules we have/will create. Could you post the list of callbacks you need here to discuss how we could group them?

`shared_ptr` exposes shared ownership (hence the name), while `unique_ptr` is uniquely responsible for managing the memory it refers to. Thus `unique_ptr`

[2019-11-11 18:00] biddisco commented on #3322
I think it'd be fine to simply use
[code]
That would give a good enough warning on the machines that matter most you us. Visual Studio handles things pretty well in it's own way when building deb/rel stuff from dependent projects.

[2019-11-11 18:08] khuck commented on #4199
@hkaiser here are the functions I know I need so far (changing shared_ptr to unique_ptr of course) along with dummy implementations:

[code]

The reason I thought I would wrap them in an object is so that for each and every call we wouldn't have to check if the function pointer is null first.  If you know a better design pattern, I am all ears...

[2019-11-11 18:45] hkaiser commented on #4199
Sure. All I'm suggesting is not to have one object bundling all of the callbacks but perhaps split this into three/four different ones:

- global init/finalize
- thread related functions
- functions related to performance counters
- functions related to parcels

Besides it wouldn't make any difference in terms of checking for `nullptr`, as even if the functions are bundled we would need to check w

[2019-11-11 18:47] hkaiser commented on #4204
@instaM thanks! This looks like some compiler deficiency. We will apply a patch for the release that optionally removes those `constexpr` declarations for Intel (and NVCC - we have similar issues there) compilers.

[2019-11-11 19:14] hkaiser commented on #3322
Thanks @biddisco, this looks like a viable solution. See also #4205 for a corresponding patch.

[2019-11-12 08:21] albestro commented on #3322
Thanks @hkaiser for the patch!

[2019-11-12 16:40] khuck commented on #4199
@hkaiser it's mostly done, but I am having some trouble linking components when porting to other systems.  Here's a simple example... `libhpx_unorderedd.so` won't link on linux, because the included headers include annotated_function.hpp, which includes my new header external_timer.hpp, which declares the function pointer variables that are defined/instantiated in the implementation file external_

[2019-11-12 17:05] khuck commented on #4199
@hkaiser update: I was able to get it to link by making those symbols weak, but I am not sure that's the best solution...

[2019-11-13 05:14] khuck commented on #4199
@hkaiser ok, I've spent most of the day fighting with cmake to get everything to link, but I am just now realizing it won't work without help. Here's the current situation:

HPX doesn't have any calls to APEX any more.  However...that means when the libhpx_apex.a library is included in libhpx.so, nothing gets pulled in, even with the -whole-archive linker flags.  As a consequence, nothing gets lin

[2019-11-13 10:29] hkaiser commented on #4199
There are at least two solutions to this, I think:
- insert a call to the APEX initialization somewhere in hpx_init.cpp (this could be the function that registers your callbacks); we do similar things for other callbacks here: https://github.com/STEllAR-GROUP/hpx/blob/master/src/hpx_init.cpp#L587-L605
- do what #4135 describes, but I have no experience with that

I think the first suggestion would

[2019-11-13 16:23] khuck commented on #4199
@hkaiser actually, I stumbled across a solution.  Hopefully will have this finished soon.  When do you plan to release?

[2019-11-13 16:48] msimberg commented on #4199
@khuck I'll tag a release candidate tomorrow, but we'll wait with the final release until after SC (mid-December most probably).

[2019-11-13 20:11] khuck commented on #4199
@hkaiser @msimberg OK, I think I am done, and all my tests work both in HPX with/without APEX, and APEX with/without HPX.  I'm going to make a pull request once all my buildbot tests pass now that I have merged into develop on the APEX side.

[2019-11-14 19:42] diehlpk opened #4215 "HPX 1.4.0rc1 does not link on s390x"
## Expected Behavior

HPX should compile on s390x as hpx 1.3.0 compiled there.

## Actual Behavior

Linking error for

[code]

## Steps to Reproduce the Problem

Build HPX with on s390x, please look at the error log on [Fedora's build system](https://koji.fedoraproject.org/koji/getfile?taskID=38997711&volume=DEFAULT&name=build.log&offset=-4000) for more details.

## Specifications

... Please desc

[2019-11-15 14:04] #4215 closed

[2019-11-15 15:43] #4199 closed

[2019-11-15 16:04] #3322 closed

[2019-11-15 19:45] khuck opened #4220 "HPX won't compile - error building resource_partitioner"
## Expected Behavior

... Please describe the behavior you would have expected.

## Actual Behavior

The build is failing when compiling the resource_partitioner:
http://omega.nic.uoregon.edu:8020/#/builders/5/builds/38/steps/7/logs/stdio

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  `cmake -DCMAKE_CXX_COMPILER=/pac

[2019-11-15 19:53] khuck commented on #4220
this might be related to the empty -DHWLOC_ROOT flag.  Checking to see if that's the problem...

[2019-11-15 19:56] msimberg commented on #4220
Hmm, that looks awfully close to what #4190 fixed, except it was meant to work with GCC 7. Maybe we need to make enable it only form GCC 8 onwards instead...

[2019-11-15 19:57] khuck commented on #4220
@msimberg is there something I can change to check that?  It's not the HWLOC flag, by the way.

[2019-11-15 20:00] khuck commented on #4220
@msimberg changing that version to 80000 worked, btw.  Should I do a pull request, or do you want to look further into it?

[2019-11-15 20:03] khuck commented on #4220
@msimberg interestingly, it worked on Intel KNL with GCC 7.3...but without MPI enabled.  See http://omega.nic.uoregon.edu:8020/#/builders/7/builds/39

[2019-11-15 20:04] msimberg commented on #4220
It could be GCC 7.1. This is our rostam build with GCC 7.3: http://rostam.cct.lsu.edu/builders/hpx_gcc_7_boost_1_65_centos_x86_64_debug/builds/472/steps/configure/logs/stdio which is happy. You do have a lot of additional options, but the build fails earlier so the GCC version is a good candidate.

[2019-11-15 21:38] khuck commented on #4220
@msimberg you are right, I was wrong - I was building with 7.1, and that failed.  With the update to 7.3, it worked and changing to 70300 worked.  I'll submit a PR.

[2019-11-16 07:12] jefftrull commented on #3733
@hkaiser requested I make available the visualization stuff I've been using to understand exclusive_scan execution. My HPX branch is [here](https://github.com/jefftrull/hpx/tree/feature/parallel_alg_tracepoints) and the repo with my test code is the same one but [a new branch](https://github.com/jefftrull/hpx_scanalgs/tree/feature/tracepoints) - `exsvp` is still the binary you want to run. [analyz

[2019-11-16 15:37] hkaiser commented on #3733
@jefftrull thanks a lot for preparing this!

[2019-11-18 13:09] albestro opened #4223 ""Re-using the main() function as the main HPX entry point" doesn't work"
## Expected Behavior

It is expected to work (as per [documentation](https://stellar-group.github.io/hpx/docs/sphinx/latest/html/manual/starting_the_hpx_runtime.html#re-use-the-main-function-as-the-main-hpx-entry-point))

## Actual Behavior

[code]

## Steps to Reproduce the Problem

Build the attached example source.

The macro `NOT_WORKING_VARIANT` controls which source code variant to use:
- wi

[2019-11-18 13:13] msimberg commented on #4223
@albestro how are you building the test executable?

[2019-11-18 13:14] albestro commented on #4223
With a basic CMakeLists.txt in a bigger project, with something like

[code]

[2019-11-18 13:17] albestro commented on #4223
Here the full HPX stacktrace

[code]

[2019-11-18 13:19] albestro commented on #4223
And here an extract of what I get from the preprocessor

[code]

[2019-11-18 13:24] albestro commented on #4223
I gave a quick look and I arrived at https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/hpx_main.hpp so maybe it’s a build problem on my side about `HPX_HAVE_STATIC_LINKING`

I’ve just switched to the other method, but I think it can be helpful for others that may incur in the same problem.

[2019-11-18 14:51] hkaiser commented on #4223
@albestro so this is caused by `-DHPX_WITH_STATIC_LINKING=On`? Interesting! @NK-Nikunj: are you aware of this.

[2019-11-18 15:04] albestro commented on #4223
@msimberg and I chatted offline about this and we did a few tests. I give a quick report here.

In HPX 1.3.0 the required `-Wl,-e,_initialize_main` seems to be used just by `hpx_setup_target` and for pkg-config related stuff.

For this reason, if you use `add_hpx_executable`, that internally uses `hpx_setup_target`, everything works correctly.

The problem arise if you try setting up CMake by not

[2019-11-18 15:07] albestro commented on #4223
Additional note: I tested it on newest master (fd67ac0f86cb6a8b6c7692fed3e7498db28a1ba8) and everything works correctly both using `add_hpx_executable` or using `target_link_libraries(... ${HPX_LIBRARIES} ${HPX_LINK_LIBRARIES})`.

[2019-11-18 15:19] msimberg commented on #4223
Just for the record, I think `HPX_WITH_STATIC_LINKING` was a red herring (especially because last time I tried it was more broken than this: #3970).

[2019-11-18 15:20] msimberg commented on #3970
This may actually work again now that we export more targets... I'll give this a try in the next days.

[2019-11-18 15:24] NK-Nikunj commented on #4223
This looks interesting. I remember building with `HPX_WITH_STATIC_LINKING=On` and it worked just fine with it as well.

[2019-11-18 15:28] NK-Nikunj commented on #4223
It seems like it has something to do with recent CMake changes. I'm pretty sure my method works for statics as well.

[2019-11-18 15:31] msimberg commented on #4223
@NK-Nikunj don't worry :) static linking is broken in different ways but I think it's unrelated to this. I'm closing this now since it works on latest master. If someone really badly needs a patch release to fix this on macOS, let us know.

[2019-11-18 15:31] #4223 closed

[2019-11-18 18:04] mratsim opened #4227 "Fibonacci: segfaults and scalability issues"
I've been measuring the overhead of various multithreading runtimes. HPX seems to have a couple of issues with a naive fibonacci.

## Expected Behavior

Fibonacci examples complete in a reasonable time

## Actual Behavior

HPX either segfaults or takes a very long time for no reason

## Steps to Reproduce the Problem
### Problem 1: Sudden spike in time required to compute fibonacci.

1. Compile al

[2019-11-18 18:17] hkaiser commented on #4227
Thanks for reporting! However I don't think that the trivial Fibonacci implementation is a good benchmark for any runtime system... what is your real usecase?

[2019-11-18 18:46] mratsim commented on #4227
It's a good benchmark to measure runtime overhead.

I'm currently building my own runtime for the [Nim programming language](https://nim-lang.org/) with a focus on very-fine grained parallelism. My goal is to expose parallelism to users even for tasks in the 1000 cycles as while we get more cores the minimum grain size is an issue.

Given that fibonacci is a benchmark with only a single instructio

[2019-11-19 04:28] hkaiser commented on #4227
As HPX launches a new 'thread' for each invocation of the simple Fibonacci (this includes a stack allocation and a full future instantiation) implementation it will compare very badly against anything that does not do that. The overhead of one task/thread in HPX is about 1 microsecond per task, you can measure that easily using the future-overheads benchmark (https://github.com/STEllAR-GROUP/hpx/b

[2019-11-19 08:43] msimberg opened #4228 "Make HPX install relocatable"
There are currently certain hardcoded installation paths in HPX. It would be nice to be able to move the installation freely, but the hardcoded paths prevent that. This is not high priority but considered best practice for CMake packages.

[2019-11-19 11:57] #4204 closed

[2019-11-19 14:14] msimberg commented on #4163
This has been added back.

[2019-11-19 14:14] #4163 closed

[2019-11-19 14:17] msimberg commented on #4123
@kordejong did you resolve this by yourself in the end? I'm hoping that it's only the documentation that's wrong... could you give it a try with `--hpx:papi-event-info` instead?

[2019-11-19 14:18] msimberg commented on #4072
@weilewei did you solve this in the end?

[2019-11-19 14:20] msimberg commented on #4148
Do we know enough about the behaviour here? Should we maybe revert back to using manual padding instead of alignas for the release until we understand the problem better?

[2019-11-19 14:59] hkaiser commented on #4148
@msimberg yes, I was planning to suggest doing exactly that - roll things back to manual alignment.

[2019-11-19 15:10] hkaiser commented on #4227
@mratsim Sure, I understand where you're coming from. The main question that would interest me however would be where other runtimes 'cut corners' by operating under well defined constraints that allow for optimizations. We usually can't apply those optimizations to HPX because of its general purpose nature (at least not in the general case). OpenMP (before V5) for instance can rely on the fact th

[2019-11-19 15:30] K-ballo commented on #4194
Weakly against.

[2019-11-19 15:53] hkaiser commented on #4123
The PAPI counters can be considered abandoned at this point. I'd be supportive to removing them altogether if nobody steps up willing to maintain them.

[2019-11-19 15:56] hkaiser commented on #4228
Note that because of limitations of certain platforms (linux included) we compile the location of the executable into the binary... This might put a stick into this wheel.

[2019-11-19 17:26] mratsim commented on #4227
Yes of course, for example Staccato requires at the moment to declare the computation as a task and also indicate at compile-time how many tasks an async computation can spawn (for example fibonacci is 1 if we only fork(n-1) or 2 if we fork(n-2). This is used with great effect to be able to use a StackAllocator.
More special case: fibril requires x86-64 calling convention + assembly to implement r

[2019-11-19 19:57] hkaiser commented on #4227
Thanks for the links!

[2019-11-19 22:48] mratsim commented on #4227
You're welcome, I actually have plenty more here but I fear there is no enough time in a year to digest them all: https://github.com/numforge/laser/blob/master/research/runtime_threads_tasks_allocation_NUMA.md

[2019-11-20 06:10] jefftrull commented on #3733
I've added a visualization of when the `f2` combining task gets executed. A diamond marks the time that the result of the `f1` stage of a given partition is combined with the `f2` stage of the previous partition, conditionally enabling the next partition's `f2` and `f3` stages to begin.

[2019-11-20 09:03] #3653 closed

[2019-11-20 09:03] #3725 closed

[2019-11-20 11:10] kordejong opened #4232 "Configure of HPX project using CMake FetchContent fails"
## Expected Behavior

My project uses CMake's FetchContent module to fetch, configure and build HPX. Configuring and building my project should trigger a successful configure and build of HPX.

## Actual Behavior

Configuring of the HPX project fails with messages like this:

[code]

## Steps to Reproduce the Problem

  1. git clone https://github.com/kordejong/hello_hpx.git
  1. ./debug_build.sh

[2019-11-20 11:17] kordejong commented on #4232
Output from running `debug_build.sh` on my machine:

[debug_build.txt](https://github.com/STEllAR-GROUP/hpx/files/3868880/debug_build.txt)

[2019-11-20 14:01] aurianer commented on #4232
@kordejong is that working for you ?

[2019-11-21 08:26] kordejong commented on #4232
Great, your update fixes the configure error! The build starts, but does not finish successfully. Here is the full output, again from running `debug_build.sh`.
[debug_build.txt](https://github.com/STEllAR-GROUP/hpx/files/3873553/debug_build.txt)

[2019-11-21 08:35] kordejong commented on #4123
@msimberg No, I did not resolve the issue. I could not get the PAPI counters to work. I tried both `--papi-event-info` and `--hpx:papi-event-info`. Both variants result in the same error message.

[2019-11-21 09:33] aurianer commented on #4232
That should be good now :)

[2019-11-21 14:47] kordejong commented on #4232
Building HPX with your latest commit gets me 26% into the build, but it then stops with this error message:

[code]

[2019-11-21 15:36] hkaiser commented on #4123
@maciekab You created the PAPI counters in HPX quite a while back. Would you be willing to further maintain them in the future (by starting to try fixing this issue first, perhaps)? Thanks!

[2019-11-21 15:59] aurianer commented on #4232
So I used your repo `hello_hpx` and it is configuring and building fine when using the `GIT_TAG` 560e3d06568 (latest commit on the PR) inside the `FetchContent_Declare`, did you update the tag used ?

[2019-11-21 16:16] kordejong commented on #4232
Yes, I used that same commit. I double-checked the HPX commit used in the build and it is indeed same (560e3d06568).

[2019-11-21 16:30] kordejong commented on #4232
I am new to using PRs, but everything looks OK in my local repository. `git show 560e3d0` outputs the same edits as shown here: https://github.com/STEllAR-GROUP/hpx/pull/4233/files

[2019-11-22 08:04] kordejong commented on #4232
The missing `hpx/config/config_strings.hpp` appears to be generated during the build and put in `hpx-build/hpx/config/config_strings.hpp`. Is `hpx-build` added to the list of directories the compiler needs to search for headers?

I know it works for you and it doesn't for me, but I just got rid of all my local HPX sources, and cloned fresh sources and your PR. Configuring works fine, but after 26%

[2019-11-22 09:09] aurianer commented on #4232
Could you make me the same file with the whole build output like before ?

[2019-11-22 09:55] kordejong commented on #4232
[debug_build.txt](https://github.com/STEllAR-GROUP/hpx/files/3878933/debug_build.txt)

[2019-11-22 09:57] aurianer commented on #4232
Thanks, that should be solved now, sorry for the delay my `grep` for the old cmake variables was not as exhaustive as I thought ^^

[2019-11-22 10:09] kordejong commented on #4232
I just tested your new commit a81289b0e66. The build of `version.cpp` still fails, but with a slightly different error:

[code]

I think we are getting close ;-)

[2019-11-22 10:52] aurianer commented on #4232
Haha sorry ^^ now ?

[2019-11-22 11:30] kordejong commented on #4232
Yes, the build succeeds now with your commit ab4f095dd21. Very good! I guess this issue can be closed now.

[2019-11-22 12:47] msimberg commented on #3970
Things are better, but still don't work. This is definitely fixable but I'll leave it until someone actually asks for this. Please speak up if you do need it!

[2019-11-22 13:00] msimberg commented on #4123
@kordejong I gave this a try and I suspect that the counters do actually work.

We've been moving generated files around in the build directory recently, and at least for me this meant that the build was picking up a stale `config.hpp` header without `HPX_HAVE_PAPI` set. This meant that the plugin got built, but was essentially empty and was not loaded. Would you mind checking if that's the proble

[2019-11-22 13:57] kordejong commented on #4123
I just built a new debug build of HPX, based on commit ab4f095dd21. `./fibonacci --hpx:list-counters` prints the performance counters, but `./fibonacci --hpx:papi-event-info=all` crashes: `{what}: Segmentation fault`.

The only HPX configuration option I passed to CMake was `-DHPX_WITH_PAPI:BOOL=ON`.

The top of gdb's backtrace looks like this:

[code]

[2019-11-22 15:07] msimberg commented on #4123
Good catch! I was running the `hello_world_1`, but I could reproduce your problem with the `fibonacci` example as well. Would you mind giving #4243 a go?

[2019-11-22 15:22] kordejong commented on #4123
I copied your edits to my local sources and things have improved a lot ;-)

[code]

[2019-11-22 15:40] msimberg commented on #4123
I'm not sure if you implied that things are not quite there yet, but just in case: those are all the counters you will see from `--hpx:list-counters`. `--hpx:papi-event-info` will print actual event names that have to be appended to `/papi{locality#*/total}`, e.g. `/papi{locality#*/total}/PAPI_L1_DCM`. Let me know if you find other things that are not working though!

[2019-11-22 16:09] hkaiser commented on #3970
If this will not be fixed for V1.4, please add a 'known problems' to the release notes.

[2019-11-22 16:22] kordejong commented on #4123
I am sorry for my confusing remark. I meant to say that I am happy with your fixes. I have never used the PAPI counters before, so I will have to look into them. But at least now I can use them, which until now was not possible. Thank you for your fixes! I would think this ticket can be closed now.

[2019-11-22 16:30] msimberg commented on #3970
Yeah, good idea. Will do!

[2019-11-22 16:31] msimberg commented on #4123
No worries, glad it's working for you! This will be closed once #4243 is merged.

[2019-11-24 18:36] weilewei commented on #4072
@msimberg problem solved. Thanks!

[2019-11-24 23:46] jefftrull commented on #3733
Here's a sample image from that new analysis. You can see the code effectively becomes serial about 2/3 of the way through execution:
![with_stage2](https://user-images.githubusercontent.com/762705/69503694-4a8e1280-0ed1-11ea-9387-03b467ab89f9.png)

Some observations:

- Nearly all the first stage tasks are run prior to any stage 2 or 3 tasks. This creates a couple of performance impacts:
  1. The

[2019-11-24 23:51] jefftrull commented on #3733
As a comparison point, this is a run with all the f2 tasks constructed _before_ the f3 tasks so they take priority. It constitutes a best case for scheduling, IMO.
![best_case](https://user-images.githubusercontent.com/762705/69503774-267f0100-0ed2-11ea-81a3-62f1b70e1eef.png)
Unfortunately variation in execution times of the stage 1 tasks meant that most runs did not do as well. Still I think it's

[2019-11-25 07:53] msimberg commented on #4072
Thanks!

[2019-11-25 07:53] #4072 closed

[2019-11-25 19:37] biddisco commented on #4223
@NK-Nikunj
Any idea why I'm getting this error
[code]

[2019-11-25 23:21] NK-Nikunj commented on #4223
@biddisco
Interesting! It is linking with `hpx_wrapd.a` and yet complaining that it can't find the symbol.

[2019-11-25 23:26] NK-Nikunj commented on #4223
Let me have a look at it tomorrow. Maybe I'm getting something wrong somewhere.

[2019-11-26 03:18] biddisco commented on #4223
I solved my problem so please ignore this question

[2019-11-26 03:18] biddisco commented on #4223
it turned out to be the order of linking that was causing trouble. All fixed now.

[2019-11-26 08:14] #4232 closed

[2019-11-26 14:24] #3675 closed

[2019-11-26 15:08] NK-Nikunj commented on #4223
Aah, I see! Glad it worked out.

[2019-11-27 16:39] msimberg commented on #2997
There are a number of executors that are based on (as far as I can tell) the very old executor interface (with `add`, `add_at`, `add_after`) that I think we should seriously consider removing or rewriting:

- `pool_executor` and `service_executor`: These are essentially (useful) wrapper executors for thread pools that already exist, and could be rewritten using the `post/async_execute/...` interfa

[2019-12-02 12:57] #3838 closed

[2019-12-04 01:00] mratsim commented on #4227
I was re-reading on old comparison of multithreading runtimes from Sandia National Laboratories, a US-led scientific program, at  https://prod-ng.sandia.gov/techlib-noauth/access-control.cgi/2012/1210594.pdf

They had to remove HPX (and GCC OpenMP and Nemesis QThreads) to analyze the other runtimes (Cilk, Intel OpenMP and Intel TBB). It would be nice to address that.
![DeepinScreenshot_select-area

[2019-12-04 02:22] hkaiser commented on #4227
Let's work on improving these particular use cases in HPX first. Then I'd be more than happy to have those comparisons done again. That comparison was made a long time ago, I think we can do much better nowadays.

[2019-12-05 17:37] hkaiser commented on #4148
This has been fixed by merging #4235

[2019-12-05 17:37] #4148 closed

[2019-12-06 08:25] biddisco opened #4263 "Compilation fail on latest master"
In future_overhead test, compilation fails because
`HPX_PLAIN_ACTION(null_function, null_action)`
causes some kind of problem.
This only happens for me on daint and might be caused by some oddity in my configuration
[code]

[2019-12-06 08:31] msimberg commented on #4263
That's related to #4254. Which compiler and C++ standard are you using?

[2019-12-06 09:02] biddisco commented on #4263
note: g++ (GCC) 7.3.0 20180125 - c++14

[2019-12-06 09:06] #3824 closed

[2019-12-06 12:03] hkaiser commented on #4263
I think the easiest solution would be to always run the corresponding feature test (instead of only running it in C++17 mode), see https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/tests/cxx17_noexcept_function.cpp. That should take care of this.

[2019-12-09 08:31] #4263 closed

[2019-12-09 13:13] kordejong opened #4269 "Building HPX 1.4.0-rc2 with support for APEX fails"
## Expected Behavior

Build succeeds successfully

## Actual Behavior

Build fails once the build of APEX library starts.

## Steps to Reproduce the Problem

  1. git clone https://github.com/kordejong/hello_hpx
  1. cd hello_hpx
  1. edit `rel_with_deb_info_build.sh`, comment all rebuild lines except the one triggering the build with support for APEX (the other builds succeed)

## Specifications

[2019-12-09 13:18] kordejong commented on #4269
The relevant section from the build output, containing the error message.

[2019-12-09 13:25] kordejong commented on #4269
This may be a false negative. I just noticed that the HPX_WITH_APEX_TAG flag isn't propagated. I will update this ticket once I have fixed this.

[2019-12-09 14:02] kordejong commented on #4269
Sorry for the noise, this was indeed a user error.

[2019-12-09 14:02] #4269 closed

[2019-12-11 14:09] #3861 closed

[2019-12-11 20:03] khuck commented on #4187
Closing, as this is fixed

[2019-12-11 20:03] #4187 closed

[2019-12-12 09:39] kordejong opened #4273 "Clients of HPX 1.4.0-rc2 with APEX ar not linked to libhpx-apex"
## Expected Behavior

When using a build of HPX with support for APEX I expect it to be possible to generate a trace without having to instrument my code.

[code]

## Actual Behavior

Without calling an APEX function from my code my program is not linked to libhpx-apex and no trace is generated. When I do call an APEX function, my program is linked to libhpx-apex and a trace can be generated. The

[2019-12-12 10:20] msimberg commented on #4273
Would you mind trying to build HPX the "plain" way, i.e. without fetchcontent so that we can rule out any local differences in the environment? I just gave it a try and the examples are definitely linked to `libhpx_apex.so`, and I get the following output:
[code]
Is this the output you expect to see when you say trace?

[2019-12-12 11:08] kordejong commented on #4273
Good suggestion! Yes, your output is what I am expecting to see. I just rebuilt HPX with this script:

[code]

I still get the same result though:
[code]

BTW, I use CMake 3.15.4

[2019-12-12 12:11] msimberg commented on #4273
I'm a bit stumped. I thought perhaps the build type could affect whether it gets linked or not, but that doesn't seem to be the case.

So just to make sure, you should have this line in `src/CMakeLists.txt`: https://github.com/STEllAR-GROUP/hpx/blob/45c26afc73f3fa7c2b0b3ded6584df60e2f82d55/src/CMakeLists.txt#L286. Could you also do a verbose build? If `libxhpx_apex.so` is not in there something is

[2019-12-12 13:13] kordejong commented on #4273
Yes, I have the same line in `hpx/src/CMakeLists.txt`. This is the link line on my machine:

[code]

APEX is in there, but it isn't actually linked. This is with the 1.4.0-rc2 tagged commit. I will start a build with the latest commit in master.

[2019-12-12 14:08] kordejong commented on #4273
I get the same results when building the last commit in master (45c26afc73f) and not passing HPX_WITH_APEX_TAG=develop.

[2019-12-12 15:38] msimberg commented on #4273
I'm struggling to think of any useful suggestions. For completeness, what's your linker (probably `ld --version`)? @hkaiser, @biddisco, @sithhell, @khuck, @aurianer any ideas?

[2019-12-12 15:40] kordejong commented on #4273
[code]

[2019-12-13 08:48] msimberg commented on #4273
We all have the same order of `libhpx` and `libhpx_apex`...

@kordejong could you try wrapping `../../apex/src/apex/libhpx_apex.so.1.4.0` like this: `-Wl,-no-as-needed ../../apex/src/apex/libhpx_apex.so.1.4.0 -Wl,-as-needed` (I think; the `-no-as-needed` flag is the important part that needs to come before `libhpx_apex`). I'd do it manually just by copying the link line but if you know where to pu

[2019-12-13 08:50] biddisco opened #4274 "Implement Task-Bench (potentially as a GSoC project)"
The paper referenced here
https://arxiv.org/abs/1908.05790
describes a benchmark suite for task-based programming APIs. We should add HPX support to the benchmark suite to see how we compare to other runtimes.

This would make a good GSoC project for a student.

[2019-12-13 10:53] kordejong commented on #4273
Yes, your suggestion did the trick! Now fibonacci is linked to libhpx_apex and I can make it report profile/trace information to the screen. I also (only) tried reordering the libraries on the link line, putting the apex lib before the hpx ones, but that did not make a difference. So you are right, wrapping the apex lib with `-Wl,-no-as-needed` and `-Wl,-as-needed` works.

It seems that the behavi

[2019-12-13 13:08] msimberg commented on #4273
Excellent, thanks for your patience and for testing this! I'll try to convince CMake to add those flags for the release.

[2019-12-13 14:11] msimberg commented on #4273
@kordejong please see #4275.

[2019-12-14 22:08] biddisco commented on #4185
closed in #4249

[2019-12-14 22:08] #4185 closed

[2019-12-14 22:11] biddisco commented on #4101
closing this because #4249 adds this support, but the topic should be revisited as we move to a better way of combining scheduler params, executor params, launch policies and task information

[2019-12-14 22:11] #4101 closed

[2019-12-15 20:31] biddisco commented on #3861
Did anything come of this? has anyone tested on Raspberry Pi recently. I have a pi 4 at home and might try a build, but need to setup a toolchain for it (which might be a job for the christmas break).

[2019-12-15 20:43] biddisco commented on #3969
Just want to mention that the latest libfabric has early support for collectives
https://ofiwg.github.io/libfabric/master/man/fi_collective.3.html
this is one (more) reason why moving from a tcp (boost/std::asio) based default to a libfabric based one would be a good move.

[2019-12-16 08:12] #4273 closed

[2019-12-17 22:21] aserio opened #4278 "Build Issues with CMake 3.14.4"
## Expected Behavior

CMake should be able to build HPX without needing PkgConfig

## Actual Behavior

Received this error when building HPX in Visual Studio on Windows:

Configuration:
-DCMAKE_RELEASE_TYPE=Debug
-DCMAKE_TOOLCHAIN_FILE=C:\path_to_my_vc\vcpkg.cmake
-HPX_WITH_DOCUMENTATION=On

## Specifications

... Please describe your environment

  - HPX Version: Master
  - Platform (compiler, OS

[2019-12-18 08:29] msimberg commented on #4278
Excellent catch, thanks @aserio! I think pkgconfig is a red herring. `HPX_CXX_STANDARD` is not set on Windows when the standard is auto-detected. I think I'll simply disable that test on Windows for now as it doesn't seem to be quite right anyway. After the release the C++ standard check will go away anyway and we can enable it cleanly again.

[2019-12-18 09:03] msimberg commented on #4278
@aserio would you mind trying out #3279?

[2019-12-18 15:08] aserio commented on #4278
@msimberg I have good news and I have bad news :D
Good news: CMmake configures and generates without errors!

Bad news: When building core I get these errors:

1>throw_exception.cpp
1>parcelhandler.cpp
1>c:\users\adria\git\hpx\src\throw_exception.cpp(54): error C2440: '<function-style-cast>': cannot convert from 'boost::system::error_code' to 'hpx::exception'
1>c:\users\adria\git\hpx\src\throw_exc

[2019-12-18 15:11] msimberg commented on #4278
@aserio yes please!

[2019-12-18 15:20] aserio opened #4282 "Build Issues with Release on Windows"
When building HPX Core on the current release branch(7112d99) I receive the following error:

1>throw_exception.cpp
1>parcelhandler.cpp
1>c:\users\adria\git\hpx\src\throw_exception.cpp(54): error C2440: '': cannot convert from 'boost::system::error_code' to 'hpx::exception'
1>c:\users\adria\git\hpx\src\throw_exception.cpp(54): note: No constructor could take the source type, or constructor overloa

[2019-12-18 15:23] aserio commented on #4278
Created new ticket Issue #4282 to address compilation issues. Closing this ticket as the CMake issue has been resolved on the release branch with PR #4279

[2019-12-18 15:32] msimberg commented on #4282
I'm confused as to why it fails for you but not on any of our CI builds... but could you try adding `hpx/errors/exception.hpp` to this list: https://github.com/STEllAR-GROUP/hpx/blob/2216d7f2134f74ee000f837f2ec0adb824538ab8/libs/errors/CMakeLists.txt#L12-L19?

[2019-12-18 15:54] msimberg commented on #4282
I won't be around much in the next few hours. @hkaiser, @K-ballo would you mind having a look if the above doesn't resolve the problem?

[2019-12-18 15:56] aserio commented on #4278
I'm sorry @msimberg I screwed this up. I did not properly set up the release branch on my machine. I am still seeing the error on release. I have attached the full error below:

CMake version: 3.14.4
HPX version: 1.4.0
No vectorization library configured
Native TLS is enabled.
Nice threadlevel is disabled.
Stack traces are enabled.
Compiling with the native toolset
C++ mode used: C++
Performing Te

[2019-12-18 15:56] K-ballo commented on #4282
That sounds a lot like a very very old issue having to do with Boost making their `error_code` conversions explicit.

[2019-12-18 16:03] aserio commented on #4282
@msimberg and @K-ballo I just realized this is a problem with my set up. @K-ballo you are right on target. Sorry for the noise!

[2019-12-18 16:03] #4282 closed

[2019-12-18 16:05] msimberg commented on #4278
Ah, my bad. I've just pushed to a commit to the release branch that hopefully fixes it. Could you give it a try again?

[2019-12-18 17:56] aserio commented on #4278
@msimberg  your changes work! Interesting thing to note, it still reports that it cannot find PkgConfig but it now does not interrupt the build:

  component_storage
  containers
  iostreams
  performance_counters
  process

Complies and runs hello_world as well.

Thanks.

[2019-12-18 17:56] #4278 closed

[2019-12-19 08:13] msimberg commented on #4278
We always try to find pkgconfig but don't require it, so the warning is harmless. However, if it's never needed (or available) on Windows we could just not look for it there.

[2019-12-19 11:13] hkaiser commented on #4278
@msimberg pkgconfig is never needed on Windows when using the native toolchain (MSVC).

[2019-12-23 18:15] khuck opened #4286 "CMake inserting unwanted quote characters"
## Expected Behavior

MPI Configurations should work fine.

## Actual Behavior

When the MPI library has more than one flag defined, the MPI flags are added to CXX_FLAGS with quotes around them.  For example, the openmpi build I am using defines `MPI_CXX_COMPILE_OPTIONS=-fexceptions;-pthread`. When that gets added to the CXX_FLAGS, it is added with quotes (and fails to compile).  For example, `plu

[2019-12-23 18:19] khuck commented on #4286
...I think this extra flag is coming because OpenMPI is built with C++ exception support.

[2019-12-25 08:31] biddisco commented on #3560
I'm closing this because #4257 addressed the main problem. We have at least a functional wrapper type for apex annotation even if we cannot use the inline RAII approach.

[2020-01-01 14:47] #2140 closed

[2020-01-06 10:00] msimberg commented on #4286
What version of CMake are you using? And did you actually mean `MPI_CXX_COMPILE_FLAGS`? We are still using the (deprecated) `MPI_CXX_COMPILE_FLAGS` variable, and not `MPI_CXX_COMPILE_OPTIONS` when setting up the `hpx::mpi` target. I tried manually setting `INTERFACE_COMPILE_OPTIONS` to `"-pthread;-fexceptions"` here: https://github.com/STEllAR-GROUP/hpx/blob/fe37ef4c7fd6f35ae96dacf1841ecb39c629e30

[2020-01-07 15:34] #3893 closed

[2020-01-08 09:50] biddisco commented on #3560
It turns out things are still not quite working correctly. Using the scheduler_priority_check test with some new tweaks, I am creating tasks with a well defined number of invocations
[code]
when apex generates the OTF - vampir displays
![Screenshot from 2020-01-08 10-39-26](https://user-images.githubusercontent.com/941548/71967537-cc2ccc00-3203-11ea-9e22-b0fc66c6d9e1.png)
Which is clearly incorrec

[2020-01-08 13:07] sithhell commented on #4228
We already have a cmake option to turn of the install rpath setting: `HPX_FULL_RPATH`. This currently defaults to `ON` on linux and `OFF` on windows and macos.

[2020-01-08 13:09] hkaiser commented on #3560
@biddisco could it be that we missed to pass through the `annotation` during thread creation everywhere? There seems to be at least one spot we forgot to fix: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/futures_factory.hpp#L134.

[2020-01-08 13:27] biddisco commented on #3560
That is certainly a mistake/bug - but would it not just leave the task "unknown" or default name?
I'll look through all the places and try fixing them to see if the problem goes away.

[2020-01-08 15:30] KilianWerner opened #4297 "MPI Backend Trouble"
## Expected Behavior

Given a system with a single clean OpenMPI installation an mpi hello world program finds a given Comm_size and Comm_rank. (for example 0/2 and 1/2 for mpirun -np 2)

We now compile HPX with MPI_Parcelport=ON with this same OpenMPI installation.
Then an HPX application run with mpirun -np 2 should find those same ranks and sizes as hpx::get_locality_id() and hpx::find_all_loca

[2020-01-08 15:39] hkaiser commented on #4297
@KilianWerner could you please try the same when using https://github.com/STEllAR-GROUP/hpx/tree/stable (i.e. last known good master)? We're about to release V1.4 and it would be nice to know if this was fixed in the mean time.

[2020-01-08 15:50] biddisco commented on #4297
I wonder if this might be due to the use of OpenMPI. I believe we all use MPICH or cray MPI etc and nobody tests OpenMPI. Our MPI environment check might not be looking for the right env vars or something of that kind.

Do any of the core developers use OpenMPI and can they run a simple check?
I will build openmpi and test myself if nobody else volunteers.

[2020-01-08 15:55] KilianWerner commented on #4297
Replacing git clone https://github.com/STEllAR-GROUP/hpx.git --branch master --single-branch
with git clone https://github.com/STEllAR-GROUP/hpx.git --branch stable --single-branch

results in the following build error for now:
'filesystem' is not a namespace-name  (see file attached)

[error.txt](https://github.com/STEllAR-GROUP/hpx/files/4036094/error.txt)

[2020-01-08 15:59] biddisco commented on #4297
That's a C++17 thing. It will go away if you use c++14. I've had the same error on several builds but I didn't check to see what was wrong. I was mixing an app using c++17 with an hpx build using c++14 - if hpx itself is causing trouble, we should investigate.

[2020-01-08 16:09] KilianWerner commented on #4297
Thank you. The docker container has been updated to pull --branch stable and consitently use c++ 17 (the hpx application was compiled with c++ 14).

This however results in the hpx hello world application giving a bad alloc:
mpirun -np 2 singularity exec min.sif /home/myUser/MinimalExample/build/hpxmin
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
termin

[2020-01-08 16:18] biddisco commented on #4297
[code]
Results
[code]

[2020-01-08 16:25] msimberg commented on #4297
These may be unrelated, but is there a good reason for you to set `HPX_IGNORE_COMPILER_COMPATIBILITY` to `ON`? `mpicxx` should identify itself as the actual host compiler. I'd also try setting the build type expclitly for both the example project and HPX to `Debug` to potentially get more useful errors messages (that `bad_alloc` looks like it's happening before the runtime has been started). Last,

[2020-01-08 16:33] KilianWerner commented on #4297
@biddisco I got into a shell in the provided docker container and tried your style of compilation:

sudo docker run -it kilianwerner/hpxminimal /bin/bash
myUser@80670e84fd40:~/hpx-test$ cmake -DMPI_CXX_COMPILER=/usr/bin/mpicxx -DHPX_WITH_PARCELPORT_MPI=ON /hpx/hpx/

Then:
mpiexec -n 2 bin/hello_world_distributed

Still results in bad alloc.

[2020-01-08 16:35] KilianWerner commented on #4297
@msimberg HPX_IGNORE_COMPILER_COMPATIBILITY has been removed and build types have been changed to Debug in the git repository, the new container is currently building... You can play around with the container in a shell if you have installed docker with 'sudo docker run -it kilianwerner/hpxminimal /bin/bash'

[2020-01-08 16:44] KilianWerner commented on #4297
@msimberg Only running on one node and without mpirun also resulted in Localities: 1Threads: 4... which if of course correct in that setting. (since the use of stable and c++17 this also results in bad alloc though)

[2020-01-08 16:45] biddisco commented on #4297
I'm afraid that I know nothing about docker or containers, so I don't think I can help any further.

[2020-01-08 16:47] KilianWerner commented on #4297
docker is a kind of virtualization technique for reproducability, basically after installing docker the command sudo docker run -it kilianwerner/hpxminimal /bin/bash will put you on a virtual ubuntu (like ssh) containing my minimal example

[2020-01-08 17:00] khuck commented on #3560
@biddisco @hkaiser That's because of a last-minute change I made in APEX to handle annotated_functions.  Remember, annotated_functions are annotated _AFTER_ the task is started.  So, I stop the timer with the previous name, and start a new timer with the new name.  Currently, when `apex::update_task()` is called, APEX stops the current timer if it exists, and starts a new one.  If you don't want t

[2020-01-08 17:01] khuck commented on #3560
@biddisco ...follow up - if you have the option, you should use `annotate_function()` instead

[2020-01-08 17:05] biddisco commented on #3560
[code]
I'm using it like this - it passes the annotation name into the thread creation and there is no reason for the name to be changed after the fact - the name should be correct at the time the task is first instantiated.

[2020-01-08 17:16] KilianWerner commented on #4297
A similar error is reproducable on your docker container: https://stellar-group.github.io/hpx/docs/sphinx/branches/master/html/contributing/docker_image.html

On this docker container I compile openmpi 4.0.1 like above.

Then I compile hpx like this:

mkdir hpx
cd hpx
git clone https://github.com/STEllAR-GROUP/hpx.git --branch stable --single-branch
mkdir build-hpx && cd build-hpx
cmake ../hpx -DH

[2020-01-08 17:28] khuck commented on #3560
@biddisco you're right, I got them reversed.  sorry about that.

Try commenting out this line: https://github.com/STEllAR-GROUP/hpx/blob/d1c61defbf279c09af1c3a727b0e4e8bc5bea175/hpx/util/annotated_function.hpp#L140 - that is probably causing the `apex::update_task()` to happen.  Does that help?

[2020-01-08 17:45] biddisco commented on #3560
that fixes it. I see the correct task counts and no dodgy extra mini-tasks. Thanks

[2020-01-08 20:34] hkaiser commented on #3560
@biddisco, @khuck ok, makes sense now. Thanks!

[2020-01-09 16:20] #3560 closed

[2020-01-10 12:49] kordejong opened #4302 "1d_stencil_7 does not seem to scale well"
## Expected Behavior

I expected the `1d_stencil_7` example to scale well over threads in a single node. When adding workers to a constant size problem, I expect the run time to decrease. Ideally proportionally.

## Actual Behavior

It does not seem to scale well (strong scaling). Output on a cluster node:

[code]

After a drop in the execution time, it even increases. In an experiment I ran, the

[2020-01-10 13:05] hkaiser commented on #4302
@kordejong I wouldn't expect stencil_7 to scale in any way ;-) It was not optimized. OTOH, stencil_8 has seen a bit of polishing (despite the fact that it is just an example), so I might suggest you use that one for your experiments.

[2020-01-10 14:02] kordejong commented on #4302
I see, thank you. I focused on `stencil_7` because my own algorithms take a similar approach.

[2020-01-10 14:05] hkaiser commented on #4302
@kordejong algorithmically all the stencil examples are very similar, you should be fine with looking at stencil_8, I think.

[2020-01-13 08:22] msimberg commented on #4297
I'm also a bit at a loss. I've never used singularity so can't help you there. But it would be good to establish if this is a problem with HPX, OpenMPI, or singularity. Do you get the same (or similar) errors if you use mpich? Could you provide a list of the MPI environment variables in the container? We have a list of MPI environment variables that we check here: https://github.com/STEllAR-GROUP/

[2020-01-13 09:25] msimberg commented on #4302
Just to add some generic advice: you should almost always have a way to control the chunk/task/partition size for your algorithm (as has been done in the 1d stencil examples), and then set the chunk size as large as you can without limiting your available parallelism. For example, our parallel algorithms typically create a number of tasks around 4 times the number of cores available.

[2020-01-13 10:06] kordejong commented on #4302
Thank you @msimberg. A little background: The first step I do when testing my algorithms for scalability is to test which partition size gives the best performance. Using this partition size I perform strong and weak scaling experiments. So, indeed, I have a way to vary the task size.

I am very interested in any other info about obtaining good scalability when using HPX. I am now a happy user of

[2020-01-13 11:18] hkaiser commented on #4297
Could you collect the execution environment for both instances of the HPX application launched, please? That will allow to reproduce the situation outside of a concrete singularity setting.

[2020-01-13 13:01] KilianWerner commented on #4297
MPICH is sadly not available at our cluster. However the problem (isolated localities even though MPI works correctly) occured without the use of singularity a few times before in our workgroup.

One suspicion is that OS updates on the cluster provocated the behaviour, since we observed the bug appearing and disappearing without changes in our building process in weeks around patch days. Even so,

[2020-01-13 13:40] hkaiser commented on #4297
Just an observation: while the `PMIX_RANK` is properly set in both localities, the `SLURM_xxx` environment variable look odd for locality 1.

[code]
but
[code]
While some of the SLURM settings on Locality 1 indicate that there are 2 nodes involved in the job, other settings indicate that it's only one node. HPX looks primarily at the `SLURM_STEP_NUM_TASKS` and `SLURM_NODEID` settings (see https://

[2020-01-13 17:16] khuck commented on #4286
I did mean MPI_CXX_COMPILE_FLAGS, yes.  I am using OpenMPI built by Spack, which enables C++ exception support by default.  I'll try testing it some more.

[2020-01-14 12:52] KilianWerner commented on #4297
I can confirm that this slurm behaviour is reproducable on the used cluster.

The setup that is currently working on the cluster (hpx 1.0.0, openmpi 3.1.4) outputs a warning that is probably related to this issue, however performs correctly anyway:

hpx::init: command line warning: --hpx:localities used when running with SLURM, requesting a different number of localities (2) than have been assigne

[2020-01-14 13:14] hkaiser commented on #4297
Thanks. I think that we will need your help in fixing this. The file I linked above does the environment analysis in case the application was started through SLURM. Would you be willing to try modifying that file such that it uses SLURM environment variables in a way that works around problem? For instance you could look at the `SLURM_NODELIST` to determine that there are two nodes involved and th

[2020-01-14 16:59] MukundVaradarajan commented on #4063
I would like to work on this issue, is it still open? can someone please locate the corresponding wrapper/script?

[2020-01-14 18:12] hkaiser commented on #4063
@MukundVaradarajan That's definitely available, still. Thanks!

[2020-01-14 20:09] sithhell commented on #4297
This is not a issue with slurm per se. The environment variables are a
result in how openmpi launches it's jobs.
The workaround to make it work is to tell hpx to ignore the batch
environment. That way, you might need to set the number of threads and
thread bindings appropriately if your using multiple localities per node.
One possible fix would be to not extract the localities information but
only

[2020-01-14 20:19] sithhell commented on #4297
Thomas Heller <thom.heller@gmail.com> schrieb am Di., 14. Jan. 2020, 21:09:

Using this option:
https://stellar-group.github.io/hpx/docs/sphinx/tags/1.2.0/html/manual/launching_and_configuring_hpx_applications.html#cmdoption-hpx-ignore-batch-env

That way, you might need to set the number of threads and thread bindings

[2020-01-15 08:18] msimberg commented on #4297
To confuse things more, note that we also have the `--hpx:use-process-mask` option which implies `-hpx:ignore-batch-env`, and which uses the process mask set by slurm/mpi. This is useful in setups with multiple ranks on a single node. I think ignoring the batch environment means that the number of nodes isn't detected though.

[2020-01-15 08:42] msimberg commented on #4063
This is the corresponding script: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/templates/hpxcxx.in, and it could do with at least a mention somewhere in the documentation.

[2020-01-15 13:50] KilianWerner commented on #4297
Both --hpx:use-process-mask and --hpx:ignore-batch-env result in isolated localities too.

I am working on a slurm_environment.cpp adaption. However I don't understand why this information is retrieved in such a complicated matter. If MPI is the backend for HPX why not just call MPI standard methods for rank, world size and node names? This way HPX will work if (whatever) MPI works and slurm can b

[2020-01-15 14:33] KilianWerner commented on #4297
I did the appended quick&dirty mod of the slurm_environment.cpp of hpx version 1.3.0

Instead of SLURM_STEP_NODELIST now SLURM_JOB_NODELIST is used, other SLURM stuff is replaced by OMPI_COMM stuff. While this solution now depends on OpenMPI and a matching of one task per node it resolves the isolated localities, which proves we are looking at the right problem.

[slurm_environment.cpp.txt](https:

[2020-01-16 08:03] yurivict opened #4307 "ld: error: duplicate symbol: freebsd_environ"
https://github.com/STEllAR-GROUP/hpx/blob/master/libs/errors/src/exception.cpp#L40

https://github.com/STEllAR-GROUP/hpx/blob/master/src/custom_exception_info.cpp#L51

Version 1.4.0

[2020-01-16 08:27] sithhell commented on #4297
A diff would have been nicer ;)

In any case. Changing from `SLURM_STEP_NODELIST` to `SLURM_JOB_NODELIST` is not the correct fix. We need to rely on the actual slurm job step. This is important if you run multiple jobs within one allocation, that is change the number of nodes, run on different nodes, etc.. As mentioned, this unfortunately conflicts with the way how OpenMPI launches processes when

[2020-01-16 12:33] KilianWerner commented on #4297
Yes, a hard coded slurm_environment.cpp cannot fit all slurm settings (at least if the quirky openmpi+slurm setting on our cluster counts). Maybe it would help to be able to specify via command line which environment variables to look at.

The workaround mpirun ./application --hpx:ignore-batch-env --hpx:localities=2 does solve the issue for me for now.

Sadly I was not yet able to build hpx 1.4.0.

[2020-01-17 08:48] msimberg commented on #4307
Thanks @yurivict, very good catch! That's easy enough to fix. I'm wondering though, would you happen to have experience with BSD CI services that you could recommend? This is unfortunately going to be an eternal battle unless we have CI that tests (some) BSDs.

[2020-01-17 09:47] biddisco opened #4308 "Using APEX on multinode jobs when HPX_WITH_NETWORKING = OFF"
As documented in #4257
https://github.com/STEllAR-GROUP/hpx/pull/4257#issuecomment-575370006
and
https://github.com/STEllAR-GROUP/hpx/pull/4257#issuecomment-575547782
I would like to use apex with user MPI driven jobs. I have modified the init of APEX to use MPI with an experimental (not cleaned up) version looking like
[code]
I have enabled debugging in OTF2 and I see output from my test
[code]
b

[2020-01-17 14:42] biddisco commented on #4308
Just an additional comment
If I run my test with `--hpx:run-hpx-main` and N>1 ranks, I'd expect to see the task counts for each test task increase since they are being run on all ranks. However in this example of 4 nodes, I se only 1 of each in the summary, so apex is not summing the numbers correctly in the output

[code]
NB. I'm running N ranks on the same node (laptop) here. I hope that isn't t

[2020-01-17 16:15] yurivict commented on #4307
1. CirrusCI supports FreeBSD: https://cirrus-ci.org/guide/supported-computing-services/#freebsd-support
2. Jenkins supports FreeBSD, and can be run in a VM.

I don't have personal experience with these though.

[2020-01-17 16:50] khuck commented on #4308
The screen output is misleading, it only shows data from rank 0.  I never got around to figuring out how to use HPX to reduce the data at the end of execution.  That’s on the todo list.  It’s the oldest open issue in the list: https://github.com/khuck/xpress-apex/issues/10

In order for OTF2 output to work correctly, the ranks need to know what their rank is.  That happens at `apex::init()` by pas

[2020-01-17 17:57] biddisco commented on #4308
At the top of this issue, you will see that I have initialized the apex layer with the correct MPI rank information. I can verify that OTF2 knows it is part of an MPI job. It gets the correct ranks.
Has apex ever been test with HPX on multi rank jobs using normal (network enabled) HPX? I'm no longer convinced that it will work...

[2020-01-17 18:32] khuck commented on #4308
Yes, multi-rank HPX with APEX has been tested many times.  This particular use case hasn't been tested before.  If HPX has networking disabled, and APEX is depending on HPX for networking information, how could it work?...

That said, there's no reason why tasks should be missing, unless they are annotated on one node and executed on another, and the annotation isn't getting transmitted?  Another

[2020-01-17 18:43] biddisco commented on #4308
Well that's what this issue is asking. In this comment, https://github.com/STEllAR-GROUP/hpx/pull/4257#issuecomment-563333832 I asked you what I needed to implement to get apex working with MPI only and no HPX networking and you told me that apex doesn't use any HPX networking features. It only requires the right MPI info at init time. I've implemented that, but it doesn't work, so my question is

[2020-01-18 20:50] biddisco commented on #4308
I've verified that apex is performing a reduction of the otf2 regions at the end of the program, I added some printfs to see the regions in the reduced region map and I can indeed see everything that I expect to see. doing a grep on the apex generated files reveals that the functions that are missing from vampir are present in the files (though that only tells me that otf2 wrote something out with

[2020-01-18 21:02] biddisco commented on #4308
https://cloud.cscs.ch/owncloud/index.php/s/6QR9sDOa6Vx9rsW
should be the link to the otf tarball. If someone could try loading this in a different viewre than vampir 3.7 I'd be very grateful for info about whether it looks consisten with the apex screen output

[2020-01-20 15:20] aurianer commented on #4194
I'm slightly in favour since we could use the clang-format option `IndentPPDirectives` to obtain :
[code]
which is more readable, instead of :
[code]
The current problem is that using this clang-format option is indenting all the includes at the beginning of the file, considering the main `#if !defined(HPX_LCOS_FUTURE_MAR_06_2012_1059AM)`of the header, which is pretty ugly

[2020-01-20 15:26] hkaiser commented on #4194
From what I read, clang-format should properly ignore include guards: https://reviews.llvm.org/D35955. Does it not? They might just accept `#ifndef GUARD`, but not `#if !defined(GUARD)` - but that should be easily fixable, I think (some regex anyone?)

[2020-01-20 15:37] aurianer commented on #4194
True ! I'll do that then !

[2020-01-20 16:37] McKillroy opened #4314 "Compile error on 1.4.0"
## Expected Behavior

It compiles?

## Actual Behavior

It breaks

## Steps to Reproduce the Problem

Trying to build.

## Specifications

  - HPX Version: 1.4.0
  - Platform (compiler, OS): Win 10, MSVC 2019

-----------
[code]

[2020-01-21 12:01] albestro opened #4317 "Application runs even if `--hpx:help` is specified"
## Expected Behavior

If one of the options triggering the helper message (e.g. `-h`, `--hpx:help`) is specified, the application should not run.

## Actual Behavior

It prints the helper message, and then it runs the application.

## Steps to Reproduce the Problem

It seems that the `resource::partitioner` initialization does not manage correctly the help. By removing it and passing arguments jus

[2020-01-21 13:03] hkaiser commented on #4317
@albestro we've had contradictory opinions from users on this issue before. In the end we decided to go with what we have today and have added `--hpx:exit` to force the behavior you are asking for. This command line option will make your application exit right after printing the help message (if used in conjunction with `--hpx:help`).

The motivation for this solution was the fact, that there are

[2020-01-21 14:04] albestro commented on #4317
Thank you for your reply @hkaiser !

I didn't know about the `--hpx:exit` option, thank you for the hint.

What looks strange to me is that the behavior changes if I use the resource partitioner or not: if I just use the `hpx::init` call it works as expected, even without `--hpx:exit`.

Is it what you intended to do or did you expect that in every case the `--hpx:exit` option has to be specified t

[2020-01-21 14:28] hkaiser commented on #4317
This is definitely something I didn't expect (or know about). The behavior has to be consistent.

[2020-01-21 17:13] khuck commented on #4308
@biddisco I am trying to put together an isolated APEX test to see whether it's an APEX issue when reducing the data.

[2020-01-21 18:46] khuck commented on #4308
@biddisco Can you commit this program to the same tests/unit/apex directory?  Which branch is this program in?

[2020-01-21 21:25] biddisco commented on #4308
One the dataflow-annotations branch in PR #4311 (merge that branch) there is an anotations test. If you run that on multiple ranks, it ought to be a reasonable test. Any simple test that creates a few annotations should show the same behaviour

[2020-01-22 14:18] K-ballo opened #4318 "ASIO breaks with C++2a concepts"
ASIO support for the Concepts TS misrecognizes C++2a concepts, leading to compilation errors. As a workaround, that support can be disabled via `BOOST_ASIO_DISABLE_CONCEPTS`.

[2020-01-22 15:02] hkaiser opened #4319 "Possible V1.4.1"
This is a collection of PRs that should be considered if we decided to prepare a V1.4.1 release of HPX:

(please keep this list sorted)

- #4357: Adding missing #includes to fix gcc V10 linker problems
- #4353: Skip MPI_Finalize if MPI_Init is not called from HPX
- #4343: Give a hard error if IO counters are enabled on non-Linux systems
- #4337: Installing pdb files on Windows
- #4335: Adding capa

[2020-01-22 16:02] diehlpk opened #4320 "HPX 1.4.0 does not compile with gcc 10"
## Expected Behavior

HPX 1.4.0 should compile with gcc 10

## Actual Behavior

https://koji.fedoraproject.org/koji/getfile?taskID=40822717&volume=DEFAULT&name=build.log

## Steps to Reproduce the Problem

  1. Build HPX 1.4.0 using gcc 10

## Specifications

... Please describe your environment

  - HPX Version: 1.4.1
  - Platform (compiler, OS): Fedora rawhide, gcc 10

[2020-01-22 16:49] khuck commented on #4308
That doesn't seem to work - there's no activity on any locality other than 0.  When I run that example with 2 mpi ranks and APEX_CSV_OUTPUT=1, I get this:

[code]

[2020-01-22 19:01] diehlpk opened #4321 "After the modularization the libfabric parcelport does not compile"
## Expected Behavior

HPX with the libfabric parcelport should compile

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Build HPX with the libfabric parcel port

## Specifications

... Please describe your environment

  - HPX Version: Current master or HPX 1.4.0
  - Platform (compiler, OS):

[2020-01-23 06:50] biddisco commented on #4308
It doesn't matter how many localities do work. What is important is whether the tasks appear in vampir or other tool traces. If other ranks doing nothing bothers you, then add `hpx:run-hpx-main` to the command line options.

[2020-01-23 07:07] biddisco commented on #4321
I started work on this here https://github.com/biddisco/hpx/tree/rdma_jan_2020 but there are many conflicts and it will take time before the parcelport is fully functional and tested.

[2020-01-23 07:54] msimberg commented on #4319
For #4312 we actually need #4304 as well, or neither of them. I'd say we only need to keep compatibility headers for changes between releases, not for every change that happens between releases.

[2020-01-23 08:28] msimberg commented on #4297
@KilianWerner could you try to get a backtrace with `gdb`? `catch throw` should make it stop at the exception.

[2020-01-23 09:43] KilianWerner commented on #4297
@msimberg Thanks for helping with this issue too. See gdb results attached.
[gdb.txt](https://github.com/STEllAR-GROUP/hpx/files/4102324/gdb.txt)
![gdb](https://user-images.githubusercontent.com/59651227/72973207-24032f80-3dcd-11ea-9919-1f6023a47b7c.png)

[2020-01-23 09:49] PrimeF opened #4323 "Const-correctness error in assignment operator of compute::vector"
## Expected Behavior

The compute vector assigns another compute vector.

## Actual Behavior

A const-correctness error is thrown, when assigning a compute vector to another compute vector.

## Steps to Reproduce the Problem

  1. Initialize two compute vectors
  2. Assign one to the other

## Specifications

  - HPX Version: 1.4.0
  - Platform (compiler, OS): GCC 9.2.0, CentOS

## Fix suggestions

[2020-01-23 12:55] #4307 closed

[2020-01-23 13:08] hkaiser commented on #4319
@msimberg excellent catch! I'll add it to the list (which is growing way too fast...).

[2020-01-23 13:15] #4314 closed

[2020-01-23 14:30] hkaiser commented on #4323
@PrimeF Thanks for reporting! Would you mind creating a PR for this?

[2020-01-23 14:46] hkaiser commented on #4321
@biddisco any help you can give is highly appreciated. Also please let us know if we can take part of the burden off of you.

[2020-01-23 18:16] PrimeF commented on #4323
Sure, I will do one!

[2020-01-23 22:15] hkaiser commented on #4297
This looks like an ABI problem (i.e. either different versions of HPX being mixed or different compiler flags (standard c++ versions) used for HPX and the application). I would suggest making sure that all traces of the V1.3.0 installation of HPX are purged before building V1.4.0. CMake does not do a good job when it comes to making sure older versions are uninstalled/deleted.

[2020-01-23 22:17] hkaiser commented on #4320
Update: I have tried to reproduce this with a current Fedora rawhide docker image and ran into a gcc ICE. We should wait for a while before trying again.

[2020-01-24 06:08] MukundVaradarajan commented on #4063
Correct me if I am wrong, this is for building a hpx application/component using hpxcxx command. Bear with me as I am new to this, how does "@<value>@" work in the script? (eg: "@CMAKE_CXX_COMPILER@")

[2020-01-24 06:31] MukundVaradarajan commented on #4063
It would be really great if I could get a headstart on this script and where it fits...

[2020-01-24 07:04] hkaiser commented on #4063
Things like `@CMAKE_CXX_COMPILER@` are replaced during configuration of the project (by cmake) with the correspondingly named cmake variable. For hpxcxx this happens here:
- https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_GeneratePackage.cmake#L56-L58
- https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_GeneratePackage.cmake#L64-L66

(i.e. once for the build directory and once f

[2020-01-24 15:08] msimberg opened #4329 "HPX 2"
I'm opening this as a placeholder for discussion on long term plans for HPX (which we may call 2). See this as a wishlist of things that should be finally deprecated, cleaned up, or implemented.

I'll start (please extend this list):
- Follow semver
- Complete modularization
- CMake modernization
- Namespace and header location cleanup (clear policy on what's part of the API, what's experimental,

[2020-01-24 19:03] david8dixon commented on #3733
@jefftrull can you provide your configuration (i.e. what you passed to cmake command-line)

[2020-01-24 19:06] McKillroy opened #4334 "HPX Debug and RelWithDebinfo builds on Windows not installing .pdb files."
## Expected Behavior

debug info files (`.pdb`) should be installed

## Actual Behavior

not installing (on windows)

## Steps to Reproduce the Problem

## Specifications
Using the following CMake Command from a master file (superbuild)
[code]

  - HPX Version: 1.4.0
  - Platform (compiler, OS): MSVC 2019 on Windows 10 (both latest)

[2020-01-24 21:35] jefftrull commented on #3733
Well, it's been a while but nothing particularly special - this is g++ 8.30 (a.k.a. CMAKE_CXX_COMPILER) with BOOST_ROOT pointing to my local build of 1.71. Is there a particular variable that interests you?

[2020-01-24 22:53] McKillroy commented on #4334
You can try the following testcase (adjust directories)

`cmake_minimum_required(VERSION 3.15)

project(HPX)

include(ExternalProject)

## SETUP
# Build
SET(CMAKE_BUILD_TYPE Debug)
SET(CMAKE_VERBOSE_MAKEFILE ON)

#Deps Boost
SET(BOOST_ROOT "C:/__A/Arc_Sb/_INSTALL/boost/boost-1.72.0/Debug")
SET(BOOST_LIBRARYDIR "C:/__A/Arc_Sb/_INSTALL/boost/boost-1.72.0/Debug/lib")
SET(BOOST_INCLUDEDIR "C:/__A/Arc_

[2020-01-26 16:37] McKillroy commented on #4329
I want to suggest to add the fill Doxygen documentation to the build, along with other documentation improvements.
E.g. the dependency graphs created by Doxygen are incredibly useful, also when I need to find out which construct requires which #include I refer to the Doxygen docs.

[2020-01-26 17:50] McKillroy opened #4336 "Building HPX 1.4.0 with IO Counters breaks (Windows)"
## Expected Behavior

to build

## Actual Behavior

breaks

## Steps to Reproduce the Problem

build with -DHPX_WITH_IO_COUNTERS=ON

## Specifications

... Please describe your environment

  - HPX Version: 1.4.0
  - Platform (compiler, OS): MSVC 2019, Windows 10 (boith latest)
Error:

[code]

[2020-01-26 18:09] hkaiser commented on #4336
This is a configuration issue as the implemented counters are Linux only (rely on the `/proc` file system). The proper fix at this point is to disable building the IO counters on anything but Linux.

[2020-01-27 01:16] hkaiser commented on #4334
@McKillroy please see #4334 for a possible fix

[2020-01-27 08:01] msimberg commented on #4329
@McKillroy just to be clear, what you mean is to use the "normal" HTML documentation generated by Doxygen, as opposed to the one we include using Breathe in Sphinx (because the latter is not particularly good...)?

[2020-01-27 08:07] msimberg commented on #4336
I think giving a hard error during configuration if IO counters are not available on the platform (and enabled) is preferable to silently disabling or ignoring the option on unsupported platforms. What do you think?

[2020-01-27 10:05] McKillroy commented on #4336
+1 for Hard Errors.
Starting a lot of digging just to find out it's not supported on Windows is not what anyone wants, I think.

[2020-01-27 10:20] McKillroy commented on #4329
@msimberg Yes. Breathe is an attempt to feed Doxygen into Sphinx, which in theory is a nice idea, but practically doesn't work that well.

My idea of documentation would be to have the high level docs in Sphinx, because that's what it's good for, and low level stuff and API details in the code, so a programmer can directly supply it while coding.

Doxygen - despite it's shortcomings still imho is

[2020-01-27 14:27] #4323 closed

[2020-01-27 15:30] McKillroy commented on #4334
Seems #4337 fixes it. I tried with a Debug build and hpxd.pdb got installed.

[2020-01-27 15:35] #4334 closed

[2020-01-27 20:08] msimberg opened #4345 "Move gh-pages branch out of hpx repo"
We've collected quite a bit of bloat in the git repo due to the `gh-pages` branch. About 90% of the size of the repo comes from `gh-pages` commits (170 MB cloned without `gh-pages`, about 1.7 GB with it).

I suggest we start a new repo `hpx-docs` which will get the automatically built docs, and we delete the existing `gh-pages` branch (except for the last commit so that we don't break links, plus

[2020-01-27 20:39] hkaiser commented on #4345
Doesn't GitHub.io pull everything from this branch?

[2020-01-27 20:42] sithhell commented on #4345
We can tell the GitHub page generator to look elsewhere. I support this move as well as rewriting history.

[2020-01-28 07:56] msimberg commented on #4345
The GitHub pages are repo specific, so we'd end up with docs under `stellar-group.github.io/hpx-docs` instead of `stellar-group.github.io/hpx`. We can still keep an almost empty `gh-pages` branch here which redirects to `hpx-docs`. The second alternative doesn't change any URLs.

[2020-01-28 15:07] msimberg opened #4348 "Component type-related failures"
There seem to be two variations of this failure that I've seen on pycicle. Collecting them here for easier finding:

- `traits::component_type_is_compatible< typename action_type::component_type>::call(addr)`
    - [tests.unit.agas.local_embedded_ref_to_local_object ](https://cdash.cscs.ch/testDetails.php?test=16789894&build=91735)
    - [tests.unit.parallel_block.task_block_par](https://cdash.csc

[2020-01-28 15:44] hkaiser commented on #4348
Those errors are definitely related. I think they are caused by something going out of scope prematurely.

[2020-01-29 12:30] albestro opened #4349 "`--hpx:use-process-mask` option throw an exception on OS X"
## Expected Behavior

I'm aware of the impossibility to do CPU binding on OS X, but usually requesting a binding on this kind of platform does not result in an error.

## Actual Behavior

The following exception is thrown
`hpx::init: hpx::exception caught: hwloc_get_cpubind failed: HPX(kernel_error)`

## Steps to Reproduce the Problem

Specifying the `--hpx:use-process-mask` option results in the

[2020-01-29 13:01] msimberg commented on #4349
Thanks @albestro. This should simply be disabled on macOS. Would you even prefer a warning or error (proper error message, not an hwloc error message) if `--hpx:use-process-mask` is given on macOS?

[2020-01-29 13:09] albestro commented on #4349
I think it would be preferable to have neither error nor warning message as other binding options do.

[2020-01-29 13:10] biddisco commented on #4349
not even something like "Warning: thread binding not available on platform <xxx>"

[2020-01-29 13:16] albestro commented on #4349
I agree with you that it would be nice, but I'm not sure that it is the common rule for other options not supported in HPX.

In general, I would say that we should get a coherent behavior, otherwise if an option prints a warning message and others don't, I may suppose that the other ones are supported.

[2020-01-29 13:23] biddisco commented on #4349
I would suggest that all the `hpx:bind` related operations report a message of the kind "Warning: Thread binding is not supported on platform \<xxx\>, binding options have been ignored"
(A single message for all in that category to keep it simple).

[2020-01-29 16:06] #3944 closed

[2020-01-30 16:16] biddisco commented on #4308
Is there anything I can do to move this along? I'm keen to get my patches on MPI+apex working on multinode jobs. Is there some additional test I can create that would help?

[2020-01-30 19:37] khuck commented on #4308
@biddisco sorry, I've been occupied with family stuff this week (traveling to attend a funeral this weekend), and an all-hands meeting next week.  I might not be able to look into it until after then.

[2020-01-31 06:49] biddisco commented on #4308
@khuck Please accept my condolences. In the meantime, it seems as though, if all ranks are doing work and the number of task types is limited, then traces are being generated correctly.
Here's 24 ranks doing 8 threads each - the output looks quite correct - at least this is good enough for me to use for this test (its a smaller test than the full cholesky, but fixing this will almost certainly tel

[2020-01-31 08:05] msimberg commented on #4336
Closing since #4343 was merged. Please reopen another issue if you'd like to see the IO counters actually implemented on Windows.

[2020-01-31 08:05] #4336 closed

[2020-02-02 11:44] #1258 closed

[2020-02-03 12:37] msimberg commented on #1258
We should maybe keep this open... One problem with the current way of documenting CMake options is that they are not all picked up in the docs build since some are never even defined depending on the values of other options. We could either have all options defined independently of other options but, or we could just document the options separately from the CMake files (but this would require enfo

[2020-02-03 13:13] hkaiser commented on #1258
I'm fine with re-opening this. For the documentation of options: I think ensuring that we automate things as much as possible should be a major criteria for decisions.

[2020-02-03 13:32] McKillroy commented on #4016
Since the bot marked it as "stale":

Basically this is ~sortof deprecated by the following attempt of mine to create some additional documentation outside of this repo that may be used later:
https://github.com/McKillroy/hpx_snippets
It's rendered here:
https://mckillroy.github.io/hpx_snippets/
The snippets mentioned above are in "Section 6 : A collection of HPX Recipes, HowTos and Drafts" of that

[2020-02-03 14:26] msimberg opened #4364 "Formalize public API, namespace, and release policy"
I'd like to see us have at most two levels of nesting in namespaces: a top-level `hpx` and `hpx::modulename`. I'd even slightly prefer having everything in the public API be directly in `hpx` to make things easier to find ("I know the include and type that I want, but what namespace is it in?"), but things like `std::execution::par` make me think that we can have one level of nested namespaces for

[2020-02-03 16:12] msimberg commented on #3696
Closing since #4017 was merged.

[2020-02-03 16:12] #3696 closed

[2020-02-03 17:19] khuck commented on #4308
@biddisco Thanks.  Can you share that trace so I can see what's going on with it?  I have vampir 9.7.1 installed.  The overview should show a summary of everything in the zoom window, so something strange is afoot.

[2020-02-03 23:03] #313 closed

[2020-02-03 23:03] #2178 closed

[2020-02-04 07:41] biddisco commented on #3992
(Just adding a comment to prevent this from being closed by the stale bot).
The python solution looks promising and it should be encouraged... but can't we create some template magic that does all the action registration automatically without having to manually add macros everywhere - or somehow simply the process of client server component creation in the c++?

[2020-02-04 09:52] msimberg commented on #4345
I've now moved the documentation to the `hpx-docs` repo. It still has the full history that we had here on the `gh-pages` branch. Here I've kept one commit on the `gh-pages` branch to keep links working. I'm closing this now but please reopen if you find problems with broken links etc.

[2020-02-04 09:52] #4345 closed

[2020-02-04 09:53] msimberg opened #4367 "Rewrite history to remove unneeded binary files"

[2020-02-04 13:00] hkaiser commented on #4367
Wouldn't this invalidate all links to specific commits etc.?

[2020-02-04 13:01] msimberg commented on #4367
It would, which is why we're definitely not doing it right now. This is very much a destructive operation but something we should at least consider for a potential 2.0.0 release.

[2020-02-04 13:07] hkaiser commented on #4367
Wouldn't all older tickets here point into nowhere in this case as well? Frankly, I'm not sure if this is worth the trouble.

[2020-02-04 14:31] hkaiser commented on #3992
We know that parts of the macros can be avoided at the expense of increasing compile time (possibly significantly). It might also be possible to use some of the new C++17 language features to reduce the need for the macros. All of this needs investigation.

[2020-02-04 16:12] biddisco commented on #4367
Good point. I hadn't thought about the github issues and suchlike.

[2020-02-06 15:34] dmarce1 opened #4369 "HPX freezes up with multiple new_ calls in a simple test program"
The simple test program, available here:
https://github.com/dmarce1/new_test
when given the argument "4", should allocate 4096 bare bones components across 4 nodes. It freezes up when attempting to to this on queenbee. When running the same program with argument "3", it successfully allocates 512 components in less than a second and exits.

## Steps to Reproduce the Problem
Run the test program av

[2020-02-07 16:03] MukundVaradarajan commented on #4063
I have got an idea of how the script works now, how do I put in the documentation?

[2020-02-07 16:57] hkaiser opened #4371 "Using `std::get` on type derived from `std::pair` fails compilation"
The following code fails compilation if `HPX_DATASTRUCTURES_WITH_ADAPT_STD_TUPLE` is enabled:
[code]

[2020-02-09 12:46] MukundVaradarajan commented on #4063
@msimberg @hkaiser can you help me out please? I am new to this so sorry for the disturbance

[2020-02-09 16:17] hkaiser commented on #4063
@MukundVaradarajan this is a question for @stevenrbrandt, he created the script.

[2020-02-09 22:39] stevenrbrandt commented on #4063
@MukundVaradarajan minusc is just a way to refer to the option "-c". It's passed to the compiler when making a .o file instead of an executable.

[2020-02-10 08:20] #4320 closed

[2020-02-10 08:40] msimberg commented on #4063
@MukundVaradarajan I'd put it in `docs/sphinx/manual/creating_hpx_projects.rst` for now. A short overview of what the script does (it's a compiler wrapper) and how to invoke it would be enough. We may eventually want to create a separate section for tools like `hpxcxx` and `hpxrun` (which is also not documented). We can easily move the `hpxcxx` section once we have more than one tool documented.

[2020-02-10 17:17] hkaiser commented on #4369
This freeze is caused by a bad interaction between 'magic statics' (i.e. function local static variables) that require kernel-based locking and HPX threading, which does not interact well with kernel-based locking. The 'magic static' variable (https://github.com/dmarce1/new_test/blob/master/src/main.cpp#L10) causes for the kernel thread that is run by the HPX scheduler to block on initialization w

[2020-02-10 17:17] #4369 closed

[2020-02-11 13:25] msimberg opened #4375 "Compile-only tests are not handled correctly when using an installed HPX for tests"
This is to follow up on #4335 which added support to use an installed HPX for tests.

[2020-02-12 16:14] dmarce1 commented on #4369
Hartmut-
I found that enclosing hpx::new_().get() in a future resulted in faster regridding with Octo-Tiger, the theory being that hpx::new_ doesn't return as quickly as hpx::async. Is this not true?

[2020-02-12 16:57] hkaiser commented on #4369
Interesting! But it makes sense. There is no need to call `new_<>().get()` however, as the embedded future should automatically get unwrapped.

[2020-02-13 10:38] MukundVaradarajan commented on #4063
Do I need to create a branch for this change?

[2020-02-13 10:54] msimberg commented on #4063
@MukundVaradarajan yes, please follow the usual process of creating a pull request (i.e. fork, branch, and open PR). Are you comfortable/familiar with how to do that?

[2020-02-16 19:38] hkaiser commented on #4317
@albestro This has been addressed now. Please verify if the patch fixes the issues you reported.

[2020-02-17 08:32] albestro commented on #4317
Hi @hkaiser,
I've tried it with the code I reported in the issue and the problem is not solved yet.
Then I tried your test, and that one works!

By a quick look, I see that the difference in the two sources is that you are passing the resource partitioner instance to the `hpx::init`.

P.S. @msimberg already told me that things are moving on the resource partitioner side.

[2020-02-17 09:54] #4349 closed

[2020-02-17 13:05] hkaiser commented on #4317
@albestro yes, we still need to make sure that the correct version of `hpx::init` is being used if the resource partitioner is initialized separately. That would have given you a better clue. Thanks!

[2020-02-17 17:44] parsa opened #4392 "Cannot install HPX in release mode on Rostam"
## Expected Behavior
For HPX to build and install

## Actual Behavior
HPX installs without issues in debug mode, but not in release. I am also unable to reproduce this issue anywhere else.

The error:
[code]

## Steps to Reproduce the Problem

  1. Prepare the environment
[code]
  1. `git clone --depth=1 --branch=stable https://github.com/stellar-group/hpx.git repo`
  1. `cmake -Hrepo -Bcmake-buil

[2020-02-17 18:24] hkaiser opened #4394 "Missing headers in release tags"
Many header files are missing from the recent tags (1.4.0, 1.4.1-rc1, etc.). For instance `https://github.com/STEllAR-GROUP/hpx/tree/master/libs/execution/include_compatibility/hpx` is missing from 1.4.0 (see: https://github.com/STEllAR-GROUP/hpx/tree/1.4.0/libs/execution).

@msimberg: I don't know how this can happen in the first place but this should be fixed before the point release.

[2020-02-17 18:45] msimberg commented on #4394
@hkaiser are you sure they're actually needed? If I remember correctly we just didn't move them yet at that point because we expected them to move around a few times. Are there others that seem to be missing?

[2020-02-17 18:46] hkaiser commented on #4394
@msimberg well, they have to be in the release, no? I'm not sure if others are missing.

[2020-02-17 18:49] msimberg commented on #4394
My point is that if they're not actually moved (they did of course move to the module, but the include paths stayed the same) there's no need for compatibility headers (in the release). I'll check that the paths are actually unchanged though.

[2020-02-17 18:54] hkaiser commented on #4394
The include compatibility headers for the execution module were added back in November, shouldn't they be part of the V1.4.x release?

[2020-02-17 18:56] hkaiser commented on #4394
Those header files forward for instance `<hpx/parallel/executor/parallel_executor.hpp>` to `<hpx/execution/executor/parallel_executor.hpp>`. Any application that is using `<hpx/parallel/executor/parallel_executor.hpp>` would break without them.

[2020-02-17 19:00] msimberg commented on #4394
https://github.com/STEllAR-GROUP/hpx/pull/4247 does indeed have commits from November but it wasn't merged until after the 1.4.0 release (Jan 17).

[2020-02-17 19:02] hkaiser commented on #4394
Ok, I start to understand what's going on. Thanks for the explanations. I'll close this for now.

[2020-02-17 19:02] #4394 closed

[2020-02-18 08:01] msimberg commented on #4392
Thanks for reporting! It would work if you do `CMAKE_BUILD_TYPE=Release` as opposed to `release`, but that's a pretty unfair thing to require. See #4396 for a fix.

[2020-02-18 15:20] #4392 closed

[2020-02-18 20:55] McKillroy commented on #4034
Any chance to get this further in motion?
In the (hopefully not too far) future I will have to save simulation states with an ability to resume a simulation and also rearrange / optimize cluster topology.
If this is not happening I'll have to come up with some sort of custom solution which would surely be less efficient then one baked into HPX.

[2020-02-19 15:01] hkaiser opened #4400 "Command line options conflict related to performance counters"
@diehlpk wrote:

If I use `--hpx:options-file=../agas-pfx-counters.cfg --hpx:print-counter-interval=3600000` I get hpx::init: std::exception caught: Invalid command line option --hpx:print-counter-interval, valid in conjunction with --hpx:print-counter only

Note that the file agas-pfx-counters.cfg contains a list of --hpx:print-counter=… options.

[2020-02-19 16:04] #4317 closed

[2020-02-19 18:43] hkaiser opened #4401 "Create module repository"
The PR #4207 moves all module configuration files into the config module. This is conceptually not entirely correct. We should create a module registry that is populated at runtime allowing for a runtime-discovery of all loaded modules. This would also allow for each module to have its own configuration headers without interfering with the main config module.

[2020-02-20 10:04] MukundVaradarajan commented on #4063
@msimberg Yes. Also, is it okay to append this documentation at the end of the file or is it to be inserted somewhere in the middle? (Sorry if I am asking too many questions for a simple thing)

[2020-02-21 19:23] stevenrbrandt commented on #4063
@msimberg I would normally expect documentation inside a program to be at the top. Opinions @hkaiser ?

[2020-02-23 14:36] MukundVaradarajan commented on #4063
@stevenrbrandt I was asking whether the docs for `hpxcxx.in` should be appended or inserted in `creating_hpx_projects.rst`, and not within `hpxcxx.in` file itself. So my question now would be:
1. Which file to add the docs? (within `hpxcxx.in` or `creating_hpx_projects.rst`)
2. Where in the file? (Append in the end or insert somewhere in the middle, in case the docs have to be updated in `creating

[2020-02-23 15:52] hkaiser commented on #4063
@MukundVaradarajan if you had to decide, what would you suggest?

[2020-02-24 12:26] MukundVaradarajan commented on #4063
@hkaiser I would suggest the docs be added to `creating_hpx_projects.rst` file wherever you find it fitting (I haven't gotten to this part yet)

[2020-02-24 21:02] hkaiser commented on #4063
@MukundVaradarajan sounds good to me ;-)

[2020-02-25 12:46] biddisco opened #4406 "transform_compute_cuda test broken"
According to this plot, the test started failing at the end of january. It passed the master build on jan 30th, but failed on feb 1st

Could I ask people to check their contributions that were merged around this time to see if one of them might be responsible.

![image](https://user-images.githubusercontent.com/941548/75248716-f860d400-57d4-11ea-896d-85c7f1b6cdeb.png)

[2020-02-26 10:41] KilianWerner commented on #4297
@hkaiser The bad_alloc still occurs in 1.4.1. It also occurs in a docker container (no previous hpx installations) and when running the built in examples (no possible differences in building hpx and the application).

[2020-02-26 14:05] hkaiser commented on #4297
@KilianWerner as @msimberg explained above, the `bad_alloc` is most likely a problem caused by some ABI incompatibilities. In any case, would you have a stack-backtrace for this?

[2020-02-26 14:45] KilianWerner commented on #4297
I am sorry if this should be obvious. How would I go about solving ABI incompatibilities? The above gdb output is my attempt to provide a backtrace from running the hello_world_distributed example after installing hpx 1.4 on a clean ubuntu:disco (in docker).

[2020-02-26 20:06] biddisco commented on #4297
Looking at the stacktrace, my suspicions would be that boost and hpx were compiled with c++14 and c++17 flags one way around or the other, but not both the same. I suppose you've already checked that.

[2020-02-26 22:35] hkaiser commented on #4297
This could also be  caused by a mix of Release and Debug binaries used for Boost, HPX, and/or the application itself. Please don't mix and match binaries built using different optimization settings.

[2020-02-26 22:42] khuck opened #4408 "HPX fails to build with gcc 6.5.0"
## Expected Behavior

Until about a month ago, HPX could build with gcc 6.5.0:
http://omega.nic.uoregon.edu:8010/#/builders/2

## Actual Behavior

Compilation error:

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  configure:
[code]
  1.  make
  1.

## Specifications

... Please describe your environment

  - H

[2020-02-27 09:06] biddisco opened #4409 "Improve cross pool injection test"
Please see discussion at end of #4405 for further information.

[2020-02-27 14:06] venartas opened #4410 "Performance degradation observer while upgrading from 1.3.0 to 1.4.0/1.4.1"
## Expected Behavior

No performance degradation while upgrading HPX

## Actual Behavior

About 10% overall application performance slowdown observed after an upgrade. It was observed that the number of minor page faults increased by order of magnitude (10-20x) that is probably caused by false sharing problem.
Different versions of gcc compiler (6.2/9.2), c++ standard 14/17 and different compiler

[2020-02-27 14:07] KilianWerner commented on #4297
Boost is compiled like so:

export CXXFLAGS="-std=c++17 -O3 -DNDEBUG -fopenmp"
cd boost_1_72_0
./bootstrap.sh
./b2 -j8 toolset=gcc cxxflags="-std=c++17 -O3 -DNDEBUG" install

HPX like so:

cmake ../hpx -DHPX_WITH_PARCELPORT_MPI=ON -DHPX_WITH_PARCELPORT_TCP=OFF -DCMAKE_CXX_FLAGS="-std=c++17 -O3 -DNDEBUG"
make install

Again, everything is within a clean docker container and the application used is

[2020-02-27 14:29] hkaiser commented on #4410
@venartas Thanks for reporting this! Since we have no way of testing against your application, would you be able to do a git bisect to pinpoint the changes causing the issue?

I know this is asking a lot. However, since there are not more than a couple of hundred commits since V1.3 this should not take more than a handful of recompilation attempts. Any help you could give would be highly appreciat

[2020-02-27 15:19] biddisco commented on #4410
Looking at some of the test timings on the dashboard, I'd probably want to look around the start of Feb for a possible change. I seem to recall that I posted another image a few days ago indicating that a cuda test started failing around that time. The only commit that looked to me like it might be responsible was a merge of @K-ballo 's tuple changes I think - but I only briefly skimmed the commit

[2020-02-27 15:24] biddisco commented on #4410
Note that our system went down for maintenance on 29/01/2020 and was offline for a few days - and so the change in performance on the plot above might be due to a system update/upgrade.

[2020-02-27 16:53] hkaiser commented on #4408
@khuck with the move to require (full) C++14 support for HPX starting the next release, we will have to cut down on supported compilers. Apparently, we will have to stop supporting gcc 6.x as well.

[2020-02-27 17:06] hkaiser commented on #4400
@diehlpk I'm not able to reproduce this with top of master. Could you help defining the problem more precisely, please?

[2020-02-27 17:21] hkaiser commented on #4400
As it turns out, if the file specified using `--hpx:options-file` is not found, then we don't report this as an error. The error reported (see above) is then caused by none of the `--hpx:print-counter` options being read from the file.

[2020-02-27 17:31] hkaiser commented on #4319
This can be closed now as V1.4.1 was released

[2020-02-27 17:31] #4319 closed

[2020-02-28 06:04] MukundVaradarajan commented on #4063
@hkaiser @msimberg  I've put up a pull request at https://github.com/STEllAR-GROUP/hpx/pull/4414
Kindly check whether anything needs changes.

[2020-02-28 17:43] venartas commented on #4410
some hints about our app:
- **single node** app (build with networking ON)
- hpx parallel looping constructs: **for_each**, **transform** and **reduce** using **auto_chunk_size**; **transform_reduce** and **reduce** using **seq** policy
- **futures** with **wait_all**
- some asynchronous operations using **futures** invokes **nested parallelism** (loop constructs mentioned above)
- parallel synchr

[2020-02-29 23:54] McKillroy opened #4416 "Add serialization support for std::variant and std::tuple"
Feature request for completion and I actually need it:
Please add official HPX serialization support for std::variant and std::tuple

[2020-03-01 00:12] hkaiser commented on #4416
@McKillroy I'm not sure is this really should be part of the library itself as these data types are not use by HPX. But we could easily create those utilities and upload them somewhere. What do others think?

[2020-03-01 01:04] McKillroy commented on #4416
I think standard, non-exotic types should be supported as much as you can afford it.
I consider HPX a possible quasi standard for distributed parallel computing with C++.
I'm not aware of any other library which is that standard compliant, easy to use
(though I'm choking every other day, but that's due to me being still a n00b) and
really addressing the underlying problems you hit in writing paral

[2020-03-02 13:26] #4400 closed

[2020-03-02 19:35] justwagle opened #4418 "CMake issues with HPX 1.4.1"
Has there been any changes with HPX/CMAKE. I ask because I have a simple hpx test application that works with 1.3 but not with 1.4.1.
I am testing a simple hpx application using parallel for loops. It compiles and works fine with hpx 1.3 but fails to compile with hpx 1.4.1.

Here is my project structure:
~/CLionProjects/hpx_test_project  tree
.
|____[main.cpp](https://gist.github.com/justwagle/8e9

[2020-03-03 13:17] hkaiser commented on #4418
@aurianer would you have the time to look into this?

[2020-03-03 17:53] venartas commented on #4410
Hi @hkaiser, the "guilty" commit is 336b57d - "Merge pull request #4119 from STEllAR-GROUP/fixing_411"