[2016-07-12 10:14] hkaiser commented on #2248
FWIW, we currently implement this through `async(launch::fork, f, ...)`, which schedules 'f' with boosted priority and puts the current thread to sleep right afterwards. This is very similar to one of your suggestions above, but has the mentioned disadvantages.

Also, in general such a facility would be very useful to properly implement 'parent-stealing' (as opposed to the current, 'child-stealing

[2016-07-17 15:32] #2236 closed

[2016-07-18 07:43] biddisco commented on #2248
The phrase "parent-stealing" was unknown to me until know, but it is exactly what I have been looking for to avoid the problem of excessive resource consumption. The problem I have is that a single task can spawn thousands of child tasks, each of which might take a large memory chunk as a parameter (for a send for example), the process of generating each new task (reserving memory buffers) and the

[2016-07-18 12:22] #2243 closed

[2016-07-20 00:52] hkaiser opened #2256 "Actions are not registered if not invoked"
An action is currently only registered with the serialization layer of it is invoked. While this is usually not a problem as long as all localities run the same executable, it causes obscure serialization problems if different executables are run and not all actions are used by all of those.

To reproduce, run the launch_process/launched_process test (possibly after removing the workaround in the

[2016-07-20 00:52] hkaiser commented on #2256
@AntonBikineev any ideas how this could be fixed?

[2016-07-20 17:50] hkaiser commented on #1754
Let's assume this has been resolved. Please reopen if necessary.

[2016-07-20 17:50] #1754 closed

[2016-07-20 17:54] hkaiser commented on #668
This implementation has been finished and was merged with the main ispc repository (see: https://github.com/ispc/ispc/pull/1215).

[2016-07-20 17:54] #668 closed

[2016-07-21 12:49] hkaiser opened #2260 "Make support for std::ref mandatory"
Currently we use `std::ref` without any guards in some places. That indicates that we can drop the guards altogether and make `HPX_WITH_CXX11_STD_REFERENCE_WRAPPER` required.

[2016-07-22 19:18] #2239 closed

[2016-07-24 17:16] timbiedert opened #2261 "OS X: Error: no matching constructor for initialization of 'hpx::lcos::local::condition_variable_any'"
When compiling the current master in OS X using default CMake configuration, I receive the following error:

/Users/tb/Downloads/hpx/hpx/util/tuple.hpp:73:17: error: no matching constructor for initialization of
      'hpx::lcos::local::condition_variable_any'
              : _value(std::forward<U>(value))

Happens with both system clang and llvm 3.8.1 (Homebrew), and with both Boost 1.59.0 and Bo

[2016-07-24 17:20] K-ballo commented on #2261
The error itself is sane, `condition_variable[_any]` is not movable. Could you provide the full output so we can trace where this is coming from?

[2016-07-24 17:21] hkaiser commented on #2261
Does this happen while compiling HPX Itself or while compiling your application?

[2016-07-24 17:26] K-ballo opened #2262 "Test hpx.os_threads=all"
A test is needed to check that `"hpx.os_threads=all"` works and is equivalent to `"hpx.os_threads=" + hpx::threads::hardware_concurrency()`.

[2016-07-24 17:29] timbiedert commented on #2261
Happens when compiling HPX itself.

I compile using: `cmake -DCMAKE_CXX_COMPILER=/usr/local/Cellar/llvm/3.8.1/bin/clang++ ..`

(With system clang the well known thread-local storage error appears of course, sorry for the confusion).

Here's the output after make:

[  0%] Building CXX object src/CMakeFiles/hpx.dir/pre_main.cpp.o
In file included from /Users/tb/Downloads/hpx/src/pre_main.cpp:9:
In f

[2016-07-24 17:50] K-ballo commented on #2261
This looks like a bug in _libc++'s_ `pair`, combined with some lack of SFINAE-friendlyness on our `tuple`. Will investigate.

[2016-07-24 18:59] K-ballo commented on #2261
This is caused by a NASTY combination of language corner cases, standard defects, and library implementation bugs. Fortunately the workaround should be rather simple, as depicted in the [`fixing_2261`](https://github.com/STEllAR-GROUP/hpx/tree/fixing_2261) branch.

@timbiedert Would you give it a try and report back?

[2016-07-24 20:19] timbiedert commented on #2261
Hey, it works! Even without any warnings :-)

Good work! Thanks!

[2016-07-25 07:40] #2261 closed

[2016-07-26 07:38] buildhour opened #2266 "hpx_0.9.99 make tests fail"
1. env
   - linux (kernel 4.1.15)
   - glibc 2.19
   - clang 3.7.1 + libstdc++ (gcc 4.9.3)
2. library
   - hwloc 1.11.3
   - gperftools 2.5  (--enable-minimal --enable-sized-delete --enable-dynamic-sized-delete-support)
   - openmpi 1.10.3 (--enable-cxx-exceptions --enable-ipv6 --enable-hwloc-pci)
   - hpx 0.9.99
3. test result
   99% tests passed, 2 tests failed out of 485
   The following tests

[2016-07-26 11:37] hkaiser commented on #2266
@buildhour Thanks! These are know issues, we will fix them for the next release (in fact, the launch_process error was already fixed on master, iirc).  The test failures should not cause any problems in your code.

[2016-07-26 15:09] sithhell opened #2267 "Add inspect support to deprecate Boost.TypeTraits"
We should deprecate the use of Boost.TypeTraits in favor of the facilities defined in the standard `type_traits` header. A proper inspect check needs to be implemented for that.

[2016-07-26 17:35] hkaiser commented on #1591
After having this implemented we came to the conclusion that this it not worth the additional maintenance effort as the performance benefit is minimal (see #2232 for more details).

[2016-07-26 17:35] #1591 closed

[2016-07-26 19:27] K-ballo commented on #2267
While doing so, it would be a good idea to update the `cxx11_std_type_traits` feature test accordingly.

[2016-07-26 20:47] hkaiser commented on #2267
What concretely did you have in mind for this?

[2016-07-26 20:55] K-ballo commented on #2267
For each trait flagged by the inspect check, or at least those used by HPX, add a corresponding entry to [cxx11_std_type_traits](https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/tests/cxx11_std_type_traits.cpp).

[2016-07-27 16:37] hkaiser commented on #2260
This has been fixed by merging #2264

[2016-07-27 16:37] #2260 closed

[2016-07-27 16:38] hkaiser commented on #2256
This has been fixed by merging #2258

[2016-07-27 16:38] #2256 closed

[2016-07-28 14:28] hkaiser commented on #1655
We're moving away from boost as much as possible, so I'm going to close this now. Please reopen if necessary.

[2016-07-28 14:28] #1655 closed

[2016-07-28 16:59] #2267 closed

[2016-07-29 19:50] brycelelbach opened #2271 "Add vectorization to the par_vec (aka par_unseq) implementations of the parallel algorithms"
The par_vec (aka par_unseq) policy allows interleaving of element access functions, e.g. it is safe to the iterations of the algorithm.

Explicit engagement of compiler vectorizers through pragmas is probably the best way to ensure this occurs (e.g. `#pragma simd`, `#pragma omp simd`).

I will probably take a look into doing this myself while preparing my CppCon talk on parallel algorithms.

[2016-07-30 15:58] #2262 closed

[2016-08-03 16:21] ShmuelLevine opened #2277 "master branch build failure (53c5b4f) with papi"
I've just tried building and it failed with a number of errors, in areas of code associated with PAPI.
The output of g++ is below.  System info immediately follows:

build system: debian 3.16.7-ckt11-1 (2015-05-24) x86_64 GNU/Linux -- running on AWS

cmake command:
cmake -DCMAKE_BUILD_TYPE=DEBUG -DHPX_WITH_COMPRESSION_SNAPPY=ON -DHPX_WITH_HWLOC=ON -DHPX_WITH_PARCELPORT_MPI=OFF -DHPX_WITH_PARCELPOR

[2016-08-04 18:15] ShmuelLevine commented on #2277
Hi Hartmut,
Please let me know if you require any further information or assistance with this issue.  I'd be happy to help.  The only caveat I have is that I've had to move my dev machine temporarily to a free AWS instance which is dreadfully slow.

[2016-08-04 18:22] K-ballo commented on #2277
I'm testing a fix at the moment, stay tunned.

[2016-08-04 22:20] #2277 closed

[2016-08-04 22:20] hkaiser commented on #2277
@ShmuelLevine That should be fine now on master. Please verify. Thanks!

[2016-08-04 22:30] mcopik opened #2281 "For loop doesn't parallelize"
The example shown at the website:
http://stellar-group.org/2016/03/hpx-and-index-based-cpp-parallel-loops/
Suggests that the input to for_loop may be a pair of integers giving the range of computations.

However, in the implementation the iterator type is passed to traits:
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/algorithms/for_loop.hpp#L235
Which always gives false; int is no

[2016-08-05 00:43] hkaiser commented on #2281
Could you create a small reproducing test case to demonstrate the problem, please?

[2016-08-05 12:54] hkaiser commented on #2147
I'm currently working on extending all existing performance counters related to the parcel layer (parcel-count, data-sizes, timings, etc.) to (optionally) provide data on a action by action bases.

[2016-08-05 17:57] mcopik opened #2282 "Arithmetic exception in executor static chunker"
While trying to reproduce the issue #2281 I've found another problem, an integer division by zero for static chunk size when called from a parallel fill.
Source code: https://gist.github.com/mcopik/d34318766bb8dc8404255026c47a28c1
CMake script: https://gist.github.com/mcopik/7515e467cbb97b8a6ea983167f305a62
GDB backtrace with the exception:
https://gist.github.com/mcopik/b8e0e0f3b1137a4d46b7015fc8

[2016-08-05 18:26] mcopik commented on #2281
In Safura's code we had a problem with sequential execution, but I can't reproduce this problem in a smaller example because for_loop ends with throwing an exception: HPX(invalid_status) (maybe it's similar with the issue #2282). It executes correctly with the sequential executor:
https://gist.github.com/mcopik/1c0426d15189a777376f83e5f4ec7406

Am I doing something wrong here?

[2016-08-05 19:13] sithhell commented on #2282
On Freitag, 5. August 2016 10:57:21 CEST Marcin Copik wrote:

How do I reproduce it? How did you run this code?

[2016-08-05 19:45] mcopik commented on #2282
Configure with cmake, build and execute on one thread (--hpx:threads=1) on my machine with 2 Xeon CPUs.
I've overriden CMAKE_PREFIX_PATH in CMakeLists to locate HPX's master build, provided in HPX_LOCATION.

[2016-08-05 22:16] hkaiser commented on #2281
@mcopik Could you please describe:

- how you built HPX
- what tests (code) to build and how to run it in order to reproduce the issue

I'm not sure from you description of what code you ran (you mention at least two different scenarios, both not well described) and what errors you have seen when running any of those.

What is 'Safura's code', etc.?

In other words, please create a minimal reprodu

[2016-08-10 22:36] biddisco opened #2284 "proposing remote action invocations for low latency communication"
Currently there are two ways for actions to be handled
[code]
This is an asynchronous call that is executed remotely and returns a value via a future.
Both the local and remote ends of the action are queued by the scheduler so that parcels are sent when the scheduler next completes a task. Likewise when received and decoded, actions are invoked when the scheduler next is available. i.e. no tasks a

[2016-08-10 22:41] biddisco commented on #2284
Note. I did not say it, but it is assumed that the receiving end of an rdma_action would receive a message that an rdma_operation had taken place and the reciving parcelport would be directly responsible for setting flag/future states without going via the usual parcel decode and action invocation.

[2016-08-10 23:01] biddisco commented on #2284
Note 2. The remote end of the action could also register actions to be triggered by index whenever an rdma operations take place, so that the fist rdma_action signature would trigger an action remotely on each completion, whereas the second would trigger an action with the signalled index as a param - or potentially a different action per index

[2016-08-10 23:48] hkaiser commented on #2284
Instead of adding new special arguments to `async`, wouldn't it be possible to have something like:

     async(policy, an_rdma_action_type(rdma_object_id), locality, ...)

or

     async(policy, an_rdma_action_type(), rdma_destination(locality, rdma_object_id), ...)

?

[2016-08-11 07:03] biddisco commented on #2284
That looks nicer

[2016-08-11 10:15] biddisco opened #2286 "adjustments to parcel handling to support parcelports that do not need a connection cache"
This is a placeholder issue that I'm adding as I have a bunch of changes on the verbs PP branch I'm working on, that I'd like to merge into master first as they affect the layer above the PP itself.

The verbs PP does not need to have a connection cache, so in the parcelport_impl class we can bypass the get connection and queuing/dequeuing of some parcels and send them without certain checks.

[2016-08-11 13:01] #2248 closed

[2016-08-11 14:29] hkaiser commented on #2284
The second one is less desirable, though, as it splits the notion of sending something through the RDMA extensions and requires the user to specify it through two of the arguments to `async`. We would have to answer questions like 'What should happen if only one is specified?'...

[2016-08-11 14:36] biddisco commented on #2284
I've changed my mind, I like the first better.

[2016-08-11 14:52] biddisco commented on #2284
further discussion on this topic from IRC might clarify some points.

	heller	1) Why do you think we need to bypass serialization? What are your hopes there? What do you think makes the serialization layer slow?
	jbjnr	I'm not particularly concerned about serialization because for trivial types it is very fast. I'm concerned about the way actions are dispatched/handled.
	heller	right
	jbjnr	if the

[2016-08-11 16:15] hkaiser opened #2288 "Remove dormant parcelports"
We should remove the dormant code for the old IPC and IB-verbs parcel ports altogether. Those will not be re-activated any time soon and need serious refactoring anyways.

[2016-08-14 19:06] hkaiser commented on #2282
The problem with your code is that you're trying to run HPX code without initializing the HPX runtime. I will make sure the corresponding functions in HPX will throw an exception in this case instead of silently ignoring this.

[2016-08-16 01:03] hkaiser commented on #2286
This was fixed by merging #2291

[2016-08-16 01:03] #2286 closed

[2016-08-17 23:53] #2288 closed

[2016-08-19 17:13] #2282 closed

[2016-08-20 15:16] #2281 closed

[2016-08-24 00:15] ShmuelLevine opened #2307 "Documentation for accumulator example is out of sync with changes to api"
While re-reading through the latest documentation, I came across the following excerpt in the Accumulator Example (http://stellar-group.github.io/hpx/docs/html/hpx/tutorial/examples/accumulator.html)

Synchronous: To invoke an action in a fully synchronous manner, we can simply call hpx::async<>().get() (e.g., create a future and immediately wait on it to be ready). Here's an example from the accu

[2016-08-28 02:42] npezolano opened #2311 "hpx_0.9.99 out of project build fails"
env

-     Ubuntu 64bit 4.2.0-42-generic
-     gcc version 5.2.1
-     hpx 0.9.99
-     boost 0.16.0

The HPX examples run fine but while building out of project the compiler is looking for C++14 functions

[code]

Building main.cpp with  `-std=c++14` creates undefined reference errors:

[code]

[2016-08-28 04:26] sithhell commented on #2311
Could you give a little more detail please?
What's your error? How did you configure your build?

[2016-08-28 05:01] npezolano commented on #2311
Sure sorry about that, I'm just trying to build a simple "hello world" program in my own project.

I built boost as follows:

`./b2 -j32 --build-type=complete --layout=versioned toolset=gcc`

for hpx:
[code]

I also tried adding `cxxflags="-std=c++14"` for boost and `-DCMAKE_CXX_FLAGS="-std=c++14"` for hpx and I get the same error when I compile in the first post.

[2016-08-28 08:54] sithhell commented on #2311
Ah, sorry for being dense. Your detailed description wasn't showing in my mail client.
First of all, yes, the c++ flavor chosen for hpx is probably not transparent enough...

Second, you need to link against the hpx libraries. You can either choose our cmake support our use pkg-config to get the correct settings. The docs are here:
http://stellar-group.github.io/hpx/docs/html/hpx/manual/build_syst

[2016-08-28 15:32] hkaiser commented on #2311
@npezolano This error happens whenever you build HPX with `--std=c++14` (which is the default for any recent compiler) but your application is built using `--std=c++11`. You can enforce building HPX in C++11 mode by supplying `-DHPX_WITH_CXX11=On` to the cmake command line. Alternatively you can build your application using `--std=C++14`.

[2016-08-28 15:34] #2147 closed

[2016-08-28 15:40] hkaiser commented on #2307
@ShmuelLevine Was this fixed by merging #2309?

[2016-08-28 16:20] ShmuelLevine commented on #2307
Unfortunately not.  That PR was intended to fix some basic spelling errors and grammatical errors in the documentation itself -- I did not take on myself to correct any errors such as this in the code.

As to this issue itself - I'd be happy to help with the documentation if you could help me to better understand why code has changed from the older versions (around 0.9.11) to the present form.  I'

[2016-08-28 17:15] hkaiser commented on #2307
We have changed this construct:

    async(action_type(), id, ...).get();

to

    action_type()(id, ...);

The latter is just a bit more readable, otherwise they are equivalent.
If you however think that the former is ok as well (or even better), we can certainly change it back.

[2016-08-29 03:37] brycelelbach opened #2312 "--hpx:bind range specifier restrictions are overly restrictive"
Suppose I'm trying to write an --hpx:bind specifier asking for 2 threads per core on a system with 4 threads per core in total.

----

For reference, if I want 4 out 4 thread per core, this works:

[code]

----

Also, if I want 1 out 4 thread per core, this works:

[code]

----

Given that the above two examples work, I'd expect the following to work for 2 out of threads per core.

[code]

If I do

[2016-08-29 03:42] brycelelbach opened #2313 "--hpx:print-bind doesn't work with --hpx:pu-step"
--hpx:print-bind does not work with --hpx:pu-step. It would be nice if we had a diagnostic option to validate affinity settings that worked with --hpx:pu-step.

For reference, src/hpx_init.cpp line 602 is where we disable --hpx:print-bind for --hpx:pu-step (and I did try just disabling that error to confirm that --hpx:print-bind does not in fact work with --hpx:pu-step).

[2016-08-29 04:02] brycelelbach opened #2314 "Warning for requested/allocated thread discrepancy is printed twice."
E.g.

[code]

This happens because  handle_arguments() gets called twice in command_line_handling.cpp, once on the initial command line (before aliases) and once after aliases, etc have been processed. It's probably somewhat annoying to fix, but it would be nice to do so.

P.S. It would also be nice to have a way to disable this flag. On some systems I can't avoid triggering this error due to odd

[2016-08-29 12:43] hkaiser commented on #2313
This problem has been introduced at the point when we made `--hpx:bind=balanced`  the default (#2180). This was done by defining a implied value for this command line option, essentially making it present always.
This leads to the issue that now `--hpx:pu-step` is unusable as it is not allowed to be used together with `--hpx:bind`.

The easiest workaround for now would be to revert the patch relat

[2016-08-29 12:47] hkaiser commented on #2314
This shouldn't be difficult to fix. We solved similar issues in the past.

We could use `std::cerr` instead...

[2016-08-29 12:49] hkaiser commented on #2312
I believe those are genuine bugs in the code which is analyzing the bind expressions.

[2016-08-29 14:17] hkaiser commented on #2313
@brycelelbach I think I know how to fix this and will try to get a PR ready asap.

[2016-08-29 17:24] sithhell commented on #2314
systems I can't avoid triggering this error due to odd SLURM
configurations, and it makes collecting data annoying because I have to
filter those warnings out of my batch script outputs.

This is already possible with the `--hpx:ignore-batch-env` command line
switch.

[2016-08-29 18:18] hkaiser commented on #2314
Not sure if this is what @brycelelbach is after.

[2016-08-29 21:46] npezolano commented on #2311
@hkaiser @sithhell Thanks I was able to get it working, I can post a sample out of project build using Scons if it will help anyone.

[2016-08-29 22:31] hkaiser commented on #2311
Yes, please do! We could add that to the docs.

[2016-09-01 13:27] hkaiser commented on #2312
The PR #2328 will fix the first of your issues (`thread:0-63=core:0-31.pu:0-1`).

The second of your issues is actually handled correctly. `thread:0-63=pu:0` will bind all threads to the first available PU. If you need to bind to the first PU of each of the cores use `thread:0-63=cores:0-63.pu:0`.

The third of your issues is correctly reported as an error, use `thread:0-63=core:0-31.pu:0-1` inste

[2016-09-02 11:15] #2313 closed

[2016-09-02 11:16] #2314 closed

[2016-09-02 11:16] #2312 closed

[2016-09-02 11:16] #2311 closed

[2016-09-02 17:27] hkaiser commented on #1982
Is this still a problem?

[2016-09-02 20:39] brycelelbach opened #2319 "-std=c++14 and -std=c++1y with Intel can't build recent Boost builds due to insufficient C++14 support; don't enable these flags by default for Intel"
Intel can build Boost just fine with -std=c++11, but with -std=c++14 or -std=c++1y it fails because it does not have full C++14 support and some Boost libraries (Fusion in particular) try to use said features and fail. Our current CMake infrastructure tests for the flags and assumes that if a compiler has -std=c++14/-std=c++1y flag it should be used.

Pull request coming which disables the -std=c+

[2016-09-03 14:15] #2319 closed

[2016-09-07 19:24] DavidPfander-UniStuttgart opened #2323 "Constructing a vector of components only correctly initializes the first component"
Constructing a vector of components only correctly initializes the first component. There seem to be some std::move calls that hinder the construction of the other components, as they receive values that have been moved away, see the following example:

[code]

Expected output:
[code]

Actual output:
[code]

[2016-09-07 21:26] AntonBikineev commented on #2323
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/components/server/runtime_support.hpp#L656
These moves cause this problem

[2016-09-07 21:30] hkaiser commented on #2323
@AntonBikineev  Yes, thanks. The arguments of this function could also be converted to forwarding references.

[2016-09-07 21:36] AntonBikineev commented on #2323
@hkaiser I've thought about it too, but it seems to me there should still be explicit copies in that loop

[2016-09-07 22:25] hkaiser commented on #2323
@AntonBikineev yes, I agree. I'll submit a patch later today.

[2016-09-07 23:01] DavidPfander-UniStuttgart opened #2324 "Change default number of threads used to the maximum of the system"
Please change the default number of threads so that all cores are utilized.

If no configuration is provided, HPX falls back to its defaults. Those lead to only a single core being used on a node (developer desktop machine). For an easier start for new developer, it would be nice if by default the number of threads would match the number of cores.

[2016-09-07 23:40] pagrubel commented on #2324
Hmm I’m wondering what the default really is. For instance if I run hello_world (examples/quickstart/hello_world) on the head node on rostam it only uses one three whereas if I make an interactive allocation on another node such as carson, it use all 20 threads as default.

Pat
On Sep 7, 2016, at 5:01 PM, DavidPfander-UniStuttgart <notifications@github.com<mailto:notifications@github.com>> wrote:

[2016-09-07 23:41] pagrubel commented on #2324
On Sep 7, 2016, at 5:40 PM, Patricia Grubel <pagrubel@nmsu.edu<mailto:pagrubel@nmsu.edu>> wrote:

Hmm I’m wondering what the default really is. For instance if I run hello_world (examples/quickstart/hello_world) on the head node on rostam it only uses one three whereas if I make an interactive allocation on another node such as carson, it use all 20 threads as default.

one thread (stupid auto cor

[2016-09-08 10:50] sithhell opened #2325 "scan_partitioner is not working as expected."
Parallel algorithms using the scan partitioner are spuriously failing when
the continuation in dataflow is executed asynchronously.

It seems that when passing hpx::launch::sync to the dataflow invocation works around that issue.

A fix needs to be found such that it works with (async) executors again.

[2016-09-08 14:51] hkaiser opened #2327 "Create generic histogram performance counter"
This could be done similarily to the statistics counter which calculates the mean of the values periodically extracted from any other counter.

[2016-09-10 12:30] hkaiser opened #2329 "Coordinate settings in cmake"
The settings for `CXX14/CXX1Y` and `HPX_HAVE_CXX1Y_EXPERIMENTAL_OPTIONAL` need to be coordinated.

[2016-09-10 12:32] hkaiser commented on #2329
[09 Sep 16 17:24] * gentryx * quick question: I'm compiling HPX with GCC 5.3.0 in C++11 mode (because: CUDA). Now HPX has the configure test HPX_WITH_CXX1Y_EXPERIMENTAL_OPTIONAL which succeeds and hence enables some C++14-only includes. These then fail with any compilation unit that goes through nvcc. how can I work around this?
[09 Sep 16 17:24] * gentryx * I would have expected that setting DHPX

[2016-09-11 20:08] biddisco commented on #1965
Just as a followup on this, I would like to draw one's attention to one of the tests for which I enabled timing output in ctest/cdash compatible form
http://cdash.cscs.ch/testDetails.php?test=5513945&build=44608
if you select SortByKeyTime (in the plot option) and then `zoom out`, you will see a noticable drop in performance around mid july (ignore the flat region in june, I was testing a new sort

[2016-09-15 14:23] hkaiser opened #2333 "Implement datapar for parallel algorithms"
Here is the list of all parallel algorithms. We plan to enable most (if not all) to support `datapar`, `datapar(task)` and variations.
- [x] `adjacent_difference` (#5580)
- [x] `inner_product` (see #2330)
- [ ] `adjacent_find`
- [ ] `all_of` `any_of` `none_of`
- [x] `copy` `copy_n` (#5428)
- [ ] `copy_if`
- [ ] `move`
- [x] `count` `count_if` (see #2330)
- [ ] `equal` `mismatch`
- [ ] `exclusive_s

[2016-09-16 17:43] DavidPfander-UniStuttgart opened #2334 "Cannot construct component with large vector on a remote locality"
I created a component with a data member that has a size 512mb. The component is created on the first remote locality (therefore the code example requires 2 localities). Running the example leads to two different errors, depending on whether a debug or a release build of HPX is used (see below). Now, if the matrix size is decreased (set N to 4096), everything seems to be ok.

Bug in the example or

[2016-09-16 18:42] sithhell commented on #2334
The errors are actually the same and look like a genuine hpx bug.

[2016-09-18 17:40] sithhell commented on #2334
If you have the time, could you please provide a backtrace?

[2016-09-19 01:41] hkaiser commented on #2334
I have added the test from above here: https://github.com/STEllAR-GROUP/hpx/tree/fixing_2334. Unfortunately, the problem is not reproducible for me.

[2016-09-19 07:14] sithhell commented on #2334
Could you please check again with latest master? If my suspicion was correct, this has been fixed with merging #2302. The relevant change should be that one: https://github.com/STEllAR-GROUP/hpx/pull/2302/files#diff-a8aad89cda0f631a36250f65a21f11d2R96

[2016-09-19 17:00] pagrubel commented on #2324
Ok so one shouldn’t run on the head node anyway.

Pat
On Sep 19, 2016, at 9:40 AM, DavidPfander-UniStuttgart <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Pat,
I talked to Al about the default number of threads and cores used on rostam. There seems to be a class that interprets the slurm environment to setup HPX according to those variables.

David

—
You are receiving thi

[2016-09-19 17:03] DavidPfander-UniStuttgart commented on #2334
Ok, there is still some issue as my code still crashes for large matrices (N=8192) and it still looks related to the matrix. The error says "broken pipe" (see attachment) which again could be a bug in my program or a bug in HPX. As I haven't created a minimal example and it might be a bug in my code, I leave this issue closed.
[error_large_matrix.txt](https://github.com/STEllAR-GROUP/hpx/files/480

[2016-09-19 17:18] sithhell commented on #2324
Am 19.09.2016 5:40 nachm. schrieb "DavidPfander-UniStuttgart" <
notifications@github.com>:

rostam. There seems to be a class that interprets the slurm environment to
setup HPX according to those variables.

There is indeed. Not only for slurm but other batch systems as well. In
addition, you can always pass --hpx:threads=all (even in your program).
Does this solve your issue?

[2016-09-19 17:25] sithhell commented on #2334
Am 19.09.2016 7:03 nachm. schrieb "DavidPfander-UniStuttgart" <
notifications@github.com>:

(N=8192) and it still looks related to the matrix. The error says "broken
pipe" (see attachment) which again could be a bug in my program or a bug in
HPX. As I haven't created a minimal example and it might be a bug in my
code, I leave this issue closed.

Broken pipes are usually errors you get with not clo

[2016-09-19 18:02] DavidPfander-UniStuttgart commented on #2324
Yes, I'm aware that this switch lets my use all cores. However, when I developed my very first small example problem, I wasn't aware of that switch und didn't encounter any obvious hints that this extra switch is necessary. Therefore, I was surprised that my application didn't run in parallel.

To make it easier to start developing stuff with HPX, I merely wanted to propose that, if no other confi

[2016-09-19 18:08] DavidPfander-UniStuttgart commented on #2334
According to you hint in the ste||ar-chat, I tried using commit ba57370, which was the commit before the merge of parcel_optimizations.
Unfortunately, I'm still getting errors with my debug build:
[code]

[2016-09-19 18:57] sithhell commented on #2334
Sorry I was not being clear. You should use the mentioned commit and manually apply those changes:
https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/threads/detail/thread_pool.cpp#L96-L102

[2016-09-19 20:06] DavidPfander-UniStuttgart commented on #2334
I actually didn't read your instructions carefully enough, sorry for that.

Now with the change applied and HPX recompiled, I unfortunately still get the same error:
[code]

[2016-09-21 09:15] #2323 closed

[2016-09-21 19:19] biddisco opened #2338 "Possible race in sliding semaphore"
Whilst experimenting with the osu_latency test using a sliding semaphore I found a problem that looks like a race in sliding_semaphore. The attached code snippet should reproduce a deadlock when run on >1 localities and >1 threads.

It looks as though the tread that calls wait on the semaphore, takes the lock and goes into a wait, but the signal to awake the thread comes in before the wait thread

[2016-09-22 00:42] hkaiser commented on #2338
@biddisco Could you try the fixing_2338 branch if it fixes your issues?

[2016-09-23 18:23] biddisco opened #2342 "Enabling APEX causes link errors"
I get errors of this kind related to boost regex when I turn on APEX support in HPX

https://gist.githubusercontent.com/biddisco/5e081113df14bc76ed61afdfd47ebae7/raw/745baf6ddada9e71757a304bdac87282d4a025f1/gistfile1.txt

I suspect @khuck is the person to ask about this.

[2016-09-23 18:37] khuck commented on #2342
John -  Can you post the Cmake options you used? I haven't seen this problem.

Also, are you using the latest HPX? There was a recent change to pull the most recent code from APEX that includes OTF2 support, which has been tested with HPX - but without the communication events.

[2016-09-23 18:57] biddisco commented on #2342
I'm using master from today. Rechecking everything because I turned off APEX and the link errors didn't go away, so maybe some other option I used is the problem.

[2016-09-23 20:02] hkaiser commented on #2342
@biddisco Please verify that libhpx.so is being linked against the correct version of the Boost.Regex library.

[2016-09-23 20:57] biddisco commented on #2342
Please accept my apologies - it turns out to be a problem that is caused when you allow HPX to set the build flags, if I explicity force CMAKE_CXX_FLAGS=-std=c++11 then things build ok, but if I do not use that flag, HPX must set some c++14 flags and the link problems appear - I would guess that there is some #define in boost that is causing problems because I tried building boost with c++14 and h

[2016-09-23 20:57] #2342 closed

[2016-09-24 21:44] DavidPfander-UniStuttgart commented on #2334
After some some quite extensive testing, it turned out that my error is again related to creating a component with a large memory footprint.

I had to add
[code]
and I had to increase the size of the matrix a from N=8192 to N=16384 (leads to a 2GB matrix). I suspect that this is related to the total bytes, because if I add a second matrix and both matrices are 8192x8192, the problem also appears.

[2016-09-26 00:06] hkaiser commented on #2334
While the error message is misleading, the fact that things for arrays of this size fail is expected. The default maximal inbound message size allowed is currently 1GByte. This value is configurable through the configuration database entry `hpx.parcel.max_message_size=<new_max_message_size>` (for instance using the `-I` command line option).

[2016-09-27 22:31] DavidPfander-UniStuttgart commented on #2334
I'm getting correct results with max_message_size increased. (Although I used --hpx:config <ini-File>, -I wouldn't work.)

[2016-09-29 13:10] ShmuelLevine opened #2350 "Build failure - master branch (4de09f5) with Intel Compiler v17"
Hi All:

I encountered build errors with the latest commit as of last night (4de0915) on my workstation, using the latest version of Intel C++ compiler.  Additionally, there are number of warnings from the compiler.  I've tried to provide as much information below as I've been able.  This particular machine is at a different location from my server and, so I do not have [Intel,any] MPI libraries i

[2016-09-29 16:43] hkaiser commented on #2350
@ShmuelLevine please try this branch and let us know whether it fixes your issue: https://github.com/STEllAR-GROUP/hpx/tree/vtable-get-function-address-fix

[2016-10-01 01:05] pagrubel commented on #2350
The vtable-get-function-address-fix branch took care of my problems on builds with intel 17 build with AVX512 flag for the KNL.

[2016-10-01 14:53] hkaiser commented on #2350
This was fixed by merging #2351

[2016-10-01 14:53] #2350 closed

[2016-10-02 02:37] pagrubel opened #2352 "Compile errors when using intel 17 beta (for KNL) on edison"
compiler modules loaded:
 intel/2017.beta.up2
gcc/4.9.3

output from cmake:
-- The CXX compiler identification is Intel 17.0.0.20160517
-- The C compiler identification is Intel 17.0.0.20160517
-- Check for working CXX compiler: /usr/common/software/intel/compilers_and_libraries_2017.0.064/linux/bin/intel64/icpc
-- Check for working CXX compiler: /usr/common/software/intel/compilers_and_libraries_

[2016-10-02 15:34] hkaiser commented on #2352
This is (indirectly) caused by the `-DHPX_WITH_MAX_CPU_COUNT=N`, where N > 64. In this case the `mask_type` is not a `uint64_t` anymore, but either a `std::bitset` or a `boost::dynamic_bitmask`. These types require to include the corresponding serialization support, which apparently is currently missing.

[2016-10-02 17:43] ShmuelLevine commented on #2350
sorry for the delay...
I've still gotten an error here on branch/commit:
                    vtable-get-function-address-fix [4ec6e46] untracked
[  3%] Built target hpx_init
[  3%] Building CXX object src/CMakeFiles/hpx.dir/util/thread_description.cpp.o
/usr/src/hpx/src/util/thread_description.cpp(50): error: class "hpx::util::thread_description" has no member "init_from_alternative_name"
      vo

[2016-10-02 18:54] hkaiser commented on #2350
@ShmuelLevine That should be fixed now. Nobody has been building HPX with `HPX_WITH_THREAD_DESCRIPTION_FULL` for a while, looks like that way we missed that we broke it. Thanks!

[2016-10-04 13:36] #2352 closed

[2016-10-05 15:08] timbiedert opened #2357 "failed to insert console_print_action into typename_to_id_t registry"
Just did a fresh compile of the current master branch on Arch Linux (default settings in CMake + MPI parcelport enabled).

When running my application (or hello_world or fibonacci example), I get the following error:

[code]

Interestingly, my previously installed version (also built from master branch,  maybe 1-2 months ago) worked fine.

[2016-10-05 15:14] sithhell commented on #2357
I'll look into it. None of our tests show that failure. Could you check
with ldd if you didn't accidentally picked up the wrong library?

[2016-10-05 16:31] hkaiser commented on #2357
This sounds like as if there was a stale binary found somewhere during startup. This error means that an id is registered twice which can happen only if a module is loaded twice.

[2016-10-06 12:31] timbiedert commented on #2357
It seems like this was indeed the problem. I cleared everything HPX-related from /usr/local and did a fresh compile and install. Now it works, thank you!

My original goal was to have both a release and a debug installation in /usr/local. So this is not recommended?

[2016-10-06 12:58] hkaiser opened #2358 "Installing debug/release in same directory broken"
Installing different versions (debug/release) of HPX in the same directory used to work, but is broken now. See #2357 for a symptom.

[2016-10-06 12:58] hkaiser commented on #2357
I thought it was possible to have both in the same spot. Looks like we introduced a regression here. So for now, please try to avoid installing several versions of HPX in the same location.

See #2358 to track the status of this.

[2016-10-06 12:58] #2357 closed

[2016-10-06 13:11] timbiedert commented on #2357
I can confirm this seems to be the case.
Again, I also compiled release mode and installed to /usr/local next to the previous debug installation.  Now I get the `failed to insert console_print_action into typename_to_id_t registry` again.

[2016-10-07 06:13] ShmuelLevine commented on #2350
As of 94582f5, hpx builds successfully with the Intel compiler

[2016-10-07 07:40] sithhell commented on #2334
The regression test covering this issue is showing a failure still. The failure is due to a bug in the termination detection algorithm.

[2016-10-07 11:42] hkaiser commented on #2350
@ShmuelLevine thanks, this should be in master by now.

[2016-10-09 01:19] #2334 closed

[2016-10-09 19:00] ShmuelLevine commented on #2350
Indeed - the successful build was on the master branch

Thanks again for the help.

Sent from my Android phone

On Fri, Oct 7, 2016 at 7:42 AM -0400, "Hartmut Kaiser" <notifications@github.com> wrote:

@ShmuelLevine thanks, this should be in master by now.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-23 15:40] hkaiser commented on #1973
@gentryx How would you propose to fix this issue? Could you create a small reproducing use case for us to try, please?

[2016-10-24 19:12] stevenrbrandt opened #2368 "HPX_ASSERT problem"
When running this modified intersim benchmark against these modified composable guard files, something strange happens. The HPX_ASSERT(false) on line 113 allows the program to continue running, bypassing the abort() on line 114. This happens for RelWithDebugInfo, but not Debug. The breakme() function is there to give gdb an easy target to attach to.

[HPX_ASSERT.zip](https://github.com/STEllAR-GRO

[2016-10-25 20:25] stevenrbrandt commented on #2368
Except that the assert *does* do something, even though it's supposed to be disabled in that mode. Note above, the HPX_ASSERT(false) causes the code to bypass the abort() on the next line.

[2016-10-26 20:42] stevenrbrandt opened #2370 "Can't wait on a wrapped future"
I create a simple wrapped future in the attached file. It uses a sleep(1) to ensure that the lambda function doesn't complete too quickly to see the probem. The problem is that the wait() call completes, before the wrapped future finishes, thus the code prints:

finish
I am done

instead of:

I am done
finish

The way things stand, there seems to be no way to wait on a wrapped future.

[2016-10-26 21:44] stevenrbrandt commented on #2370
I thought I'd attached that code. Apparently the web interface tricked me.

[2016-10-27 01:00] hkaiser opened #2371 "Make all of HPX ABI stable"
Mixing build types between applications and HPX currently causes strange errors. We should make HPX itself ABI stable to avoid these issues.

 Here is a list of places to look at:
- [ ] `threads::thread_init_data`
- [ ] types and functions related to the lock verification
- [ ] thread local data (see `HPX_WITH_THREAD_LOCAL_STORAGE`) (see #2375)

[2016-10-27 01:01] dhollman commented on #2371
Or just an error other than a segfault would be fine 👍 :-)

[2016-10-27 01:10] K-ballo commented on #2371
It'd be enough to make the ABI consistent across build types, making it stable seems overkill at this point.

[2016-10-27 01:35] hkaiser commented on #2370
The code does the correct thing. The problem is that `async(run)` returns a `future<future<void>>`, so that `async(run).wait()` will just wait for the outer future to become ready. The outer future however becomes ready when `run()` has executed to completion. In order to achieve the effect you are looking for you'd need to change the code to:

    async(run).get().wait();

alternatively (forcing

[2016-10-27 01:35] #2370 closed

[2016-10-27 18:49] zao opened #2376 "Boost trunk's spinlock initializer fails to compile"
Boost on the master git branch fails with the following use of implementation detail.
Boost 1.62 works fine.

Fedora 24, GCC 6.2.1, Boost e87e4448479ec5d50d63359dd391e9dc2ee3eb48, HPX b3f2df0b7faeafdabab66be92772fc4924d96cf9

[code]

[2016-10-27 19:09] sithhell commented on #2371
One big problem is also that `HPX_DEBUG` defines end up in the API.

[2016-10-27 20:04] biddisco commented on #2371
just fyi. for the tutorial examples I put this in the cmake
https://github.com/STEllAR-GROUP/tutorials/blob/master/examples/CMakeLists.txt#L50-L58

[2016-10-27 22:17] hkaiser commented on #2376
@sithhell didn't we fix this already?

[2016-11-05 15:49] hkaiser commented on #702
This was fixed by merging #2353

[2016-11-05 15:49] #702 closed

[2016-11-08 20:39] hkaiser commented on #2368
@stevenrbrandt I can't reproduce your problem, sorry. Could you give a more precise description of how to reproduce it?

[2016-11-11 14:02] hkaiser opened #2386 "Lock registration broken for recursive_mutex"
The lock registration for `recursive_mutex` registers the same mutex more than once. This confuses the lock registration code.

[2016-11-13 23:03] hkaiser opened #2390 "Adapt execution policy name changes from C++17"
While the Parallelsim TS has been now adopted tobe part of C++17, there have been a couple of name changes which require corresponding changes in HPX:

 - [x] `par_vec` has been renamed to `par_unseq` (see #2436)
 - [x] execution policies now live in `namespace std::execution`  (see #2436)
 - [x] execution policies now don't have `'execution'` in their name anymore (i.e. the former  `std::sequenti

[2016-11-14 07:01] biddisco commented on #2390
"any exception thrown from any of the algorithms now calls std::terminate"

Why on earth was this decided. I agree that its hard to recover from an error, but calling terminate sounds very drastic.

[2016-11-14 12:51] hkaiser commented on #2390
I agree completely and I don't think we should follow down that path. The way the wording is done now is that the exception behavior is defined by the execution policy and all standardized policies (`std::execution::seq`, `std::execution::par`, and `std::execution::par_unseq`) will cause for the algorithms to call `std::terminate` in case of any exceptions. This leaves us free to do whatever we se

[2016-11-16 10:40] #2386 closed

[2016-11-16 18:18] BryantLam opened #2394 "Template compilation error using HPX_WITH_DATAPAR_LIBFLATARRAY"
Building git commit 88af985 with HPX_WITH_DATAPAR_LIBFLATARRAY=ON.

This header file generated GCC compiler errors:
hpx/parallel/traits/detail/libflatarray/vector_pack_alignment_size.hpp
`60:44: error: expected primary-expression before > token`
`60:45: error: '::ALIGNMENT' has not been declared`
`69:44: error: expected primary-expression before > token`
`69:45: error: '::ALIGNMENT' has not been d

[2016-11-16 18:37] hkaiser commented on #2394
Thanks, this is currently not fully implemented because of missing pieces in libflatarray. Please don't use this option at this point. We hope to have this finalized before releasing V1.0.

Both, HPX_WITH_DATAPAR_VC` and `HPX_WITH_DATAPAR_BOOST_SIMD` should be fine, though, especially on the branch datapar_octotiger (PR #2388). Please report any problems you may find there.

@gentry: Do you have a

[2016-11-16 20:29] BryantLam opened #2396 "BOOST_ROOT paths are not used at link time"
This issue was observed with HPX release 0.9.99 and git commit 88af985.

On my system, there are some older Boost libraries installed in /usr/lib64, so I built Boost 1.61.0 in my home directory and used `BOOST_ROOT` at cmake-time to reference it.

At compile time, the `BOOST_ROOT` path is correctly used as `-isystem $BOOST_ROOT/include`. However, at link time, the Boost libraries are referenced (e

[2016-11-16 20:34] BryantLam commented on #2396
This issue does not occur when `HPX_WITH_STATIC_LINKING=ON`.

[2016-11-16 21:08] hkaiser commented on #2396
Adding `-DBOOST_LIBRARYDIR=<your_boost_library_dir>` to the cmake command line should fix the issue.

[2016-11-16 22:45] BryantLam commented on #2396
Unfortunately, setting `BOOST_LIBRARYDIR` did not work. Using `-DBoost_DEBUG:BOOL=ON`, I was able to verify Boost paths were detected correctly.

I noticed that during link time, the last argument is an `-rpath` list that includes jemalloc (so at least that one was detected correctly), but Boost is not in the list. Setting `-DBoost_NO_SYSTEM_PATHS:BOOL=ON` at cmake-time did not help.

This issue m

[2016-11-17 05:39] sithhell commented on #2396
We use target link libraries, which should do the job just fine.
Do you have the environment variables CPATH or CPLUS_INCLUDE_PATH set? If
yes, for some reason, the FindBoost.cmake script doesn't set the path to
the libraries correctly which leads to the link failures you mentioned.
I believe the modulefiles from easybuild do this. There is not a lot we can
do about it there. I don't remember if a

[2016-11-17 08:15] biddisco commented on #2235
Just FYI : In the verbs parcelport branch, I have modified the concurrent::unordered_map to make use of a new readers_writers_lock mutex and unique_lock/scoped_lock - this gives us single writer and multiple reader support for map. Once the verbs PP branch is merged, this code can be moved into the hpx/concurrent directory where some work was started (in the concurrent_data_structures branch).

[2016-11-17 08:22] biddisco opened #2397 "CMake generated config defines can cause tedious rebuilds"
I am frustrated by the `hpx_add_config_define` macro that generates a variable that is in turn added to `config/defines.hpp` - when changing a parcelport parameter, modifying this file triggers a complete rebuild of the entire hpx stack, which is of course not necessary.

I plan to modify the config macros to allow a namespace type var so that we can put verbs/parcelport variables into their own c

[2016-11-17 17:19] BryantLam commented on #2396
Thanks for pointing me in the right direction. It turns out LIBRARY_PATH is the problem. I tested by setting CPATH but omitting to set LIBRARY_PATH.

My best-effort explanation is that CMake asks the compiler for system library paths (the compiler will then check LIBRARY_PATH) and CMake will strip the absolute path off of the libraries that the compiler can find in a "system path".

References
- [

[2016-11-17 17:35] hkaiser commented on #2396
I assume we can close this now. Thanks for your analysis!

[2016-11-17 17:35] #2396 closed

[2016-11-17 18:11] BryantLam commented on #2396
More information here: [CMP0060](https://cmake.org/cmake/help/v3.3/policy/CMP0060.html)

I don't think this issue should be closed. The CMake files in HPX should change to handle this case.

Specifically going forward, CMP0060=NEW seems like an easy fix, but I'm unsure of what impact it has to HPX's backwards compatibility. Also, it does not solve the issue for users using CMake versions less than

[2016-11-17 19:46] hkaiser commented on #2396
Would you have a suggestion on how this could be 'fixed'. The investigations we have done so far all pointed into the direction of a problem in cmake itself. So, any ideas or PRs would be more than welcome.

[2016-11-18 17:38] folshost opened #2399 "Error trying to push back vector of futures to vector"
In the following code, I'm attempting to create a vector of vectors of double futures, but am getting an error when trying to push the vector of double futures onto the parent vector. I talked with Samuel about it, and he thinks that it is an HPX problem, so I'm putting it up here to let you guys know about it.

Here's the code:

[code]

Here's the error:

As the error points out, I'm working on t

[2016-11-18 17:50] K-ballo commented on #2399
The line causing the error is trying to copy a vector of futures, which cannot be done as futures are not copyable. Presumably the code should move the local vector into the parent vector, rather than attempting to insert a copy and then discarding the original.

[2016-11-18 18:02] hkaiser commented on #2399
I'll close this as invalid, feel free to comment if you have further questions.

[2016-11-18 18:02] #2399 closed

[2016-11-19 09:55] #2397 closed

[2016-11-19 21:13] BryantLam commented on #2396
Continuing discussion in PR #2400 and PR #2401. Thanks!

[2016-11-20 09:53] biddisco commented on #2396
With newer versions of hpx/boost, the correct settings should be
[code]
With paths adjusted to match the correct location for the boost install.

could @BryantLam try these and see if the original problem goes away?

[2016-11-21 03:53] BryantLam commented on #2396
Respectfully, `Boost_INCLUDE_DIR` and `Boost_LIBRARY_DIR` should not be set by the user. Those are return variables set by the FindBoost.cmake package script included with CMake.

I did give it a shot though and set these variables:
[code]
The result was the same; HPX fails to link. The `hpx` target (libhpx.so) is trying to link implicitly.

[2016-11-21 08:51] biddisco commented on #2396
My bad. I was looking through some of my scripts for different machines and found those in there for one of them.

[2016-11-21 17:39] DavidPfander-UniStuttgart opened #2402 "datapar algorithm instantiated with wrong type"
Hi,

I'm trying to compile a simple datapar example with HPX and Vc. The lambda should be compiled in two versions: One with the Vc vector-type and one with the Vc scalar-type. But the error I get from my compiler indicates that it is also compiled with 'double &' as its type.

[code]

Compiler message, note the second line:
[code]

[2016-11-21 17:48] K-ballo commented on #2402
The definition of your lambda is incomplete, and merely looking at the declaration will implicitly instantiate the body. Would you try doing `[](auto t) -> void { ... }` instead? Sorry...

[2016-11-21 19:02] K-ballo commented on #2402
A lambda with no explicit return type does implicit return type deduction, and the rules governing implicit return type deduction are ... let's say suboptimal.

Don't close this issue just yet. It might be possible to do policy dispatch in two steps in such a way that code like this one is valid, or at least so that there's less superfluous lambda instantiation taking place.

[2016-11-21 19:04] hkaiser commented on #2402
@K-ballo What do you have in mind?

[2016-11-22 17:11] DavidPfander-UniStuttgart opened #2403 "datapar_execution + zip iterator: lambda arguments aren't references"
Reopened issue in this repository, as I mistakenly started it in the octotiger repository. For the history of the issue see @https://github.com/STEllAR-GROUP/octotiger/issues/22.

[2016-11-22 19:29] hkaiser commented on #2402
For future reference: the problem is caused by the concept checking associated with the function `hpx::parallel::for_each`. There we try to make sure that the provided function object is compatible with the `value_type` of the used iterators (after projection). However, when using the `datapar` execution policy, the function object is not invoked using the projected `value_type` but using a SIMD v

[2016-11-23 17:16] hkaiser commented on #2403
@DavidPfander-UniStuttgart: please verify that things work as expected if the lambda takes a reference (see test added by #2407)

[2016-11-23 18:07] DavidPfander-UniStuttgart opened #2408 "Stackoverflow detection for linux, e.g. based on libsigsegv"
Stack overflows can lead to hard-to-diagnose problems with HPX, as a stack overflow is reported (correctly) as a segmentation fault. However, stack overflows are pretty common for HPX-applications due to the small size of the stack of a HPX-thread.

As a new feature, I would like it a lot if stack overflows would be reported as a stack overflow on linux. Maybe the following example could be used a

[2016-11-23 18:12] zao commented on #2408
Note that `libsigsegv` is licensed under full-blown GPL.

[2016-11-23 18:51] DavidPfander-UniStuttgart commented on #2403
Still not compiling with a reference, see https://gist.github.com/DavidPfander-UniStuttgart/2bde59559f003128c6dcaa1a02cc4501.

[2016-11-23 21:33] hkaiser commented on #2408
@zao: IANAL, but I assume the implementation of libsigsegv is GPL'ed, using it will not be, otherwise any application compiled against the Linux API would fall under GPL as well.

[2016-11-24 06:30] zao commented on #2408
@hkaiser Some libraries have linking exceptions to allow use in proprietary applications. As far as I can tell, libsigsegv doesn't have one.

GNU has a family of libraries that are explicitly licensed under the full GPL to force users and their users to remain open source, designed to spread the GPL via virality.

In short, if you use this library in HPX, any build that incorporates this dependenc

[2016-11-24 11:02] biddisco commented on #2408
could be disabled automatically in release build and enabled optionally in debug?

[2016-11-24 11:53] zao commented on #2408
I've got two somewhat orthogonal concerns:

1. It must be possible to control explicitly whether the feature is built or not, and document it properly.
2. Package maintainers for a distro suddenly have an annoying choice to either ship HPX with GPL dependencies and poison any consumers, or ship it without the feature to remain usable by everyone.

The former matters for people who build and use fr

[2016-11-24 12:50] hkaiser commented on #2408
@zao Thanks for the explanations. I'd suggest we try to be very careful with including something like this in HPX.

If we want to include something like that we should:

* Create a separate project (separate repository) containing everything needed to build a static library linkable with HPX and providing the necessary functionality. This should implement a separate (delegating) API just for HPX.

[2016-11-24 12:54] hkaiser commented on #2408
In order to support pre-built distributions, the scheme could be extended to rely on a dynamic library built by the external project, to be loaded at runtime if available. Again, it's up to the user to decide whether to get involved with GPL or not.

[2016-11-24 15:35] hkaiser commented on #2403
The compilation problem is caused by the concept checking. Disabling the concept checking (in particular the `parallel::traits::is_indirect_callable<...>;;value`) makes things compile and run just fine. The solution is related to solving #2402. Specializing `is_indirect_callable` for the datapar execution policies and zip_iterators should prevent this from happening.

[2016-11-24 16:46] DavidPfander-UniStuttgart commented on #2408
I think the important stuff about GPL has been said, but there are other problems and other solutions:
- I so far didn't check whether libsigsegv works with the stack switching schedule, so it might not work
- There seems to be ways to create stackoverflow handlers without that lib, for more see https://rethinkdb.com/blog/handling-stack-overflow-on-custom-stacks/

[2016-11-24 18:31] hkaiser commented on #2408
@DavidPfander-UniStuttgart Thanks for this link, really interesting indeed. The best is that it looks like to be doable...

[2016-11-25 22:56] #2402 closed

[2016-11-26 00:36] hkaiser commented on #2403
This has been fixed by merging #2407

[2016-11-26 00:36] #2403 closed

[2016-11-28 14:51] timbiedert opened #2410 "undefined reference to opal_hwloc191_hwloc_....."
I'm trying to compile HPX on a new cluster I was just granted access to.

There is some hwloc-related issue:

[code]
(and lots of similar errors)

What does this mean?

Here's my Cmake command (using current master branch of hpx):
[code]

I did compile the newest hwloc 1.11.5 myself because on the system only 1.7 was installed; which produced the same error, however.

System:
- CentOS 7.2
- GCC 6.

[2016-11-28 16:29] hkaiser commented on #2410
Apparently it's looking for symbols for HWLOC V1.9.1. Could you verify the linker is finding the correct HWLOC binaries?

[2016-11-28 17:53] zao commented on #2410
Surely it's the include search path (order) that's bogus if the objects contain references to an older `hwloc`?

My guess is at something sneaking in `/usr/include` (or similar) before `HWLOC_INCLUDE_DIR`, if at all used.

[2016-11-28 18:18] pagrubel commented on #2410
Try -DHWLOC_ROOT
On Nov 28, 2016, at 10:53 AM, Lars Viklund <notifications@github.com<mailto:notifications@github.com>> wrote:

Surely it's the include search path (order) that's bogus if the objects contain references to an older hwloc?

My guess is at something sneaking in /usr/include (or similar) before HWLOC_INCLUDE_DIR, if at all used.

—
You are receiving this because you are subscribed to

[2016-11-29 14:07] timbiedert commented on #2410
Setting -DHWLOC_ROOT did not work.

An exemplary make command:
[code]

Note that `-I/home/tb582202/local/include` comes before `-I/opt/MPI/openmpi-1.10.4/linux/gcc_6.2.0/include/openmpi/opal/mca/hwloc/hwloc191/hwloc/include` (which seems to be added automatically as part of OpenMPI)

And here's the linker command:
[code]
Only my manual `/home/tb582202/local/lib/libhwloc.so` is present.

Unfortunat

[2016-11-29 14:21] hkaiser commented on #2410
As you said, you are trying to compile and link against HWLOC 1.11.1 but the compiler command line refers to

    /opt/MPI/openmpi-1.10.4/linux/gcc_6.2.0/include/openmpi/opal/mca/hwloc/hwloc191/hwloc/include

If there is no HWLOC 1.9.1 binary available for the linker to find then this explains the missing symbols you reported.

The only option I see is to make the missing HWLOC 1.9.1 binary availa

[2016-11-29 14:24] timbiedert commented on #2410
I'm rather surprised it does not find the HWLOC 1.11.1 headers I installed to `/home/tb582202/local/include`,  but prefers the 1.9.1 headers (of which the include path is specified AFTER).

[2016-11-29 14:28] hkaiser commented on #2410
@timbiedert I think the missing symbols come from references inside your openmpi implementation. HPX does not modify the exported HWLOC names (does not prepend `opal_hwloc191_` to the symbols).

[2016-11-29 15:10] timbiedert commented on #2410
Solved it using this setup:
[code]

Using `nm -D` I found the missing `opal_hwloc191_hwloc_*` symbols in libopen-pal.so.

I'm still confused why the compiler actually chose the opal version, since my manual version was first in the include paths.

Without hwloc it also would have compiled. However, I was wondering, what would be the performance impact?

Thank you!

[2016-11-29 16:07] hkaiser commented on #2410
Without HWLOC HPX is not able to define affinities for the kernel threads which may impact your performance significantly.

I'll go ahead and close this now. Feel free to reopen if necessary.

[2016-11-29 16:07] #2410 closed

[2016-11-30 20:02] #2329 closed

[2016-12-03 05:08] atrantan opened #2418 "gcc + nvcc fails to compile code that uses partitioned_vector"
Got a strange error when trying to compile the example partitioned_vector.cu

Apparently the error points to the move constructor of std::pair that is defined like here:
`constexpr pair(pair&&) = default;`
nvcc seems to consider this constructor as a `__device__` constructor and not `__host__` or `__host__ __device__`

[2016-12-04 08:34] biddisco commented on #1125
The IPC parcelport was removed in #2293 - this issue is now closed

[2016-12-04 08:34] #1125 closed

[2016-12-04 08:36] biddisco commented on #839
If the shmem parcelport is in fact the IPC parcelport, then this was removed in #2293 - this issue can now be closed?

[2016-12-04 11:10] #839 closed

[2016-12-05 22:46] hkaiser opened #2420 "Returning object of a component client from another component action fails"
I am trying to return an object of a component client from an action defined in another component. Passing the same object in action as argument seems to work fine, but returning produces an error. What is the correct way of doing it ?

Minimal code for what I want :
[code]
Compilation fails with error :
[code]

[2016-12-05 23:55] AntonBikineev commented on #2420
just for a note, clang says:

[code]

[2016-12-06 01:04] hkaiser commented on #2420
The problem is a result of several issues:

- Direct actions currently don't support returning futures (clients are just special futures, and theyare treated as such by HPX). This needs to be fixed at some point.
- `hpx::async` for actions unfortunately behaves differently if compared to `hpx::async` for local functions. The former automatically unwraps futures, the latter does not automatically u

[2016-12-12 15:50] grgvineet opened #2424 "Async action on component present on hpx::find_here is executing synchronously"
Created a components on each available locality and executed action on it. Future returned by the component on hpx::find_here is always ready. It appears that it is scheduled immediately where as what I expect it to to schedule it on a separate OS thread and wait_all at the end waits for all.

Using latest master branch of HPX
HPX built in release mode
More than 1 OS thread is used for locality 0

[2016-12-12 16:00] hkaiser commented on #2424
That's exactly what direct actions are for. They are executed inline if execution is local. If you need asynchronous behavior, please use

    HPX_DEFINE_COMPONENT_ACTION(bar_server, get_foo, get_foo_action);

instead.

[2016-12-12 16:05] grgvineet commented on #2424
Oops!, missed that.
Thanks for a quick response.

[2016-12-12 16:06] #2424 closed

[2016-12-13 21:19] dmarce1 opened #2426 "Bug in 9592f5c0bc29806fce0dbe73f35b6ca7e027edcb causes immediate crash in Octo-tiger"
When I use 9592f5c0bc29806fce0dbe73f35b6ca7e027edcb on the main branch - or the commit immediately following it, I get "terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<hpx::exception> >'
  what():  the runtime system has not been initialized yet: HPX(invalid_status)"

This is with Octo-Tiger HPX running on my x86 lapt

[2016-12-13 22:08] chinz07 commented on #2426
I am observing the same issue with my code.

9592f5c0bc29806fce0dbe73f35b6ca7e027edcb adds a call of `hpx::get_os_thread_count` to the constructor of `parallel_executor` which is executed to initialize the default parallel execution policy object `par` in `execution_policy.hpp`. Since the initialization of par is run during static initialization, the runtime is not up at this point and the call fa

[2016-12-13 23:01] hkaiser commented on #2426
@gentryx this is exactly the problem you were reporting today.

@dmarce1, @chinz07: I think it should be fixed now.

[2016-12-14 09:09] gentryx commented on #2426
@hkaiser: correct, but there's something else that is broken. I'm still investigating that.

[2016-12-14 11:07] gentryx commented on #2426
@hkaiser: Nevermind, mistake on my side. It's all green for me again. Thanks!

[2016-12-14 12:56] #2426 closed

[2016-12-14 13:31] chinz07 commented on #2426
@hkaiser: Thanks for the quick fix.

[2016-12-14 16:04] dmarce1 opened #2427 "Seg fault running octo-tiger with latest HPX commit"
When running Octotiger with the current master, 4007f0619c33ecd2c1ffa5282d1444ab1bd3bb3e, I get the following error: https://gist.github.com/dmarce1/ea432fb28773e590950e90b136ce1e78

And the following stack trace: https://gist.github.com/dmarce1/6feca10a46d4cdd6602133a98ad4364a

[2016-12-15 00:02] hkaiser commented on #2427
@dmarce1 I'm not able to reproduce this. Could you please be more specific on how you built HPX and OctoTiger, and how you ran the application?

[2016-12-15 07:20] biddisco opened #2428 "Buildbot display inadequate"
By default, I open the console view of buildbot http://rostam.cct.lsu.edu/console and see an overview of the build status, unfortunately, what I do not see is the true state of the repository. The cdash dashboard http://cdash.cscs.ch/index.php?project=HPX&date=2016-12-14 shows me very clearly (and instantly) that nearly all tests are failing. To find this information in the buildbot display requir

[2016-12-15 07:45] biddisco commented on #2408
http://apolukhin.github.io/stacktrace/index.html
This library now begins a boost review, perhaps it will solve the problem for us. Someone should review it

[2016-12-15 12:55] hkaiser commented on #2408
@biddisco What's the difference between this library and the stack-trace generation we already have? From a quick glance I can't see any new functionality.

[2016-12-15 13:00] hkaiser commented on #2428
@biddisco I couldn't agree more.

AFAIK, our buildbot setup already submits the results to some dashboard (http://cdash.cscs.ch/submit.php?project=HPX") . Not sure whether that works or not, I have never checked.

[2016-12-15 13:33] biddisco commented on #2428
@hkaiser yes it does, (the correct link is in my previous comment). It is because I was looking at the CSCS dashboard and seeing all the test fails that I wanted to draw attention to the inadequacies of the buildbot display.

[2016-12-15 18:43] dmarce1 commented on #2427
For both HPX and Octotiger I am using GNU C++ 5.4.0

I built HPX using:
cmake    -DCMAKE_BUILD_TYPE=release                                                                                                             \
      -DHPX_WITH_PARCELPORT_MPI=ON  -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ \
      -DCMAKE_INSTALL_PREFIX="/usr/local/packages/hpx/"                                   \

[2016-12-15 19:28] dmarce1 commented on #2427
I am not getting the seg fault now. Only difference I can think of is I removed the HPX install entirely before building. Must have been a stale binary?

[2016-12-15 19:29] #2427 closed

[2016-12-16 07:55] biddisco commented on #2408
Sorry. I got muddled up between stack trace generation and stack overflow detection. Please ignore my comment!

[2016-12-19 08:42] W4RH4WK commented on #2109
I encountered a similar issue recently where the `thread` class is already defined.

Output:
<https://gist.github.com/W4RH4WK/abf89baf6e03a9c0ba0f6cba170680f9>

Minimum Example:
[code]

Currently on:
b603449e6b97ced17adb829b07413f41b2ab6131

[2016-12-19 13:17] hkaiser commented on #2109
@W4RH4WK Thanks for this report. This should be fixed by merging #2429.

[2016-12-21 07:51] gentryx opened #2435 "Trunk broken, undefined reference to hpx::thread::interrupt(hpx::thread::id, bool)"
I'm testing 8d562f46558db1d8a48edc92ebd310c2f79c7c36 and I'm running into linker problems:
[code]

Does that ring a bell?

[2016-12-21 12:48] hkaiser commented on #2435
Apparently, this

    class HPX_EXPORT foo { ... };

is not the same as this:

    class HPX_EXPORT foo;
    class foo { ... };

Al static functions in foo need to be exported separately now. :/

[2016-12-21 13:25] hkaiser commented on #2435
No, I take that back - stupid me... (see commit)

[2016-12-24 03:16] hkaiser opened #2439 "Implement executor proposal (P0443R0)"
The corresponding document can be found here: http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0443r0.html

The following sub-tasks should be solved:

- [x] Implement lower-level customization points which can be used to implement the specified APIs (customization points). This should be fully generic, variadic interfaces. Functionality missing from the executor implementations should be e

[2016-12-24 14:27] #475 closed

[2016-12-31 17:13] #2390 closed

[2017-01-02 12:13] K-ballo opened #2441 "undeclared identifier BOOST_COMPILER_FENCE"
Boost.SmartPtr does not define the implementation detail macro `BOOST_COMPILER_FENCE` when implementing its spinlock on top of `std::atomic` primitives. This results in compilation errors for VS2015 and Boost 1.63.0, where using `std::atomic` instead of win32 primitives appears to be the new default. The issue should be reproducible on any windows build with Boost 1.56.0+ by forcing the use of `st

[2017-01-02 21:52] K-ballo commented on #2441
The commit that caused the issue to be exposed is https://github.com/boostorg/smart_ptr/commit/20fedcff2ca3143503ec4e876d47745ab0ec7b0c

[2017-01-03 18:06] brandon-kohn commented on #2376
I think I'm seeing this issue on visual studio 2013 win64 as well with boost 1.63. At least I assume it's the same issue. The boost smart ptr implementation of spinlock using std::atomic results in errors about attempts to reference the deleted copy ctor of atomic_flag.

[2017-01-04 13:04] brandon-kohn opened #2442 "Mismatch between #if/#endif and namespace scope brackets in this_thread_executers.hpp"
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/executors/this_thread_executors.hpp

Note that the namespaces are declared inside a #if/#endif construct but the closing brackets are outside any such preprocessor scope.

[2017-01-04 13:07] hkaiser commented on #2442
Thanks! Would you mind preparing a patch for this?

[2017-01-04 16:08] brandon-kohn commented on #2442
Sure :), I'll push the namespaces into #if/#endif scope.

[2017-01-04 16:27] brandon-kohn commented on #2442
Here's a (hastily put together and untested) patch.
[issue_2442.zip](https://github.com/STEllAR-GROUP/hpx/files/685274/issue_2442.zip)

[2017-01-04 16:46] hkaiser commented on #2442
@brandon-kohn Thanks for this. Could you turn that into a 'real' pull request here on github, please? Also, I think it would be sufficient to move the `#endif` [here](https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/executors/this_thread_executors.hpp#L133) to the end of the file.

[2017-01-04 18:00] brandon-kohn commented on #2442
Done and done, hopefully I got the pull request correct. This is my first time collaborating through github in this way; so please bear with me.

[2017-01-04 18:54] hkaiser commented on #2442
Yes, all is well. For the requested changes, just keep pushing commits to the same branch it will show up on the pull request. Thanks!

[2017-01-05 02:39] hkaiser commented on #2442
This has been fixed by merging #2443

[2017-01-05 02:39] #2442 closed

[2017-01-05 02:39] hkaiser commented on #2435
This has been fixed

[2017-01-05 02:39] #2435 closed

[2017-01-05 02:41] hkaiser commented on #2420
This can be closed as the OP has resolved his problems

[2017-01-05 02:41] #2420 closed

[2017-01-10 17:42] #2441 closed

[2017-01-16 15:24] hkaiser opened #2455 "Add more arithmetic performance counters"
Add more arithmetic performance counters exposing statistic properties calculated from the values gathered by querying arbitrary underlying counters. These new counters would work along the lines of the existing arithmetics counters (like `/arithmetics/add`) which can be invoked with a list of other counters to query in order to produce the required result.

For instance:
[code]

could produce som

[2017-01-16 18:43] aserio commented on #2455
We should probably make this a GSoC project

[2017-01-17 15:55] hkaiser opened #2456 "Re-implement hpx::util::unwrapped"
Our helper facility `hpx::util::unwrapped` exposes a couple of undesired problems (see for instance #1404, #1400). A (partial) re-implementation/refactoring could help solving these issues.

[2017-01-17 17:30] #1401 closed

[2017-01-17 20:54] atrantan opened #2457 "Segmentation fault when registering a partitioned vector"
I've got a segmentation fault when trying to register a partitioned_vector that has been created with a user defined distribution layout. The error seems to come from the function `get_data_helper` in https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/components/containers/partitioned_vector/partitioned_vector.hpp

[2017-01-17 22:48] #2457 closed

[2017-01-24 09:46] diehlpk commented on #1141
@hkaiser  Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas

[2017-01-24 09:47] diehlpk commented on #2327
@hkaiser  Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas#create-generic-histogram-performance-counter

[2017-01-24 09:48] diehlpk commented on #2455
@hkaiser  https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas#add-more-arithmetic-performance-counters

[2017-01-24 09:49] diehlpk commented on #2235
@biddisco Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas#concurrent-data-structures-support

[2017-01-24 09:49] diehlpk commented on #2408
@DavidPfander-UniStuttgart Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas#stackoverflow-detection-for-linux

[2017-01-24 09:50] diehlpk commented on #2456
@hkaiser Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas

[2017-01-24 09:50] diehlpk commented on #2271
@brycelelbach @hkaiser Could you please add a project description here https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2017-Project-Ideas

[2017-01-27 15:42] justwagle opened #2467 "MPI Parcelport performance Issue"
It looks like the MPI parcelport has a performance issue as seen in the results below.

Test Application:  https://gist.github.com/justwagle/a4ed095e420c0821a8fe4bfb59c52317

Running the test application above 5 times each with TCP as well as MPI Parcelport  , we see the following results.

Running with TCP , Command Line:
srun -p marvin -N 2 -n 2  ~/toys/pingpong/build/PingPong --nparcels=10000
-

[2017-01-28 04:15] gentryx commented on #2376
I'm seeing this as well with Boost 1.63 and GCC 6.3.0.

[2017-01-28 14:09] hkaiser commented on #2376
@gentryx Do you still see this with top of master? Does it work with #2454 applied?

[2017-01-28 21:46] gentryx opened #2469 "Dataflow performance issue"
I've written a performance test ([HPXDataflowGold](https://github.com/gentryx/libgeodecomp/blob/master/src/testbed/hpxperformancetests/main.cpp#L551)) for LibGeoDecomp's [HPXDataflowSimulator](https://github.com/gentryx/libgeodecomp/blob/master/src/parallelization/hpxdataflowsimulator.h) (used for DGSWEM in STORM) and the performance I've measured seems to be off by a huge margin. My single-thread

[2017-01-28 22:30] hkaiser commented on #2469
Unfortunately, I can't build libgeodecomp with MSVC so I can't really look what's going on. My guess would be however, that the amount of work executed in the HPX-threads spawned (either by dataflow or otherwise) is too small to warrant creating a new HPX-thread. The overhead for creating an HPX-thread is in the range of 1-2 microseconds (depending on the context). That means that if the amount of

[2017-01-29 05:05] BryanFlynt opened #2470 "redefinition of boost::detail::spinlock"
I've tried to build on 2 different OS, 3 different compilers and multiple Boost versions and have yet to succeed.  The most prolific error I get is the redefinition of the boost spinlock.  Here are the details of this particular setup. (Note: I get the same error but on the 4th source file when using GCC 4.8)

System: OpenSUSE 13.1 + GCC 6.3.0 + Boost 1.63.0 + HPX 0.9.99

Scanning dependencies of

[2017-01-29 13:34] biddisco commented on #2470
it’s clear you’re using boost163, but you don’t mention which hpx you have. Can I suggest you use the master branch from git rather than an older 0.99 version tarball (if that’s where you got it from). Also please post the full cmake invocation that you use to  cmake so that we have more of an idea of what’s wrong.

Boost 1.63 is quite new, so if you use an hpx that was released before that came o

[2017-01-30 18:25] BryanFlynt commented on #2470
You are correct.
The latest master branch from git allows me to compile using both GCC 4.8 and 6.3 with boost 1.63.

I did encounter a different error on my new Mac system using boost 1.63.0 but it appears to be a separate issue so I'll put that in separate.  Thanks

[2017-01-30 19:57] BryanFlynt opened #2471 "no type named 'fcontext_t' in namespace"
FYI,
A compile issue with clang, Boost 1.63 and master branch of HPX downloaded from git today.
It compiles fine with boost 1.53 and same setup.
[code]
And it just keeps going for many more lines ....

[2017-01-30 20:33] hkaiser commented on #2471
Darn, Boost.Context just keeps on changing without notice. I hate that library...
I will have a look and try to fix it asap.

[2017-01-30 20:36] BryanFlynt commented on #2471
Don't hurry on my account.
I've got it built using 1.53 and can use that.
Thanks

On Mon, Jan 30, 2017 at 1:33 PM, Hartmut Kaiser <notifications@github.com>
wrote:

--
Bryan T. Flynt
Global Systems Division <%28303%29%20497-4313>
NOAA Earth System Research Laboratory
325 Broadway R/GSD2
<%28303%29%20497-4313>
Boulder, CO 80303
(303) 497-3875 <%28303%29%20497-4313>

[2017-02-02 10:36] DavidPfander-UniStuttgart opened #2477 "Breaking at a throw statement"
It seems that I can't get a meaningful stack trace for my hpx application, even in the case of a trivial throw. I constructed a minimal example that throws a string:
[code]
and compiled it with
[code]

When I now `$ gdb unhandled_exception`, `(gdb) catch throw` and `(gdb) run` I get the stacktrace found in [stacktrace.txt](https://github.com/STEllAR-GROUP/hpx/files/747453/stacktrace.txt). As you c

[2017-02-02 12:43] hkaiser commented on #2477
The exception you're seeing is one thrown by HPX during startup for unrelated reasons. Either simply continue in gdb until you hit your exception, or - in this case - alternatively delete the component binary `libhpx_sine_component.so`.

Note to self: I need to finally make sure that the sine component will be loaded by the sine-performance-counter example only.

[2017-02-02 13:09] DavidPfander-UniStuttgart commented on #2477
I checked every break up to program termination, and I couldn't find my line number.

Additionally, how do I not build that component?

[2017-02-02 13:18] DavidPfander-UniStuttgart commented on #2477
Update: ok, just deleted libhpx_sine*, that helped.

With only one break and a much shorter stacktrace, I also found the correct throw statement in the stacktrace.

[2017-02-02 13:18] sithhell commented on #2477
don't do "make all" or "make install", or disable the examples (-DHPX_WITH_EXAMPLES=Off).

[2017-02-02 13:49] hkaiser commented on #2477
See #2478, this should solve the issue.

[2017-02-03 16:28] aserio opened #2480 "Unable to register new performance counter"
I am unable to register a new performance counter though I am following the pattern outlined in simplest_performance_counter.cpp  My code seg. faults when I try to run the application with `--hpx:print-counter=/test/new_counter`

I have my code below:

[code]

[2017-02-03 17:21] sithhell commented on #2480
On Freitag, 3. Februar 2017 08:28:19 CET Adrian Serio wrote:

The segfault should happen around here, it should go away when you explicitly
start the performance counter, as done here:

https://github.com/STEllAR-GROUP/hpx/blob/master/examples/
performance_counters/sine/sine_client.cpp#L72

[2017-02-05 14:18] hkaiser commented on #2477
#2478 has been merged, can we close this now?

[2017-02-05 14:22] hkaiser commented on #2471
Just some progress report on this: I have implemented the changes needed to compile and run HPX when using Boost.Context (V1.61 and up) - see here for the patch: https://github.com/STEllAR-GROUP/hpx/tree/fixing_2471.

However there seems to be a problem in Boost.Context preventing things from running properly which I have not been able to pinpoint yet. So, while things compile and run on a single

[2017-02-05 14:26] hkaiser commented on #2470
This seems to have been fixed. I'm closing this ticket now, feel free to reopen, if necessary.

[2017-02-05 14:26] #2470 closed

[2017-02-05 14:26] DavidPfander-UniStuttgart commented on #2477
Thanks for the fix!

[2017-02-05 14:26] #2477 closed

[2017-02-05 14:27] hkaiser commented on #2376
Can we close this now?

[2017-02-07 23:25] atrantan opened #2489 "nvcc issue because -std=c++11 appears twice"
Got this compilation error `nvcc fatal   : redefinition of argument 'std'` when compiling cuda examples with nvcc. I think it is related to that commit 11e29e0f98dc776fb3d2babc3ebd269974b55a9f

[2017-02-08 00:12] biddisco commented on #2489
hpx adds -std=c++11 to your flags, so you must not manully add it anywhere. The commit 11e29e0f98dc776fb3d2babc3ebd269974b55a9f does the same for the installed version, so if you have added -std=c++11 anywhere, then you should remove it. The c++ compiler doesn't mind if you add it twice, but nvcc does. it's very annoying. I think the commit is correct, but if you've got problems then please sugges

[2017-02-08 01:23] atrantan commented on #2489
I'm not sure but when you are in the hpx build tree`hpx_add_target_compile_option(${CXX_FLAG})` in file https://github.com/STEllAR-GROUP/hpx/blob/master/CMakeLists.txt line 945 is already putting the flag. Out of the hpx build tree (ex : when using an installed hpx), this flag disappears. Was the reason why ${CXX_FLAG} has been added in https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/templa

[2017-02-08 13:03] hkaiser commented on #2418
@atrantan Is this still a problem?

[2017-02-08 13:08] atrantan commented on #2418
Yes

[2017-02-09 02:17] #533 closed

[2017-02-09 19:42] gentryx commented on #2469
As discussed offline I'm closing this as it's just the expected scheduling behavior. Thanks!

[2017-02-14 00:20] atrantan opened #2500 "nvcc / cuda clang issue due to a missing -DHPX_WITH_CUDA flag"
Got a error due to empty definitions of `HPX_HOST`, `HPX_DEVICE`, and `HPX_HOST_DEVICE` when compiling example cuda codes that are in the build tree. The reason is a missing flag `-DHPX_WITH_CUDA` that is now required since commit 80277b9c3db29f5ff2bdfa7bac2196baf0b33876

[2017-02-14 01:28] hkaiser commented on #2500
@atrantan What do you suggest?

[2017-02-14 01:34] atrantan commented on #2500
My suggestion is just to use `add_hpx_target_compile_option()`. Done in 5fa209426f48c0672be5d81052806cd866718a74

[2017-02-15 12:34] hkaiser opened #2504 "Ensure continuations are called in the order they have been attached"
Currently continuations attached to a shared_future are invoked in reverse order compared to how they were attached. This needs to be fixed.

[2017-02-15 18:16] atrantan commented on #2489
@biddisco Convinced?

[2017-02-17 08:28] sithhell opened #2507 "Missing docs: How to debug HPX applications"
We need to better document how to debug HPX applications:
 - [ ] Document the usage of #2479
 - [ ] Document how to use --hpx:attach-debugger
 - [ ] Document the usage of sanitizers

[2017-02-17 18:18] mcopik opened #2509 "Linking errors in hwloc_topology"
I have been able to repeat issue #2410. Although the fix proposed there by @hkaiser allows to build library but example transpose_block_numa fails due to missing references to `hpx::threads::hwloc_topology` ctor and dtor. The problem can be reproduced on OpenMPI full installation where all hwloc headers are present. The bug is caused by their lowercase rename macro `hwloc_topology`, as described [

[2017-02-17 23:25] hkaiser commented on #2509
I think the best would be to rename our type `hpx::threads::hwloc_topology` to something not conflicting with any of the macros used by the hwloc library (for instance: `hpx::threads::hwloc_topology_info`).

[2017-02-17 23:32] mcopik commented on #2509
Hartmut, I got a response from OpenMPI devs and according to them, those headers should never leak into libraries using hwloc. In their opinion, it is a bug in their build system or an improper installation of OpenMPI. I just opened a ticket at my local IT department and I'm going wait and see what happens.

It may not be necessary to rename anything. However, if it's not a bug but a human mistake

[2017-02-17 23:40] mcopik commented on #2410
@timbiedert I've been able to repeat your issue. The problem is even more serious because examples can not be built. I've identified the root of the problem and [according to OpenMPI developers](https://github.com/open-mpi/hwloc/issues/229) the presence of `/opt/MPI/openmpi-1.10.4/linux/gcc_6.2.0/include/openmpi/opal/mca/hwloc/hwloc191/hwloc/include` in OpenMPI compilation flags indicates that it

[2017-02-18 00:41] hkaiser commented on #2509
Let's rename our type anyways. Even if they fix it, this is something we can't avoid to see out in the wild.

[2017-02-18 12:14] timbiedert commented on #2410
@mcopik Thanks for your reply. I was also working on the RWTH cluster :-)

[2017-02-22 05:18] GuSuku opened #2515 "error: Install cannot find "/lib/hpx/libparcel_coalescing.so.0.9.99" but I can see that file"
Almost same as [this error](https://github.com/STEllAR-GROUP/hpx/issues/1529), with an earlier version, only now that file is not missing - I can see that file in the same directory ($INSTALL_PREFIX/lib/hpx) )that it says it cannot find.

I tried to install HPX locally on a Ubuntu 16.04 system using (all with no root privilege):

[code]

and I get:

[code]

But then:
[code]

[2017-02-22 17:43] sithhell opened #2516 "HPX locks up when using at least 256 localities"
The barrier implementation using an hierarchical tree currently is leading to a deadlock. This has been observed by trying to run an HPX application on 256 nodes. When setting `hpx.lcos.collectives.cut_off` to a very high value, the hang disappears.

[2017-02-22 17:45] sithhell opened #2517 "Race condition during Parcel Coalescing Handler creation"
The message handler creation functions currently unlock the lock when creating a new message handler. This might lead to a race condition when constructing coalescing handlers concurrently due to multiple insertions of the same counter functions as well as when adding the callbacks for the runtime config

[2017-02-22 20:42] hkaiser commented on #2517
@sithhell I thought this was handled by this code: https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/parcelset/parcelhandler.cpp#L708-L718. Did you have something else in mind?

[2017-02-22 21:09] sithhell commented on #2517
Unfortunately not. This is not about the insertion into the map. The problem is here:
https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/parcelset/parcelhandler.cpp#L702
In the case of parcel coalescing, we eventually end up calling this: https://github.com/STEllAR-GROUP/hpx/blob/master/plugins/parcel/coalescing/coalescing_counter_registry.cpp#L45-L77
which is then not protected by any l

[2017-02-22 21:10] sithhell commented on #2517
In addition, even if the code shown was protected by a lock, we might end up with stale callbacks if the message handler was constructed twice due to a race.

[2017-02-22 21:21] hkaiser commented on #2517
Right, good catch. I think I know how to fix this.

[2017-02-26 18:14] #2516 closed

[2017-02-27 11:45] biddisco commented on #2516
Now I know why my infiniband tests stopped at 128 nodes

[2017-02-27 13:17] #2504 closed

[2017-02-27 19:58] Rabab53 opened #2524 "CMAKE failed because it is missing: TCMALLOC_LIBRARY TCMALLOC_INCLUDE_DIR"
I am trying to build hpx with the following command it cause an error as follow:
cmake .. -DBOOST_ROOT=/usr/lib/x86_64-linux-gnu/  -DHWLOC_ROOT=/home/runtime_systems/hwloc-1.10.1/install/lib -DCMAKE_INSTALL_PREFIX=/home/runtime_systems/hpx/install

build failed as follow:
-- Found PkgConfig: /usr/bin/pkg-config (found version "0.26")
-- Could NOT find TCMalloc (missing:  TCMALLOC_LIBRARY TCMALLOC_

[2017-02-27 20:31] sithhell commented on #2524
Hi Rabab,

The error message says:
ERROR: HPX_WITH_MALLOC was set to tcmalloc, but tcmalloc could not be
  found.  Valid options for HPX_WITH_MALLOC are: system, tcmalloc, jemalloc,
  tbbmalloc, and custom

The resolution is as as simple as either switching the allocator (system does
not have any additional dependencies) or install the necessary packages.
Either by hand or from your linux distribu

[2017-02-27 20:50] hkaiser commented on #2524
@Rabab53 to clarify: try using `cmake -DHPX_WITH_MALLOC=system ...`

[2017-02-27 20:52] hkaiser commented on #2524
@sithhell we should probably change our build system to fall back to `system` if `tcmalloc` is not available.

[2017-02-27 21:41] sithhell commented on #2524
On Montag, 27. Februar 2017 12:52:53 CET Hartmut Kaiser wrote:

I am opposing that. I played with that thought for a long time but dismissed
it. The rationale is that we shouldn't silently fall back to a suboptimal
solution, I was hoping that the error message is clear enough.

While I agree that defaulting to tcmalloc is arbitrary, the need for a high
performance malloc implementation is absolute

[2017-02-27 23:13] hkaiser commented on #2524
Ok, fair enough.

[2017-02-28 02:43] Sumit2318 commented on #2455
Sir, would you please guide me How to start contributing to this project?

[2017-02-28 03:09] hkaiser commented on #2455
This is a nice and simple task, just perfect for GSoC. To start off, you should build HPX on your machine and make sure the examples are running properly. The next step would be to familiarize yourself with the concepts of performance counters in HPX. I think the docs should give you a good head start to this (see http://stellar-group.github.io/hpx/docs/html/hpx/manual/performance_counters.html).

[2017-02-28 06:26] biddisco commented on #2524
Since it is very easy to install jemalloc, and it gives as good, or better performance as tcmalloc, we could simply extend the error message to output the following

You have requested a non system malloc, but it was not found, you may install jemalloc as follows
[code]
and invoke cmake with the extra options
[code]
and update the error message from time to time when a newer jemalloc is available

[2017-02-28 14:51] hkaiser commented on #2524
I'd rather put a (stable) link to our documentation into the error message where this is described in detail.

[2017-02-28 22:41] Rabab53 commented on #2524
Thanks all

[2017-02-28 22:43] hkaiser commented on #2524
@Rabab53 Can we close this issue now? Has it been resolved for you?

[2017-03-01 05:34] #2524 closed

[2017-03-01 21:25] #2517 closed

[2017-03-03 13:05] hkaiser commented on #2515
We have had reports about this before (see #1529, #1842), but we have not been able to reproduce this. Any insights on how to reproduce this would be highly appreciated. My assumption would be that `libhpx_parcel_coalescing.so.0.9.99` is actually a link to a not existing while, causing cmake to fail.

[2017-03-03 13:13] hkaiser commented on #2509
@mcopik Do you still plan to provide a PR renaming the symbol in HPX?

[2017-03-03 13:15] hkaiser commented on #2394
@gentryx  Is this something you would consider fixing in libflatarray? Or should we remove the attempts of integrating it with HPX and close this ticket instead?

[2017-03-03 13:19] hkaiser commented on #1864
@stevenrbrandt, @Syntaf: Is this still an issue? Can we close this?

[2017-03-03 13:27] mcopik commented on #2509
@hkaiser Yes, though it was a low priority issue for me (the problem has been partially fixed by IT team). I should fix it soon.

[2017-03-03 14:17] stevenrbrandt commented on #1864
We've talked about the possibility of having guards return a future. For various reasons, this is tricky to do inside the guard code itself. One has to put a promise inside the guard data structures and pass it around, which means one has to be very careful about whether hpx::init has been called, as well as complicating some otherwise simple garbage collection issues. I've done the following, how

[2017-03-04 04:37] Sumit2318 commented on #2327
I have build HPX on my system.How to build the performance counter? Could you please help me how to start ?What should be my approach?

[2017-03-04 13:48] hkaiser commented on #2327
@Sumit2318 could we please continue this discussion on our mailing list (`hpx-users@stellar.cct.lsu.edu`)?

Once you have built HPX, all the performance counters are in place - those are part of HPX itself. Have you read the corresponding documentation about how to use them? If not, it might be a good idea to do that (see: http://stellar-group.github.io/hpx/docs/html/hpx/manual/performance_counter

[2017-03-06 13:53] biddisco opened #2528 "tasks scheduled incorrectly when using hpx::launch::sync with shared_future<>"
When attaching multiple .then() continuations to a shared future, incorrect behaviour results when using hpx::launch::sync policy (this is the default).

This snapshot shows the behaviour of a test program when using
[code]
(please note that there are many GPU task in the plots that follow and hence lots of small yellow tasks and not just one)
where the shared future is represented by one of the "

[2017-03-07 11:08] hkaiser commented on #2528
This is indeed an interesting side effect I have not considered yet. I'm however not sure what the correct behavior should be. In fact, this is one place where HPX (so far) has diverged from what was proposed by the Concurrency TS. The TS mandated for the continuation which was attached by `(shared_)future.then()` to be executed with the same launch policy as the initial future was created with. E

[2017-03-07 11:26] biddisco commented on #2528
We have modified all our continuations for shared futures to use async launch policy and that does solve the problem.

The greater question is indeed, what to do in general for shared futures. A default sync policy implies that all continuations attached will __correctly__ run sequentially, but this would be surprising to the average user. The problem only manifests itself because the default laun

[2017-03-07 14:41] GuSuku commented on #2515
I rebuilt the same way and it is working now.

But on the non-existent link, `libhpx_parcel_coalescing.so.0.9.99` is actually the end of a chain of links:
libhpx_parcel_coalescing.so -> libhpx_parcel_coalescing.so.0
libhpx_parcel_coalescing.so.0 -> libhpx_parcel_coalescing.so.0.9.99
libhpx_parcel_coalescing.so.0.9.99

[2017-03-07 17:31] hkaiser commented on #2515
@GuSuku Thanks for this clarification. Even if we can't get to understand what's going on this time either... Please keep an eye on this and let us know. I'll close this ticket for now. Feel free to reopen, if necessary.

[2017-03-07 17:31] #2515 closed

[2017-03-08 11:09] ShmuelLevine opened #2530 "Infinite loop with HPX and Google Test when built with clang"
I've come across some problem with building HPX with clang when running Google Test, where the executable file seems to get stuck in an infinite loop once the tests have finished running.  I have tried this with the latest HPX code as of yesterday (3.7.2017) and with clang 3.9 and with latest trunk code from yesterday.  This does not occur when building with gcc.

I've created a very simple MWE -

[2017-03-09 16:06] hkaiser opened #2534 "Remove command line option `--hpx:run-agas-server`"
This options is obsolete, it should be removed.

[2017-03-09 21:02] aserio commented on #2480
@sithhell adding new_counter.start() doesn't compile as new_counter is not a class. I am creating the counter as shown in https://github.com/STEllAR-GROUP/hpx/blob/master/examples/performance_counters/simplest_performance_counter.cpp

I have compiled and ran simplest_performance_counter.cpp and it works... which confuses me more...

[2017-03-12 15:47] hkaiser commented on #2376
[10:40]	uvm|laptop: https://github.com/STEllAR-GROUP/hpx/issues/2376 seems to be fixed on master, btw. I just compiled master on Arch using boost 1.63.0-1. Release 0.9.99 failed for me, too.

[2017-03-12 15:47] #2376 closed

[2017-03-15 16:59] biddisco opened #2538 "HPX_WITH_CUDA corrupts compilation flags"
When CUDA is enabled, definitions are added to the compilation regardless of Debug/Release/Other mode and cause incorrect flags to be passed to the compiler.
The lines of code here
https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_AddCompileFlag.cmake#L33-L35
are the problem.

This results in _DEBUG and DEBUG flags being passed to release builds - which in hpx/config.h trigger HPX_DEBUG t

[2017-03-16 10:37] biddisco commented on #2538
NB. the lines https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_AddCompileFlag.cmake#L88-L90
are also a problem

[2017-03-17 23:43] rahulgayatri23 opened #2543 "make install fails due to a non-existing .so file"
Hi,
 I am from lawrence berkeley and am trying to install hpx on a linux machine here.
In the final make install step, at the end the operation fails with the following error

I checked and the file libhpx_parcel_coalescing.so.1.0.0 does not exist, only libhpx_parcel_coalescing.so.1 is present.

I have not got any error before that step. The make execution was fine.

Can someone help me solve this

[2017-03-18 00:17] hkaiser commented on #2543
This has been reported before but we've never been able to reproduce this (see for instance #2515). Can you give us more information on how to reproduce this?

[2017-03-20 03:56] rahulgayatri23 commented on #2543
Hi,
I followed the instructions given in the README.
I will list out the instructions and their order, hopefully you may be able to reproduce the error

cd /path-to-dir/hpx/_build

cmake -DBOOST_ROOT=/path-to-boost/version 1.62/intel/haswell/ -DHWLOCK_ROOT=/path-to-hwlock/version 1.11.4/hsw HPX_WITH_MALLOC=tcmalloc -DTCMALLOC_INCLUDE_DIR=/path-to-tcmalloc/gperftools/_build/include -DTC_MALLOC_LIBR

[2017-03-21 17:47] hkaiser commented on #2500
This has been resolved on master (see #2549 et.al.)

[2017-03-21 17:47] #2500 closed

[2017-03-21 17:49] hkaiser commented on #2418
This has been resolved on master

[2017-03-21 17:49] #2418 closed

[2017-03-21 18:00] hkaiser commented on #2217
@mcopik: This should have been fixed on master now. Could you verify this, please?

[2017-03-21 18:00] hkaiser commented on #2215
@biddisco What should we do about this? Is that still an issue?

[2017-03-21 18:06] hkaiser commented on #1973
I'll go ahead and close this. Please feel free to reopen if the issue starts blocking you again.

[2017-03-21 18:06] #1973 closed

[2017-03-21 18:10] hkaiser commented on #1864
@stevenrbrandt This code example will fail as `promiose` is move-only. Hpwever, if you considered using C++14 you could write:
[code]
But your code was C++14 before so this shouldn't be an issue...

I'll go ahead and close this now. Please feel free to re-open, if necessary.

[2017-03-21 18:10] #1864 closed

[2017-03-21 18:13] hkaiser commented on #1441
@sithhell What's the status of this. Can we close it?

[2017-03-21 21:16] quantomb opened #2555 "No valid parcelport configured"
This is an error that is produced on  #2554  when running on QB. Running a distributed application crashes almost immediately in the pre_main state.

Running hello_world on 4 nodes with 2 localities per node caused the following error message:

https://gist.github.com/quantomb/d47df1353aeac50153d750fd0c41d7d0

@sithhell suggested reverting #2533 I will update this issue when I have a report on whe

[2017-03-21 22:02] quantomb commented on #2555
I should have noted the command used to run hello_world

uniq $PBS_NODEFILE > actual.nodes
mpirun -np 8 -machinefile actual.nodes /work/quantomb/release/hpx/build/bin/hello_world --hpx:print-bind -t10 --hpx:cores=10 --hpx:list-parcel-ports

The first line is a way of forcing mpirun to assign the localities as a round-robin format to the nodes as otherwise it assigns each locality to an individual

[2017-03-22 10:50] biddisco commented on #2215
Linking the CXX_LIBRARIES is incorrect, so if @sithhell had errors it is most probably a problem with find_package(MPI) rather than anything we have done. It is also probable that more recent versions of cmake are less lilkely to exhibit this problem.
I would suggest that we leave things alone until after a 1.0 release (unless we have additional bug reports prior to then) and then reassess the sit

[2017-03-22 15:26] hkaiser commented on #2555
@quantomb I have added even more diagnostics and improved on error handling. Would you be able to retry using #2554?

[2017-03-22 17:25] quantomb commented on #2555
@hkaiser I have retried using these additions and I have been unable to reproduce the error in any test. For sanity sake I checked out the previous commit and the error was in fact still present.

I think we can mark this as closed?

[2017-03-22 20:25] hkaiser commented on #2555
@quantomb Thanks, this will close automatically once we merge #2554

[2017-03-23 09:07] #2509 closed

[2017-03-23 09:07] #2394 closed

[2017-03-23 10:08] mcopik commented on #2217
@hkaiser I don't have an access to the machine with the exact same configuration (it was an LSU workstation) but I tried to build master on my workstation with CUDA 8.0. Unfortunately, it fails to build some of CUDA examples and produces a gazillion warnings about calling host functions.

It fails to build partitioned_vector. The error for first case:

[code]

[2017-03-23 10:11] hkaiser commented on #2217
@atrantan You said everything now worked for you using NVCC? Can you comment, please?

[2017-03-23 10:14] mcopik commented on #2217
It might be an NVCC bug though. I get hundreds of "calling host function" warnings and only one is an error.

The failing command is:
[code]

But I I remove the -Wall and -Wextra options, then not only warnings are gone but the error as well. I can't verify if it helps because even though the object file is generated and present, CMake is still trying to repeat the failing build command.

[2017-03-23 10:18] mcopik commented on #2217
@atrantan

[code]

[2017-03-23 10:52] atrantan commented on #2217
@mcopik, Warnings do not surprise me and we have to deal we that since we are using `_host_ _device_` prefix in overused fonctions like `invoke()`. partitioned_vector example fails with nvcc. To get rid off those disagreements, I suggest U to compile with cuda clang. The recent clang release (4.0) should be fine

[2017-03-23 11:00] mcopik commented on #2217
@atrantan @hkaiser I see... But it does mean that this issue is still unresolved until NVCC is fixed? Or maybe we should put somewhere in docs that cuda clang is preferred and builds using nvcc are broken at that moment?

[2017-03-23 12:10] atrantan commented on #2217
What we should do is to monentarily remove partition vector from being compiled if nvcc is used. And to notify in the docs that warnings may happen if nvcc is used

[2017-03-23 12:12] hkaiser commented on #2217
@atrantan Could you prepare a PR for this, pls?

[2017-03-23 15:21] atrantan commented on #2217
Sure but I need a full section related to _hpx compute_ to exist first. @heller is maybe the best person to do it. For this moment I am able to do a PR that remove `partitioned_vector` from the build tree when nvcc is detected as the default cuda compiler

[2017-03-23 15:39] dmarce1 opened #2561 "octo-tiger crash with commit 6e921495ff6c26f125d62629cbaad0525f14f7ab"
I get a crash on startup when running octo-tiger on 2 queenbee nodes, starting with HPX 6e921495ff6c26f125d62629cbaad0525f14f7ab Here is the error output:

https://gist.github.com/dmarce1/9d90ac92bc03050048ac5e60032843bc

[2017-03-23 18:35] hkaiser commented on #2217
@atrantan Thanks!

[2017-03-23 18:46] sithhell commented on #2561
One workaround for now is to enable the mpi pp explicitly until a proper
fix is pushed:
-Ihpx.parcel.mpi.enable=1

Am 23.03.2017 4:39 nachm. schrieb "Dominic Marcello" <
notifications@github.com>:

[2017-03-23 19:22] #2561 closed

[2017-03-24 12:44] hkaiser opened #2565 "Raise minimal cmake version requirement"
On some configurations (static builds on Cray) we ran into issues with older versions of cmake (for instance V2.8.12.1). We should raise the minimal version requirement to at least cmake V3.3.2.

[2017-03-25 08:34] taeguk commented on #1141
I'm preparing GSoC. I have a question.
When implementing parallel algorithms, can I allocate additional memory for optimization or parallelization of algorithms?
For some algorithms, there may be differences in implementation depending on whether additional memory allocation is allowed or not.

[2017-03-25 09:17] brycelelbach opened #2566 "Add an inline versioning namespace before 1.0 release"
We don't have an inline versioning namespace like all the cool kids (libc++, Vc, Ranges V3, etc):

[code]

I'd like to do this before v1. I'll assign myself.

[2017-03-25 12:07] hkaiser commented on #2566
@brycelelbach please note that we have a compatibility macro for the inline part of the namespaces to allow older compiler to do the right thing. We use that for the parallel algorithms and such:

[code]
Also, the inline namespace needs to be pre-declared in the header file for the older compilers.

[2017-03-25 12:15] hkaiser commented on #1141
That's a very good and controversial question. The maximum memory requirements for the parallel algorithms are not specified, only the computational complexity. While allocating memory itself does not change the computational complexity of an algorithm, often the fact that you allocate some intermediate buffer requires more data copying which in turn may change the complexity.

So the first rule o

[2017-03-25 12:20] hkaiser commented on #1141
@taeguk Most of the missing algorithms are usually implemented based on a variation of a parallel scan. We already have a handful algorithms based on a `scan_partitioner` (e.g. `copy_if`, `remove_copy`, `inclusive_scan`, etc.). I'd expect for the rest of those to be easily implementable using this very same (and already existing) `scan_partitioner`. I'd suggest for you to familiarize yourself with

[2017-03-26 11:33] taeguk commented on #1141
@hkaiser Thanks for your answer and advice.
After reading your answer, I analyzed the code for ```copy_if```, ```inclusive_scan```, and ```scan_partitioner```.
```scan_partitioner``` seems to be helpful for the rest of algorithms.
For example, ```partition_copy``` can be easily implemented using ```scan_partitioner``` with referring to the implementation of ```copy_if```. And ```unique_copy``` als

[2017-03-26 11:54] hkaiser commented on #1141
@taeguk Sure. Please ask more questions if needed. You may want to focus on the algorithms which are easier to implement, first.

[2017-03-26 12:02] taeguk commented on #1141
@hkaiser And I have a one more question.
Currently, `` scan_partitioner`` uses a sequential approach as a way to propagate partition results in step 2.
(https://github.com/STEllAR-GROUP/hpx/blob/66ef6bd5d626fbaf16414b5687169c3197e42e9c/hpx/parallel/util/scan_partitioner.hpp#L269)
I think it will be more better by using an approach like:
https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Pre

[2017-03-26 12:21] hkaiser commented on #1141
@taeguk I agree, this might be viable. Having an independent implementation for a scan-partitioner for performance comparisons is a good thing. Also, @biddisco was looking into improving the scan-based algorithms at some point, he might be able to shed some additional light onto all of this.

As a unrelated note: would you mind continuing this discussion on our mailing list (hpx-users@stellar.cct.

[2017-03-26 17:18] hkaiser opened #2568 "Remove throttle_scheduler as it has been abandoned"

[2017-03-27 17:23] hkaiser commented on #2555
This should have been resolved on master, please re-open, if necessary.

[2017-03-27 17:23] #2555 closed

[2017-03-28 01:54] taeguk commented on #1338
@hkaiser exclusive_scan and inclusive_scan is not checked although these are already implemented.

[2017-03-28 02:08] hkaiser commented on #1338
@taeguk right, thanks for the heads-up. Should be fine now.

[2017-03-28 05:00] taeguk commented on #1338
@hkaiser It seems that there are only two distributed data structures. (hpx::partitioned_vector and hpx::unordered_map) Is it right?

[2017-03-28 11:46] hkaiser commented on #1338
Yes. `hpx::unordered_map` has no iterators implemented yet, however.

[2017-03-29 21:04] #2489 closed

[2017-03-30 17:17] mcopik commented on #1141
@hkaiser @taeguk @biddisco
I missed the IRC discussion on that topic but I want to mention that I am already working on a very similar problem. My Master thesis is built on top of parallel prefix sum, I started working on implementing existing solution in HPX and for that part, I have to change the existing implementation of scan_partitioner.

In general, taeguk made a very good observation about

[2017-03-30 17:18] mcopik commented on #1141
@taeguk Just my curiosity: have you noticed the performance problem in scan_partitioner because of prior experience or knowledge about problems where parallel prefix sum is performed with computationally expensive operands? If yes, then would you mind sharing some details? I'm interested in approaches developed for this problem and, as I said, it's not a very common thing.

[2017-03-31 06:41] taeguk commented on #1141
@mcopik I didn't claim to use Blleloch scan. Just, I wanted to mention that there may be a problem in implementation of scan_partitioner. Kogge-Stone and Sklansky parallel prefix adders seem to be good.

Let me tell you a little bit about the last discussion in IRC. @biddisco said that he implemented ```scan_partitioner``` using sequential approach for propagation because of extra cost outweighed

[2017-03-31 06:42] taeguk commented on #1141
The most important problem for me is to decrease the span of the whole algorithm. It does not have to be the work-efficient but the total number of operations by the slowest worker has to be as small as possible.

@mcopik In this case, there is basical problem in scan_partitioner aside from the problem I presented. Currently, scan_partitioner first performs a sequential scan on each partition and

[2017-03-31 17:11] Naios opened #2574 "MSVC 2015 Compiler crash when building HPX"
On revision 5609f1cddb335fb1f MSVC 2015 with Update 3 (v14.0.25431.01) crashes when building HPX:

[code]

Probably this is related to the `operator&` in file [`src/runtime/agas/big_boot_barrier.cpp`](https://github.com/STEllAR-GROUP/hpx/blame/master/src/runtime/agas/big_boot_barrier.cpp) and the following lines:

- `ar & typenames`
- `ar & num_localities`
- `ar & used_cores`

[code]
... and ...

[2017-03-31 17:40] hkaiser commented on #2574
Can you give use more details on what cmake opetion you have used, please? Also, what build type is failing (Debug, Release, etc.)?

FWIW, I'm using this version of VS to develop HPX and I have not seen this compiler error before.

[2017-03-31 18:07] Naios commented on #2574
It's the *Release* build type which is failing, the *Debug* build succeeds.

CMake was run with the `VisualStudio 14 Win64` generator using **boost 1.63 x64** and `-DHPX_WITH_HWLOC=OFF`.
My CMake cache is the following: [CMakeCache.txt](https://github.com/STEllAR-GROUP/hpx/files/886504/CMakeCache.txt).

[2017-03-31 18:56] hkaiser commented on #2574
Thanks, I have it reproduced and will investigate. As a workaround, please build with `RelWithDebInfo`. We know that works.

[2017-03-31 19:39] mcopik commented on #1338
@hkaiser According to the issue progress tracker, transform_*_scan have been added with PR #2287 but it looks that only regular scans have been added there. I don't see transform scans in hpx/parallel/segmented_algorithms.

[2017-03-31 20:33] hkaiser commented on #1338
@mcopik Thanks, I fixed the list above.

[2017-04-02 16:39] hkaiser commented on #2534
This was fixed by merging #2547

[2017-04-02 16:39] #2534 closed

[2017-04-03 16:09] #2538 closed

[2017-04-10 21:30] hkaiser opened #2584 "Add allocator support to promise, packaged_task and friends"
C++11 requires for `std::promise` to have allocator support. This is a very useful feature for us to optimize certain use cases of creating futures.

[2017-04-12 13:41] hkaiser commented on #2574
@Naios Could you please verify whether #2585 solves your issue and report back?

[2017-04-12 15:28] Naios commented on #2574
@hkaiser I can confirm that the fix provided by the `fixing_2574` (#2585) branch solves this issue.

[2017-04-20 15:11] shoshijak opened #2589 "Missing documentation for LCOs"
There are a number of questions and pitfalls concerning LCOs that aren't covered at all in the HPX documentation (http://stellar-group.github.io/hpx/docs/html/), in particular the following:

- return type of .then(...) and of when_all(...) and similar
- the fact that the callable object passed as parameter to .then has to take a future<R> as parameter
- the fact that a function passed to async ca

[2017-04-20 15:12] shoshijak opened #2590 "Missing documentation for hpx::util::annotated_function"
hpx::util::annotated_function is completely absent from the documentation (http://stellar-group.github.io/hpx/docs/html/) and the examples.

[2017-04-20 15:29] shoshijak opened #2591 "Feature request: continuation (then) which does not require the callable object to take a future<R> as parameter"
In the current implementation of `.then(...)`, the callable object passed as argument to a `.then(...) `has to accept a `future<R>` as argument.

This requirement means that one can be led to writing code which looks like:

[code]

Whereby the argument `hpx::future<R> fv` in the second lambda is only there to make the program compile, but does not have any meaning or real use.

There are situation

[2017-04-20 16:44] hkaiser commented on #2589
@shoshijak The documentation for the `future` type can be found here: http://en.cppreference.com/w/cpp/experimental/future

It's only the `async` overload invoking an action which does not support (lvalue) references or pointers. But this is a for a good reason. Invoking actions implies to do remote operations.

In this context passing a pointer is ambiguous as plain pointers do not allow to infer

[2017-04-20 16:45] hkaiser commented on #2589
@shoshijak Also, we'd be more than happy to accept a patch which adds this information to the docs in a way you would be happy with.

[2017-04-20 16:53] hkaiser commented on #2591
The rationale for having the continuation accept the future itself is twofold:

- the original future which was used to attach the continuation is invalidated by this operation and the only way to access it afterwards is through the future instance which is passed to the continuation itself
- a future can have two 'ready'-states: it can be ready (success) and exceptional (something went wrong), so

[2017-04-20 16:54] hkaiser commented on #2590
We'd be happy to accept a patch adding this missing documentation.

[2017-04-21 08:01] shoshijak opened #2593 "parallel algorithm called inside annotated function throws exception"
The following code is broken by

Code:
[code]

Error message:

[2017-04-21 08:03] shoshijak commented on #2591
Your explanation is enlightening, thank you.

[2017-04-21 08:03] #2591 closed

[2017-04-21 15:44] hkaiser commented on #2593
@shoshijak I'm not able to reproduce this problem. Could you provide more information about how you built HPX (cmake log, build log) and how you executed the test?

[2017-04-21 16:28] ddemidov opened #2594 "FindOpenCL.cmake mismatch with the official cmake module"
CMake since v3.1 includes [FindOpenCL.cmake](https://github.com/Kitware/CMake/blob/master/Modules/FindOpenCL.cmake).

The problem with [the one](https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/FindOpenCL.cmake) that is included with HPX is that the official module exports `OpenCL_INCLUDE_DIRS` and `OpenCL_LIBRARIES`, while HPX one exports `OPENCL_INCLUDE_DIRS` and `OPENCL_LIBRARIES` (note t

[2017-04-21 16:40] ddemidov commented on #2594
Less intrusive option would be to just export both sets of variables from HPX `FindOpenCL` module.

[2017-04-21 16:55] hkaiser commented on #2594
Currently, non of the code in HPX depends on OpenCL. This file is an artifact, afaics. @mcopik Is that correct?

[2017-04-21 17:02] hkaiser commented on #2594
Moreover, none of the HPX cmake build system imports the FindOpenCL file. So I think it is safe to simply remove the file from HPX.

[2017-04-22 00:32] hkaiser commented on #2594
This was fixed by merging #2595

[2017-04-22 00:32] #2594 closed

[2017-04-22 17:24] ddemidov commented on #2594
Thanks!

[2017-04-25 09:55] shoshijak commented on #2593
I'm sorry, I cannot reproduce anymore either ...
It could be that I was building the test in a different build type than I had built HPX or something like that.

[2017-04-25 09:55] #2593 closed

[2017-04-26 11:08] mcopik commented on #2594
@hkaiser Everything should be fine, CMake and SYCL have their own scripts for OpenCL.

[2017-04-28 09:00] biddisco opened #2601 "High priority tasks are not executed first"
![1sm3oyuty](https://cloud.githubusercontent.com/assets/941548/25521828/604dcbf2-2c01-11e7-8e0a-3e1a41aa13c3.png)
The image attached shows that the red tasks (which are high priority ones) are not being run before the green ones submitted at the same time.

Some modifications to the scheduler produce a much better output and 10-20% improvement in time to solution for our matrix operation code.
![1

[2017-04-29 14:03] #2574 closed

[2017-04-29 15:46] hkaiser commented on #2266
Those tests have been fixed for V1.0

[2017-04-29 15:46] #2266 closed

[2017-04-29 15:48] hkaiser commented on #2543
I'll go ahead and close this as it is a duplicate of #1529

[2017-04-29 15:48] #2543 closed

[2017-04-30 02:25] hkaiser commented on #2584
This was fixed by merging #2604.

[2017-04-30 02:25] #2584 closed

[2017-05-05 12:33] biddisco opened #2609 "Resource manager design for many core and heterogeneous machines"
We are in need of a resource manager to handle the way we allocate cores/sockets/gpus etc in a more user friendly and adjustable way.
@shoshijak is workin on a new resource manager and I have some ideas on how I'd like to use it

One basic design idea I have would look something like the following where I might want to assign the all even numbered PUs, on the 1st core of each socket to one thread

[2017-05-05 13:36] sithhell commented on #2609
The problem with partitioning up the system before hpx_init is that we
don't know if a node hosts more then one locality. Other than that, I like
the basic idea.

Am 05.05.2017 2:33 nachm. schrieb "John Biddiscombe" <
notifications@github.com>:

We are in need of a resource manager to handle the way we allocate
cores/sockets/gpus etc in a more user friendly and adjustable way.
@shoshijak <https://

[2017-05-05 14:12] hkaiser commented on #2609
In order to support an arbitrary amount of executors we should not leave assigning concrete cores/processing units to the user. This will not scale. I think we should leave the task of deciding what cores/processing units to assign to what executor should be left to the resource manager (that's its main task). We should however have a means of defining constraints allowing to fine tune thread plac

[2017-05-05 14:19] shoshijak commented on #2609
And how would you let the user inform the executor of the kind/amount of resources he should request from the resource manager?

[2017-05-05 14:32] hkaiser commented on #2609
@shoshijak that should be part of the API exposed by the resource manager. I think the best way would be to define a interface the resource manager can use to interact with the requesting executor (see for instance: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/thread_executor.hpp#L127-L146). This would be necessary also for implementing dynamic assignment of cores.

In shor

[2017-05-05 14:34] biddisco commented on #2609
@hkaiser The idea outlined above was for when the user wants to customize things. By default, the resource manager will create a thread pool with all cores in (or however many asked for by hpx:threads).
The intention here was to provide a mechanism for the user to create differnt thread pools so that different schedulers can be run on each

[2017-05-05 16:03] shoshijak commented on #2609
After videoconf with @biddisco and @hkaiser, a summary of the plan:

- @biddisco's proposal and @hkaiser's proposal are very different, and are actually two different kinds of resource managers. Let's rename John's proposal "resource partitioner".
- The plan is to start by implementing a static resource partitioner, which more or less exposes the API described at the beginning of this thread, and

[2017-05-08 21:02] Naios opened #2615 "Documentation: Linking functions is broken"
8024b0f22cba4f337a9d

**Description:**

Due to #2611 I discovered that linking functions isn't possible from inside the doxygen documentation in-source comments. This includes autolinking (function names are converted into links) as well as copying the documentation of another function into the current type (`\copydoc`) - the reference stays unresolved in general.

By default this should work in d

[2017-05-08 21:58] hkaiser commented on #2615
Not sure if that's what you would like to achieve, but we link functions from inside our docs alright (see for instance: http://stellar-group.github.io/hpx/docs/html/hpx/manual/parallel/parallel_algorithms.html#hpx.manual.parallel.parallel_algorithms.parallel_algorithms).

[2017-05-08 22:01] hkaiser commented on #2615
Also, the doxygen documentation suggest, that you need to specify the full function declaration when using `\copydoc`:

    /// This is my function
    inline void my_function() { };

    /// \copydoc my_function()
    ///
    /// here I reference my_function
    inline void my_other_function() { };

Does this work?

[2017-05-08 22:34] Naios commented on #2615
Thank you for your suggestion, but ít doesn't work.

Through a default doxygen project I figured out that the snipped below is the correct way for auto referencing a function in an arbitrary namespace:

[code]

![screenshot_1](https://cloud.githubusercontent.com/assets/1146834/25828066/80735a46-344e-11e7-8622-22d90de6afac.png)

The issue persists when using the snipped above inside a hpx header fi

[2017-05-10 12:46] shoshijak commented on #2609
@biddisco and I are thinking some more about how the resource_partitioner would be used, and realized there are many potential conflicts between command-line specifications (e.g. `--hpx:threads N`, `--hpx:cores N` and `--hpx:bind`) and the code we suggest to allow in `int main()` (cf snippet at the top of this issue).

What do you think for example of the following question:
If a user specifies `-

[2017-05-10 12:48] shoshijak commented on #2609
And a different but related question:
Should the resource-partitioner behave according to policies specified in the command line?

Examples of policies could include

- allow empty pools (or not)
- create a default pool (or not)
- allow oversubscription (or not)

any other ideas?

[2017-05-10 12:50] biddisco commented on #2609
@shoshijak The point I was trying to make earlier when we spoke was that if the user specified
`--hpx:threads=12 --bind=balanced` on a amchine with 2 12 core sockets, then when the iterators are created in the resource manager, they will iterate _only_ over those 12 cores that are allowed by the user'
s command line and in this example, will give 6 per socket. the other 6 per socket will be 'invis

[2017-05-10 12:54] biddisco commented on #2609
NB. The user could still iterate over those 12 cores and add them to several pools, and thus oversubscribe the cores, but only those ones that were declared by the command line. in this example 12 cores would be unused even if the user added the other 12 used ones to multiple pools and ended up creating 36 actual 'threads' on those 12 cores.

[2017-05-10 12:59] biddisco commented on #2609
or then again ....
if the resource_manager is created with an 'ignore_command_line' policy flag, then it could grab all the resources regardless of what was on the command line.

[2017-05-11 02:34] #2615 closed

[2017-05-11 17:59] diehlpk opened #2621 "Compiling hpx master fails with /usr/bin/ld: final link failed: Bad value"
Using this cmake command with hpx master

cmake  \
-DBOOST_ROOT=/RQusagers/p108903/opt/boost/1.64/ \
-DHWLOC_INCLUDE_DIR=/RQusagers/p108903/opt/hwloc/include  \
-DHWLOC_LIBRARY=/RQusagers/p108903/opt/hwloc/lib/libhwloc.so  \
-DTCMALLOC_LIBRARY=/RQusagers/p108903/opt/gperftools/lib/libtcmalloc_minimal.so  \
-DTCMALLOC_INCLUDE_DIR=/RQusagers/p108903/opt/gperftools/include  \
..

delivers

/usr/bin/l

[2017-05-11 18:20] diehlpk commented on #2621
CMake version is 2.8.12

[2017-05-11 18:30] diehlpk commented on #2621
CMake >= 3.0.0 works

[2017-05-14 11:37] rishabhkumar296 commented on #2235
Hi,

Is this project currently working in progress under GSoC 2017 ? If anyone is not working on it, I am willing to take this up.

[2017-05-14 12:20] hkaiser commented on #2235
@rishabhkumar296: None of the selected GSoC projects are related to this (see: http://stellar-group.org/2017/05/gsoc-2017-participants-announced/). Please feel free to work on this. It might be a good idea if you joined our IRC channel (#ste||ar at freenode) to be able to discuss things in a more direct way.

[2017-05-14 13:31] felicepantaleo commented on #2235
Hi @rishabhkumar296 @hkaiser ,
in July at CERN we will have a summer student working for about 3 months on the implementation of a toy framework for HEP event reconstruction using HPX.
We will be definitely interested in testing your data structures and helping in further developments.

[2017-05-14 18:01] hkaiser commented on #2235
@felicepantaleo Ohh, that's great! Please let us know if there is anything we can do to support that.

[2017-05-14 18:38] #2621 closed

[2017-05-15 08:33] biddisco commented on #2235
BTW. I did not see the discussion here, but last night I created a branch made a PR #2629 because I need to use this concurrent map in code outside of the parcelport.

[2017-05-18 08:10] biddisco commented on #2609
Further discussion on resource managers/partitioners has brought up a new interesting twist.

Once we allow multiple thread pools, with different schedulers running on each pool, we will need to add an id_type for thread pools and corresponding decoration to remote async calls.

I may partition my system into a communication_pool, default_pool and a compute_pool - I wish to launch a task on a remo

[2017-05-18 13:34] hkaiser commented on #2609
My understanding was that the `resource_partitioner` would sub-partition the machine before HPX was launched, thus leaving only a subset of the cores to HPX. The rest of the cores wouldn't be visible to HPX anymore.

If this understanding is incorrect, and we still want to expose those sub-partitions outside of the HPX domain to the user, we should use executors for this and not id_types.

[2017-05-18 13:45] biddisco commented on #2609
The plan was to allow multiple thread pools to be exposed to HPX on a single node.

On a local machine - there might be N thread pools. Each one has it's own scheduler and to launch a task on the mpi_pool, we would require
[code]
the purpose of this being to allow us to dedicate some cores to an mpi executor, some others to default pool and allow the user to create as many pools/schedulers as they

[2017-05-18 14:58] hkaiser commented on #2609
Yes, executors are the way to go, then.

[2017-05-18 19:16] atrantan opened #2638 "Invalid return type ‘void’ of constexpr function"
Got an issue because my gcc version is 4.9. Here is a snippet of what I'm getting when building hpx:

[2017-05-19 00:27] hkaiser commented on #2638
@atrantan: what workaround would you suggest we apply?

[2017-05-19 01:58] atrantan commented on #2638
Honestly, got no idea except considering gcc 4.9 as obsolete

[2017-05-19 14:02] hkaiser commented on #2638
@atrantran Those functions don't _have_ to be `constexpr` to begin with. The optimizer should be able to get rid of those in any case. Could you prepare a patch please which removes the `constexpr` from the offending functions?

[2017-05-19 14:27] sithhell opened #2641 "`hpx::lcos::queue` should be deprecated"
`hpx::lcos::queue` should be deprecated in favor of `hpx::lcos::channel` (and friends). The channel provides a much richer and safer implementation of an asynchronous FIFO queue.

[2017-05-19 14:29] hkaiser commented on #2471
This has been fixed by merging #2606

[2017-05-19 14:29] #2471 closed

[2017-05-19 15:33] KhalidHasanov commented on #2568
The last commit  e9bddbb should cover both  #2568 and #2640

[2017-05-19 16:06] atrantan commented on #2638
Sure. Done in PR #2642

[2017-05-20 23:47] vinniefalco opened #2644 "Some .vcxproj in the HPX.sln fail to build"
Using cmake with `-GVisual Studio 15 2017 Win64` there are 9 projects which fail to build. For example "fail_compile_non_const_array_argument_lib.vcxproj". I guess, these are supposed to not compile?

[2017-05-20 23:49] hkaiser commented on #2644
Could you give us a list of the failing ones, please?

[2017-05-20 23:51] vinniefalco commented on #2644
Looks like its these:
[code]

Not sure where the other two are. This is the last line of the Output window
[code]

[2017-05-20 23:52] hkaiser commented on #2644
Ahh, those are supposed to fail, there is no way to tell VS that all is well if they fail ;)

[2017-05-20 23:54] vinniefalco commented on #2644
I'm not sure about the other 2 (only 7 libraries were mentioned in the output as far as I could see). But here's the entire output, maybe you will see something I don't?
[code]

If this is a non-issue feel free to close.

[2017-05-20 23:54] #2644 closed

[2017-05-21 10:54] #2638 closed

[2017-05-22 15:00] robstewart57 opened #2647 "hpx::parcelset::detail::parcel_data::has_continuation_ is unitialized"
I'm HPX version da3fd176cd28e9d1fc9bfb47b70a6333d531f517 compiling with GCC 7.1.1 . I am getting this error:

[code]

The line in question is the last line of:

[code]

Is this known? Is GCC 7.1.1 supported by HPX? How could I suppress this error?

[2017-05-22 15:22] hkaiser commented on #2647
@robstewart57 I've not seen this before, will investigate.

[2017-05-22 15:34] hkaiser commented on #2647
@robstewart57 this has already been fixed on master (see https://github.com/STEllAR-GROUP/hpx/commit/cc15d1c67144200f070e74d80b6d840df0a16ee3). I'll go ahead and close this, feel free to reopen, if needed.

[2017-05-22 15:34] #2647 closed

[2017-05-24 14:40] ct-clmsn opened #2650 "libfabric support for passive endpoints"
libfabric passive endpoint support is missing, specifically a function with the following signature "bind_endpoint_to_queues(struct fid_pep *endpoint)". Also, cmake instructions break when compiling against libfabric using passive endpoints.

[2017-05-24 14:48] ct-clmsn commented on #2650
Wanted to mention, the macros for controlling passive support create a couple of small issues in  `plugins/parcelport/libfabric/libfabric_controller.hpp`

The function `locality create_local_endpoint()` needs to have the variable 'int ret' defined above the #ifdef HPX_PARCELPORT_LIBFABRIC_ENDPOINT_RDM macro call (line 490). This will impact the call to `ret = fi_getname(id, local_addr.data(), &add

[2017-05-29 08:08] biddisco commented on #2650
@ct-clmsn When you say "cmake instructions break when compiling against libfabric using passive endpoints" could you tell me what you are doing? (what cmake invocation is failing).

the libfabric support is ongoing and still only supports a very limited range of providers (so far only cray gni is actually working correctly). and we are only supporting the RDM endpoint type.
The code does compile a

[2017-05-30 15:29] taeguk opened #2661 "Excessive overheads that loop_idx_n calls cancellation_token::was_cancelled per each loop."
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/util/loop.hpp#L485
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/util/cancellation_token.hpp#L41-L44

Currently, ```loop_idx_n``` calls ```cancellation_token::was_cancelled``` per each loop.
But, It seems to be excessive to check whether token was cancelled.
If the cancellation occurs rarely, occasional checking the canc

[2017-05-30 18:34] hkaiser commented on #2661
@taeguk: I agree. Go for it! In the end this could be exposed through executor parameters (similar to chunk sizes, etc.)

[2017-05-30 21:39] neutrino504 opened #2662 "Crash in managed_component::get_base_gid due to problem with util::reinitializable_static."
I get a crash when running octo-tiger on supermic (compiled with gcc).
It is a seg fault in managed_component::get_base_gid, the output is here:
https://gist.github.com/neutrino504/6aee4c053de21d78a6b27a765c177b08

The problem went away when I modified "get_heap" (line 294) in hpx/runtime/components/server/managed_component_base.hpp by adding a lock so the body of get_heap is executed atomically.

[2017-05-30 21:40] #2662 closed

[2017-05-30 21:41] dmarce1 opened #2663 "Seg fault in managed_component::get_base_gid, possibly cause by util::reinitializable_static"
I get a crash when running octo-tiger on supermic (compiled with gcc).
It is a seg fault in managed_component::get_base_gid, the output is here:
https://gist.github.com/neutrino504/6aee4c053de21d78a6b27a765c177b08

The problem went away when I modified "get_heap" (line 294) in hpx/runtime/components/server/managed_component_base.hpp by adding a lock so the body of get_heap is executed atomically.

[2017-05-30 21:48] hkaiser commented on #2662
Could you show us what you changed, please?

[2017-05-30 21:49] hkaiser commented on #2663
Please show us the code you changed.

[2017-05-31 03:07] dmarce1 commented on #2663
line 294 from  hpx/runtime/components/server/managed_component_base.hpp. I added the mutex and lock.

static heap_type& get_heap()
            {
                // ensure thread-safe initialization
		static hpx::lcos::local::spinlock mtx;
		std::lock_guard<decltype(mtx)> lock(mtx);
                util::reinitializable_static<
                    heap_type, wrapper_heap_tag

                return

[2017-05-31 14:50] justwagle opened #2666 "Statistics Performance counter is not working"
The statistics performance counters are not working. They do not print any values and  the application does not terminate.

Sample command line to reproduce:
srun -p ariel -N 1 -n 1  ./1d_stencil_8 --nx=100 --nt=100000  --hpx:threads=16  --hpx:cores=16  --hpx:print-counter=/statistics{/runtime{locality#0/total}/io/write_bytes_cancelled}/average@2000

Localities,OS_Threads,Execution_Time_sec,Points

[2017-05-31 15:48] dmarce1 opened #2667 "Ambiguity of nested hpx::future<void>'s."
When future < T >  is created using a function returning a future < T >  instead of a T, the outer future is not made ready until the inner future is complete.

However, when a futue< void > is created using a function returning a future< void > instead of void, the outer future is made ready as soon as the inner future is returned - which could be (and often is) before the inner future is made re

[2017-05-31 16:35] hkaiser commented on #2667
This is intended behavior. How could the outer future not become ready if the inner future is available?

[2017-05-31 16:41] hkaiser commented on #2667
Just to clarify: for the code snippet you showed, the outermost future should not become ready before `do_more_work()` finished executing, however here:
[code]
the returned outer future will become ready as soon as the inner async has returned. In other words, the automatic unwrapping of `future<future<void>>` to `future<void>` should make sure that the collapsed future becomes ready only once the

[2017-05-31 16:53] dmarce1 commented on #2667
There must be a bug then, because I don't think that's what is happening. I will try and reproduce it with a smaller code sample.

[2017-05-31 16:58] eschnett commented on #2667
You might be able to create a succinct test case that uses exceptions. If the outer future is ready too early, then any exceptions thrown by the inner future have no place to go any more.

[2017-05-31 17:16] Praveenv98 commented on #2667
Hi Erik
Can you give me an example where the outer future is ready too early. I
think that always outer future will be ready after the inner one
completes(because may depend on inner future) and in case of exception in
outer future I think inner future will not execute . If I'm wrong please
correct me!

On 31 May 2017 at 22:28, Erik Schnetter <notifications@github.com> wrote:

[2017-05-31 17:19] hkaiser commented on #2667
@Praveenv98 The original code Dominic showed above exposes this behavior.

[2017-05-31 19:02] dmarce1 commented on #2667
I am having trouble reproducing this behavior with a simple code, and the Octotiger bug I thought I had fixed by explicitly getting the inner futures before return appears to be popping back up again. (Though it takes longer before it happens). At this point I'm no longer 100% convinced the HPX bug I think is there actually exists, it may still be a bug in my own code.

[2017-06-01 00:32] hkaiser commented on #2661
@taeguk, If we add this we might have to be especially careful with algorithms which roll back the work done before the `cancellation_token` was triggered (e.g. the uninitialized_...` family of algorithms).

[2017-06-01 00:58] hkaiser commented on #2663
Frankly, I doubt it's a problem with `reinitializable_static` as this is using `call_once` internally for all synchronization. I rather thing this problem is caused by passing an rvalue to it's constructor which could have lead to a dangling reference inside some delayed initialization of the `reinitializable_static`.

@dmarce1 Could you please try https://github.com/STEllAR-GROUP/hpx/tree/fixing_

[2017-06-01 01:07] pagrubel commented on #2666
Do you have the syntax correct. I haven’t done this in quite a while but my past scripts have something of the form:
/arithmetics/add@/{papi …

so I’m thinking it should be /statistics/average{

but then you should have gotten an error.

Pat
On May 31, 2017, at 8:50 AM, Bibek Wagle <notifications@github.com<mailto:notifications@github.com>> wrote:

The statistics performance counters are not worki

[2017-06-01 01:18] hkaiser commented on #2666
@pagrubel the syntax is correct for this counter.

[2017-06-01 03:12] taeguk commented on #2661
@hkaiser I can't find that case.
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/util/loop.hpp#L401
In above codes, it seems that 'roll back' is performed by only a thread which cancel token. (https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/util/loop.hpp#L408-L411)

[2017-06-01 12:14] hkaiser commented on #2661
@taeguk This happens for instance here: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/algorithms/uninitialized_copy.hpp#L99-L132. The partition which is cancelled directly rolls back, all other partitions are rolled back by the 3rd function passed to `partitioner_with_cleanup`.

However even for those algorithms it might not be a problem if we checked for cancellation not after eve

[2017-06-01 12:28] hkaiser commented on #2662
Duplicate to #2663

[2017-06-01 13:12] pagrubel commented on #2666
Nice to know

On May 31, 2017, at 7:18 PM, Hartmut Kaiser <notifications@github.com<mailto:notifications@github.com>> wrote:

@pagrubel<https://github.com/pagrubel> the syntax is correct for this counter.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/STEllAR-GROUP/hpx/issues/2666#issuecomment-305361928>, or mute the thread<

[2017-06-01 20:06] hkaiser commented on #2667
@dmarce1 You were right after all. The current code allows to implicitly convert a `future<future<T>>` (where T != void) to a `future<void>` which possibly leads to problems as this operation does not unwrap the nested future but just discards the result value of the outer future.

Doing the same for a `future<future<void>>` --> `future<void>` is correctly performing the required unwrap, however.

[2017-06-02 12:42] #2641 closed

[2017-06-03 12:42] #2666 closed

[2017-06-04 13:32] taeguk opened #2678 "In parallel algorithm, other tasks are executed to the end even if an exception occurs in any task."
Currently, other tasks are executed to the end even if an exception occurs in any task.
Ideally, it seems better that all other tasks are stopped immediately when an exception occurs in any task.
But I think it is ideal. Actually, for this, unnecessary overheads are needed in normal cases where an exception does not occur.
I would like to find out if there is a way to solve this problem while mini

[2017-06-04 13:51] hkaiser commented on #2678
We usually don't let all partitions run to completion. The `cancellation_token` is accessed by all partitions, such that they can stop running once one of the partitions throws an exception. Do I miss something?

[2017-06-04 17:43] taeguk commented on #2678
@hkaiser There are things that don't use ```cancellation_token``` like ```partitioner```.
 (https://github.com/STEllAR-GROUP/hpx/blob/4bb8a22/hpx/parallel/util/partitioner.hpp#L230-L234)
In these cases, other tasks(partitions) are executed to the end even if an exception occurs in any task(partition).

[2017-06-04 19:42] hkaiser commented on #2678
@taeguk We would have to make sure that using a `cancellation_token` for all the other algorithms (which don't use it right now) wouldn't cause additional overheads for the non-exceptional case.

In general, I think we shouldn't try to optimize the exceptional code path as error handling is costly anyways and normally nobody cares about how 'slow' error handling is.

[2017-06-05 15:57] ct-clmsn commented on #2650
@biddisco I'll start off by professing a general lack of experience programming or building against OFI and libfabric.  With that understanding, I attempted a very naive build using the cmake flags for HPX that should bake-in libfabric. The bit about cmake being broken was to see if there is an ability to detect what type of providers (ugni, omnipath, passive endpoints, etc) are available? I'm cur

[2017-06-06 06:12] biddisco opened #2679 "Mismatch between size of archive and container"
This line
https://github.com/STEllAR-GROUP/hpx/blob/c24d02101fe6c9a58a5d46d1781b1c481c4e0d48/hpx/runtime/serialization/output_archive.hpp#L360
increments the size of the archive even when a pointer chunk is added. This causes a mismatch between the size of the container and the size of the archive. After preprocess, this causes excessive memory allocation when the container buffer is allocated/res

[2017-06-06 15:08] dmarce1 commented on #2663
The problem appears to be fixed now.

[2017-06-06 15:08] #2663 closed

[2017-06-06 15:45] dmarce1 opened #2682 "HPX does not compile with HPX_WITH_THREAD_MANAGER_IDLE_BACKOFF=OFF"
Compiling with GCC on QB2, HPX does not compile when HPX_WITH_THREAD_MANAGER_IDLE_BACKOFF=OFF. I get this error:

https://gist.github.com/dmarce1/7b91834298f021e0b78854d484df5f74

[2017-06-06 16:40] hkaiser commented on #2682
@KhalidHasanov, @sithhell  Could you please look into this? This problem seems to be related to the new throttling scheduler.

[2017-06-06 17:16] #2667 closed

[2017-06-07 15:13] hkaiser commented on #2568
This was fixed by merging #2640

[2017-06-07 15:13] #2568 closed

[2017-06-08 20:11] atrantan opened #2689 "HPX build fails when HPX_WITH_CUDA is enabled"
HPX build fails when HPX_WITH_CUDA is enabled. This is due to the forcing of flag `-std=c++11 ` when CMake variable HPX_WITH_CUDA is set.

[2017-06-09 16:10] atrantan opened #2690 "Some hpx compute + Cuda Clang examples fails at runtime"
Got some issue when running hpx compute examples (aka `partitioned_vector.cu` and `hello_compute.cu`) and have Cuda Clang enabled. To reproduce it, please use a node in ROSTAM with NVIDIA GPUs and type the following commands:
[code]
Note:sm_35 and sm_37 have been chosen regarding the compute capability of GPUs K40 and K80

[2017-06-11 15:21] hkaiser opened #2691 "Adapt executor implementation to P0443R2"
This involves a couple of steps. The (currently still evolving) document can be found here: https://github.com/executors/issaquah_2016/blob/R2/wording.md

- [x] clean up existing executor categories and corresponding traits (#2693)
- [x] rename `<op>_bulk_execute` to `bulk_<op>_execute` (#2693)
- [ ] implement `BaseExecutor` requirement on all existing executors
- [x] implement traits `has_<op>_me

[2017-06-13 22:21] biddisco opened #2695 "Executor changes cause compilation failures"
The following snippet no longer compiles after recent executor changes
[code]

[2017-06-14 15:15] DavidPfander-UniStuttgart opened #2696 "Building and using HPX statically: undefined references from runtime_support_server.cpp"
Hi, is there anything I have to turn on other than `-DHPX_WITH_STATIC_LINKING=ON` to get a static version of hpx?

I get a lot of undefined references when trying to build octotiger statically. Specifically. hpx::util::plugin::dll::LoadLibrary(hpx::error_code&, bool) seems to use dlopen, which requires a dynamically linked libc, if I interpret the warning correctly. This also triggers undefined re

[2017-06-14 16:35] dmarce1 opened #2697 "Compile error in addressing_service.cpp"
I am getting a compile error with master (SuperMIC, GCC 7.1) when CXX14 is OFF. Should HPX compile with C++11 ?

https://gist.github.com/dmarce1/f8c9911ca379af2ba09a6bdb91b485aa

[2017-06-14 17:09] hkaiser commented on #2697
This is a boost problem which I don't know how to solve at this point. Everything should work with gcc 6.x or older versions of Boost.

[2017-06-14 17:15] hkaiser commented on #2697
@dmarce1 From what I can see, this error started to occur once we added support for C++17 to our build system. Could you try to explicitly force it to use C++11 or C++14, please (add `-DHPX_WITH_CXX11=On` or `-DHPX_WITH_CXX14=On` to the cmake command line)?

[2017-06-16 12:03] #2682 closed

[2017-06-17 13:25] taeguk opened #2699 "Iterator requirements are different from standard in parallel copy_if."
In HPX, parallel copy_if has a contract about iterator traits.
As below, at least, input iterator must be InputIterator and output iterator must be OutputIterator.
(https://github.com/STEllAR-GROUP/hpx/blob/0f16de3bdd0d71f051cab644268901a4b08b19e1/hpx/parallel/algorithms/copy.hpp#L579-L585)

But, as I saw in the cppreference website, it has more stronger a contract.
It requires ForwardIterator.
(h

[2017-06-17 14:00] taeguk opened #2700 "Naming inconsistency in parallel algorithms."
There are naming inconsistencies in parallel algorithms.

```F``` vs ```Pred```
------------------------
```F``` - https://github.com/STEllAR-GROUP/hpx/blob/0f16de3bdd0d71f051cab644268901a4b08b19e1/hpx/parallel/algorithms/copy.hpp#L563
```Pred``` - https://github.com/STEllAR-GROUP/hpx/blob/0f16de3bdd0d71f051cab644268901a4b08b19e1/hpx/parallel/algorithms/copy.hpp#L354

My opinion - In many places,

[2017-06-17 14:23] hkaiser commented on #2699
@taeguk: yes, our algorithms (almost all of them) put less restrictions on the iterators than the C++17 standard does. The committee has adopted the stricter requirements only last minute.

I think that this does not violate the standard as it is as we provide a wider contract. Our algorithms simply fall back to sequential execution whenever the given iterators don't allow for parallelizing the ex

[2017-06-17 14:24] hkaiser commented on #2700
I'd be glad to accept a corresponding PR

[2017-06-17 14:45] DavidPfander-UniStuttgart opened #2701 "Dataper with STEllAR-GROUP/Vc requires obscure flag"
Vc v2 from the STEllAR-GROUP/Vc isn't detected properly unless
` HPX_WITH_DATAPAR_VC_NO_LIBRARY=On` is set.

I think HPX should detect Vcv2 properly or at least issue a meaningful warning. Right now, hpx only states that Vc wasn't detected and that I should set Vc_ROOT (which ofc I did).

[2017-06-17 14:51] taeguk commented on #2700
@hkaiser Okay, I'll do that in July.

[2017-06-17 15:02] taeguk commented on #2699
@hkaiser But, I'm afraid of users' misunderstandings. The users may misthink that the algorithm executed parallelly although it is executed sequentially because of unsatisfied contracts to parallel execution. Falling back to sequential execution may be confusing to the users.

[2017-06-17 15:04] hkaiser commented on #2699
@taeguk: yes this is true. Here I'd like to hear opinions from others as well.

[2017-06-17 18:56] hkaiser commented on #2695
Could you add the full source code and the compilation error you're seeing, please?
The following snippet does compile fine for me:
[code]

[2017-06-17 20:37] biddisco commented on #2695
The compilation failure was caused by a missing
[code]
in my test. This is not a bug. Closing it.

[2017-06-17 20:37] #2695 closed

[2017-06-18 00:01] DavidPfander-UniStuttgart opened #2702 "STEllAR-GROUP/Vc slower than VCv1 possibly due to wrong instructions generated"
I'm observing significantly lower performance with VCv2 than with VCv1, performance of OctoTiger is approximately halved. To me it looks like the wrong instructions are generated as I'm seeing too many scalar mov ops (vmovsd instructions). I enabled AVX1/2 and FMA.

Possible reason for the observed problem might be that I'm compiling on a AMD Zen machine. I had to add a few lines to make Vc's cmak

[2017-06-18 00:48] hkaiser commented on #2702
@mattkretz adding you to this discussion...

[2017-06-18 11:45] mattkretz commented on #2702
I just pushed my work on vectorizing the fixed_size ABI to mkretz/datapar. It also contains a similar patch to recognize AMD Zen, so that should work out of the box now. Also, I added a few always inline attributes that I found missing. It would be helpful if you can retest with those changes.

You're saying that on the same machine, using Vc 1.3, you get approximately twice the performance as wit

[2017-06-18 12:56] DavidPfander-UniStuttgart commented on #2702
Ok, I'll try https://github.com/VcDevel/Vc/tree/mkretz/datapar then. If that branch is the reference for datapar 2, maybe we should get rid of the https://github.com/STEllAR-GROUP/Vc.

[2017-06-18 13:20] hkaiser commented on #2702
@DavidPfander-UniStuttgart This is the desired solution, eventually. However, I think there are things in that repo which @brycelelbach was planning to push upstream. Matthias, do you have any recollection of what Bryce did there?

[2017-06-19 07:19] mattkretz commented on #2702
I'll look into rebasing wash's branch onto mine. It's some compatibility work and a few math features that he added IIRC.

[2017-06-19 17:45] Naios opened #2703 "Request: Add the .clang-format file to the repository"
@hkaiser It would be really useful, if the HPX project could include the .clang-format file you sent me recently into the main tree, in order to provide official support for clang-format.

It's difficult to work with branches meant for pull requests while keeping an untracked `.clang-format` file, because the config pollutes the working directory which prevents some commonly used git commands like

[2017-06-19 18:18] hkaiser commented on #2703
I'd like to hear everybody's opinion on this.

[2017-06-19 22:35] sithhell commented on #2703
On Montag, 19. Juni 2017 11:18:14 CEST Hartmut Kaiser wrote:

I am in favor of gradually moving to a unified format. I have no particular
preferences. Since automation is pretty decent these days, I think one can
easily adapt.

[2017-06-19 23:18] hkaiser commented on #2703
Here are the problems I see (all of which have already been discussed):

- if we add a .clang-format to the repository any edit may (will?) result in a full reformatting of the file
- partial reformats (only the lines touched by an edit) will result in inconsistent formatting
- full reformatting of the whole code base destroys all of the edit history

the bottom line is that there does not seem to

[2017-06-19 23:23] Naios commented on #2703
You could still not enforce the formatting from the CI side, but recommend to developers to use it.
This would have the benefit that no full reformatting of the source is needed.
As I know LLVM is doing it in this way while providing its own `.clang-format` file.

[2017-06-19 23:24] hkaiser commented on #2703
@Naios: do the LLVM guys have that written up somewhere as a policy?

[2017-06-19 23:42] Naios commented on #2703
@hkaiser Currently I don't know anything about such a policy in the LLVM project (also my search didn't reveal anything related).
However as I remind there were some sections of the project not formatted, probably not to destroy the git log for better bisect support (see LLVM's `bugpoint` tool).
Probably we would need to ask in the LLVM IRC in order to receive an answer about this.

[2017-06-20 06:40] mattkretz commented on #2702
Merged in mkretz/abs_sqrt branch now. After CI gives a green light, I'll merge it back to mkretz/datapar.

[2017-06-20 10:14] biddisco commented on #2703
I do not see how having a .clang-format file in your tree affects rebasing. I have on in mine and I rebase all the time. (rebasing is only affected when files tracked by git are in a modified state)

I am in favour of adding the clang-format file to the repo. It should be provided so that as we work on classes we can reformat them as we go. There is no need to reformat the entire code base in one

[2017-06-20 10:20] biddisco commented on #2703
Addressing these points ...

- if we add a .clang-format to the repository any edit may (will?) result in a full reformatting of the file
Why? Only when the user says "reformat this file" does that happen. In my QtCreator, there is an option to automatically run the format too on save/etc. I have that turned off.
- partial reformats (only the lines touched by an edit) will result in inconsistent f

[2017-06-20 13:29] shoshijak opened #2705 "Cleanup required for resource partitioner"
- Merge threadmanager and threadmanager_impl (since threadmanager is not templated on the scheduler any more, this type erasure mechanism is not needed any more)
- Merge runtime and runtime_impl (same reasoning)
- Namespace review: move thread_pool and thread_pool_impl out of the detail namespace, and move threadmanager (and runtime?) into the detail namespace
- Scheduler cleanup: reduce the numbe

[2017-06-20 14:06] DavidPfander-UniStuttgart commented on #2702
Thanks you very much, Matthias. This is extremely helpful for our KNL work!

[2017-06-20 14:09] sithhell commented on #2703
I agree on all points.

Addressing these points ...

   - if we add a .clang-format to the repository any edit may (will?)
   result in a full reformatting of the file
   Why? Only when the user says "reformat this file" does that happen. In
   my QtCreator, there is an option to automatically run the format too on
   save/etc. I have that turned off.

There are in addition pre-commit hooks that f

[2017-06-21 16:31] woodmeister123 opened #2707 "Multiple defined symbols for task_block.hpp in VS2015"
Using VS2015 UD3, I get a multiple defined symbol error for the handle_task_block_exceptions free function in parallel/task_block.hpp, whenever this file gets included in multiple translation units.

If I add the inline keyword to this function it compiles ok.

Am I missing something here?

[2017-06-21 17:02] mcopik commented on #2699
@hkaiser it's rather a rare case. if the InputIterator is not custom then can it be something else then I/O in the form of istream_iterator? I don't remember other examples of standard input iterators.
However, a quite fallback to serial execution creates very subtle bugs. We should at least inform the user about that. Maybe by a warning message? I've seen a logger facility in HPX but it seemed to

[2017-06-21 18:08] sithhell commented on #2707
Sounds like a genuine bug to me. Thanks for reporting! Since you already
did the work, do you mind submitting a pr with the mentioned changes?

Am 21.06.2017 6:31 nachm. schrieb "woodmeister123" <notifications@github.com

[2017-06-21 18:30] hkaiser commented on #2699
@mcopik I was thinking more towards supporting writing generic facilities which use the parallel algorithms in their implementation. Limiting iterator categories for such facilities might be too restricting and not allowing the parallel algorithms to be used with input iterators may make the implementation of those facilities more cumbersome.

But in the end I don't insist in leaving things as we

[2017-06-21 23:01] #2703 closed

[2017-06-22 06:53] woodmeister123 commented on #2707
Yep, will do

[2017-06-22 07:10] mattkretz commented on #2702
The link is hard to follow, it's href points to nirvana.
Anyway, the picture is hard to interpret. Perfect for fixing this would be a minimal reduced testcase (you could give it a shot using multidelta and some smart "grep" on the generated asm).
Else, better give me the binary itself and I can disassemble and look. Or maybe I can reproduce the build here? Let me know how.

[2017-06-22 07:31] mattkretz commented on #2702
hmm, so I think I can guess the `callq` now. The compiler decided not to inline the implementation of `fixed_size_datapar<double, 16> + fixed_size_datapar<double, 16>`. That's a crazy choice, but one I've seen way too often. :-( Maybe I have to put a `gnu::always_inline` on it, even though in some cases (e.g. <double, 32> without AVX) the function can become a bit largish. In any case, the choice

[2017-06-22 08:00] DavidPfander-UniStuttgart commented on #2702
Should I open a issue in VcDevel/Vc about this?

And sorry for the messed up link.

The source code [here](https://github.com/STEllAR-GROUP/octotiger/blob/double_loop_comp_int/src/taylor_set_basis.hpp) shows that this specific piece code is vector memory accesses and vector arithmetic only, it's also branch free. There should only be very few scalar instruction for the constant indexing.

I'll als

[2017-06-22 08:51] DavidPfander-UniStuttgart commented on #2702
Here is a vtune exported assembly listing for the whole method.

[vtune_assembly_export.txt](https://github.com/STEllAR-GROUP/hpx/files/1094167/vtune_assembly_export.txt)

[2017-06-22 11:34] DavidPfander-UniStuttgart commented on #2702
Build scripts for octotiger. Uncompless to an arbitrary folder, setup the paths in the bash file and run it. (Derived from our Circle CI scripts). It already checks out branches I'm using. For OctoTiger, this is my current development branch.
[octotiger_build_scripts_ubuntu.zip](https://github.com/STEllAR-GROUP/hpx/files/1094575/octotiger_build_scripts_ubuntu.zip)

If you want to verify your build

[2017-06-22 13:53] hkaiser commented on #2699
If this gets addresses, should we phase out our support for `input_iterators` using backwards compatibility options or simply break compatibility and drop support for those?

[2017-06-23 07:24] sithhell commented on #2696
`-DHPX_WITH_STATIC_LINKING=On` should be sufficient. Could you provide a way to reproduce that bug?

[2017-06-23 07:28] sithhell commented on #2699
We provided backwards compatibilty for almost all of thos cases so far. I think this is one case where we should deliberately break users code. As @mcopik mentioned, it could be a subtle bug. In the end, what i'd like to see is support for those generic algorithms to select the execution policy based on the iterators passed.

[2017-06-23 11:46] DavidPfander-UniStuttgart commented on #2696
Can't even compile a static build of only hpx on my ubuntu xenial machine:
[code]
[output_cmake.txt](https://github.com/STEllAR-GROUP/hpx/files/1097662/output_cmake.txt)
[output_make.txt](https://github.com/STEllAR-GROUP/hpx/files/1097663/output_make.txt)

[2017-06-23 13:06] hkaiser commented on #2699
That's exactly what's happening now, isn't it?  I'm confused.

[2017-06-23 16:01] mcopik commented on #2699
I'm fine with a less permissive implementation but I'm worried about
introducing bugs into user code.

Execution policy and iterator type are known at compile time. My
suggestion: display a compilation warning that the execution is serialized
for an execution policy other than seq or seq_task. I know that there is no
standard-conforming way of displaying a warning but IIRC all major
compilers supp

[2017-06-23 18:11] #2707 closed

[2017-06-23 20:00] sithhell commented on #2699
Am 23.06.2017 3:07 nachm. schrieb "Hartmut Kaiser" <notifications@github.com

In the end, what i'd like to see is support for those generic algorithms to
select the execution policy based on the iterators passed.

That's exactly what's happening now, isn't it? I'm confused.

Right now, we silently make that decision. What I'm proposing is shifting
the responsibility to our users, with our default,

[2017-06-23 20:03] sithhell commented on #2696
Are all of your dependencies (boost, jemalloc and hwloc) compiled as static
libraries?

Am 23.06.2017 1:46 nachm. schrieb "David Pfander" <notifications@github.com

[2017-06-25 10:17] DavidPfander-UniStuttgart commented on #2696
Shouldn't the build system complain if I haven't?

If you look at the logs attached in my last post, you can see that I'm only linking against static libraries.

[2017-06-25 15:10] hkaiser commented on #2696
Isn't the build system 'complaining' to you?

[2017-06-25 15:11] DavidPfander-UniStuttgart commented on #2696
Guys, why am I even posting logs if you don't look at them...

No, the build system doesn't complain, because static libs are there. Still, linking fails.

[2017-06-25 16:06] sithhell commented on #2696
Am 25.06.2017 5:11 nachm. schrieb "David Pfander" <notifications@github.com

Guys, why am I even posting logs if you don't look at them...

Did I also miss the cmake invocation?

No, the build system doesn't complain, because static libs are there.
Still, linking fails.

[2017-06-25 16:18] sithhell commented on #2696
Looks like I missed the cmake invocation indeed. Obviously, there are missing link time dependencies. It looks like they mostly come out of libdl, and from libraries we don't have any control over. Certainly needs some investigation.

[2017-06-25 16:29] sithhell commented on #2696
Which cmake version are you using? I vaguely remember there was a problem with the static builds. The version I used on Cori was 3.3.2, that's the one I know works.

[2017-06-25 20:56] hkaiser commented on #2699
FWIW, I'm working on a fix here: https://github.com/STEllAR-GROUP/hpx/tree/fixing_2699

[2017-06-27 15:28] gentryx opened #2718 "Some forward declarations in execution_fwd.hpp aren't C++11-compatible"
Hoi,

my C++11-only builds of LGD with HPX are failing because return types are given as auto without a resolution of that type, e.g. https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/executors/execution_fwd.hpp#L76

I'm not sure how to resolve this as the forward declarations seem to be a hornets' nest. Ideas? Thanks!

[2017-06-27 15:32] hkaiser commented on #2718
Doh'! I'm not sure how to resolve this :/

[2017-06-27 16:43] gentryx commented on #2718
Or to ask the question differently: how do you build CUDA-enabled HPX apps on Rostam?

[2017-06-27 22:00] gentryx commented on #2718
I think I got it, will file PR tomorrow. :-)

[2017-06-28 19:50] zbyerly opened #2722 "channel register_as() failing on compilation"
source code:
https://gist.github.com/zbyerly/dedfee6fadf768c774692892da254626

compiler error:
https://gist.github.com/zbyerly/9ebd01bd4214fc2da62278f76b4788f9

modules loaded on Rostam:
gcc/6.3.0
cmake/3.6.2
hwloc/1.11.3
boost/1.63.0-gcc6.3.0
openmpi/1.10.5-gcc6.3.0

hpx commit a80816f1c1326a2874bc46fad5cbd9b957453120

[2017-06-29 11:26] ct-clmsn commented on #2408
@DavidPfander-UniStuttgart the rethinkdb article is an excellent find. What type of information would need to be reported by the handler?

[2017-06-30 12:21] felicepantaleo commented on #2235
hi @biddisco @hkaiser,
@Element-126 just started working on HPX for us.
We will let you know if we need any support!

[2017-06-30 13:58] DavidPfander-UniStuttgart commented on #2696
I'm using cmake 3.5.1. This is not on cori/tavi, but on my ubuntu desktop machine (16.04).
Still getting the same undefined reference as mentioned in the logs.

[2017-06-30 14:05] sithhell commented on #2696
Right. I think that version is buggy. Could you please try the static build with either 3.8 or 3.3.2?

[2017-06-30 14:32] taeguk opened #2728 "Why Projection is needed in parallel algorithms?"
Why projection is needed in interface of parallel algorithms?
https://github.com/STEllAR-GROUP/hpx/blob/383eab90cad8a29dfd66f930d97bd50c77569689/hpx/parallel/algorithms/partition.hpp#L271

I know that it is for invoking some procedure before invoking predicate.
But, I can't understand if we really need it.
Is there anyone to demonstrate the reason for me?

I didn't use ```Proj``` when I implemente

[2017-06-30 14:51] hkaiser opened #2729 "Add on_migrated() event handler to migratable components"
This event handler should be called whenever an object was migrated. It should be implemented on the `migration_support` component base class.

[2017-06-30 15:01] hkaiser commented on #2728
Projections are a very powerful means of extending the algorithms. For instance see our implementation of `sort_by_key` which is using a special projection function allowing for it to be implemented using a straight `sort` (see https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/algorithms/sort_by_key.hpp). See also Eric Nieblers original paper giving a motivation and examples: https://e

[2017-06-30 16:54] hkaiser opened #2730 "Make lcos::channel migratable"
This would require for a channel not to be a `managed_component` anymore

- [x] allow for unmanaged (simple) components to expose the `base_lco_with_value` interface (see #2756)
- [x] change channel to be an unmanaged (simple) component (see #2756)
- [ ] make channel migratable

[2017-07-02 08:19] taeguk commented on #2325
How is it progressed now?
Because of this issue, parallel algorithms that use ```scan_partitioner``` are very slow.
What problem does it occurs in detail to use ```policy.executor()``` instead of ```hpx::launch::sync```?
I want to try to resolve this issue.

[2017-07-02 08:43] taeguk commented on #2700
@hkaiser I have more confusions about naming.
```RandomIt``` vs ```RandIter```
```ForwardIt``` vs ```FwdIter```
```Compare``` vs ```Comp```

Even though this is trivial thing, it seems better that there is one consistent naming.
How do you think about it?

[2017-07-02 13:02] hkaiser commented on #2700
How do you think about it?

By all means, go for it. Thanks!

[2017-07-02 13:04] hkaiser commented on #2325
We see random segfaults in this case. Apparently things are going out of scope too early.

Sure, go ahead - please be our guest.

[2017-07-02 14:34] taeguk commented on #2700
Which naming is better as you think?
RandomIt vs RandIter
Compare vs Comp

[2017-07-02 15:10] hkaiser commented on #2700
FWIW, we've mostly been using `InIter`, `FwdIter`, `BidirIter`, `RanIter`, `OutIter`, and `Comp`. In other places we've used `Op` or `Pred`. In the end it doesn't matter as long as it is consistent.

[2017-07-02 15:48] hkaiser opened #2735 "partitioned_vector_subview test failing"
This failure ("vector iterator + offset out of range") manifests itself only using VS in Debug mode because this enables iterator debugging. Here is the stack backtrace of the error:

[code]

@atrantan This is happening in code contributed by you. Would you mind having a look?

[2017-07-02 19:17] atrantan commented on #2735
@hkaiser Could you try with that branch https://github.com/atrantan/hpx/tree/fixing_2735 ?

[2017-07-02 20:15] hkaiser commented on #2735
@atrantan: With this branch the test in question does not compile for me:
[code]

[2017-07-02 21:21] atrantan commented on #2735
@hkaiser My bad. Should be fine now.

[2017-07-02 21:54] hkaiser commented on #2735
@atrantan: this compiles now, thanks. However it still fails at runtime (but at a different spot):
[code]

[2017-07-03 02:52] atrantan commented on #2735
@hkaiser And now?

[2017-07-03 13:50] hkaiser commented on #2735
@atrantan The test does not fail anymore. Thanks!

[2017-07-03 13:51] #2722 closed

[2017-07-03 14:26] DavidPfander-UniStuttgart commented on #2408
From my point of view at least:
- that a stackoverflow occured (and not a more general segfault)
- how to possibly resolve the issue, namely increasing the correct hpx parameter.

[2017-07-03 14:49] arturas-venskus-flf opened #2736 "1d_hydro example does't work"
Hello,

1d_hydro example throws an exception:
[code]
Best,
Arturas

[2017-07-03 14:52] hkaiser commented on #2697
I'm going to close this issue as it is caused by Boost and we have found a workaround. Please feel free to reopen, if needed.

[2017-07-03 14:52] #2697 closed

[2017-07-03 14:54] hkaiser commented on #2696
Can we close this now? This seems to be a cmake problem, not one on our end.

[2017-07-03 14:55] hkaiser commented on #2736
@zbyerly Would you mind having a look what's wrong with your example?

[2017-07-03 15:24] arturas-venskus-flf commented on #2736
HPX was built using default configuration with c++14 flag enabled.  Prior to failure it prints:
nt = 10
nx = 5
n_predict = 10
terminate message ...

call stack:
hpx::lcos::local::mutex::unlock mutex.cpp:95
std::lock_guard<hpx::lcos::local::mutex>::~lock_guard std_mutex:168
timestep_size 1d_hydro_upwind.cpp:243
hpx_main 1d_hydro_upwind.cpp:676

Do you need additional information?

Best,
Arturas

[2017-07-03 15:37] arturas-venskus-flf commented on #2736
program invoked in terminal: ./1d_hydro_upwind
No any parameters are specified explicitly or implicitly
PC has 8 cpu cores

[2017-07-03 15:41] zbyerly commented on #2736
yes, I will look.

-Zach Byerly

On Mon, Jul 3, 2017 at 10:37 AM, arturas-venskus-flf <
notifications@github.com> wrote:

[2017-07-03 16:01] zbyerly commented on #2736
can you try using
-Ihpx.stacks.use_guard_pages=0
?

[2017-07-03 16:20] DavidPfander-UniStuttgart commented on #2696
Feel free to close, I'm able to use dynamic builds again on all platform. But I can't rule out the problems described in the original post still exist as I don't know which cmake version I was using.

[2017-07-03 20:32] #2696 closed

[2017-07-03 23:13] taeguk commented on #2325
@hkaiser Can I get more informations about this issue?
I couldn't find the problem with looking the code.
Can you tell when the problem is happening? (ex, which parallel algorithms is executing when the segfault occurs?)

[2017-07-04 01:35] hkaiser commented on #2325
@sithhell: do you have any recollection of how to reproduce the original problem?

[2017-07-04 08:16] arturas-venskus-flf commented on #2736
"./1d_hydro -Ihpx.stacks.use_guard_pages=0" terminates with the same error stating that calling thread does not own the mutex

[2017-07-04 18:45] hkaiser commented on #2735
This was fixed by merging #2737

[2017-07-04 18:45] #2735 closed

[2017-07-04 21:17] ct-clmsn commented on #2408
@DavidPfander-UniStuttgart Thank you for the quick bit of information! I've put something together for the posix and the linux coroutine implementations. Will be submitting a PR for those platforms very soon.

[2017-07-04 22:34] #2729 closed

[2017-07-04 23:14] zbyerly commented on #2736
Arturas,
I've been able to reproduce the error. I will get to work fixing it.
If you'd like to communicate more directly, please email me. My email is my github username @gmail.com

[2017-07-05 00:28] hkaiser commented on #2408
@ct-clmsn: thanks a lot! May I ask to be _very_ careful to avoid any possible tainting of the repository with the GPL?

[2017-07-05 01:43] ct-clmsn commented on #2408
@hkaiser No a problem. The code is derived from the explanation provided on the rethinkdb site, some additional web resources, and posix/linux man pages.

[2017-07-05 02:00] ct-clmsn commented on #2408
@hkaiser the unit test currently catches the stackoverflow signal in a coroutine, prints an error message, and calls std::abort(EXIT_FAILURE). The unit test still dumps a "Segmentation fault (core dumped)". Hopefully that isn't a complete show-stopper. I suspect the CI system won't be particularly pleased.

[2017-07-06 15:05] hkaiser commented on #2702
@DavidPfander-UniStuttgart, @mattkretz : this is kind of unrelated to this repository. Would you mind moving this to the Vc repo instead?

[2017-07-06 15:05] #2702 closed

[2017-07-06 16:01] justwagle opened #2743 "Statistics counter does not support reseting"
The statistics counter does not support reseting the underlying counters while evaluating those at present, it would be nice to have this option.

[2017-07-07 08:40] DavidPfander-UniStuttgart opened #2746 "HPX segfaulting with valgrind"
I'm trying to debug an octotiger problem with valgrind. I compiled hpx with `-DHPX_WITH_VALGRIND=ON` (also tried it without). Unfortunately, the application immediately crashes as soon as I prefix my call with `valgrind`.

[code]

Output log:
[with_valgrind.txt](https://github.com/STEllAR-GROUP/hpx/files/1130440/with_valgrind.txt)

The application runs flawlessly without valgrind. AND: A few month

[2017-07-07 09:47] biddisco opened #2747 "Inherited task priorities break certain DAG optimizations"
Debugging problems in performance with our matrix code has revealed that the following check
https://github.com/STEllAR-GROUP/hpx/blob/d114fc3011c70fd2e70f146280ca943f86080b38/hpx/runtime/threads/detail/create_thread.hpp#L76-L77
essentially makes it impossible to create complex DAGs that spawn sub tasks from parent tasks, when only some of the child tasks are lower priority.
The effect of this che

[2017-07-07 10:53] arturas-venskus-flf opened #2748 "HPX fails to build with enabled hdf5 examples"
Hi,

HPX fails to build when flag -DHPX_WITH_EXAMPLES_HDF5=On is passed to cmake.
HDF5 library is present in system and reported by cmake as found.

Best,
Arturas

[2017-07-07 11:16] biddisco commented on #2747
In summary, I would like to see this page https://stellar-group.github.io/hpx/docs/html/hpx/threads/thread_priority.html look a bit more like this

This enumeration lists all possible thread-priorities for HPX threads.

```thread_priority_low```
Task goes onto a special low priority queue and will not be executed until all high/normal priority tasks are done, even if they are added after the low p

[2017-07-07 12:04] hkaiser commented on #2747
Where does `thread_priority_boost` fit into your new list of priorities? This priority gives a thread high priority on the first invocation, however it falls back to normal priority if suspended/resumed.

Would you agree to add the following:

`thread_priority_boost`
Same as `thread_high_priority` except that the thread will fall back to `thread_priority_normal` if suspended and resumed.

?

[2017-07-07 12:05] hkaiser commented on #2748
@arturas-venskus-flf: Would you mind posting your cmake output and build logs, please?

[2017-07-07 12:17] biddisco commented on #2747
Yes, sorry. I misunderstood the purpose of `thread_priority_boost` - that should certainly be included - I've updated the list above.

[2017-07-07 13:06] arturas-venskus-flf commented on #2748
Error occurred during linking stage. From CMakeError.log: /usr/bin/ld cannot find -lpthreads
System contains libpthread.so but not libpthreads.so. Maybe somewhere is misspelled library name as stated for example here [https://stackoverflow.com/questions/37967086/usr-bin-ld-cannot-find-lpthreads](url)

Sorry cannot post output and logs due to company's policy
Arturas

[2017-07-07 14:44] hkaiser commented on #2748
@arturas-venskus-flf: We do not add `-lthreads` to our build scripts anywhere. The only thing we do is to add `-pthread` to the compiler command line, if appropriate.

What version of cmake do you use. We've had issues with certain cmake versions before...

Also, what target failed to link for you?

[2017-07-07 15:28] arturas-venskus-flf commented on #2748
@hkaiser: CMake version is 3.5.1. Failures in CMakeError:

1) Determining if the pthread_create exist failed ... CheckSymbolsExists.c undefined reference to 'pthread_create'

2) Determining if the function pthread_create exist in the pthread failed ... CheckFunctionExists.c ... /usr/bin/ld cannot find -lpthreads

[2017-07-07 21:27] hkaiser commented on #2748
@arturas-venskus-flf from what I can see, this error message you're seeing is produced by one of the feature tests automatically generated by cmake. This should have no impact on building HPX at all as this test is invoked to figure out what library is exporting the pthread symbols on the current platform (some platforms have `libthread.so`, some `libthreads.so`).

Is this error in the cmake log t

[2017-07-07 22:32] #2743 closed

[2017-07-08 14:48] #2701 closed

[2017-07-08 23:26] arturas-venskus-flf commented on #2748
@hkaiser I was able to reproduce issue in my laptop. Please find error, log and cout dump files attached:
[CMakeError.txt](https://github.com/STEllAR-GROUP/hpx/files/1133375/CMakeError.txt)
[CMakeOutput.txt](https://github.com/STEllAR-GROUP/hpx/files/1133376/CMakeOutput.txt)
[install_hpx.txt](https://github.com/STEllAR-GROUP/hpx/files/1133384/install_hpx.txt)
In install_hpx.txt also other cmake er

[2017-07-08 23:59] hkaiser commented on #2748
@arturas-venskus-flf Thanks.

Could you please provide the following additional information:

- cmake version
- gcc version
- HPX version
- cmake command line

Also, from what I can see from those logs, the `-lpthreads` problem you listed above is a non-issue. Something else is wrong. I also think that this issue is unrelated to enabling the HDF5 examples.

[2017-07-09 00:00] hkaiser commented on #2748
Ok, I saw now, that you're using gcc 6.2.

[2017-07-09 07:43] arturas-venskus-flf commented on #2748
gcc 6.2
cmake 3.5.1 (with 3.8.2 the same issue)
HPX version 1.0.0
command: cmake -DCMAKE_CXX_FLAGS=-std=c++14 -DCMAKE_INSTALL_PREFIX=/opt/hpx_1.0.0  -DHWLOC_ROOT=/usr -DHPX_WITH_MALLOC=system -DHPX_WITH_EXAMPLES_HDF5=On /home/USER/Libs/hpx_1.0.0 | tee install_hpx.log

CMakeError.txt list problem related to lpthreads

I've succeeded to compile hpx core, tests, examples, examples with tbb, opengl. O

[2017-07-10 00:44] hkaiser commented on #2748
@arturas-venskus-flf Ok, thanks for this information. I think we can close this issue at this point as the HDF5 examples are massively broken in V1.0.0 anyways (I just fixed them here: #2749, if you really need them, the fixed examples should compile fine against V1.0.0 - although I have not tried it).

I'd suggest you don't use `-DHPX_WITH_EXAMPLES_HDF5` with this version of HPX.

Thanks for repo

[2017-07-10 00:44] #2748 closed

[2017-07-11 10:53] hkaiser commented on #2689
This is a duplicate of #2718

[2017-07-11 10:53] #2689 closed

[2017-07-11 18:09] #2699 closed

[2017-07-12 17:55] taeguk opened #2757 "In case of a "raw thread" is needed per core for implementing parallel algorithm, what is good practice in HPX?"
I'm implementing ```parallel::partition``` using F&A algorithms illustrated in the paper.(http://www.lsi.upc.edu/~lfrias/research/parpar/parpar.pdf)
Existed implementation of F&A algorithms : http://parallelstl.codeplex.com/SourceControl/latest#include/experimental/impl/partition.h

What I do for that algorithms is that creating a fixed number of threads and each thread gets the chunk from 'chuck

[2017-07-12 18:14] hkaiser commented on #2757
I'd suggest to simply use `async_execute(policy.executor(), ...) whenever you need to execute work on a chunk and not to worry about having an 'underlying' thread to explicitly schedule things on. HPX will do that for you.

[2017-07-13 23:34] #2747 closed

[2017-07-14 07:48] robstewart57 opened #2759 "infinite loop in `make install`: include/hpx/install/include/hpx/.."
Here is my cmake and gmake commands:

    cd ~/sw/
    git clone git@github.com:STEllAR-GROUP/hpx.git
    cd hpx
    mkdir hpx_build
    cd hpx_build
    cmake -DHPX_WITH_MALLOC=jemalloc -DHPX_WITH_PARCELPORT_MPI=On -DCMAKE_INSTALL_PREFIX=/home/rstewart/sw/hpx/hpx-install/ -DCMAKE_BUILD_TYPE=Debug -DJEMALLOC_LIBRARY=~/sw/jemalloc/jemalloc-build/lib/ -DJEMALLOC_INCLUDE_DIR=~/sw/jemalloc/jemalloc-bu

[2017-07-14 07:57] sithhell commented on #2759
Which CMake version are you using? Our testers do not reproduce that problem, my guess would be that our CMake scripts behave badly with some newer, or older CMake version. Is this with the current HEAD of master?

[2017-07-14 08:02] robstewart57 commented on #2759
3.4.0-rc1

Is that too old? Which cmake versions are compatible? I am using the current HEAD of master of hpx.

[2017-07-14 08:13] sithhell commented on #2759
Our CI system is currently using 3.8.1. I'll try to reproduce the issue with 3.4.

[2017-07-14 13:05] robstewart57 commented on #2759
@hkaiser @sithhell are you able to reproduce the issue with cmake 3.4 ?

[2017-07-15 01:36] hkaiser commented on #2736
@arturas-venskus-flf Sorry it took me so long to respond to this, too many things are going on, currently. I can 100% reproduce the issue you reported but I'm not sure yet what's causing this. I'm certain that this is caused by a problem in the example itself, though. I'm inclined to remove the example as a possible resolution as it is most likely broken and does not demonstrate any facilities or

[2017-07-15 02:17] hkaiser commented on #2759
Rob, could you please try to delete the build directory and start over? Do you see this problem in this case as well?

[2017-07-17 09:43] arturas-venskus-flf commented on #2736
@hkaiser Yes, this example is particularly interesting for my company because our main simulation tool does hydro simulations and we are evaluating hpx as a way to do distributed computations.  So easiest and fastest way is just use provided hydro example and play with it. But we can continue without this example.

As a side note I would like to see much more similar examples that demonstrate how

[2017-07-17 11:31] hkaiser commented on #2736
@arturas-venskus-flf understood. I still would like to remove this example as it is very old (and broken).

For better examples demonstrating how to orchestrate distributed parallelism with HPX I'd suggest you look at the [1d_stencil series of examples](https://github.com/STEllAR-GROUP/hpx/tree/master/examples/1d_stencil) or the 2d stencil examples accompanying the [tutorial](https://github.com/ST

[2017-07-18 00:48] ct-clmsn commented on #620
@hkaiser @sithhell was there anything in particular that's held up the PR?

[2017-07-18 01:16] hkaiser commented on #620
@ct-clmsn We have started to implement this, iirc. But I don't really remember why it didn't go anywhere. I think the reason was that using split-stacks requires to recompile the world - but I may be wrong.

[2017-07-18 10:03] manzali opened #2766 "Compilation fails with parcelport based on libfabric or verbs"
I tried to compile HPX with the support for libfabric and verbs libraries. I checked out the master branch and the compilation fails in both the cases (verbs and libfabric):

1) with -DHPX_WITH_PARCELPORT_VERBS=ON :

/hpx/hpx/plugins/parcelport/verbs/rdma/rdma_controller.cpp:10:51: fatal error: hpx/config/parcelport_verbs_defines.hpp: No such file or directory
 #include <hpx/config/parcelport_verb

[2017-07-18 12:13] hkaiser commented on #2766
@manzali: @sithhell promised to look into this over the next couple of days.

[2017-07-19 10:09] taeguk opened #2768 "Is there iterator tag for HPX?"
There are several HPX traits for checking iterator tag. (https://github.com/STEllAR-GROUP/hpx/blob/607dd9e5c6e0b3815236f95bf81fa76949f40b71/hpx/traits/is_iterator.hpp#L107-L160)

They check not only iterator tag but also iterator traversal.
If I want to overload several functions though iterator tag, maybe I will do like below:
[code]
But, this way is incorrect because iterator traversal is not co

[2017-07-19 12:14] hkaiser commented on #2768
@taeguk: I don't think you need to take the boost iterator traversal categories into account into any way. Our iterator traits support them in order for the Boost iterators to work properly, especially those from older Boost versions. In short, we can assume that our implementation has to deal with the standard iterator categories only.

[2017-07-19 16:17] hkaiser commented on #2728
Can we close this now?

[2017-07-19 16:17] hkaiser commented on #2757
Can we close this now?

[2017-07-19 16:17] hkaiser commented on #2768
Can we close this now?

[2017-07-19 17:15] #2728 closed

[2017-07-19 17:15] #2757 closed

[2017-07-19 17:17] #2768 closed

[2017-07-19 22:55] #2736 closed

[2017-07-21 19:08] hkaiser commented on #2678
@taeguk: what should we do with this ticket? Can we close this? Do you plan to work on this?

[2017-07-21 23:20] taeguk commented on #2678
@hkaiser I think that efficiency of exceptional code is not such important at now. So, I close this issue for now without fixing.

[2017-07-21 23:20] #2678 closed

[2017-07-26 12:00] DavidPfander-UniStuttgart commented on #2746
Would be nice if someone could have a look at this. This is still a blocking issue for me.

And as I mentioned, this functionality was working (for me) a few months ago...

[2017-07-26 14:24] aserio commented on #2746
@khuck , Were you looking into this?

[2017-07-27 17:29] diehlpk opened #2785 "Issues with masks and cpuset"
Using the latest version of  stellargroup/hpx:dev on circle-ci yields

[code]

With the latest version of master on my local machine all tests are running

[2017-07-27 19:41] diehlpk commented on #726
Support for valgrind
I had a look and most of the errors are related to boost and they mention on their website that this is a known issue and you need compile boost with valgrind=on option.

[2017-07-27 22:24] hkaiser commented on #2785
This looks like some oddity in the platform the tests are running on.

[2017-07-28 12:18] #1400 closed

[2017-07-28 12:18] #1404 closed

[2017-07-28 12:18] #2456 closed

[2017-08-01 20:46] diehlpk commented on #2565
Issue is resolved and can be closed

[2017-08-01 20:55] hkaiser commented on #2565
This was fixed by merging #2786

[2017-08-01 20:55] #2565 closed

[2017-08-01 21:44] hkaiser commented on #2785
@diehlpk what OS is used to run those tests?

[2017-08-02 04:15] krivenko opened #2795 "Serialization of types without default constructor"
Dear HPX developers,

Are there any plans to support serialization of `std::vector<T>` (and similar STL containers), where `T` has no default constructor? This feature exists in `boost::serialization` but not in `hpx::serialization`, as far as I can see.

Thanks in advance,
Igor

[2017-08-02 05:00] AntonBikineev commented on #2795
Hi Igor,

Indeed it doesn’t exist, yet it should be trivial to implement. Will do this this week.

Thanks!

[2017-08-02 13:42] KADichev opened #2796 "wait_for does always in "deferred" state for calls on remote localities"
wait_for does not work as expected for calls on remote localities. Even after the remote call successfully completes, wait_for returns "deferred". The bug can be reproduced with many examples, e.g. this one:
[code]

[2017-08-02 13:48] hkaiser commented on #2796
@KADichev thanks for reporting this, we'll have a look asap.

[2017-08-03 17:13] #2796 closed

[2017-08-04 21:27] aserio opened #2800 "New Launch Policy: async_if"
I am noting this here so we don't forget to do this at some point

Currently dataflow will launch on the same thread as it is invoked with if all of the arguments it is supplied with are ready. If some of the arguments are not ready the dataflow is invoked with the continuation of the thread of the last future which is now made ready. If the user uses `hpx::launch::async` the dataflow will be laun

[2017-08-04 21:34] hkaiser commented on #2800
`async_if` could take a predicate function which returns `true` if the continuation should be launched asynchronously:

     auto this_id = this_thread::get_id();
     dataflow(
        launch::async_if([&]() { return this_thread::get_id() == this_id; }),
        [](...) {},
        ...);

where the predicate is invoked in the context of the thread about to run the continuation.

[2017-08-05 13:28] ct-clmsn opened #2801 "Rate limiting techniques in io_service"
The libfabric parcelport uses a strict control mechanism to manage thread suspension when the maximum amount of sends have been achieved through the compile-time variable(s) HPX_PARCELPORT_LIBFABRIC_THROTTLE_*. Would a token bucket rate limiting regime managing the number of sends (and thread suspension) provide performance improvements? Specifically in uses cases where input parameters could be p

[2017-08-07 15:56] taeguk opened #2803 "An user should be able to control block size in parallel::partition."
https://github.com/STEllAR-GROUP/hpx/blob/514c5e398bdae56c891fa8aeecd0236bfa3f4bbc/hpx/parallel/algorithms/partition.hpp#L847
In current, block size is just fixed number. But, an user should be able to control block size in parallel::partition.
Some discussions about this issue are in https://github.com/STEllAR-GROUP/hpx/pull/2778.

[2017-08-07 19:56] taeguk opened #2804 "The in-place parallel algorithms are hard to implement efficiently."
I'm working in parallel algorithms of HPX. Through this issue, I want to get some advices and form a consensus about implementations of in-place parallel algorithms.
There are some in-place parallel algorithms that are not implemented, still. (I exclude sorting algorithms from the list because they seem to be able to implement efficiently using parallel partition.)
 - ```unique```
 - ```remove```,

[2017-08-07 19:58] taeguk commented on #2804
@biddisco @hkaiser Excuse me, could you give me your thoughts about this issue?

[2017-08-07 21:46] biddisco commented on #2804
I've only thought about remove and remove_if and my understanding might be flawed  ... correct me if I'm wrong

you can perform a parallel scan with the predicate - this gives you the number of elements in each  partition that are going to remain - the problem is that if the Nth partition starts copying data into a slot <N  and would overwrite data that needs to be moved lower - before it has been

[2017-08-07 22:24] biddisco commented on #2801
The HPX_PARCELPORT_LIBFABRIC_THROTTLE is intended to limit the number of sends that are 'in existence' at a given moment. Consider the following
[code]
and yes, I just held my finger down on the zero key to make a silly number.

As it stands, hpx will try to honour this code snippet and use all the memory in the machine, creating futures and putting args into send parcel buffers etc.

The idea beh

[2017-08-07 22:50] ct-clmsn commented on #2801
@biddisco I probably should have held off on submitting this ticket until having a better understanding of the overall implementation. Thank you for the clarification!

I'm in the midst of sorting out how all of the pieces in the parcelport implementation work together - will provide more feedback soon. For what it's worth, given my current understanding of the implementation, it makes sense.

At

[2017-08-08 00:36] hkaiser commented on #2804
It's always a compromise between memory consumption and performance. Would it be sensible to have both versions (using external memory but faster and not using external memory but slower) and let the user decide (through an execution parameter)?

There is probably also a sweet-spot hidden in there which we could find by doing some measurements.

[2017-08-08 12:42] ericLemanissier commented on #1802
Could it be linked to https://sourceforge.net/p/mingw-w64/bugs/527/# ?

[2017-08-08 12:55] hkaiser commented on #1802
This could be related to #866

[2017-08-08 13:58] ct-clmsn commented on #2801
@biddisco io_service_pool::get_io_service currently uses a round robin assignment technique to choose io_services. A the moment, a token bucket scheduler would provide a

[2017-08-08 14:32] hkaiser commented on #2801
@ct-clmsn is the way we use the io_service for the iostreams limiting in any way? I know the round robin algorithm used is trivial, perhaps even too simple, we have however not seen any bottlenecks on this end of the story yet.

[2017-08-08 15:01] ct-clmsn commented on #2801
@hkaiser after finding parcelport's commentary about throttling the creation of senders and receivers and some tickets referencing MPI's performance it seemed like an opportunity to propose an alternative technique that would provide tuning options and ask questions about the implementation. thank you both for the clarifications. i'll close out the ticket.

[2017-08-08 15:01] #2801 closed

[2017-08-08 18:40] krivenko commented on #2795
Thank you very much for adding this feature!
I've been trying to verify #2805, and there is something I don't quite understand.
What is the actual serialization protocol, or in other words, what should be done in `serialize()` and what in `save_construct_data()/load_construct_data()`?

To illustrate my problem I took `tests/unit/serialization/serialization_list.cpp` and added one more test functio

[2017-08-08 21:44] bremerm31 opened #2807 "Difficulty building with `HPX_WITH_HWLOC=Off`"
I was trying to build HPX with `HPX_WITH_HWLOC=Off`

However, I get the following [make error](https://gist.github.com/bremerm31/f673068d51e088a24539526920a19de2)

zao in the IRC channel recommended just building with hwloc, which I will do. However, it might be nice to either deprecate the flag (if hwloc is truly a required dependency) or fix the include.

[2017-08-08 22:39] hkaiser commented on #2807
Will fix asap

[2017-08-09 07:33] biddisco commented on #2801
Having read through the wikipedia article, I'd say that the answer is "no, not really". the token bucket simply provides a bucket from which we take a token when we want to send and when the bucket is empty, we have to wait. What we've implemented is actually, the opposite - we have a bucket that is empty, each time a send goes out, we put a token in the bucket and when it is full we wait. Once se

[2017-08-09 21:51] #2807 closed

[2017-08-10 01:40] G-071 opened #2812 "Compilation fails with gcc 7.1.1"
I tried to compile HPX using the current gcc from the arch linux repository (GNU 7.1.1). However, this caused a compilation error (see attached make log) which is not present when using the older gcc 6.3.1.

For compilation I used the following commands in the build directory:
cmake -DCMAKE_INSTALL_PREFIX=.  ../
make -j5
The output of cmake and make:
[make-log-gcc71.txt](https://github.com/STEllAR

[2017-08-10 09:34] hkaiser commented on #2812
Does it work if you force C++14 mode: `cmake -DHPX_WITH_CXX14=ON ...` ? I believe this is a known problem in Boost, not sure if this is fixed there yet.

[2017-08-10 15:32] G-071 commented on #2812
Yes. With this flag I can compile HPX with gcc 7.1.1 without further problems.

[2017-08-10 16:12] #2812 closed

[2017-08-10 21:38] AntonBikineev commented on #2795
Igor,

In the provided patch save_construct_data and load_construct_data functions are only called when doing container serialization. There are a couple of reasons why I decided to stick to this design:
1) containers are responsible for allocating the storage of their value types and constructing them,
2) to be honest I think that these function-hooks already make serialization interface overcomp

[2017-08-11 09:16] #2718 closed

[2017-08-11 13:04] Rodario opened #2814 "Using 'gmakeN' after 'cmake' produces error in src/CMakeFiles/hpx.dir/runtime/agas/addressing_service.cpp.o"
Hello, currently I cant get beyond gmake -j3 in the steps to setting up hpx.

My setup:
* OS: Fedora 26
* Compiler: gcc 7.1.1
* Boost library: 1.61.0
* Using TCMalloc

I followed the steps of your fedora [receipe](https://github.com/STEllAR-GROUP/hpx/blob/master/docs/manual/build_system/recipe_fedora.qbk) to get all the required librarys.

After that I used the steps:
* "cmake .." in build folder

[2017-08-11 14:02] Element-126 opened #2815 "HPX fails to compile with HPX_WITH_CUDA=ON and the new CUDA 9.0 RC."
Hi,

I was trying to compile HPX with the brand new CUDA 9.0 release candidate, in order to take advantage of the C++14 support in NVCC.

The HPX version used corresponds to commit `0b269d1ff6b4e2550839086c50edb10806ab3121`.

I configured HPX with the following CMake command:

    cmake -D CMAKE_INSTALL_PREFIX=/home/jtastet/.local/stow/hpx_cuda-9.0 \
          -D HPX_WITH_MALLOC=jemalloc \

[2017-08-11 15:57] taeguk opened #2816 "The std::bad_alloc is not handled correctly in parallel::sort."
The ```std::bad_alloc``` seems be not handled correctly in parallel::sort.

https://github.com/STEllAR-GROUP/hpx/blob/130deb29bd90bc263a8cb17713d7027818fd5ce1/hpx/parallel/algorithms/sort.hpp#L153-L169

As I know, ```std::bad_alloc``` should be thrown itself. But, by above codes, ```std::bad_alloc``` is wrapped into ```exception_list```.

As I think, using ```util::detail::handle_local_exception``

[2017-08-11 16:10] hkaiser commented on #2814
@Rodario: this is a known problem in Boost caused by the fact that it was released before the compiler you're using (gcc 7). Please configure HPX with `cmake -DHPX_WITH_CXX14=ON ...` to work around the issue.

[2017-08-11 16:10] taeguk opened #2817 "Nested exception_list in parallel algorithm."
Is nested ```exception_list``` admitted in parallel algorithm?

https://github.com/STEllAR-GROUP/hpx/blob/130deb29bd90bc263a8cb17713d7027818fd5ce1/hpx/parallel/algorithms/sort.hpp#L153-L169

For example, in case of ```parallel::sort```, there is nested ```exception_list```.
Because of recursive implementation of the algorithm, ```exception_list```s are inside of an ```exception_list``` and this st

[2017-08-11 16:12] hkaiser commented on #2815
@Element-126: Thanks for reporting this issue. Would you be able to provide a possible fix for this?

[2017-08-11 16:14] hkaiser commented on #2817
This shouldn't be an issue. Our `exception_list` was designed to support that. Could you try to construct a test which verifies this?

[2017-08-11 16:45] Element-126 commented on #2815
Ok. The situation is clearer now.

I have grepped the entire code base, including all the dependencies of HPX, and the `__CUDACC_VER__` macro is used several times by Boost for conditional compilation depending of the version of the CUDA Toolkit:

    [jtastet@felk40 software]$ grep -inr __CUDACC_VER__ .
    ./boost/boost_1_64_0/libs/config/test/config_info.cpp:339:  PRINT_MACRO(__CUDACC_VER__);