[2017-08-11 17:17] hkaiser commented on #2815
As a stop-gap measure we could `-D__CUDACC_VER__=...` on the compiler command line ourselves. That should take care of this problem.

[2017-08-11 17:25] #2815 closed

[2017-08-11 17:35] krivenko commented on #2795
Thanks a lot for the fix and the explanation!

Okay, I guess it indeed makes no sense to overcomplicate things and to go beyond what Boost does.

I'll then adjust my code to construct some dummy objects in `save_construct_data/load_construct_data` and to do the actual serialization in `serialize()`. This would still be much better than adding default constructors everywhere.

[2017-08-11 17:35] #2795 closed

[2017-08-11 17:41] hkaiser commented on #2795
@krivenko I take it that you're fine with merging #2805 now. Is that assumption correct?

[2017-08-11 17:43] krivenko commented on #2795
@hkaiser Yes, go ahead!

[2017-08-11 19:20] taeguk opened #2818 "A strange thing in parallel::util::detail::handle_local_exceptions."
https://github.com/STEllAR-GROUP/hpx/blob/76f7c3bc8eac51d73be7de4146b729335ce03c3f/hpx/parallel/util/detail/handle_local_exceptions.hpp#L29-L40

Does 'Line 38' make sense?
That function seems to just rethrow ```exception_ptr```.
As I think, 'Line 38' should be changed to
[code]

[2017-08-11 19:44] taeguk commented on #2817
@hkaiser I mean that currently nested ```exception_list``` seems to be not useful.
For example, when I call ```exception_list::get_message()```, it seems to 'just' iterate to exceptions that the exception_list has.
I think that traversal to nested exception_list is correct.
In fact, I don't know exactly what is right.
Is there no mention about this in p0322r0?

[2017-08-11 20:03] hkaiser commented on #2817
What else would you like to see?

They ditched exception handling altogether. Any exception thrown will cause `std::terminate` to be called (for the `std` execution policies, other execution policies are free to do whatever they want).

[2017-08-11 20:05] hkaiser commented on #2818
@taeguk please construct a test which exposes the problem you believe we have.

[2017-08-11 20:08] hkaiser commented on #2816
@taeguk: please construct a test exposing the issue. We'll take it from there.

[2017-08-11 23:48] taeguk commented on #2816
@hkaiser Below, Can this be an evidence for this issue?
https://github.com/taeguk/hpx/commit/b846ca777544338ce30639386d8e166c6aa93cb4

[2017-08-12 00:15] taeguk commented on #2817
@hkaiser
![image](https://user-images.githubusercontent.com/9107889/29235697-2ac282c8-7f3c-11e7-8472-be2c8cc8c568.png)
Like above, utilizing nested exception_list is difficult because of its tree structure.
So, I think avoiding nested exception_list may be better.
And currently, ```exception_list::get_message()``` can't process nested exception_list exactly because ```exception_list::get_message()

[2017-08-12 00:19] hkaiser commented on #2816
@taeguk, looks good, could you separate this into a separate test [here](https://github.com/STEllAR-GROUP/hpx/tree/master/tests/regressions/parallel), please?

[2017-08-12 00:22] hkaiser commented on #2817
For now I'd like to keep it as we have it as calling `std::terminate` just because of an exception being thrown is not an option, in my opinion.

[2017-08-12 00:25] hkaiser commented on #2817
That's correct. The user however can easily iterate over the tree using the public interface.

[2017-08-12 00:33] taeguk commented on #2818
@hkaiser This is not bug which can be tested. This is the problem about intention of that function. And I want to just question about it.
I want to know what is the meaning of that function.
Is it intended that function just rethrows ```std::exception_ptr```?

https://github.com/STEllAR-GROUP/hpx/blob/76f7c3bc8eac51d73be7de4146b729335ce03c3f/hpx/parallel/util/detail/handle_local_exceptions.hpp#L56

[2017-08-12 00:43] hkaiser commented on #2818
@taeguk you're right, this is a nice catch. I agree this has to be changed as you suggest. But a test would be nice anyways, mostly to ensure that those functions throw an `exception_list` under any circumstances.

[2017-08-12 00:47] taeguk commented on #2816
@hkaiser As I think, adding my test code to there is strange because it is the code which has a bug on purpose. My test code will always fails. But normally, test is for not failing but success. So, inserting failed code to test folder can be confusing. The person who sees the test can misthink the test code doesn't have a bug.

[2017-08-12 00:50] hkaiser commented on #2816
@taeguk I really believe that having a test verifying that we have fixed the issue is needed. It will just force us to come up with a fix if we add it now and it fails. For each (significant) fix we usually add a corresponding test which makes sure that the problem is gone and stays gone.

[2017-08-12 00:53] taeguk commented on #2818
@hkaiser I want to change 'Line 38' to what I said.

[2017-08-12 00:55] taeguk commented on #2816
@hkaiser Yes, you're right. But the problem is that test code will always fail without modification of test code itself.

[2017-08-12 14:04] KADichev opened #2822 "Yet another issue with wait_for similar to #2796"
I'm experiencing similar issues to the ones from #2796 . The fix #2797 resolved #2796, but the below example using BROADCAST_ACTION shows the same problem -- wait_for does not set the future state to "ready", even though it is ready:

[2017-08-12 14:05] KADichev commented on #2822
`#include <hpx/hpx_init.hpp>
#include <hpx/include/lcos.hpp>
#include <hpx/lcos/broadcast.hpp>
#include <hpx/util/lightweight_test.hpp>

#include
#include
#include

#include <signal.h>

const std::size_t N = 1024;
std::vector buffer(N);
using std::chrono::milliseconds;

void vector_bcast(std::vector bcast)
{
buffer = bcast;
}

HPX_PLAIN_ACTION(vector_bcast);

HPX_REGISTER_BROADCAST_ACTION_DECLARAT

[2017-08-12 16:48] KADichev commented on #2822
A side comment here: I am not entirely sure if the future state being "ready" at the root process (once this issue is resolved) means that the root has completed the broadcast, or that all localities have completed the broadcast?

[2017-08-12 18:27] hkaiser commented on #2822
The returned future becomes ready whenever all localities have finished responding.

[2017-08-12 21:12] gentryx opened #2825 "unwrap_impl.hpp breaks compilation with NVCC (CUDA 8.0, CUDA 9.0 RC)"
Hey, I'm trying to compile LibGeoDecomp with CUDA and HPX support enabled. The lately merged unwrap code is confusing nvcc in a rather interesting way: an internal compiler error. My suspicion is that the nested decltype is the trigger:

[code]
(At least this specific bug goes away if I hardwire the invoke_wrapped_decorate_select to one specific specialization, but that's clearly not what we want

[2017-08-12 22:01] Naios commented on #2825
@gentryx Could you try out please, whether the following patch fixes your issue?
I delayed the selection of the implementation to the class instantiation using SFINAE which removes the nested `decltype`.
Another option would be to wrap the inner decltype in an `using` statement, which usually works for that type of compiler bugs (common for MSVC).

[code]

[2017-08-12 22:43] taeguk opened #2826 "Support forward and bidirectional iterators in parallel::merge."
I'm implementing parallel::merge. And parallel::merge for random access iterator was already implemented.
But, the problem is supporting forward and bidirectional iterator.
It is very hard to support forward and bidirectional iterator.

I tried to support those, and I implemented in two ways.
First one is utilizing ```random access```'s thing with generic iterator function like ```std::next``` and

[2017-08-12 22:43] taeguk commented on #2826
@biddisco @hkaiser Excuse me, could you give me your thoughts about this issue?

[2017-08-12 22:52] taeguk commented on #2826
And where can I see the requirements of iterator tag in the standard?
Every documents don't refer the requirements of iterator tag of parallel algorithms except only cppreference.com (http://en.cppreference.com/w/cpp/algorithm/merge).

[2017-08-12 22:52] hkaiser commented on #2826
@taeguk: a couple of thoughts:

- using `std::next` and `std::distance` with random access iterators shouldn't be slow as in this case those functions turn into simple arithmetic (pointer) operations.
- calling merge with anything but random access iterators will be slow by definition as any operation on iterators will result in a sequential loop
- the only thing I could think of would be to imple

[2017-08-12 22:54] hkaiser commented on #2826
If not otherwise stated all algorithms taking an execution policy should work for at least forward iterators. The committee explicitly ditched support for input iterators for those overloads. In the end cppreference is a perfect source of information for this.

[2017-08-12 22:57] hkaiser commented on #2826
Let me rephrase this: all algorithms taking an execution policy should work for at least forward iterators except if there are stronger iterator requirements defined for the corresponding sequential algorithm (the one not taking an execution policy). In this case the stronger requirements apply.

[2017-08-12 23:02] taeguk commented on #2826
@hkaiser I already implemented one for non-random access iterators based on the double dereferencing technique. But, the performance is so terrible. Preparation for utilizing the way using double dereferencing takes very very much time... (https://github.com/taeguk/hpx/blob/tg_merge_all_iter_support_ver2/hpx/parallel/algorithms/merge.hpp#L347-L358)
I had a try to parallelize the preparation progre

[2017-08-13 10:41] Naios commented on #2825
Seems like the actual failing instantiation is:

[code]

What you could try is to disable the report limit for instantiation which gives you better error reporting: `-DCMAKE_CXX_FLAGS="-ftemplate-backtrace-limit=0"`.

Also to get a proper log of the failing instantiation (without SFINAE propagation) we could try to disable some `auto ... -> decltype(...)` C++11 auto return types:

[code]

[2017-08-13 11:40] hkaiser commented on #2601
I think this has been fixed by merging #2602. Please reopen if appropriate.

[2017-08-13 11:40] #2601 closed

[2017-08-13 14:08] Dekken opened #2827 "failure to compile hello_world example with -Werror"
compiler: gcc 7.1.0
system: debian 9 (stretch)
kernel: 4.11

[link](https://gist.github.com/Dekken/04b3a8aba30dc339e8b66fd69898b60b)

no worries if it's to be ignored etc.

[2017-08-13 15:17] hkaiser commented on #2827
Please configure HPX with `cmake -DHPX_WITH_CXX14=ON ...`. This is a known issue in Boost caused by it being released before gcc 7.

[2017-08-13 15:19] hkaiser commented on #2827
We will fix the warnings as much as we can, but we have no way of fixing the warning in Boost. Thanks for reporting!

[2017-08-13 15:34] hkaiser commented on #2827
The aliasing (type punning) warning has been acknowledged to be a gcc bug (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80593) and will be fixed in gcc 7.2.

[2017-08-13 15:49] Dekken commented on #2827
yeah it was more the punning one,  cheers HK

[2017-08-13 15:49] #2827 closed

[2017-08-13 18:46] taeguk commented on #2325
One suspicion:
https://github.com/STEllAR-GROUP/hpx/blob/ed3066225e72c9f751bc9ea9e85939e23759e0ff/hpx/parallel/util/scan_partitioner.hpp#L107-L121
Is there no possibility about dangling reference to ```prev``` and ```curr```?
If ```prev``` or ```curr``` is passed by reference to ```f2``` or ```f3```, dangling reference problem can be occurred as I think.

[2017-08-13 22:30] hkaiser commented on #2814
@Rodario do you still have problems? Can we close this now?

[2017-08-14 05:09] n-mam commented on #1589
@biddisco Very recently we faced the exact same crash. Although the circumstances might not be the same here but just wanted to highlight that the problem for us was with the ordering of one of the class member of type boost::asio::ip::tcp::socket before the member of type boost::asio::io_service.

With this setup the dtor of the socket gets called before the dtor for io_service. The critical sect

[2017-08-14 09:17] Element-126 opened #2831 "`parallel/executors/execution_fwd.hpp` causes compilation failure in C++11 mode."
cmake -D CMAKE_INSTALL_PREFIX=/home/jtastet/.local/stow/hpx-c++11_gcc-5.3 \
          -D HPX_WITH_MALLOC=jemalloc \
          -D HPX_WITH_PARCELPORT_MPI=ON \
          -D HPX_WITH_CXX11=ON \
          -D HPX_WITH_CXX14=OFF \
          -D HPX_WITH_CXX0Y=OFF ..

Revision: `2b2d3a0321b30b143c2483be316ca2ba5630e8f5`
Compiler: g++ 5.3.0
See the CMake output for the detailed version info of the dependen

[2017-08-14 09:52] taeguk commented on #2831
@Element-126 This was fixed in #2821 .
That PR will be merged soon.

[2017-08-14 10:14] Element-126 commented on #2831
Oh, I missed it when looking at the current issues ! Sorry for the spam then. I'm closing the issue.

[2017-08-14 10:14] #2831 closed

[2017-08-14 10:42] Element-126 commented on #2815
Just for the record, ticket [`#13152`](https://svn.boost.org/trac10/ticket/13152) has been opened in the Boost bug tracker.

They consider it a CUDA issue, since the `__CUDACC_VER__` macro was removed without being properly deprecated first.

[2017-08-14 12:55] hkaiser commented on #1589
@n-mam Ohh, perfect! I was hunting this issue for a while but couldn't find it. Would you be able to create a PR fixing this issue?

[2017-08-14 13:46] biddisco commented on #1589
@n-mam Good work. Very nice to see people chipping in with catches like that one.

[2017-08-14 15:05] gentryx commented on #2825
@Naios I've applied the second patch and the resulting error message is this:

[code]

[2017-08-14 15:06] gentryx commented on #2825
I added a couple of decltype() to make this compile in C++11-mode.

Does this error message help you debugging the problem? Can I provide anything else?

[2017-08-14 17:12] n-mam commented on #1589
@hkaiser @biddisco , I think I should have been more specific earlier. The crash which I fixed was with our code. Nothing to do with this project or library. Prior to the fix, we had one boost::asio::ip::tcp::socket member declared before a boost::asio::io_service member in a simple class(say xyz). Because of this, the dtor of io_service was called first which destroyed the critical section object

[2017-08-14 19:25] Naios commented on #2825
@gentryx Currently I'm busy with my GSoC project. Would you mind to take a look on this?
Probably nvcc has reached its capabilities here regarding the evaluation of nested expressions.

I spoke with @hkaiser about this and maybe we just wait for the next major version of nvcc which will be released soon.

[2017-08-14 22:57] taeguk commented on #2826
@hkaiser Anyway, I think that it it hard to implement parallel merge for forward and bidirectional iterator faster than sequential thing. So, for now, I want to submit PR including what I did until now.

If we determine to just leave this issue for now, we have to determine the policy for handling forward and bidirectional iterators. There are two candidates.
First policy is just restricting itera

[2017-08-14 23:02] taeguk commented on #2818
@hkaiser Do you agree that I change that?
With changing, handling exception for parallel algorithms can be abstracted as a function than explicitly coded. (https://github.com/taeguk/hpx/blob/f2d9cf60f692b50e81a69e78a93c54d0596a3294/hpx/parallel/algorithms/merge.hpp#L296-L304)

[2017-08-14 23:19] hkaiser commented on #2818
@taeguk, yes, please go ahead.

[2017-08-15 01:53] Rodario commented on #2814
Jep, the compiler version was the problem, thanks for the quick help!

[2017-08-15 08:46] Dekken commented on #2827
will give it a go so now that 7.2 is out

https://gcc.gnu.org/ml/gcc/2017-08/msg00129.html

[2017-08-15 09:11] taeguk commented on #2826
For now, I restricted the requirements of parallel::merge to only random access iterator. (In other words, I selected first policy which I said above.

[2017-08-15 09:30] taeguk opened #2834 "One suspicion in parallel::detail::handle_exception."
I have one doubt about parallel::detail::handle_exception.
https://github.com/STEllAR-GROUP/hpx/blob/76f7c3bc8eac51d73be7de4146b729335ce03c3f/hpx/parallel/exception_list.hpp#L26-L74
Above, the first ```handle_exception_impl<>::call()``` in Line 31 just throws exception. But, the second and third one return an exceptional future. As I think, this is strange. It seems inconsistent.

I think that the

[2017-08-15 09:57] Dekken commented on #2827
Indeed the type punned alerts are gone, only thing left other than boost issues is

[code]

[2017-08-15 10:41] Element-126 opened #2835 "`constexpr` functions with `void` return type break compilation with CUDA 8.0."
Hi, I'm your new build bot ;-)

    cmake -D CMAKE_INSTALL_PREFIX=/home/jtastet/.local/stow/hpx_cuda-8.0 \
          -D HPX_WITH_MALLOC=jemalloc \
          -D HPX_WITH_PARCELPORT_MPI=ON \
          -D HPX_WITH_CXX14=OFF \
          -D HPX_WITH_CUDA=ON \
          -D HPX_WITH_CUDA_ARCH=sm_61 \
          ..

    -- The CXX compiler identification is GNU 5.3.0
    -- The C compiler identification is

[2017-08-15 13:07] #2814 closed

[2017-08-15 13:11] hkaiser commented on #2835
@AntonBikineev could you change the `void` functions to not be `constexpr`, please?

[2017-08-15 13:12] hkaiser commented on #2835
@Element-126 The test failures have already been reported here #2825. We have no solution to this yet, sorry. The issues are caused by NVCC being a fairly brain-dead compiler...

[2017-08-15 13:15] hkaiser commented on #2827
@Dekken that's fixed on master: https://github.com/STEllAR-GROUP/hpx/commit/ed3066225e72c9f751bc9ea9e85939e23759e0ff

Thanks!

[2017-08-15 13:23] hkaiser commented on #2834
This looks suspicious, yes. I will try to investigate in more detail over the next days as I have no immediate answer to why we have it this way. Since all tests pass I'd suspect that

- we either don't test all possible exceptional cases and the code is incorrect,
- the code in question above is never called,
- or simply the above code is correct

[2017-08-15 13:24] hkaiser commented on #2826
Ok. Please create a ticket reminding us that we need to get back to this.

[2017-08-15 13:28] #2800 closed

[2017-08-15 17:57] taeguk commented on #2826
@hkaiser Should I create new issue? I think that this issue is the ticket itself.

[2017-08-16 06:14] taeguk opened #2836 "The worst-case time complexity of parallel::sort seems to be O(N^2)."
Currently, the worst-case time complexity of parallel::sort seems to be O(N^2).

https://github.com/STEllAR-GROUP/hpx/blob/d55dc1b220b6ba78a715a38779180f995b632ae2/hpx/parallel/algorithms/sort.hpp#L80-L89
https://github.com/STEllAR-GROUP/hpx/blob/d55dc1b220b6ba78a715a38779180f995b632ae2/hpx/parallel/algorithms/sort.hpp#L95-L97
Surely, due to the two code blocks above, the possibility is very rare.

[2017-08-16 06:16] taeguk commented on #2836
@biddisco @hkaiser Because at first this algorithm was developed by you, I want to hear your thoughts.

[2017-08-16 10:41] JLTastet opened #2837 "Unresolved extern variables and Segmentation fault with CUDA Clang++"
Given the current build issues with NVCC 8.0 & 9.0, I decided to try my luck and use Clang++ to compile both host and device code.

I configured HPX with the following parameters:
[code]

Both HPX and all of its dependencies were compiled using Clang trunk (6.0.0, rev. `310909`).

HPX compiled fine, except for the following warnings related to `ptxas`:

[code]
For reference, the full build log is

[2017-08-16 12:06] hkaiser commented on #2836
@taeguk thhe algorithm was developed by Francisco (@fjtapia). John and I have just adapted it to HPX.

[2017-08-16 12:21] gentryx commented on #2825
@Naios I've tried compiling with the current release candidate of CUDA 9.0 and it's also broken (tried with HPX d55dc1b220b6ba78a715a38779180f995b632ae2).

Which compilers do you strive to be compatible with for your GSoC project? I wouldn't be reporting here if I felt I was effective at fixing this myself.

[code]

[2017-08-16 12:22] biddisco commented on #2836
@taeguk - Tell me what are the rare circumstances where
```std::size_t(N) <= sort_limit_per_task```
could be false, but
```depth > recursion_depth_limit```
could be true?

Since the list is subdivided  on each recursion - surely the list will always get shorted (by roughly 1/2) - are you implying that there are cases where the list might be split om recursion, but by some factor that is way off 1/

[2017-08-16 12:50] hkaiser commented on #2825
@gentryx Ok, we need to do something about this situation - sigh. The only thing I could think of would be to make the return type computations explicit, a la C++03. This is lot's of work and will require time. For the time being - should we reinstate the old `unwrapped` just for the sake of NVCC?

[2017-08-16 12:56] gentryx commented on #2825
@hkaiser Any solution that makes my builds compile again makes me happy. Would it be feasible to have a configure time switch to use either unwrap or unwrapped?

[2017-08-16 12:58] hkaiser commented on #2837
@Element-126 we definitely need somebody starting to take care of supporting CUDA in HPX. I very much appreciate your offer.

As a start, we could reinstate the old `hpx::util::unwrapped` (from [here](https://github.com/STEllAR-GROUP/hpx/blob/1390354369f4d503974ee90cdce8901edb59df5e/hpx/util/unwrapped.hpp)) just for the case when CUDA is enabled (`#if defined(HPX_HAVE_CUDA)`). That should give us

[2017-08-16 13:01] hkaiser commented on #2825
@gentryx: that would have to be implemented. In the simplest case we could just use `unwrapped` as the new code implements a backwards-compatibility layer for this. Or simply add `unwrap` and `unwrapping` to the old code which simply forward to the underlying `unwrapped`. I don't think we use any of the newer capabilities of `unwrap` or `unwrapping` in our main code base yet.

[2017-08-16 13:07] AntonBikineev commented on #2835
@hkaiser: sorry, I missed the message. Do you want me to change those functions to not be constexpr or we shouldn't do anything?

[2017-08-16 13:28] Element-126 commented on #2825
@gentryx Did you specify the flag `HPX_WITH_CXX14=ON` when configuring HPX ? I have just tried to compile with CUDA 9.0 in C++14 mode (I manually fixed the rogue CUDA header responsible for #2815 ), and although the compilation fails, it is due to another error (for which I will open an issue shortly, and which should be easier to fix).

[2017-08-16 13:47] gentryx commented on #2825
@Element-126 I'm using C++11-mode.

[2017-08-16 13:51] Element-126 commented on #2837
@hkaiser If #2825 (to which you seem to be referring) only affects NVCC 8 & 9 in C++11 mode, and if we manage to get HPX to build with NVCC 9 / Clang++ in C++14 mode, then we might as well drop the C++11 support altogether for NVCC.

Since it has been broken for ages anyway, I doubt it will bother anyone, and it would avoid duplicating the whole code base just to support a non-conformant compiler.

[2017-08-16 13:58] Element-126 commented on #2825
@gentryx This might be the problem. I am not sure nVidia has updated their C++11 frontend for NVCC 9. You might want to try with the C++14 one. On my end it seems to do better (at least I do not have errors regarding `unwrap`).

Anyway I will quickly open the issue I mentioned above, so anyone can look at the result.

[2017-08-16 14:41] JLTastet opened #2838 "Calling a __host__ function from a (__host__) __device__ function breaks HPX build with NVCC 9 in C++14 mode"
Since I don't know when Nvidia will fix the issue regarding `__CUDACC_VER__`, responsible for #2815, I manually modified the relevant header to define it to a meaningful value:
[code]

This allows the HPX build to progress slightly further, but then we encounter another issue, which seems to be on our side this time.

Compiling HPX with the following configuration:
[code]
results in a whopping [1.

[2017-08-16 14:42] hkaiser commented on #2835
@AntonBikineev let's make those functions non-constexpr for now.

[2017-08-16 14:52] gentryx commented on #2825
@Element-126 FYI: I'm not building with -DHPX_WITH_CUDA=true. That's a different can of worms. Kudos to you if you can fix that one.

[2017-08-16 14:57] Element-126 commented on #2825
@gentryx Oh ! Maybe I should try without this option ;-) Thanks for the tip

[2017-08-16 15:46] gentryx commented on #2825
@Element-126 Switching to C++14 doesn't make the current error go away. I guess we'll have to re-add the old unwrapped implementation.

[2017-08-16 15:47] gentryx commented on #2825
@Naios I see that you've removed the old unwrapped implementation and IIUC now dispatch to unwrap. Could you revert that change to give users the option to use the old/deprecated code?

[2017-08-16 15:56] Element-126 commented on #2825
@gentryx Ok. I will take a look at the `unwrapped` implementation and follow this issue closely.

[2017-08-16 16:15] Naios commented on #2825
@gentryx I'll take a look at this issue with the current Cuda 9.0 RC SDK as well.

In case the issue isn't resolvable by altering the existing code I'll readd the old implementation,
however this requires some time because I don't want to revert the usage of `unwrap` and `unwrapping` internally. I'm sorry for the inconveniences during this time.

Also could you provide a minimalistic example (as a

[2017-08-16 16:21] hkaiser commented on #2838
FWIW, I'd be fine with not supporting NVCC if we can get Clang to work properly.

[2017-08-16 16:22] hkaiser commented on #2825
@Naios: adding dummy `unwrap` and `unwrapping` forwarding to `unwrapped` for the old code should be enough to make it work for now, I think.

[2017-08-16 16:26] hkaiser commented on #2837
@Element-126 I agree, we don't have a reason to support C++11 mode if C++14 mode works.

[2017-08-16 16:26] #2822 closed

[2017-08-16 18:04] Element-126 commented on #2837
Unfortunately, it seems that #2825 is still present with NVCC 9 in C++14 mode, as checked by @gentryx.

If we manage to isolate the non-conforming behavior, it might be worth reporting it to Nvidia while CUDA 9 is still in RC. It probably won't change anything for this release, but at least it will be in their bug tracker.

[2017-08-16 18:31] krivenko opened #2839 "memcpy buffer overflow: load_construct_data() and std::complex members"
I get a weird compilation warning and a subsequent runtime failure (buffer overflow) from the following code:
[code]
The warning reads
[code]
valgrind reveals the point of the failure to be in `serialization_access_data.hpp:159`
[code]
The most interesting part here is that if I change `x_type` to `double`, the program compiles and runs perfectly.

[2017-08-16 18:44] Element-126 commented on #2838
@hkaiser I will try to conduct some benchmarks of NVCC vs. Clang on some (optimized) internal code relevant for my current project. If the performance when compiling with Clang roughly matches or exceeds the one with NVCC, then I will probably focus my efforts on getting HPX to work flawlessly with Clang. Otherwise it will be much harder to justify using it to the people who pay the lab's bills :-

[2017-08-16 19:01] Naios commented on #2825
@hkaiser The actual issue is that the traversal and async traversal API heavily relies on `decltype` return type deduction. When both APIs replace the internal implementation of `when(all|any|some)` and `dataflow` we might run into issues again and thus solving this through the old unwrapped code is a really temporary solution.

@gentryx In my opinion we first should figure out a proper test case

[2017-08-16 19:13] Naios commented on #2835
-> #2840

[2017-08-16 20:44] hkaiser commented on #2839
@krivenko this looks like it is unrelated to the `struct my_struct` not being default constructible. Is this happening also if you allow for it to have a default constructor?

I have no explanation for this yet and I'm not able to reproduce this on my platform (Windows/MSVC).

The problem occurs during deserialization of an instance of type `std::complex`. We treat `std::complex` as bitwise-serial

[2017-08-16 20:47] gentryx commented on #2825
@Naios I didn't know CUDA wasn't officially supported by HPX. Thanks for the clarification.

[2017-08-16 20:47] hkaiser commented on #2838
@Element-126 FWIW, I have been approached by the people at google developing the CUDA support offering help and support whenever we need it. Just let me know and I'll put you in contact.

[2017-08-16 20:52] hkaiser commented on #2825
@gentryx We don't have CUDA on the list of supported platforms in the docs (mostly because nobody has thought of adding it). So  I wouldn't go as far as to claim that we don't support it ;-)

[2017-08-16 20:56] krivenko commented on #2839
No, with `my_struct() = default` the problem disappears.

My compiler is GCC 5.4.0 on Linux.

With those lines commented out the crash does not occur.

[2017-08-16 21:01] Naios commented on #2825
@hkaiser Thanks for the clarification.

[2017-08-16 23:17] taeguk commented on #2836
If that is the case, then yes, changing the switchover point by adding the recursion depth would help.

@biddisco Yes, I implied that case. For ensuring time complexity to O(N*logN) , we should limit recursion depth. But, what I care is performance change from those limitation. As you think, is there possibility that performance will be decreased because of those limitation?
What should we do? Lea

[2017-08-17 11:51] biddisco commented on #2836
My suggestion would be to run the algorithm over a bunch of tests datasets and see if the recursion depth ever significantly exceeds the nominal threshold required for NlogN behaviour. If it happens frequently - then yes, add a limit. In my on tests I have not yet encountered problems of that kind (that doesn't mean it can't happen though).

[2017-08-17 11:52] biddisco commented on #2836
Alternatively - add the extra check and verify that normal tests don't run any more slowly.

[2017-08-17 14:55] Dekken opened #2843 "multi node hello_world hangs"
Hi there,

I'm trying to setup a basic multi node example referencing [this](https://stackoverflow.com/questions/35367816/hpx-minimal-two-node-example-set-up) stackoverflow thread.

I've this setup
Master:
[code]

Slave:
[code]

In strace, Master just hangs, while the slave seems to constantly be trying to connect.

It's probable I'm going about this wrong way, any input is appreciated

[2017-08-17 15:00] Element-126 commented on #2837
Ok, this is definitely an issue in Clang, which lacks support for relocatable device code. [A bug](https://bugs.llvm.org/show_bug.cgi?id=26343) has already been filed one year and a half ago in their bug tracker, and it seems to be a WONTFIX.

I will now try to compile mixed HPX/CUDA code _without_ `-D HPX_WITH_CUDA=ON`, and see if it works better.

[2017-08-17 15:06] hkaiser commented on #2843
Please read the stack-overflow answer more carefully. The following should work:
[code]
(use the appropriate hostnames instead of `node0` and `node1`). If this does not work, try explicit IP-addresses instead of the hostnames.

The bottom line is that `node0` and `node1` should resolve to the correct IP address such that the two localities can communicate. If you use `localhost` this will always b

[2017-08-17 15:10] Dekken commented on #2843
I have tried both with localhost and actual (resolving) hostnames, both hang.

[2017-08-17 15:14] Dekken commented on #2843
IPs aren't working either.

Both devices are hot spotting from a phone, so I'll try setup a wired connection.

[2017-08-17 15:38] hkaiser commented on #2843
The reason for hanging can only be that the names you specify don't resolve to n IP address the other device can reach. The actual cause could be any of an endless list of possibilities, starting from firewall issues to a misconfigured DNS or simply not reachable IP addresses because of a missing route between the two endpoints. This is very difficult to diagnose from the distance.

[2017-08-17 15:39] Dekken commented on #2843
the devices were pingable (by name or IP) on the hot spot network, but it was interferrring somehow.

It works with a wired static network

[2017-08-17 15:39] #2843 closed

[2017-08-17 18:14] #2839 closed

[2017-08-18 02:10] krivenko commented on #863
What was the actual resolution of this issue?
Are return types of actions supposed to be default constructible?

Here is an extended version of `tests/unit/actions/return_future.cpp`

https://gist.github.com/krivenko/9e61c80e6adf4cd375af239f723dc752

`test_plain_call_future_non_default_ctor()` fails to compile with the following errors,
[code]
[code]

[2017-08-18 12:27] Naios commented on #2825
@gentryx It's really difficult so reproduce this issue.

I set up an environment using gcc 5.4 and nvcc 8.0.44 (clang isn't accepted by libgeodecomp, neither is GCC 6 due to Cuda 8):

First of all libgeodecomp has issues finding my HPX installation I installed in the default path: `/usr/local/lib/`

I'm using the following command to build:

[code]
I'm using my branch at https://github.com/Naios/h

[2017-08-18 12:44] Naios opened #2844 "Change the appveyor build to use the minimal required MSVC version"
The Visual Studio version used by the Appveyor CI should reflect the minimal required MSVC version
2015 instead of the latest one.
This could help to prevent issues where the code was developed in a later MSVC version but fails to build on the minimal required one.

[2017-08-18 13:09] K-ballo commented on #863
@krivenko

This issue was resolved, `Future<R>` no longer requires `R` to be _DefaultConstructible_.

It's possible, action parameters and return types do have extra requirements, and implicit unwrapping means a remote invocation of an action returning `Future<R>` is treated as if it returned just `R`. I'd suggest creating a dedicated issue with your extended test case, for visibility.

[2017-08-18 14:39] Naios commented on #2844
@hkaiser Thanks for the quick reply, I'll try that out.

[2017-08-18 15:05] hkaiser opened #2846 "Unify serialization of non-default-constructible types"
Currently, serialization of non-default-constructible types is done differently for single instances and for collections of such types. This should be unified.

[2017-08-18 15:06] hkaiser commented on #2846
@AntonBikineev I think I have a solution for this keeping both versions back-wards compatible while making them interchangable.

[2017-08-18 15:11] hkaiser commented on #863
@krivenko I don't have a quick fix for this - sorry, please give me some time to think it over.

[2017-08-18 15:30] fjtapia commented on #2836
Hi,

I am reading the code of parallel_sort, and have a worst case of O(N²).

The way to prevent this is adding a counter with the number of subdivisions
in the algorithm. In each division, decrement the counter , and when zero,
sort with introsort.

Introsort have this counter, and begin to filter and divide with quicksort,
and when zero, switch to heapsort, which have a worst case of O(NLogN), b

[2017-08-18 16:51] hkaiser opened #2847 "Returning a future<R> where R is not default-constructable broken"
@krivenko wrote (see #863):

Are return types of actions supposed to be default constructible?

Here is an extended version of `tests/unit/actions/return_future.cpp`

https://gist.github.com/krivenko/9e61c80e6adf4cd375af239f723dc752

`test_plain_call_future_non_default_ctor()` fails to compile with the following errors,
[code]
[code]

[2017-08-18 17:35] krivenko commented on #2847
@hkaiser Thank you for opening this bug report for me, and for paying so much attention to these issues in general!

This is more of a 'good to have' feature, as far as I am concerned. I could certainly make my application work without the ability to pass non-default constructible types to and from actions, even tough this would result in more messy code.

Anyhow, would I have to implement anythin

[2017-08-18 18:36] hkaiser commented on #2847
@krivenko: I think implementing `load_construct_data()` for your type should be sufficient.

[2017-08-18 19:28] krivenko commented on #2847
Perhaps a related issue...

If I delete the default constructor from my component (derived from `hpx::components::component_base`), I get the following error message

[code]

So, once again, can I avoid adding the default constructor?

[2017-08-18 21:03] hkaiser commented on #2847
@krivenko Hmmm, components shouldn't be required to be default constructible. It all depends on how you create them. So the following should be fine:

    struct component : component_base<component>
    {
        component() = delete;
        component(int) { ... }
        ...
    };

    void foo()
    {
        client<component> c = new_<component>(find_here(), 42);
    }

If this does not work

[2017-08-18 22:24] krivenko opened #2848 "Components have to be default constructible"
Here is another problem related to types without an accessible default constructor.
`tests/unit/component/new_.cpp` does not compile after it's changed like this,
[code]
[code]

[2017-08-19 12:47] #2835 closed

[2017-08-20 10:34] taeguk commented on #2804
@biddisco @hkaiser I implemented and benchmarked both two ways to implement ```unique```, ```remove```, and ```remove_if```. The two ways are 1) scanning parallely & copying sequentially, and 2) allocating temporary memory & utilizing ```unique_copy```.
In conclusion, both have bad performance in my benchmark... :(
Both have same or a little bit faster than sequantial version. (The 'a little bit'

[2017-08-20 12:51] hkaiser commented on #2804
@taeguk my suggestion would be to add the better of the two versions now and keep in mind (create a ticket) that we should get back and improve, if possible. Please also add the benchmarks you developed.

[2017-08-20 12:52] #2844 closed

[2017-08-20 15:29] taeguk commented on #2804
@hkaiser Okay, I'll follow what you said.
I have one more question.
In case of the version which uses temporary memory, ```MoveConstructible``` is needed as requirements. But standard only states ```MoveAssignable```. Surely, if ```MoveAssignable``` is conformed, maybe ```MoveConstructible``` is also conformed. But, not 100%. Can this nonconformity be accepted? Or should I avoid temporary memory f

[2017-08-21 15:05] hkaiser commented on #2804
@taeguk: newer versions of the ranges TS refer to `MoveConstructible` only (see http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/n4685.pdf).

[2017-08-21 18:03] Dekken opened #2852 "Support for ARM64"
Hi there,

I tried to build this on an ARM64 board but couldn't get it building due to "unsupported platform" within the coroutines section. [link](https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/threads/coroutines/swapcontext.cpp)

I've done some tinkering with boost context on ARM64 and it seems to work, is there a possibility of using that or something else?

[2017-08-21 18:56] hkaiser commented on #2852
On ARM/ARM64 you need to build HPX using Boost.Context. Please add `-DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON` to the cmake command line.

[2017-08-21 18:57] Dekken commented on #2852
oh that's convenient ^_^

[2017-08-21 19:13] #2818 closed

[2017-08-21 23:26] Dekken commented on #2852
issue with timestamps too

[2017-08-22 07:35] Element-126 commented on #2837
I recompiled HPX with the latest sources and tried without the `-D HPX_WITH_CUDA_*=ON`, and I get the exact same error as before.

I will see if I can fix it, but I cannot promise anything.

[2017-08-22 07:59] Element-126 commented on #2837
For reference, I tried to compile the above snippet using:
[code]
and the missing symbols respectively demangle to (using [this tool](https://github.com/eklitzke/demangle)):
[code]

[2017-08-22 10:15] Element-126 commented on #2837
I managed to produce a minimal example which gives a similar warning, but not the associated segfault :-(
[code]
[code]
[code]

So this seems to be a problem with static variables in device code, which are used in `register_action_invocation_count` as well as for the vtable. Now I have virtually no idea how these static variables end up being used in device code.

Regarding `register_action_invoca

[2017-08-22 10:49] hkaiser commented on #2837
I think we can safely guard (hide) those variables for the device code. Even if the functions get instantiated, the code will never be executed...

[2017-08-22 10:55] Element-126 commented on #2837
This sounds reasonable to do for `register_action_invocation_count<Action>::instance`. However what worries me most here is the issue with the vtable. I don't know if it means that we cannot issue virtual function calls from the device side.

[2017-08-22 11:23] sithhell commented on #2837
That specific static is meaningless in device code. So we should `#ifdef` it out. Virtual function calls should be possible though.
The biggest issue right now is that there is a lot of code being processed by the CUDA compiler which doesn't really work in device code and emits tons of warnings.

[2017-08-22 11:25] sithhell commented on #2837
The vtable warning is troublesome though, but not a lot we can do. This looks like a clang issue. Could also be code where we call some RTTI functions. No idea if we can just ignore the warning for now.

[2017-08-22 12:13] Element-126 commented on #2837
Yes, we could try to `#ifdef` out the static member (as well as all the code depending on it...) and see if the segfault is still there.

If I manage to make a minimal example reproducing the vtable warnings and the segfault, I will let you know here.

I still don't get why this static is being processed as device code at all, since everything is `__host__` by default, the kernel does not call any

[2017-08-22 14:42] #2848 closed

[2017-08-23 12:55] #2852 closed

[2017-08-25 09:34] KADichev opened #2860 "Master program fails with assertion 'type == data_type_address' failed: HPX(assertion_failure)"
Hi,

I often get this error when running applications with >=2 HPX localities. It is a non-deterministic thing, sometimes I get them, sometimes not. Here an example error output:

I launch in tab 1 this process:
$ examples/fibonacci --hpx:run-hpx-main --hpx:localities=2 --hpx:hpx=127.0.0.1:7910 --hpx:agas=127.0.0.1:7910 --hpx:threads=2 38

I launch in tab 2 this process:
$ examples/fibonacci --hpx

[2017-08-25 09:40] sithhell commented on #2860
Can you run with --hpx:attach-debugger=exception (on both localities) and
get the real backtrace and the actual values of the two variables? (There
should be one thread in the function nanosleep, switch to that and go a few
stack frames up to get to where the assertion failed)

[2017-08-25 09:59] KADichev commented on #2860
f 6
#6  0x00007f53768fb3be in hpx::util::thread_description::valid (this=0x7f5367ce1588) at /home/s3050418/hpx/hpx/util/thread_description.hpp:167
167	            HPX_ASSERT(type_ == data_type_address);
(gdb) p type_
$13 = (unknown: 48503456)
(gdb) p data_type_address
$14 = hpx::util::thread_description::data_type_address

[2017-08-25 12:36] sithhell commented on #2860
Can you post the full backtrace as well please?

[2017-08-25 12:36] hkaiser commented on #2860
@KADichev I have occasionally seen people reporting this problem before, but was never able to reproduce it in order to find the issue... From looking at the code this is something which should never happen (hence the assert) - and I was not able to find the hole in my reasoning about this code explaining this behavior yet.

Could you post the build options, your system description (OS, compiler,

[2017-08-25 12:40] hkaiser commented on #2860
The only (remotely possible) explanation I have is that for some reason under seldom circumstances we access an instance of a `thread_description` left behind after (std::)moving away from it.

[2017-08-25 12:42] KADichev commented on #2860
Not sure if it helps, but I think it is related to the use of component actions. If I comment out apply calls of component actions, the error disappears. With more component actions, the error happens almost every single run. Will post backtrace in a while ...

[2017-08-25 12:51] KADichev commented on #2860
Here a backtrace during exception with gdb:

#0  0x00007f9d3b7c330d in nanosleep () at ../sysdeps/unix/syscall-template.S:84
#1  0x00007f9d3b7c325a in __sleep (seconds=0) at ../sysdeps/posix/sleep.c:55
#2  0x00007f9d41cc0a80 in hpx::util::attach_debugger () at /home/s3050418/hpx/src/util/command_line_handling.cpp:1049
#3  0x00007f9d40f676cf in hpx::detail::assertion_failed_msg (msg=0x7f9d41f80824

[2017-08-25 12:55] KADichev commented on #2860
OS:
Ubuntu 16.04.2

Compiler:
clang --version
clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
Boost: 1.61.0, compiled with Clang

[2017-08-25 12:55] KADichev commented on #2860
The example is not the default fibonacci, I use a bunch of components and component actions.

[2017-08-25 13:19] hkaiser commented on #2860
@KADichev could you give us the code for this? This might help finding the issue.

[2017-08-25 13:23] KADichev commented on #2860
@hkaiser This really isn't so simple to do. The components are part of a whole project stuff we're building on top of HPX ( @sithhell would probably have an advance how to port it?)

[2017-08-25 13:29] hkaiser commented on #2860
@KADichev May I see the output from running cmake, please?

[2017-08-25 13:32] KADichev commented on #2860
[CMakeOutput.txt](https://github.com/STEllAR-GROUP/hpx/files/1251963/CMakeOutput.txt)

this is the CMakeOutput.log (renamed it to txt since Github was complaining)

[2017-08-25 14:05] hkaiser commented on #2860
@KADichev thanks. Actually I meant to see the cmake console output to identify HPX setting which may cause this.

[2017-08-25 15:30] KADichev commented on #2860
-- No vectorization library configured
-- Native TLS is enabled.
-- Nice threadlevel is disabled.
-- Stack traces are enabled.
-- Compiling with the native toolset
-- C++ mode enforced: C++1z
-- Performing Test HPX_WITH_CXX11_ALIAS_TEMPLATES - pre-set to TRUE
-- Performing Test HPX_WITH_CXX11_AUTO - pre-set to TRUE
-- Performing Test HPX_WITH_CXX11_CONSTEXPR - pre-set to TRUE
-- Performing Test HP

[2017-08-26 18:42] kleinhenz opened #2862 "sched_getcpu not available on MacOS"
On MacOS `hpx/examples/resource_partitioner/simple_resource_partitioner.cpp` fails to compile on the current master because `hpx/examples/resource_partitioner/shared_priority_scheduler.hpp` includes `parcelport_logging.hpp` which uses the `sched_getcpu` system call which is not part of `sched.h` on MacOS. This include is currently protected by a `#if !defined(HPX_MSVC)` which should probably be ex

[2017-08-26 19:53] hkaiser commented on #2862
@biddisco Could you take care of this, please?

[2017-08-27 08:07] KADichev commented on #2860
@hkaiser I prepared a smaller version I can send you, but I can't reproduce the fault in this case. Only in the context of a more complex example that uses an additional layer of components do I consistently get the error.

[2017-08-27 12:08] hkaiser commented on #2860
@KADichev thanks for your effort on this. At this point, the only way to fix this is to have a use case demonstrating the problem, though.

[2017-08-27 18:54] sithhell commented on #2860
I'll look into it tomorrow.

[2017-08-28 10:12] sithhell commented on #2860
After a clean rebuild of everything, the issue disappeared.

[2017-08-28 13:44] taeguk opened #2866 "The chunk_size_iterator violates multipass guarantee."
https://github.com/STEllAR-GROUP/hpx/blob/e0f0ed18af6a5dd90c9bbc209fb59b7d87b15f64/hpx/parallel/util/detail/chunk_size_iterator.hpp#L23-L85
The ```chunk_size_iterator``` has forward iterator tag. But, it violates multipass guarantee.
[code]
Above code has a bug because the data which ```elem``` referenced is changed when ```iter``` is incremented.
Really, I encounted that bug, I consumed my much t

[2017-08-28 14:09] hkaiser commented on #2866
Excellent catch! please prepare a PR for this.

[2017-08-29 19:11] bremerm31 opened #2869 "Difficulty compiling `HPX_REGISTER_CHANNEL_DECLARATION(double)`"
The crux of the error seems to lie in the compiler macro for `HPX_REGISTER_CHANNEL_DECLARATION(double)` and `HPX_REGISTER_CHANNEL(double)`

One work around that seems to work is using

     using my_type = double;
     HPX_REGISTER_CHANNEL_DECLARATION(my_type);

The compilation fails for gcc/7.1.0 with boost/1.64. With I believe the main error being

/work/02578/bremer/stampede2/dgswemv2_local_ins

[2017-08-30 06:26] #2862 closed

[2017-08-30 20:29] kleinhenz opened #2872 "static build fails with non-system allocators"
Making a static build on cori currently fails in the linking stage when using `jemalloc` or `tcmalloc` with a multiple definition error. I am using gcc-6.3.0 with cray compiler wrapper, cmake 3.8.2, boost 1.62. Tested with jemalloc-5.0.1 and gperftools-2.6.1. The error message is

[code]

my build script is

[code]

[2017-08-30 20:48] kleinhenz opened #2873 "building with parcelport_mpi fails on cori"
Building on cori with parcelport_mpi currently fails to compile `mpi_environment.cpp` with numerous errors mostly complaining about `mpi_environment` not being declared or not having a type. I am using gcc-6.3.0 with cray compiler wrapper, cmake 3.8.2, boost 1.62.

compiler output: https://pastebin.com/raw/0FrD1j13

build script:

[code]

my currently loaded modules

[code]

[2017-08-30 21:35] hkaiser commented on #2873
Could you please post the full output from the cmake step as well?

[2017-08-30 22:12] kleinhenz commented on #2873
output of configure step

[code]

[2017-08-30 22:52] hkaiser commented on #2873
The only explanation I have is that you have another HPX version installed somewhere and the compiler finds the wrong file `hpx/config/defines.hpp`.

Please have a look at `/global/homes/j/jkleinh/research/libraries/hpx/build/hpx/config/defines.hpp` which should have a `#define HPX_HAVE_PARCELPORT_MPI` to verify that the correct configuration setting were generated by cmake.

[2017-08-31 05:25] kleinhenz commented on #2873
I checked and I do have `#define HPX_HAVE_PARCELPORT_MPI` in the correct config file.

[2017-08-31 11:19] DavidPfander-UniStuttgart commented on #2746
@aserio No, he wasn't. He was proposing a different tool, which doesn't have the features valgrind has.

BTW, this still is very annoying issue for me. Any help would still be greatly appreciated.

[2017-08-31 11:53] hkaiser commented on #2873
That confirms that in your environment the compiler finds another `hpx/config/defines.hpp` which does not have this configuration setting enabled. Please look carefully where that might be.
Running `make VERBOSE=1` gives you the executed command lines which might give a hint at where to look.

[2017-08-31 12:04] sithhell opened #2876 "Remove throttling scheduling policy"
The functionality provided by the new resource partitioner should be able to replace this specific policy.
In order to remove it, the resource partitioner needs to be tested to support the specific use case this policy provides.

[2017-08-31 15:06] sithhell commented on #2873
It looks like your environment/build directory is a little screwed. I suggest to start from scratch, with an empty build directory.
One very suspicious line is that one here:
[code]

From the build log. This shouldn't happen. Also, you should remove darshan from your environment.

[2017-08-31 18:45] kleinhenz commented on #2873
As I understand it the `ModuleCmd_switch.c` error is emitted by the Cray compiler wrappers when not using PrgEnv-intel. I have successfully build other applications including hpx without mpi/jemalloc with PrgEnv-gnu and this warning hasn't been a problem. I am using PrgEnv-gnu because there were other compiler errors when compiling hpx with the intel compiler and I have successfully built hpx on a

[2017-08-31 22:44] hkaiser commented on #2873
@kleinhenz I don't think waiting would help you in this case. I agree with Thomas that something is wrong in your environment.

[2017-09-01 08:55] DavidPfander-UniStuttgart commented on #2746
Turns out this was an alignment issue stemming from a missing C++ feature (Dynamic memory allocation for over-aligned data, P0035R4, introduced in C++17). Now using Vc macros that implement a workaround. This problem should no longer occur with gcc 7 and newer.

[2017-09-01 08:55] #2746 closed

[2017-09-01 14:09] sithhell opened #2879 "Stream benchmark needs to be ported to Resource partiotioner"

[2017-09-02 18:16] #2847 closed

[2017-09-02 18:16] #2846 closed

[2017-09-02 19:06] kleinhenz commented on #2873
ok so I think I found the problem that I was having. The mpi compilation errors were coming from finding the wrong config file like you thought. My original problem was coming from the hwloc dependency. The default build of `libhwloc.a` is not fully static and includes dynamic dependencies on a bunch of stuff, e.g. `libnuma`, `libxml2`, etc. This means that these dependencies have to be provided w

[2017-09-02 19:19] hkaiser commented on #2873
@kleinhenz This information should be added to the build instructions of HPX on Cori, thanks!

I assume your initial problem is solved now. Can we now close this ticket?

[2017-09-02 19:58] kleinhenz commented on #2873
Yeah, I'm now able to successfully compile statically with mpi and system allocator.

[2017-09-02 19:58] #2873 closed

[2017-09-02 20:27] hkaiser commented on #2872
@kleinhenz Is this still an issue now?

[2017-09-02 22:10] kleinhenz commented on #2872
Yeah. I just built successfully with the system allocator and then ran into the above problem again when rebuilding with jemalloc.

[2017-09-04 22:11] biddisco opened #2880 "hpx::bind scatter/balanced give wrong pu masks"
on a dual socket node with 18 cores per socket and 2 hyperthreads, there are 72 threads
[code]
should give a pu mask
[code]
but it actually gives
[code]
and in fact
[code]
should give the same pu mask, but with a different thread numbering for each pu (0213 or 0123 depending on your choice).

[2017-09-04 22:41] hkaiser commented on #2880
`--bind=balanced` distributes thread across cores in a balanced way, not across sockets. From what I can see from the bitmasks - all is correct. This is not a bug.

[2017-09-05 05:09] biddisco commented on #2880
https://stellar-group.github.io/hpx/docs/html/hpx/manual/init/commandline/details.html
Shows the distribution - but it seems I misunderstood that these were cores only and not sockets/etc.

We need a distribution mode that allows pus to be assigned across numa-domains in a balanced or scattered way. It is not clear to me that the balanced/scatter modes are of any use in their current form. Can we

[2017-09-05 05:12] sithhell commented on #2880
I suggest new modes with a -numa suffix. The current modes were introduced
for CPUs with more than 2 hyperthreads.

[2017-09-05 14:44] #2869 closed

[2017-09-05 16:49] bremerm31 opened #2881 "hpx not compiling with `HPX_WITH_ITTNOTIFY=On`"
Using the following cmake command

    cmake -DCMAKE_BUILD_TYPE=Release
                  -DCMAKE_INSTALL_PREFIX=/work/02578/bremer/stampede2/dgswemv2_local_install_Release_with_vtune
                  -DHPX_WITH_PARCELPORT_MPI=true
                  -DHPX_WITH_MALLOC=jemalloc
                  -DHPX_WITH_THREAD_IDLE_RATES=true
                  -DHPX_WITH_CXX14=On
                  -DHPX_WITH_TES

[2017-09-06 02:22] kleinhenz opened #2884 "linking `-latomic` is not portable"
This [commit](https://github.com/STEllAR-GROUP/hpx/commit/e40a003720c0ef95d5f0cebd51a484f12dd43861) which replaces boost atomic with std::atomic automatically links `-latomic` when testing for std::atomic support and in the main CMake script. Unfortunately this is in general not completely portable and in particular breaks compilation on macos with Clang where there is no `libatomic`. As I underst

[2017-09-06 07:49] sithhell commented on #2825
The problem should be fixed on the [cuda_clang](https://github.com/STEllAR-GROUP/hpx/tree/cuda_clang) branch. Would you mind checking if that solves the problem for you?

[2017-09-06 07:51] sithhell commented on #2825
FWIW, it is a bug in the nvcc frontend. Avoiding problematic code (that is some templates/functions that are  used from a static defined at namespace scope) to be parsed with nvcc avoids this ICE.

[2017-09-06 07:53] sithhell commented on #2838
The warnings you are seeing can be ignored. They are benign in the sense that if a `__host__ __device__` indeed calls a `__host__` function when being compiled in device mode, you will get a hard error. the [cuda_clang](https://github.com/STEllAR-GROUP/hpx/tree/cuda_clang) has this warning turned of. Would you mind retrying with this branch?

[2017-09-06 07:56] sithhell commented on #2837
For now, I can't reproduce that problem when using clang + cuda. I am also using libc++ as the C++ standard library. From my experience, this is generally advisable. There also has been various fixes on the [cuda_clang](https://github.com/STEllAR-GROUP/hpx/tree/cuda_clang) branch.

[2017-09-06 10:45] hkaiser commented on #2884
@K-ballo what's your take on this?

[2017-09-06 12:57] K-ballo commented on #2884
Let's add the check.

[2017-09-06 17:31] zbyerly opened #2885 "regression in broadcast?"
in building https://github.com/zbyerly/libgeodecomp, specifically
https://github.com/zbyerly/libgeodecomp/blob/master/src/libgeodecomp/parallelization/hpxsimulator.cpp,
I get this error:

/local_install_Debug/include/hpx/lcos/future.hpp:812:11: note: ‘hpx::lcos::future<std::vector<double> >::future(const hpx::lcos::future<std::vector<double> >&)’ is implicitly declared as deleted because ‘hpx::lco

[2017-09-06 19:07] K-ballo commented on #2884
Added the check to `libatomic-check` branch. Local builds and CI look ok, but I do not have access to macos to test.

@kleinhenz could you give it a try and report whether it works as needed?

[2017-09-06 19:18] kleinhenz commented on #2884
Works for me. Thanks!

[2017-09-06 19:27] hkaiser commented on #2885
This looks like to be caused by the change which disabled automatic unwrapping for `async<Action>()`.

[2017-09-07 14:35] Element-126 opened #2890 "Destroying a non-empty channel causes an assertion failure"
I am not quite sure whether the following code is legit, but since it causes an assertion failure inside HPX, I am opening an issue anyway.

[code]
The above snippet, compiled with:
[code]
results on my system in:
[code]
I have looked at the `channel` documentation, and yet I have not figured out whether each `set()` should be accompanied by a corresponding `get()`.

If that is the case, then we c

[2017-09-07 15:26] zbyerly commented on #2885
This is fixed with https://github.com/STEllAR-GROUP/hpx/pull/2887

[2017-09-07 17:09] #2881 closed

[2017-09-08 09:19] Element-126 commented on #2890
Note that calling `ch.close()` explicitly does not prevent the assertion failure, although it does call `receive_buffer<>::cancel_waiting()`, which should result in an empty buffer.

[2017-09-08 10:37] sithhell commented on #2890
Am 08.09.2017 11:19 vorm. schrieb "Element-126" <notifications@github.com>:

Note that calling ch.close() explicitly does not prevent the assertion
failure, although it does call receive_buffer<>::cancel_waiting(), which
should result in an empty buffer.

I think ultimately, the assertion is correct and should also fire on
closing the channel. It points to a potential programming error for not
con

[2017-09-08 11:21] Element-126 commented on #2890
I almost certainly abused the semantics of `channel<>` by trying to use it to schedule resources (which actually works quite well until the channel is destructed). Indeed, in this case, closing a channel with zero elements would mean that some resources have not been returned, and would point to an error.

For my current use case, I guess the right thing to do is to implement a new class dedicated

[2017-09-08 17:46] #2884 closed

[2017-09-08 17:55] hkaiser commented on #2890
@Element-126 The intended mechanism for this is to call `close()` on the channel. If this does not work it needs fixing...

[2017-09-10 11:33] #2885 closed

[2017-09-10 15:30] taeguk commented on #2836
@fjtapia Thank you for your reply and sorry to my late response.
I read https://github.com/fjtapia/HPX_sort/blob/master/block_indirect_sort_en.pdf. Your idea looks so awesome!
I want to consider your better parallel sorting algorithms for resolving this issue and getting better performance. But, maybe I should re-implement your implementation with HPX-tic way.
But, before I consider your idea, I h

[2017-09-10 21:30] biddisco opened #2893 "Disabling schedulers causes build errors"
Whilst attempting to locate a link error for missing libatomic symbols, I disabled some schedulers as I suspected on of them is the culprit.
This leads to errors of the kind
[code]
and
[code]

[2017-09-11 22:24] khuck opened #2896 "Debug build fails without -fpermissive with GCC 7.1 and Boost 1.65"
Current master, Debug configuration fails with this error:
[code]

[2017-09-11 22:30] hkaiser commented on #2896
@khuck this is a known issue in Boost, see #2812. That ticket also provides a workaround. I'm leaving this ticket open as a reminder to remove the dependency on ICL in HPX.

[2017-09-11 23:02] hkaiser commented on #2896
@khuck #2897 should take care of this. Please verify.

[2017-09-12 05:51] biddisco opened #2899 "hpx::bind does not have a mode that balances cores over numa domains"

[2017-09-12 05:54] biddisco commented on #2899
This is also addressed in #2891 since this falls into the category of RP fixes

[2017-09-12 06:37] biddisco commented on #2899
Fix removed from #2891 and put back into #2900

[2017-09-12 08:45] sithhell commented on #2324
This has been resolved after merging #2789

[2017-09-12 08:45] #2324 closed

[2017-09-12 08:47] sithhell commented on #2408
We have a properly implemented stack overflow detection issue now after #2408 was merged.

[2017-09-12 08:47] #2408 closed

[2017-09-13 13:01] #2896 closed

[2017-09-13 15:22] khuck opened #2904 "build broken for Intel 17 compilers"
see: http://rostam.cct.lsu.edu/builders/hpx_intel_17_2_174_boost_1_59_centos_x86_64_debug/builds/16/steps/build_core/logs/stdio

[2017-09-13 16:41] K-ballo commented on #2904
The same errors can be observed on clang when building the branch `pack-short-circuit`. They seem to come from a poisonous overload in the local/remote `dataflow` set, and are likely related to the recent work on pack traversal.

[2017-09-13 18:22] Naios commented on #2904
Pack traversal isn't used by `dataflow` since #2829 isn't merged yet.

[2017-09-13 18:42] K-ballo commented on #2904
In that case then there's a tiny chance that the work on pack traversal fixes it, as the error seems to come from a poisonous computation of a fused invocation. I'll apply `pack-short-circuit` to that PR and see what happens...

[2017-09-13 22:38] K-ballo commented on #2904
Unfortunately applying that PR does not solve the issue.

@Naios You can see from the logs that the poisonous overload is caused by a bad interaction with `util::detail::functional_unwrap_impl`, which I had assumed to be part of the pack traversal related work. There seems to be some sort of disagreement between what `dataflow` and `unwrap` think is callable, and to make it worse the issue seems t

[2017-09-14 16:52] #2893 closed

[2017-09-15 08:57] zbyerly opened #2905 "collecting idle-rate performance counters on multiple localities produces an error"
collecting idle-rate performance counters (on hello_world) on multiple localities produces the error:
pool 1 (zero-based index) requested out of bounds. The partitioner owns only 1 pools: HPX(bad_parameter)

running this sbatch script on Rostam:
https://gist.github.com/zbyerly/b06bfd32567c677e15c4483f76819c89

produces this:
https://gist.github.com/zbyerly/8fed68788ff317590f242e46905d6f44

[2017-09-15 11:51] hkaiser commented on #2905
Thanks for reporting. This is a genuine bug introduced by the recent introduction of the resource-partitioner and the related changes to the performance counters

[2017-09-16 09:25] fjtapia commented on #2836
Hi Taeguk,

Thanks by your interest and your comments.

The problem of the worst case O(N²), is resolved . I sent the modified file
to Hartmut Kaiser some weeks ago. If you want take a look is the first
attached file to this message.

About the substitution of the actual code by block_indirect_sort, it’s not
so easy as appear.

First, must be interest in the change, and if exist, there is a long w

[2017-09-16 16:02] hkaiser commented on #2890
@Element-126 I have added a Boolean option to channel close which force-deletes remaining items in the channel. This was necessary as for other use cases the close operation has to leave still pending entries in place, just signifying that no more entries will be available. May I ask you to try #2907 whether it fixes your issue?

[2017-09-17 01:01] taeguk commented on #2836
@fjtapia

version.

1 . Does this penalty means the overheads occurred by porting your original block_indirect_sort to HPX? That is, is there no penalty in original block_indirect_sort?

https://github.com/fjtapia/HPX_sort/blob/master/include/hpx/parallel/sort/detail/bis/backbone.hpp#L167-L170
2 . And I think that above codes cause frequent thread switching through ```std::this_thread::yield()```.

[2017-09-17 21:53] #2905 closed

[2017-09-18 09:41] Element-126 commented on #2890
@hkaiser Thanks a lot ! I will pull your branch and try your fix today.

[2017-09-18 10:22] Element-126 commented on #2890
@hkaiser The fix seems to be working. Thanks again !

[2017-09-18 10:35] #2890 closed

[2017-09-19 01:03] K-ballo commented on #2904
I've reduced the clang/pack-short-circuit test case to this:

    #include <hpx/lcos/future.hpp>
    #include <hpx/util/unwrap.hpp>

    void f(int) {}
    int main() {
        hpx::util::unwrapping(f)
            (hpx::lcos::make_ready_future(42), hpx::lcos::make_ready_future());
    }

Does this also fail on Intel 17 for the master branch?

[2017-09-19 10:40] Naios commented on #2904
@K-ballo is this test failing on clang/MSVC as well?

[2017-09-19 15:00] Naios commented on #2904
Did you test whether

[code]

is still valid after applying the short circuit branch?
So there is no issue in the sort circuit implementation itself.
I took a short look over the branch and your improvements seem fine for me.

[2017-09-19 15:37] K-ballo commented on #2904
That snippet isn't valid neither after nor before. I fail to see how this is related, since the header that defines the trait isn't even included (including it doesn't make the code valid either).

In any event, I suggest focusing on fixing the issue with `unwrapping` on the master branch.

[2017-09-20 22:45] #2899 closed

[2017-09-21 14:01] biddisco commented on #2880
This was addressed by adding a numa balanced bind mode in #2900

[2017-09-21 14:01] #2880 closed

[2017-09-24 16:20] biddisco opened #2914 "Task assignment to current Pool has unintended consequences"
The changes made in the recent PR #2891 and specifically the commit 0c4b3b5f617086fc0a460e07ec06da473461ea7e has the unintended side effect that in our matrix code that uses one pool for communication and another for computation, that tasks made ready by the completion of the communication event are then placed on the mpi pool - where they perform poorly due to a there being only a few threads on

[2017-09-24 16:23] hkaiser commented on #2914
FWIW, by default, continuations should run on the same pool as the tasks they depend on.

[2017-09-24 17:53] biddisco commented on #2914
Yes. agreed. But in some cases, flagging that pool with a 'no default tasks' bit so that instead the continuations go onto the default pool would be useful. imho. Unless we go for option 2 above - or another solution. The reason I prefer this solution is basically because if you have to annotate every continuation with an executor and then change one thing - you have to go through all the places a

[2017-09-24 17:55] hkaiser commented on #2914
If the default behavior is not what is required, simply explicitly pass an executor representing the pool where things should run. I don't think we should introduce yet another way to control where/how things are scheduled to run.

[2017-09-26 22:37] krivenko opened #2916 "Weird runtime failures when using a channel and chained continuations"
I've been trying to implement a simple load balancing scheme, in which I dispatch actions to free localities/threads. A list of free resources is organized as a FIFO container and implemented using `hpx::lcos::channel`.

[code]

This program occasionally crashes with a variety of error messages.

[code]
[code]
[code]

My compiler is GCC 5.4.0, both HPX and the program above are built in the `Debug

[2017-09-28 08:26] biddisco commented on #2914
In the particular use case, we have a large number of matrix operations that are performed and generated futures, to which continuations are attached - certain of the continuations involve sending data to other nodes or receiving data from others and the task returned from the receive triggers a new wave of matrix operations. Unfortunately - the futures are part of a list with indexing based on bl

[2017-09-28 18:35] hkaiser commented on #2914
So all you need is a special pool type and wrap it into an executor - yes?

[2017-09-28 19:07] biddisco commented on #2914
I'm not sure I understand - we already have a special pool and a customized_pool_executor - the problem is that I don't know which tasks are which when the futures come ready and the continuation are attached - currently most of the futures come from the default pool - and continuations go to the default pool - but occasionally a matrix block arrives from the network (comms task) and that is done

[2017-09-29 01:03] hkaiser commented on #2914
Yes, I understand? What I'm wondering about is whether this wouldn't be a 'constant' property of the pool? I.e. whether a certain pool in your scenario wouldn't always return 'that it doesn't allow default tasks'. If that's true, then the above could be rewritten as:
[code]
Is that what you're looking for?

[2017-09-29 01:05] hkaiser commented on #2916
@krivenko I'm currently travelling but will look into this problem asap.

[2017-09-29 10:39] biddisco commented on #2914
yes, that's basically it, but first what I'm doing is upgrading the cholesky code to use a custom_pool_executor on the default pool for our matrix tasks, instead of a default_executor. This should solve the problem without requiring any changes inside hpx.

It makes me wonder if now the default_executor should be simply replaced by a typedef into a custom_pool_executor on the default pool. I will

[2017-09-29 10:41] biddisco commented on #2914
NB. above comment is not quite right because - we forgot to add priortiy and stacksize options to the custom_pool_executor, so I'm fixing that in hpx - so there are some changes needed, but not to the code we spoke about before.

[2017-09-29 14:50] msimberg opened #2918 "hpx::init calls wrong (first) callback when called multiple times"
The following code does not work as expected:

[code]

Expected output:
[code]

Actual output:
[code]

This is on latest master (`f032046`).

[2017-09-29 15:07] hkaiser commented on #2918
The second and third call to `hpx::init` should actually throw an exception. This is what needs to be fixed, not the callback invoked..

[2017-09-29 18:35] biddisco commented on #2918
Why is that - we used to be able to call init multiple times - is it because the 2nd and 3rd calls should not pass argc,argv since the command line has been parsed already?

[2017-09-29 23:38] hkaiser commented on #2918
@biddisco Yes, you're right - please disregard my comment above.

[2017-09-30 15:25] #2439 closed

[2017-09-30 18:54] hkaiser commented on #2916
@krivenko: I'm not able to reproduce the problem on my platform. I will add your test case to our buildbot testing infrastructure, let's see if the problem shows up there.

[2017-10-02 05:39] biddisco opened #2924 "hpx:attach-debugger=startup does not work any more"

[2017-10-02 08:58] biddisco opened #2925 "Default pool cannot be renamed"
When creating one pool per numa domain (for example), it would be nice to not have to name the first one "default" but instead be able to create pool0, pool1, pool2 etc etc

[2017-10-02 13:53] Naios commented on #2924
Maybe this is caused by b1b1debe41 or a3e1cfb4ef2.
@biddisco could you elaborate please, which flags you passed through the runtime or CMake configuration?

[2017-10-02 13:59] biddisco commented on #2924
I believe my cmake settings are very close to these
[code]

[2017-10-02 20:46] #2918 closed

[2017-10-03 12:40] teonnik opened #2927 "CMake warning: ... cycle in constraint graph"
I am writing a small numerical linear algebra library implementing a particular class of linear system solvers. At the moment my library uses MPI for distributed parallelization and a simplistic C++11 thread-based mechanism for shared memory parallelization. I would like to gradually incorporate HPX into my code. I decided to start by reimplementing my shared memory algorithms using HPX. However I

[2017-10-03 13:22] hkaiser commented on #2927
I don't think we have seen the 'cycle in the constraint graph' issue before. We'll investigate. You can however safely ignore the warning about the symbolic link.

[2017-10-04 13:02] biddisco commented on #2914
This was resolved by #2921

[2017-10-04 13:02] #2914 closed

[2017-10-04 16:22] kleinhenz commented on #2916
I've been able to reproduce this in `Release` mode on cori with gcc 6.3.0 on the current hpx master.
My error message was
[code]

The error is also intermittent for me.

[2017-10-04 19:00] hkaiser commented on #2916
@kleinhenz If you happen to see it in a Debug run, please post the backtrace here as well.

[2017-10-04 20:56] sithhell commented on #2916
I was able to reproduce the error locally as well with a undefined behavior sanitizer build. The error is the following:
[code]

[2017-10-04 21:18] #2925 closed

[2017-10-04 21:49] sithhell commented on #2916
After investigating a bit more, the error comes from a race between calling `close` on the channel and pushing a new value. This might lead to an exception being thrown when calling `free_resources.set(target.get());` once the channel has been closed, that is, the continuation is run after `free_resources.close(true)` has been called. To avoid this, you should either wait on the future returned by

[2017-10-04 22:25] sithhell commented on #2916
Ok, my initial analysis turned out to be wrong.
The problem was a dangling reference:
[code]
The captured reference here might outlive the variable if the continuation is called after `hpx_main` returns. This happens since we don't wait on the continuation to be completed. This can be fixed by either explicitly waiting on it or by capturing free_resources by value:
https://github.com/STEllAR-GROUP

[2017-10-04 23:08] hkaiser commented on #2916
@sithhell Nice catch! Thanks!

[2017-10-05 12:20] #2924 closed

[2017-10-05 16:15] krivenko commented on #2916
@sithhell Thank you very much for spending your time to analyze what was essentially my mistake!

I was under a wrong impression, that at the point where `hpx::finalize()` is called the reference is still valid, and `hpx::finalize()` waits for all still running continuations.

Anyhow, my example does not crash anymore. Feel free to close this issue.

[2017-10-05 16:46] hkaiser commented on #2916
`hpx::finalize()` does not wait. It just signals to the runtime that it is ok to shut down. The runtime will make sure all pending tasks are run to completion and will shut down eventually.

[2017-10-05 16:46] #2916 closed

[2017-10-05 19:17] biddisco opened #2931 "--hpx:help triggers unusual error with clang build"
hello world gives error when `--hpx:help` is used and when hpx is compiled with clang.
most unusual.

[code]

[2017-10-07 18:15] zao opened #2935 "Some distributed lcos unit tests for async callbacks have occasional failures"
On master commit 8ecf8197f9, `tests.unit.lcos.distributed.tcp.async_continue_cb_colocated` and `tests.unit.lcos.distributed.tcp.async_cb_remote_client` have had some failures in my test runs:

Test sources:
https://github.com/STEllAR-GROUP/hpx/blob/8ecf8197f9/tests/unit/lcos/async_cb_remote_client.cpp#L60-L64
https://github.com/STEllAR-GROUP/hpx/blob/master/tests/unit/lcos/async_continue_cb_coloca

[2017-10-08 17:39] spetruzza opened #2936 "Using executor with thread_stacksize_large for actions results in a SEG_FAULT"
Hi the following simple code gives me a SEG_FAULT:

[code]

If instead I use a local async call (i.e., without action) as following:
` hpx::future<int> out = hpx::async(fancy_executor, &testio);`
This works.

[2017-10-10 12:25] hkaiser opened #2940 "Add split_future for future<vector<T>>"
For some reason this was left out when we implemented split_future in the first place :/

[2017-10-10 13:41] hkaiser commented on #2940
After looking into this a bit more I now understand why we have not implemented split_future for std::vector yet.

Please consider:

    std::vector<future<T>> split_future(future<std::vector<T>> && f);

in order for this to work efficiently we need to know how many elements are stored in the input vector without waiting for the future to become ready (as waiting for the future to become ready jus

[2017-10-10 13:53] biddisco commented on #2940
I concur that it was omitted originally because the size was not known.

In the event that the user 'just happens' to know how many vectors elements to expect - would s/he not use a stds::array - which is supported.

Are you trying to create work for yourself - or do you need a vector - in which case your solution appears fine. if the vector had >N elements, you could throw, and if less, then the

[2017-10-10 16:13] teonnik commented on #2927
I am not entirely sure what was causing the problem but it disappeared when I rebuild into separate `/opt` directories for each package instead of the monolithic local `~./soft` directory which resembled `/usr/local`. I then tried to rebuild the library with `HPX_WITH_PARCELPORT_MPI=ON` using `OpenMPI 3.0.0` and `clang-5.0.0` and received a linking error.

## My build script
[code]

## CMake confi

[2017-10-10 22:29] spetruzza commented on #2940
This worked for me.
Thanks

[2017-10-11 07:01] teonnik commented on #2927
I don't encounter linking problems with `gcc 5.4`. The library is built without issues.

[2017-10-12 15:38] #2866 closed

[2017-10-12 18:19] hkaiser commented on #2700
I think we can close this now. Feel free to reopen if there are still places where the names are inconsistent.

[2017-10-12 18:19] #2700 closed

[2017-10-12 18:19] hkaiser commented on #2679
@biddisco Was this resolved by now?

[2017-10-12 18:20] hkaiser commented on #2566
I'll go ahead and close this as the release is out for quite some time now.

[2017-10-12 18:20] #2566 closed

[2017-10-12 18:21] hkaiser commented on #2528
@biddisco What is the status of this? Is that still an issue?

[2017-10-12 18:23] hkaiser commented on #2455
This was solved by merging #2745

[2017-10-12 18:23] #2455 closed

[2017-10-12 18:25] hkaiser commented on #2368
I'll close this as being resolved. Please feel free to reopen if the problem persists.

[2017-10-12 18:25] #2368 closed

[2017-10-12 18:25] hkaiser commented on #2325
@taeguk, @heller: has this been resolved now?

[2017-10-12 18:27] hkaiser commented on #2169
@sithhell What's the status of this?

[2017-10-12 18:52] hkaiser commented on #2026
This was fixed by merging #2606

[2017-10-12 18:52] #2026 closed

[2017-10-12 18:55] hkaiser commented on #1056
This has been resolved by now

[2017-10-12 18:55] #1056 closed

[2017-10-12 22:49] taeguk commented on #2325
@hkaiser I don't know. I have no test code which reproduces original problem. So I can't try to resolve this issue. Can I get the code which reproduces the problem?

[2017-10-13 04:27] #2785 closed

[2017-10-13 07:39] biddisco commented on #2679
this was resolved by #2680

[2017-10-13 07:39] #2679 closed

[2017-10-13 07:43] biddisco commented on #1205
I believe this has been fixed and the issue can be closed

[2017-10-13 11:37] msimberg opened #2947 "hpx.ini is not used correctly at initialization"
Using an `hpx.ini` file to set the number of threads for hpx does not work, i.e. a file `hpx.ini`:
[code]
which is loaded with `--hpx:config=hpx.ini` (same directory as executable) does not change `os_threads` (confirmed with `--hpx:dump-config`).

Changing the number of threads with `--hpx:ini=hpx.os_threads=n` or `--hpx:threads=n` works correctly.

This does not affect all config values. I was a

[2017-10-13 12:13] hkaiser commented on #2325
@taeguk, @sithhell Let's close this for now. We can always reopen it, if needed.

[2017-10-13 12:14] hkaiser commented on #1205
Let's close it for now. Please reopen, if needed.

[2017-10-13 12:15] hkaiser commented on #2947
Confirmed - will fix.

[2017-10-13 14:07] biddisco commented on #2528
I do not know the answer. Yes, it is still an issue because the problem still exists. However, it's not an issue now that we know what the problem is and how to work around it. My suspicion is that this is something that needs to be brought to the attention of the standards committee as it probably has not been addressed anywhere and some kind of correct behaviour should be decided/documented.

[2017-10-13 15:31] sithhell commented on #2325
Reopening again. The issue hasn't been worked ok. The partitioner still doesn't use the passed executors.

[2017-10-14 23:51] Geof23 opened #2948 "'make tests' failing in variant.hpp: variant::void_value has incomplete type"
commit d7111153f113b82d6d9a1fba44b690e8256348fd

Boost 1.55
GCC 4.9.4

[code]

[2017-10-15 00:24] hkaiser commented on #2948
Uhh, looks like Boost V1.55 misses to include some header in `<boost/variant.hpp>`. Do you have any idea what's missing?

[2017-10-15 00:27] hkaiser commented on #2948
@Geof23 Would you mind retrying after rolling back our `<hpx/runtime/serialization/variant.hpp>` to this: https://github.com/STEllAR-GROUP/hpx/blob/2f833b341cb1e1d61d517d09dab50c62a3487404/hpx/runtime/serialization/variant.hpp?

[2017-10-15 00:49] Geof23 commented on #2948
Hey Harmut, thanks for getting right to me.

Yes, regressing that file did the trick, apparently.  I'm building and
testing now.

Best -- Geof

On Sat, Oct 14, 2017 at 5:27 PM, Hartmut Kaiser <notifications@github.com>
wrote:

[2017-10-16 00:51] #2940 closed

[2017-10-16 08:11] biddisco opened #2949 "master branch giving lockups on shutdown"
example command line
[code]

[2017-10-16 08:12] sithhell commented on #2949
Thanks, will look into it.

[2017-10-16 11:42] hkaiser commented on #2947
@msimberg please verify whether #2953 is fixing your problem.

[2017-10-16 12:11] sithhell commented on #2935
The only reason I can think of why this is failing is that the back parcel (the one that sets the future ready) is being received before the callback is being called.
It's unclear to me if we should fix this or if this isn't a correct behavior in the first place, for which we have to adapt the unit tests.

[2017-10-16 14:52] zao opened #2954 "Use of `std::rand` has UB risk in tests"
The range of `std::rand` varies per OS, and on some Linux CRTs `RAND_MAX` is very close to `INT_MAX`.

In `tests.unit.parallel.algorithms.partition` we grab a random value from a seeded `std::rand` and use it as the middle value in a range `[rand_base - half_range, rand_base + half_range]` for `test_partition => test_partition_heavy => random_fill`.

When the random value is large enough, we overf

[2017-10-16 17:50] sithhell opened #2955 "Fix OS-Thread throttling"
The current behavior of attempting to shut down an entire OS thread when dynamically removing a PU from a thread pool seems to be not a good idea.

We should rather add a condition variable which checks if the OS thread is enabled or not and waits for the proper condition. This will be a clean solution and will not meddle with the shutdown procedure.

[2017-10-16 18:10] hkaiser commented on #2955
We already have this condition-variable: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/threads/policies/scheduler_base.hpp#L360

[2017-10-16 20:59] chinz07 opened #2956 "Mixing attribute syntaxes leads to compiler errors"
Clang will generate a compiler error if an attribute using the C++11 syntax is preceded by another attribute using the GCC syntax.

The only occurrence of this issue I have found so far is in hpx_finalize.hpp line 115.

[2017-10-16 21:16] hkaiser commented on #2954
@taeguk would you have time to look into this?

[2017-10-16 21:16] chinz07 opened #2958 "HPX_PLAIN_ACTION breaks due to missing include"
Compilation of
[code]
aborts with the error `invalid use of incomplete type ‘class hpx::lcos::base_lco_with_value<int, int, hpx::traits::detail::component_tag>`.

Including `hpx/include/lcos.hpp` fixes the issue but doing that seems pretty counterintuitive to me.

[2017-10-16 21:40] chinz07 opened #2959 "Program terminates during error handling"
While debugging the following code snippet
[code]
I encountered what seems to be a bug in the error handling path. The program aborts with the error
[code]
during unwinding.
The emitted stack trace is:
[code]

Since the original issue does not seem to be related to this bug, I will report it separately.

[2017-10-16 21:49] chinz07 opened #2960 "Instantiation of local_priority_queue_os_executor always fails"
During the initialization, the executor tries to access a pool with the ID "local_priority_queue_scheduler#1" which does not exist and subsequently throws an exception. If I use HPX 1.0.0 the failure disappears.

The following example reproduces the problem:
[code]

[2017-10-16 21:50] hkaiser commented on #2959
What would you expect to happen if an exception is thrown that is not handled?

[2017-10-16 21:52] hkaiser commented on #2960
The whole threading subsystem is currently in a state of flux. We have not gotten back to the higher-levels (i.e. executors) yet.

[2017-10-16 22:30] chinz07 commented on #2959
Even if I handle the exception in main, the issue persists since the exception handler is never reached during unwinding. At least the debugger never stops at the break point I have placed within the handler. If I continue the execution after the exception has been thrown the debugger only stops within the destructor of `boost::intrusive_ptr<hpx::threads::thread_data>` due to receiving SIGABRT, pr

[2017-10-16 22:37] chinz07 commented on #2960
Since I have migrated my code to pool_executor anyway, fixing this is not a priority for me. I just wanted to make sure that this bug will not be overlooked after the threading subsystem has settled down.

[2017-10-16 22:50] hkaiser commented on #2959
Could you please give us a small self-contained test that exposes the issue you're reporting on? The code in the original description does not expose any problems.

[2017-10-16 23:12] taeguk commented on #2954
@zao
Yes. you're right. I agree about your opinion. Using PRNG is better and recommended since c++11. I also think that we should replace ```std::rand```  to PRNG.

[2017-10-17 06:51] Praveenv98 commented on #2960
@chinz07 I think HPX 1.1.0 still has this problem though

[2017-10-17 07:36] msimberg commented on #2947
@hkaiser Thanks, this mostly fixes the problem. It seems like it sets the default number of threads to 1 though rather than the number of cores.

It also seems like it doesn't pick up any of the other ways of setting the ini file (HPX_INI, PWD, HOME etc.). If I set *any* valid path with --hpx:config it does load an ini file from those locations as well. Not sure if this is related or not. Should I

[2017-10-17 09:57] hkaiser commented on #2947
Confirmed, thanks for noticing this. Should be fixed now.

Could it be a matter of which file takes precedence? OTO, it might be fixed by the change I made.

No need, I think.

[2017-10-17 11:10] #2949 closed

[2017-10-17 14:21] chinz07 commented on #2960
@Praveenv98 Yes. I just wanted to point out that I agree that it might not make sense to fix this bug just yet but to wait until the underlying system is stable again. I don't wanted to imply that this issue should be closed. Sorry for the confusion.

[2017-10-17 14:54] chinz07 commented on #2959
That's weird. I can reproduce the issue with the provided code on my system every time. I use the following CMakeLists.txt to compile the code:
[code]
Which compiler have you used to test the code? Maybe the issue is exposed by a specific combination of compiler, flags and libraries.

I will investigate, try to come up with a reduced test case and report back ASAP.

[2017-10-17 16:01] hkaiser commented on #2959
What I meant is not that I don't see the exception, what I meant is that the code above behaves as it should (if we abstract ourselves from the underlying issue in the executor). The code throws an exception and the program terminates as the exception is not handled. Could you please give us some code which actually demonstrates the issue you're reporting?

[2017-10-17 18:33] chinz07 commented on #2959
I misunderstood your comment. Sorry.

The following code crashes while I would expect it to terminate normally after printing "Failure" since the exception should be caught.
[code]

[2017-10-17 18:57] jefftrull opened #2964 "parallel merge is not stable"
[merge_testcase.zip](https://github.com/STEllAR-GROUP/hpx/files/1392241/merge_testcase.zip)
The documentation for the merge algorithm states _For equivalent elements in the original two ranges, the elements from the first range precede the elements from the second range_.  I find that this is sometimes not the case when the parallel execution policy is chosen.

The attached testcase merges two ran

[2017-10-17 20:35] hkaiser commented on #2964
@taeguk: any comments?

[2017-10-18 07:07] msimberg commented on #2947
The original issue is solved now, thank you! The additional issue of loading from HPX_INI etc. still remains though.

[2017-10-18 09:28] hkaiser commented on #2947
@msimberg Could you explain one more time how to reproduce the issue you're trying to report, please? I'm not sure I understood what you're after.

[2017-10-18 09:32] #2956 closed

[2017-10-18 10:40] hkaiser commented on #2960
A first analysis shows that the executors of this type (i.e. the ones spawning new 'real' threads) have to be significantly adapted to the changes introduced by the resource partitioner. I'm not 100% sure how to proceed.

These schedulers currently attempt to access a pool from the resource partitioner which does not exist. Thus the user either has to explicitly create such a pool upfront (before

[2017-10-18 11:31] taeguk commented on #2964
@jefftrull Thanks for your bug report! I'll take a look in this weekend.

[2017-10-18 11:56] hkaiser commented on #2964
@taeguk: I added the test on a branch here: https://github.com/STEllAR-GROUP/hpx/tree/fixing_2964

@jefftrull: the problem is not reproducible for me (at least not with the test case you provided). This might become interesting ... ;-)

[2017-10-18 12:14] #2958 closed

[2017-10-18 13:09] jefftrull commented on #2964
Hi @hkaiser ! Did you try that threshold hack...

[2017-10-18 13:38] hkaiser commented on #2964
@jefftrull Ahh no. Will try, thanks.

[2017-10-18 13:42] hkaiser commented on #2964
@taeguk: we need to find a way to modify this value without editing the code. Executor parameters for the win! Something like:

    merge(execution::par.with(threshold([]() { return 10; })), ...)

or

    merge(execution::par.with(threshold(10)), ...)

or somesuch...

[2017-10-18 14:21] msimberg commented on #2947
All good now, thank you!

(For the record, the second issue was that an ini file gets loaded automatically from `PWD`, `HOME` etc. only when the `--hpx:config` option is set.)

[2017-10-19 12:22] #2947 closed

[2017-10-20 12:38] #2959 closed

[2017-10-21 06:57] taeguk commented on #2964
@jefftrull In PR #2967, I fixed the problem which you reported! Really thanks for your bug reporting! :)

[2017-10-21 11:09] taeguk commented on #2964
@hkaiser I agree that we need to find a way to modify the thredhold. The things you suggested seem good to me. ```execution::par.with(...)``` can be possible in now? Or we need to design and implement that to execution policy?

[2017-10-25 01:05] #2137 closed

[2017-10-25 21:22] teonnik commented on #2927
The linking issue was due to inconsistencies between how Boost and HPX were built. The warnings and the lining issue disappeared after rebuilding with the same compiler (`clang 5.0.0`).

[2017-10-25 21:22] #2927 closed

[2017-10-25 23:53] hkaiser commented on #2927
Thanks for keeping us updated on this!

[2017-10-27 05:51] biddisco opened #2977 "Make hwloc compulsory instead of optional"
As suggested in #2923 - we should make hwloc a requirement rather than an optional dependency.

Things to do

- Remove abstract topology class and virtual interface to hwloc_topology
- upgrade to hwloc 2.0 API (Due for release end Nov 2017)
- Improve CMake integration to allow hwloc 2.0 to be downloaded and built as part of the hpx compilation step if it is not found on the system. This may not be

[2017-10-27 11:16] hkaiser commented on #2977
Thanks John, this is the right step. I would however advise against integrating downloading/building of hwloc into our build system. Our build system is sufficiently complex as it is without that. If we followed that route we would need to do the same with Boost.

Let's rather create proper documentation on how to install hwloc if it's not available (or provide a separate (python) script for this)

[2017-11-02 17:42] K-ballo commented on #2904
This particular issue has been determined to be caused by pack traversal failing to map ranges of future types for Intel (most likely a bug on their end); more specifically, by the mechanism for remapping a container's allocator.

See: https://github.com/STEllAR-GROUP/hpx/tree/fixing-2904 for the minimum changes that "fix" the core build.

[2017-11-02 19:59] khuck opened #2980 "Move background thread APEX timer"
Currently, the APEX timer around the background thread sits in the wrong location.  Every time that the background thread checks for work, it gets timed, which introduces unnecessary overhead to APEX.

The apex_wrapper() object should be moved inside the background thread code, so that only in cases where there is work to do, it is timed.  apex::stop should be called in all cases (not yield), so t

[2017-11-04 19:58] hkaiser commented on #2904
This was fixed by merging #2981.

[2017-11-04 19:58] #2904 closed

[2017-11-05 13:48] biddisco opened #2987 "stack overflow detection producing false positives"
I have bugs in my code that cause segfaults. however the new stack overflow detection is frequently producing messages such as
"Stack overflow in coroutine at address 0x000056036def3790"

I'm not sure if anything can be done about this, or if it is serious enough to fix - since a genuine stack-overflow might be indistinguishable from a silly memory access error. I'm reporting this just in case the

[2017-11-05 14:16] hkaiser commented on #2987
As far as I'm aware, @ct-clmsn is already working on finding a solution.

[2017-11-05 17:07] ct-clmsn commented on #2987
@hkaiser @biddisco on it - getting close to a preliminary solution. hope to have something debugged by the end of today.

[2017-11-06 05:05] krivenko opened #2990 "--help will not work until all required options are provided"
I find it a bit annoying that `hpx_application --hpx:help` shows
[code]
instead of the actual help message if `reqopt` is defined as a `required()` option.
Could you change processing of `--hpx:help` so that it is completely independent of application-specific command line arguments?

[2017-11-06 13:36] hkaiser commented on #2990
@krivenko could you provide a small test case helping to reproduce your problem?

[2017-11-06 16:08] krivenko commented on #2990
[code]

[2017-11-06 18:08] hkaiser opened #2991 "run_as_os_thread locks up"
Maciej Brodowicz reported:

The following code locks up even if it shouldn't:
[code]

[2017-11-06 18:09] hkaiser commented on #2991
The problem is that currently our `parallel::execution::io_pool_executor` (used by run_as_os_thread) will wait in its destructor for all tasks to finish. Since the task scheduled by this executor is never returning (it's waiting for the mutex to become available (will happen only after the executor has been destroyed) the threads lock up.

[2017-11-09 14:20] msimberg opened #2996 "Build fails with HPX_WITH_HWLOC=OFF"
[code]

Relevant issue: #2977

@biddisco

[2017-11-10 09:18] biddisco opened #2997 "Executor consolidation and clarification/documentation"
Documentation for the following is incomplete/scarce and some executors may no longer be required.
As part of the ongoing cleaning up caused by the introduction of the resource_partitioner, and with a potential 1.1 release planned, the following executors need to be documented and/or deprecated.

The following exist in the runtime/threads or parallel namespaces
- pool_executor
creates tasks that a

[2017-11-10 12:56] biddisco opened #2999 "Change thread scheduling use of size_t for thread indexing"
Currently, the main thread_init_data structures and create_thread, register_thread (&etc) API, make use of a std::size_t parameter that is used to represent the thread number that a task should be assigned to.

In the majority of cases, the thread_num used is std::size_t(-1) and the assignment of task->thread is made by the scheduler based on a round robin assignment, or some other criteria which

[2017-11-11 15:44] #2990 closed

[2017-11-11 16:04] hkaiser commented on #2996
I think this can be easily fixed by adding dummy implementations for the missing virtual functions to `hpx::threads::noop_topology`.

@msimberg would you mind having a look? I don't think we should wait for #2977 just for this.

[2017-11-11 16:05] #2991 closed

[2017-11-12 12:26] biddisco commented on #2960
What is the use case for executors spawning "real threads"?
(If the user is writing code that requires the spawning tasks on 'extra' threads that were not part of the original allocation at startup, then it does not seem unreasonable to expect them to reserve some resources for their use with the resource partitioner at startup).

[2017-11-12 12:30] biddisco commented on #2960
If the use case is that the runs with one or more pools and at some point wants to create an extra thread (oversubscription) on the fly, put some tasks on it, then the obvious way to proceed to to create a dynamic pool at startup that has no threads assigned initially, and have these OS thread executors use the add_pu type functionality that we planned fot the resource partitioner, to create threa

[2017-11-13 08:26] msimberg commented on #2996
@hkaiser, @biddisco will have a look.

[2017-11-13 08:48] msimberg opened #3002 "Resource partitioner documentation"
Currently the resource partitioner lacks any kind of documentation except examples. It would be good to have some documentation before the next release.

[2017-11-13 10:01] msimberg opened #3003 "Suspension of runtime"
This is to collect feedback/wishes on suspending the runtime (putting threads to sleep rather than shutting down the whole runtime).

The main use case is situations where HPX cannot be used for the whole application (e.g. replacing OpenMP in an application that already uses MPI & OpenMP). This makes it easier for users to start integrating HPX piecewise into existing applications.

Currently this

[2017-11-13 15:38] sithhell commented on #2996
Didn't we agree to require hwloc now?

[2017-11-13 15:50] hkaiser commented on #2996
Shrug whatever. Adding the missing virtual functions is a matter of 5 minutes, making hwloc mandatory takes more time.

[2017-11-14 19:28] preejackie opened #3005 "Proposing " Async Graph's and its Dataflow operators to HPX using RDD's ""
Hi
This is basic idea for implementing Distributed Graphs in HPX runtime system. I have attached the link to google docs and 2 apache spark papers which present this idea. I hope implementing this will not disobey any of HPX laws (slow). It will be useful for Large scale applications (BIG DATA) where mutating data is not encouraged and needed such as data analytics, scientific applications etc.
Pl

[2017-11-14 19:31] pree-jackie commented on #3005
please copy and paste the link below
https://docs.google.com/document/d/1zH1PUhy37QsvzjoA8BPlvIqlUqFozJaPsePQ0Zo_3m0/edit?usp=sharing

[2017-11-15 13:23] msimberg opened #3006 "hwloc memory leak"
Address sanitizer reports the following leak related to hwloc:

[code]

I intend to fix this once I have the time, but in the meantime: @biddisco do you happen to know right away where the deletes are missing?

[2017-11-15 15:53] hkaiser commented on #3006
This is related to recent changes @biddisco has applied to the code base.

[2017-11-15 15:58] hkaiser commented on #3005
@pree-jackie have you seen this: https://github.com/STEllAR-GROUP/hpxflow?

[2017-11-15 16:15] pree-jackie commented on #3005
@hkaiser
Have you read the google docs ? I think hpx-flow is more specific for stream processing. But the above specified Resilient Distributed Datasets gives the abstraction over distributed memory, and HPX-FLOW is not for Distributed Graph & its parallel algorithms as far as I know.
Above papers present some good way for representing Distributed Graphs.
Thanks
pree

[2017-11-15 17:25] pree-jackie commented on #3005
This represents a possible way for having Graph component in HPX like partitioned vector, unorder map, and co-arrays. But I didn't think HPX-flow helps in creating distributed graphs for me.
@hkaiser  If you require some more explanation please let me know

[2017-11-15 22:37] biddisco commented on #3006
the `used_numa_domains_` variable is allocated and placed in a `shared_ptr` which is destroyed when thread_pool_base is destroyed. Breakpoints confirm for me that the destructor of `hpx_hwloc_bitmap_wrapper` is being called as expected. Could this be a false positive from asan? (or am I confused)

[2017-11-16 19:59] hkaiser commented on #3006
This has been fixed by merging #3011

[2017-11-16 19:59] #3006 closed

[2017-11-17 09:13] msimberg commented on #840
@sithhell, @biddisco #1401 is now closed. Can this one be closed as well or has something changed?

[2017-11-17 12:35] msimberg opened #3013 "hello_world occasionally prints multiple lines from a single OS-thread"
`hello_world` occasionally outputs something like this:

[code]

Not sure if related, but it also sometimes output something like this:
[code]

[2017-11-17 12:49] biddisco commented on #3013
I've noticed this too, it started around the time just before the HPX course when we found that things were not working properly and we thought it might be related to a shut-down bug. Recently I'm wondering if it is related to discussions that have taken place about races in async/dataflow/etc

[2017-11-17 13:48] hkaiser commented on #3013
I've come to the conclusion that this is a problem in the hello_world example itself. I have not looked close enough, though. The example relies on re-scheduling (HPX) threads until they run on a given os-thread, identified by a number. If that's somehow flawed (we changed thread numbering with the RP) it will cause subtle problems as described here.

[2017-11-17 13:51] hkaiser commented on #840
@biddisco I don't think this should be closed as the IB parcel-port we have is not fully functional yet.

[2017-11-17 18:10] biddisco commented on #3013
OK, in that case I'll take a look at it.

[2017-11-17 22:19] teonnik opened #3014 "HPX does not compile on POWER8 with gcc 5.4"
I encountered an issue building HPX on a POWER8 machine with gcc 5.4. Attached below are the `cmake` and `make` outputs. `cmake` runs without problems, `make` however fails.

System information

[code]

[hpx-make.txt](https://github.com/STEllAR-GROUP/hpx/files/1484013/hpx-make.txt)
[hpx-cmake.txt](https://github.com/STEllAR-GROUP/hpx/files/1484014/hpx-cmake.txt)

[2017-11-18 07:13] sithhell commented on #3014
Hi,

This is a known issue with 1.0 and has been fixed already on master. We are
planning on having a new release soon.

[2017-11-19 19:47] biddisco commented on #840
ok

[2017-11-20 21:40] diehlpk commented on #2987
@ct-clmsn Is it possible to switch off the stack overflow detection in release builds?

[2017-11-20 22:07] justwagle commented on #2987
@diehlpk I think you can configure HPX with DHPX_WITH_THREAD_STACKOVERFLOW_DETECTION=OFF.

[2017-11-20 23:40] hkaiser commented on #2987
We currently have two options: `HPX_WITH_THREAD_STACKOVERFLOW_DETECTION` and `DHPX_WITH_STACKOVERFLOW_DETECTION` which is a bug.

[2017-11-21 09:26] msimberg commented on #2233
Is this being worked on currently? Is this likely to be done for the next release?

[2017-11-21 09:29] msimberg commented on #2235
@felicepantaleo @Element-126 @rishabhkumar296 Just checking to see if there has been any progress on this? We're planning a release in the next few months and wondering if anything could make it into that release?

[2017-11-21 09:35] msimberg commented on #2307
Is this only a question of changing the description of the synchronous case in the example (not mentioning `async().get`)? Or has the API changed again in the meantime? If the former I can clean it up.

[2017-11-21 09:37] msimberg commented on #2333
Removing the milestone as the individual issues can be scheduled for milestones instead (and it's unlikely that all of them will be done for one milestone).

[2017-11-21 09:39] msimberg commented on #2480
@aserio Did you resolve your problem in the end?

[2017-11-21 09:46] msimberg commented on #2507
@sithhell
- For --hpx:attach-debugger, I suppose you'd want something more than the help text that is printed at startup/exception by hpx?
- For the usage of sanitizers, would it be enough to add a short text advising to add `-fno-omit-stack-pointer` and setting `HPX_WITH_STACKOVERFLOW_DETECTION=OFF`?

[2017-11-21 09:48] msimberg commented on #1441
@sithhell Is this still a problem?

[2017-11-21 09:49] msimberg commented on #1503
@sithhell @hkaiser Is this still something that will/should be fixed?

[2017-11-21 10:12] msimberg commented on #1645
@hkaiser Can this be closed now that #2762 is closed?

[2017-11-21 10:15] msimberg commented on #1760
Is this still a problem? Maybe this could be closed unless it has come up again elsewhere?

[2017-11-21 10:24] msimberg commented on #1982
@shwina Is this still a problem for you?

[2017-11-21 10:26] msimberg commented on #1988
@pagrubel Is this still a problem?

[2017-11-21 10:32] msimberg commented on #2092
@biddisco @sithhell @hkaiser Is there something blocking this? It's a small change... I guess the key question is:

[2017-11-21 11:58] shwina commented on #1982
Thanks @hkaiser and @msimberg. Would it be OK for me to close this issue? I am currently not using HPX and unable to confirm if this is still an issue.

[2017-11-21 12:00] msimberg commented on #1126
Is there something to be done here now that #2741 and #2829 are merged?

[2017-11-21 12:09] msimberg commented on #1141
Marked `inplace_merge` as done because #2978 was merged.

[2017-11-21 12:15] msimberg commented on #1258
- Would documenting the use of `make help` be enough for the first point?
- Are there any particular undocumented/badly documented cmake variables that you're thinking of? Otherwise I can volunteer to at least look for variables which don't have any documentation.

[2017-11-21 12:22] msimberg commented on #1418
Should this be closed? Is someone able to verify if this is still a problem?

[2017-11-21 12:29] msimberg commented on #3014
Closing as this is fixed in master.

[2017-11-21 12:29] #3014 closed

[2017-11-21 12:48] msimberg commented on #528
Is this still relevant?

[2017-11-21 15:12] hkaiser commented on #1126
I think we can close this as the issue has been addressed by #2829.

[2017-11-21 15:12] #1126 closed

[2017-11-21 15:52] ct-clmsn commented on #2987
@biddisco @hkaiser I'll be pushing a solution to merge for review this afternoon/evening. Still having issues getting a platform together that can work correctly. The "Ubuntu for Windows" environment has some issues that are making the stackoverflow detection a challenge to debug.

[2017-11-21 18:34] hkaiser commented on #2987
See #3016 and #3018 for fixing the configuration mess.

[2017-11-21 18:46] sithhell commented on #528
I think we can safely close this at the moment for not being relevant any more.

[2017-11-21 18:46] #528 closed

[2017-11-21 19:02] sithhell commented on #1258
Yeah, what I had in mind was a more thorough guide through the various
options describing their implications in more detail. A few example use
cases would help as well, for example how to enable the different
sanitizers. Common CMAKE_CXX_FLAGS options to enable various other helpful
things (for example -march=native or -pg) etc.

[2017-11-21 19:04] sithhell commented on #2092
Yeah, let's just remove the coupling of running in the tests target and add
a "how to run the tests" section in the docs.

[2017-11-21 19:43] aserio commented on #2507
@parsa

[2017-11-21 20:36] hkaiser commented on #2480
You will need to replace `#include <hpx/hpx_main.hpp>` with `#include <hpx/hpx_init.hpp>` and pass through `int argc, char* argv[]` from main to hpx::init:

[code]

[2017-11-21 20:36] #2480 closed

[2017-11-22 00:16] pagrubel commented on #1988
I have no idea

On Tue, Nov 21, 2017 at 3:26 AM, Mikael Simberg <notifications@github.com>
wrote:

[2017-11-22 07:11] sithhell commented on #2964
Reopening as the tests fail. See for example here:
http://rostam.cct.lsu.edu/builders/hpx_clang_4_boost_1_63_centos_x86_64_debug/builds/102/steps/run_unit_tests/logs/tests.unit.parallel.inplace_merge%20%2818.97%20sec%29

[2017-11-25 21:31] hkaiser commented on #2964
@taeguk would you be able to look into this error, please?

[2017-11-26 09:56] hkaiser opened #3027 "Implement all scheduling APIs in terms of executors"
Not all of our scheduling API has been ported to use executors yet. Here is a list of things that needs restructuring:

- [x] thread-scheduler executor customization points currently use `async` and `apply`
- [x] all `async(exec, ...)` overloads need to dispatch to `execution::async_execute(exec, ...)`
- [x] all `apply(exec, ...)` overloads need to dispatch to `execution::post(exec, ...)`
- [x] al

[2017-11-27 10:07] taeguk commented on #2964
@hkaiser I will look in this weekend.

[2017-11-29 09:36] ShmuelLevine opened #3031 "Errors linking libhpx.so due to missing references (master branch, commit 6679a8882)"
I was unable to build the above-noted version of HPX both on gcc (v. 7.2.0) and icc (18.0.1).  My development workstation (running Debian testing):
Linux dev 4.13.0-1-amd64 #1 SMP Debian 4.13.13-1 (2017-11-16) x86_64 GNU/Linux

With both compilers, the build failed when linking libhpx.so (I did not try with clang this time).  The error messages (similar for both) as follows:

[code]
I've had this

[2017-11-29 13:38] hkaiser commented on #3031
@K-ballo didn't you add linking with -latomic at some point? (besides, we should really get rid of boost.atomic, asap)

[2017-11-29 13:52] ShmuelLevine commented on #3031
Incidentally, I should point out that I made a mistake previously in my
build script so both times I built it with gcc and not icpc.

As such, although it seems likely that the issue is extant with icpc also,
I am unable to confirm it (for reasons yet unknown but likely system -
dependant, I am not yet able to successfully build with icpc

Shmuel

----------
From: Hartmut Kaiser <notifications@git

[2017-11-29 14:00] K-ballo commented on #3031
Yes, https://github.com/STEllAR-GROUP/hpx/blob/master/CMakeLists.txt#L1208-L1210

It'd be interesting to see what the results of the tests are for `hpx_check_for_cxx11_std_atomic` (https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/HPX_AddConfigTest.cmake#L385)

[2017-11-29 14:06] ShmuelLevine commented on #3031
That test succeeded…  I deleted CMakeCache.txt and re-ran twice just to be sure

From: Agustín Bergé [mailto:notifications@github.com]
Sent: November 29, 2017 9:01 AM
To: STEllAR-GROUP/hpx <hpx@noreply.github.com>
Cc: ShmuelLevine <shmuel.levine@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [STEllAR-GROUP/hpx] Errors linking libhpx.so due to missing references (master branch, commit

[2017-11-29 14:10] K-ballo commented on #3031
There's up to three tests being performed there. At least one of them will pass or else the configuration would have failed. It'd be interesting to know which of them succeeds. I imagine the first one is, "check if atomics work without the library". It would suggest that we need to somehow add `__int128` atomics to the feature test.

[2017-11-30 13:59] biddisco opened #3032 "Fix partitioner arg copy found in #2982"
The clang tidy fixes highlit a fix here https://github.com/STEllAR-GROUP/hpx/pull/2982/files/69463c83e47825205fbb10147b2d97b6726e1242#diff-f3b3662ac867dc1cda39d2ac7ce31ff2
that need to be addressed in a separate PR.

[2017-11-30 14:03] hkaiser commented on #3032
That links goes into nowhere, could you be a bit more specific, please?

[2017-11-30 14:22] biddisco commented on #3032
It looks as though @sithhell pushed a new commit that addresses the issue (and invalidates the link). If that is the case, then this issue can be closed immediately.

[2017-12-01 02:49] hkaiser opened #3034 "Use C++17 structured bindings for serialization"
In addition to the HPX serialization allowing to automatically serialize empty structs without explicit serialization functions we should add support for serializing brace-initializable types using structured bindings available in C++17 (see here for some examples: http://playfulprogramming.blogspot.com/2016/12/serializing-structs-with-c17-structured.html).

[2017-12-01 09:45] sithhell commented on #3032
Yes, this issue is resolved within #2982.

[2017-12-01 09:45] #3032 closed

[2017-12-01 14:20] sithhell opened #3037 "Make building of distributed containers optional"
One of the reasons our Circle-CI is taking so long is due to compiling the distributed container test cases.
I propose to make building the containers optional (defaulting to on), so that we have a chance to disable them for Circle-CI to have faster build round trips.
So the distributed containers would only be tested on rostam until the compile time and memory problems have been fixed.

What's th

[2017-12-01 14:31] hkaiser commented on #3037
We could enable them for the master branch only, avoiding to build them by default for PRs.

[2017-12-02 06:56] taeguk commented on #2964
@hkaiser @sithhell I looked into this error.
It seems the bug of libc++, not of our code.
https://git.codingcafe.org/Mirrors/llvm-mirror/libcxx/commit/25a78dcd773ce509469a2b892adbeac0c230cdb9

[2017-12-02 15:45] hkaiser commented on #2964
Ahh, thanks for investigating this more closely. Is it possible to disable the failing tests for the platforms we know are broken?

[2017-12-03 10:34] taeguk commented on #2964
@hkaiser For doing what you said, we may be able to use conditional build with checking ```HPX_CLANG_VERSION```. We should search that bug was fixed since exactly what version of libc++.

[2017-12-03 11:34] sithhell commented on #2964
You shouldn't check the clang version, but the stdlib version. This is a bug in libc++, you could also use libstdc++ with clang

[2017-12-03 14:43] taeguk commented on #2964
@sithhell Oops. Yes, you're right. I was strange...

[2017-12-04 14:33] biddisco opened #3043 "action_invoke_no_more_than is obsolete"
This was added to fix a certain problem that CSCS had some years ago, it has been superceded by sliding semaphore which is a better way of throttling tasks/actions.

It also fails tests regularly and impededs progress.

[2017-12-04 14:38] msimberg opened #3044 "Fix failing tests"
Currently the following tests fail regularly on buildbot:

- [x] [`tests.unit.parallel.inplace_merge`](http://rostam.cct.lsu.edu/builders/hpx_clang_3_8_boost_1_59_centos_x86_64_debug/builds/134/steps/run_unit_tests/logs/tests.unit.parallel.algorithms.inplace_merge%20%2817.02%20sec%29) (#2964)
- [x] [`tests.unit.threads.distributed.mpi.thread_stacksize`](http://rostam.cct.lsu.edu/builders/hpx_gcc_4

[2017-12-04 14:39] msimberg opened #3045 "Add (more) tests for resource partitioner"

[2017-12-04 15:42] sithhell commented on #3044
The move semantics tests have been fixed by #3038.

[2017-12-04 16:20] hkaiser commented on #3043
The feature implemented by `action_invoke_no_more_than` completely relies on registering special callback-functions with our action invocation mechanism. Removing this example does not solve any issues as it is currently broken not because of the functionality it demonstrates. The root cause for this example to be broken lies in some optimizations applied recently (see #3017).

[2017-12-05 12:43] msimberg opened #3048 "nqueen example fails occasionally"
The `nqueen` usually fails after a few times with the following error (with both `default` and `size N` commands):

[code]

[2017-12-05 12:45] msimberg opened #3049 "Fix/remove failing or outdated examples"
Broken examples:
- [x] `nqueen` (#3048)
- [x] `quickstart` (#3013)
- [x] `qt` (#3051)
- [ ] `jacobi`
- [ ] `jacobi_smp`
- [X] `quicksort` (#3226, #3236)
- [x] `init_globally` (#3211)

Examples to be removed:
- [x] `allgather`

Please update or comment if you know of examples that fail or should be removed.

[2017-12-05 12:50] msimberg opened #3050 "Version 1.1.0 must-haves"
This is to track/discuss issues that *have* to be fixed for the 1.1.0 release.

- [ ] Fix failing tests (#3044)
- [ ] Fix/remove failing examples (#3049)
- [x] resolve hwloc build issues (#2977, #2996, #3133)
- [x] Consistently use executors to schedule work (#3039)
- [x] Fix build warnings (when possible, see #3079, #3084)
- [x] Do not bind test running to cmake test build rule (#3052)
- [x] Asse

[2017-12-05 13:08] sithhell commented on #3049
Outdated candidates are:
[ ] `sheneos`
[ ] `interpolate1d`
[ ] `allgather`

[2017-12-05 13:12] msimberg commented on #985
As this is a very fundamental part of hpx, would it be worth it to simply link to [cppreference](http://en.cppreference.com/w/cpp/experimental/future) in our documentation (and the same for async, etc.). Or even use whatever text is on cppreference/in the proposals more or less verbatim?

What has been done so far with e.g. the parallel algorithms? It doesn't seem to match (in exact wording, not n

[2017-12-05 13:24] hkaiser commented on #3049
I'd agree for allgather to be outdated, sheneos/interpolated1d are not

[2017-12-05 13:32] hkaiser commented on #985
The docs we have for the algorithms were taken partially from the TS (very scarce), cppreference (we also directly link to the pages (see [here](https://stellar-group.github.io/hpx/docs/html/hpx/manual/parallel/parallel_algorithms.html#hpx.manual.parallel.parallel_algorithms.parallel_algorithms) for instance), and some home-grown prose. Most of the docs predate the cppreference pages.

[2017-12-05 14:43] msimberg commented on #2609
@biddisco @hkaiser Are there still API changes that you wish to see for the RP? If not, this can probably be closed (or more specific issues can be opened for whatever is missing).

[2017-12-05 19:06] sithhell commented on #3043
The test has been fixed with #3044. I don't think we should remove it.

[2017-12-05 19:31] SHANTAM29 commented on #2235
@msimberg  Is someone still working on this project? I want to work on this project. If someone is not working on it, I would like to do it.

[2017-12-05 22:00] hkaiser commented on #2235
@SHANTAM29 feel free. I don't think anybody is actively working on this.

[2017-12-06 07:11] biddisco commented on #3043
I did not want to remove the test - I wanted to remove the entire invoke_no_more_than feature. It was added for a specific problem, did not really help and has never been used since. Maintaining it just requires effort and I though it would be beneficial to prune it away.

[2017-12-06 07:27] sithhell commented on #3043
My mistake. I'm impartial here. What do others think?

[2017-12-06 13:41] hkaiser commented on #3043
Let's turn it into an example demonstrating what can be done using the action hooks.

[2017-12-06 14:23] hkaiser commented on #3044
@msimberg could you add a link for each failing test pointing to the build logs, please?

[2017-12-06 16:55] biddisco commented on #2235
@SHANTAM29 if you do begin work on it, please get in touch with me via email or other means for a chat. I have been poking around with this recently.

[2017-12-06 17:01] kleinhenz commented on #2931
I am also getting this error on macOS with clang 5.0.0

[2017-12-06 17:20] biddisco opened #3053 "segmented algorithm tests take too long to compile"
Compilation of the segmented algorithm tests takes a very long time, uses too much memory and has caused nodes to fail when I use `make -j` by mistake.

We should make segmented algorithms (or just their tests) optional until such time as they can be made more user friendly.

[2017-12-06 22:29] hkaiser commented on #2931
Does this happen in Debug as well? Would it be possible to pinpoint the `recursive_mutex` instance it's complaining about?

[2017-12-06 23:03] krivenko opened #3054 "Assertion failure when using bulk hpx::new_ in asynchronous mode"
I stumbled upon a weird assertion failure in `hpx/runtime/components/default_distribution_policy.hpp`.
You can reproduce it by adding the following lines to `tests/regressions/components/new_2848.cpp`
[code]
and running `new_2848_test` on more than one locality.
[code]
The weird part here is that `ids` are returned normally, and only the second call to `hpx::new_` crashes.

[2017-12-06 23:19] #2092 closed

[2017-12-07 08:40] msimberg commented on #3044
@hkaiser Good idea. I've added links to test/build failures. Some I've removed as they don't seem to fail anymore on the latest commits but I'll keep an eye on them in case they still pop up.

[2017-12-07 12:47] msimberg commented on #1982
Closing as the problem has not been reproduced. We can reopen if it comes up again.

[2017-12-07 12:47] #1982 closed

[2017-12-07 15:58] kleinhenz commented on #2931
I get the same error in the Debug build of hpx but unfortunately the error does not appear when run in lldb so I wasn't able to get a backtrace.

[2017-12-07 21:15] zao opened #3058 "minimal_timed_async_executor_test_exe fails to compile on master (d6f505c)"
Debian 9.2, Clang 3.8.1, C++14, Boost 1.65.1, RelWithDebInfo.
This failure was observed on a branch earlier, seems to have been merged onto master. There may be additional failures, didn't continue the build. The output below is from master commit d6f505c4b45a84379bf8dc120277c1631464562b.

According to @K-ballo on IRC:

[code]

[2017-12-07 22:53] aserio commented on #3053
@biddisco How long is a long time? I have been doing some thinking about this and I believe that we intend to develop more APIs on top of the segmented algorithms. Therefore, we should at least continue to make sure they are integrated properly into the library.

[2017-12-08 06:50] sithhell commented on #3053
Am 07.12.2017 11:54 nachm. schrieb "Adrian Serio" <notifications@github.com

@biddisco <https://github.com/biddisco> How long is a long time? I have
been doing some thinking about this and I believe that we intend to develop
more APIs on top of the segmented algorithms. Therefore, we should at least
continue to make sure they are integrated properly into the library.

I don't have the raw numbers.

[2017-12-08 07:43] sithhell commented on #3053
As a very rough point of measure, on circleci, the parallel unit tests take 1h8m to build. All the remaining ones take 34m. A significant amount of time is spent with building the segmented algorithms tests.

[2017-12-08 12:07] #3027 closed

[2017-12-08 15:34] zao commented on #3058
Please note that this fails already at compile time, blocking the building of tests in general and as such, prevents me from running the test suite.

[2017-12-08 15:39] K-ballo commented on #3058
I'm still looking into it.

@zao As a workaround you could build in C++11 mode, or disable return type deduction.

[2017-12-08 21:07] aserio commented on #3053
So we want to add a flag so that users can disable the parallel algorithm unit tests?

[2017-12-09 19:38] #2931 closed

[2017-12-11 08:33] #3058 closed

[2017-12-11 14:45] sithhell opened #3068 "hpx::lcos::condition_variable could be suspect to deadlocks"
The current code for `hpx::lcos::condition_variable` (and the `_any` variant) might lead to deadlocks.
The deadlock situation might, for example, be encountered, when concurrently calling `wait`.
The problem is, that the outer lock (provided from the caller) is being tried to be acquired unconditionally with the inner lock (protecting the `lcos::detail::condition_variable`) is being held.

[2017-12-11 16:52] hkaiser commented on #3068
I'd assume you're talking about this code: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/condition_variable.hpp#L50-L65

Here, the outer lock is re-acquired in the destructor of the `util::unlock_guard<>` while the inner lock is still being held (and for a good reason, btw). I'm not sure what you mean by 'unconditionally' in

What condition should have been applied to that re-acq

[2017-12-11 17:16] sithhell commented on #3068
Yes, I am talking about this code. The outer lock being re-acquired while the inner lock is being held is exactly what will lead to a deadlock:
[code]

With "uncoditionally", I meant that we don't consider that another lock might be held when trying to acquire the other.

[2017-12-14 09:53] taeguk commented on #3050
How about including #2325 ? Because ```seq``` is now used for temporarily avoiding that problem, the parallel algorithms use scan_partitioner have very bad performance.

[2017-12-14 16:34] aserio opened #3075 "Serializing a GID Fails"
I have come across an odd quirk while trying to checkpoint components. The test below should serialize the GID of the component, however, it fails with an exception. Naturally, checkpointing the GID is not my end goal, nevertheless, this test should still run and produce expected behavior:
[code]

[2017-12-14 16:39] sithhell commented on #3075
Am 14.12.2017 5:34 nachm. schrieb "Adrian Serio" <notifications@github.com>:

I have come across an odd quirk while trying to checkpoint components. The
test below should serialize the GID of the component, however, it fails
with an exception. Naturally, checkpointing the GID is not my end goal,
nevertheless, this test should still run and produce expected behavior:

Obvious questions: what except

[2017-12-14 17:23] aserio commented on #3075
Unhandled exception thrown: read access violation.
**std::_Tree_comp_alloc<std::_Tmap_traits<hpx::naming::gid_type const * __ptr64,hpx::naming::gid_type,std::less<hpx::naming::gid_type const * __ptr64>,std::allocator<std::pair<hpx::naming::gid_type const * __ptr64 const,hpx::naming::gid_type> >,0> >::_Myhead**(...) returned 0xFFFFFFFFFFFFFFFF. occurred

[2017-12-14 17:46] sithhell commented on #3075
Am 14.12.2017 6:23 nachm. schrieb "Adrian Serio" <notifications@github.com>:

Unhandled exception thrown: read access violation.
*std::_Tree_comp_alloc<std::_Tmap_traits<hpx::naming::gid_type const *
__ptr64,hpx::naming::gid_type,std::less<hpx::naming::gid_type const *
__ptr64>,std::allocator<std::pair<hpx::naming::gid_type const * __ptr64
const,hpx::naming::gid_type> >,0> >::_Myhead*(...) returne

[2017-12-14 18:33] hkaiser commented on #3075
I think we should not conflate the semantics of checkpointing an `id_type` with its functionality. Checkpointing a managed `id_type` should either

- throw an exception (as one might argue it does not make sense to save just the id of some object without saving the object itself, and if you checkpoint the bject there is no need for saving its id as well)
- force the `id_type` to be unmanaged befor

[2017-12-14 18:45] hkaiser commented on #3075
It does, btw.

[2017-12-14 20:13] sithhell commented on #3075
Yes, I know why serializing and `id_type` fails. The bigger problem I see here is to mix up serialization (in terms of sending a parcel) and checkpointing to a file.
From the looks of it, those are two fundamentally different operations, semantically.
I would like to avoid to amend the serialization code with special cases needed for checkpointing. I don't have a solution at hand.
I guess the sema

[2017-12-15 10:32] msimberg opened #3077 "Remove thread_pool_executors"
The `thread_pool_executor`s are currently broken (and have been for a while - the `thread_pool_executors` test hangs occasionally) and serve no real purpose now that one can suspend threads. It does not seem worth the effort to fix them.

[2017-12-15 15:03] hkaiser commented on #3077
I agree. We should provide alternatives for this when removing them, however. In the end it boils down to providing proper documentation explaining how to replace them.

[2017-12-15 15:08] biddisco commented on #3077
As per #2997  - if soome can tell me what these executors are for, I will have a go at doing some replacement/cleanup.

[2017-12-16 21:15] brjsp commented on #3068
@sithhell what lines of code correspond to T1 calls?

[2017-12-18 10:30] msimberg opened #3082 "Simplify custom thread pool creation"
Currently creating a new thread pool with a custom scheduling policy is easy:

[code]

but any other customization requires using the callback interface. For example to add a single scheduler mode flag:
[code]

While flexible, the callback interface is unnecessarily complicated for most use cases.

[2017-12-18 22:56] biddisco commented on #2997
This issue attracted remarkably little attention, so I'm just adding this comment to draw attention to it, now that the dashboard is getting greener.

[2017-12-21 06:05] victor-ludorum commented on #2590
@hkaiser Hello I am new to STELLAR-GROUP and I want to start working on this issue . Please guide me how to start ..

[2017-12-21 07:24] hkaiser commented on #2590
@victor-ludorum This is a documentation task. We'd very much appreciate it if you worked on this.

I think for you to start working on this issue you should first do two things: a) understand what is the functionality of `hpx::util::annotated_function`, and b) familiarize yourself with the documentation toolchain we use for HPX. The first can be done by looking at the source code (naturally there

[2017-12-21 07:27] victor-ludorum commented on #2590
@hkaiser Okay sir thanks for the reply . I will do as you have mentioned .

[2017-12-21 12:09] victor-ludorum commented on #2980
Hello @khuck I want to work on this issue . As you have explained that we have to move the apex timer code ( aprex_wrapper() object ) in the background thread . So , as per my understanding we have to move this code
` ` `
#if defined(HPX_HAVE_APEX)
                        // get the APEX data pointer, in case we are resuming the
                        // thread and have to restore any leaf timers

[2017-12-26 15:00] hkaiser commented on #3054
@krivenko my apologies for the long delay in fixing this problem... Please have a look at #3087 to see if this resolves the issue for you.

[2017-12-27 22:02] krivenko commented on #3054
@hkaiser No problem, it's holiday season after all.

Clang 5.0 does not want to compile #3087...
[code]

[2017-12-28 00:02] hkaiser commented on #3054
@krivenko should be fine now. Thanks!

[2017-12-31 15:27] hkaiser commented on #2987
This has been fixed by merging #3021

[2017-12-31 15:27] #2987 closed

[2017-12-31 15:28] hkaiser commented on #2955
@sithhell can this be closed now?

[2017-12-31 15:31] hkaiser commented on #2834
@taeguk has this been fixed by now?

[2017-12-31 15:39] hkaiser commented on #856
This can be closed as 'wontfix' as we have removed the security implementation altogether.

[2017-12-31 15:39] #856 closed

[2017-12-31 15:41] hkaiser commented on #726
I think this can be closed as it has been shown to work. Feel free to reopen if needed.

[2017-12-31 15:41] #726 closed

[2017-12-31 15:41] hkaiser commented on #701
This is obsolete by now. Closing...

[2017-12-31 15:41] #701 closed

[2018-01-01 05:24] taeguk commented on #2834
@hkaiser This has been not fixed by now. I thought that this is still suspicious. And I waited your reply until now.
How we go about this? Fixing this suspicious thing as I suggest? Or what should we do?

[2018-01-01 11:16] hkaiser commented on #2834
@taeguk I'd appreciate it for you to come up with a fix for this. Thanks!

[2018-01-01 12:45] taeguk opened #3088 "A strange thing in parallel::sort."
https://github.com/STEllAR-GROUP/hpx/blob/f63f4b953917386f28fff31c0fde8ce61634247e/hpx/parallel/algorithms/sort.hpp#L210-L214

```result```(hpx::future) is returned from ```execution::async_execute()```. So, if the task is running, ```result.has_exception()``` always returns ```false```.

As I think, that code block(L210-L214) is not necessary because anyhow the exception which is occurred in the

[2018-01-01 21:15] krivenko commented on #3054
@hkaiser Thanks a lot for fixing this issue!

I rechecked the test case from the first comment, as well as my HPX-based application. Neither of them exhibit the failure when compiled against `fixing_3054`.

[2018-01-01 23:12] #3054 closed

[2018-01-05 15:56] taeguk commented on #2325
@sithhell Can you give me the test cases that makes ```scan_partitioner``` strange?
I really want to address this issue. But I have no test code which reproduces original problem.

[2018-01-06 20:47] brjsp commented on #3068
This is a similiar issue to the one discussed in this article: http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2007/n2406.html (kindly provided by @K-ballo on IRC)

[2018-01-08 13:05] raymonwhite42 commented on #3034
I'll work on this soon.

[2018-01-08 13:09] hkaiser commented on #3034
FWIW, serialization of empty types is handled here: https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/serialization/access.hpp#L101.

[2018-01-08 14:42] #2834 closed

[2018-01-08 14:42] #3088 closed

[2018-01-10 14:32] #2964 closed

[2018-01-10 17:20] jefftrull commented on #2964
Thanks all!

[2018-01-12 09:43] sithhell commented on #2325
sorry for not getting back to you earlier ...
If you look at https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/parallel/util/scan_partitioner.hpp,
there are a few places where we use `dataflow(hpx::launch::sync, ...)` instead of making use of the passed executor (The PR mentioned above should point you to those places). By changing that to use the executors, you should see a failure in the test

[2018-01-12 22:51] TenGumis commented on #2980
@victor-ludorum do you work on this issue?

[2018-01-13 06:20] victor-ludorum commented on #2980
@TenGumis No, I have exam in my college so, I am not working on it. You may continue on it.

[2018-01-14 18:26] TenGumis commented on #2980
@victor-ludorum So, I want to take this issue. Can somebody answer for question asked by @victor-ludorum above?

[2018-01-14 18:29] victor-ludorum commented on #2980
@TenGumis Yeah!! you can work on it 😊 . All the best 👍

[2018-01-14 18:37] hkaiser commented on #2980
@khuck would you care to respond?

[2018-01-14 18:38] hkaiser commented on #3044
Re-opening as this was closed accidentally.

[2018-01-15 15:58] hkaiser opened #3102 "Introduce generic performance counter type returning an array of values"
Currently, the only performance counter type that is allowed/expected to return an array of values is `hpx::performance_counters::counter_histogram`. We additionally need a generic counter type, where the returned array is not implied to have any internal structure.

This issue proposes to add the performance counter type `hpx::performance_counters::raw_values_counter`.

[2018-01-16 09:22] msimberg commented on #2955
I think this can be closed now. @sithhell please reopen if you disagree.

[2018-01-16 09:22] #2955 closed

[2018-01-16 09:26] #3068 closed

[2018-01-18 13:55] #3031 closed

[2018-01-21 15:20] hkaiser commented on #2816
@taeguk I think this can be closed now, is that correct?

[2018-01-22 23:47] taeguk commented on #2816
@hkaiser No, it is not resolved yet.

[2018-01-23 12:21] sithhell opened #3121 "HPX_SMT_PAUSE is broken on non-x86 platforms when __GNUC__ is defined"
## Expected Behavior

The current code fails to compile due to a assembler error on non-x86 platforms using gcc.
The problem is here:
https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/config/compiler_fence.hpp#L29

## Actual Behavior

The code should compile fine with gcc on non-x86 platforms.

## Steps to Reproduce the Problem

Compile HPX on any non-X86 platform using gcc

[2018-01-23 19:16] K-ballo opened #3124 "Add hello_world_component to CI builds"
hello_world_component is deliberately excluded from the cmake build as it is intended to illustrate building by command line. It should be explicitly added to CI builds, to prevent it from accidentally breaking.

[2018-01-24 08:17] #3121 closed

[2018-01-27 07:48] taeguk commented on #2325
@sithhell I can't reproduce the problem.
I tested the unit tests that use ```scan_partitioner``` in hpx repository with various random seeds.
But I can't see strange things or fails of the tests.
Do you have any tests that reproduce the problem? And can you check one more whether this problem still exists in now?

[2018-01-30 23:06] krivenko opened #3134 "HPX_SERIALIZATION_SPLIT_FREE does not stop compiler from looking for serialize() method"
I want to enable HPX serialization of a library type, whose definition I cannot change. For this purpose I define a pair of free functions `save()`/`load()` and make use of `HPX_SERIALIZATION_SPLIT_FREE`. Unfortunately, the type in question has a method called `serialize()`, which has nothing to do with HPX and it apparently gets into the way of name lookup.

[code]
[code]
This example compiles if

[2018-01-30 23:23] hkaiser commented on #3134
@AntonBikineev is that something you'd be interested/able to look into?

[2018-01-31 10:29] AntonBikineev commented on #3134
@hkaiser yes, I would

[2018-01-31 11:44] sithhell commented on #3044
I just added a few more that keep appearing since the latest merges.

[2018-02-03 07:36] cogle opened #3139 "Error in is_heap_tests.hpp"
Currently in `is_heap_tests.hpp` lines `359-361` will not compile or will eventually not compile for any user using C++ 17.

The specific code causing this issue are the following lines

[code]

These lines match to a templated function with the following signature
[code]

This is a subtle bug but the `DataType` is now a `bool` due to `test_for_is_heap` being a bool; this becomes an issue because

[2018-02-03 11:01] taeguk commented on #2325
Reopen because of #3136

[2018-02-03 11:01] taeguk commented on #2325
Reopen because of #3136

[2018-02-03 14:56] hkaiser commented on #3139
@cogle Thanks for reporting this issue.

[2018-02-04 15:35] #3139 closed

[2018-02-05 22:09] #2977 closed

[2018-02-06 14:53] AntonBikineev commented on #3134
@hkaiser @krivenko
I'm not sure that the folowing algorithm is documented. If it's not, I think it would be of use to do that.
To determine a way to serialize a user-defined type, the HPX serialization performs the following compile-time computations:
1) check if the type is non-intrusively polymorphic (using the trait `is_nonintrusive_polymorphic`) and if so, use `polymorphic_nonintrusive_factory

[2018-02-06 15:46] hkaiser commented on #3134
@AntonBikineev thanks for this analysis. I think going with what you suggested for (2) would be a viable solution. We can always find a way to detect a member function with a particular signature for MSVC, if the one you suggested makes it choke. But I'd assume this should be fine.

[2018-02-06 15:52] sithhell commented on #3134
Would it make sense to just swap 3) and 5)?

[2018-02-06 16:54] krivenko commented on #3134
@AntonBikineev Thank you for clarifying the serialization protocol!

I think it would actually be more important to explain it in the docs than to fix this particular issue.
Solution (2) looks reasonable to me. It would certainly fix the problem I am concerned with at the moment.

[2018-02-06 17:37] AntonBikineev commented on #3134
@sithhell why would we prefer free functions over member-functions? IMHO, member-functions are stronger tied to the type being serialized than free functions, e.g. a user might have a default templated fallback for the types that are standard layout or whatever:
[code]

[2018-02-06 21:13] hkaiser commented on #3134
@AntonBikineev I'd say, please go ahead with (2)

[2018-02-07 07:48] msimberg commented on #2996
Closing because of #3133.

[2018-02-07 07:48] #2996 closed

[2018-02-07 14:09] AntonBikineev commented on #3134
@hkaiser,
Now I've run into another problem :)
Defining the trait (the second solution) doesn't work in our case, because the detection-idiom is subject to access checks that happen as a part of substitution process. This is why it doesn't work for the serialize method, which is often declared private.
Let's see what happens if we move this trait into the `hpx::serialization::access` class. Accord

[2018-02-07 14:58] hkaiser commented on #3134
@AntonBikineev fun!

[2018-02-08 14:55] hkaiser commented on #3003
@msimberg can this be closed now? It looks like it...

[2018-02-09 07:57] msimberg commented on #3003
@hkaiser Yes, it can be closed.

[2018-02-09 07:57] #3003 closed

[2018-02-10 02:06] parsa opened #3161 "Building HPX with hwloc 2.0.0 fails"
HPX fails to compile with hwloc 2.0.0 with error message: `error: use of undeclared identifier 'HWLOC_MEMBIND_REPLICATE'`. This is likely related to hwloc 2.0.0 itself and I expect it to be reproducible on any HPX setup that attempts to use it.

Compile log:
[code]

## Steps to Reproduce the Problem

[code]

## Specifications

  - HPX Version: 922deeb0bd
  - Platform (compiler, OS): Apple Clang, m

[2018-02-10 19:11] TenGumis commented on #2980
@khuck  ping

[2018-02-11 23:11] hkaiser opened #3165 "Compilation of parallel algorithms with HPX_WITH_DATAPAR is broken"
See https://github.com/STEllAR-GROUP/octotiger/issues/60

[2018-02-11 23:14] G-071 opened #3166 "Application (Octotiger) gets stuck on hpx::finalize when only using one thread"
## Expected Behavior

I am currently trying to move the changes I made in Octotiger to the master branch. Therefore I am moving away from HPX 1.0.0 to a more recent version. Expected behaviour: hpx::finalize still works as before for one or more threads.

## Actual Behavior

Octotiger (current master branch) itself compiles with a recent(ish) commit of HPX and also works as intended - unless I onl

[2018-02-12 05:53] #3134 closed

[2018-02-12 12:47] msimberg commented on #3166
@G-071 There was a problem like this earlier which should already be fixed in master. Could you try again with 0867f8aa21796812fbd834188a7687616e555dc3 or newer (i.e. anything after #3110 was merged)?

[2018-02-12 18:33] diehlpk opened #3167 "Update GSoC projects"
![klaus-01](https://user-images.githubusercontent.com/3922435/36112956-26bd721e-1023-11e8-97a9-21038f5a2f58.png)

[2018-02-12 18:36] diehlpk commented on #3167
![6722ace35608528b1c2128bbba68d6ca](https://user-images.githubusercontent.com/3922435/36113109-a331b08a-1023-11e8-8797-a2db97784d9b.png)

[2018-02-12 18:36] #3167 closed

[2018-02-12 18:38] diehlpk commented on #3167
![07454c4741c855faa93d6fe9ec97632a](https://user-images.githubusercontent.com/3922435/36113174-e1dd72a6-1023-11e8-964d-9752cfdf5ffa.png)

[2018-02-12 19:09] hkaiser commented on #3167
@diehlpk what is the purpose of this ticket?

[2018-02-12 19:15] diehlpk commented on #3167
it is for adding new e-mail addresses for new mentors to the wiki page. I asked how we did it in the previous years and this is how we did it.

[2018-02-12 19:15] G-071 commented on #3166
By now, I have a workaround for STEllAR-GROUP/octotiger#60 so I rebuilt everything with the current HPX master ( ef7360bf21cabe9ccc813e9d757746ec44feaa5a ) - The problem still persists!

[2018-02-12 19:17] hkaiser commented on #3167
@diehlpk we've never used the ticket system to add email addresses. The wiki is here, however: https://github.com/STEllAR-GROUP/hpx/wiki

[2018-02-13 08:24] msimberg commented on #3166
@G-071 Thanks for testing. Seeing as you already had the problem with c9f2c09d9378d920f7d68ce857ca3729014fc601 it is most certainly not what I suspected, as you've just confirmed as well.

I will try to get octotiger running to reproduce the problem. I assume you're on Linux? Does debug or release make a difference?

[2018-02-13 12:42] msimberg commented on #3166
Update: Would you mind trying to run with a different scheduler? Most probably you want to try `local-priority-fifo` or `abp-priority`. I was able to get `octotiger` to finish with those schedulers, and it consistently hangs with `local-priority-lifo`. Are you actually able to run `octotiger` successfully with HPX 1.0, one thread and `local-priority-lifo`?

I think I know what's causing the lifo s

[2018-02-13 15:24] #3165 closed

[2018-02-13 16:57] msimberg commented on #3166
There is now #3172 which should fix `local-priority-lifo`.

[2018-02-13 19:15] G-071 commented on #3166
I just tested your branch in #3172. Octotiger no longer gets stuck upon hpx::finalize when using it with:

This seems to have fixed the issue!

[2018-02-14 02:51] Geof23 opened #3173 "Some failed tests, hoping you can tell me what went wrong"
## Expected Behavior
I expected the 'make tests' suite to pass

## Actual Behavior

16 of 634 failed

## Steps to Reproduce the Problem

Well, just run 'make tests' on my system

## Specifications

... Please describe your environment

HPX commit 3e63f6a73114dc923028851d622db902a6473819
Ubuntu 16.04
Cuda 9 (V9.0.176)
gcc 7.2.0
slurm 17.11
MVAPICH2 gdr 2.3a

[cmakeCache_patch_lastTest.zip](https://

[2018-02-14 03:11] hkaiser commented on #3173
Most (if not all) of the 'failing' tests are supposed to fail. Those are 'must-fail' tests. It looks like that 2 tests failed because of actual problems, one of which was addressed just yesterday. We're currently working on fixing the remaining issues.

It might be helpful if you could list the tests that you believe actually failed for you in a comment to this ticket..

[2018-02-14 03:18] Geof23 commented on #3173
OK, good to hear.  I'm really excited about your work on this -- I'm
wanting to put it through some paces on some interesting hardware.

I'm pasting this into the issue area:  [thanks Harmut]

grep -B 5 'Test Failed' LastTest.log
Process 1 failed with an unexpected error code of -6 (expected 0)
Process 0 failed with an unexpected error code of -15 (expected 0)
<end of output>
Test time =   0.23 se

[2018-02-14 07:44] msimberg commented on #3166
Good to hear!

[2018-02-15 08:46] NK-Nikunj commented on #3124
I'd like to take this issue up.

[2018-02-15 13:09] hkaiser commented on #3124
@NK-Nikunj absolutely, feel free.

[2018-02-15 14:07] hkaiser opened #3175 "hpx::cout exposes it's own operator<<(T)"
hpx::cout (and related streams) should not expose their own operator<<(T) for the purpose of locking. All the functionality has to be moved to the virtual functions called from `std::ostream` and friends.

[2018-02-17 05:47] Geof23 commented on #3173
Hi @hkaiser, thanks for the info.

Can you be more specific with what you've fixed and what are expected failures?

I suppose I'm most concerned about the migrated component, partitioned vector and unordered map tests . . .

[2018-02-17 12:39] hkaiser commented on #3173
Right, those are the ones we have not seen failing before.

[2018-02-17 12:56] Geof23 commented on #3173
Oh, well, good to narrow it down.

If you have any news you may also contact me at Geof.sawaya@oculus.com

On Sat, Feb 17, 2018 at 4:39 AM Hartmut Kaiser <notifications@github.com>
wrote:

[2018-02-17 23:11] hkaiser opened #3180 "Schedulers that don't support suspend/resume are unusable"
All schedulers that don't support suspend/resume are currently not usable as the related functions are called from the resource partitioner unconditionally during startup, causing asserts to be fired.

[2018-02-18 00:08] hkaiser commented on #3180
@msimberg I added a possible patch for this to #3179 (I need it for FLeCSI anyways). Please review.

[2018-02-18 15:04] victor-ludorum commented on #1141
Hello @hkaiser !! As Many algorithms are already implemented . But I have made one list of the unimplemented algorithms .
**copy_backward
equal_range
is_permutation
lower_bound
upper_bound
move_backward
prev_permutation
next_permutation
nth_element
partition_point
pop_heap
push_heap
sort_heap
stable_sort
partial_sort**

and as we have one numeric adjacent_difference (numeric algorithm) ,
These thr

[2018-02-18 18:33] hkaiser commented on #1141
@victor-ludorum the algorithms listed here above are the ones specified for C++17.

`accumulate`, `inner_product`, and `partial_sum` are listed under a different name (`reduce`, `transform_reduce`, and `inclusive_scan`).

Somebody already tried to implement the heap algorithms, but that was abandoned (see #1914), feel free to revive that effort.

The algorithms related to sort are listed as not-im

[2018-02-18 18:39] biddisco opened #3181 "hwloc 2.0 breaks topo class and cannot be used"
We need to put in a cmake check for the hwloc version and give the user a warning or error if they try to use hwloc 2.0 with HPX.

(The topology of numa/memory and cores changes with hwloc 2 and it breaks the way we assign cores/etc).

[2018-02-18 18:40] biddisco commented on #3181
NB. This issue duplicates #3161

[2018-02-18 18:40] hkaiser commented on #3181
This is a duplicate for #3161

[2018-02-18 18:44] victor-ludorum commented on #1141
Thanks @hkaiser sir !! I will definitely work on these algorithms. So numeric algorithms are already implemented . Remaining algorithms which is important can be implemented , I hope.

[2018-02-19 07:50] sithhell commented on #3173
@Geof23 since you mentioned it's an interesting and new piece of hardware, I wouldn't be surprised if you uncovered some obscure bugs. First thing I'd like to know is if this hardware has more than 64 cores (including logical cores), that might explain unexpected behavior unless you configure everything with `HPX_WITH_MAX_CPU_COUNT=512` (or similar).

[2018-02-19 07:52] Geof23 commented on #3173
Hi Thomas -- yes, it is 80 logical cores.   I also set:

HPX_WITH_MAX_CPU_COUNT:STRING=80
HPX_WITH_MORE_THAN_64_THREADS:BOOL=TRUE

On Sun, Feb 18, 2018 at 11:50 PM, Thomas Heller <notifications@github.com>
wrote:

[2018-02-19 09:44] sithhell commented on #3173
Hmmm, would have been too easy ... Really hard to tell what's going on then. Would be interesting to rerun one of the failing tests in debug mode and see where they actually fail.
One thing that I noticed when skimming through the test log is that MPI complains about not being able to preallocate some buffers. What might actually help is to rebuild everything (with a clean build directory) without

[2018-02-19 09:47] Geof23 commented on #3173
Hi Thomas

. Would be interesting to rerun one of the failing tests in debug mode and
see where they actually fail.

I’m game.  I’ll let you know what happens on both counts.

Best — Geof

[2018-02-20 09:22] msimberg opened #3182 "bulk_then_execute has unexpected return type/does not compile"
The following snippet of code does not do what I would expect it to do:
[code]

## Expected Behavior

- with `fun1` I expect either that `.get()`ing the `future<void>` would block until all 100 invocations of `fun1` have finished or that it returns a `vector<future<void>>` like `bulk_async_execute`
- with `fun2` I expect it to compile and return a `vector<future<int>>`

## Actual Behavior

- with

[2018-02-20 12:31] #3180 closed

[2018-02-20 12:31] #3166 closed

[2018-02-21 09:29] #3048 closed

[2018-02-21 19:34] victor-ludorum commented on #2455
Hello @hkaiser , If you don't mind Can you open this issue . So, that I can discuss some relative stuff related to arithmetic counters here .

[2018-02-21 19:46] victor-ludorum commented on #2455
Sir, I have researched on this topic and found some statistical stuff which I have mentioned in my discussion at user group like
- count
- covariance
- density
- kurtosis
- moment

and some more important ones . Kindly suggest some more important stuff related to this.

And please suggest one more thing that do I have to implement numeric functions too.
like
- LOG
- EXP

As in this issue there is

[2018-02-21 23:13] hkaiser commented on #2455
@victor-ludorum FWIW, table 36 [on this page](https://stellar-group.github.io/hpx/docs/html/hpx/manual/performance_counters/counters.html) lists the existing arithmetic counters, and table 35 lists the existing statistical counters.

Also I'm not sure what `LOG` and 'EXP` are supposed to do - could you elaborate, please?

[2018-02-22 06:08] victor-ludorum commented on #2455
Thanks @hkaiser Sir!! I have gone through the links specified by you .

Actually, there are arithmetic counters like addition, subtraction .. Therefore, Is the implementation of **logarithms** and **exponentiation** is also required . Although these are not related to any statistical analysis.
But they are related to arithmetics therefore I have mentioned them . So, Kindly suggest some arithmetic

[2018-02-22 07:41] msimberg commented on #2455
Just for the record, I suggested the log and exp functions, but was just brainstorming and they might not be useful. And they're indeed not statistical operations. In the end (IMO) the non-statistical arithmetic performance counters are a matter of convenience (nothing is strictly *required*). It's always possible to do transformations on your data afterwards in the analysis software of your choic

[2018-02-22 07:50] victor-ludorum commented on #2455
@msimberg Thanks sir,:blush: for the reply . You have cleared my confusion . I would be pleased if you guide me further on this .

[2018-02-24 12:05] biddisco opened #3195 "Unnecessary customization point route causing performance penalty"
## Expected Behavior
The customization point is being invoked multiple times, due to an extra call in futures_factory::apply, removing this piece of code does not affect operation, but does improve performance.

https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/lcos/local/futures_factory.hpp#L186-L191

## Actual Behavior
[code]

[2018-02-25 14:14] #3161 closed

[2018-02-26 08:01] Anushi1998 commented on #2954
I have tried to come up with replacing std::rand() with the inbuilt mt19937 generator.I have a [diff](https://patch-diff.githubusercontent.com/raw/Anushi1998/hpx/pull/1.diff) file changing some code in [data_copy.cu](https://github.com/STEllAR-GROUP/hpx/blob/master/examples/compute/cuda/data_copy.cu).I would like to know if I am proceeding in the right direction so that I can continue changing 208

[2018-02-26 13:27] hkaiser commented on #2954
What's your rationale of using `std::chrono::high_resolution_clock` (instead of `std::time`) for generating the seed? I thought `std::random_device` was the 'proper' way of doing this nowadays.

Otherwise, sure - in order to use a standard random number generator you need to create an instance of and use it as a callable.

[2018-02-26 14:11] Anushi1998 commented on #2954
@hkaiser Sorry, I was unaware of this seeding technique.I have now changed it to `std::random_device`.
I hope [this](https://patch-diff.githubusercontent.com/raw/Anushi1998/hpx/pull/1.diff) now looks better :)

[2018-02-26 14:34] msimberg commented on #2954
This is subjective, but maybe you could:
- use `gen` as a name for the generator instead of `_rand`?
- whenever possible use an explicit distribution (like in the example [here](http://en.cppreference.com/w/cpp/numeric/random/uniform_int_distribution)) instead of using `x % n + y`?

[2018-02-26 15:21] victor-ludorum commented on #2455
@hkaiser , @msimberg Sir, I have figured out steps that should be taken to add new arithmetic counters . If its possible then Can I implement anyone new counter like _count_ or any else just to figure out more clearly all the work needed to add new counter . I know its a GSOC project and I can't work on them unless I have been selected or being assigned . So, just asking otherwise no problem 😊 .

[2018-02-26 18:48] Geof23 commented on #3173
Thomas, a quick question: is there a 'normal' way to configure the tests to
run with Slurm?

So what I've done is used a stream editor to modify all the
CTestTestfile.cmake's to insert 'srun'.

On Mon, Feb 19, 2018 at 1:47 AM, Geof Sawaya <geof.sawaya@gmail.com> wrote:

[2018-02-26 22:37] parsa opened #3200 "hpx::util::optional fails"
## Expected Behavior

The following piece of code should compile:
[code]
## Actual Behavior

The following error messages are produced:
[code]

For the record, the following code works:
[code]

[2018-02-27 01:28] hkaiser commented on #2455
@victor-ludorum In open source there is no rule saying that you can't work on something you're interested in. You don't have to ask for permission to try something, really.

[2018-02-27 13:43] victor-ludorum commented on #2455
Thanks @hkaiser I will work and submit a **PR** . So, that you can guide me how to improve that.

[2018-03-01 04:13] Geof23 opened #3207 "nvcc compile error:"
Please review below.  Please advise if you've some inkling of what to tweak

## Expected Behavior

Compilation to succeed.

## Actual Behavior

nvcc failed:

[code]
I'm not sure why this is happening, it's referring to a function call, where the function is defined in a header in the compilation unit.  Perhaps it has to do with template resolution, as the callee function and the caller are both de

[2018-03-01 12:19] sithhell commented on #3173
sorry for the late reply.

The normal way is to set the environment variable HPXRUN_RUNWRAPPER to srun. The tests are executed using a python script. By setting the runwrapper to srun, you'll get what you want. We usually execute our tests inside of something like a 'salloc -n2 -N2' job.

[2018-03-01 12:34] Geof23 commented on #3173
Hi Thomas — great, thanks for the info

On Thu, Mar 1, 2018 at 4:19 AM Thomas Heller <notifications@github.com>
wrote:

[2018-03-01 15:10] NK-Nikunj opened #3208 "init_globally throwing a run-time error"
## Expected Behavior

Should run properly

## Actual Behavior

[code]

[2018-03-02 03:24] Geof23 commented on #3173
Oh, so just a reaction to your comment: when you run the tests inside an
'salloc' session, does it then exec with mpiexec/mpirun?

I can't do that because my MPI is integrated with SLURM and doesn't provide
those.

On Thu, Mar 1, 2018 at 4:34 AM, Geof Sawaya <geof.sawaya@gmail.com> wrote:

[2018-03-02 11:04] msimberg commented on #3208
This seems to happen only in release mode.

I had a very similar issue (either release or debug throwing that error, and the other not, but I don't remember if it was the same way around) trying to make an HPX-enabled library, which in the end was related to me not linking to HPX correctly. It may not be the same, but could be related (I will look into this next week).

[2018-03-02 12:53] hkaiser commented on #3208
FWIW, we use a similar global initialization scheme to enable HPX in a Python environment and have not seen any issues recently (see: https://github.com/STEllAR-GROUP/phylanx/blob/master/python/src/init_hpx.cpp)

[2018-03-02 16:24] #3182 closed

[2018-03-02 16:24] #3200 closed

[2018-03-03 18:46] sithhell commented on #3173
Oh, in that case, we need to adapt the runscript. It is generated during the cmake step. So you'd need to change it somehow (not exactly sure how though) here: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/templates/hpxrun.py.in#L65-L75
The MPIEXEC and friends come out of CMake's FindMPI.cmake script ... what value does it have for you?

[2018-03-03 22:08] biddisco commented on #3195
After investigating this some more, I see that my problems stem from
[code]
because this gets forwarded onto the `parallel::execution::post` and the stacksize, priority and my new schedule hints are lost because the default parameters are used.

To fix this, we need to pass all those parameters along as well.  But this will cause some interface changes in other palces.

[2018-03-05 21:32] zao opened #3215 "Cannot build both tests and examples on MSVC with pseudo-dependencies enabled"
I'm building using VS 2017 version 15.6 with a CMake command lifted from the Appveyor build and tried making it build both tests and examples:

CMake bails out claiming there's duplicate targets:

     CMake Error at cmake/HPX_AddPseudoTarget.cmake:17 (add_custom_target):
      add_custom_target cannot create target "resource_partitioner" because
      another target with the same name already exi

[2018-03-05 21:44] hkaiser commented on #3215
For arcane reasons, all parts of our target names (i.e. `a.b.c`) have to be unique across the whole project (on Windows). So in this example `a`, `b`, and `c` can't be used more than once.

[2018-03-06 20:00] #3208 closed

[2018-03-07 02:20] Anushi1998 opened #3217 "Broken documentation building process"
The link to fibonacci.cpp in [docs](https://stellar-group.github.io/hpx/docs/html/hpx.html#hpx.tutorial.examples.fibonacci.setup) should be pointing to [this](https://github.com/STEllAR-GROUP/hpx/blob/master/examples/quickstart/fibonacci.cpp) code but it is pointing to a wrong [code](https://stellar-group.github.io/hpx/docs/html/code/examples/quickstart/fibonacci.cpp)

[2018-03-07 02:44] hkaiser commented on #3217
@Anushi1998 would you be able to create a PR fixing this?

[2018-03-07 03:06] Anushi1998 commented on #3217
Yes @hkaiser

[2018-03-07 10:30] xaguilar opened #3218 "Application hangs when using HPX statistic counters"
The application hangs when using one statistic counter if the counter is not explicitly stopped before terminating the program.

For example, the counter _/statistics{/threads{locality#0/total}/idle-rate}/average@500_

Having to stop the counters as a requirement is ok, my problem is that I can only stop the counters in a shutdown function registered with _hpx::register_shutdown_function_, however

[2018-03-07 15:26] MikaelMello commented on #2235
What is the status of `hpx::concurrent::vector` on the `concurrent_data_structures` branch?

[2018-03-07 16:58] dmarce1 opened #3219 "HPX link error on Cori"
## Expected Behavior

To build HPX.

## Actual Behavior

On linking libhpx.so, I get:

CMakeFiles/hpx.dir/util/serialize_exception.cpp.o: In function `void hpx::serialization::load<hpx::serialization::input_archive>(hpx::serialization::input_archive&, std::__exception_ptr::exception_ptr&, unsigned int)':
serialize_exception.cpp:(.text._ZN3hpx13serialization4loadINS0_13input_archiveEEEvRT_RNSt15__e

[2018-03-07 20:52] hkaiser commented on #3219
@G-071 do you see similar effects for your builds on Cori?

[2018-03-07 20:53] hkaiser commented on #2235
@MikaelMello both seem to be abandoned. Feel free to pick things up where others have left things.

[2018-03-08 06:36] Anushi1998 opened #3220 "GSoC 2018 Project Ideas"
"Re-Implementation of `hpx::util::unwrapped` " project is in both list (See [here](https://github.com/STEllAR-GROUP/hpx/wiki/GSoC-2018-Project-Ideas#vanguard-project-ideas) and point 4 in Table of Contents)

I think the classification of projects should be only at one place to avoid confusion :)

[2018-03-08 06:48] hkaiser commented on #3220
The original project listed was already assigned as a GSoC project last year. A lot was achieved but we still need to change some of our facilities (like `when_all` and `when_any`) to actually take advantage of the created unwrapping facilities. This would definitely still be a possible task for GSoC.

[2018-03-08 06:53] Anushi1998 commented on #3220
Yes Sure @hkaiser , but don't you think it should be only in one list?
These three projects I have figured out are not common to both

- Re-Implementation of hpx::util::unwrapped
- Parallel Algorithms for HPX
- Graphical and Terminal User Interface for Scimitar

[2018-03-08 16:42] dmarce1 commented on #3219
When I try to run on more than one node using Haswell nodes and GCC, I get a crash:

+ srun -u -n 2 -N 2 octotiger --hpx:threads=32 -Ihpx.parcel.bootstrap=mpi --hpx:localities 2 -Problem=moving_star -Max_level=3 -Odt=0.3 -Stoptime=0.2 -Xscale=20.0 -Omega=0.1 --hpx:bind=none -Stopstep=9
Unidentified node: Error detected by libibgni.so.  Subsequent operation may be unreliable.  IAA did not recognize

[2018-03-08 18:21] G-071 commented on #3219
Which commit of Octotiger are you currently using? Do you use the fix in the pull request STEllAR-GROUP/octotiger#63 which I opened earlier this week?

[2018-03-08 22:51] svanzwam opened #3221 "HPX on Mac OS X with HWLoc 2.0.0 fails to run"
## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. OS X 10.13.3 with hwloc 2.0.0 (installed by home-brew)
  1. Build HPX either in Release or Debug version
  1. Run hello_world_exe

[code]
## Specifications

  - HPX Version: 1.1
  - Platform (compiler, OS): OS X 10.13.3, compiler:
Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin

[2018-03-08 23:34] shailesh210 opened #3222 "Errors linking libhpx.so"
Hello,
I am trying to install hpx (master branch) on Ubuntu 16.04. I am facing a linker error saying this:

collect2: error: ld returned 1 exit status
src/CMakeFiles/hpx.dir/build.make:2722: recipe for target 'lib/libhpx.so.1.1.0' failed

 I realize that this is because the Boost regex library is not linked properly but I am not sure how to fix the issue.

I used the command like this :
`

`
and I

[2018-03-08 23:42] hkaiser commented on #3222
Please make sure that you link against the same Boost libraries you compiled against. Also please make sure that Boost was built using the same ABI as HPX, i.e. all has to be either `-std=c++11`/`-std=c++14`/`-std=c++17`.

[2018-03-09 07:51] msimberg commented on #3221
If we don't have a way of testing on OS X (I don't) in the short term I suggest we make hwloc < 2.0.0 a requirement for the next release and try to fix it for the next one. Objections? Does someone else have an OS X machine and the time to look into this?

[2018-03-09 07:53] AntonBikineev commented on #3221
@msimberg I'll take a look at this

[2018-03-09 07:54] msimberg commented on #3221
@AntonBikineev Great, thanks!

[2018-03-09 13:40] zao commented on #3221
I can repro this on a VM, please note the different hierarchies for `hwloc2` and `hwloc1` below.
[code]

[2018-03-09 13:43] zao commented on #3221
Looking at setup_pools, `numa_domains_` is empty at that point, so our hierarchy is probably way off target.
This is similar to the failures I had on DragonFlyBSD where hwloc didn't have enough OS support and thus didn't fit into our strict hierarchy.

[2018-03-09 14:47] xaguilar opened #3224 "HPX counters crashing the application"
Using HPX counters in a std::thread makes the program crash.

I create an additional thread to sample some HPX counters with a certain frequency using:

_sampler_thread = std::thread(&my_sampling_funct, this);_

Then if I create/use a counter in _my_sampling_funct_, the program crashes.

  - HPX Version: latest
  - Platform (compiler, OS): gcc 7.2.0, CentOS 7.4.1708

[2018-03-09 14:50] biddisco commented on #3181
The fix applied to #3161 only solved the building and not the execution of HPX with hwloc 2

[2018-03-09 14:57] dmarce1 commented on #3219
I am using afef65c6aa09785ff33b01ca8254b25a98f08faf, which is from before the new FMM kernels.

[2018-03-09 15:48] victor-ludorum commented on #2455
Hello @hkaiser @msimberg !!
As there are two types of Performance Counter which is **General Statistics** and **Arithmetic Performance Counter** as therein [Existing Performance Counter .](https://stellar-group.github.io/hpx/docs/html/hpx/manual/performance_counters/counters.html) So, I think as the new counter is also related to statistics in arithmetic performance counter, we should add new perf

[2018-03-09 20:05] biddisco commented on #3221
This is a duplicate of #3181 which was closed in error.

[2018-03-09 21:31] AntonBikineev commented on #3221
@zao Seems like the problem is in the changed hierarchy - numa-nodes now have a special depth, cores are not their children and `hwloc_get_next_child(node_obj, HWLOC_OBJ_CORE, nullptr);` returns 0...

[2018-03-09 21:42] hkaiser commented on #3224
Could you provide us with a small reproducing test case for this. The way you describe it does not allow for any diagnostics or even fixing. Thanks.

[2018-03-09 22:20] shailesh210 commented on #3222
Hi @hkaiser ,
Thanks for your help. The issue was finally resolved. I installed the Boost library using the bootstrap script and everything went smoothly.
Thanks again

[2018-03-09 22:20] #3222 closed

[2018-03-09 23:08] hkaiser commented on #3219
@dmarce1, @G-071 Can this be closed now?

[2018-03-10 01:24] G-071 commented on #3219
I do not think so (unless @dmarce1 has some news about it).

If I understood correctly, the crash @dmarce1 got in Octotiger is unrelated the one I fixed in  STEllAR-GROUP/octotiger#63 since it predates the new FMM kernels! If that problem persists we should open an issue in the Octotiger repository about it!

But the HPX link error reported here appears to be a whole other issue anyway! I have nev

[2018-03-10 10:34] RANJEET16520 commented on #3224
Could you give any kind of test case. I am not understand even where it will crash so don't know how to fix it. Thanks

[2018-03-10 11:44] hkaiser commented on #3224
@RANJEET16520 I didn't ask you to fix it. I asked you to give us some code that allows us to reproduce the problem you're seeing.

[2018-03-10 13:08] xaguilar commented on #3224
Hi all, I'm sorry that I wasn't clear enough when I opened the issue. Please find below a simplified example where this error occurs.

[code]

Please don't hesitate to ask me again if you need further assistance. Thanks!

[2018-03-10 13:18] RANJEET16520 commented on #3224
Thanks sir

On 10-Mar-2018 6:38 PM, "xaguilar" <notifications@github.com> wrote:

[2018-03-11 13:29] NK-Nikunj opened #3226 "memory_block is breaking, signaling SIGSEGV on a thread on creation and freeing"
## Expected Behavior

Should run properly

## Actual Behavior
[code]

## Steps to Reproduce the Problem

[code]

## Debugging

Using gdb, I was able to find that a thread was signaling SIGSEGV. This was due to breaking in memory_block itself.

[code]

Note: Above "memory_block" is the name of the compiled file, not to be confused with hpx::components::memory_block

[2018-03-11 15:00] victor-ludorum commented on #2455
Hello, @hkaiser I think my previous comment is bit unclear. So, I am clearing it further here.
Sir, what I meant is that there are some counters which are same in both statistics performance counter and Arithmetic Performance Counter like ```Max```, ```Min```, ```Median``` and ```Variance```. So, what I am thinking is that I can add same counters in both arithmetic and statistics performance count

[2018-03-11 15:24] victor-ludorum commented on #2455
Thanks, @hkaiser Sir, I will work on this and make things consistent 😊

[2018-03-11 18:54] Jakub-Golinowski opened #3227 "cmake macro add_hpx_executable() is not adding "_component" suffix to COMPONENT_DEPENDENCIES option."
## Expected Behaviour

cmake macro add_hpx_executable() has an option COMPONENT_DEPENDENCIES. Expected behaviour is that the "_component" suffix will be added automatically to the value following the COMPONENT_DEPENDENCIES option.

## Actual Behaviour
the "_component" suffix is not added automatically and <component_name> needs to contain the suffix. The concrete example follows below.

## Steps t

[2018-03-12 12:42] hkaiser commented on #3224
@RANJEET16520 Thanks for the code snippet. I'm not sure why you decided to create a new (kernel-) thread for your test function. I would advise not to do that. You should create an HPX thread instead. Either simply switch `std::thread` for `hpx::thread` or use `hpx::async` to launch your function on a new HPX thread. I personally prefer the latter as directly using `...::thread` does not (conceptu

[2018-03-12 12:42] #3224 closed

[2018-03-12 12:49] hkaiser commented on #3226
@sithhell this is caused by the recent changes to AGAS that unconditionally use the registered component-delete functions even for unknown component types: https://github.com/STEllAR-GROUP/hpx/blob/master/src/runtime/agas/server/primary_namespace_server.cpp#L1087.

While this in its own is a problem, apparently AGAS now does not know anything about the component types defined in the core library l

[2018-03-12 13:00] NK-Nikunj commented on #3226
@hkaiser I think this is the reason why the quicksort example is also failing.

In the quicksort example, the implementation is correct since it gives the output for both serial and parallel, but memory_block itself is breaking, so the output is a segmentation fault.

[2018-03-12 13:17] hkaiser commented on #3226
@NK-Nikunj I agree, quicksort fails for the same reasons.

[2018-03-12 15:14] dmarce1 commented on #3219
I retried with gcc 6.3 and the mentioned fixes above, and still get a time-out error. This is on the haswell cores.

[2018-03-12 17:06] xaguilar commented on #3224
Hi, thanks a lot for your explanation. I wasn't aware that blending kernel threads with HPX wasn't a good idea. I needed to sample the counters every certain period and as I already had a thread doing some work at a certain frequency, I just added the code in there. In any case, knowing now that doing this is not good, I'll move all that code to a function used together with _hpx::util::interval_t

[2018-03-13 10:25] hkaiser commented on #3226
@NK-Nikunj #3236 should fix the issues.

Also, instead of removing `memory_block` I'd suggest reimplementing it. The existing code base goes back to the very beginnings of HPX. Writing components is much simpler nowadays and a lot of the boilerplate in the current implementation can be removed and streamlined. The new `memory_block` component could even be added stand-alone, as an example.

[2018-03-13 11:57] NK-Nikunj commented on #3226
@hkaiser Ok, I will then work on reimplementing the memory_block and adding an example implementing the same.

[2018-03-13 15:29] #3124 closed

[2018-03-14 12:39] #3226 closed

[2018-03-15 20:45] victor-ludorum commented on #2455
Hello @hkaiser Sir!! I need one of your advice. In this arithmetic performance counter, we normally take the values from other performance counters, then perform the arithmetic operation on the sampled data collected over. We generally perform some statistical operation on it . So, what I am thinking is to implement rolling windows performance counter like ```rolling_mean```, ```rolling_variance``

[2018-03-15 21:28] hkaiser commented on #2455
@victor-ludorum The rolling-window statistical operations make perfect sense for the statistics counters as there we don't know upfront how many values we will have to do calculations on. OTOH, we _do_ know how many values we have to look at for the arithmetic counters. For this reason, I think creating rolling-window counterparts for those might not be necessary. What was your rationale to propos

[2018-03-16 10:32] victor-ludorum commented on #2455
@hkaiser Sir, Actually what I have got knowledge about these rolling operation is that they may operate over the last n samples of data. For example
```rolling_mean``` is used to calculate mean over the last n sample of data.
```rolling_sum``` is used to calculate sum over the last n samples of data.
```rolling_variance``` is used to calculate variance over the last sample of data.
So, I have thou

[2018-03-16 12:42] victor-ludorum commented on #2455
One more thing @hkaiser  Sir, in the file [Statistics_counter.cpp ](https://github.com/STEllAR-GROUP/hpx/blob/master/src/performance_counters/server/statistics_counter.cpp) and in [arithmetic performance counter](https://github.com/STEllAR-GROUP/hpx/blob/master/src/performance_counters/server/arithmetics_counter_extended.cpp) file , there is no commentation is done to demarcate the beginning of ne

[2018-03-16 17:29] hkaiser commented on #2455
We know how many values we will have to evaluate for the arithmetic counters. So the rolling-window functionalities are not needed, I think.

[2018-03-16 17:31] victor-ludorum commented on #2455
Okay @hkaiser !! Now I have understood the things. Thanks 😊 !!

[2018-03-17 15:14] victor-ludorum commented on #2327
Hello @hkaiser Sir, I am working on this issue and combining this project with **"Add more Arithmetic Performance Counters"** for the coming GSOC 2018. So, during the work, I have found a [histogram implementation](https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/util/histogram.hpp) in the HPX. Hence, I am thinking to take the help of this code to implement **Histogram performance counter**.
T

[2018-03-17 15:53] hkaiser commented on #2327
The data is entered by invoking the operator()() on the histogram object (https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/util/histogram.hpp#L107)

You might want to familiarize yourself with the Boost.Accumulators library (http://www.boost.org/doc/libs/1_66_0/doc/html/accumulators.html). The extractor is the facility used by this library to access the data in a generic way.

In order to repr

[2018-03-17 15:56] victor-ludorum commented on #2327
Thanks a lot @hkaiser sir!! I will study those files and then communicate with you if I got any problem.

[2018-03-18 16:29] #3221 closed

[2018-03-18 16:30] hkaiser commented on #3181
This was fixed by merging #3225

[2018-03-18 16:30] #3181 closed

[2018-03-19 05:43] RANJEET16520 commented on #3224
Hello Sir,
This program shows an error related to it's header file.
May be I am not able to compile this program,.
I am trying to compile this program from many days but it continuously
showing errors.
Thanks.

On 10-Mar-2018 6:38 PM, "xaguilar" <notifications@github.com> wrote:

[2018-03-19 08:16] xaguilar commented on #3224
Which header file? What errors do you have? I could compile this small example in my environment without any problems.

[2018-03-19 11:51] xaguilar opened #3244 "Slowing down and speeding up an interval_timer"
Hi,

I was checking the code in **hpx::util::interval_timer**  to slow down and speed up a timer and I'm a bit confused.

In the function **interval_timer::slow_down**  for example, the new value is chosen using **std::min** between the new value and a variation of the old one. For me, slowing down a timer would imply to increase the timer interval, and thus, using a greater value. For example goi

[2018-03-19 12:03] hkaiser commented on #3244
It's mostly a matter of how you interpret `slow-down` and `speed-up`. The current slow-down function makes the interval max 10% larger. The user is responsible for passing in a value for the timer that doesn't reduce the interval.

Granted, these are unusual semantics (mostly born out of historical necessity) and the functionality is not needed in HPX, currently. I'd suggest we completely remove i

[2018-03-19 12:05] hkaiser commented on #2327
Sounds like a plan to me.

[2018-03-19 12:07] hkaiser commented on #3224
@RANJEET16520 you'll have to be a bit more specific about what errors you're seeing. Also, in order to help we'd need to see the code that causes errors for you (or better, a minimal self-contained example that demonstrates the issue you're seeing).

[2018-03-19 13:16] xaguilar commented on #3244
Thanks a lot for your reply Hartmut! So what would you recommend to change the frequency of an interval_timer then? Destroy the old one and create a new one?

[2018-03-19 13:36] hkaiser commented on #3244
@xaguilar Ahh, so you need this functionality? In this case I'd suggest properly fixing the semantics and implementation of those functions. Would you mind working on this?

[2018-03-20 07:11] RANJEET16520 commented on #3224
Sir this error is shown by header files.
I am compiling this code from a week and it still not able to give any
output, except this error.

[2018-03-20 10:54] xaguilar commented on #3244
@hkaiser Sure, I can have a look at it.

[2018-03-20 11:22] hkaiser commented on #3224
@RANJEET16520 You're saying "...except this error". What error specifically? Can you paste it somewhere?

[2018-03-21 11:10] zao opened #3247 "Rare tests.unit.host_.block_allocator test failure on 1.1.0-rc1"
I've built HPX 1.1.0-rc1 on my Ryzen machine with Clang 3.8.1 in a Debian container and am running the test suite repeatedly.
Over 142 runs of the test suite on commit fee6ba2 `test.unit.host_.block_allocator` failed once with the following output:

[code]

[2018-03-21 11:11] zao opened #3248 "Rare tests.unit.lcos.local_dataflow_executor test failure on 1.1.0-rc1"
I've built HPX 1.1.0-rc1 on my Ryzen machine with Clang 3.8.1 in a Debian container and am running the test suite repeatedly.
Over 142 runs of the test suite on commit fee6ba2 `tests.unit.lcos.local_dataflow_executor` failed once with the following output:

[code]

[2018-03-22 06:47] gentryx commented on #3248
Test failures are never a good thing. But, taking the vast amount of tests into account, a single failing test for all of HPX, with >=143 repetitions, is pretty good, right?

I'm curious if this is triggered by a fault in the machine (e.g. a random bit flip) or if this is actually a rare race condition inside HPX. Could you limit the executed tests to the tests.unit.lcos.local_dataflow_executor su

[2018-03-22 13:48] msimberg commented on #2980
Closing because of #3245.

[2018-03-22 13:48] #2980 closed

[2018-03-22 14:35] msimberg commented on #3050
I'm closing this now in favor of individual tickets for remaining failures.

[2018-03-22 14:35] #3050 closed

[2018-03-22 15:01] msimberg commented on #3049
Closing this in favor of individual tickets for remaining failures (and milestones)

[2018-03-22 15:01] #3049 closed

[2018-03-22 15:47] shantanudwvd commented on #2235
Hi,
i would like to work on this project.

[2018-03-22 15:51] shantanudwvd commented on #3034
hi,
i would like to work on this. Can anyone guide me?

[2018-03-22 16:43] hkaiser commented on #3034
@shantanudwvd have you read the article linked above?

[2018-03-22 20:49] victor-ludorum commented on #2327
@hkaiser Hello Sir!! I want to ask one thing, is there anything in HPX which has visual or pictorial representation. Actually, I am thinking (_for future plan_ ) that if it is possible to implement histogram pictorially so that it would be much easier to gather information from it. Also if it is possible Can you suggest some ideas to add in histogram performance counter .
Please suggest!!
Thanks!!

[2018-03-22 21:00] zao commented on #3248
There are three tests failing on this box, `tcp.migrate_component` which is known on IRC since long and fails with a much higher rate, this, and the other one-off in #3247.
It takes some effort with my setup to run invididual tests but I've done it in the past.

[2018-03-22 22:44] zao commented on #3248
Ran that test alone, on the 1073rd run:
[code]

Considering the short test duration, this took minutes to happen again.

[2018-03-23 00:08] hkaiser commented on #2327
There is no pictorial representation for the histograms yet, at least nothing coherent. We've been using some python scripts to parse the generated output. Such a script would be a nice addition to your GSoC plan, I think.

I'm not sure what you're looking for. The idea is to create a performance counter that produces a histogram from the results returned by invoking any other counter several time

[2018-03-23 05:40] shantanudwvd commented on #3034
Yes I have read it.

Get Outlook for Android

On Thu, Mar 22, 2018 at 10:13 PM +0530, "Hartmut Kaiser" <notifications@github.com> wrote:

@shantanudwvd have you read the article linked above?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-23 11:16] hkaiser commented on #3034
Good, so what's you question? Also, I think we might be better off discussing this either on IRC or on the mailing list.

[2018-03-24 19:02] hkaiser opened #3252 "Parent thread reference incorrect"
If `HPX_HAVE_THREAD_PARENT_REFERENCE` is defined (`HPX_WITH_THREAD_DEBUG_INFO=On`) every HPX should hold a correct reference to its creating parent thread. This is reportedly not always the case and requires some investigation.

[2018-03-25 09:18] shantanudwvd commented on #3034
i'm quite comfortable with c++ but i'm new to this. So can you please guide me?

[2018-03-25 09:32] shantanudwvd commented on #2836
i want to work on this. Can anyone guide me as i'm new to this?

[2018-03-25 09:37] Guyanqi commented on #2235
Hey, this project looks great, I'd like to commit to it!

[2018-03-25 11:35] hkaiser commented on #2235
@shantanudwvd, @Guyanqi: Please get in contact on IRC or the hpx-users mailing list (see https://github.com/STEllAR-GROUP/hpx/blob/master/.github/SUPPORT.md).

[2018-03-25 15:55] K-ballo opened #3255 "Suspension with lock for --hpx:list-component-types"
Passing `--hpx:list-component-types` command line option results in termination due to lock held while suspending. Reproduces for top of master (and some older builds too) on Windows, but not Linux.

[code]

[2018-03-26 00:45] khuck commented on #3252
@hkaiser I may have found a clue - I had to handle the case where rebind_base() is called.  I think I handle that case correctly now.  It is in the apex_refactoring_fix_rebind branch, which hasn't been pushed yet, as I am still testing.

[2018-03-26 08:46] #3044 closed

[2018-03-26 08:55] msimberg opened #3257 "migrate_component test times out occasionally"
The `migrate_component` test occasionally times out. From what I can tell it always happens at the `test_migrate_busy_component2` step.

Typical output:

[code]

[2018-03-26 09:07] msimberg opened #3258 "Links to source code in documentation are broken"
For example on [this page](http://stellar.cct.lsu.edu/files/hpx-1.1.0/html/header/hpx/components/component_storage/migrate_from_storage_hpp.html), clicking "Header <hpx/components/component_storage/migrate_from_storage.hpp>" leads to a page which does not exist. It is pointing at http://stellar.cct.lsu.edu/files/hpx-1.1.0/html//boost//hpx/components/component_storage/migrate_from_storage.hpp.

For

[2018-03-26 13:20] hkaiser commented on #3258
We should be able to update this even after the release. I have no idea however where the `boost` part in the generated url comes from.

[2018-03-26 13:22] hkaiser commented on #3258
FWIW, the links miss a `code` part, i.e. this works:

http://stellar.cct.lsu.edu/files/hpx-1.1.0/html/code/hpx/components/component_storage/migrate_from_storage.hpp

[2018-03-26 14:28] msimberg opened #3259 "set_parcel_write_handler test fails occasionally"
This is another one of those tests that fail occasionally, but consistently. Typical output:

[code]

Possibly related to #2935.

[2018-03-26 15:26] hkaiser commented on #3259
This is most probably a race in the test itself.

[2018-03-27 19:02] hkaiser commented on #3258
@msimberg #3262 should fix this. I also updated the online docs for V1.1 using a similar patch.

[2018-03-27 19:19] msimberg commented on #3258
@hkaiser very nice, thanks a lot!

[2018-03-28 07:37] #3258 closed

[2018-03-28 08:43] msimberg opened #3263 "Documentation improvements"
This issue is meant to collect feedback on the **content** our current documentation. For presentation see #3263.

The feedback I've received is that while the documentation is quite comprehensive, it's difficult to find specific things, and it's difficult to get started with the very basics (essentially just building and compiling a hello world, and some of the pitfalls related to async, continua

[2018-03-28 09:46] msimberg commented on #3263
#2589

[2018-03-28 09:46] msimberg commented on #3263
#2590

[2018-03-28 11:18] msimberg opened #3264 "Possible move to Sphinx for documentation"
This issue is meant to collect feedback on the **appearance** of our current documentation. For content see #3263.

I am aware that this is a very subjective topic, so my hope is to find out:
- what people like
- if someone has had good/bad experiences with Sphinx
- if someone has experience with other tools than Sphinx, or
- if this is a waste of time.

In my opinion, the current documentation is

[2018-03-28 12:39] msimberg commented on #3264
Some interesting links off IRC provided by @hkaiser and @zao:

- good looking doxygen documentation: [http://mcss.mosra.cz/doxygen/](http://mcss.mosra.cz/doxygen/)
- Boost.Build documentation using asciidoc: [https://grafikrobot.github.io/b2doc/](https://grafikrobot.github.io/b2doc/)
- old-style but more readable Boost.Build documentation: [https://rawgit.com/grafikrobot/b2doc/90a793a12c675059e32a

[2018-03-29 11:20] msimberg opened #3267 "tests.unit.host_.block_allocator fails occasionally"
Another one which fails occasionally, but consistently. Typical output:

[code]

[2018-03-29 12:53] hkaiser commented on #3267
Probably some division by zero or similarly stupid error (`Floating point exception`)

[2018-03-29 13:30] msimberg commented on #3267
You're right, it was 0-sized allocations: #3269.

[2018-03-30 04:02] shailesh210 commented on #3043
Hello,
If no one is working on this issue, can I take this up? Also, a bit more explanation would be helpful.
Thanks in advance!

[2018-03-30 14:43] hkaiser commented on #3043
@shailesh210 please feel free to take this on. In essence, the functionality that is currently built into the core libraries (see https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/actions/action_invoke_no_more_than.hpp) should be removed from the core library and re-introduced as a freestanding example.

[2018-04-02 15:16] bremerm31 commented on #3263
I difficulty learning how to write distributed HPX from the documentation. In my opinion the documentation is really good as a reference for looking up how to write distributed HPX code. However, I remember originally I had a lot of difficulties adopting the examples to fit my own application. In particular, I think a few issues I had:
- Things like stencil-8 are a bit too optimized for the purpos

[2018-04-02 19:12] brjsp commented on #1338
Actually, copy_n already seems to work: https://github.com/brjsp/hpx/commit/694c72515f06dcc303468511d53ec0ae6825f5d0

[2018-04-03 07:17] msimberg commented on #3263
@bremerm31 thank you, that's very useful feedback (and all input is appreciated)!

[2018-04-03 10:48] KofToZ opened #3270 "Error when compiling CUDA examples"
When compiling data_copy.cu got the following error in optional.hpp

/usr/local/include/hpx/util/optional.hpp(244): error:
statement may not appear in a constexpr function

/usr/local/include/hpx/util/optional.hpp(246): error: a
constexpr function must contain exactly one return
statement

2 errors detected in the compilation of
"/tmp/tmpxft_00002044_00000000-4_data_copy.cpp4.ii".
CMake Error at
c

[2018-04-03 10:57] msimberg commented on #3270
Hi @KofToZ, I believe this was just fixed on master (#3268). Would you mind trying that out?

[2018-04-04 09:59] KofToZ commented on #3270
Thanks, the error seems to be fixed now, but the example still doesn't compile. Now it gives a new error:

nvcc fatal   : 'true -gencode arch=compute_50,code=sm_50':
expected true or false

[2018-04-05 11:47] #3267 closed

[2018-04-05 13:47] hkaiser opened #3272 "CircleCI does not upload generated docker image any more"
The new CircleCI V2 scripts do not upload the generated docker image anymore as some of the parallel algorithm tests fail to compile (OOM problems?). This causes all kind of problems for projects depending on the latest HPX master features.

Would it be possible to upload the docker file whenever the core libraries compile successfully (at least until the issue with the parallel algorithms has bee

[2018-04-05 17:36] msimberg commented on #3272
Sorry about that (and yes, looks like OOM problems). Had a quick look and it looks like it should be possible (the upload is a regular step in the workflow like any other). Will try to change it tomorrow.

[2018-04-05 18:07] hkaiser commented on #3272
@msimberg I started working on this by splitting up the failing tests into smaller ones (see https://github.com/STEllAR-GROUP/hpx/tree/fixing_3272). This seems to resolve things as well.

[2018-04-06 06:52] msimberg commented on #3037
@hkaiser please see #3265.

[2018-04-09 12:50] #3272 closed

[2018-04-09 13:02] hkaiser commented on #3272
@sithhell Thanks!

[2018-04-09 14:26] msimberg commented on #3263
I've uploaded a version of our documentation with slightly rearranged sections: [http://stellar.cct.lsu.edu/files/docs-playground/boostbook/html/index.html](http://stellar.cct.lsu.edu/files/docs-playground/boostbook/html/index.html).

So far the only new section is the quick start: [http://stellar.cct.lsu.edu/files/docs-playground/boostbook/html/hpx/applications.html](http://stellar.cct.lsu.edu/fi

[2018-04-09 14:26] msimberg commented on #3264
Sphinx template problems can be worked around (it's related to macro expansion and happens with boostbook as well, boostbook shows `unspecified` instead).

I've uploaded a small example of HPX documentation with Sphinx (without content, only a few namespaces for the reference): [http://stellar.cct.lsu.edu/files/docs-playground/sphinx/html/index.html](http://stellar.cct.lsu.edu/files/docs-playgroun

[2018-04-09 15:06] bremerm31 commented on #3263
I'm a big fan of the terminology section.

(Also: I think the link in the Accumulator example (3rd paragraph) to the Fibonacci example is currently just linking to the main documentation page).

[2018-04-09 15:45] msimberg commented on #3263
Good to hear. And the terminology section was there all along (not sure if you noticed?).

Yeah, links are most probably broken all over the place because of moving stuff around, so just patiently ignore that for now.

[2018-04-10 06:09] sithhell commented on #3264
The new boostbook css is broken on my phone. I very much like the Sphinx
mockup though!

Mikael Simberg <notifications@github.com> schrieb am Mo., 9. Apr. 2018
16:26:

[2018-04-10 07:03] msimberg commented on #3264
@sithhell thanks for checking! What does broken mean to you? I admit I didn't test it extensively, just wanted to try something out that looks a bit nicer.

[2018-04-10 18:08] rasolca opened #3280 "HPX fails on OSX"
Memory bind setting is not supported by OSX, therefore the function `topology::set_area_membind_nodeset` in `src/runtime/threads/topology.cpp:1238`
fails and throws an exception.

HPX Version: master

[2018-04-10 19:56] hkaiser commented on #3280
@rasolca Thanks for reporting!

@biddisco would you mind looking into this?

[2018-04-11 11:43] msimberg commented on #3280
We concluded with @rasolca that it would be enough to just disable the hwloc calls in `set_area_membind_nodeset` on OSX (the same way that setting thread affinities is disabled on OSX). I will open a PR for this.

For the record, `topology::allocate_membind` fails on OSX if one sets the `HWLOC_MEMBIND_STRICT` flag but as the flags are an argument to `allocate_membind` the user can decide what beha

[2018-04-12 10:16] #3270 closed

[2018-04-13 14:09] mtaillefumier opened #3285 "possible compilation error when "using namespace std;" is defined before including "hpx" headers files"
a compilation error may occur when "using namespace std;" is defined before including hpx header files. I can only reproduce this error with my code though and have no very simple test code where the error appears.

## Expected Behavior

I expected the compilation not to fail.

## Actual Behavior

g++ returns this

[code]
if we have this in an header file:

[code]
removing the using namespace std;

[2018-04-13 14:28] hkaiser commented on #3285
@mtaillefumier I'm not sure how to fix this if you can't provide some code reproducing it. Does it help if you rename that `set` function?

[2018-04-13 14:30] hkaiser commented on #3285
Besides, I'd strongly suggest _not_ to use any `using namespace ...;` in any header file (at least not at global scope).

[2018-04-13 14:44] mtaillefumier commented on #3285
Renaming the function would work unless it is a function defined in the std library. Actually the only clean way to fix this problem is to remove the "using namespace std;" from the code.

I honestly do not know if it is actually an issue (I consider that I made a programming error) with hpx or g++ being a bit too naive with templates. I will try to have a very simple code reproducing the error.

[2018-04-15 16:42] Anushi1998 opened #3290 "make tests failing at hello_world_component"
`make tests` is giving following error at commit `bee515038e`
[code]

But `make tests` are passing at commit `69100ee061` successfully.

[2018-04-15 17:24] NK-Nikunj commented on #3290
@Anushi1998 seems like it's happening with gcc. The circle script with clang runs just fine.

[2018-04-16 07:12] NK-Nikunj commented on #3264
@msimberg sphinx templates looks pleasing to the eye. It should encourage the users to explore topics and sub-topics in an efficient manner.

[2018-04-19 07:49] #2650 closed

[2018-04-20 16:42] victor-ludorum commented on #2327
@hkaiser Hello Sir!!
I have some doubts.
How can I add a test to show the working of new **Histogram Performance counter**? Actually, in the **Arithmetic Performance Counter** implementation, I haven't seen any test file regarding that. Therefore, I have confusion. I have also searched for the other performance counters. But I haven't found much relevant just one or two like this [statistics_2666.

[2018-04-22 13:47] hkaiser commented on #2327
@victor-ludorum you're right, we don't have extensive tests for our performance counters. Feel free to come up with a new scheme to test those.

Feel free to use what you see. Most probably you will have to modify things here and there to make it fit into your plans, however.

[2018-04-22 13:48] #3290 closed

[2018-04-22 13:54] victor-ludorum commented on #2327
@hkaiser Thanks, Sir!! I have done some work. Please have a review if you got some time.  This is the link (https://github.com/victor-ludorum/hpx/pull/2).

[2018-04-22 13:56] hkaiser commented on #2327
@victor-ludorum yes, I have seen this. I think @msimberg has done a nice review and has put together a comprehensive list of comments for you to work on.

[2018-04-22 13:58] victor-ludorum commented on #2327
@hkaiser Okay Sir!! Thanks a lot!! I will follow yours and Simberg Sir advice.
Thanks once again!!

[2018-04-23 15:39] khuck opened #3296 "Building HPX with APEX configuration gives compiler warnings"
## Expected Behavior

I don't expect compiler warnings.

## Actual Behavior

The compiler is warning about unused variables in the annotated_function() constructors.  This might be related to annotated_function issues

## Steps to Reproduce the Problem

Configure HPX with these additional APEX related config options:
[code]

## Specifications

This happens with Apple Clang++ 9.1.0 (Xcode) on OSX 1