[2020-10-26 08:06] msimberg commented on #5026
Thanks @nithin-nod for the report. Could you please provide the full CMake configuration output?

[2020-10-27 05:20] nithin-nod commented on #5026
Sorry, it was my own environment problem. It's fixed, thanks!

[2020-10-27 05:20] #5026 closed

[2020-10-27 07:38] msimberg commented on #5026
Good to hear! If you have a moment, other people might appreciate knowing what the problem was in case they bump into something similar.

[2020-10-28 22:33] hkaiser commented on #4053
I think we can close this now. Please reopen if necessary.

[2020-10-28 22:33] #4053 closed

[2020-10-30 15:59] scheherzade opened #5035 "Build with HPX_WITH_EXAMPLES fails"
HPX build falis when ```HPX_WITH_EXAMPLES``` is on.

## Actual Behavior
This is the error message I get:
[code]

## Steps to Reproduce the Problem
Build HPX without setting any specific flags.

## Specifications
  - HPX Version: master
  - Platform (compiler, OS): Linux, Fedora32, GCC 10.2.1

[code]

[2020-10-30 17:17] diehlpk opened #5038 "Not all examples link in the latest HPX master"
## Expected Behavior

All examples should compile

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX with examples

## Specifications

... Please describe your environment

  - HPX Version: master
  - Platform (compiler, OS): not relevant

[2020-10-30 18:20] msimberg commented on #5038
Duplicate of #5035.

[2020-10-30 18:20] #5038 closed

[2020-10-30 18:23] msimberg commented on #5035
This is most likely specific to newer GCCs. Our gcc-newest builder (with GCC 10) has the distributed runtime off, so these examples don't get built. gcc-oldest (with GCC 7) has examples enabled but these build fine there. All versions of clang seem to be OK. @hkaiser do you already have a suspect or would you need help to reproduce/fix this?

[2020-10-30 21:44] hkaiser commented on #5035
@msimberg I don't have a suspect ATM, so any help you can provide would be great. In the end it's most probably just a missing header #include somewhere.

[2020-11-02 18:09] scheherzade commented on #5035
PR [Fix GCC 10 release builds #5039](https://github.com/STEllAR-GROUP/hpx/pull/5039) fixes it, thanks!

[2020-11-02 18:09] #5035 closed

[2020-11-06 14:57] msimberg opened #5045 "Implement P0443 senders and receivers"
This is a tracking issue for the *new and improved* P0443 (previous issue was here: https://github.com/STEllAR-GROUP/hpx/issues/2439). As with the previous issue, things are still in progress, so we can't really go all in yet, but we can explore things and see what changes are required.

I'm starting this by collecting the relevant proposals here:
- A Unified Executors Proposal for C++: https://wg

[2020-11-06 14:58] msimberg commented on #5045
I have local changes to add the remaining CPOs defined in P0443, and some basic senders/receivers that work on our thread pools. I'll be opening a PR next week...

[2020-11-07 10:14] aurianer opened #5049 "Change back the hipcc jenkins config to the fury partition on rostam"
Change back the hipcc jenkins config to `fury` on rostam once hip main work is done to allow the use of 2 nodes instead of just one.

[2020-11-11 19:29] tiagofgon opened #5052 "How to create a migratable component with locking_hook"
## Steps to Reproduce the Problem

I'm trying to create a migratable component, a component with hpx::components::abstract_migration_support in their class definition. In my use case, the component I want to create is derived from another component. My shot was combine **hpx::components::abstract_migration_support** with **hpx::components::locking_hook**, to have a lock mechanism, but without succ

[2020-11-12 16:40] gonidelis commented on #4822
@hkaiser  Please delte `transform` obsolete PRs and replace them with #5051. Thanks :)

[2020-11-12 16:44] gonidelis commented on #3646
@hkaiser Please replace the obsolete `transform` PRs with the new one #5051. Thanks :)

[2020-11-23 22:31] diehlpk opened #5062 "Adding HPX to task-bench"
One question at the SC panel was, if we can add HPX to

- https://github.com/StanfordLegion/task-bench
- https://www.computer.org/csdl/pds/api/csdl/proceedings/download-article/1oeOToMWZBC/pdf

[2020-11-24 08:45] msimberg commented on #5062
Thanks for bumping this @diehlpk! We already have https://github.com/STEllAR-GROUP/hpx/issues/4274 so I'm going to close this one. I have marked the previous issue as high priority though. I had a quick look at the existing implementations and it looks like it wouldn't be a huge amount of work to add implementations using HPX. Now if only we could find a motivated student to do this... I think thi

[2020-11-24 08:45] #5062 closed

[2020-12-02 05:31] pvthuyet opened #5067 "Bug string_util/split.hpp"
## 1. split a string with `token_compress_mode::off`
call split a string
[code]
* Expected size of `result`: 2
* Actual size of `result`: 3

## 2. split a string above with `token_compress_mode::on`
Error at ` pred(int(*token_begin))`.
Cannot dereference string iterator because it is out of range (e.g. an end iterator)
[code]
## Specifications
  - HPX Version: master
  - Platform (compiler, OS): W

[2020-12-02 09:13] msimberg commented on #5067
Thanks @pvthuyet for the report!

1. This is expected behaviour. The separator `-` separates three tokens in your input, which I've wrapped in square brackets here: `[a]-[b]-[]`. `split` takes no special action for empty tokens. With `token_compress_mode::on` it may remove empty tokens, but that's because it compresses consecutive *separators*, not because it inherently removes empty tokens. The i

[2020-12-03 08:10] #5067 closed

[2020-12-08 10:12] aurianer opened #5075 "Make the structs in all iter_sent.hpp lower case"

[2020-12-08 16:27] shahrzad opened #5077 "PAPI counters are not accessible when HPX is installed"
## Steps to Reproduce the Problem

Printing out the papi counters for hello_world_1 example from my build directory(`~/src/hpx/build_release`) works:
[code]
outputs:
[code]
but if I run the same example from my install directory(`~/lib/hpx/release`) I get the unknown counter error, full log is saved here: [https://gist.github.com/shahrzad/cd42e00e8b9a8cf0414c7955c57a6b6d](https://gist.github.com/s

[2020-12-08 16:50] msimberg commented on #5077
Could please post the output of `hello_world_1 --hpx:dump-config`?

[2020-12-08 16:54] hkaiser commented on #5077
Apparently HPX doesn't properly load plugins if installed.

[2020-12-08 17:08] shahrzad commented on #5077
@msimberg this is the output of  `~/lib/hpx/release/bin/hello_world_1 --hpx:dump-config`
[code]

[2020-12-08 17:13] hkaiser commented on #5077
@shahrzad could you copy the file `~/lib/hpx/release/lib64/hpx/libhpx_papi_counters.so` to ~/lib/hpx/release/lib/hpx/libhpx_papi_counters.so`? Does that change anything?

[2020-12-08 17:18] shahrzad commented on #5077
@hkaiser I don't have a `lib` folder there, just `bin`, `share`, `include`, and `lib64`.

[2020-12-08 17:19] shahrzad commented on #5077
I just tried @msimberg's fix and it works, thanks!

[2020-12-08 17:21] #5077 closed

[2020-12-13 04:48] NinaPacifier commented on #5049
@aurianer May I work on this issue??

[2020-12-13 04:51] NinaPacifier commented on #4495
@msimberg  I am new to open-source contribution. Can I work on this issue??

[2020-12-13 13:35] hkaiser commented on #4495
Absolutely, please go ahead! Thanks!

[2020-12-13 17:35] aurianer commented on #5049
Totally feel free :)

[2020-12-16 08:48] msimberg opened #5087 "Remove hpxMP support"
I suggest we remove the hpxMP integration from our build system. It should still be possible to build it separately (perhaps not with the latest HPX, but still) if there is interest in using it. Objections?

[2020-12-21 08:19] albestro opened #5088 "Unwrapping problem"
## Expected Behavior

`hpx::util::unwrapping` should work exactly as if we do the unwrapping "manually".

## Actual Behavior

After discussing with @msimberg, it seems `unwrapping` passes by rvalue altering the nature of the objects unwrapped.

## Steps to Reproduce the Problem

[code]

## Specifications

  - HPX Version: 1.5.1 ~~and 5bd72df58b538c28460d94887c0cab05bd295441~~
  - Platform (compile

[2020-12-23 11:25] albestro commented on #5088
Ok, I checked my code and it seems that on master it works as expected.

@hkaiser do you want me to close it?

[2020-12-23 12:57] #5088 closed

[2020-12-23 14:46] hkaiser opened #5089 "Remove non-BSL files"
We currently have several leftover files that are not licensed under the BSL:

- https://github.com/STEllAR-GROUP/hpx/blob/master/plugins/parcelport/verbs/rdma/RdmaCompletionChannel.h.good
- https://github.com/STEllAR-GROUP/hpx/blob/master/examples/quickstart/EasyBMP

We should either re-license or remove those files from the repository

[2020-12-30 21:59] magiblot commented on #4735
I repeated the steps in the first post with HPX 1.5.1 and GCC 10.2.0 and was unable to reproduce the issue. So I'm closing this issue.

[2020-12-30 21:59] #4735 closed

[2021-01-04 08:34] msimberg commented on #5089
Good catch! That verbs file doesn't even look like it's used anywhere. On top of that the verbs parcelport has been deprecated since 1.4.0 and could be removed completely.

Unsure how dear/useful the fractals/EasyBMP example is.

[2021-01-04 09:06] msimberg commented on #4410
@venartas have you had a chance to check the performance on 1.5.X? Does the performance degradation still only happen with `auto_chunk_size`?

[2021-01-04 13:36] hkaiser commented on #5089
Let's remove these examples.

[2021-01-05 08:51] #5049 closed

[2021-01-05 14:58] #5087 closed

[2021-01-05 15:04] msimberg commented on #5014
Closed by #5022.

[2021-01-05 15:04] #5014 closed

[2021-01-05 15:06] msimberg commented on #4933
This is resolved by #5071, #5057, and #4997.

[2021-01-05 15:06] #4933 closed

[2021-01-05 15:28] msimberg commented on #2691
@hkaiser we can probably close this now? I think it's unlikely that we'll go back and fill in the gaps for an old proposal. We can track the current progress in #5045.

[2021-01-05 16:46] #2691 closed

[2021-01-06 10:09] venartas commented on #4410
@msimberg Tried with HPX1.5.1; Ubuntu 18.04.5 LTS; clang 9.0.0; c++17; boost-1.71.0.  No performance degradation is observed anymore.

[2021-01-06 11:47] msimberg commented on #4410
Thanks @venartas for reporting back. That's very good to hear! I'll close this issue in that case.

[2021-01-06 11:47] #4410 closed

[2021-01-10 17:26] JAPPinto opened #5105 "PAPI performance counters not available"
## Expected Behavior

I built HPX with the flag `-DHPX_WITH_PAPI:BOOL=ON` enabled. The lib/hpx subdirectory contains libhpx_papi_counters.so, libhpx_papi_counters.so.1 and libhpx_papi_counters.so.1.6.

When running an HPX application with the option `--hpx:papi-event-info=all` I should get a list of PAPI performance counters.

## Actual Behavior

Instead of a list of PAPI performance counters I ge

[2021-01-12 06:11] sudo-panda commented on #5075
I would Iike to work on this, please.

[2021-01-12 07:47] msimberg commented on #5075
Please go ahead!

[2021-01-13 18:51] yurivict opened #5110 "Tests don't get built"
First, I configure with ```HPX_WITH_EXAMPLES=OFF HPX_WITH_TESTS=OFF``` and build.

Then I reconfigure with ```HPX_WITH_EXAMPLES=OFF HPX_WITH_TESTS=ON HPX_WITH_TESTS_UNIT=ON``` and build.

After this all tests fail because of missing (not built) executables.

What is wrong?

hpx-1.2.1
FreeBSD 12.2

[2021-01-13 21:53] sudo-panda commented on #5110
To build and run tests you need to execute `make tests && make test` in the `build` folder(or wherever you ran `cmake`) as mentioned in the documentation here: https://hpx-docs.stellar-group.org/latest/html/contributing/testing_hpx.html#running-tests-manually

[2021-01-13 22:25] yurivict commented on #5110
```make tests && make test``` fails the same way.

I think this is related to me first building with ```HPX_WITH_EXAMPLES=OFF HPX_WITH_TESTS=OFF```.

[2021-01-14 04:41] #4654 closed

[2021-01-14 08:27] msimberg commented on #5110
@yurivict could you provide the exact sequence of commands you ran together with the output? Is it possible that you only did `HPX_WITH_TESTS=ON` but left `HPX_WITH_TESTS_UNIT=OFF`?

[2021-01-14 09:02] yurivict commented on #5110
For the port build these cmake arguments are used:
[code]

Then it is built with ninja.

Then for tests it is reconfigured by appending these arguments to the above cmake arguments:
[code]

Normally cmake is able to reconfigure with a new set of arguments. But in case of ```hpx``` tests aren't built.

[2021-01-15 08:13] HungWoeiNeoh opened #5111 "Tests fail to build with binary_filter plugins enabled"
## Problem Description
I was trying to build the tests with a HPX installation that has the `binary_filter` plugins enabled. I enabled `bzip2`, `snappy` and `zlib` support in the `cmake` configuration step. The HPX build and installation steps were successful.

## Expected Behavior
The tests would build properly when I run
[code]

## Failure 1
The command above fails on the target `put_parcels_wit

[2021-01-15 08:34] biddisco opened #5112 "libatomic problems causing unexpected fails"
Applications may crash on startup with the following message
[code]
upon investigation, it turns out that the following exception is being thrown during initialization/startup
https://github.com/STEllAR-GROUP/hpx/blob/1527f3ba8055f795f701ddf89368f4a24199f79e/libs/full/threadmanager/src/threadmanager.cpp#L322-L329

which in turn causes the runtime destructor to be called, but the runtime has not ye

[2021-01-15 08:45] msimberg opened #5113 "Handle threadmanager exceptions during startup"
Exceptions thrown from threadmanager during startup should be caught and displayed. See #5112 for details.

[2021-01-15 08:51] msimberg commented on #5112
I opened #5113 for the threadmanager issue.

Do you find that symbol in libatomic if you check manually? I think we have that check there because libatomic isn't even always a separate library so we have to check that it's there in the first place.

[2021-01-15 09:10] msimberg commented on #5110
It's hard to say what could be going wrong without more context. Does this only happen in the port build or also when building manually? Does it happen with 1.5.1 (1.2.1 is rather old and we're unlikely to make any further changes to it)?

[2021-01-15 09:12] msimberg commented on #5105
Does the same happen if you actually install HPX and build your application against the installed version? Currently you're building against the build directory which should also work but finding out if it only fails in that case would help us rule out some options.

[2021-01-15 09:30] biddisco commented on #5112
I made a small test based on the LLVM atomics cmake detection code and get this
[code]
so it appears as expected, that **with my compiler** `-latomic` is not needed for 32/64 bit operations, but is needed for 128 bit operations. Out tests do something different and I wonder if I should just replace them with the LLVM versions.

[2021-01-15 11:09] msimberg commented on #5112
I think that's normal. The question is why `check_library_exists(atomic __atomic_fetch_add_4 "" HPX_HAVE_LIBATOMIC)` fails. Either it's not finding libatomic at all, or it's not finding `__atomic_fetch_add_4` in there. Is it possible that libatomic only has the 128 bit versions since the rest are not needed? Does libatomic have `__atomic_fetch_add_16` but not `__atomic_fetch_add_4`?

[2021-01-15 13:27] biddisco commented on #5112
The checks we implement end up setting `HPX_CXX11_STD_ATOMIC_LIBRARIES` to `atomic` - but as far as I can see, not only are the tests not working, but the variable `HPX_CXX11_STD_ATOMIC_LIBRARIES` is never actually used anywhere!

[2021-01-15 14:10] #5075 closed

[2021-01-15 14:12] msimberg commented on #5112
@biddisco libatomic is added here if it's available: https://github.com/STEllAR-GROUP/hpx/blob/598104732c7decfde49e9bf40429ccf724705087/CMakeLists.txt#L1788.

[2021-01-15 14:16] biddisco commented on #5112
Aha. very good. Then I should modify my PR to replace that with
[code]

[2021-01-15 16:34] JAPPinto commented on #5105
No. With the installed version it works as expected.

[2021-01-16 11:18] bgoglin opened #5115 "Don't expect hwloc to always report Cores"
Hello

I am the main hwloc developer. We recently got a bug report through FreeBSD because hwloc returned 0 cores, causing HPX tests to fail. https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=252643 and open-mpi/hwloc#442

This was indeed a hwloc bug that I am going to fix, but I think HPX shouldn't fail in this case. There are platforms where we cannot detect the cores. Of course it doesn't happe

[2021-01-17 20:48] #4774 closed

[2021-01-20 22:17] hkaiser opened #5118 "Lock held while suspending"
@stevenrbrandt reported a 'lock being held' error in Phylanx here: https://github.com/STEllAR-GROUP/phylanx/issues/1307.

[2021-01-21 16:26] #5112 closed

[2021-01-22 13:07] leonfse opened #5124 "How does APEX get data from HPX?"
Hello,

For my Master Thesis I look into the Performance Analysis of HPX applications. In a best-case scenario, I would like to create an HPX-Adapter for Score-P. For that I want to understand, how APEX gets its data from HPX.
In my understanding so far HPX adds “external_timers” when it is built with APEX. But I could not close the gap between the timers and HPX functions jet. For example, the fu

[2021-01-22 13:24] hkaiser commented on #5124
Adding @khuck (the main APEX developer) to this discussion.

[2021-01-25 09:18] #5113 closed

[2021-01-25 14:29] msimberg opened #5126 "Use std::string for task annotations"
Currently we use `char const*` strings for task annotations. This makes it impossible to use dynamically generated tasked names because the strings might be gone by the time they are used.

The main reason I can see for not using `std::string`s is to avoid dynamic allocation for task descriptions and annotations. However, I would guess that this is insignificant compared to overheads caused by hav

[2021-01-25 15:41] dhinf commented on #5124
Interesting for are us are the user threads. Score-P records kernel threads, but can't record the user threads used by HPX. For the moment we try to figure out how and where APEX gets the information. Is it possible to get data about thread and task creation/destruction without changing the HPX source code?

[2021-01-25 19:08] hkaiser commented on #5126
@msimberg the rationale to use `char const*` for the task description is indeed to avoid allocations. Instead of changing that to generally use `std::string`, I'd rather have a facility that allows to manage a `std::string` as a description for a particular task externally in such a way that it keeps the description alive as long as needed.

[2021-01-25 19:31] hkaiser commented on #5124
As an alternative to APEX, you could rely on Intel's ITT notify interface that is supported by HPX. We have successfully used it to integrate Intel VTune to collect data related to HPX tasks (see here for details: https://software.intel.com/content/www/us/en/develop/articles/intel-itt-api-open-source.html). This needs to be enabled in HPX at compile time (`cmake -DHPX_WITH_ITTNOTIFY=On`) and addit

[2021-01-25 20:20] dhinf commented on #5124
Thanks for the hint. We will try it.

[2021-01-25 20:52] hkaiser commented on #5124
Please let us know how it goes. I'd be very interested in hearing what we can do to improve the integration. Also, please don't hesitate to get in contact if you have problems, or questions, etc.

[2021-01-26 01:14] khuck commented on #5124
TAU has the same problem that Score-P does, that it expects perfectly nested timers on each OS thread.  APEX does have an adapter that will send the timer start/stop events to TAU if `tau_exec` is used with the executable.  Going through APEX makes sure that the timer stacks are properly maintained.  I could look into a Score-P adapter for APEX, if that makes sense.

On the other hand, if you were

[2021-01-26 01:38] khuck commented on #5126
Hmm...if you want optional _per task_ metadata, that would be somewhat straightforward but would require some API changes.  Are you thinking of a map of key/value pairs of strings?  Or a `std::list< std::pair<std::string,std::string> >`?  Currently with every HPX thread we generate and store a GUID for that task, and the GUID of its parent (if known).  Those are stored in OTF2 traces as attributes

[2021-01-26 01:47] khuck commented on #5126
@msimberg ...I forgot to address the main point - I think all code paths construct a `std::string` almost immediately from the  `char const* name` string.  So why can't it be generated?  Are you concerned a temporary will get destroyed before that could happen?

[2021-01-26 01:53] khuck commented on #5126
...oh, I stand corrected - inside of HPX, the thread_description stays as a `char const *`:
https://github.com/STEllAR-GROUP/hpx/blob/0b6df0d6adeed861776c990c1e236cc4a8413b32/libs/core/threading_base/include/hpx/threading_base/thread_description.hpp#L41

However, APEX will make a string out of it almost immediately.  Other tools (ITT, for example) would be vulnerable to corruption if the string we

[2021-01-26 08:26] msimberg commented on #5126
@hkaiser I suppose `annotated_function` could work exactly for that purpose. It doesn't have to be `std::string` all the way down, even though from what @khuck says it might not make a difference.

@khuck yes, the problem is indeed that temporaries go away before the annotations go over to APEX, so this is a problem entirely in HPX. As for the metadata, that sounds about like what could be useful.

[2021-01-26 08:48] albestro commented on #5126
Thank you all for considering this issue.

I'm working with a library based on HPX and it would be nice to have in the toolbox a tracing/profiling that allows to identify tasks of a specific group or even individually. This eases the debugging and the identification of problems like wrong dependencies or other problems related to scheduling (e.g. priorities).

Currently, `annotated_function` allow

[2021-01-26 13:45] hkaiser commented on #5126
I agree - something like `annotated_function` would be perfect for this (if we can make sure the pointer is stable). And yes, it may not make a difference if APEX is involved.

We made the decision to use a plain `char const*` in the thread data back in the day for good reasons. This avoids allocations and avoids locking when accessing the thread description. I think we should leave it that way th

[2021-01-26 15:29] msimberg commented on #5118
https://github.com/STEllAR-GROUP/hpx/pull/5117#issuecomment-767518636 looks like another case of the same lock being held. However, there's no obvious lock being held (or not ignored) at that point in HPX...

[2021-01-26 16:34] hkaiser commented on #5118
Yes, I tried to look into this and was not able to spot anything either :/

[2021-01-26 23:15] hkaiser opened #5129 "Missing specialization for std::hash<hpx::thread::id>"
While we have a specialization for `std::hash<>` for `hpx::threads::thread_id`, we don't have one for `hpx::thread::id`.

[2021-01-27 08:40] #5129 closed

[2021-01-27 16:36] jschleus commented on #4940
Not important but just a reminder, since a new release candidate was tagged: On the web page

https://fossies.org/linux/test/hpx/codespell.html

are still some misspellings listed.

If there are false positives or misspellings that are not worth correcting, or are not correctable at all (e.g. in old "whats_new_xxx.rst" files), let me know.

[2021-01-28 08:13] msimberg commented on #4940
@jschleus thanks! It looks like at least some of those should indeed be fixed, I'll have a go at them. There may be some that we'll choose not to fix.

[2021-01-28 16:13] hkaiser commented on #4940
@msimberg let me take care of this.

[2021-01-29 09:25] #5115 closed

[2021-01-29 12:49] #5124 closed

[2021-01-31 06:49] biddisco commented on #4308
Just bumping this to prevent the stale-bot from getting rid of it. I will test multi-node networking free apex and check that all is working, then close this if it is.

[2021-02-01 15:59] khuck commented on #4308
@biddisco any luck?

[2021-02-02 15:25] #4804 closed

[2021-02-02 17:50] leonfse opened #5143 "Searching for HPX-Application to generate work on multiple Nodes"
Hello, I am looking for an open source HPX-Application, which I can use to generate work on multiple Nodes, in order to analyse the performance of said application.

Any ideas, suggestions and experiences are very welcome,
Leon

[2021-02-04 00:14] AmosLewis commented on #5143
Any hpx + cuda + multiple nodes example?

[2021-02-04 00:53] hkaiser commented on #5143
HPX distributed work and CUDA are orthogonal and unrelated. You should be able to combine these two easily.

[2021-02-04 09:22] leonfse commented on #5143
For me HPX without any other Libraries would be most fitting.
Can any of the Examples in this GitHub Repository put multiple Nodes to work?

[2021-02-04 09:40] msimberg commented on #5143
@leonfse I suppose the 1D stencil examples in `examples/1d_stencil` would be one (simple) option. I think starting from `1d_stencil_5` they are distributed. https://github.com/STEllAR-GROUP/tutorials/tree/master/examples/03_stencil also contains a 2D stencil example, although it may need some tweaking to make it work again with the latest version of HPX.

[2021-02-04 17:06] #5143 closed

[2021-02-04 20:23] dhinf opened #5147 "Wrong results with parallel reduce"
## Expected Behavior
While the sequential version of reduce has the correct result, the parallel version doesn't. Maybe I'm missing something, but the parallel reduce version of the standard library does it correct.

## Actual Behavior

The result outputs of the reference sum and the reduce algorithm with  different  executers are as following:
sum ref: 40425
sum_hpx_reduce_seq: 40425
sum_hpx_redu

[2021-02-04 20:45] stevenrbrandt opened #5148 "runtime_support.hpp does not work with newer cling"
## Expected Behavior

Code including this file should compile.

## Actual Behavior

An error is triggered. The compiler claims a ')' is needed after the identifier "module" on line 300.

Changing "module" to "module_" on lines 300 and 303 allows the code to compile.

[2021-02-05 08:50] msimberg commented on #5147
This is not a bug. Quoting [cppreference](https://en.cppreference.com/w/cpp/algorithm/reduce): "The behavior is non-deterministic if binary_op is not associative or not commutative." `a + b * b` is neither of those.

The reason for this restriction is that when the algorithm runs in parallel the reduction is done first on parts of the input on different worker threads, and the partial results from

[2021-02-05 08:50] #5147 closed

[2021-02-05 09:09] dhinf commented on #5147
thx @msimberg . I found my mistake ("The behavior is non-deterministic if binary_op is not associative or not commutative." a + b * b) shortly before  i went to bed yesterday. And you were faster then me to point it out today. So thanks for the fast response. For bigger number the standard library shows undef. behavior too.

[2021-02-05 13:43] #5148 closed

[2021-02-09 14:56] hkaiser opened #5156 "Disentangle segmented algorithms"
Currently the segmented algorithms are part and parcel of the implementation of the parallel algorithms. That unnecessarily complicates those. Now, that we have converted the parallel algorithm APIs into customization point (CPO) based implementations, the segmented algorithms could be separated and exposed through their own specializations of `tag_invoke` to be picked up by the CPOs. This would s

[2021-02-09 15:05] hkaiser opened #5157 "Separate the datapar algorithms"
Currently, our parallel algorithms support being used with the `datapar` execution policy. This is a remnant of an older standardization proposal. This implementation is currently tightly entangled with the implementation of the parallel base algorithms.

We should do two things:

- separate the datapar implementations and expose them through separate algorithm specializations (based on the `tag_i

[2021-02-10 14:06] msimberg opened #5161 "Bump required CMake version to 3.17"
3.17 is the first version of CMake to come with a `FindCUDAToolkit` module (also relevant for #4482, although the CUDA language is available since 3.10). If needed for something else we could consider bumping it even higher since it's quite a big jump in the first place.

[2021-02-10 14:07] msimberg opened #5162 "Require C++17 support"
We should strongly consider requiring C++17 support from compilers. The blocker is as usual `nvcc` although newer versions claim to support it.

[2021-02-10 14:19] hkaiser commented on #5161
Updating cmake shouldn't be an issue at all as people can build it themselves easily.

[2021-02-10 14:47] msimberg opened #5163 "Remove module-specific compatibility and deprecation options"
I propose that we remove the module-specific options `HPX_WITH_<modulename>_COMPATIBILITY_HEADERS`, `HPX_WITH_<modulename>_DEPRECATION_WARNINGS`, and `HPX_WITH_<modulename>_TESTS`. We can instead use the global `HPX_WITH_DEPRECATION_WARNINGS` and `HPX_WITH_TESTS`. I see no harm in leaving compatiblity headers until they are outright removed. I find the module-specific options unnecessarily fine-gr

[2021-02-11 13:43] kordejong commented on #4949
I had a second look and this may well be a false negative, possibly because of a wrong set of command line arguments. I built HPX again with the above settings (tcp off, mpi on) and my tests succeed (hpxrun with the right arguments). It is probably OK to close this ticket. If I run into a crash again, even when using the wrong command line arguments, I will report again.

[2021-02-11 14:04] hkaiser commented on #4949
@kordejong Do you remember what command line arguments you were using that caused things to fail?

[2021-02-11 14:04] #4949 closed

[2021-02-11 14:33] kordejong commented on #4949
@hkaiser No, not anymore unfortunately. But I plan to do similar scaling runs as I did some months ago. In case things go wrong I will report again. I now know tcp is not strictly required when mpi networking is turned on, so I will keep the tcp networking setting off when building HPX.

[2021-02-12 08:45] #5126 closed

[2021-02-13 12:07] #4589 closed

[2021-02-15 08:41] msimberg commented on #4657
I'll close this, but please reopen if you think this is a better place to track these things. The split of libhpx into multiple libraries has already happened. I think object libraries can be tracked separately, and exposing the different libraries to users is better done in separate projects.

[2021-02-15 08:41] #4657 closed

[2021-02-15 14:37] #5013 closed

[2021-02-15 15:01] aurianer opened #5175 "Fix sanitizer error following the docker image upgrade"
The docker image being run in the Github actions was still `stellargroup/build_env:ubuntu`. After changing the image to the new one `stellargroup/build_env:2` in #5165, the topology sanitizer issue reappeared.

[code]

Full error output:
https://github.com/STEllAR-GROUP/hpx/runs/1877980351?check_suite_focus=true

[2021-02-15 21:25] hkaiser commented on #5156
Here is a list of algorithms that need to be touched:

- [ ] `adjacent_difference`
- [ ] `adjacent_find`
- [ ] `all_of`
- [ ] `any_of`
- [ ] `count`
- [ ] `count_if`
- [ ] `exclusive_scan`
- [ ] `fill`
- [ ] `find`
- [ ] `find_if`
- [ ] `find_if_not`
- [ ] `for_each` (#5176)
- [ ] `for_each_n`
- [ ] `generate`
- [ ] `inclusive_scan`
- [ ] `max_element`
- [ ] `min_element`
- [ ] `minmax_element`
-

[2021-02-16 08:40] #4566 closed

[2021-02-19 17:18] msimberg opened #5189 "Shared priority scheduler does not always create a new thread"
While working on #5172 the `shutdown_suspended_pus` test started failing more regularly. The failure was this assertion firing: https://github.com/STEllAR-GROUP/hpx/blob/ab865a7781c24674581cf8c299b63f1bb3e9bdca/libs/core/thread_pools/include/hpx/thread_pools/scheduling_loop.hpp#L452. The scheduling loop expects `run_now = true` to mean that a thread object will definitely be created. The shared pr

[2021-02-19 17:57] gonidelis opened #5191 "Proper trait for `make_iterator_range`"
https://github.com/STEllAR-GROUP/hpx/blob/ab865a7781c24674581cf8c299b63f1bb3e9bdca/libs/core/iterator_support/include/hpx/iterator_support/iterator_range.hpp#L73

https://github.com/STEllAR-GROUP/hpx/blob/ab865a7781c24674581cf8c299b63f1bb3e9bdca/libs/core/iterator_support/include/hpx/iterator_support/iterator_range.hpp#L63

I put that as a reminder to investigate whether `traits::range_sentinel` w

[2021-02-19 18:48] biddisco commented on #5189
It depends on what you think the scheduling loop should be doing/requesting. I would like ro remove most of the functionality from the scheduling loop and instead allow schedulers to decide how they manage things. Currently the scheduling loop calls functions that steal, delete, create tasks and this forces a certain api onto the schedulers that I think is wrong. Evidence at hand is that for the f

[2021-02-19 19:11] msimberg commented on #5189
You tell me ;) This is one of the reasons, apparently. Let me know if my description of the problem wasn't clear enough. I thought there were more of them, but it looks like there's only one other place where the shared priority scheduler is disabled, in `suspend_thread_timed`: https://github.com/STEllAR-GROUP/hpx/blob/ab865a7781c24674581cf8c299b63f1bb3e9bdca/tests/unit/resource/suspend_thread_tim

[2021-02-19 19:14] msimberg commented on #5189
I meant to add: the fact that the shared priority scheduler sometimes ignores to return a thread object is related to suspension, but that doesn't only affect the background thread. Things like `hpx::thread` also rely on actually getting a thread id when spawning work.

[2021-02-19 19:27] hkaiser commented on #5191
@gonidelis yes, this looks like a bug.

[2021-02-22 01:33] hkaiser commented on #4371
This is a specific problem of the MS standard library.

[2021-02-22 13:13] biddisco commented on #5189
I'll take a look at this once I'm done with my current work.

[2021-02-25 17:43] hkaiser opened #5204 "Move algorithms to tag_fallback_dispatch"
Our experience with disentangling the segemented algorithms by the help of utilizing tag_dispatch style overloads has shown that it is helpful to move all existing `tag_dispatch` implementations of the parallel algorithms to use `tag_fallback_dispatch` instead. This allows to use SFINAE on the overloads provided by external specializations.

Here is a list of algorithms that need to be adapted:

-

[2021-02-26 11:55] #5161 closed

[2021-02-26 11:57] #5163 closed

[2021-03-02 11:28] JAPPinto opened #5216 "Performance counter module not loading"
## Expected Behavior

I was trying to implement a full performance counter, based on this example https://github.com/STEllAR-GROUP/hpx/tree/master/examples/performance_counters/sine.

I started by replacing all the occurrences of sine in the  code and in the file names. In principle the example should still work after these changes.

## Actual Behavior

Instead, the new counter was not recognized,

[2021-03-02 13:48] aurianer commented on #5216
As suggested in the IRC chat, can you try removing the two `INTERNAL_FLAGS` in the corresponding CMakeLists.txt? :)

[2021-03-02 13:59] aurianer commented on #5216
Actually it should have no incidence on the library name sorry

[2021-03-02 14:07] aurianer commented on #5216
@hkaiser any ideas? I'm not too familiar with the papi counters

[2021-03-02 14:13] hkaiser commented on #5216
This is a general problem with loading plugin modules under certain circumstances. I'll try to investigate this in more detail.

[2021-03-02 16:35] hkaiser opened #5219 "(Re-)Implement executor API on top of sender/receiver infrastructure"
Currently our executor API (customization points) dispatch to an executor interface that was defined by wg21.link/p0443R3. All HPX facilities related to scheduling tasks (algorithms, future, dataflow, async etc.) rely on the executor customization points to perform their operations.

We should reimplement the customization points such that they build upon the sender/receiver infrastructure that ha

[2021-03-05 16:32] dhinf opened #5222 "Build and link errors with ittnotify enabled"
## Expected Behavior

I tried to build hpx with the flags -DHPX_WITH_ITTNOTIFY=ON -DAMPLIFIER_ROOT=/opt/intel-ittapi/inst

I used https://github.com/intel/ittapi for the amplifier.

## Actual Behavior and Steps to Reproduce the Problem

1. missing include error -> it seems the cmake environment doesn't sets the include path
[code]
   -> solved by setting CPATH

2. compile error:
[code]
   -> fixed

[2021-03-05 16:40] hkaiser commented on #5222
@dhinf yes, that's what I would expect to happen. The build system support we have only supports the Intel Amplifier tool. I'll try to have a look into making it more generic. If you want, please feel free to try modifying the build system yourself. The detection is done here: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/FindAmplifier.cmake. You might even be able to make it work by sett

[2021-03-05 16:51] dhinf commented on #5222
The include and library path was correctly found in the config phase. That's, why I expected that the paths are used in the build process.

[2021-03-05 17:16] hkaiser commented on #5222
@dhinf FWIW, I have the issue reproduced locally. We don't test for this regularly (which we probably should do), which caused the problems you're seeing. I will create a PR soon.

[2021-03-05 17:38] dhinf commented on #5222
The only reason I found the bug was because you suggested in issue #5124 to use ittapi. :)
Thanks for fix. Hopefully, we are able to get enough information via ittnotify to instrument hpx applications with Score-P.

[2021-03-05 19:52] hkaiser commented on #5222
@dhinf see #5223 for a possible fix, please let us know if this works as expected. Generally, the ITTNotify support should be considered experimental, so please let us know if something is not quite right or if you would like to have more pieces of HPX instrumented.

[2021-03-06 16:51] gonidelis commented on #4822
### How to adapt a parallel algorithm to C++20
1. Render the old overload under namespace `parallel` deprecated (e.g. `hpx::parallel::for_each`), according to the [hpx deprecation headers](https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/config/include/hpx/config/deprecation.hpp). _Be careful on referring to the pending HPX release version_.

2. Change the base implementations (usually f

[2021-03-08 09:14] msimberg commented on #5219
Thanks @hkaiser for putting this up. I think before we even consider this the bulk execution section of P0443 will need some clarity as it's currently underspecified and has quite a few proposals for improvement (and was not implemented in #5053 because of that). Hopefully r15 will specify this a bit better.

[2021-03-09 11:31] #5222 closed

[2021-03-09 12:50] dhinf commented on #5222
@hkaiser Thanks for the fix.

[2021-03-09 14:56] severinstrobl opened #5232 "Annotation using hpx::util::annotated_function not working"
## Expected Behavior

Annotating a function using `hpx::util::annotated_function` should have the same effect as using `hpx::util::annotate_function` inside of the function.

## Actual Behavior

Annotation via `hpx::util::annotated_function` does not seem to work at all, the information is lost at some point and not passed on to the instrumentation framework APEX.

## Steps to Reproduce the Proble

[2021-03-10 09:13] msimberg commented on #5232
I suspect it may be the newly added projection (which defaults to the identity projection) that hides the annotation. I'll put a PR in a bit for you to try out.

[2021-03-10 10:36] severinstrobl commented on #5232
Let me know if there is anything on my end I can do to help with that.

[2021-03-12 14:22] albestro opened #5239 "APEX: messed up JSON with APEX_TRACE_EVENT=1 for Google Trace Events"
Due to other problems I have with OTF2 (it hangs on exit, I may create a different issue for that), I'm giving a try to Google Trace Events Format with `APEX_TRACE_EVENT=1`.

I was able to run the my code, it has a clean exit and it produces the output. Unfortunately, the json produced is messed up like if there is a race-condition between multiple ranks writing to the same json file.

Eventually

[2021-03-12 17:34] khuck commented on #5239
@albestro hey there ... I would be surprised if there are race conditions writing to the stream, but it is certainly possible.  A couple of questions:

 * Which version of HPX are you using, and which version of APEX?
 * OTF2 hanging on exit: did it write the archive at all?  If it hang, it would have hung in the event unification process at the end.  There's a new unification process that uses HP

[2021-03-13 13:56] Shubhupatel commented on #3706
Hi @hkaiser, Interested in working on this issue.

[2021-03-13 14:05] hkaiser commented on #3706
Perfect, please feel free! See my comment above.

[2021-03-14 18:29] #5232 closed

[2021-03-15 10:12] msimberg commented on #5239
I think the issue is exactly that the ranks don't know what id they are (networking is off in HPX). I know @biddisco worked on that at some point, and possibly even made it work, but given that it's not tested it's probably broken. @biddisco do you remember where the rank was supposed to be set if networking is off?

@khuck in the meantime, if I remember correctly it's possible to set the output f

[2021-03-15 10:33] albestro commented on #5239
hey @khuck! thanks for your quick reply!

Correct, using default selected. From HPX CMake configure process I see `apex : git checkout -q v2.3.1`

[code]

After killing it, the content of the folder is
[code]

But if I open it with Vampir, I get an empty trace

<img width="1207" alt="image" src="https://user-images.githubusercontent.com/9337627/111139810-e1c52080-8581-11eb-8b64-b9675c0b19c3.png">

[2021-03-15 21:02] khuck commented on #5239
Based on what you've said, it sounds like the ranks are writing to the same file.

Which MPI are you using?  Which batch system?  Without HPX networking, APEX can sometimes guess the ranks based on environment variables:

https://github.com/khuck/xpress-apex/blob/7c511f63ae648b20991be7caec6d346a9dc7f675/src/apex/utils.cpp#L417-L450

If this is a Cray system, I might have to add support for their v

[2021-03-16 07:21] albestro commented on #5239
Yes, it's Cray MPICH with Slurm

[2021-03-16 16:23] msimberg commented on #5162
We now have CUDA 11.0.2 on Piz Daint (rostam has had CUDA 11 for a while already), which in theory supports C++17. Assuming it actually supports C++17 well enough this could become a reality soon. Let's see how it goes...

[2021-03-16 17:58] khuck commented on #5239
Slurm should have been caught, but I'll add support for CRAY...

[2021-03-17 06:16] rakeshsagalagatte commented on #2524
@ZiCog  I'm using Arch destro [manjaro]. Here I installed `gperftools` package to satisfies the `tcmalloc` dependencies.
`sudo pacman -S gperftools` .

[2021-03-17 09:58] albestro commented on #5239
I gave a quick look at the snippet of code you mentioned, and I did a quick test.

[code]

I got the same results with 2 ranks being them on a single node or on separate nodes. So, I would confirm your expectation, if that snippet of code gets called, it would be able to extract data from SLURM environment variables.

[2021-03-17 10:05] albestro commented on #5239
Hey, just to be sure...

https://github.com/khuck/xpress-apex/blob/7c511f63ae648b20991be7caec6d346a9dc7f675/src/apex/utils.cpp#L417-L450

Are you sure that you use the return type and not the argument? because, I would say that the argument should be a reference and not a value...

[code]

It seems that the function had the intention to give back the results both as return value and as "out" argum

[2021-03-17 10:45] albestro commented on #5239
I just copied the function `test_for_MPI_comm_rank` in my small example, I slightly changed it to print out which branch was falling in, and it returns the correct value

[code]

So, I think we should look in other directions. Do you have any suggestion on how to debug this?

[2021-03-17 17:41] khuck opened #5246 "HPX fails to build on ppc64le"
## Expected Behavior

building

## Actual Behavior

The build fails with:

[code]

## Steps to Reproduce the Problem

  1.  Using current master
  1.  `cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/usr/local/packages/hpx/2021-03-17/install -DHPX_WITH_MALLOC=tcmalloc -DHPX_WITH_THREAD_IDLE_RATES=ON -DHPX_WITH_PARCELPORT_MPI=ON -DHPX_WITH_PARCEL_COALESCING=ON -DHPX_WITH_TOOLS=OFF -DHPX_WITH

[2021-03-18 17:09] khuck commented on #5239
You could try printing out the trace file name when the file is created:
https://github.com/khuck/xpress-apex/blob/7c511f63ae648b20991be7caec6d346a9dc7f675/src/apex/trace_event_listener.cpp#L324

If you are getting two unique file names, then there is something else going on.

[2021-03-18 18:41] albestro commented on #5239
I've just checked, and I get exactly the same filename.

Specifically, `saved_node_id == 0` and `ss.str() == "trace_events.0.json"`.

While I wait for your next suggestion on how to go on investigating this, I take the chance to ask you one question (I have more about this topic, it would be nice to quickly discuss with you about a couple of things. Let me know if you are open to this and how we c

[2021-03-18 18:48] hkaiser commented on #5246
@khuck this variable is defined here: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/coroutines/src/detail/posix_utility.cpp. Could you please add a:
[code]
(or similar) to the `#if` condition to see if that fixes your issue?

[2021-03-19 08:13] #4135 closed

[2021-03-19 23:48] yurivict commented on #4942
Now I am trying cmake-3.19.4 with the current rev. 2ec0f88 and it still breaks.

Are you able to build with cmake-3.19.4?

[2021-03-22 15:23] severinstrobl opened #5257 "Allow triggering the output of OS thread affinity from configuration settings"
When initializing HPX solely via `hpx::init_params.cfg` it seems to not be possible to trigger certain functionality such as printing the OS thread affinity information. I found no way to pass the equivalent of the command line switch `--hpx:print-bind` using the configuration object, am I missing something here?

## Specifications

  - HPX Version: 1.6.0
  - Platform (compiler, OS): GCC 10.2.0, L

[2021-03-22 16:33] khuck commented on #5246
@hkaiser that fixed it for one file, but then the next failure was:

[code]
and that happened even with a change to context_impl.hpp. (although I don't know if I changed it correctly)

[2021-03-22 18:11] khuck commented on #5246
@hkaiser I do get a ton of these warnings now:
[code]
...which I addressed with `HPX_UNUSED(signum);`

[2021-03-23 12:49] hkaiser commented on #5257
Wouldn't this work:
[code]

[2021-03-23 13:00] severinstrobl commented on #5257
No, that seems to be just ignored, unless I'm doing something silly here. I think the problem might be that only the actual command line is taken into account [here](https://github.com/STEllAR-GROUP/hpx/blob/76a2ba5b266008be5e0d5a13e17ae0950099dde2/libs/full/runtime_distributed/src/server/runtime_support_server.cpp#L1049)?

[2021-03-23 13:46] hkaiser commented on #5257
Indeed, excellent catch!

[2021-03-23 18:09] hkaiser commented on #5257
@severinstrobl please have a look at #5259 to verify it fixes your problem

[2021-03-24 11:30] severinstrobl commented on #5257
@hkaiser That does it, thanks for looking into this so quickly.

One more related question: How can one determine the correct way to pass the various options as configuration options? As an example: Many examples use `hpx.run_hpx_main!=1`, which seems to correspond to passing `--hpx:run-hpx-main` via the command line, but I cannot find that in the [docs](https://hpx-docs.stellar-group.org/latest/h

[2021-03-24 12:52] hkaiser commented on #5257
There is no direct correspondence and no consistent mapping. This has grown historically. The easiest way is to always use the command line options, those will be mapped properly to the corresponding configuration settings.

[2021-03-24 13:03] severinstrobl commented on #5257
Whenever possible this is what I do. I do have an application where HPX is used in a Python-wrapped library, there I use the configuration directly. So I'll just stick to trial-and-error in this case :grin:

[2021-03-24 13:09] hkaiser commented on #5257
Please feel free to share any useful information for the docs. We always welcome PRs for the docs ;-)

[2021-03-24 16:09] khuck commented on #5239
@albestro It would appear there are two issues here.  First, there is a bug in the OTF2 library, which I thought we had reported and had been fixed.  In OTF2, you need to patch the `otf2_archive_set_collective_callbacks` method in `src/otf2_archive_int.c`.  The declaration of the `status` variable is without an initialization, which causes the error message from non-zero ranks.  That also bypasses

[2021-03-26 12:32] albestro commented on #5239
I did like you suggested, but without luck.

- Patched manually OTF2
- Built HPX 1.6.0 with `APEX=develop`

Google Trace Events still creates a single file with the usual "output-overlaps" between ranks.

OTF2, still hangs on exit

[code]

If I kill the process, I get

[code]

[2021-03-26 13:20] #5257 closed

[2021-03-29 21:21] khuck commented on #5239
@albestro this looks more like a shutdown race condition.  Did you at least get a valid OTF2 trace?  I'll see if I can reproduce the race condition.

Is there any way you can share the application that is causing this deadlock?

[2021-03-30 11:28] kordejong commented on #4949
This is still an issue. I am using 1.6.0 now. If I turn on `HPX_WITH_PARCELPORT_MPI` and turn off `HPX_WITH_PARCELPORT_TCP` the HPX job crashes when using more than one locality. My command line is very simple:

[code]

This crashes (same assertion as above). When I build with `HPX_WITH_PARCELPORT_TCP` turned on, all is well.

I am happy to provide more details.

[2021-03-30 13:06] msimberg opened #5269 "Allow setting a label on executors/policies"
Adding this as an issue so that we can come back to this idea: https://github.com/STEllAR-GROUP/hpx/pull/5267#pullrequestreview-623941366.

It may be preferable to allow setting labels on executors/properties instead of functions like this:
[code]

I'm not sure what the best order of preference would be for the various annotations (i.e. if function annotations or executor annotations should take p

[2021-03-31 06:28] CH-ND-N commented on #4495
@msimberg I am interested to work on this issue. please assig this to me.

[2021-03-31 16:10] philipyi opened #5270 "HPX-1.6.0 fails to build on Windows 10"
## Expected Behavior
Successful build using Visual Studio 2019

## Actual Behavior
Build failed with the following errors:

Error	C2182	'abstract declarator': illegal use of type 'void'	1d_stencil_channel (Examples\1D Stencil\1d_stencil_channel\1d_stencil_channel)	C:\Users\phili\Documents\cpp\hpx-1.6.0\libs\core\functional\include\hpx\functional\traits\is_invocable.hpp

Note: error points to line

[2021-03-31 18:32] severinstrobl commented on #5239
As I encounter a very similar issue with APEX/OTF2, [here](https://gist.github.com/severinstrobl/f3f2a5b10968546aa540cfaa4d94bb25) is a small example program that allows me to reliably reproduce the issue. The OTF2 output deadlocks even earlier here, all I get is:
[code]
The path `OTF2_archive/APEX` is created, but no files.

[2021-04-01 09:39] albestro commented on #5239
@severinstrobl

I don't know if that's exactly the case, because as you can see in a previous message, I get some output files.

@khuck

The output folder is populated with files, but when I open it with Vampir I don't get anything (as in the previous https://github.com/STEllAR-GROUP/hpx/issues/5239#issuecomment-799309260)

It's a miniapp of my library, I don't have any problem sharing it with you

[2021-04-03 19:11] hkaiser commented on #5270
Could you give us the arguments you used when invoking cmake, please?

[2021-04-03 19:14] hkaiser commented on #5270
FWIW, I can build that example just fine using VS 2019 Preview (Version 16.10.0 Preview 1.0)

[2021-04-05 01:59] philipyi commented on #5270
The version of VS I used was 16.9.3

Here is the build log file:
[INSTALL.log](https://github.com/STEllAR-GROUP/hpx/files/6255931/INSTALL.log)

Here is the CMakeCache.txt
[CMakeCache.txt](https://github.com/STEllAR-GROUP/hpx/files/6255681/CMakeCache.txt)

[2021-04-05 02:07] philipyi commented on #5270
Here is the list of errors displayed on the Error List pane during the build:
[BuildErrorList.txt](https://github.com/STEllAR-GROUP/hpx/files/6255959/BuildErrorList.txt)

[2021-04-05 11:46] hkaiser opened #5275 "HPX V1.6.0 fails on Fedora release"
@diehlpk reported:

Hi,

HPX 1.6.0 started to fail on Fedora release which is shipped in three weeks,
Could you please have a look?

https://kojipkgs.fedoraproject.org/work/tasks/8255/64998255/build.log
https://pastebin.com/ajjsDKEp

Thanks,
Patrick

[2021-04-05 23:29] hkaiser commented on #5270
@philipyi thank you for the additional information. I'm still not able to reproduce your issue. Would you be able to retry using the current master branch, please?

[2021-04-06 07:47] msimberg commented on #5275
@hkaiser the fix in https://gist.github.com/hkaiser/554e5866ab5ac0111901cbcdaa19b69c is fair, but so is the warning. I wonder what the semantics of that proxy iterator type should be? If it's up to the caller to keep the `v_` member alive long enough we can add a move assignment operator, which does the same as the copy assignment operator. I'm also guessing that existing assignment operator shoul

[2021-04-06 12:15] hkaiser commented on #5275
Yes to both comments. I can't reproduce the issue locally, though.

[2021-04-06 13:18] msimberg commented on #5275
Neither can I (where locally means gcc trunk on godbolt with a small test example, gcc 9-11 all have similar behaviour)... It's possible that it's a regression/change in GCC 11 (it's still not released).

[2021-04-07 20:05] philipyi commented on #5270
@hkaiser - I just built the latest from the git repository with no problems.

[2021-04-07 20:19] hkaiser commented on #5270
Thanks for investing the time to investigate that! Would it be ok if I closed this issue now? Or would you have to rely on the release and have it fixed retrospectively?

[2021-04-07 23:23] philipyi commented on #5270
@hkaiser , No I don't need it to be fixed retrospectively, thank you. I think you can close the issue.

[2021-04-08 00:26] #5270 closed

[2021-04-08 17:20] toktarev commented on #5204
I will try to start working on `copy_if copy_n`

[2021-04-09 15:30] msimberg commented on #4509
This was already removed.

[2021-04-09 15:30] #4509 closed

[2021-04-13 19:38] toktarev commented on #5157
I've started working on this issue

[2021-04-13 21:30] hkaiser commented on #5157
@toktarev Please coordinate with @srinivasyadav18 as he is looking into related tasks.

[2021-04-14 07:05] albestro commented on #5239
Hey @khuck, yesterday I found the time for giving this a look.

I'm keeping thinking that the root of the two problems, i.e. "OTF2 hang" and "Google Trace overlap", might be the same. It looks like a race-condition in both cases, once it ends up with an hanging, the other one with a write on the same file concurrently, but that's just my speculation without having much knowledge about this stuff.

[2021-04-16 09:40] kordejong commented on #4949
Using the help from @hkaiser (mailinglist, different but related issue), I now know this issue is due to my srun not enabling MPI correctly / at all. When using mpirun all is well. Sorry for the noise.

[2021-04-19 07:53] msimberg opened #5294 "execution::on should be based on execution::schedule"
This is a reminder for me to get back to change our current `hpx::execution::experimental::on` which takes a scheduler and should thus be based on `schedule` rather than `execute` for executors. It currently uses `execute` as the basis operation.

In addition, it seems like in the later P1897 revisions `via` was renamed `on`, but the meaning was also changed. Our current `on` ensures that successo

[2021-04-19 11:25] godslayer201 commented on #4698
Hello @msimberg @diehlpk,

I would like to take this up. I have worked with rtd and sphinx prior, and would be good exercise prior GSoD.

[2021-04-19 15:34] diehlpk commented on #4698
Hey @godslayer201 sounds good. Please let us know if you need more details?

[2021-04-19 15:40] godslayer201 commented on #4698
Hello @diehlpk thank you for the reply.

I've performed the local set-up for the docs and I'm currently reading through hpx's codebase and prior documentation to look at starting pointers.

Will ping here or on IRC about my updates.

[2021-04-19 20:50] khuck commented on #5239
@albestro Ah, this makes perfect sense!  The "file based" method is the "least good" choice among HPX, MPI and shared filesystems for doing event unification, which is required by OTF2.  My guess is that the file-based solution isn't working, probably because the application doesn't know how many total ranks there are!  Ideally, if you configure APEX with HPX, it uses HPX to do the event unificati

[2021-04-19 21:42] khuck commented on #5239
I reviewed the slurm code for detecting environment variables, and I think I found the (or at least 'a') problem.  I was using the wrong variable (documentation can be misleading...):
https://github.com/khuck/xpress-apex/commit/e029c427aca0e86854481d02f2d577c498089fd3

I think if you pull the latest APEX develop branch (you'll get some Kokkos changes with it, but they shouldn't affect you), I hope

[2021-04-20 09:17] albestro commented on #5239
Aha! Good catch!

Tested my basic example with khuck/xpress-apex@e029c42 and I can see the difference with both OTF2 and GoogleTraceFormat!

- OTF2: just the root rank manages the OTF2 archive (not anymore all ranks printing "closing the archive") and Vampir shows the trace.
- GoogleTraceFormat: it does not produce anymore a single "trace_events.0.json", but one output file per rank...so no race-c

[2021-04-21 19:02] biddisco opened #5296 "command-line config error selecting parcelport when using wrap_main"
I noticed an odd bug when testing the libfabric parcelport

When testing to make sure that the correct parcelport is selected and used, I compiled hpx with tcp/mpi/libfabric all present, then use the following command line that has `enable` libfabric but `disable` tcp and mpi and I set the `bootstrap` parcelport to be libfabric
[code]
This combination of commandline flags works in the tests I'm de

[2021-04-23 09:20] biddisco opened #5299 "transfer_action too large"
I have previously implemented a custom bootstrapping routine that allows the libfabric parcelport to initialize itself by sending addresses from worker nodes to the root/agas node so that address vectors can be updated and shared between nodes. This takes place before the big boot barrier kicks in and works well so that the worker registration that takes place in BBB functions as expected -  but i

[2021-04-23 12:13] hkaiser commented on #5299
How did you determine the size of the `transfer_action`? From what I can see the `transfer_action`'s size is determined mostly by the sizes of the arguments passed to the remote function (plus the size of the vtbl pointer). Do I miss something?

[2021-04-23 12:14] hkaiser commented on #5296
Could you please construct the smallest possible example that reproduces your issue?

[2021-04-23 13:00] biddisco commented on #5299
I looked at the archive size before serializing the action and after.

[2021-04-23 13:02] biddisco commented on #5296
The problem seems to be that the runtime ignores `-Ihpx.parcel.bootstrap=libfabric` but honours `--hpx:ini=hpx.parcel.bootstrap=libfabric` when using wrap_main, but when using hpx::init by hand, it works fine with `-Ihpx.parcel.bootstrap=libfabric`

[2021-04-23 13:35] hkaiser commented on #5299
Ahh. I think this particular action might even have a configuration defined size as it transfers the action id's for all defined actions. What we could do is to separate the process of making the action id's consistent into a second step.

[2021-04-23 13:48] biddisco commented on #5299
ok that makes sense. I didn't dive too deep into the contents of the action_base or whatever. I will have another look and see if I can factor out just the worker registration part into a smaller parcel

[2021-04-23 14:35] biddisco commented on #5299
You are correct - the bulk of the space is taken up by
https://github.com/STEllAR-GROUP/hpx/blob/f341d96522ae2c6b55c42aef888e626b8bcb9b86/libs/full/runtime_distributed/src/big_boot_barrier.cpp#L96
the typenames registered.

[2021-04-23 19:31] biddisco commented on #5299
I've replaced my existing code with a single new function defined in the base parcelport
[code]
which is called inside big boot barrier just before the early parcel is sent - it does nothing in the other parcelports, but allows libfabric to perform an address send using a low level message that bypasses the parcel creation step. This is simple and works and saves redesigning the existing big boot

[2021-04-25 18:00] toktarev commented on #5157
Do we really need to "separate the datapar implementations" if we are going to "removing datapar as it is today" ?

[2021-04-28 14:14] hkaiser opened #5301 "Create V1.6.1 release"
In preparation for a V1.6.1 release, here is a list of PRs that could be backported:

Mandatory:

- [ ] Attempting to fix datapar compilation issues (#5235)

Optional:

- [ ] Fixed source file line statements in examples documentation (#5290)
- [ ] Replacing util::function_nonser on std::function in hpx_init (#5284)
- [ ] Fix typo in docs (#5276)
- [ ] Support annotations in hpx::transform_reduce

[2021-04-29 14:21] hkaiser commented on #5301
We decided to directly go for releasing V1.7. Closing now.

[2021-04-29 14:21] #5301 closed

[2021-04-30 11:25] msimberg opened #5305 "List required/tested/supported CUDA/HIP versions in documentation"

[2021-04-30 11:27] msimberg opened #5306 "asio fails to build with CUDA 10.0"
As reported by @G-071:
[code]

Definitely works with CUDA >= 11, probably also with 10.2. I'm closing this as wontfix unless someone has a big need for having this fixed for older compilers. Reporting it here just in case someone else has the same problem. See #5305.

[2021-04-30 11:28] #5306 closed

[2021-05-04 13:40] hkaiser commented on #4984
Should we add the `tag_invoke` facilities here as well?

[2021-05-04 20:47] K-ballo commented on #4984
Probably? The idea was to add facilities entirely dedicated to implement HPX itself (not for user consumption), with no other dependencies outside of this module (ideally no interdependencies either).

[2021-05-05 10:06] msimberg commented on #4942
We test with 3.17, but I also regularly use 3.18, 3.19, and 3.20 without problems. This really seems like something from the CMake install. There's also a relevant discussion here https://github.com/STEllAR-GROUP/hpx/pull/5283#issuecomment-830083016. These generator expressions tend to be problematic for the pkgconfig file generation (CMake 3.20 would apparently give us a way to work around this,

[2021-05-05 12:39] msimberg opened #5317 "Consider making hipblas optional"
It may be beneficial to make hipblas (and cublas as well I suppose) optional, since it doesn't necessarily come with all hip installations. I'm not sure what consequences this would have for compatibility macros for hip/cuda though, and it may be more complicated than it sounds.

[2021-05-11 01:44] diehlpk opened #5325 "Cmake fails on Power9 and needs a second or third run"
## Expected Behavior

Run cmake on Power9 should configure HPX and generate the Makefile

## Actual Behavior

After the first run of cmake following error is reported

[code]

and a second call of cmake is needed to generate the Makefile

## Steps to Reproduce the Problem

  1. Run cmake on Power9 on Summit
  1. Run cmake on Power9 on Summit
  1. Run cmake on Power9 on Summit

## Specifications

.

[2021-05-16 18:48] diehlpk opened #5333 "HPX does not compile on the new Mac OSX using the M1 chip"
## Expected Behavior

HPX should compile on ARM, since it works on Fedora and the A64FX machine, I have access too.

## Actual Behavior

However, on the new Apple M1 chip, it does not might be due to a different name of the hardware type.

[code]

## Steps to Reproduce the Problem

  1. Install all dependencies using homebrew
  1. Run cmake

## Specifications

  - HPX Version: 1.6 or master
  - Pl

[2021-05-17 07:44] msimberg commented on #5333
Could you post the output of `$CXX/clang++/<whateverthecompilerisnamed> -dM -E`?

[2021-05-17 14:53] diehlpk commented on #5333
[code]

[2021-05-17 21:04] diehlpk commented on #5333
Ok, #5339 let hpx compile, but I can not run the examples and will open a new tiket for that.

[2021-05-17 21:04] #5333 closed

[2021-05-17 21:19] diehlpk opened #5340 "Examples do not run on Mac OSX using the M1 chip"
## Expected Behavior

Examples should run.

## Actual Behavior

Examples crash with

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX master using #5339
  1. Run any example

## Specifications

... Please describe your environment

  - HPX Version: Master with #5339
  - Platform (compiler, OS): Big Su

[2021-05-18 13:27] diehlpk commented on #5275
Since the build is fixed on Fedora, I will close the ticket.

[2021-05-18 13:27] #5275 closed

[2021-05-19 10:33] msimberg opened #5344 "Further simplify tag_invoke helpers"
Related to #5332. @hkaiser, @K-ballo, I went back to wg21.link/p1895, and @K-ballo is very correct in saying that they did consider the fallback and override cases in the paper. The "Design Discussion" section contains the relevant parts. With #5283 we get a very viable alternative with `if constexpr`. The `tag*` base classes do help reduce boilerplate currently, so it'd be a shame to completely g

[2021-05-19 10:42] msimberg opened #5345 "Rename P2220 property CPOs?"
Related to #5341.

https://wg21.link/p2220 proposes to use `tag_invoke` for properties. One of the naming conventions it uses to require a property on something is `make_with_x`. This can unfortunately be quite verbose. E.g.:
[code]
The difference is bigger when using prefer:
[code]

This is very much a bikeshedding topic, and it's possible that renaming these properties won't make much of a diffe

[2021-05-19 13:39] hkaiser commented on #5344
The `if constexpr` alternative is good only in cases where we want for the base implementation to 'be aware' of all the alternative implementations. The fallback facilities we have is still the only way for cases where the base implementation should be extended by alternatives without changing it (like with the segmented algorithms or the specializations related to `datapar`).

The fallback and ov

[2021-05-19 13:46] K-ballo commented on #5344
The uses of `tag_invoke` for the purposes of segment algorithm separation have no relation whatsoever to the proposed `std::tag_invoke` design, none of them are customization points, so in that regard it is unsurprising that extensions were needed to take it in different directions. A less misleading name would definitely help.

In the future we can look into approaching the underlying problem dif

[2021-05-19 14:17] hkaiser commented on #5344
As a first step I'd suggest to add detection of `std::tag_invoke` (now or in the future once some libraries actually implement it) and -- if it is available -- disable our `hpx::functional::tag_invoke` API facility. The CPO implementations we have should be usable with a `std::tag_invoke` without change (it's based on ADL anyways).

I agree wrt the segmented algorithms. However for customizing the

[2021-05-19 16:17] msimberg commented on #5344
I'm not sure I follow all of this. I see two points:

1. Is the concern with the segmented algorithm overloads that they are not overloads but only constrain the arguments through SFINAE? If yes, do I understand it correctly that with concepts that would actually be perfectly fine (with `segmented_iterator` being a refinement of some iterator concept)? Again, if yes, the way I see those is that th

[2021-05-19 16:54] K-ballo commented on #5344
Segmented algorithms are actually overloads. They are not customizations (nor algorithms should be customization points).

Concepts would bring subsumption, some `SegmentedIterator` concept would subsume some plain `Iterator` concept, overload resolution would then prefer `SegmentedIterator` overloads to `Iterator` ones all else being equal. Just like `RandomAccessIterator` subsumes `Bidirectional

[2021-05-19 17:01] K-ballo commented on #5344
I am not familiar with those two, so I couldn't say.

The fallback part in the snippet looks suspicious, with `std::tag_invoke` as designed/proposed one would simply do `std::tag_invoke(*this, p, args...)`, for when there is a fallback it would match the base (fallback) implementation. Ignoring `override` entirely, I'd imagine something along the lines of:

[code]

[2021-05-19 17:41] msimberg commented on #5344
Is this a theoretical or practical view, or both? Being able to do `std::for_each(my_execution_policy, ...)` (where that specific call is customized, not somewhere internally with an executor attached to the execution_policy) is very much something we would like to do. If not `std::for_each`, then `hpx::for_each`. I don't know how practical it would be for standard library implementations to ever

[2021-05-19 18:01] hkaiser commented on #5344
Frankly, this is exactly what we try to avoid. The main dispatch point above shouldn't be aware of the override _implementations_ as those might not even be known ATM. All it should do is to dispatch to the proper override (based on overload resolution), which is exactly what our tag_fallback implementation does.

[2021-05-19 18:26] K-ballo commented on #5344
Yeah, I definitely agree that this is not how one would go about this.

[2021-05-19 18:28] hkaiser commented on #5345
FWIW, I'd prefer this option.

Right, no way around that, I guess. p1393 puts the main burden on implementers enabling a slightly less verbose interface. OTOH, p2220 puts the onus on the user by requiring a slightly more verbose formulation (the advantage is the much simpler implementation of `prefer` and a less complicated set of API functions related to properties).

[2021-05-19 18:29] K-ballo commented on #5344
My attempt at expanding was in the pseudo-code. The `std::tag_dispatch` mechanism as designed accounts for the existence of a fallback, the implementation doesn't need to do two steps on this. Put another way `std::tag_invocable<Tag, ...>` should yield `true` when tag dispatching picks the fallback too.

[2021-05-19 19:01] K-ballo commented on #5344
I'm not sure what the differences would be...

A *customization* is a way for a type or a family of types to override some concept's implementation. It is a `virtual/override` equivalent for static polymorphism. From this stems that customizations have to be found by argument dependent lookup, and by argument dependent lookup only. This further constrains *customization points* to be implemented a

[2021-05-19 19:33] hkaiser commented on #5344
Still, we need a single mechanism that helps handling both cases in a convenient way.

Our algorithm overloads are not a closed set.

---

Let's not call the objects implementing the algorithms 'Customization Point Objects' but 'Dispatch Point Objects' (or something similar). I believe that if we do that, many of the issues discussed will be resolved. Instead of naming the dispatch points `tag_inv

[2021-05-19 21:09] K-ballo commented on #5344
It's not possible to have a mechanism that does both exclusively ADL at the same time it avoids ADL entirely.

[2021-05-19 21:47] hkaiser commented on #5344
I can agree with that these two things are mutually exclusive.

However, I don't think we do need both ADL and non-ADL at the same time. What we need is ADL and tag dispatching together. This however shouldn't be problematic, as even the dispatching of `std::tag_invoke` itself relies on both, ADL (to find the proper `tag_invoke` dispatch point), and tag dispatching (the CPO itself is passed along

[2021-05-19 22:07] K-ballo commented on #5344
I think we do not want ADL in general, except for the very specific case of customization. Many of the uses mentioned in here are not, in fact, customizations. For instance, there's no associated namespace for models of the segmented iterator in which to "customize" algorithms for them, nor a conceptual model of how these interact with executors in the case I want to "customize" an algorithm for m

[2021-05-21 09:19] msimberg commented on #5294
Closed by #5274.

[2021-05-21 09:19] #5294 closed

[2021-05-26 13:58] hkaiser commented on #5246
@khuck sorry it took so long to get back. Could you give us a patch (or a PR) reflecting your changes, please?

[2021-05-28 14:50] severinstrobl opened #5358 "HPX init fails for single-core environments"
## Expected Behavior

It should be possible to launch a HPX application on systems with only one CPU core/PU available.

## Actual Behavior

The initialization of HPX fails with:

## Steps to Reproduce the Problem

The problem can be reproduced by launching a HPX application after taking all but one CPU offline or by limiting the number of PUs in an batch environment, which is how I encountered th

[2021-05-28 21:35] khuck commented on #5246
Actually, I think it works now because Patrick has been building on Summit.  I will double check but I don't think it's still a problem.

[2021-05-28 21:59] #5246 closed

[2021-05-31 15:44] #5358 closed

[2021-06-01 12:38] msimberg commented on #5317
This was implemented in #5318.

[2021-06-01 12:38] #5317 closed

[2021-06-01 15:48] msimberg commented on #4942
@yurivict FYI, I've just merged #5330 which doesn't fix the problem itself but gives you a way to work around it by setting `HPX_WITH_PKGCONFIG=OFF` (assuming you don't need pkgconfig support of course...).

[2021-06-01 17:53] yurivict commented on #4942
Adding ```-DECAL_BUILD_VERSION="5.8.9"``` doesn't fix the problem with number of arguments.

[2021-06-02 07:27] msimberg commented on #4942
@yurivict I'm sorry, I'm not sure I see the relevance to this issue, could you please explain? Did you comment in the correct issue?

[2021-06-02 07:31] yurivict commented on #4942
Sorry, wrong issue. My bad.

[2021-06-02 08:16] #5239 closed

[2021-06-02 09:29] msimberg opened #5364 "Update docker image to ubuntu 21.04"
And at the same time bump the clang-format requirement to 11. This is a reminder to do this after 1.7.0.

[2021-06-02 15:28] #5345 closed

[2021-06-02 16:34] DarkDeepBlue opened #5366 "Performance regression in CUDA executor’s callback mode"
There is a performance regression for the _callback_ mode of the CUDA executor.

The regression is introduced by commit
`b5a7913aad` (Fix check in unregister_thread and add register bool, 2020-10-14).

## Expected Behavior

Using preceding commit `02cbcf5413` (Fix hipcc bug of returning const ref when accessing non-const array, 2020-09-30), the results of the executor’s performance benchmark are a

[2021-06-02 17:17] msimberg commented on #4987
Still active. `hpx::start` will be changed in #5356.

[2021-06-02 17:38] #4690 closed

[2021-06-02 17:50] #4297 closed

[2021-06-02 17:50] #4471 closed

[2021-06-02 19:58] diehlpk opened #5369 "HPX 1.6 and master hangs on Summit for > 64 nodes"
## Expected Behavior

the distributed hello_world_example should print something like that one a single node
[code]

## Actual Behavior

However, on >64 nodes on Summit nothing is printed and the application just hangs.

## Steps to Reproduce the Problem

  1. Run on > 64 Summit nodes

## Specifications

... Please describe your environment

  - HPX Version: 1.6 or master
  - Platform (compiler, O

[2021-06-02 20:01] diehlpk commented on #5369
@hkaiser Please find the log file for the hello_world_distributed on 128 nodes

[log2.txt](https://github.com/STEllAR-GROUP/hpx/files/6587134/log2.txt)

[2021-06-02 20:07] diehlpk commented on #2516
@sithhell What is a really high value?

[2021-06-08 03:57] shahwezahmad commented on #4495
@hkaiser  @msimberg   i  want work in this issue please assign me
i  am newbie in open source contribution

[2021-06-08 10:11] msimberg commented on #4495
@CH-ND-N I'm assuming you're not actively working on this at the moment? @shahwezahmad please feel free to just work on this even without me assigning you to it, I don't think anyone else is working on this right now. Let us know on IRC if you need any help with it.

[2021-06-08 16:46] shahwezahmad commented on #4495
I am new in open source field

On Tue 8 Jun, 2021, 3:42 PM Mikael Simberg, ***@***.***>
wrote:

[2021-06-09 04:51] shahwezahmad commented on #4495
ok thankyou

[2021-06-09 15:06] diehlpk opened #5378 "HPX 1.7.0 stopped building on Fedora"
[code]

Fedora's build system does not allow to have any access to the internet and got clone any repo.

[2021-06-09 16:50] hkaiser commented on #5378
The easy solution for this is to have asio pre-downloaded as part of the tarball submitted to Fedora and to add `-DFETCHCONTENT_FULLY_DISCONNECTED=ON` and `-DFETCHCONTENT_SOURCE_DIR_ASIO=<asio_dir>` to cmake.

[2021-06-09 20:02] diehlpk commented on #5378
https://koji.fedoraproject.org/koji/taskinfo?taskID=69713089

[2021-06-09 20:03] diehlpk commented on #5378
For now, we can use the Fedora asio-devel package and x86 built successfully.

[2021-06-09 20:03] #5378 closed

[2021-06-09 20:05] diehlpk opened #5380 "CMake should search for asio package installed on the system"
It would be good if the default is that cmake search for some asio installed on the system and the fall back if not found could be to download it and use that install

[2021-06-10 13:34] hkaiser opened #5381 "Add starts_with and ends_with algorithms"
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p1659r3.html proposes the `ranges::starts_with` and `ranges::ends_with` which have been added to the C++23 draft. We should add those algorithms to our parallel algorithms.

[2021-06-11 08:58] #5157 closed

[2021-06-11 18:32] diehlpk commented on #5369
@hkaiser your patch with removing the .get() helped and hpx does not hang anymore, However, we get

[2021-06-11 18:33] diehlpk commented on #5369
Quoting ORNL's user support:

I suspect the issue here likely is the code has a lot of unexpected point-to-point messages and the number of messages probably scales with the number of nodes which is why it works at 64 nodes and fails at 128. The message usually indicates the network card or switch ran out of resources to handle more messages.

Do you use a lot of MPI_Send/MPI_Recv calls in the cod

[2021-06-11 23:23] diehlpk opened #5385 "HPX 1.7 crashes on Piz Daint > 64 nodes"
## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Compile HPX 1.7 (master) using the MPI parcelport

## Specifications

... Please describe your environment

  - HPX Version: master with patch from @hkaiser

[2021-06-11 23:32] hkaiser commented on #5385
Please give us more information about how you built HPX. Also, could you please try to reproduce this using a debug build for better diagnostics?

[2021-06-12 01:06] diehlpk commented on #5385
[Uploading CMakeCache.txt…]()

[2021-06-12 01:26] hkaiser commented on #5385
Thanks. Is this problem happening always or only under certain circumstances?
How did you launch the application (any command line arguments)?
What srun arguments did you use?
If you launched it on one node only: does it happen if you run the application with `--hpx:ini=hpx.parcel.tcp.enable=0` ?

[2021-06-12 02:31] diehlpk commented on #5385
1. How did you launch the application (any command line arguments)?

Just the hello_world_distributed  without any command line option

2. What srun arguments did you use?

#!/bin/bash -l
#SBATCH --job-name="test-hpx-mpi"
#SBATCH --mail-type=ALL
#SBATCH --time=00:01:00
#SBATCH --nodes=128
#SBATCH --ntasks-per-core=1
#SBATCH --ntasks-per-node=12
#SBATCH --cpus-per-task=1
#SBATCH --partition=normal

[2021-06-12 02:31] diehlpk commented on #5385
@G-071 Did some scaling runs up to 64 nodes and I think he reported no MPI issues.

[2021-06-14 18:44] #5369 closed

[2021-06-15 16:58] diehlpk commented on #5385
@hkaiser HPX 1.5.0 works up to 96 nodes and with 97 we see the same error.

[2021-06-16 12:33] kordejong opened #5395 "HPX 1.7.0-rc1 fails to build icw APEX + OTF2"
## Expected Behavior

Build succeeds.

## Actual Behavior

Build fails with these messages (full log attached):

[code]

## Steps to Reproduce the Problem

  1. Configure HPX with `-DHPX_WITH_APEX:BOOL=ON -DAPEX_WITH_OTF2:BOOL=ON -DHELLO_HPX_BUILD_OTF2:BOOL=ON -DHPX_WITH_EXAMPLES:BOOL=ON`

I test HPX builds using this project: https://github.com/kordejong/hello_hpx The build that fails is the one

[2021-06-16 12:56] hkaiser commented on #5395
@kordejong Apparently the collective functions are used more than I expected. We have introduced a breaking change to those functions to unify their API and straighten out naming, namespaces and argument handling. The following changes have been made:

- All collective operations now can be found in `namespace hpx::collectives`
- The sequence of arguments has been unified for all collective operat

[2021-06-16 13:19] msimberg commented on #5395
Note that if the breaking changes don't affect your code directly but only through APEX this has already been fixed in APEX. The fix will be included in 1.7.0-rc2. We've also added a CI configuration with OTF2 enabled to catch this in the future.

[2021-06-16 13:35] kordejong commented on #5395
My little `hello_hpx` project only builds HPX. It does not actually use HPX. I use it to test whether I can still build HPX as I am used to. I will test 1.7.0-rc2 once it is released and will then also build my own project. I am pretty sure my own project does not use the API calls mentioned in the above error message.

[2021-06-16 21:17] severinstrobl opened #5397 "Performance regression in thread annotations"
Some change introduced between 84cf823 and the current master seems to result in a serious performance regression when using the parallel algorithms, e.g., `hpx::transform_reduce`, with an annotated lambda, where the performance deteriorates by a factor of 5 in my application. It seems also other loop constructs are affected, although not quite as drastically.

@khuck: Any idea if there was a chan

[2021-06-16 22:41] khuck commented on #5397
@severinstrobl can you share a simple example that reproduces it?  I'll see what I can find on my end.  Obviously something changed, but I don't know where...

[2021-06-17 06:39] severinstrobl commented on #5397
Sure, I'll try to put something together either tomorrow or on the weekend.

[2021-06-17 10:30] severinstrobl commented on #5397
In fact, the old example I used to play around with when looking into task annotations also exhibits the problem, so [here is my testcase](https://gist.github.com/severinstrobl/001637c417caf341faccb76350e678b9).

On my test system I get the following results for the time spent in the annotated function:

HPX version | APEX version | runtime [s]
-- | -- | --
84cf823 | 2.3 | 778.515
f3c41fa | 2.4 |

[2021-06-17 16:30] khuck commented on #5397
@severinstrobl how did you "disable" APEX?  You mean you configured HPX without APEX?

You can disable APEX at runtime by setting the environment variable APEX_DISABLE=1, which will make every APEX API call return immediately.  If that time is the same as the run with APEX fully enabled, then I think the regression is in HPX.  When HPX is configured with APEX, several other features are forced on

[2021-06-17 16:31] khuck commented on #5397
The exact version is the commit with that version tag.

[2021-06-17 17:17] khuck commented on #5397
@severinstrobl @hkaiser I have confirmed this is NOT related to changes in the APEX library, but in HPX.  here is how I reproduced that:

I built HPX two different ways, one with APEX enabled and one without.  The plain HPX build is in the `$HOME/src/hpx/build` directory, the HPX+APEX build is in the `$HOME/src/hpx/build_apex` directory.  Then I built the example from Severin, both without and wit

[2021-06-17 18:04] khuck commented on #5397
In fact, here is some gproftools profiler output of the reproducer benchmark with APEX enabled, and you can see that a lot of time is spent in annotate_function and children (53%): http://www.nic.uoregon.edu/~khuck/with2.pdf, versus the run without (where annotate_function disappears completely - is it compiled away?): http://www.nic.uoregon.edu/~khuck/without.pdf

[2021-06-17 18:28] severinstrobl commented on #5397
@khuck  Thanks for looking into that and the extra information! I did in fact also use two builds, one with APEX enabled and one without.

As the impact on performance is so high, I'd be surprised if it was a change in APEX. My suspicion is that due to some change around `annotated_function` the functor maybe gets copied instead of being passed by reference or something similar.

And yes, with APE

[2021-06-17 19:00] severinstrobl commented on #5397
@hkaiser Based on some (manual) bisecting and looking at the history, I am somewhat confident that the culprit was introduced with #5347, possibly e509f93?

[2021-06-17 19:18] hkaiser commented on #5397
Thanks for diagnosing things. I'll try to have a look over the weekend.

[2021-06-18 15:08] #5380 closed

[2021-06-18 18:07] diehlpk commented on #5385
@hkaiser Running the debug build does not really help
[code]

[2021-06-18 18:15] diehlpk commented on #5385
@hkaiser Running with gdb does not really help as well

[code]

[2021-06-18 18:21] diehlpk commented on #5385
For 97 nodes, we get the same error
[code]

[2021-06-18 19:23] diehlpk commented on #5385
[log_daint_97.txt](https://github.com/STEllAR-GROUP/hpx/files/6678943/log_daint_97.txt)

[code]

[2021-06-18 19:57] hkaiser commented on #5397
@severinstrobl:  I can confirm, that adding this line causes the regression: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/threading_base/include/hpx/threading_base/annotated_function.hpp#L143. @msimberg you were right when you raised an eyebrow at this during review.

I see several possible solutions here:

- The main culprit for the slowdown is the lock in `thread_data::set_descript

[2021-06-18 20:17] msimberg commented on #5397
@hkaiser nice diagnosis!

Regarding the fourth option: what about making use of the new ability to set the annotation on the policy rather than the callable? If I understand you correctly you're talking about taking the annotation from the callable and adding/moving it to the chunks instead, but I suppose setting the annotation on the policy would have the same effect, without internal changes?

T

[2021-06-18 21:06] hkaiser commented on #5397
@msimberg this is a nice idea, however it will not work for arbitrary executors. At least the example provided relies on the `hpx::compute::host::block_executor` that does not support annotations.

[2021-06-20 14:05] Jedi18 opened #5404 "Build fails with error "Cannot open include file asio/io_context.hpp""
CMake configuration for generating the visual studio solution could not find ASIO_INCLUDE_DIR . Had to manually add it.

Asio include headers work if `#include <boost/asio/io_context.hpp>` is used instead of `#include <asio/io_context.hpp>` which is how they are used in all the files.

## Expected Behavior
Build succeeds.

## Actual Behavior
Build fails with these messages:
[code]
## Specification

[2021-06-20 15:26] msimberg commented on #5404
Where do you have Asio installed? Do you specify ASIO_ROOT, and if yes where do you point it to? Could you also post the out from the cmake configuration? Note that earlier Asio was not searched for, it was always fetched by HPX so it would always be "found". If you want to fetch it automatically you'd need to set HPX_WITH_FETCH_ASIO=ON.

[2021-06-21 04:17] Jedi18 commented on #5404
Isn't asio installed with boost? I dind't specify ASIO_ROOT but specified ASIO_INCLUDE_DIR to the boost/asio folder.

Anyway on building it successfully on an older commit, when I came back to it and tried it again the cmake configuration worked without needing to specify the asio path. However I still get the include errors when trying to build it.

CMake config output (now that it is able to det

[2021-06-21 07:22] msimberg commented on #5404
Oh boy, this is a fun one to explain... There's Boost.Asio, and there's https://github.com/chriskohlhoff/asio/. They're the same, but different (i.e. not interchangeable). #5158 changed to use the standalone Asio over Boost.Asio, but indeed Boost.Asio is still available because we still depend on Boost otherwise in a few places (i.e. we add the include paths implicitly for Boost.Asio, but we don't

[2021-06-21 15:48] Jedi18 commented on #5404
Thanks, that explains everything. Yeah it's working with -DHPX_WITH_FETCH_ASIO=ON (I wasn't setting it properly before, turns out you need to press the configure button twice in cmake gui when adding a new argument)

[2021-06-21 15:48] #5404 closed

[2021-06-21 19:40] diehlpk commented on #5385
@hkaiser Just to confirm HPX 1.4.0 does not work either on Piz Daint for > 96 nodes.

[2021-06-21 20:33] diehlpk commented on #5385
@hkaiser Ok, even the HPX version we used in 2019 for the SC paper failed.

We used cray-mpich/7.7.2 in 2019 and today cray-mpich/7.7.16. The only difference is the gcc compiler.

[2021-06-21 21:26] diehlpk commented on #5385
@hkaiser Ok, gcc 7 is not available on Daint. So I used gcc 8 as we use on Gadi, and it does not work.

[2021-06-22 00:13] diehlpk commented on #5385
Ok, I used the same jemalloc, hpx, vc as we used on Gadi, and it still does not work. The only difference is the gcc and boost. I will compile gcc 7 on Daint and test again.

[2021-06-22 01:04] diehlpk commented on #5385
Backtrace if some core file

[code]

[2021-06-22 01:56] diehlpk commented on #5385
Ok, adding `--hpx:ini=hpx.parcel.tcp.enable!=0 --hpx:ini=hpx.parcel.bootstrap!=mpi` and it works for 128 and 256 jobs, but it is slow.

[2021-06-22 12:56] #5397 closed

[2021-06-22 18:03] diehlpk opened #5408 "hello_world_distributed crashes on master"
## Expected Behavior

The localities should be printed.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile master with APEX
  1. Run hello_world_distributed on a single node

## Specifications

... Please describe your environment

  - HPX Version: master
  - Platform (compiler, OS): gc

[2021-06-22 18:05] diehlpk commented on #5385
I will close this issues since it was resolved.

[2021-06-22 18:05] #5385 closed

[2021-06-22 20:14] hkaiser commented on #5408
We have seen this problem before whenever there are several versions of HPX that are being found by the application (Debug/Release, simply several binary installations mixed, or similar)

[2021-06-22 20:18] diehlpk commented on #5408
[code]

[2021-06-22 20:29] hkaiser commented on #5385
FWIW, the actual resolution is in #5407

[2021-06-22 21:03] diehlpk commented on #5408
That can be closed since it seems to be related to some different HPX installations found.

[2021-06-22 21:03] #5408 closed

[2021-06-23 07:20] #5395 closed

[2021-06-23 08:46] msimberg commented on #5045
Added P2300 (https://isocpp.org/files/papers/P2300R0.html) to the list. It combines P0443 and P1897 into a single paper and cleans up some rough edges.

[2021-06-24 11:03] ansar-sa opened #5411 "Add support conan"
Would the team please consider adding the hpx package into the conan repository. I understand that there is vcpkg support, however for a few projects conan is already being used and significantly cuts down time to use hpx with existing package management and ci/cd pipelines.

[2021-06-24 11:07] msimberg commented on #5411
Currently none of the HPX developers are using conan so there hasn't been the interest or need to add a conan package. However, if there's interest we'd be happy to help out with creating one. It'd be great if someone who has experience with writing conan packages (you?) could set up a starting point, and we'd be happy to review and revise the package.

[2021-06-24 11:08] msimberg commented on #5411
In case it's an option to you, I just want to point out that we also have a [spack](https://spack.readthedocs.io/en/latest/) package. However, I understand that spack is not conan...

[2021-06-24 11:35] ansar-sa commented on #5411
I unfortunately do not have enough domain expertise for package building re conan. looks reasonably involved so will need developers with prior conan packaging experience or could just be one of those things that becomes a time sink (the pipeline to use built packages from conan on the other hand is trivial). let me play around with vcpkg after all and see how involved it will be to integrate with

[2021-06-24 12:42] kordejong opened #5412 "Link error"
## Expected Behavior

Build without link error.

## Actual Behavior

When using HPX CMake targets it seems pthread is not in the list of libs to link against.

## Steps to Reproduce the Problem

  1. Configure HPX without any arguments.
  1. Compile a simple Hello World program
  1. Link against hpx, wrap_main, iostreams_component

## Specifications

  - HPX Version: 1.7.0-rc2
  - Platform (compil

[2021-06-24 16:06] msimberg commented on #5412
@kordejong would you mind trying the following:

- Adding `-DTHREADS_PREFER_PTHREAD_FLAG=TRUE`, and separately
- The above together with commenting out the two lines here: https://github.com/STEllAR-GROUP/hpx/blob/dad2180c2c8dd93fcfec0aa89a4d479925deb126/CMakeLists.txt#L1733-L1734

If neither of these work, I'll try to put together a workaround. I have a hunch about where to put those flags.

[2021-06-25 20:16] hkaiser commented on #5045
Re P2300: here is a list of things that are changed compared to P0443 and P1897:

There is a new concept of completion-schedulers that may be associated with a particular sender. Thus
- [ ] `get_completion_scheduler` is a new customization point to be implemented for senders

General changes:
- [ ] `transform` has been renamed to `then`, `lazy_the` has been added
- [ ] `sync_wait` should go into t

[2021-06-28 06:51] kordejong commented on #5412
Adding`-DPTHREAD_PREFER_PTHREAD_FLAG=TRUE` resulted in the same link error.

Adding`-DPTHREAD_PREFER_PTHREAD_FLAG=TRUE` and commenting out the two lines in `hpx/CMakeLists.txt` resulted in a CMake configure error:

[code]

[2021-06-28 08:08] msimberg commented on #5412
Interesting... thanks for checking. Could I ask you to please try one last thing? Do things work if you set `-DHPX_WITH_PKGCONFIG=OFF`?

[2021-06-28 09:26] kordejong commented on #5412
Only setting `-DHPX_WITH_PKGCONFIG=OFF` also results in the link error during link of the hello world application.

[2021-06-28 09:52] kordejong commented on #5412
Success! I tried all of your edits at the same time:
- Comment out the two lines in the `hpx/CMakeLists.txt` file
- Passing `HPX_WITH_PKGCONFIG=OFF`
- Pass `-DTHREADS_PREFER_PTHREAD_FLAG=TRUE`
Now the build succeeds.

[2021-06-28 12:27] msimberg commented on #5412
@kordejong thanks for checking again. That's very good to hear. Would it be sufficient for use case if we apply the two first fixes, and leave you to turn off pkgconfig support? We have an open issue for that exact issue here: https://github.com/STEllAR-GROUP/hpx/issues/4942. However, we don't have a fix in the works and it's relatively low priority for us. We may remove pkgconfig support in the f

[2021-06-28 12:43] kordejong commented on #5412
Sure, that is fine with me. Note however that this link issue pops up with an almost completely default HPX build on a popular Linux distribution. More people may run into this issue. If I understand correctly, with your proposed fixes I would have to either
- Pass `-DHPX_WITH_PKGCONFIG=OFF` to CMake, or
- Pass `HPX_WITH_FETCH_ASIO=ON`

[2021-06-29 09:25] kordejong opened #5419 "Deprecation warning in HPX' own header"
## Expected Behavior

Compile without warnings.

## Actual Behavior

Compiler warning:

[code]

## Steps to Reproduce the Problem

Build HPX with gcc and warning flag `-Wcpp`.

## Specifications

  - HPX Version: 1.7.0-rc2
  - Platform (compiler, OS): gcc, Linux

[2021-06-29 10:46] msimberg commented on #5419
Hmm, does the warning tell you what file included `hpx/lcos/promise.hpp`?

[2021-06-29 10:57] kordejong commented on #5419
Good question. My own... Sorry for the noise. I will drink some more coffee now.

[2021-06-29 11:12] msimberg commented on #5419
No problem! I did get a bit worried since we test for this...

[2021-06-29 11:12] #5419 closed

[2021-06-29 11:14] msimberg commented on #5412
Yes, fair point. I think long term we anyway want to turn off pkgconfig support at least by default. Not sure what others think about this. Too sudden to do it for 1.7.0?

[2021-06-29 11:16] kordejong commented on #5419
And the testing pays off! I am very happy HPX builds as cleanly as it does.

[2021-06-29 13:50] hkaiser commented on #5412
Disable support for pkgconfig now (without removing it) is ok, I think. only very few people use it.

[2021-06-30 08:11] #5412 closed

[2021-06-30 13:11] msimberg opened #5423 "Fix lvalue-ref qualified connect for when_all_sender"
See discussion at https://github.com/STEllAR-GROUP/hpx/pull/5422#discussion_r661215038.

[2021-06-30 14:34] PratyushD35 commented on #4495
@msimberg  I want to work on this and also I am new to this . Please guide.

[2021-07-02 09:35] aurianer commented on #4495
@PratyushD35 I think you can start by building the documentation using CMake with [those options](https://github.com/STEllAR-GROUP/hpx/blob/master/.circleci/config.yml#L228-L229) (see [building documentation](https://hpx-docs.stellar-group.org/branches/master/html/contributing/documentation.html#building-documentation)) and then join our [libera.chat channel](https://matrix.to/#/#ste||ar:libera.ch

[2021-07-08 01:34] #4879 closed

[2021-07-08 01:34] #4891 closed

[2021-07-08 01:34] #4956 closed

[2021-07-08 01:34] #4044 closed

[2021-07-08 01:34] #4511 closed

[2021-07-08 01:34] #5052 closed

[2021-07-08 08:22] msimberg commented on #4558
This was "fixed" by https://github.com/STEllAR-GROUP/hpx/pull/5387 since the default for `min_tasks_to_steal_staged` is now `0`. The underlying problem still exists of course if someone changes that default to a non-zero value.

[2021-07-08 08:22] msimberg commented on #4482
In progress in #5162.

[2021-07-08 08:36] #5423 closed

[2021-07-09 14:41] #5204 closed

[2021-07-11 01:22] eschnett opened #5442 "Build error on macOS with GCC"
## Expected Behavior

I want to build HPX on macOS with GCC 11, and its standard C++ library.

## Actual Behavior

I see this error:
[code]

## Steps to Reproduce the Problem

I installed GCC 11.1.0 on macOS 11.4 via Spack. Using this GCC I then want to install HPX.

  1. spack install gcc
  1. spack compiler find
  1. spack install hpx networking=none %gcc

## Specifications

... Please describe

[2021-07-12 09:13] msimberg commented on #5442
Thanks @eschnett for reporting this. This is definitely odd and should not happen. Two questions, though I don't know how far they'll get us:
1. Do you possibly have a system-installed boost lurking somewhere in addition to the one built by spack?
2. Does the same happen with master (or 1.7.0-rc3)?

[2021-07-12 14:01] eschnett commented on #5442
To my knowledge there is no other Boost installation. I also explicitly set my path to exclude all the places where Macports or Homebrew would install something, and I didn't install anything manually.

There is on Spack version for `1.7.0rc3`. Installing `boost @master` via Spack fails with
[code]
This seems like a problem with the Spack build recipe.

I added `asio` as dependency of `hpx` in Spa

[2021-07-12 14:31] msimberg commented on #5442
Ah, yes, sorry about Asio. We haven't added the dependency yet to the recipe since 1.7.0 isn't out yet, but you've done exactly what we would do in a few days.

@albestro would you mind if I drag you into this since you're a mac user? Have you been able to build HPX master through spack on a mac without problems or possibly seen similar errors in the past?

[2021-07-12 14:34] eschnett commented on #5442
To clarify: I can build `hpx` fine on macOS when I just say `spack install hpx`. This uses Apple's Clang compiler. However, I want to use GCC for various reasons (openMP, Fortran, consistency with other platforms), and this fails.

[2021-07-12 14:47] albestro commented on #5442
I never tried to build it with GCC, but always with `apple-clang`. However, I'm trying to build with GCC 10.2.0 and I'll let you know as soon as it completes. 😉

[2021-07-13 08:31] msimberg commented on #5442
@eschnett, @albestro and I did a little investigation yesterday and found the following:

- Boost.System defines a compatibility layer between `boost::system::error_code` and `std::error_code` for conversions in both directions
- The compatibility layer is enabled if the Boost configuration decides that the standard library supports `system_error`
- `system_error` is not supported if the `system_e

[2021-07-13 08:53] msimberg commented on #5442
Just to add, it even looks like at least later libstdc++s have a fallback `timed_mutex` even if `_GTHREAD_USE_MUTEX_TIMEDLOCK` isn't available so in that sense the check in Boost is too strict. I haven't yet checked if earlier libstdc++s didn't have a fallback.

[2021-07-13 09:06] msimberg commented on #5442
One more update: It looks like the compatibility layer in Boost.System has been updated to not rely on `mutex` anymore, but just atomics (https://github.com/boostorg/system/commit/04bfb05b19c0f74edec7130454b46a7477a45600#diff-57b157d243f7c35362708577bf488af3a1f67c433c926d93438ccca5ca3d108e). This should (intentionally or unintentionally) fix the problem. Boost 1.77 is now in a release candidate an

[2021-07-13 09:32] msimberg commented on #5442
And finally, we can't get rid of our compatibility layer for error codes yet, because it's required for the filesystem compatibility layer, which uses Boost.Filesystem. However, we'll require C++17 after 1.7.0 which gives us `std::filesystem`. I've heard from others about issues with `std::filesystem` on macOS, but I don't know the details and we may be ok with the subset that we use. We'll have t

[2021-07-13 15:39] NK-Nikunj opened #5447 "Cmake searches for Asio even when MPI parcelport is set through commandline"
## Expected Behavior

Cmake should identify the MPI backend and no error should be thrown.

## Actual Behavior

Cmake throws an error searching for Asio and instructs user to either add Asio to path or allow HPX to install Asio alongside the installation of HPX.

## Steps to Reproduce the Problem

Following cmake command reproduces the issue for me on X86:

[code]

The output is as follows:

[code

[2021-07-13 15:43] NK-Nikunj commented on #5447
Turns out Asio is needed outside of Parcelport implementations as well. Marking it as resolved and closing the ticket.

[2021-07-13 15:43] #5447 closed

[2021-07-13 17:16] eschnett commented on #5442
I'm currently trying to build with `boost @develop`; so far without success.

This is the requested output:
[code]

[2021-07-13 17:41] eschnett commented on #5442
FYI: Building `boost @develop` with GCC gives errors like these:
[code]
[code]

It seems the rabbit hole goes deep.

What I'm really looking for is a library that provides many efficient threads (sometimes called "thread pool"), together with a `std::future` like abstraction. (Because this is 2021, not the stone age.) HPX would be ideal; as alternative I'd consider using a low-level threading libr

[2021-07-14 09:38] msimberg commented on #5442
Ugh, indeed.

I'd give it another try once Boost 1.77 is officially released. Additionally, you might want to report that error to Boost. You're definitely in the right place if you're looking for lightweight threads. Unfortunately you're also using quite a niche configuration, which we don't really have the manpower to fully support. That said, the only way to improve things is to report problems

[2021-07-14 14:42] eschnett commented on #5442
Reported as https://github.com/boostorg/filesystem/issues/199 and https://github.com/boostorg/property_map/issues/22 .

[2021-07-14 16:23] eschnett commented on #5442
... and the first issue is fixed, the second is actually a problem in Spack.

[2021-07-14 20:37] eschnett commented on #5442
Building `hpx @master` with `boost @develop` now reports this error:
[code]
The full output is in [spack-build-out.txt](https://github.com/STEllAR-GROUP/hpx/files/6818514/spack-build-out.txt). (Look for `error:`.)

[2021-07-14 20:38] eschnett commented on #5442
I think that's another Boost thing. It doesn't know how to compile the assembler sources for the context library with GCC on macOS. The build log has
[code]

[2021-07-14 22:44] pdimov commented on #5442
You should also try this with the just released 1.77 beta (https://boostorg.jfrog.io/artifactory/main/beta/1.77.0.beta1/source/).

[2021-07-14 23:04] eschnett commented on #5442
@pdimov It's difficult to build this release branch with Spack; there is no fetch recipe.

Since the development branch fails, I assume that the release branch is failing as well.

[2021-07-14 23:06] pdimov commented on #5442
Use master - this is what the releases are built from, and at the moment it should be identical to the beta.

[2021-07-14 23:19] eschnett commented on #5442
With the various patches to Boost, and with HPX 1.7.0, I can build and link with GCC on macOS. Thanks for all the help!

(This is with `boost @develop`.)

[2021-07-14 23:19] #5442 closed

[2021-07-15 08:56] msimberg commented on #5442
Thanks @eschnett, @pdimov, @albestro and anyone else who was involved for your patience and investigations. Nice to see this working!

[2021-07-16 12:51] hkaiser opened #5456 "Use `std::ranges::iter_swap` where available"
`std::iter_swap doesn't properly handle iterators that return proxy types, while `std::ranges::iter_swap` does. The latter is available with C++20 only, so we should implement our own replacement, if needed. Many of our algorithms use `iter_swap, those require changes.

[2021-07-20 14:34] Jedi18 commented on #3706
Should we add range(and sentinel) overloads for these as well?

[2021-07-20 14:36] hkaiser commented on #3706
Yep, good idea. See how it's specified for rotate: http://eel.is/c++draft/alg.rotate

[2021-07-20 14:47] Jedi18 commented on #3706
Ok thanks!

[2021-07-21 01:39] #4772 closed

[2021-07-22 08:51] aurianer commented on #5023
Adressed by #5145

[2021-07-22 09:03] aurianer commented on #4992
I guess since we are about to switch to clang-format-11 #5421, we could do just after

[2021-07-22 14:47] aurianer opened #5463 "Address minor comments of the C++17 PR bump"
- [x] Signaled that HPX_WITH_CXX17 is deprecated in the docs and explain the current policy in place to find the standard.
- [x] Recheck that the c++17 features check removed [are supported](https://en.cppreference.com/w/cpp/compiler_support/17)
- [x] Includes the .cpp feature tests for the .cu ones
- [x] Hide the device code difference in the `HPX_INLINE_CONSTEXPR_VARIABLE`
- [x] Make the operato

[2021-07-23 14:47] #5023 closed

[2021-07-26 18:23] khuck opened #5469 "Compiler warning about HPX_NODISCARD when building with APEX"
## Expected Behavior

compilation without warnings

## Actual Behavior

When HPX is configured with APEX, the APEX source files all give this warning when compiled (for example):
[code]

## Steps to Reproduce the Problem

  1.  configure HPX with `-DHPX_WITH_APEX=TRUE`
  1.  make core
  1.

## Specifications

  - HPX Version:  current master
  - Platform (compiler, OS):  all platforms, gcc compile

[2021-07-28 07:49] aurianer opened #5472 "Compilation error with cuda/11.3"
This error appeared on master with the `lsu/env-gcc-9-cuda-11.sh` configuration, it takes `cuda/11` and cuda/11.3 must have been set recently as the default
https://cdash.cscs.ch/viewBuildError.php?buildid=172746

[2021-07-28 15:44] Jedi18 commented on #1836
Hi @fjtapia ! Do you plan to contribute the remaining partial_sort_copy and nth_element anytime soon? Would really appreciate your help.

[2021-07-29 09:04] msimberg commented on #5105
Sorry @JAPPinto for not being more responsive here. Is this still an issue for you?

[2021-07-29 09:04] msimberg commented on #4409
@biddisco is this something you still want to get back to?

[2021-07-29 09:35] msimberg commented on #4992
Good idea. There's also not much unmodularized code left. The `examples` and `tests` directories (in the root of the repo) are also unformatted, but those change less frequently, so we might as well do it now.

[2021-07-29 12:15] msimberg commented on #5469
@khuck I believe this is "fixed" after #5283 was merged.

What happened was that `HPX_NODISCARD` mapped to `[[nodiscard]]` if the attribute is available, and to `__attribute__((warn_unused_result))` on GCC if `[[nodiscard]]` isn't available. The former applies to structs, classes, and functions, whereas the latter only applies to functions. However, we used `HPX_NODISCARD` assuming it can be used

[2021-07-29 12:22] jjyyxx opened #5478 "hpx.dll built with vcpkg got functions pointing to the same location"
The problem arises when experimenting with `1d_stencil_6.cpp`, running with only one locality is fine, but with more than one locality (thus needs serialization) AND in release mode (some optimization happens), the program throws at location
https://github.com/STEllAR-GROUP/hpx/blob/76a2ba5b266008be5e0d5a13e17ae0950099dde2/libs/full/naming/src/credit_handling.cpp#L495-L502

I am just getting start

[2021-07-29 13:04] hkaiser commented on #5478
Could you please try using `1d_stencil_8`, I remember other people having problems with stencil_6 before.

For the function addresses: I believe that this is an optimization applied by the linker based on the fact that both of those functions are empty. The linker doesn't know that we rely on the addresses of the functions to be different. We should change this code to rely on a variable's address

[2021-07-29 15:21] jjyyxx commented on #5478
Interestingly, while `1d_stencil_6` breaks on the node 0 side and node 1 keeps waiting, in `1d_stencil_8`, both sides break with the invalid_status exception mentioned above. I think this break is unavoidable as long as some kind of serialization is involved. I guess it relates to MSVC (some specific version or some flags), or others would have discovered this issue before.

[2021-07-29 15:26] jjyyxx commented on #5478
MSVC document says:

[/OPT](https://docs.microsoft.com/en-us/cpp/build/reference/opt-optimizations) and [/Gy](https://docs.microsoft.com/en-us/cpp/build/reference/gy-enable-function-level-linking) flags may relate to this issue. However, adjusting these flags may have negative impact on binary size or something? Maybe use variable address works better? I'm not sure

(However, building HPX once tak

[2021-07-29 20:13] hkaiser commented on #5478
@ijyyxx Thanks again for diagnosing and reporting the issue. #5482 provides a possible fix. Would you be able to verify whether the patch solves the issue for you?

[2021-07-30 03:42] FunMiles opened #5483 "Compiling with g++11 on Mac OS fails with mixing std::error_code and boost::error_code"
## Expected Behavior

HPX should compile without error

## Actual Behavior

The compilation fails in `connection_handler_tcp.cpp`

In file included from /Users/michel/Development/OpenSource/HPX/hpx/plugins/parcelport/tcp/connection_handler_tcp.cpp:1:
/Users/michel/Development/OpenSource/HPX/hpx/libs/core/config/include/hpx/config/detail/compat_error_code.hpp: In destructor 'hpx::compat_error_code:

[2021-07-30 07:15] msimberg commented on #4488
I've been doing this on tests/examples that I touch otherwise, but not at a larger scale. I still think it's a good thing to do, especially in examples, to show users which headers are recommended to include. Internally we've definitely moved back from including module headers more specific headers.

[2021-07-30 07:17] msimberg commented on #5483
Please see https://github.com/STEllAR-GROUP/hpx/issues/5442. This is a mix of a macOS and Boost issue and you'll likely have to wait for the yet to be released Boost 1.77.

[2021-07-30 07:17] #5483 closed

[2021-07-30 07:49] #5364 closed

[2021-07-30 14:28] hkaiser opened #5486 "Possible V1.7.1 release"
Here is a list of PRs that could potentially go into a V1.7.1 release, if needed:

- [x] Adding bound-checking for bind placeholders (#5489)
- [x] Add Asio version check (#5485)
- [x] Change extra archive data to rely on uniqueness of a variable address, not a function address (#5482)
- [x] More fixes to enable for all types to be assumed to be bitwise copyable (#5448)

The following PRs are just

[2021-08-01 15:26] hkaiser opened #5488 "`hpx::util::bind` doesn't bounds-check placeholders"
The following should compile, but doesn't:
[code]

[2021-08-01 15:59] FunMiles commented on #5483
Thanks, @msimberg I had missed that issue in the list of existing one (I guess I must have only looked at the opened ones. Maybe leaving issues that are not yet fully resolved open would avoid this type of duplication?).

From reading the discussion the boost::error_code is still in HPX only because of boost::file_system but the full 1.7 HPX should get rid of that requirement as C++17 with std::fi

[2021-08-02 08:09] msimberg commented on #5483
That's correct. I can even give that a go right away since we merged the C++17 branch. It looks like Apple Clang is at least detecting filesystem and it seems to be compiling as well. I've no clue about GCC on macOS again. Do you happen to know if your GCC 11/libstc++ on macOS supports filesystem fully?

[2021-08-02 10:04] msimberg commented on #5483
See #5491 for an attempt at removing all traces of `boost::system::error_code`.

[2021-08-02 16:09] fjtapia commented on #1836
Hi *Akhil*

I will finish in a few weeks the partial_sort_copy and the other functions
in HPX.

Today I am working in a new parallel sort algorithm, simple and fast, which
permit an easy implementation of these functions in parallel mode, and, of
course, the parallel sort.

Now I am testing and tuning the algorithm, primarily for the Boost Sort
library, and after, for HPX.

Thanks by your interest

[2021-08-02 17:35] FunMiles commented on #5483
I had tested filesystem on MacOS/Clang early on when it was not yet fully supported. More recently, I've noticed they implement everything I needed and have fully integrated std::filesystem in my codes. I will check with g++11 and report back.

[2021-08-02 23:45] hkaiser opened #5492 "Create missing task execution policies"
Notably, `unseq` and `par_unseq` don't expose corresponding `task` policies.

[2021-08-02 23:56] hkaiser commented on #1836
Thanks Francisco, much appreciated!

[2021-08-03 14:31] hkaiser opened #5494 "Rename `simdpar` execution policy to `par_simd`"
This is for consistency with the `unseq` and `par_unseq` policies.

[2021-08-03 17:09] FunMiles commented on #5483
Reporting back, on MacOS, g++11 as installed by `homebrew` implements all the features of std::filesystem I use in my codes.

[2021-08-04 14:27] #5488 closed

[2021-08-04 18:01] FunMiles opened #5496 "Remove need for HPX_PLAIN_ACTION macro."
As mentioned in https://github.com/STEllAR-GROUP/hpx/issues/3992 there is a lot of boilerplate in HPX. And macros are generally evil, so removing them step by step is in my opinion a good idea.

I looked at UPC++ and they offer a much more flexible way for RPC calls. They allow certain lambdas (with only trivially copyable captures). Though there is no standard guarantee that the lambda capture it

[2021-08-04 18:31] hkaiser commented on #5496
Please see: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/full/actions_base/include/hpx/actions_base/lambda_to_action.hpp. Is that what you're after?

[2021-08-04 21:09] FunMiles commented on #5496
I am going to look into this deeper the two link you gave.

However, I don't think it goes as far as what I want. It still requires to wrap the lambda with a call to `hpx::actions::lambda_to_action`.
I am looking at being able to make a rpc call with a lambda that does not need to have been manually registered. In the outline I gave above, the simple fact that the code contains call to `rpc([](aut

[2021-08-05 09:23] msimberg opened #5497 "Start using C++17 features unconditionally"
Now that we require C++17 we can start using C++17 features more liberally without having to worry about fallbacks for older standards. Below is a grab bag of things we could start changing (please feel free to add to the list, or even better simply make the change if there's something missing). Keep in mind that we don't need to change every instance possible in one go, so don't be afraid to just

[2021-08-05 09:41] msimberg opened #5498 "Add concepts alongside type traits"
With compilers starting to get decent support for C++20 and thus concepts there's a potential for some users actually wanting to simply require C++20 (I know, it's *very* early, but possible). I'm not sure we could internally start using concepts conditionally when they're available since the syntax between adding `enable_if`/`HPX_CONCEPT_REQUIRES` as template parameters and `requires` clauses or

[2021-08-05 12:32] hkaiser commented on #5497
What about the `hpx::apply` <--> `std::apply` semantic mismatch? Should we start deprecating `hpx::apply` for some other name (`hpx::fire_n_forget`/`hpx::post`?) so we can substitute our `hpx::util::invoke_fused` with `std::apply` without causing undue confusion?

[2021-08-05 12:48] K-ballo commented on #5497
`std::invoke` implementations are considerably heavier at build time. It makes sense to replace `hpx::invoke` in examples and other user facing bits. In implementation code `HPX_INVOKE` should be used instead, to additionally reduce the stack noise in debug builds.

[2021-08-05 15:51] FunMiles commented on #5496
PS: On the other hand, I have the impression that I can achieve what I want with a very simple use of `hpx::lambda_to_action` at least for lambdas with an empty capture. It seems that if I use the template variable to call `hpx::lambda_to_action`, then I will have reached my goal. There's only one mystery left. Why is there a call to `std::move` ? If it is needed then the action can only be used o

[2021-08-05 16:01] hkaiser commented on #5496
All actions can be invoked more than once, but each invocation will receive the arguments via `std::move`.

I'll try to answer all the other questions and comments later.

[2021-08-05 17:17] #5478 closed

[2021-08-06 07:57] msimberg commented on #5497
Yes, I think we'll have to start deprecating it. I'm not sure what would be the best name for it. Another alternative would be to redirect users to `hpx::execution::experimental::execute` as an alternative, but it may be too early. That would require a customization for executors (just forward to `post`) and `execute` would have to become variadic.

Thanks, that makes sense. I suppose if that's th

[2021-08-06 19:35] FunMiles commented on #5496
I have created a quick test and the following essentially does what I want:
[code]

I will wait for more info about the std::move, but given the way my function `wrapped` returns the variable value, I presume there is no need for `std::move`.
Note that it is my understanding that what I wrote above only works in C++20 because before then, the default constructor of the closure is either deleted (C

[2021-08-07 15:30] #5494 closed

[2021-08-07 18:04] JAPPinto commented on #5105
No @msimberg, it is no longer an issue.

[2021-08-07 19:15] #5105 closed

[2021-08-09 08:00] #5463 closed

[2021-08-09 08:25] #5486 closed

[2021-08-09 19:07] prlw1 opened #5502 "C++20 std::coroutine cmake detection"
Configuring HPX head on a box with GNU g++ 10.3.0, I am trying to get
[code]
to pass, but am getting lost in the cmake files.

According to g++'s error message, it seems that a `promise_type` also needs to define `unhandled_exception`, so I applied
[code]

Copying the patched `cmake/tests/cxx20_coroutines.cpp` to another directory, and adding
[code]
showed that it compiles successfully.

I tried c

[2021-08-10 08:02] msimberg commented on #5502
Thanks for reporting this. By "that didn't do the trick" do you mean that the feature test still fails after making those changes? Or that something else fails? Did you wipe your build directory after you made the changes? The results of the feature tests are cached after the first run.

[2021-08-10 11:07] msimberg opened #5503 "Use contiguous index queue in bulk execution to reduce number of spawned tasks"
The fork-join executor uses `contiguous_index_queue` as a lightweight queue for work stealing between the worker threads working on items in the current bulk parallel region. We could use the queue also in `execution::bulk` for `thread_pool_scheduler` and `parallel_executor`. This allows work stealing to still happen but removes the need for "hierarchical scheduling" since only one task per worker

[2021-08-10 12:49] prlw1 commented on #5502
That's right. Just in case:
[code]
and
[code]

[2021-08-10 16:27] msimberg commented on #5502
Hrm, strange. If I just add `unhandled_exception` to the feature test the feature test at least passes (not sure everything would compile since it's not being tested at the moment). However, this is with GCC 11.1.

Have you tried `cmake --debug-trycompile`? You may need to make sure CMake exits after this line: https://github.com/STEllAR-GROUP/hpx/blob/f5f19538c4fa26b0d0c773c5266e6d3595295833/cmak

[2021-08-10 18:23] FunMiles commented on #5502
I am very much interested in getting coroutine working also on MacOS. Is it possible to make it work when `coroutine` is in the `std::experimental` namespace as it is with clang++ on MacOS?

[2021-08-10 19:40] FunMiles commented on #5411
I have a bit of experience packaging for conan, though only on my local repositories.
If that can help, I can submit a PR with such a setup and later make it to submit a package to the general conan repository.

[2021-08-11 07:11] msimberg commented on #5502
@FunMiles I think `HPX_WITH_AWAIT=ON` might give you that, but I'm not very familiar with that part of the codebase. @hkaiser knows best, but he'll be back in action late next week so you might have to wait for that for a more authoritative answer.

[2021-08-11 09:12] prlw1 commented on #5502
@msimberg I'm puzzled that it worked for you after just adding `unhandled_exception`: GCC 10 implements std::coroutine, but requires -fcoroutines to compile. In the outside-of-hpx CMakeLists.txt I posted above, the compilation is not successful without the
[code]
line. I just checked the [GCC 11 release notes](https://gcc.gnu.org/gcc-11/changes.html#cxx), and coroutines aren't mentioned, so I assu

[2021-08-11 12:44] msimberg commented on #5502
@prlw1 compiler explorer seems to confirm that with GCC 11 `-fcoroutines` is no longer needed. For 128-bit atomics we first check if they're supported natively, and if not we instead try with `-latomic`. I'd imagine we could do something similar for coroutines. If you'd like to have a stab at it yourself the code for the atomics is here: https://github.com/STEllAR-GROUP/hpx/blob/f5f19538c4fa26b0d0

[2021-08-11 21:24] diehlpk opened #5504 "CMake does not work for HPX 1.7.0 on Piz Daint"
## Expected Behavior

CMake should be able to generate the Makefile. The same setup works for HPX 1.6.0 and HPX 1.5.1 on Piz Daint. However, for HPX 1.7.0 this error occurs.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Get HPX 1.7.0 and try to run CMake on Piz Daint

## Specifications

... Please describe your environment

  - HPX Version: 1.7.0
  - Platform (compiler, OS):

[2021-08-12 07:31] msimberg commented on #5504
@diehlpk are you using the same version of CMake in both cases? And are you using CUDA?

This is caused by generator expressions ending up in our pkgconfig files which we currently can't deal with properly. This will be "fixed" either by us removing pkgconfig support, or by newer CMakes which will let us deal with it properly (the minimum required version doesn't let us do that yet).

Right now yo

[2021-08-12 13:51] diehlpk commented on #5504
@msimberg Yes, I am using CUDA and the same CMake version.

[2021-08-13 16:01] msimberg commented on #5504
Closing as wontfix (for now, see https://github.com/STEllAR-GROUP/hpx/issues/5504#issuecomment-897414039).

[2021-08-13 16:01] #5504 closed

[2021-08-13 16:05] msimberg commented on #5469
@khuck I'll close this with the assumption that it's fixed. Please reopen if that's not the case.

[2021-08-13 16:05] #5469 closed

[2021-08-13 16:06] msimberg commented on #5162
Closed by #5283.

[2021-08-13 16:06] #5162 closed

[2021-08-13 16:07] msimberg commented on #5269
Closed by #5341.

[2021-08-13 16:07] #5269 closed

[2021-08-18 12:09] prlw1 commented on #5502
Amazing: so you found out that GCC 11 no longer uses -fcoroutines, and didn't declare this improvement in the release notes.

That says that my first attempt at a patch in the original bug report has to be `ver >=10.0 && ver < 11`.

It still leaves the problem of shoe horning the `-fcoroutines` flag in just for g++ 10, which is the only situation for which that flag is both necessary and valid. It

[2021-08-18 12:51] hkaiser commented on #5502
FWIW, we have `hpx_add_compile_flag_if_available()` which can be used to add the `-fcoroutines` flag, if needed.

This is an unfortunate name clash. The `default_context_impl` has nothing in common with ++20 coroutines but refers to our internal context switching scheme. This error usually happens on systems that do not support one of our customized context switching implementations (e.g. mac) and

[2021-08-19 17:03] msimberg commented on #5502
@prlw1 I wouldn't expect those to be different. As @hkaiser said `GENERIC_CONTEXT_COROUTINES` refers to fibers/user-level threads/green threads, not C++ coroutines.

`hpx_add_compile_flag_if_available()` is an option, but it doesn't add the flag for the feature tests, which means that they'll still report coroutines as not available.

I'll try to cook something together tomorrow for this.

[2021-08-19 17:10] msimberg commented on #5502
@prlw1 by the way, and sorry if you already mentioned this somewhere, but what platform are you on?

[2021-08-19 17:13] prlw1 commented on #5502
@msimberg I don't think you need to cook something together: the patch I posted yesterday above does the job of detecting std::coroutines with g++ 10. You could commit it as is - the second part points out that you don't care whether an operating system is called FreeBSD or not, you just care that libdl exists before trying to link with it.

Maybe I should open a new bug for the additional problem

[2021-08-19 18:05] msimberg commented on #5502
That works while building HPX but the `-fcoroutines` flag needs to be propagated to dependent projects as well, which `CMAKE_CXX_FLAGS` won't do. That's why it still needs some changes.

Yes please! That is indeed odd. Sorry for not realizing the problem earlier.

[2021-08-19 18:10] hkaiser commented on #5502
That's because, even if `_POSIX_VERSION` is defined, there might be a better implementation than to use the posix API (which is awefully slow). That said, we definitely might have messed things up, so please open tickets/PRs if you believe you stumbled across a bug.

[2021-08-20 13:44] msimberg commented on #5502
@prlw1 could you please give https://github.com/STEllAR-GROUP/hpx/pull/5517 a try? Could you also explain the changes to libdl handling that you made? I'd like to understand why/if we need to change that.

[2021-08-22 11:16] w1397800 commented on #3342
it works! thank you!

[2021-08-22 12:37] hkaiser commented on #3342
@w1397800 What Boost version are you working with.

[2021-08-24 13:47] #4321 closed

[2021-08-24 13:47] #5110 closed

[2021-08-24 13:47] #4469 closed

[2021-08-25 07:39] msimberg commented on #5189
@biddisco I'm leaving this open in case you get a chance to look at it. Feel free to close if you're not planning on fixing this.

[2021-09-03 15:27] #3706 closed

[2021-09-06 20:04] #4308 closed

[2021-09-07 11:56] x86r commented on #3861
For future folks viewing - try below. Solved the same error for me on another project:
`export CXXFLAG="-march=native -mcpu=native"`

[2021-09-10 14:55] msimberg opened #5544 "Use _GLIBCXX_DEBUG in CI"
Defining `_GLIBCXX_DEBUG` enables additional checks in libstdc++, which may be useful for catching bugs.

[2021-09-13 21:16] diehlpk opened #5553 "Github action to validate the cff file refs #5471"
Add an action (https://github.com/marketplace/actions/cff-validator) to validate the cff file, since the format is very error-prone.

refs #5471

[2021-09-13 21:25] hkaiser commented on #5553
FWIW, see https://github.com/STEllAR-GROUP/octotiger/pull/378 for an example.

[2021-09-14 12:52] #5472 closed

[2021-09-15 14:48] antoniupop opened #5561 "Possible race condition in helper thread / hpx::cout"
## Expected Behavior

Program makes progress / does not hang

## Actual Behavior

Program hangs.

## Steps to Reproduce the Problem

The issue is likely the way hpx::cout functions on helper threads. Initially this looked like an issue with (de)serialization, but it seems that was only the way to get user code to be executed on a helper thread. In the following, we force explicit de-serialization

[2021-09-16 07:17] antoniupop commented on #5561
Looks like it is indeed a race - the program will run to completion sporadically.

[2021-09-16 17:44] Spongman opened #5565 "build failure: hpx::string_util::trim()"
[code]

hpx 1.7.1

[2021-09-17 02:28] Spongman opened #5566 "can't build simple example: "Cannot use the dummy implementation of future_then_dispatch""
hpx 1.7.0, 1.7.1
gcc 10.2
boost 1.71
CentOS 7

[code]

[code]

[2021-09-17 07:36] msimberg commented on #5566
You'll need to include either `hpx/future.hpp` or `hpx/local/future.hpp` (the latter is enough if you're not planning on using distributed functionality). Could you try again with that and see if the error goes away?

The `hpx/modules/<modulename>.hpp` headers are really intended for internal use. We mention that here: https://hpx-docs.stellar-group.org/latest/html/libs/parallelism/futures/api.htm

[2021-09-17 07:39] msimberg commented on #5566
I should add that the example is not going to run as is, but I suppose you might be aware of that already. You'll need to either include `hpx/wrap_main.hpp` and link with `HPX::wrap_main` (the CMake target, we make no guarantees about library names etc. if you're compiling and linking manually like that), or start the runtime explicitly with `hpx::init`. See https://hpx-docs.stellar-group.org/late

[2021-09-17 07:52] Spongman commented on #5566
thanks, i'll try that.

btw: i searched for 'future' top-left on the docs page (https://hpx-docs.stellar-group.org/latest/html/index.html), clicked the 1st link 'futures' (https://hpx-docs.stellar-group.org/latest/html/libs/parallelism/futures/docs/index.html?highlight=future), then the 'API Reference' link (https://hpx-docs.stellar-group.org/latest/html/libs/parallelism/futures/api.html#modules-f

[2021-09-17 07:55] msimberg commented on #5565
Are you by any chance setting (directly or indirectly) `_GLIBCXX_USE_CXX11_ABI=0`? It seems like with the old string ABI `basic_string::erase` doesn't accept the first iterator being non-const and the second being const (https://godbolt.org/z/o6zs51oqK).

[2021-09-17 07:56] msimberg commented on #5566
I don't blame you at all for not reading further. We have lots of room to improve there. This feedback is very helpful, thanks!

[2021-09-17 17:01] Spongman commented on #5565
Ah, yes, well spotted. Apparently redhat ships all its tool chains with that setting compiled in. We can’t change it on the command-line as that breaks compatibility with the Oracle occi libraries we link with.

[2021-09-18 13:45] hkaiser opened #5570 "Rename tag_dispatch to tag_invoke"
After some discussions (see https://github.com/STEllAR-GROUP/hpx/pull/5348#issuecomment-919174774, https://github.com/STEllAR-GROUP/hpx/pull/5542#issuecomment-919123237) we have decided to rename `tag_dispatch` back to `tag_invoke` and to move the tag_dispatch fallback and priority facilities into `namespace detail`.

The rationale is that our `tag_dispatch` is in fact equivalent to the discussed

[2021-09-18 13:50] hkaiser commented on #5561
We have two PRs pending that address shutdown issues (amongst other things in `hpx::cout`): #5546, #5549. Once these are merged, could you please try again if those solve your issues?

[2021-09-20 06:43] antoniupop commented on #5561
Sure, will do.

[2021-09-20 07:47] msimberg commented on #5565
Ugh. Would you mind trying to change the `cbegin` and `cend` here to `begin` and `end`: https://github.com/STEllAR-GROUP/hpx/blob/00c22e11d77fe7a2a57fdefa64cba9afcb838b4e/libs/core/string_util/include/hpx/string_util/trim.hpp#L17? That's a mostly harmless change for us that should allow it to compile with `_GLIBCXX_USE_CXX11_ABI=0` as well.

[2021-09-20 07:49] Spongman commented on #5565
yeah, that's what I ended up doing to make it work:
[code]

[2021-09-21 10:40] #5565 closed

[2021-09-24 18:20] Spongman commented on #5404
Is there a way to have HPX use the asio that comes with boost? My codebase already makes heavy use of boost/asio, imports the asio namespace globally and refactoring it to use a different version of the same library is a complete pain.

[2021-09-24 18:28] hkaiser commented on #5404
You should be able to use Boost.Asio and Asio at the same time - in principle. However this certainly might not be feasible if your codebase globally imports `boost::asio`. In HPX, we have no way to use Boost.Asio anymore, we have replaced it with Asio unconditionally.

[2021-09-29 15:52] McKillroy opened #5587 "Missing Symbols in debug build, when linking an HPX application with vcpkg manifest mode. Minimal example provided."
## Expected Behavior

I expected the application to link correctly in the debug build

## Actual Behavior

I received linker errors because of missing symbols in the debug build. The release build linked correctly and the application run correctly too

## Steps to Reproduce the Problem

1. Take the provided minimal example.
2. Put the files into a folder and open the folder with Visual Studio
3. 0

[2021-09-29 20:27] McKillroy commented on #5587
Addendum:
-> The build also failed with the same linker errors when trying to compile a debug build from VS Code.
-> Trying to build in vcpkg manifect mode on a Debian WSL using Clang 11 failed as well.
-> I'm still not sure wether it is HPX or VCPKG or some weird interaction.

[2021-09-30 06:51] hkaiser commented on #5561
@antoniupop I believe the mentioned PRs have been merged. Could you please try again to see if that resolves your issue?

[2021-09-30 07:29] #5502 closed

[2021-09-30 08:47] antoniupop commented on #5561
Hi Hartmut,

Thanks, I've now tried and the behaviour has changed in that the linker does not accept the code with the printing within the load function of the serializer anymore. This is probably better, but I think the error is rather difficult to parse (even when knowing what the issue is quite precisely :)
Once the print is removed from load, all compiles, links and executes as expected.
Below

[2021-09-30 08:56] hkaiser commented on #5561
Uhh, that's unexpected and completely unrelated. I'll investigate. Thanks!

[2021-09-30 14:32] dmarce1 opened #5590 "hello_world_distributed fails on startup with HPX stable, MPICH 3.3.2, on Deep Bayou"
## Expected Behavior

I expect the hello_world_distributed example to say hello.

## Actual Behavior
Fails immediately on start-up

0x2aaaac444d0d  : hpx::termination_handler(int) [0x440] in /home/dmarce1/local/debug/hpx/lib64/libhpx_cored.so
0x2aaaade6f630  : /lib64/libpthread.so.0(+0xf630) [0x2aaaade6f630] in /lib64/libpthread.so.0
0x2aaaab91a1f2  : hpx::agas::big_boot_barrier::apply<hpx::action

[2021-09-30 14:34] dmarce1 commented on #5590
Nevermind. It appears I forgot to build with MPI parcelport. That's probably the issue.

[2021-09-30 14:34] #5590 closed

[2021-10-05 15:22] #5566 closed

[2021-10-05 15:22] msimberg commented on #5553
Closed by #5471.

[2021-10-05 15:22] #5553 closed

[2021-10-05 15:23] msimberg commented on #5366
Since https://github.com/STEllAR-GROUP/hpx/pull/5383 was merged, this *should* be fixed. @DarkDeepBlue any chance you could confirm if that is the case?

[2021-10-16 15:29] hkaiser commented on #5381
This was fixed by merging #5410

[2021-10-16 15:29] #5381 closed

[2021-10-18 08:44] #4495 closed

[2021-10-21 08:01] #5570 closed

[2021-11-04 00:47] diehlpk opened #5634 "HPX 1.6.0 used with Kokkos does not compile with clang 12 on Perlmutter"
## Expected Behavior

Kokkos should compile using HPX 1.6.0 as it did on Summit and Piz Daint.

## Actual Behavior

Kokkos does not compile, see below

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Build HPX 1.6.0
  1. Build Kokkos 3.4.00

## Specifications

... Please describe your environment

  - HPX Versio

[2021-11-04 00:48] diehlpk commented on #5634
Comment these lines and the error is gone

- https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/type_support/include/hpx/type_support/pack.hpp#L47-L54
- https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/type_support/include/hpx/type_support/pack.hpp#L57
- https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/type_support/include/hpx/type_support/pack.hpp#L164-L178
- https://g

[2021-11-04 00:49] diehlpk commented on #5634
I think this is related to clang 12 since the code worked with clang 11

[2021-11-04 00:52] hkaiser commented on #5634
Note, this is with `HPX_WITH_CUDA=ON`.

[2021-11-04 08:58] msimberg commented on #5634
I'd say this is wontfix. The CUDA-specific feature checks were added after 1.6.0 and are supposed to fix exactly this problem. That's also why they're not defined in the CMake cache.

Explicitly setting feature checks to `OFF` should generally be safe. Since you're stuck on 1.6.0 until https://github.com/kokkos/kokkos/pull/4241 is merged, I'd just recommend setting the offending checks to off for

[2021-11-04 16:25] diehlpk commented on #5634
@msimberg Ok, I will test with HPX 1.7.0 again.

[2021-11-05 09:24] #4698 closed

[2021-11-08 12:40] hkaiser commented on #2333
This is not done yet - reopening.

[2021-11-08 12:42] hkaiser commented on #1668
Finally, this task has been finished! Thanks all of you who helped!

[2021-11-08 12:42] #1668 closed

[2021-11-08 12:45] hkaiser commented on #1141
This has finally been done! Thanks to everybody who contributed to this task!

[2021-11-08 12:45] #1141 closed

[2021-11-12 10:06] msimberg opened #5647 "[User input needed] Remove (CUDA) compute functionality?"
The CUDA builds are currently broken again (or rather the tests fail). The CUDA compute functionality (not the low-level futures integration) has been in maintenance mode for quite some time and is unlikely to see improvements in the future. We've kept it alive in case there are users relying on it. We have two options for the 1.8.0 release:

- Fix it again.
- Just remove it finally.

The latter s

[2021-11-12 10:08] msimberg commented on #5045
The lazy/eager bifurcation was removed from a later revision. @hkaiser I've edited your comment to remove the `lazy_` versions (the non-`lazy_` versions are now always lazy).

[2021-11-14 15:51] hkaiser commented on #5647
Let's remove it. I'm not aware of anybody using it.

[2021-11-15 14:16] hkaiser commented on #4822
This can be closed now! Thanks to everybody helping to implement, debug, and fix things!

[2021-11-15 14:16] #4822 closed

[2021-11-15 14:18] hkaiser commented on #5156
This can be closed now. Thanks to everybody helping with resolving the issue.

[2021-11-15 14:18] #5156 closed

[2021-11-15 14:18] #3646 closed

[2021-11-15 15:46] hkaiser opened #5652 "Remove tuple/pair specializations for local_algorithm_result and friends"
Historically, we have had specializations for `local_algorithm_result` (module `algorithms`) and `algorithm_result_helper` (module `segmented_algorithms`) for `std::pair` and `hpx::tuple` that are not needed anymore now that the refactoring of our algorithms has been completed. For the same reason, we also don't need the `tagged`, `tagged_pair`, and `tagged_tuple` data structures anymore.

All of

[2021-11-15 15:48] hkaiser opened #5653 "Implement P2248 for our algorithms"
wg21.link/p2248 is a quality of implementation improvement targeting improved usability of some of the algorithms. Implementing the features described in this paper might be a good idea.

[2021-11-15 15:52] hkaiser opened #5654 "HEP: Conformance to C++23"
This is a meta ticket collecting all issues related to conformance with C++23, please edit as needed:

- [x] Add `starts_with` and `ends_with` algorithms (#5381)
- [ ] Implement P2248 for our algorithms (#5653)
- [ ] Implement datapar for parallel algorithms (#2333)

Not exactly C++23, but still important for conformance:

- [ ] Make sure HPX conforms to N4755 (#3364)

[2021-11-16 05:24] Jedi18 commented on #5652
@hkaiser It looks like we still use tagged_tuple in partition_copy, I can't recall if I forgot to change it or if it was due to some other reason. Also sort_by_key uses tagged_pair. Should I go ahead and change them?

[2021-11-16 13:07] hkaiser commented on #5652
Yes, I think we should go ahead and apply changes such that the two algorithms are consistent with everything else.

[2021-11-17 21:05] #5634 closed

[2021-11-17 21:42] stevenrbrandt opened #5661 "HPX should detect the number of cores on the build machine"
## Expected Behavior

HPX should build for the number of cores on the machine you're on by default

## Actual Behavior

It builds for 64 or less cores

[2021-11-17 21:47] hkaiser commented on #5661
This shouldn't be difficult to achieve if we assume that cmake runs on the node the built libraries should be used on (by default). cmake supports `cmake_host_system_information(RESULT NUM_CPUS_VARIABLE QUERY NUMBER_OF_PHYSICAL_CORES)` to query the number of cores at configuration time.

[2021-11-18 00:01] #5652 closed

[2021-11-18 08:43] msimberg commented on #5661
I still think that we should use dynamic bitsets by default for the CPU masks giving you no limit. They are mainly accessed during scheduler setup, and definitely not in a hot loop in the scheduler. While detecting the number of cores of the host system works in many cases, it won't work on many clusters where login and compute nodes are different.

I've opened https://github.com/STEllAR-GROUP/hpx

[2021-11-18 13:17] hkaiser commented on #5661
Aren't those accessed during work stealing?

[2021-11-18 15:37] msimberg commented on #5661
No, only to set up the datastructures used in work stealing.

[2021-11-18 21:21] hkaiser commented on #5661
Ok, in that case it doesn't really make sense to optimize the masks for up to 64 cores.

[2021-11-19 09:10] msimberg commented on #5661
The only "tangible" downside I know of is that the shared priority queue scheduler will be disabled when it's using dynamic bitsets (because it sets up `std::array`s of the maximum core count).

[2021-11-19 14:40] hkaiser commented on #5661
Do those have to be static? Replacing them with `std::vector`s might be an option that should incur just some overhead at startup, not during scheduler operation.

[2021-11-19 15:21] msimberg commented on #5661
There's of course the extra indirection from using vectors but my expectation is that it wouldn't make a difference. @biddisco would know if there is actually any measurable impact of using arrays there instead of vectors. From a purely functional perspective vectors would absolutely be easier than arrays.

[2021-11-19 15:52] calzycc opened #5665 "Info and issue about libfabric+infiniband+hpx without using MPI"
So far, I configured HPX to use MPI for the communication between different localities on infiniband network and everything works fine
`-DHPX_WITH_NETWORKING=ON -DMPI_CXX_COMPILER=mpicxx -DHPX_WITH_PARCELPORT_MPI=ON`

Now, I was wondering if HPX currently supports communication between different localities without using MPI and still on low latency infiniband network.
I tried to use libfabric as f

[2021-11-19 18:53] hkaiser commented on #5665
The infiniband parcelport is currently non-functional (and we should remove it), sorry.

[2021-11-19 18:54] #5665 closed

[2021-11-20 02:00] diehlpk opened #5666 "Compilation error using boost 1.76 and gcc 11.2.1"
## Expected Behavior

HPX master should compile with boost 1.76 and The CXX compiler identification is GNU 11.2.1

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX master using boost 17.6 and gcc 11.2.1

## Specifications

  - HPX Version: Master
  - Platform (compiler, OS): Fedora

[2021-11-20 02:06] diehlpk commented on #5666
Dockerfile to reproduce the bug https://github.com/diehlpk/modern-cpp-examples/blob/main/Docker/Dockerfile

[2021-11-21 21:52] diehlpk opened #5668 "HPX does not detect the C++ 20 standard using gcc 11.2"
## Expected Behavior

gcc 11.2 has experimental support for C++ 20, especially coroutines. So,

`cmake -DHPX_CXX_STANDARD=20 `

should switch to the C++ 20 standard.

## Actual Behavior

However, HPX is still using `-- Using C++17` even by requesting `-DHPX_CXX_STANDARD=20`.

The workaround is to add `-DHPX_WITH_CXX20=ON `and the correct C++ standard is used.

## Steps to Reproduce the Problem

..

[2021-11-22 08:26] msimberg commented on #5665
This is about the libfabric parcelport. It is indeed currently non-functional on master. @biddisco is the maintainer of the libfabric parcelport and has been working on updating it but is currently busy with other work. If you're interested it may be possible to try out the branch where this work is happening, but we'll need to hear from @biddisco for more details about this.

[2021-11-22 10:24] #5666 closed

[2021-11-22 16:39] calzycc commented on #5665
@msimberg, @hkaiser thanks a lot for your fast replies. Before requesting the branch @msimberg mentioned, I would like to ask you if you know if the use of HPX using MPI for the communication between localities can outperfom some MPI standard applications and somehow HPX using libfabric might provide additional speed up over using HPX + MPI.

[2021-11-22 19:39] hkaiser commented on #5665
Only if you can utilize the asynchrony introduced by HPX (i.e. hide the communication latencies behind parallel work).

In the past we have seen significant speedup when using the libfabric networking compared to using the MPI parcelport: https://dl.acm.org/doi/pdf/10.1145/3295500.3356221. .

[2021-11-29 14:01] #5668 closed

[2021-11-29 14:55] #4016 closed

[2021-12-01 09:37] #5647 closed

[2021-12-01 17:19] msimberg opened #5686 "Rename `annotate_function`"
The distinction between `annotate_function` and `annotated_function` is often confusing to users. I think the current `annotate_function` could be renamed e.g. `scoped_annotation` as it

1. clearly distinguishes it from `annotated_function` and
2. at least in my opinion describes its purpose much better than `annotate_function`

I'm sure there would be other alternative names as well so feel free

[2021-12-02 00:40] hkaiser commented on #5653
This can be closed as #5675 was merged.

[2021-12-02 00:40] #5653 closed

[2021-12-02 15:41] msimberg commented on #5503
This is now in use in `thread_pool_scheduler` (#5531).

[2021-12-02 15:45] msimberg commented on #3939
I'm closing this since the placement needs to be executor/scheduler-specific. #3924 attempted to do it at a higher level. Additionally, both `parallel_executor` and `thread_pool_scheduler` essentially do the good type of placement now. In the future executors/schedulers could be customized with their own placement types.

[2021-12-02 15:45] #3939 closed

[2021-12-03 10:13] G-071 opened #5692 "Kokkos compilation fails when using both HPX and CUDA execution spaces with gcc 9.3.0"
During the compilation of Kokkos, I get the following error during the compilation of Kokkos_Core.cpp (and other cpp files for that matter):
[code]

The error only seems to occur when ```Kokkos_ENABLE_CUDA``` is used together with ```Kokkos_ENABLE_HPX``` - compilation works when either HPX or CUDA is disabled.

I have been using:
- nvcc_wrapper + gcc 9.3.0
- Kokkos with the newest HPX PR (msimberg

[2021-12-03 17:26] diehlpk opened #5695 "Parcelport options result in segfaults"
## Expected Behavior

Running the code with options like `-Ihpx.parcel.tcp.enable=0 ` and `-Ihpx.parcel.mpi.enable=1  ` whould work.

## Actual Behavior

Adding these options and the working code fails

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Run code with and without options

## Specifications

  - HPX

[2021-12-03 17:57] hkaiser commented on #5695
@diehlpk could you please give us the actual output generated by HPX on the failing nodes?

[2021-12-03 20:35] diehlpk commented on #5695
@hkaiser The above error is all we have, There is nothing more in my slurm output file.

[2021-12-06 02:24] hkaiser commented on #3733
#5575 implemented an improvement. Closing this for now. Feel free to reopen if you have more ideas on how to improve things.

[2021-12-06 02:24] #3733 closed

[2021-12-06 15:18] gonidelis opened #5698 "Broken APEX Docs link"
Came across a broken link which shoul be redirecting to APEX HPX docs.

It is the last link in the bottom right here:

https://hpx-docs.stellar-group.org/latest/html/manual/optimizing_hpx_applications.html#apex-integration

We probably want to redirect here.

http://uo-oaciss.github.io/apex/

[2021-12-06 15:29] msimberg commented on #5698
It's been updated on master: https://hpx-docs.stellar-group.org/branches/master/html/manual/optimizing_hpx_applications.html#apex-integration.

[2021-12-06 15:49] gonidelis commented on #5698
@msimberg  Thanks!

[2021-12-06 15:49] #5698 closed

[2021-12-09 18:09] diehlpk commented on #5695
@hkaiser Even more interesting is, if I compile HPX without the TCP parcelport and only the MPI parcelport, the code segfaults on startup
[code]

[2021-12-09 22:16] diehlpk opened #5700 "HPX(serialization_error)"
## Expected Behavior

The application should run on any number of nodes.

## Actual Behavior

The application crashes on some number of nodes and works perfect on others.

Below is the error message:

[code]

and

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.
  1.
  1.

## Specifications

... Please describe y

[2021-12-09 22:28] diehlpk opened #5701 "It seems that the tcp parcelport is running, and the MPI parcelport is ignored"
## Expected Behavior

MPI parcelport should run

## Actual Behavior

tcp parcleport is running. At least the error message shows that the tcp parcelport is active

[code]
Maybe that is some false positive, but it is rather confusing.

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile with parcel port mpi = ON and

[2021-12-09 23:04] hkaiser commented on #5701
This is a duplicate of #5700, closing

[2021-12-09 23:04] #5701 closed

[2021-12-10 09:21] msimberg commented on #5692
This seems to be an issue with Asio + nvcc from Asio 1.17.0 onwards in C++17 mode. I don't have a workaround at the moment other than using Asio 1.16.1 or older.

[2021-12-10 09:58] #5661 closed

[2021-12-10 17:09] msimberg commented on #5692
It seems like nvcc compiles this again correctly starting with CUDA 11.3. I'm going to close this without a workaround in HPX as using either Asio 1.16.1 or CUDA >= 11.3 are both quite simple workarounds and doing the same in HPX is slightly more complicated as it may need ifdefing out large parts of the Asio use in HPX.

[2021-12-10 17:09] #5692 closed

[2021-12-13 10:56] #5686 closed

[2021-12-13 17:33] khuck opened #5706 "configuring with APEX and CUDA/CUPTI support results in CMake issues"
## Expected Behavior

successful configuration

## Actual Behavior

The cmake command results in:
[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1.  configure with: `cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=/scratch/khuck/hpx/install -DHPX_WITH_MALLOC=tcmalloc -DHPX_WITH_APEX=TRUE -DHPX_WITH_

[2021-12-13 18:09] msimberg commented on #5706
I think this is wontfix at least from my perspective. This is a problem that we can't fix at the moment because of certain behaviours of CMake's generator expressions (a CMake version bump may allow us to fix it by now, but I have not checked).

Assuming you don't rely on the pkgconfig file generation, could you try if the problem goes away with `HPX_WITH_PKGCONFIG=OFF`? That is what triggers this

[2021-12-14 18:29] #4482 closed

[2021-12-16 18:42] hkaiser commented on #5695
@diehlpk is this still a problem?

[2021-12-16 18:54] diehlpk commented on #5695
@hkaiser I will test It next week. I am doing the scaling runs for the upcoming paper and do not want to change my working build.

[2022-01-02 02:00] hkaiser opened #5721 "Cleanup after repository split"
This ticket lists (mostly minor) issues that have been left over from the repository split. Please add more as necessary.

- [ ] remove superfluous files from `/cmake` directory (e.g. `FindQThreads.cmake`, `FindTBB.cmake`)
- [ ] remove superfluous files from `/cmake/templates` directory
- [ ] remove C++ feature tests that are now performed in the local repository
- [ ] change all #include's for fi

[2022-01-07 16:25] m-diers opened #5724 "Missing binary filter compression header"
## Expected Behavior
The include
[code]
needs the following header with dependencies in the installation:
[code]
## Actual Behavior

Missing binary filter compression header and directory in the installation
[code]

## Steps to Reproduce the Problem
[code]
Workaround:
[code]
## Specifications
  - HPX Version: 1.7.1
  - Platform (compiler, OS): ubuntu 20.04

[2022-01-09 18:08] #5724 closed

[2022-01-10 02:06] hkaiser commented on #5219
This can be closed as it was implemented in #5429.

[2022-01-10 02:06] #5219 closed

[2022-01-10 02:13] hkaiser commented on #5111
This should have been resolved by #5725. Sorry it took so long.

[2022-01-10 02:13] #5111 closed

[2022-01-10 02:25] hkaiser opened #5728 "Add optional fetch_content support for needed Boost libraries"
In addition to #3440, we should add a build system option that fetches the needed Boost libraries from github instead of relying on an installed version. This shouldn't be too hard as we don't rely on any built Boost Libraries, all we need is header only.

[2022-01-15 02:39] NanmiaoWu opened #5735 "hpx::for_loop executes without checking start and end bounds"
## Expected Behavior

... For a hpx::for_loop(execution_policy, start_idx, end_idx, lambda_func), when start_idx is larger or equal to end_idx, hpx::for_loop should not be called.

## Actual Behavior

... hpx::for_loop was called and cannot exit.

## Steps to Reproduce the Problem
example code:
[code]

output (hangs):
[code]

## Specifications

... Please describe your environment

  - HPX Version

[2022-01-18 10:47] Deepak-suresh14 commented on #5735
Hello, I would like to work on this issue if no one is already working on it.

[2022-01-18 13:04] hkaiser commented on #5735
@deepaksuresh1411 please, give it a go. Let us know if you have questions.

[2022-01-18 13:33] deepaksuresh1411 commented on #5735
@hkaiser  Sure

[2022-01-18 18:50] diehlpk commented on #5700
That ticket can be closed, since we fixed that in HPX master.

[2022-01-18 18:50] #5700 closed

[2022-01-18 18:51] diehlpk commented on #5695
@hkaiser that is fixed, and the ticket can be closed.

[2022-01-18 18:51] #5695 closed

[2022-01-19 20:46] hkaiser commented on #5721
This can be closed now as #5734 has been merged.

[2022-01-19 20:46] #5721 closed

[2022-01-20 18:44] NK-Nikunj opened #5744 "HPX_WITH_FETCH_ASIO not working on Ookami"
## Expected Behavior

Cmake should be able to fetch Asio and build it.

## Actual Behavior

See: https://gist.github.com/NK-Nikunj/9ee34206131f4e673b583197ff614032

## Steps to Reproduce the Problem

Use the cmake command:
[code]

## Specifications

Please describe your environment

  - HPX Version: master (09376be)
  - Platform (compiler, OS): Compiler - GCC 11.2, Cmake version - 3.22, Boost vers

[2022-01-20 20:30] hkaiser commented on #5744
@NK-Nikunj would you have any clues for what is happening? We're just using cmake's FetchContent, so I wouldn't know what could possibly be wrong. Also, I know that @diehlpk has already built HPX on Ookami, he might have an idea.

[2022-01-20 20:39] diehlpk commented on #5744
It was working for me, and I am not sure what is going on.

You might want to try to build in

` /lustre/projects/diehl-group`

since we do not have much space in the user folders

[2022-01-20 21:39] NK-Nikunj commented on #5744
@diehlpk I'm building on `scratch/<username>` which has no quotas whatsoever. @hkaiser I haven't looked into the issue yet. Just wanted to put it out that I was having an issue.
I was able to reproduce @srinivasyadav18 's build issue as well with GCC 11.2. That's a `#include` error somewhere that's testing for only x86 architectures leading to the build errors. I'm working on a fix (which should b

[2022-01-20 21:40] NK-Nikunj commented on #5744
@diehlpk what HPX commit and C++ compiler are you using when building HPX on Ookami?

[2022-01-20 22:14] hkaiser commented on #5744
@NK-Nikunj is this the fix you need: https://github.com/STEllAR-GROUP/hpx/pull/5742?

[2022-01-20 22:40] diehlpk commented on #5744
@NK-Nikunj we use armclang, since HPX does not compile with the official Fusitju compiler. I think we only compiled HPX 1,6 and HPX 1.7.1 for Octo-Tiger.

[2022-01-25 06:33] gonidelis opened #5752 "Implement stride_view from P1899 (experimental)"
Although ranges have been adopted to C++20 there are certain range adaptors (views) that have not been standardized yet. [P1899](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p1899r2.html) proposes `stride_view` which exposes a strided iterator that iterates through a range with a constant step allowing _access over an evenly-spaced subset of it_.

Use case example:

[code]

Implement `s

[2022-01-25 08:18] gonidelis opened #5753 "Implement p2079 on top of our senders receivers"
As we are in the midst of implementing [p2300](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p2300r4.html) and new means of asynchronous execution (senders/receivers) with #5045, [p2079](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p2079r2.html) adds on top of it by presenting facilities that default the access to system thread pool. The main puprose is for the senders receive

[2022-01-30 22:28] hkaiser commented on #5492
Sorry for the late reply.  Yes, this is still open. Please feel free to have a look.

[2022-02-01 04:06] srinivasyadav18 commented on #5744
Thanks @NK-Nikunj for solving the issue, things are sorted now! I could finally now run **HPX** on **ookami**.

[2022-02-05 13:45] hkaiser opened #5764 "Fix HIP problem"
https://cdash.cscs.ch/build/440 shows some new HIP problem that should be easy enough to fix.

[2022-02-07 19:19] deepaksuresh1411 commented on #5735
I went through the `loop.hpp` ,`forloop.hpp` and still could not find it. Probably I'm missing something in the code.

[2022-02-07 19:24] hkaiser commented on #5735
I'm not sure I understand how for some values of the arguments the compilation of for_llop could fail. Please explain.

Solving this is a bit tricky. currently `for_loop()` assumes to be equivalent to `for(size_t i = begin; i != end; ++i)` which is correct for unsigned values and iterators but causes issues for signed integrals. FOr this reason I think we should simply add a check that will be exe

[2022-02-07 19:45] deepaksuresh1411 commented on #5735
The values I was talking about were related to parallel and sequential. Both should atleast start the execution in loops but parallel doesn't do that. So, I thought I have solve both differently/separately.

[2022-02-07 21:54] diehlpk opened #5767 "Performance drop on Piz Daint"
## Expected Behavior

Same version as executed on September 21 should result in similar timings as in February 22.

## Actual Behavior

HPX is four times slower

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile same versions and run the same example

## Specifications

... Please describe your environment

  - HP

[2022-02-07 21:58] diehlpk commented on #5767
printenv

[code]

[2022-02-07 22:03] diehlpk commented on #5767
@hkaiser Would you mind checking if HPX parses the correct arguments from the environment?

[2022-02-07 22:46] diehlpk opened #5768 "HPX hangs on Perlmutter"
## Expected Behavior

HPX should work with MPI + Libfabric

## Actual Behavior

HPX should hangs with MPI + Libfabric

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Run any HPX application

## Specifications

... Please describe your environment

  - HPX Version: 1.6 or 1.7.1
  - Platform (compiler, OS): clang 13 and

[2022-02-07 22:47] diehlpk commented on #5768
man mpi

[mpi.txt](https://github.com/STEllAR-GROUP/hpx/files/8019275/mpi.txt)

[2022-02-07 23:29] diehlpk commented on #5768
printenv

Mon Feb  7 14:55:43 PST 2022
__LMOD_REF_COUNT_PE_LIBSCI_REQUIRED_PRODUCTS=PE_MPICH:1
CRAY_LMOD_MPI=cray-mpich/8.0
LMOD_FAMILY_CRAYPE_NETWORK_VERSION=false
CRAYPE_LINK_TYPE=dynamic
LD_LIBRARY_PATH=/usr/local/cuda-11.4/compat:/opt/nvidia/hpc_sdk/Linux_x86_64/21.9/math_libs/11.4/lib64:/opt/nvidia/hpc_sdk/Linux_x86_64/21.9/cuda/11.4/extras/CUPTI/lib64:/opt/nvidia/hpc_sdk/Linux_x86_64/21.9/cu

[2022-02-08 05:47] deepaksuresh1411 commented on #5735
@hkaiser Please have a look at this.
<img width="914" alt="Screenshot 2022-02-08 111527" src="https://user-images.githubusercontent.com/73689713/152926097-6142c91a-551d-43d2-ab07-01e6bcab31dd.png">

[2022-02-08 05:48] deepaksuresh1411 commented on #5735
Now it is giving the desired output for both par and seq. Should I commit changes, let me know

[2022-02-08 13:10] hkaiser commented on #5735
Yes, this is the change we need. However we should apply it only in the case if both, `first` and `last`, are signed integers:
[code]

[2022-02-08 15:57] hkaiser commented on #5735
Thanks @deepaksuresh1411. Please also add a test confirming your fix.

[2022-02-09 04:01] deepaksuresh1411 commented on #5735
@hkaiser  did u mean the unit test or I have to mention the output of any random for_loop function.

[2022-02-09 12:36] hkaiser commented on #5735
I meant a unit test verifying the fix is valid. Please add it here: https://github.com/STEllAR-GROUP/hpx/tree/master/libs/core/algorithms/tests/regressions

[2022-02-09 12:51] deepaksuresh1411 commented on #5735
@hkaiser  oh! ok I'll add it,  thank you

[2022-02-09 18:28] karlfroldan opened #5774 "CMake can't find HPXCacheVariables.cmake"
## Expected Behavior

CMake should be able to find `HPXCacheVariables.cmake` as listed in `HPXConfig.cmake`.

## Actual Behavior

Error during generating Makefile with cmake with the following message:
[code]

Furthermore,  `HPXCacheVariables.cmake` is not located in `/path/to/vcpkg/installed/x64-linux/share/hpx` which I believe is the root of the problem.

## Steps to Reproduce the Problem

Insta

[2022-02-09 19:16] hkaiser commented on #5774
@karlfroldan thanks for reporting! We'll have a look as quickly as possible.

[2022-02-10 04:23] deepaksuresh1411 commented on #5735
@hkaiser sorry for asking again, I was trying to write the unit test, but I have very less knowledge of writing unit tests. It would be nice if you can tell me more about how to write tests. Or should I demonstrate an example using `for_loop` function.

[2022-02-10 12:31] hkaiser commented on #5735
A unit test is a small piece of code that will fail without the fix but will pass after applying it. I'd start with creating a smallest possible reproducing use case (a for_loop that hangs) and use this as the unit test. These tests are usually 20-30 lines of code or less.

[2022-02-10 12:34] deepaksuresh1411 commented on #5735
@hkaiser  got it , thanks :)

[2022-02-10 16:40] NK-Nikunj commented on #5735
@hkaiser @deepaksuresh1411 I believe it will be better to warn the user of the scenario and then return instead of simply returning. This way we safely return from the for loop and provide the user with a warning for debugging help.

[2022-02-10 16:54] deepaksuresh1411 commented on #5735
@NK-Nikunj  yeah even I thought of that .Some how I left that,  Should I make adjustments ?

[2022-02-10 16:55] NK-Nikunj commented on #5735
@deepaksuresh1411 I've added a request change on your PR. You can use that for reference.

[2022-02-10 17:04] deepaksuresh1411 commented on #5735
@NK-Nikunj  sure

[2022-02-10 17:58] gonidelis commented on #5728
Please revise the related GSoC project and make any changes needed.

@NK-Nikunj  too.

https://github.com/STEllAR-GROUP/hpx/wiki/Google-Summer-of-Code-(GSoC)-2022#improve-build-system-usability-by-adding-fetching-options-on-hpx-dependencies

[2022-02-10 22:40] gonidelis commented on #5774
@karlfroldan Thanks for the notice! Seems like a bug and we will take actions to fix it ASAP. For the moment could you please try deleting #L96 from this file: `<path_to_vcpkg>/vcpkg/ports/hpx/portfile.cmake` ?

The line is: `file(REMOVE "${CURRENT_PACKAGES_DIR}/share/hpx/HPXCacheVariables.cmake")`.

You will need to remove HPX and reinstall it with vcpkg after that. Please tell us how it went.

[2022-02-11 07:52] karlfroldan commented on #5774
@gonidelis Hi, this resolved the issue and CMake generated the Makefile correctly. Thank you!

[2022-02-11 12:29] autoantwort opened #5779 "Support arm64 osx"
On my M1 Macbook I currently get the following error:
[code]

[2022-02-11 12:42] deepaksuresh1411 commented on #5735
@NK-Nikunj  I am not sure how to use this `LOG_DEBUG_MSG` function. How can I initialize it , is there any particular way to call the function.  I searched a lot but couldn't make it. It would be nice if you can guide me through this.
Thanks.

[2022-02-11 13:13] hkaiser commented on #5774
FWIW, we're working on getting this resolved here: https://github.com/microsoft/vcpkg/pull/23042

[2022-02-11 13:18] hkaiser commented on #5779
Thanks for reporting. We're aware of problems on M1 (see also #5340). Would you be able to help resolving this? All it would take to fix is to add the correct preprocessor constant here: https://github.com/STEllAR-GROUP/hpx/blob/master/cmake/TargetArch.cmake#L20-L62.

[2022-02-11 13:26] autoantwort commented on #5779
I already tried that. But then I got the following error:
[code]

[2022-02-11 13:59] hkaiser commented on #5779
Thanks. As I said we're aware of problems on M1, simply nobody has invested time to port HPX to that platform yet. The fixes to identifying the correct architecture are just one step. Could you share your changes anyways, please?

[2022-02-11 15:24] hkaiser commented on #5735
Well, if you have a loop like `for(int i = 42; i < 0; ++i) ...` you wouldn't expect to see a warning, would you?

[2022-02-11 15:32] deepaksuresh1411 commented on #5735
There should be a warning ,If  I'm not wrong  `i` expects value less than zero.

[2022-02-11 16:27] hkaiser commented on #5735
Hmmm, since we don't see a warning when using the plain `for()`, I don't think we should start issuing warnings for the `for_loop()`. The goal of fixing this issue is to avoid wrong iteration bounds when using signed integers. We can't do the same when using unsigned integers as the user might have intended overflowing the iteration bounds. Thus, issuing a warning might not be what's expected in a

[2022-02-13 03:45] zain101 opened #5784 "HPX failing with co_await and hpx::when_all(futures)"
## Expected Behavior

HPX should compile for an example with hpx::future and co_await

## Actual Behavior

HPX fails to compile with `error: coroutines require a traits template; cannot find 'std::coroutine_traits'`

## Steps to Reproduce the Problem

  1. I was trying to compile the co_await example in the following [blog](https://www.diehlpk.de/blog/modern-cpp/) with the following  [code](https:

[2022-02-13 14:13] hkaiser commented on #5784
Could you please try adding `-DHPX_WITH_CXX_STANDARD=20` to your cmake command line?

[2022-02-13 17:39] zain101 commented on #5784
Building HPX with `-DHPX_WITH_CXX_STANDARD=20` works. Thank you.

[2022-02-13 17:44] #5784 closed

[2022-02-15 21:15] toktarev commented on #4565
Is this issue still actual ?

[2022-02-15 22:18] hkaiser commented on #4565
Yes! The question would be whether a simple mapping `hpx::cout` --> `std::cout` would already do the trick. I.e. something like a simple conditional
[code]

[2022-02-19 13:46] #5735 closed

[2022-02-23 19:30] hkaiser opened #5799 "Investigate CUDA compilation problems"
Two of our CUDA tests fail compiling by NVCC unceremoniously stopping without error message. For now, these tests have been disabled (see: https://github.com/STEllAR-GROUP/hpx/pull/5796). We should investigate whether this can be worked around.

[2022-03-02 08:09] m-diers opened #5802 "Lost status is_ready from future"
## Expected Behavior
The simple scheduling example is to go through to the end and distribute the work equally among the localities.

## Actual Behavior
It is served after some time only the first locality. The future<> get no is_ready state although they are processed.
Afterwards the application remains completely in the distribution loop, because all future<> get no is_ready.

We have had this b

[2022-03-03 21:34] diehlpk opened #5804 "With the new cuda folder structure"
## Expected Behavior

Octo-Tiger should compile as before

## Actual Behavior

it seems that cublas_v2.h is not found, even if the header is in the path.

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Build HPX with CUDA
  1. Compile Octo-Tiger

## Specifications

... Please describe your environment

  - HPX

[2022-03-03 22:04] hkaiser commented on #5802
@m-diers I have asked @hcq9102 to try to reproduce your issue. She will be in contact, if needed.

[2022-03-03 23:11] hkaiser commented on #5804
@diehlpk could you please check whether the HPX preprocessor constant `HPX_HAVE_GPUBLAS` is defined (should be in `hpx/config/defines.hpp`)?

[2022-03-04 03:01] hkaiser commented on #5804
@diehlpk could it be that you have to add the `CUDA::cublas` target to the octotiger executable target? HPX does not depend on cuBLAS, so it doesn't propagate any dependencies for it.

[2022-03-04 03:53] diehlpk commented on #5804
@hkaiser I think it does, because we include the cublas_v2 here

https://github.com/STEllAR-GROUP/hpx/blob/ae45453ace32e6f5da0af9b63e09cae0876e3ada/libs/core/async_cuda/include/hpx/async_cuda/custom_blas_api.hpp#L39

[2022-03-04 03:54] diehlpk commented on #5804
@hkaiser In addition, we include hipblas as well

https://github.com/STEllAR-GROUP/hpx/blob/ae45453ace32e6f5da0af9b63e09cae0876e3ada/libs/core/async_cuda/include/hpx/async_cuda/custom_blas_api.hpp#L14

[2022-03-04 03:56] diehlpk commented on #5804
@hkaiser I would assume that HPX propagates the dependency if HPX includes the header.

[2022-03-04 12:35] hkaiser commented on #5804
You're right, my fault. I'll have another look.

[2022-03-07 09:23] msimberg commented on #5804
cublas/hipblas is optional because hip installations do not necessarily include hipblas (https://github.com/STEllAR-GROUP/hpx/blob/581d3fb174e55eb1a8ba68d54dc9108e3cbac82b/cmake/HPX_SetupCUDA.cmake#L47-L53). @diehlpk can you try a newer version of CMake? CMake has been notoriously bad at finding various CUDA libraries, especially in the newer versions.

[2022-03-07 12:31] diehlpk commented on #5804
@msimberg even with 3.21 it does not work.

[2022-03-07 15:45] hkaiser commented on #5804
@msimberg I think the issue is that the HPX CUDA scripts do find cuBLAS, but this is not propagated to dependent projects.

[2022-03-08 13:50] m-diers commented on #5802
Is there any other help needed to reproduce?
I can also reproduce it on other nodes with `srun -N 1 -n ${NumberOfPhysicalCores}`
With mpirun the same behavior should occur.

[2022-03-09 17:16] hcq9102 commented on #5802
Hey @m-diers, apologize for the late response. I was busy with the course last week, I will start this and back to you ASAP.

[2022-03-11 00:02] hcq9102 commented on #5802
Hi @m-diers, I was trying to reproduce the problem on our Rostam cluster.
I didn't even get the executable file after these:  https://gist.github.com/hcq9102/84b5a0e639084323de15414aa9668be0
could you please help check that? THANKS.

[2022-03-11 03:21] diehlpk commented on #5340
I just tested with boost 1.78 and hpx master and still not working.

[2022-03-11 07:34] m-diers commented on #5802
I suspect that creating the component with add_hpx_component is redundant. As a result, the symbols of scheduletest.cpp are duplicated.

[2022-03-11 15:01] hcq9102 commented on #5802
At the very beginning, I didn't have add_hpx_component in CMakeList.txt, but it complained _`scheduletest.cpp:(.text+0x1bd8): undefined reference to hpx::cout `_, you may check and see here: [issue](https://gist.github.com/hcq9102/96328fbae1710dbca304200938a4acab). And The original CMakeList.txt file as listed at comment(Is this the one you are using?)

I also tried to delete `add_executable(sched

[2022-03-11 22:13] hkaiser commented on #1836
This has been fixed

[2022-03-11 22:13] #1836 closed

[2022-03-11 22:17] hkaiser commented on #5774
This issue has been resolved. The fix will be merged to the vcpkg repository (see https://github.com/microsoft/vcpkg/pull/23042).

[2022-03-11 22:17] #5774 closed

[2022-03-11 22:17] hkaiser commented on #5768
I believe this has been resolved. @diehlpk ?

[2022-03-11 22:18] hkaiser commented on #5764
This has been resolved.

[2022-03-11 22:18] #5764 closed

[2022-03-11 22:20] hkaiser commented on #5503
I think we can close this as #5531 provides a means of using the index queue as needed.

[2022-03-11 22:20] #5503 closed

[2022-03-11 22:21] hkaiser commented on #5496
@NK-Nikunj you mentioned at some point that you have this implemented locally. Could you share your implementation, please?

[2022-03-11 22:23] hkaiser commented on #5299
@biddisco I assume this can be closed now, can it?

[2022-03-11 22:24] hkaiser commented on #5191
@gonidelis any luck with resolving this issue?

[2022-03-11 22:25] hkaiser commented on #5002
This has been resolved by switching to the C++20 barrier implementation.

[2022-03-11 22:25] #5002 closed

[2022-03-11 23:12] diehlpk commented on #5768
@hkaiser Somehow, we need HPX master for that, but I think that is fine.

[2022-03-11 23:12] #5768 closed

[2022-03-12 17:58] gonidelis commented on #5340
@hkaiser Is there any way I could reproduce that either on ROSTAM or at CCT somehow? Otherwise I could link it to [this GSoC project](https://github.com/STEllAR-GROUP/hpx/issues/5340).

[2022-03-12 18:28] gonidelis commented on #5191
Let me put it on my queue of tasks for 1.8.x. Thanks for reminding me.

[2022-03-12 18:32] gonidelis commented on #5002
@hkaiser  Thanks!

[2022-03-12 18:47] hkaiser commented on #5340
Unfortunately, we don't have access to an environment that would allow to reproduce the issue.

[2022-03-13 17:55] #3995 closed

[2022-03-13 17:56] hkaiser commented on #4871
This can be closed now as all issues listed above have been resolved. Yay! Full conformance to C++20 achieved!

[2022-03-13 17:56] #4871 closed

[2022-03-13 17:58] #4736 closed

[2022-03-13 18:00] hkaiser commented on #5561
@antoniupop we're preparing the next release (V1.8) now. Would you mind verifying whether your issue has been resolved?

[2022-03-13 18:02] hkaiser commented on #5344
I think we can close this as resolved. @K-ballo any objections?

[2022-03-13 18:05] hkaiser commented on #5118
Closing this as 'won't fix' as Phylanx is not being actively developed anymore.

[2022-03-13 18:05] #5118 closed

[2022-03-13 18:07] hkaiser commented on #4987
This can be closed as it has been resolved.

[2022-03-13 18:07] #4987 closed

[2022-03-13 19:48] K-ballo commented on #5344
None from me.

[2022-03-13 19:53] #5344 closed

[2022-03-14 17:10] gonidelis commented on #4871
@hkaiser  Thanks!!!

[2022-03-15 02:38] diehlpk opened #5812 "OctoTiger does not compile with HPX master and CUDA 11.5"
## Expected Behavior

Should compile.

## Actual Behavior

[code]

https://pastebin.com/vyMAUEDD

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX master with CUDA 11.5

## Specifications

... Please describe your environment

  - HPX Version: master
  - Platform (compiler, OS): Perlmutter

[2022-03-15 07:56] m-diers commented on #5802
Updated the CmakeList.txt
https://gist.github.com/hcq9102/84b5a0e639084323de15414aa9668be0?permalink_comment_id=4093908#gistcomment-4093908

[2022-03-17 01:15] #3636 closed

[2022-03-17 01:18] hkaiser commented on #3474
This can be closed as the build system has been thoroughly modernized over time.

[2022-03-17 01:18] #3474 closed

[2022-03-17 15:55] hcq9102 commented on #5802
Okay, thx

[2022-03-17 15:56] hcq9102 commented on #5802
Okay, Thx.

[2022-03-17 22:52] hcq9102 commented on #5802
Hi @m-diers.
I did the test on our cluster head node(Rostam):
1. First case as you provide:
`srun -n 16 N 1 -w "MYNODE" ./ScheduleTest --hpx:ini=hpx.parcel.mpi.enable!=1 --hpx:ini=hpx.parcel.tcp.enable!=0 `

It will hang for a super long time and no response; or get :
<img width="493" alt="Screen Shot 2022-03-17 at 5 13 26 PM" src="https://user-images.githubusercontent.com/49005493/158905831-e1549

[2022-03-19 14:59] gonidelis commented on #3636
Does this mean that Modularization is complete 100%?

[2022-03-19 15:04] hkaiser commented on #3636
Well, I'd say 99%. There are some minor things that are missing - mostly related to the build system, also we need to move some of the tests to their corresponding modules.

[2022-03-20 17:51] #4484 closed

[2022-03-20 22:38] #5812 closed

[2022-03-21 16:31] hkaiser commented on #3546
I think we can close this as we have finished modularizing all of the HPX core code.

[2022-03-21 16:31] #3546 closed

[2022-03-21 19:07] antoniupop commented on #5561
Thanks - I'll check ASAP.

[2022-03-25 12:06] biddisco opened #5828 "hpx::distributed:barrier errors"
running test_barrier many times reveals problems such as this one. The segfaults/assertion failures happen in different places - indicating some kind of race.
[code]

[code]

[2022-03-25 12:33] hkaiser commented on #5828
@biddisco thanks for this report. I have not seen this problem before - will investigate.

[2022-03-25 12:36] soul-coder-heap commented on #3342
it's  resolve my trouble!thank you very much!

[2022-03-28 07:15] m-diers commented on #5802
According to [Running-HPX-on-Rostam](https://github.com/STEllAR-GROUP/hpx/wiki/Running-HPX-on-Rostam), the medusa nodes have 40 physical cores.
Then it should also be started with `-n 40 -N 1`.

[2022-03-28 10:11] #5828 closed

[2022-03-28 10:14] biddisco opened #5832 "Distributed execution crash"
Here is a stacktrace of an example of a segfault when running using the mpi parcelport on 4 nodes ....
[code]

[2022-03-28 10:34] biddisco commented on #5832
Here's another segfault stacktrace from the same command-line invocation of 4 ranks ...
[code]

[2022-03-28 11:39] biddisco commented on #5832
closing this temporarily as it might have been caused by a bug in my test code. will reopen if the main action related failure reappers

[2022-03-28 11:39] #5832 closed

[2022-03-28 19:26] hcq9102 commented on #5802
update:
 `srun -n 40 -N 1 -p medusa ./ScheduleTest --hpx:ini=hpx.parcel.mpi.enable!=1 --hpx:ini=hpx.parcel.tcp.enable!=0 ` on rostam; Same issue as before:
[code]

[2022-03-28 21:21] hkaiser commented on #5802
This very much looks to be unrelated...

[2022-03-31 14:07] biddisco opened #5833 "barrier lockup"
I have an unusual setup ...
an hpx thread is working on some message sending, to improve latency, I call `parcelport->progress()` which jumps into the parcelport code and in effect triggers the `background work` - this functionality is exposed in my libfabric branch and I was hoping to move it into the main branch at some point.

the task on rank 0 looks like this
[code]
The task on other ranks  l

[2022-03-31 18:49] gonidelis commented on #5828
@hkaiser  Shouldn't we put this in the 1.8 milestone?

[2022-04-01 14:47] hkaiser commented on #5833
John,

the barrier (local and distributed) API by design requires for all parties to join before any party can join a second time. The user code is required to ensure this.

Since HPX uses a global barrier internally only during startup and shutdown (i.e. before hpx_main is executed and after it exited), it should be possible for you to enable your own progress functionality only if `hpx::threads:

[2022-04-02 20:13] biddisco commented on #5833
These conditions are satisfied. `hpx::distributed::barrier::synchronize();` is used during startup, so _"requires for all parties to join before any party can join a second _time"_ is always true - the barrier has always been entered and exited on all ranks durin startup, so when my user code is reached, the barrier should have been initialized and `threadmanager_is(hpx::state::running)` must be t

[2022-04-02 22:27] hkaiser commented on #5833
The global barrier by default simply uses a local barrier on locality 0 for the synchronization (see; https://github.com/STEllAR-GROUP/hpx/blob/master/libs/full/collectives/src/detail/barrier_node.cpp#L308). The local barrier `arrive_and_wait()` is here: https://github.com/STEllAR-GROUP/hpx/blob/master/libs/core/synchronization/include/hpx/synchronization/barrier.hpp#L214-L223.

Essentially, every

[2022-04-07 20:02] #4992 closed

[2022-04-08 03:44] alecbetancourt opened #5836 "Undefined reference in makefile build"
## Expected Behavior

I've been trying to add HPX to an existing simulation project I'm working on. While building the project, I've been getting errors stating that a symbol is missing in `libhpx_core.so`. To reproduce this issue, I'm using the hello world example in the manual from the documentation: https://hpx-docs.stellar-group.org/latest/html/manual/creating_hpx_projects.html

## Actual Beha

[2022-04-08 13:49] hkaiser commented on #5836
Please make sure the CMAKE_BUILD_TYPE for HPX and your application are always the same. This linker error could have been caused by a Release/Debug mismatch between HPX and your app.

[2022-04-08 18:59] SAtacker opened #5838 "[Senders/Receivers] `as_awaitable`"
## Expected Behavior

*All awaitables are senders*
Quoting from [P2300](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p2300r4.html#spec-execution.coro_utils.as_awaitable)
[code]
This function needs to be implemented for Senders/Receivers

## Usage

To make non-awaitable senders as awaitable.

## Possible cues to implementation

type sender-awaitable as described in the above P2300 and ty

[2022-04-10 01:11] alecbetancourt commented on #5836
Sorry, I probably should have added that the same error persists when omitting -g from `CXXFLAGS` as in the documentation. I didn't specify a build type the first time around but according to the CMake cache, the build type was `Release`.

Leaving `-g` in the makefile, rebuilding HPX with `-DCMAKE_BUILD_TYPE=Debug`, and building the hello world example also yields a similar error:

[code]

[2022-04-10 06:18] SAtacker commented on #5838
For the case when the sender is not an awaitable we should have a base for awaitable which consists of a coroutine_handle, promise object, and hpx::execution::operation state defined in `libs/core/execution/include/hpx/execution/algorithms/just.hpp `if I am not wrong?

[2022-04-14 15:51] gonidelis commented on #4702
@hkaiser checked `throwmode`

[2022-04-16 14:30] hkaiser commented on #5366
@DarkDeepBlue is this still an issue for you?

[2022-04-16 14:31] hkaiser commented on #5498
I'm going to leave this ticket open as it targets a long-term goal for HPX.

[2022-04-16 14:34] hkaiser commented on #4558
I think this was resolved by defaulting to zero the minimal number of threads that need to be available before allowing stealing.

[2022-04-16 14:34] #4558 closed

[2022-04-16 14:35] #5216 closed

[2022-04-19 02:10] diehlpk opened #5856 "Performance counters do not compile"
## Expected Behavior

HPX master should compile with armclang on A64fx.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Compile HPX master with armclang

## Specifications

... Please describe your environment

  - HPX Version: master
  - Platform (compiler, OS): armclang++

[2022-04-19 03:04] hkaiser commented on #5856
This will be fixed by #5854

[2022-04-19 04:26] gonidelis commented on #5856
Apologies for that Patrick! I modernized certain names and I missed a couple. #5854 should be ready by tomorrow.

[2022-04-20 13:13] #5856 closed

[2022-04-25 13:12] hkaiser commented on #5045
Changes in P2300R5 (http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p2300r5.html):

Fixes:

- [ ] `start_detached` requires its argument to be a void sender (sends no values to `set_value`).

Enhancements:

- [ ] Receiver concepts refactored to no longer require an error channel for `exception_ptr` or a stopped channel.
- [ ] `sender_of` concept and connect customization point additionally

[2022-04-28 19:29] John98Zakaria opened #5869 "Unable to compile hpx::distributed::channel.get/set"
## Expected Behavior

The program to compile and other localities should receive the set value

## Actual Behavior

`
[1/2] Building CXX object CMakeFiles/communicators.dir/communicators.cpp.o
FAILED: CMakeFiles/communicators.dir/communicators.cpp.o
/usr/bin/c++ -DHPX_APPLICATION_EXPORTS -DHPX_APPLICATION_NAME_DEFAULT=communicators -DHPX_PREFIX_DEFAULT=\"/home/jn98zk/cpp_stuff/hpx-1.7.1/build/inst

[2022-04-28 20:46] John98Zakaria commented on #5869
I found the problem which I find perplexing to say the least.

If I register the channel like that

HPX_REGISTER_CHANNEL(int)

If wouldn't compile
`/usr/bin/c++ -DHPX_APPLICATION_EXPORTS -DHPX_APPLICATION_NAME_DEFAULT=communicators -DHPX_PREFIX_DEFAULT=\"/home/jn98zk/cpp_stuff/hpx-1.7.1/build/installation\" -isystem /home/jn98zk/cpp_stuff/hpx-1.7.1/build/installation/include -isystem /home/jn98zk/

[2022-04-28 21:14] hkaiser commented on #5869
Looks like a missing #include somewhere. I'll try to investigate...

[2022-04-29 07:09] John98Zakaria opened #5871 "distributed::channel.regsiter_as terminates the active task."
## Expected Behavior

Registering a distributed channel shouldn't terminate the whole task.
The print statements should run.

## Actual Behavior
`
hpx::cout <<"will register" << std::endl;
channel.register_as(comm_id); // task magically ends here
hpx::cout <<"registered" <<hpx::flush;
channel.set(5);
hpx::cout <<"set value" <<hpx::flush;
`

When running gdb on a single node, it exists the function

[2022-04-30 19:52] hkaiser commented on #5871
Thanks for this report. Would you be able to provide a small self-contained example that exposes the issue?

[2022-04-30 21:10] John98Zakaria commented on #5871
I tried to reduce it to its core components

If you run this code simply by invoking ./run_code -> Termination after calling channel.regsiter_as();
If you run  using mpirun -n 4 ./run_code -> deadlock as the rank0 dies directly after registration;

`#include <hpx/channel.hpp>
#include <hpx/iostream.hpp>
#include <hpx/barrier.hpp>
#include <hpx/wrap_main.hpp>

HPX_REGISTER_CHANNEL(int)

void do_com

[2022-04-30 21:27] John98Zakaria commented on #5871
I found the issue !

`
hpx::distributed::channel<int> channel;  // crashes as channel is not bound to any locality;
hpx::distributed::channel<int> channel(hpx::findhere()); // Channel has a locality thus can be registerd
channel.register_as("name")
`

However, the error was not rethrown by  hpx::wait_all(futures) as it eats away the futures.

[2022-04-30 21:27] #5871 closed

[2022-04-30 22:48] hkaiser commented on #5871
Thanks! This has been resolved recently. `wait_all` now rethrows exceptions (starting V1.8) - too many people have stumbled over this issue.

[2022-05-03 19:38] gonidelis commented on #5587
Should we close this?

[2022-05-03 19:45] hkaiser commented on #5587
Let's leave this open for the time being as I want to have a look at our build system to see what we can do to avoid the issue.

[2022-05-05 10:11] John98Zakaria commented on #5802
I ran it locally on my machine using ( humble i5-4460)
I didn't get any errors
<details>

<summary>My HPX Config</summary>

Static configuration:
---------------------
Core library:
  HPX_AGAS_LOCAL_CACHE_SIZE=4096
  HPX_HAVE_MALLOC=jemalloc
  HPX_PARCEL_MAX_CONNECTIONS=512
  HPX_PARCEL_MAX_CONNECTIONS_PER_LOCALITY=4
  HPX_PREFIX (configured)=
  HPX_PREFIX=/home/jn98zk/cpp_stuff/hpx-1.7.1/installa

[2022-05-05 11:51] hkaiser commented on #5802
Yes, we tried to reproduce it several times on different machines as well... no success.

[2022-05-06 08:17] m-diers commented on #5802
Thanks, also for the config from @John98Zakaria

The following values, which may affect the results, are still different from mine:
[code]
I will change the parameters and see if the behavior changes.

[2022-05-11 20:44] esseivaju opened #5886 "Segfault when serializing non default constructible class with stl containers data members"
## Expected Behavior

Minimal working example trying to send class instances across nodes. The class is not default constructible and has stl containers data members such as a vector<int> and a string. The expected behavior is to provide the class instance as an argument to an action and return it.

## Actual Behavior

The class instance is successfully serialized  to the other node as printed out

[2022-05-14 22:22] hkaiser commented on #5886
@esseivaju thanks for reporting. I have fixed the issue here: #5887, please verify and report back.

[2022-05-20 10:59] McKillroy opened #5892 "Problems with HPX serialization as a standalone feature. Testcase provided."
## Expected Behavior

Not really expected, but rather hoped for: Compile correctly.

## Actual Behavior

Inclusion of hpx/serialization.hpp causes compile errors

## Steps to Reproduce the Problem

Use the provided testcase and read its readme.md.

## Specifications

Windows, MSVC 17.2.1
HPX Version: 1.7.1

[vcpkg.zip](https://github.com/STEllAR-GROUP/hpx/files/8738998/vcpkg.zip)

[2022-05-22 01:41] hkaiser commented on #5892
Compiling your test case:
[code]
against an installed version of HPX works just fine for me (HPX is not in vcpkg, though). I'm not sure what happens for you. Could you give us the precompiled file, please?

[2022-05-22 07:08] McKillroy commented on #5892
This is the output when compiling:
[code]
Not sure what you mean with precompiled files. The entire folder with pulled in dependencies is like 4 GB (Boost, hwlox, everything).
If you install vcpkg, adjust the vcpkg path in CMakePresets.json and open the project folder in Visual Studio it should automatically use vcpkg manifest mode and preoduce the result.
The attached file is the HPX folder in "i

[2022-05-22 07:17] McKillroy commented on #5892
The error seems to come from the "max" macro definition in "minwindef.h".
I'm not sure how this gets pulled in - but it comes from the inclusion of "serialization.hpp".
If I put a simple "#undef max" in front of the offending line it compiles again.
But I guess in a program using the "max" macro it would not compile anymore.
Seems macros are evil again :(

[2022-05-22 12:55] hkaiser commented on #5892
@McKillroy ahh, this is because the MSVC libraries have an ancient macro definition `#define max(a, b) ...` that gets in the way. There are two solutions: a) add the preprocessor constant `NOMINMAX` to your compilation environment, or b) do what I have done in the example above and prevent `max` from being expanded as a macro: `(std::chrono::time_point<std::chrono::system_clock>::max)()` (note the

[2022-05-22 13:56] McKillroy commented on #5892
@hkaiser: That worked. Thanks a lot !

[2022-05-22 13:56] #5892 closed

[2022-05-24 19:11] yurivict opened #5893 "Tests fail on FreeBSD: Executable copyn_test does not exist"
[code]

The project is built with HPX_WITH_TESTS=ON, HPX_WITH_TESTS_UNIT=ON.

Version: 1.8.0
OS: FreeBSD 13.1

[2022-05-24 20:21] hkaiser commented on #5893
What are the build errors?

[2022-05-24 20:26] yurivict commented on #5893
There were no build errors.

[2022-05-24 22:19] gonidelis commented on #5893
@yurivict Please provide the complete CMake command that you used. Thanks :)

[2022-05-24 22:56] yurivict commented on #5893
It was first configured and built with these arguments:

Then it was reconfigured with the same arguments with these elements appended:

[2022-05-25 21:56] hkaiser commented on #5886
@esseivaju FWIW, I have reproduced your issue. I hope to have a fix for it soon.

[2022-05-26 20:30] Neumann-A opened #5898 "Name clash between memory module and memory component"
https://github.com/STEllAR-GROUP/hpx/blob/5ac13348b63d3f768d1155b202522258a12f96f1/cmake/HPX_AddComponent.cmake#L306

creates a name clash on windows creating a component target (components/performance_counters/memory) with build output `hpx_memory.lib` which is already used be the module `hpx_memory`

https://github.com/STEllAR-GROUP/hpx/blob/5ac13348b63d3f768d1155b202522258a12f96f1/components/pe

[2022-05-27 21:28] Neumann-A opened #5900 "Unable to build hello_world_distributed.cpp."
[code]

seems like hpx is clashing with `std::format` here.

[2022-05-27 21:43] hkaiser commented on #5898
The memory counters use the CMake target name `memory_component`. I have not seen any name clashes here.

[2022-05-27 21:53] Neumann-A commented on #5898
It is not the target name but the output name / output path which clashes on windows. The target name is different but the output is the same which make ninja throw up with telling me that there are two rules to create `<some_base_path>/hpx_memory(d).lib`.
Seems to only happen if you try to build static libs (HPX_WITH_STATIC_LINKING ON and BUILD_SHARED_LIBS OFF) on windows which doesn't really see

[2022-05-27 22:17] hkaiser commented on #5898
Ahh, we don't test this. Historically, the MSVC linker was not able to link everything as the static libraries for the core library were too large. We have not tried ever since ;-)

[2022-05-28 03:29] diehlpk opened #5902 "MPI parcelport issue on Fugaku"
## Expected Behavior

Schould work

## Actual Behavior

`hpx::init: hpx::exception caught: MPI doesn't provide minimal requested thread level: HPX(invalid_status)`

## Steps to Reproduce the Problem

... Please be as specific as possible while describing how to reproduce your problem.

  1. Build HPX master with fusitju mpi

## Specifications

... Please describe your environment

  - HPX Version:

[2022-05-28 15:36] #4502 closed

[2022-05-30 15:45] Neumann-A opened #5903 "Support for Windows HPC Pack"
Any plans to support HPC Pack on windows?

I already extracted the following env variables:
[code]

[2022-05-30 15:47] Neumann-A commented on #5898
When was that? When the x86 toolchain was still the default? (Could have switched to the x64 toolchain) I mean hpx is probably not larger than vtk with vtk-m and python bindings enabled.

[2022-05-30 21:52] hkaiser commented on #5898
Yes, could have been. I just have not tried (or even cared) to link statically. Any help you may give would be highly appreciated.

[2022-05-30 22:55] hkaiser commented on #5903
What would that entail? What does it mean 'supporting Windows HPC Pack'?

[2022-05-31 07:29] Neumann-A commented on #5903
from https://docs.microsoft.com/en-us/previous-versions/orphan-topics/ws.10/ff919691(v=ws.10)?redirectedfrom=MSDN

Microsoft® HPC Pack provides an integrated application platform for running, managing, and developing parallel computing applications. HPC Job Manager provides your primary interface for submitting and monitoring jobs on a cluster.

I just want HPX to deal with the thread binding to t

[2022-05-31 07:47] Neumann-A commented on #5587
I updated HPX in vcpkg to 1.8.0 a week ago.

What I see is:
[code]
Is wrong.
Should look like:
[code]
Please use imported targets consistently instead of using raw results of `find_library`.....

In static builds on windows generator expressions like `$<TARGET_FILE_NAME>` leak into the configs which indicates to me that HPX heavily over-engineered their CMake code.

Also consider removing `HPXInte

[2022-05-31 08:06] Neumann-A commented on #5587
`  target_compile_definitions(hpx_private_flags INTERFACE  "$<$<CONFIG:DEBUG>:HPX_DEBUG>" )`

If you don't want to use generator expressions due to questionable reasons you need to apply an indirection decoupling that setting from `CMAKE_BUILD_TYPE` correctly, e.g. something like `HPX_USE_DEBUG`. Mixing of different configurations is not really intended and would throw warnings in MSVC due to mism

[2022-05-31 10:54] hkaiser commented on #5903
While I can blindly try adding such a binding, I don't have a way to test this. Would you be able to help?

[2022-05-31 10:55] hkaiser commented on #5903
FWIW, the environment variables are described here: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-hpc-server-2008r2/gg286970(v=ws.10)

[2022-05-31 10:57] Neumann-A commented on #5903
Which example would I have to run for it to be considered tested ?

[2022-05-31 13:29] #5900 closed

[2022-05-31 15:38] hkaiser commented on #5587
Where do you see that?

[2022-06-01 08:07] Neumann-A opened #5907 "HPX_DEBUG/CMAKE_BUILD_TYPE not correctly decoupled/consistently used."
https://github.com/STEllAR-GROUP/hpx/blob/a7ea57986855ef3b93d31c827077f8ad23adb760/libs/core/config/include/hpx/config.hpp#L277-L296
assumes `HPX_DEBUG` for name mangling.
(different issue: assumes fixed library prefixes and suffixes which can be easily changed by cmake variables. )

https://github.com/STEllAR-GROUP/hpx/blob/a7ea57986855ef3b93d31c827077f8ad23adb760/CMakeLists.txt#L2191-L2192
Hardc